<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   metadata-complete="true"
   version="3.0">
 <absolute-ordering />
 <listener>
   <listener-class>SPApplicationShutdown</listener-class>
 </listener>
 <servlet>
   <servlet-name>sitepainterinvoker</servlet-name>
   <servlet-class>SPInvoker</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>sitepainterinvoker</servlet-name>
   <url-pattern>/servlet/*</url-pattern>
 </servlet-mapping>
 <mime-mapping>
   <extension>xml</extension>
   <mime-type>text/xml</mime-type>
 </mime-mapping>
 <env-entry>
   <env-entry-name>sitepainter/initscripts/SPLib/m_cResponseEncoding</env-entry-name>
   <env-entry-type>java.lang.String</env-entry-type>
   <env-entry-value>UTF-8</env-entry-value>
 </env-entry>
 <jsp-config>
   <taglib>
     <taglib-uri>/tlt</taglib-uri>
     <taglib-location>/WEB-INF/taglib.tld</taglib-location>
   </taglib>
 </jsp-config>
 <listener>
   <display-name>cron4j scheduler manager</display-name>
   <listener-class>SchedulerMit</listener-class>
 </listener>
 <servlet>
   <servlet-name>DirectoriesCreation</servlet-name>
   <display-name>Directories Creation</display-name>
   <servlet-class>CreateDir</servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
</web-app>
