.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#DDYZMQMXQA {top:10px;position:absolute;left:210px;height:25px;width:182px;z-index:1; }
#DMCIAQQTSV_DIV {top:10px;position:absolute;left:410px;height:25px;width:186px;overflow:hidden;white-space:nowrap;z-index:1; }
#YVFVLNIHTZ {top:45px;position:absolute;left:210px;height:25px;width:363px;z-index:1; }
#REJVNADODM {top:83px;position:absolute;left:210px;height:25px;width:365px;z-index:1; }
#REJVNADODM { vertical-align:middle; }
#ZLYEVNLKFG_DIV {top:10px;position:absolute;text-align:right;z-index:1;}
#ZLYEVNLKFG_DIV>label { line-height: 25px; }
BODY:not([ettl]) #ZLYEVNLKFG_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='old'] #ZLYEVNLKFG_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='yes'] #ZLYEVNLKFG_DIV {right:calc(100% - 195px);}
#LYZSTPLMZY_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
#LYZSTPLMZY_DIV>label { line-height: 25px; }
BODY:not([ettl]) #LYZSTPLMZY_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='old'] #LYZSTPLMZY_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='yes'] #LYZSTPLMZY_DIV {right:calc(100% - 195px);}
#VCKBVFPINK_DIV {top:83px;position:absolute;text-align:right;z-index:1;}
#VCKBVFPINK_DIV>label { line-height: 25px; }
BODY:not([ettl]) #VCKBVFPINK_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='old'] #VCKBVFPINK_DIV {left:80px;height:25px;width:115px;}
BODY[ettl='yes'] #VCKBVFPINK_DIV {right:calc(100% - 195px);}
#ALVFXOFWZD {top:15px;position:absolute;left:210px;height:25px;width:620px;overflow:auto;z-index:1; }
#HRGBHAGZDV_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
#HRGBHAGZDV_DIV>label { line-height: 25px; }
BODY:not([ettl]) #HRGBHAGZDV_DIV {left:140px;height:25px;width:55px;}
BODY[ettl='old'] #HRGBHAGZDV_DIV {left:140px;height:25px;width:55px;}
BODY[ettl='yes'] #HRGBHAGZDV_DIV {right:calc(100% - 195px);}
#QBZZBCTPGR {top:50px;position:absolute;left:210px;height:25px;width:620px;z-index:1; }
#IOSDTNEZKK_DIV {top:50px;position:absolute;text-align:right;z-index:1;}
#IOSDTNEZKK_DIV>label { line-height: 25px; }
BODY:not([ettl]) #IOSDTNEZKK_DIV {left:154px;height:25px;width:41px;}
BODY[ettl='old'] #IOSDTNEZKK_DIV {left:154px;height:25px;width:41px;}
BODY[ettl='yes'] #IOSDTNEZKK_DIV {right:calc(100% - 195px);}
#VKCMWSSTIV {top:85px;position:absolute;left:210px;height:25px;width:620px;overflow:auto;z-index:1; }
#YUPUTVCMFN_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
#YUPUTVCMFN_DIV>label { line-height: 25px; }
BODY:not([ettl]) #YUPUTVCMFN_DIV {left:115px;height:25px;width:80px;}
BODY[ettl='old'] #YUPUTVCMFN_DIV {left:115px;height:25px;width:80px;}
BODY[ettl='yes'] #YUPUTVCMFN_DIV {right:calc(100% - 195px);}
#TGJZUBGGYK {top:120px;position:absolute;left:210px;height:25px;width:620px;z-index:1; }
#QWJNZLKAIO_DIV {top:120px;position:absolute;text-align:right;z-index:1;}
#QWJNZLKAIO_DIV>label { line-height: 25px; }
BODY:not([ettl]) #QWJNZLKAIO_DIV {left:47px;height:25px;width:148px;}
BODY[ettl='old'] #QWJNZLKAIO_DIV {left:47px;height:25px;width:148px;}
BODY[ettl='yes'] #QWJNZLKAIO_DIV {right:calc(100% - 195px);}
#KMSNRRLAKF {top:185px;position:absolute;left:210px;height:25px;width:620px;overflow:auto;z-index:1; }
#MCTSITODKL_DIV {top:185px;position:absolute;text-align:right;z-index:1;}
#MCTSITODKL_DIV>label { line-height: 25px; }
BODY:not([ettl]) #MCTSITODKL_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='old'] #MCTSITODKL_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='yes'] #MCTSITODKL_DIV {right:calc(100% - 195px);}
#MCHBYAADDU {top:220px;position:absolute;left:210px;height:25px;width:620px;overflow:auto;z-index:1; }
#SHJLXQXDLB_DIV {top:220px;position:absolute;text-align:right;z-index:1;}
#SHJLXQXDLB_DIV>label { line-height: 25px; }
BODY:not([ettl]) #SHJLXQXDLB_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='old'] #SHJLXQXDLB_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='yes'] #SHJLXQXDLB_DIV {right:calc(100% - 195px);}
#QGIOZABHHB {top:255px;position:absolute;left:210px;height:25px;width:620px;overflow:auto;z-index:1; }
#FRKNZVDVKW_DIV {top:255px;position:absolute;text-align:right;z-index:1;}
#FRKNZVDVKW_DIV>label { line-height: 25px; }
BODY:not([ettl]) #FRKNZVDVKW_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='old'] #FRKNZVDVKW_DIV {left:20px;height:25px;width:175px;}
BODY[ettl='yes'] #FRKNZVDVKW_DIV {right:calc(100% - 195px);}
#UPNIOVOHTB_DIV {top:297px;position:absolute;left:210px;height:25px;width:235px;overflow:hidden;white-space:nowrap;z-index:1; }
#UDDMFJXDQC { height:344px;z-index:0;}
#UDDMFJXDQC_DIV { position:relative;z-index:0;width:100%;}
#ZLYEVNLKFG_DIV, #LYZSTPLMZY_DIV, #VCKBVFPINK_DIV, #HRGBHAGZDV_DIV, #IOSDTNEZKK_DIV, #YUPUTVCMFN_DIV, #QWJNZLKAIO_DIV, #MCTSITODKL_DIV, #SHJLXQXDLB_DIV, #FRKNZVDVKW_DIV, #UDDMFJXDQC {overflow:hidden;}
#DDYZMQMXQA, #DMCIAQQTSV_DIV, #YVFVLNIHTZ, #REJVNADODM, #ALVFXOFWZD, #QBZZBCTPGR, #VKCMWSSTIV, #TGJZUBGGYK, #KMSNRRLAKF, #MCHBYAADDU, #QGIOZABHHB, #UPNIOVOHTB_DIV, #UDDMFJXDQC {box-sizing : border-box;}
