.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#BCJNPFFFMT_DIV {top:15px;position:absolute;left:8px;height:25px;width:155px;text-align:left;z-index:1;}
#MNZUGXIXLE_DIV {top:15px;position:absolute;left:230px;height:25px;width:155px;text-align:left;z-index:1;}
#MEQMXATREH {top:0px;position:absolute;left:0px;height:25px;width:187px;background-color:Transparent;z-index:1; }
.MEQMXATREH {top:0px;position:absolute;left:0px;height:25px;width:187px;background-color:Transparent;z-index:1; }
#XKZVGMONMN {top:0px;position:absolute;left:222px;height:25px;width:205px;overflow:auto;background-color:Transparent;z-index:1; }
.XKZVGMONMN {top:0px;position:absolute;left:222px;height:25px;width:205px;overflow:auto;background-color:Transparent;z-index:1; }
#BCJNPFFFMT_DIV, #MNZUGXIXLE_DIV {overflow:hidden;}
#MEQMXATREH, .MEQMXATREH, #XKZVGMONMN, .XKZVGMONMN {box-sizing : border-box;}
