.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#GOURUFIPIA {top:11px;position:absolute;left:210px;height:25px;width:480px;overflow:auto;z-index:1; }
#CBYVQSGURW_DIV {top:46px;position:absolute;left:210px;height:25px;width:300px;text-align:left;z-index:1;}
#AHIBPPLPFU_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AHIBPPLPFU_DIV {left:40px;height:25px;width:160px;}
BODY[ettl='old'] #AHIBPPLPFU_DIV {left:40px;height:25px;width:160px;}
BODY[ettl='yes'] #AHIBPPLPFU_DIV {right:calc(100% - 200px);}
#CSWXYHZCME {top:0px;position:absolute;left:0px;height:25px;width:480px;background-color:Transparent;z-index:1; }
.CSWXYHZCME {top:0px;position:absolute;left:0px;height:25px;width:480px;background-color:Transparent;z-index:1; }
#CBYVQSGURW_DIV, #AHIBPPLPFU_DIV {overflow:hidden;}
#GOURUFIPIA, #CSWXYHZCME, .CSWXYHZCME {box-sizing : border-box;}
