.FormDefault {margin:0;position:relative;font-family:Verdana;font-size:7pt;}
INPUT {font-family:Verdana;font-size:7pt;}
SELECT {font-family:Verdana;font-size:7pt;}
TEXTAREA {font-family:Verdana;font-size:7pt;}
IMG {border:0;}
.EAPMXMQFRH { height:17px;background-color:#C0C0C0;z-index:0;}
.EAPMXMQFRH_DIV { position:absolute;height:17px;z-index:0;width:535px;top:26px;left:1px;}
#ZVJDMDDOIF { height:17px;background-color:#C0C0C0;z-index:0;}
#ZVJDMDDOIF_DIV { position:absolute;height:17px;z-index:0;width:535px;top:3px;left:1px;}
.TIXKETQEMA { position:absolute;top:1px;left:11px;height:28px;width:35px;z-index:1;}
.OSFPDXIQEM_DIV { position:absolute;top:7px;left:57px;height:15px;width:278px;overflow:hidden;text-align:left;z-index:1;}
.IIEFMVMMLY_DIV { position:absolute;top:28px;left:10px;height:15px;width:59px;color:#000000;text-align:left;font-family:Verdana;font-size:7pt;font-weight:bold;z-index:1;}
.LBEZQJWIFK_DIV { position:absolute;top:7px;left:340px;height:15px;width:76px;overflow:hidden;text-align:right;z-index:1;}
.NDGWFZHHLS_DIV { position:absolute;top:7px;left:421px;height:15px;width:98px;overflow:hidden;text-align:center;z-index:1;}
.YLMOWMIRPV_DIV { position:absolute;top:28px;left:340px;height:15px;width:57px;color:#000000;text-align:right;font-family:Verdana;font-size:7pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .YLMOWMIRPV_DIV { position:absolute;top:28px;left:340px;height:15px;width:57px;}
BODY[ettl="old"] .YLMOWMIRPV_DIV { position:absolute;top:28px;left:340px;height:15px;width:57px;}
BODY[ettl="yes"] .YLMOWMIRPV_DIV { position:absolute;top:28px;left:340px;}
.GLNUZFPQNI_DIV { position:absolute;top:28px;left:421px;height:15px;width:98px;color:#000000;text-align:center;font-family:Verdana;font-size:7pt;font-weight:bold;z-index:1;}
.KPWHGLIYFW_DIV { position:absolute;top:7px;left:30px;height:16px;width:505px;overflow:hidden;text-align:left;font-family:Verdana;font-size:8pt;font-weight:bold;z-index:1;}
.NWIOILYLVU { position:absolute;top:6px;left:5px;z-index:1;clip:rect(0,18px,15px,0);}
.OYFKYJABXC { height:30px;border-width:1px;border-color:#808080;border-style:solid;z-index:0;}
.OYFKYJABXC_DIV { position:absolute;height:30px;z-index:0;width:37px;top:0px;left:10px;}
.FGQCMAKHVP { position:absolute;top:7px;left:20px;z-index:1;}
.NVGGLTXCDQ { position:absolute;top:8px;left:523px;z-index:1;}
.DAXQIGIZPL { position:absolute;top:27px;left:65px;z-index:1;clip:rect(0,15px,15px,0);}
.UWYFWAPCIQ { position:absolute;top:27px;left:403px;z-index:1;clip:rect(0,15px,15px,0);}
.GNGKNICNUH { position:absolute;top:27px;left:487px;z-index:1;clip:rect(0,15px,15px,0);}
.HWSPROBKQP { position:absolute;top:27px;left:65px;z-index:1;clip:rect(0,15px,15px,0);}
.YFCGSXQUNZ { position:absolute;top:27px;left:403px;z-index:1;clip:rect(0,15px,15px,0);}
.KMNBGIYIEW { position:absolute;top:27px;left:487px;z-index:1;clip:rect(0,15px,15px,0);}
.JTUXWIBDYN_DIV { position:absolute;top:7px;left:57px;height:15px;width:268px;overflow:hidden;text-align:left;z-index:1;}
.WSOEIFQECB { position:absolute;top:6px;left:5px;z-index:1;clip:rect(0,18px,15px,0);}
#XNMUUXRPID_DIV {top:5px;position:absolute;left:40px;color:#000000;text-align:left;z-index:1;}
BODY:not([ettl]) #XNMUUXRPID_DIV {height:15px;width:95px;}
BODY[ettl="old"] #XNMUUXRPID_DIV {height:15px;width:95px;}
#TZLXKZTOZN {top:5px;position:absolute;left:20px;z-index:1;}
.GOGFBNOQMB_DIV { position:absolute;top:7px;left:10px;height:15px;width:185px;text-align:left;z-index:1;}
.SLGVVHMSGD_DIV { position:absolute;top:7px;left:57px;height:15px;width:278px;overflow:hidden;text-align:left;z-index:1;}
#XUKRDCQOWH {top:22px;position:absolute;left:88px;height:19px;width:382px;z-index:1; }
#ZNKSDPDSTT_DIV {top:25px;position:absolute;left:5px;height:15px;width:80px;text-align:right;z-index:1;}
BODY:not([ettl]) #ZNKSDPDSTT_DIV {top:25px;position:absolute;left:5px;height:15px;width:80px;}
BODY[ettl="old"] #ZNKSDPDSTT_DIV {top:25px;position:absolute;left:5px;height:15px;width:80px;}
BODY[ettl="yes"] #ZNKSDPDSTT_DIV {top:25px;position:absolute;left:5px;letter-spacing:-1px;}
#MDQXRYIUFH {top:22px;position:absolute;left:476px;height:19px;width:60px;z-index:1;}
BODY[ettl="yes"] #XNMUUXRPID_DIV {letter-spacing:-1px;}
.EAPMXMQFRH, #ZVJDMDDOIF, .IIEFMVMMLY_DIV, .YLMOWMIRPV_DIV, .GLNUZFPQNI_DIV, .OYFKYJABXC, #XNMUUXRPID_DIV, .GOGFBNOQMB_DIV, #ZNKSDPDSTT_DIV {overflow:hidden;}
.EAPMXMQFRH, #ZVJDMDDOIF, .OYFKYJABXC, #XUKRDCQOWH {box-sizing : border-box;}
