@import url("../fonts/OpenSans.css");

/*** ICONE ***/
.smartreport-icon-design {
  background-image: url(../portalstudio/images/report.png);
}

.smartreport-icon-document {
  background-image: url(../portalstudio/images/scan.png);
}

.smartreport-icon-pdf {
  background-image: url(../portalstudio/images/pdf.png);
}

.smartreport-icon-wizard:after {
  content: "\ee2a";
}

.smartreport-icon-new:after{
  content: "\ee39";
}

.smartreport-icon-select:after {
  content: "\eeff";
}

.smartreport-icon-open:after {
  content: "\eb73";
}

.smartreport-icon-save {
  background-image: url(../portalstudio/images/icon/btn_save.png);
}

.smartreport-icon-saveAs {
  background-image: url(../portalstudio/images/icon/btn_saveAs.png);
}

.smartreport-icon-grid:after {
  content: "\f53b";
}

.smartreport-icon-hmenu {
  background-image: url(../portalstudio/images/icon/bot_hamburger.png);
}

.smartreport-icon-reload:after {
  content: "\ec4d";
}

.smartreport-icon-vqr:after {
  content: "\f037";
}

.smartreport-icon-bo:after {
  content: "\f107";
}

.smartreport-icon-page:after {
  content: "\f0bb";
}

.smartreport-icon-undo:after {
  content: "\e915";
}

.smartreport-icon-redo:after {
  content: "\ec4a";
}

.smartreport-icon-sections:after {
  content: "\f07f";
}

.smartreport-icon-font:after {
  content: "\eafc";
}

.smartreport-icon-edit:after {
  content: "\f0ba";
}

.smartreport-icon-delete:after {
  content: "\ed93";
}

.smartreport-icon-download:after {
  content: "\f09e";
}

.smartreport-icon-downloadpdf:after {
  content: "\ebb4";
}

.smartreport-icon-section:after {
  content: "\eb88";
}

.smartreport-icon-comment:after {
  content: "\efdb";
}

.smartreport-icon-filter:after {
  content: "\ee44";
}

.smartreport-icon-increase:after {
  content: "\ef42";
}

.smartreport-icon-decrease:after {
  content: "\f03c";
}

.smartreport-icon-color:after {
  content: "\ee3b";
}

.smartreport-icon-bold:after {
  content: "\f1d2";
}

.smartreport-icon-italic:after {
  content: "\ef68";
}

.smartreport-icon-underline:after {
  content: "\e914";
}

.smartreport-icon-strikeout:after {
  content: "\eab9";
}

.smartreport-icon-left:after {
  content: "\f12f";
}

.smartreport-icon-center:after {
  content: "\f12d";
}

.smartreport-icon-right:after {
  content: "\f130";
}

.smartreport-icon-label:after {
  content: "\eafb";
}

.smartreport-icon-line:after {
  content: "\ef13";
}

.smartreport-icon-image:after {
  content: "\f62c";
}

.smartreport-icon-pagenum:after {
  content: "\eeec";
}

/*.smartreport-icon-sign:after {
  content: "\ea2b";
}*/

.smartreport-icon-sign {
  background-image: url('../portalstudio/images/bot_signmup_128.png');
  width: 25px;
  height: 24px;
  background-size: 100%;
}

.smartreport-icon-date:after {
  content: "\f20f";
}

.smartreport-icon-char:after {
  content: "\eea1";
}

.smartreport-icon-memo:after {
  content: "\ee04";
}

.smartreport-icon-time:after {
  content: "\e973";
}

.smartreport-icon-logic:after {
  content: "\f788";
}

.smartreport-icon-num:after {
  content: "\f0e9";
}

.smartreport-icon-confirm:after {
  content: "\ef8b";
}

.smartreport-icon-cancel:after {
  content: "\f048";
}

.smartreport-icon-sigma:after {
  content: "\ea28";
}

.smartreport-icon-barcode:after {
  content: "\f198";
}

.smartreport-icon-stretch:after {
  content: "\f2ab";
}

.smartreport-icon-search:after {
  content: "\e9fb";
}

.smartreport-icon-grid50:after {
  content: "\eecc";
}

.smartreport-icon-grid100:after {
  content: "\e90f";
}

.smartreport-icon-add:after {
  content: "\ebed";
}

.smartreport-icon-details:after {
  content: "\e94f";
}

.smartreport_title_container {
  height: 40px;
}

.title_label {
  float: left;
  margin-left: 8px;
}

body {
  height: 100%;
}

.btn{
	width: 80px;
	height: 25px;
	cursor: pointer;
}

.smartreport-icon-fields:after {
  content: "\f10d";
}

.smartreport-icon-okall:after {
  content: "\f2b2";
}