@import url("../fonts/OpenSans.css");
#backcanvas {
  background-color:#F3F3F3;
  border:1px dotted #D5D5D5;
  position:absolute;
  width:595px;
  height:595px;
  overflow:hidden;
  left:45px;
  top:75px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#canvas {
  background-color:transparent;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
body{
  height:100%;
  width:100%;
}
a{
  outline:none;
}
#mversion{
  height:32px;
  position:absolute;
  right:10px;
  top:0px;
  background:url(../portalstudio/images/logo_editor.png) no-repeat center left;
  display:inline-block;
  line-height:32px;
  padding-left:32px;
  font-size: 10px;
  line-height: 32px;
  margin-right: 5px;
  color: #676767;
}
#mask {
  display:none;
  background:#FF0000;
  position:absolute;
  z-index:0;
  width:100%;
  height:100%;
}
#canvasitems {
 z-index:100;
 position:absolute;
}
#canvashandlers {
  z-index:101;
  position:absolute;
  width:0px;
  height:0px;
}
#canvaslinks {
  position:absolute;
  z-index:0;
  width:100%;
  height:100%;
}

.toolbarimg {
  z-index:101;
  position:absolute;
  width:0px;
  height:0px;
}

#toolbarfldz{
  z-index:101;
  position:relative;
  top:0px;
  width: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
}

#loading {
  height:70px;
  width:100%;
  position:absolute;
  z-index:100;
  top:50%;
  margin-top:-25px;
  padding-top:10px;
  text-align:center;
  font-family: Verdana;
  font-size:10px;
  color:#777777;
  background:#FFFFFF url(../portalstudio/images/loader.gif) no-repeat center center;
}

.rotateText {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display:block;
}

.unit {
  width:2.834px;
}

/* Classi Css per i tab del disegnatore */
#navmenu_tabcontainer{
  top:55px;
  position:absolute;
}
/* Fine Classi Css per i tab del disegnatore */

/* Classi css per la visualizzazione dei campi nel navigator e nell'area di lavoro */
.fld_wrapper {
  position:relative;
}
.fld_title {
  color: #818181;
  text-decoration: none;
  line-height:16px;
  padding:2px;
  width:200px;
  font-family:Open Sans;
}
.fld_title_txt {
  width:180px;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
  float:left;
  position:relative;
  font-weight: 300;
  font-size: 11px;
}
.fld_title_ico {
  display: block;
  position: relative;
  top: 0px;
  right: -20px; /*6px;*/
  float:right;
  border-width: 6px;
  border-style: solid;
  border-color: #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  margin-right: -10px;
}
.fld_ul {
  list-style:none;
  padding:0;
  margin:0;
  clear:both;
}
.fld_li {
  padding:2px;
}
/* Fine delle classi css per la visualizzazione dei campi nel navigator e nell'area di lavoro */

/* Classi css per la visualizzazione dei campi nell'area di lavoro */
.transparent {
  filter:alpha(opacity=70);
  opacity:0.7;
  overflow:hidden;
  background:#FFF8C6;
  color:#000;
  width:100%;
  border:0px #FFF8C6;
  text-align:center;
  font-family:Open Sans;
  font-weight: 300;
}
.transparent-signsvg{
  background-image:url(../portalstudio/images/bot_signsvg_128.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-image{
  background-image:url(../portalstudio/images/bot_image_128.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-barcode{
  background-image:url(../portalstudio/images/bot_barcode_128.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-barcode2d{
  background-image:url(../portalstudio/images/bot_barcode2d_128.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-checkbox{
  background-image:url(../portalstudio/images/icon/bot_checkbox_off.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-radio{
  background-image:url(../portalstudio/images/icon/bot_radio_off.png);
  background-repeat:no-repeat;
  background-size:contain;
}
.transparent-int {
  overflow:hidden;
  background:#FFF8C6;
  color:#000;
  width:100%;
  text-align:center;
  font-size:11px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:3;
  font-family:Open Sans;
  font-weight: 300;
}
.transparent-detail {
  background-color: transparent;
  border: 1px solid #898989;
  color: #898989;
  width:100%;
  font-family:Open Sans;
  font-weight: 300;
  font-size:11px;
  height: 30px;
  cursor: move;
} 
.transparent-field {
  background-color: transparent;
  border: 1px solid #898989;
  color: #898989;
  width:100%;
  font-family:Open Sans;
  font-weight: 300;
  font-size:11px;
  height: 30px;
  cursor: move;
} 
.transparent-area {
  filter:alpha(opacity=70);
  opacity:0.7;
  overflow:hidden;
  background:#C2C2FF;
  color:#232323;
  width:100%;
  border:1px #99CC66;
  font-size:11px;
  font-family:Open Sans;
  font-weight: 300;
}
.transparent-layer {
  filter: alpha(opacity=70); /* ie */
  opacity:0.7;
  overflow:hidden;
  font-size:11px;
  color:#232323;
  width:100%;
  top:50%;
  position:absolute;
  font-family:Open Sans;
  font-weight: 300;
}
.transparent-len{
  float: left;
  background-color: #898989;
  margin-top: 2px;
  width: 100%;
  height: 2px;
}

.transparent-len-gap{
  background-color: #898989;
  margin-top: 2px;
  width: 100%;
  height: 2px;
  float: left;
  width: 9px;
  margin-left: 2px;
}
/* Fine delle classi css per la visualizzazione dei campi nell'area di lavoro */

/* Classi css per la selezione del tipo di zona nel PreSet */
.Zone {
  height: 100%;
  background-size: 100% 100%;
}
.zone-default {
  background-image: url(../portalstudio/images/icon/bot_label_off.png);
  overflow: hidden;
}
.zone-radio {
  background-image: url(../portalstudio/images/icon/bot_radio_off.png);
  overflow: hidden;
}
.zone-checkbox {
  background-image: url(../portalstudio/images/icon/bot_checkbox_off.png);
  overflow: hidden;
}
.zone-image {
  background-image: url(../portalstudio/images/icon/bot_image_off.png);
  overflow: hidden;
}
.zone-barcode {
  background-image: url(../portalstudio/images/icon/bot_barcode_off.png);
  overflow: hidden;
}

.zone-barcode2d {
  background-image: url(../portalstudio/images/icon/bot_barcode2d_off.png);
  overflow: hidden;
}
/* Fine classi css per la selezione del tipo di zona nel PreSet */

/* Classi css per la Preview */
#i_preview_wrapper{
  position:absolute;
  display:none;
  z-index:102;
  background: #232323;
  padding-left: 5px;
  left:150px;
  top:0px;
  height:95%;
  width:100%;
}
#i_preview_title{
  overflow:hidden;
  position:relative;
  width:100%;
  z-index:2;
  font-family: Open Sans;
  font-weight: 600;
  font-size:14px;
  color:#FFFFFF;
  padding-top: 5px;
}
#i_preview_title div{
  display: inline-block;
  vertical-align: middle;
}
#i_preview_close_button{
  cursor: pointer;
}
#i_preview_close_button::after{
  content: '\e736';
  font-family: iMobileIcon;
  font-weight: normal;
  color: #00A0BD;
  font-size: 22px;
}
#i_preview_parameters_button{
  cursor: pointer;
}
#i_preview_parameters_button::after{
  content: '\e68b';
  font-family: iMobileIcon;
  font-weight: normal;
  color: #00A0BD;
  font-size: 22px;
}
#i_preview{
  position:absolute;
  top:30;
  border:0;
  width:100%;
  height:100%;
  box-sizing:border-box;
  background-color:#f3f3f3;
}

/* Fine delle classi css per la Preview */

/* classi shadow drag and drop dei campi */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dragdropshadow{
  background-color: transparent;
  position:absolute;
  opacity:1;
  z-index:100;
  cursor:move;
}
.dragdropshadowmove{
  background-color: #D9D9D9;
  opacity:0.5;
  z-index:100;
  cursor:move;
  position:absolute;
  border: 1px solid #000000;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intcontainer{
  width: 200px;
  float: left;
}

.typecontainer{
  float: right;
  width: 18px;
  height: 24px;
  padding-top: 2px;
  padding-right: 5px;
}
.typecontainer:after{
  content: attr(icon-data);
  font-family: iMobileIcon;
  font-weight: normal;
  color: #898989;
  font-size: 19px;
  vertical-align: top;
  line-height: 19px;
}

.fldint2{
  padding-left:5px;
  line-height:10px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.fldint{
  padding-left:5px;
  line-height:14px;
  overflow:hidden;
  text-overflow:ellipsis;
  font-family: Open Sans;
  font-weight: 400;
}

.intdetail{
  width: 175px;
}

.typedetail{
  width: 48px;
}

.divContainerList {
 height:auto;
}

#portlet_divz .fld_title .fld_title_ico {
display:none;
}
