@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('../fonts/icons8_win10.woff2') format('woff2'),
url('../fonts/icons8_win10.woff') format('woff'),
url('../fonts/icons8_win10.ttf') format('ttf')}
.ZoomButtonEnabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  cursor:pointer;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.ZoomButtonEnabled.Active, .hoverable .ZoomButtonEnabled:hover {
  opacity:1;
}
.ZoomButtonEnabled::after{
  content: "\E9FB";
  color: rgba(0,0,0,.93);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
.ZoomButtonDisabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.ZoomButtonDisabled.Active, .hoverable .ZoomButtonDisabled:hover {
  opacity:1;
}

.ZoomButtonDisabled::after{
  content: "\E9E9";
  color: rgba(0,0,0,.67);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
.GridZoomButtonEnabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border:0;
  padding:0;
  z-index:1;
  cursor:pointer;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.GridZoomButtonEnabled.Active, .hoverable .GridZoomButtonEnabled:hover {
  opacity:1;
}

.GridZoomButtonEnabled::after{
  content: "\E9FB";
  color: rgba(0,0,0,.87);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.GridZoomButtonDisabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.GridZoomButtonDisabled.Active, .hoverable .GridZoomButtonDisabled:hover {
  opacity:1;
}
.GridZoomButtonDisabled::after{
  content: "\E9E9";
  color: rgba(0,0,0,.5);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.CalendarButtonEnabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  cursor:pointer;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.CalendarButtonEnabled::after{
  content: "\F20F";
  color: rgba(0,0,0,.87);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.CalendarButtonEnabled.Active, .hoverable .CalendarButtonEnabled:hover {
  opacity:1;
}
.CalendarButtonDisabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.CalendarButtonDisabled.Active, .hoverable .CalendarButtonDisabled:hover {
  opacity:1;
}
.CalendarButtonDisabled::after {
  content: "\F211";
  color: rgba(0,0,0,.5);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 19px;
  vertical-align: middle;
  text-align: center;
}
.MultiLanguageButtonEnabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  cursor:pointer;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.MultiLanguageButtonEnabled.Active, .hoverable .MultiLanguageButtonEnabled:hover {
  opacity:1;
}
.MultiLanguageButtonEnabled::after{
  content: "\EE3E";
  color: #656363;
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.MultiLanguageButtonDisabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.MultiLanguageButtonEnabled.Active, .hoverable .MultiLanguageButtonEnabled:hover {
  opacity:1;
}
.MultiLanguageButtonDisabled::after{
  content: "\F0D5";
  color: #656363;
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}

.MenuButtonEnabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  cursor:pointer;
  opacity:0.2;
  transition: opacity 0.20s linear;
  outline:0;
}
.MenuButtonEnabled.Active, .hoverable .MenuButtonEnabled:hover {
  opacity:1;
}
.MenuButtonEnabled::after{
  content: "\ED45";
  color: rgba(0,0,0,.93);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.MenuButtonDisabled {
  background-repeat:no-repeat;
  background-position:center;
  background-color:Transparent;
  margin:0;
  border-width:0;
  padding:0;
  z-index:1;
  opacity:0.2;
  transition: opacity 0.20s linear;
}
.MenuButtonDisabled.Active, .hoverable .MenuButtonDisabled:hover {
  opacity:1;
}

.MenuButtonDisabled::after{
  content: "\ED45";
  color: rgba(0,0,0, 0.3);
  font-family: icons8_win10;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}


.BoxBody {
}


.CollapsibleBody {
}


.LayerBody {
}


.LayerContainer {
  background-color: #FFF;
  border-width: 1px;
  border-color: #D3D3D3;
  border-style: solid;
}


.SP_Historical_outer {
}


.SectionBody {
}


.TabStripBoxBody {
  box-shadow: 5px 10px 8px #888888;
}


.Combobox{
  color:#656363;
  font-family:"Roboto";
  font-weight:400;
  font-size:12px;
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:rgba(0,0,0, 0.16);
}
.Combobox option{
}
.mobile.ios .Combobox{
}


.Combobox.Active {
  border-width:0px 0px 2px 0px;
  border-style:solid;
  border-color:#61ABE9;
}
.mobile.ios  .Combobox.Active{
}


.Combobox.Disabled {
  border-width:0px 0px 2px 0px;
  border-style:solid;
  border-color:#F5F5F5;
}
.mobile.ios  .Combobox.Disabled{
}


.Combobox.Error {
  border-width:0px 0px 2px 0px;
  border-style:solid;
  border-color:#FF7D7D;
}
.mobile.ios  .Combobox.Error{
}


.Combobox.Obligatory {
  color:#000000;
  font-size:9pt;
  background-image: url(../Fusion_mit/formPage/obligatory-field.png) ;
  background-size: 5px;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.mobile.ios  .Combobox.Obligatory{
}


.Field {
  color: #383838;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 10px;
  padding: 0px 2px;
  background-color:transparent;
  border-width:0px 0px 1px 0px; border-color:rgba(0,0,0, 0.16); border-style:solid;
  outline: none;
}
.Field:-moz-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.Field::-webkit-input-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.mobile  .Field {
  white-space: nowrap;
  background-clip: padding-box;
}
.mobile  .Field[type=date] {
}
.mobile.ios  .Field[type=date] {
}


.Field.Active {
  border-width:0px 0px 2px 0px !important; border-color:#61ABE9 !important; border-style:solid !important;
}
.Field.Active:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field.Active::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.mobile  .Field.Active[type=date] {
}
.mobile.ios  .Field.Active[type=date] {
}

.Field.Disabled {
  border-width:0px 0px 2px 0px !important; border-color:#F5F5F5 !important; border-style:solid !important;
}
.Field.Disabled:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field.Disabled::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.Field[disabled] {
  background-repeat:no-repeat !important;
  background-position:right !important;
  border-width:0px !important;
  border-color:#F5F5F5 !important; border-style:solid !important;
}
.Field[disabled]:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field[disabled]::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.mobile  .Field.Disabled[type=date] {
}
.mobile.ios  .Field.Disabled[type=date] {
}
.mobile  .Field[disabled][type=date] {
}
.mobile.ios  .Field[disabled][type=date] {
}


.Field.Error {
  border-width:0px 0px 2px 0px !important; border-color:#FF7D7D !important; border-style:solid !important;
}
.Field.Error:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field.Error::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.mobile  .Field.Error[type=date] {
}
.mobile.ios  .Field.Error[type=date] {
}

.Field.warning_field {
  color: #383838;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 10px;
  padding: 0px 2px;
  background-color:transparent;
  background-image:url(../Fusion_mit/formPage/obligatory-field.png) ; background-repeat:no-repeat; background-position:100% 0%;
  border-width:0px 0px 1px 0px; border-color:rgba(0,0,0, 0.16); border-style:solid;
  outline: none;
}
.Field.warning_field:-moz-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.Field.warning_field::-webkit-input-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.mobile  .Field.warning_field {
  white-space: nowrap;
  background-clip: padding-box;
}
.mobile  .Field.warning_field[type=date] {
}
.mobile.ios  .Field.warning_field[type=date] {
}


.Field.warning_field.Obligatory {
  background-image:url(../Fusion_mit/formPage/warning-field.png);
  background-size:5px;
  background-repeat:no-repeat;
  background-position:100% 0%;
  border-width:0px 0px 1px 0px;
  border-color:rgba(0,0,0, 0.16);
  border-style:solid;
  z-index: 0;
}
.Field.warning_field.Obligatory:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field.warning_field.Obligatory::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.mobile  .Field.warning_field.Obligatory[type=date] {
}
.mobile.ios  .Field.warning_field.Obligatory[type=date] {
}

.Field.Obligatory {
  background-image:url(../Fusion_mit/formPage/obligatory-field.png);
  background-size:5px;
  background-repeat:no-repeat;
  background-position:100% 0%;
  border-width:0px 0px 1px 0px;
  border-color:rgba(0,0,0, 0.16);
  border-style:solid;
  z-index: 0;
}
.Field.Obligatory:-moz-placeholder {
  text-overflow: ellipsis;
}
.Field.Obligatory::-webkit-input-placeholder {
  text-overflow: ellipsis;
}
.mobile  .Field.Obligatory[type=date] {
}
.mobile.ios  .Field.Obligatory[type=date] {
}

.PrimaryKeyField {
  color: #383838;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 10px;
  padding: 0px 2px;
  background-color:transparent;
  border-width:0px 0px 1px 0px; border-color:rgba(0,0,0, 0.16); border-style:solid;
  outline: none;
}
.PrimaryKeyField:-moz-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.PrimaryKeyField::-webkit-input-placeholder {
  text-overflow: ellipsis;
  font-size:60%;
}
.mobile  .PrimaryKeyField {
  white-space: nowrap;
  background-clip: padding-box;
}
.mobile  .PrimaryKeyField[type=date] {
}
.mobile.ios  .PrimaryKeyField[type=date] {
}

@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('../fonts/icons8_win10.woff2') format('woff2'),
url('../fonts/icons8_win10.woff') format('woff'),
url('../fonts/icons8_win10.ttf') format('ttf')}
.Calculator {
  box-shadow:0 3px 8px 0 rgba(0, 0, 0, 0.26);
  color:rgba(0,0,0,0.93);
  background-color:#FFFFFF;
  font-family:"Roboto";
  font-size:12px;
}
.CalculatorHeader {
  color:rgba(255,255,255,0.93);
  font-family:"Roboto";
  font-size:15px;
}
.CalculatorDragger{
  background-color:transparent;
  background-image:url(../Fusion_mit/formPage/calendar_dragger.png);
  background-position:center;
  background-repeat:no-repeat;
}
.CalculatorHeaderAll {
  background-color:#474747;
}
.CalculatorContent {
  padding: 8px 14px;
  background-color:#FFFFFF;
}
.CalculatorContent > tr > td {
 margin-bottom: 5px;
}
.CalculatorFooter{
  height:0px;
  background-color:#FFFFFF;
  font-size:7pt;
}

/* Calculator Mobile */

#SPCalc div.calc-button {
  box-sizing: border-box;
}
#SPCalc {
  background-color: rgba(0,0,0,0.0);
  height: 100%;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}
#SPCalc .calc-main {
  position: absolute;
}

#SPCalc .calc {
  margin: 0px auto;
}

#SPCalc .calc-header {
}
#SPCalc .calc-header .calc-description {
  height: 100%;
  padding-left: 5px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
#SPCalc .calc-header .calc-pinnable {
  text-align: center;
  height: 100%;
  cursor: pointer;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0px;
  display: inline-block;
  vertical-align: middle;
}

#SPCalc .pinned .calc-header .calc-pinnable{
}

#SPCalc .calc-pinnable:before{
  vertical-align: middle;

}

#SPCalc .calc-display {
  box-sizing: border-box;
}

#SPCalc .calc-display-input {
  display: block;
  width: 100%;
  text-align: right;
  background-clip: padding-box;
  box-sizing: border-box;
}

#SPCalc .calc-row {
  margin-top: 7px;
}
#SPCalc .calc-row:before, .calc-row:after {
  content: '';
  display: table;
}
#SPCalc .calc-row:after {
  clear: both;
}

#SPCalc .calc-button {
  float: left;
  padding: 0;
  text-align: center;
  text-decoration: none;
  background-clip: padding-box !important;
  /* !important because FF overrides the value on :active */
  border: 0;
  /* IE 8 fix */
  cursor: pointer;
}
#SPCalc .calc-button:first-child {
  margin-left: 0;
}

#SPCalc .calc-button-gray {
}

#SPCalc .calc-button-blue {
}

#SPCalc .calc-button-big {
  font-size: 16px;
}
#SPCalc .SPCalc_Del{
  background-repeat: no-repeat;
  background-position: center center;
}
#SPCalc .SPCalc_Increase {
  background-repeat: no-repeat;
  background-position: center center;
}
#SPCalc .SPCalc_Decrease {
  background-repeat: no-repeat;
  background-position: center center;
}
#SPCalc .SPCalc_Flip {
  background-repeat: no-repeat;
  background-position: center center;
}
#SPCalc .SPCalc_DecSep {
  background-repeat: no-repeat;
  background-position: center center;
}
#SPCalc .SPCalc_Confirm {
  background-repeat: no-repeat;
  background-position: center center;
}
.SPCalendar {
  color:#000000;
  background-color:#474747;
  font-family:"Roboto";
  font-size:10pt;
  box-shadow:0 3px 8px 0 rgba(0, 0, 0, 0.26);;
  margin-top:0px;
  z-index: 1;
}
.SPCalendar ol,.SPCalendar ui{
  list-style: none;
  padding: 0px;
}
.SPCalendar img {
  vertical-align: middle;
}
.SPCalendar a, .hoverable .SPCalendar a:hover, .SPCalendar:visited{
  text-decoration: none;
}
.SPCalendarYear {
  background-color:transparent;
  margin-left:0px;
}
.SPCalendarMonth {
  background-color:transparent;
}
.SPCalendarHeader {
  color:#FFFFFF;
  font-family:"Roboto";
  font-size:11pt;
}

.SPCalendarHeader.SPCalendarComboYearsMonths{
  padding: 0;
}
.SPCalendarHeader.SPCalendarComboYearsMonths li, .SPCalendarHeader.SPCalendarComboYearsMonths td{
  padding: 6px 10px;
}
.SPCalendarHeaderAll a, .hoverable .SPCalendarHeaderAll a:hover, .SPCalendarHeaderAll a:visited{
  color:#FFFFFF;
}
.SPCalendarDragger{
  background-color:transparent;
  background-image:url(../Fusion_mit/formPage/calendar_dragger.png);
  background-position:center;
  background-repeat:no-repeat;
}
.SPCalendarHeaderAll {
  color:#FFFFFF;
  font-family:"Roboto";
  font-size:11pt;
  background-color:transparent;
}
.SPCalendarHeader.mout {
  color:#FFFFFF;
  background-color:transparent;
}
.SPCalendarHeader.mover {
  color:#000000;
  background-color:#474747;
}
.SPCalendarContent {
  background-color:#FFFFFF;
  margin-top:0px;
  padding: 5px;
}
.SPCalendarBody, .SPCalendarBody:link, .hoverable .SPCalendarBody:hover {
  color:#000000;
  font-family:"Roboto";
  font-size:10pt;
}
.SPCalendarBodyTable, .hoverable .SPCalendarBodyTable:hover, .SPCalendarBodyTable:link {
  color:#000000;
  font-family:"Roboto";
  font-size:10pt;
}
.SPCalendarBody td div:first-child , .SPCalendarBody td a:first-child {
  display: inline-block;
  padding: 0;
}
.SPCalendarBodyTable td div:first-child ,.SPCalendarBodyTable td a:first-child {
  display: inline-block;
  padding: 0;
}
.SPCalendarFooter{
  background-color:#FFFFFF;
  color:#000000;
  font-family:"Roboto";
  font-size:8pt;
  width:100%;
  text-align: center;
}
.SPCalendarToday{
  background-color:#FFFFFF;
  color:#474747;
}
.SPCalendarCurrentDay{
  color:#474747;
}
.SPCalendarSunday{
  color:#E51400;
}
.SPCalendarSaturday{
  color:#E51400;
}
.SPCalendarWeeks{
  color:#474747;
}
.SPCalendarBodyTable .SPCalendarWeekDivider *:first-child{
  padding: 0px;
}
.SPCalendarComboYearsMonths{
  background-color:#474747;
  font-size:12px;
}

a.SPCalendarFooter, .hoverable a.SPCalendarFooter:hover, a.SPCalendarFooter:visited {
  background:none;
  color:#000000;
  font-family:"Roboto";
  font-size:8pt;
}

.SPCalendar_mobile {
  color:#000000;
  background-color:#FFFFFF;
  font-family:Roboto;
  font-size:7pt;
  border-style:solid;
  border-color:#808080;
  margin-top:0px;
  z-index: 1;
}
.SPCalendar_mobile ol,.SPCalendar_mobile ui{
  list-style: none;
  padding: 0px;
}
.SPCalendar_mobile img {
  vertical-align: middle;
}
.SPCalendar_mobile a, .hoverable .SPCalendar_mobile a:hover, .SPCalendar_mobile:visited{
  text-decoration: none;
}
.SPCalendar_mobile .SPCalendarYear {
  background-color:#FFFFFF;
  margin-left:0px;
}
.SPCalendar_mobile .SPCalendarMonth {
  background-color:#FFFFFF;
}
.SPCalendar_mobile .SPCalendarHeader {
  color:#000000;
  font-family:Roboto;
  font-size:8pt;
}

.SPCalendar_mobile .SPCalendarHeader.SPCalendarComboYearsMonths{
  padding: 0;
}
.SPCalendar_mobile .SPCalendarHeader.SPCalendarComboYearsMonths li,
.SPCalendar_mobile .SPCalendarHeader.SPCalendarComboYearsMonths td{
  padding: 0;
}
.SPCalendar_mobile .SPCalendarHeaderAll a,
.SPCalendar_mobile .SPCalendarHeaderAll a:link,
.hoverable .SPCalendar_mobile .SPCalendarHeaderAll a:hover,
.SPCalendar_mobile .SPCalendarHeaderAll a:visited{
  color:#000000;
}
.SPCalendar_mobile .SPCalendarHeaderAll {
  color:#000000;
  font-family:Roboto;
  font-size:8pt;
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-evenly;
}
.SPCalendar_mobile .SPCalendarHeader.mout {
  color:#000000;
  background-color:#FFFFFF;
  border-color:#808080;
}
.SPCalendar_mobile .SPCalendarHeader.mover {
  color:#000000;
  background-color:#FFFFFF;
  border-color:#808080;
}
.SPCalendar_mobile .SPCalendarContent {
  background-color:#FFFFFF;
  margin-top:0px;
  padding: 5px;
}
.SPCalendar_mobile .SPCalendarBody,
.SPCalendar_mobile .SPCalendarBody:link,
.hoverable .SPCalendar_mobile .SPCalendarBody:hover {
  color:#000000;
  font-family:Roboto;
  font-size:7pt;
}
.SPCalendar_mobile .SPCalendarBodyTable,
.hoverable .SPCalendar_mobile .SPCalendarBodyTable:hover,
.SPCalendar_mobile .SPCalendarBodyTable:link {
  color:#000000;
  font-family:Roboto;
  font-size:7pt;
}
.SPCalendar_mobile .SPCalendarBody td div:first-child,
.SPCalendar_mobile .SPCalendarBody td a:first-child {
  display: inline-block;
  padding: 0;
}
.SPCalendar_mobile .SPCalendarBodyTable td div:first-child,
.SPCalendar_mobile .SPCalendarBodyTable td a:first-child {
  display: inline-block;
  padding: 0;
}
.SPCalendar_mobile .SPCalendarFooter{
  background-color:#FFFFFF;
  color:#000000;
  font-family:Roboto;
  font-size:7pt;
  width:100%;
  text-align: center;
}
.SPCalendar_mobile .SPCalendarToday{
  background-color:#FFFFFF;
  color:#FFFFFF;
}
.SPCalendar_mobile .SPCalendarCurrentDay{
  color:#FFFFFF;
  border-width:1px;
  border-style:solid;
  border-color:#808080;
}
.SPCalendar_mobile .SPCalendarSunday{
}
.SPCalendar_mobile .SPCalendarSaturday{
}
.SPCalendar_mobile .SPCalendarWeeks{
}
.SPCalendar_mobile .SPCalendarBodyTable .SPCalendarWeekDivider *:first-child{
  padding: 0px;
}
.SPCalendar_mobile #spanMonth,
.SPCalendar_mobile  #spanYear {
  position: relative;
}
.SPCalendar_mobile .SPCalendarComboYearsMonths{
  color:#FFFFFF;
  font-size:7pt;
  border-width:1px;
  border-style:solid;
  border-color:#808080;
}

.SPCalendar_mobilea .SPCalendarFooter,
.hoverable .SPCalendar_mobile a.SPCalendarFooter:hover,
.SPCalendar_mobile a.SPCalendarFooter:visited {
  background:none;
  color:#000000;
  font-family:Roboto;
  font-size:7pt;
}

.suggest_Container {
  border-width:2px 0px 0px 0px;
  border-style:solid;
  border-color:#E2E2E2;
  display:table;
  width: 100%;
}
.suggest_row {
  color:rgba(0,0,0,0.87);
  background-color:#FFFFFF;
  font-family:"Roboto";
  font-size:9pt;
  cursor:default;
  display: table-row;
}
.suggest_row:nth-child(even) {
}

.suggest_row_selected {
  color:rgba(0,0,0,0.87);
  background-color:#3366CC;
  font-family:"Roboto";
  font-size:9pt;
  cursor:default;
  display: table-row;
}

.suggest_row::after, .suggest_row::before, .suggest_row_selected::after, .suggest_row_selected::before {
  content:'';
}
.suggest_FixedKeySearch, .suggest_Field, .suggest_HiddenKey, .suggest_FixedKey, .suggest_HiddenFixedKey {
  display: table-cell;
}

.suggest_HiddenKey, .suggest_HiddenFixedKey {
  display:none;
}
.suggest_FixedKeySearch::before, .suggest_Field::before, .suggest_FixedKey::before {
  content: "-";
  padding:0 2px;
  white-space:pre;
}
.suggest_FixedKeySearch.suggest_SuppressSeparator::before, .suggest_Field.suggest_SuppressSeparator::before, .suggest_FixedKey.suggest_SuppressSeparator::before {
  content:"";
  padding:0;
}

#entity_loading.loading {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#entity_loading.loading::after {
  content: '';
  border: 14px solid #F3F3F3;
  border-radius: 50%;
  border-top: 14px solid #347FC4;
  width: 80px;
  height: 80px;
  animation: spin 1500ms linear infinite, 300ms delayview;
  display: block;
  opacity: 0;
  animation-fill-mode: forwards;
  position: absolute;
  top: calc( 50% - 52px);
  left: calc( 50% - 52px);
}
#entity_loading.loading::before {
  content: '';
  border: 14px solid #F3F3F3;
  border-radius: 50%;
  border-top: 14px solid #347FC4;
  width: 40px;
  height: 40px;
  animation: spin2 800ms linear infinite, 300ms delayview;
  display: block;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  left: calc( 50% - 32px);
  top: calc( 50% - 32px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin2 {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@keyframes delayview {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


textarea.Memo {
  color:#383838;
  font-weight:600;
  font-size:12px;
  font-family:"Roboto";
  background-position:right;
  border-width:0px 0px 1px 0px;
  border-color:rgba(0,0,0, 0.16);
  border-style:solid;
}

.mobile  textarea.Memo {
  white-space: pre-wrap;
}


textarea.Memo.Active {
  border-width:0px !important; border-color:#61ABE9 !important; border-style:solid !important;
}

textarea.Memo.Disabled {
  border-width:0px !important; border-color:#F5F5F5 !important; border-style:solid !important;
}


textarea.Memo.Error {
  border-width:0px !important; border-color:#FF7D7D !important; border-style:solid !important;
}


textarea.Memo.Obligatory {
  background-image:url(../Fusion_mit/formPage/obligatory-field.png); background-repeat:no-repeat; background-position:100% 0%;
}


.SPButton {
  color:#FFFFFF;
  background-color:#1E88E5;
  background-repeat:no-repeat;
  background-position:center;
  border-width:0px;
  border-color:#000000;
  border-style:solid;
  border-radius:4px;
  cursor: pointer;
}

.hoverable .SPButton:hover {
  background-repeat:no-repeat;
  background-position:right;
}

.SPButton[disabled] {
  background-color:#C0C0C0;
  background-repeat:no-repeat;
  background-position:center;
  border-width:0px;
  border-color:#000000;
  border-style:solid;
  border-radius:4px;
  pointer-events: none;
}
.mobile   .SPButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mobile   .SPButton[disabled]{
  background-repeat: no-repeat;
  background-position: center;
}


.SPLabel {
  color:rgba(0,0,0,.85);
  font-family:"Roboto";
  font-size:12px;
}


.SPLabel.errorMessage{
  color:#FF0000;
}


.SPLabel.infoMessage{
  color:#5291EE;
}


.PrimaryKeyLabel {
  color:rgba(0,0,0,.85);
  font-family:"Roboto";
  font-weight:600;
  font-size:12px;
}


.SPLabel.warnMessage{
  color:#C5B46F;
}

@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('../fonts/icons8_win10.woff2') format('woff2'),
url('../fonts/icons8_win10.woff') format('woff'),
url('../fonts/icons8_win10.ttf') format('ttf')}

.BoxHeaderBackground {
  background-color:transparent;
}
.BoxHeaderCaption {
  margin:0px;
  padding:0 0 8px 20px;
  font-family:"Roboto";
  font-weight:400;
  font-size:13px;
  color:#5C5C5C;
  text-transform:uppercase;
  border-width:0 0 1px 0;
  border-style:solid;
  border-color:#B7B7B7;
  outline:0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}
.SPSection_collapsed .BoxHeaderCaption {
  border-width:0px;
}
.BoxHeader .BoxHeaderIcon {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
  font-family:"Roboto";
  font-size:13px;  
}
.SPSection_expanded .BoxHeader .BoxHeaderIcon.BoxHeaderIconClose { 
  display: none;
}
.SPSection_collapsed .BoxHeader .BoxHeaderIcon.BoxHeaderIconClose, .SPSection_expanded .BoxHeader .BoxHeaderIcon.BoxHeaderIconOpen {
  display: inline-block;
}
.SPSection_collapsed .BoxHeader .BoxHeaderIcon.BoxHeaderIconOpen {
  display: none;
}

@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('../fonts/icons8_win10.woff2') format('woff2'),
url('../fonts/icons8_win10.woff') format('woff'),
url('../fonts/icons8_win10.ttf') format('ttf')}

.LayerHeader {
  position:relative;
  cursor:move;
  height:30px;
  background-color:#FFFFFF;
}
.LayerHeaderCaption {
  position:absolute;
  left:7px;
  right:calc(7px + 30px + 30px + 0px + 0px);
  color:rgba(0,0,0,.87);
  font-family:"Roboto";
  font-weight:400;
  font-size:12px;
  text-transform:uppercase;
  padding:7px 4px 0;
}
.LayerHeaderIconPin {
  position:absolute;
  top:7px;
  right:calc(7px + 30px + 0px);
  cursor:pointer;
}
.LayerHeaderIconClose {
  position:absolute;
  top:7px;
  right:7px;
  cursor:pointer;
}
.LayerHeaderLinksContainer {
  position:absolute;
  height:100%;
  right:calc(7px + 30px + 30px + 0px + 0px);
  left:0px;
  display:flex;
  flex-flow:row nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.LayerHeaderLinks {
  display:inline-block;
  height:100%;
  cursor:pointer;
  white-space:nowrap;
  color:rgba(0,0,0,.87);
  font-family:"Roboto";
  font-weight:400;
  font-size:12px;
  text-transform:uppercase;
  padding:7px 15px 0;
  background-color:#FAFAFA;
}
.hoverable .LayerHeaderLinks:hover {
  color:rgba(0,0,0,.93);
  background-color: transparent;
}

.LayerHeaderLinks.LayerHeaderSelectedLink,
.hoverable .LayerHeaderLinks:hover.LayerHeaderSelectedLink {
  cursor:inherit;
  color:#FFFFFF;
  font-weight:400;
  background-color:#347FC4;
}


.DefaultTitledBox {
  position:absolute;
  z-index: 1;
  padding: 0 3px 0 3px;
  color:#5C5C5C;
  font-family:"Roboto";
  font-weight:600;
  font-size:12px;
  background-color:#FFFFFF;

}
.mobile  .DefaultTitledBox {
  position: relative;
  display: block;
}
.mobile  .DefaultTitledBox a{
  color: inherit;
  text-decoration: none;
}
.mobile  .DefaultTitledBox a, .mobile  .DefaultTitledBox img{
  vertical-align: middle;
}


input[type="checkbox"] {
  vertical-align: middle;
}

.slider input[type="checkbox"]:empty {
  margin-left: -99999px;
  float: left;
}

.slider input[type="checkbox"]:empty ~ label {
  position: absolute;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider input[type="checkbox"]:empty ~ label:before,
.slider input[type="checkbox"]:empty ~ label:after {
  /* default, viene sovrascritta se definito da un control */
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.3em;
  background-color: #656363;
  border-radius: 0.75em;
  box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
  transition: all 200ms ease-in;
}

.slider input[type="checkbox"].checkbox:empty ~ label:before,
.slider input[type="checkbox"].checkbox:empty ~ label:after {
  background-color: #656363;
  border-radius: 0.75em;
}

.slider input[type="checkbox"]:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin: 0.1em 0.2em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: none;
}

.slider input[type="checkbox"].checkbox:empty ~ label:after {
  border-radius: 1em;
}

.slider input[type="checkbox"]:checked ~ label:before {
  background-color: #393;
}

.slider input[type="checkbox"].checkbox:checked ~ label:before {
  background-color: #393;
}

.slider input[type="checkbox"]:checked ~ label:after {
  margin-left: 1.7em;
}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('../fonts/icons8_win10.woff2') format('woff2'),
url('../fonts/icons8_win10.woff') format('woff'),
url('../fonts/icons8_win10.ttf') format('ttf')}

.single_notify{
  width: 150px;
  background-color:rgba(0,0,0,.8);
  padding:10px;
  margin:0 0 10px 0;
  box-shadow:0px 0px 10px #202020;
  color:rgba(255,255,255,1);
  display:block;
  transition-property: opacity,height;
  transition-duration: 0.8s;
  transition-timing-function: linear;
  transition-delay: 0s, 0.8s;
  position:relative;
  z-index:100;
}

.single_notify_item_label{
  vertical-align:middle;
  display:inline-block;
}

.single_notify_item_icon{
  margin:0 5px 0 0;
  vertical-align:middle;
}

.hoverable .notify_close_btn:hover, .notify_close_btn:visited, .notify_close_btn:link{
  color:inherit;
}

.notify_content{
  position:absolute;
  top:100px;
  right:15px;
  height:auto;
}

.list_notify {
  position: absolute;
  top:0;
  right: 0;
  z-index:100;
  width: 200px;
  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 0px 10px rgba(32,32,32,0.75);
}

.notify_item {
  border-width:0 0 1px 0;
  border-color:rgba(0,0,0,.8);
  border-style:solid;
  padding:0 0 5px 0;
  margin:0 0 5px 0;
  color:rgba(0,0,0,.8);
  width:100%;
  display:table;
}

.notify_item_label{
  display:inline-block;
  vertical-align:middle;
}

.notify_item_icon{
  margin:0 5px 0 0;
  vertical-align:middle;
}

.empty_notify{
  padding:0 0 5px 0;
  margin:0 0 5px 0;
  color:rgba(0,0,0,.8);
  width:100%;
  display:block;
}

.sidebar {
  position: absolute;
  left: 100%;
  width: 100px;
  height: 100%;
  top: 0;
  background-color:#ECECEC;
  border-width:1px;
  border-color:#E0E0E0;
  margin:0 0 0 10px;
  font-family:"Roboto";
  font-size:12px;
  font-weight:400;
  transition: width 500ms ease-in;
}
.sidebar.sidebar_hidden {
  width: 0px;
}
.sidebar_band {
  padding:5px;
  text-align:center;
}
.sidebar_item {
  padding:5px;
  color:#656363;
  text-align:center;
}
.sidebar_item_image {
  display: inline-block;
  max-width:100%;
}
.sidebar_item_label {
  display: block;
  width:100%;
}



body {
}
.PageBody {
  color:#000000;
  background-color:#FFFFFF;
}
.PageBg {
  background-color:#FFFFFF;
}
a {
}
a:link {
  color:#0000FF;
}
a:visited {
  color:#0000FF;
}
.hoverable a:hover {
  color:#0000FF;
}
.OddRow { background-color:#FFFFFF;}
.EvenRow { background-color:#FFFFFF;}
.Group1 { background-color:#FFFFFF;}
.Group2 { background-color:#FFFFFF;}
.Group3 { background-color:#FFFFFF;}
.Group4 { background-color:#FFFFFF;}

@import url("../fonts/Roboto.css");
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
