@import url("../../fonts/OpenSans.css");
@font-face {font-family: 'icons8_win10';src:url('../../fonts/icons8_win10.eot');src: url('../../fonts/icons8_win10.eot#icons8_win10') format('embedded-opentype'), url('../fonts/../icons8_win10.svg#icons8_win10') format('svg'), url('../../fonts/icons8_win10.woff') format('woff'), url('../../fonts/icons8_win10.ttf') format('truetype');}


/* ZPivot */

.drilldown {
}
.drilldown table {
	font-family: "Open Sans";
	border:0;
}
.drilldown .drilldown_table table {
    border-spacing: .2rem 0px;
    border-collapse: separate;
}
.drilldown .drilldown_table {
	border-spacing: 0px 0px;
	table-layout: fixed;
	border: 0px solid #ddd;
}
.drilldown .drilldown_table td, th {
	text-align: left;
	height: 18px;
	font-size: .7rem;
}
.drilldown table.t-data td {
	text-align:right;
}
.drilldown table.t-columns-title {
	margin: 0 auto;
}
.drilldown table.t-data td,
.drilldown table.t-columns td,
.drilldown td.td-view-description table td,
.drilldown .drilldown_table .td-view-row {
    border-left: .5px solid transparent;
	padding: .1rem .3rem;
}
.drilldown table.t-columns-title table td {
    border-left: .5px solid #ddd;
	padding: .1rem .3rem;
}

.drilldown table.t-columns-title td {
    border: 0x solid transparent;
	padding: .3rem .3rem;
}
.drilldown .drilldown_table tr:first-child .td-view-row {
    border-left: .5px solid transparent;
    border-top: .5px solid transparent;
}
.drilldown table.t-data tr:last-child td {
    border-bottom: .5px solid transparent;
}
.drilldown table.t-data tr:first-child td {
    border-top: .5px solid transparent;
}
.drilldown .drilldown_table .tdiv-columns table tr:first-child td {
}
.drilldown table.t-rows td.td-view-row:first-child,
.drilldown td.td-view-description table tr td:first-child {
    border-left: .5px solid transparent;
}
.drilldown table.t-rows td.td-view-row:last-child,
.drilldown td.td-view-description table tr td:last-child,
.drilldown .drilldown_table tr:first-child .td-view-row:last-child  {
    border-right: .5px solid transparent;
}
.drilldown table.t-data td,
.drilldown table.t-columns td,
.drilldown td.td-view-description table td,
.drilldown .drilldown_table .td-view-row,
.td-view-description .t-rows-header .columnheader,
.drilldown .td-subtotal,
.drilldown .td-row-subtotal,
.drilldown .drilldown_table .td-view-columns .td-subtotal,
.drilldown .drilldown_table .td-view-columns .td-bigtotal,
.drilldown .drilldown_table .td-view-rows .td-row-subtotal,
.drilldown .drilldown_table .td-view-rows .td-row-bigtotal {
    /*text-transform: capitalize;*/
	white-space: nowrap;
}
.drilldown .td-view-description table tr td {
    border: 0.5px solid transparent;
}
.drilldown .td-view-description table tr:last-child td {
	border-bottom: 0.5px solid #ddd;
	text-align: left;
}

.drilldown .drilldown_table .columndata {
	white-space: nowrap;
}
.drilldown .td-subtotal,
.drilldown .td-row-subtotal {
    /*background-color: rgba(221, 221, 221, 0.2);*/
}
.drilldown .td-subtotal,
.drilldown .drilldown_table .td-view-columns .td-subtotal,
.drilldown .drilldown_table .td-subtotal.td-view-data-measure {
	border-left:.0px solid #ddd;
}

.drilldown .drilldown_table .td-view-column.td-subtotal.td-measuretitle.measure0,
.drilldown .drilldown_table .td-view-column.td-bigtotal.td-measuretitle.measure0,
.drilldown .drilldown_table .td-view-column.td-subtotal.td-view-title,
.drilldown .drilldown_table .td-view-column.td-bigtotal.td-view-title,
.drilldown .drilldown_table .td-view-column.td-bigtotal.measure0.td-view-data-measure,
.drilldown .drilldown_table .td-view-column.td-bigtotal.measure0.td-row-bigtotal,
.drilldown .drilldown_table .td-view-column.td-subtotal.measure0.td-view-data-measure,
.drilldown .drilldown_table .td-view-column.td-subtotal.measure0.td-row-bigtotal {
	border-left:.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-row.td-row-subtotal.td-row-subtotal-mark,
.drilldown .drilldown_table .td-view-column.td-view-data-measure.td-row-subtotal.td-row-subtotal-mark,
.drilldown .drilldown_table .td-view-rows .td-row-bigtotal,
.drilldown .drilldown_table .td-view-data .td-row-bigtotal {
	border-top:.5px solid #ddd;
}
.drilldown.td-subtotal.td-row-bigtotal,
.drilldown .td-row-bigtotal,
.drilldown .td-bigtotal,
.drilldown .drilldown_table .td-view-columns .td-bigtotal,
.drilldown .drilldown_table .td-view-rows .td-row-bigtotal {
	/*background-color: #eee;*/
}
.drilldown .drilldown_table .td-view-columns .td-subtotal,
.drilldown .drilldown_table .td-view-columns .td-bigtotal,
.drilldown .drilldown_table .columndata,  .drilldown .drilldown_table .measuretitle{
	text-align: right;
}
.drilldown .drilldown_table .td-measuretitle{
	border-bottom:.5px solid #ddd;
}
.drilldown .drilldown_table .columntitle{
	text-align: center;
	border-bottom:.5px solid #ddd;
}
.drilldown .drilldown_table .columntotal{
	text-align: center;
	border-bottom:.5px solid #ddd;
}
.drilldown .drilldown_table .columnbigtotal{
	text-align: center;
	border-bottom:.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-rows .td-row-bigtotal,
.drilldown .drilldown_table .td-view-data .td-row-bigtotal,
.drilldown .drilldown_table .td-view-columns .td-bigtotal {
	/*font-size: 18px;*/
}
.drilldown .drilldown_table .td-row-header{
    /*border-bottom: .5px solid #ddd;*/
}
.drilldown .drilldown_table tr:nth-child(even) {
}
.drilldown .drilldown_table .tdiv-data {
  overflow: auto;
}
.drilldown .drilldown_table .tdiv-columns,
.drilldown .drilldown_table .tdiv-columns-header,
.drilldown .drilldown_table .tdiv-rows {
  overflow: hidden;
}
.drilldown .drilldown_table .tdiv-rows-overflowx {
  overflow-x: scroll !important;
}
.drilldown .drilldown_table .tdiv-rows-overflowy {
  overflow-y: scroll !important;
}
.drilldown .drilldown_table .toggle,
.drilldown .drilldown_table .openlevel,
.drilldown .drilldown_table .closelevel {
	display: flex;
    align-items: center;
	/*text-transform: capitalize;*/
}
.drilldown .drilldown_table .columndiv.toggle,
.drilldown .drilldown_table .columndiv.openlevel,
.drilldown .drilldown_table .columndiv.closelevel {
	display: flex;
    align-items: center;
	border-bottom:.5px solid #ddd;
	/*text-transform: capitalize;*/
}
.drilldown .toggle::before {
    font-family: 'icons8_win10';
    content: '\f145';
    font-size: .6rem;
    margin: 0 .1rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
}
.drilldown .drilldown_table .closelevel::before,
.drilldown .drilldown_table .openlevel::before {
    font-family: 'icons8_win10';
    content: '\f145';
    font-size: .6rem;
    margin: 0 .1rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
}
.drilldown .closelevel.toggle::before,
.drilldown .openlevel.toggle::before {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: .2s;
}
.drilldown .toggle.closelevel::before {
	-webkit-animation-name: rotate-close;
}
.drilldown .toggle.openlevel::before  {
  -webkit-animation-name: rotate-open;
}
@-webkit-keyframes rotate-open {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
}
@-webkit-keyframes rotate-close {
  0% { -webkit-transform: rotate(90deg); }
  100% { -webkit-transform: rotate(0deg); }
}

.drilldown .columnheader.row-asc::after{
    font-family: 'icons8_win10';
    content: '\ee9f';
    font-size: 1.1rem;
    margin: 0 .2rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	opacity:.7;
	filter: alpha(opacity=70);
}

.drilldown .columnheader.row-desc::after{
    font-family: 'icons8_win10';
    content: '\eea0';
    font-size: 1.1rem;
    margin: 0 .2rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	opacity:.7;
	filter: alpha(opacity=70);
}

.drilldown .columnheader.row-sort::after{
    font-family: 'icons8_win10';
    content: '\f785';
    font-size: .6rem;
    margin: 0 .1rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	-webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(180deg) scaleX(-1);
	display: inline-block;
	opacity:.5;
	filter: alpha(opacity=50);
}

.drilldown .columnheader.col-asc::after{
    font-family: 'icons8_win10';
    content: '\ee9f';
    font-size: 1.1rem;
    margin: 0 .2rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(-90deg);
	display: inline-block;
	opacity:.7;
	filter: alpha(opacity=70);
}

.drilldown .columnheader.col-desc::after{
    font-family: 'icons8_win10';
    content: '\eea0';
    font-size: 1.1rem;
    margin: 0 .2rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(-90deg);
	display: inline-block;
	opacity:.7;
	filter: alpha(opacity=70);
}

.drilldown .columnheader.col-sort::after{
    font-family: 'icons8_win10';
    content: '\f785';
    font-size: .6rem;
    margin: 0 .1rem;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 50%;
    padding: .1rem;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(-90deg) scaleY(-1);
	display: inline-block;
	opacity:.5;
	filter: alpha(opacity=50);
}

/* cssrow -- overwrite per la modalitï¿½ misure in riga */
.drilldown .drilldown_table .columndiv.openlevel.cssrow,
.drilldown .drilldown_table .columndiv.closelevel.cssrow {
	display: flex;
    align-items: center;
	border-bottom:.5px solid transparent;
}
.drilldown .drilldown_table .td-view-column.cssrow {
	border-bottom:0.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-row-bigtotal {
	border-bottom:0.5px solid transparent;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-view-title {
	border-bottom:.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-view-data-measure {
	border-bottom:0px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.td-subtotal.cssrow, 
.drilldown .drilldown_table .td-view-column.td-bigtotal.cssrow {
	border-left:.5px solid #ddd;
}
.drilldown .drilldown_table .cssrow.columntitle{
	text-align: center;
	border-bottom:0px solid #ddd;
}
.drilldown .drilldown_table .cssrow.columntotal{
	text-align: center;
	border-bottom:0px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-view-data-measure.td-row-subtotal.td-row-subtotal-mark {
	border-top:0px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-view-data-measure.td-row-subtotal.td-row-subtotal-mark.measure0 {
	border-top:0.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-row-bigtotal {
	border-top:0px solid #ddd;
}
.drilldown .drilldown_table .td-view-column.cssrow.td-row-bigtotal.measure0 {
	border-top:0.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-row.td-row-subtotal.cssrow.td-row-subtotal-mark {
	border-top:0.5px solid transparent;
}
.drilldown .drilldown_table .td-view-row.td-row-subtotal.cssrow.td-row-subtotal-mark.measure0 {
	border-top:0.5px solid #ddd;
}
.drilldown .drilldown_table .td-view-row.td-row-bigtotal.cssrow {
	border-top:0.5px solid transparent;
}
.drilldown .drilldown_table .td-view-row.td-row-bigtotal.measure0.cssrow {
	border-top:0.5px solid #ddd;
}

.drilldown .drillboxer {
    display: table;
    border-collapse: collapse;
    font-family: "Open Sans";
    font-size: .7rem;
 }
  
 .drilldown .drillboxer .drillbox-row {
    display: table-row;
 }
  
 .drilldown .drillboxer .drillbox {
    display: table-cell;
    text-align: left;
    vertical-align: top;
 }
 
