.cm-s-default .cm-atom,
.cm-s-default .cm-variable {
  color: #00A0BD;
}

.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {
  color: #E81818;
}

.cm-s-default .cm-meta {
  color: #969696;
}

.cm-s-default .cm-tag,
.cm-s-default .cm-builtin,
.cm-s-default .cm-qualifier {
  color: #333;
  font-weight: 600;
}

.cm-s-default .cm-number {
  color: #004CFF;
}

.cm-s-default .cm-comment {
  color: #0D7D00;
}

.cm-s-default .cm-error {
  color: #B5799F;
  text-decoration: line-through;
}