* --- Resource Vers. 0.9
ammt_tbimporto
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:27
description='Rischio Importo
file_modified_on=#2019-01-24 18:57:58
location='
measures={}
modified_on=#2024-05-10 18:24:47
module_name='
name='ammt_tbimporto
state=1
type='master
used_resource_keys={
'Fields
[
'tbimporto.codice
'tbimporto.descri
'tbimporto.rischio
]
'Tables
[
'tbimporto<table>
]
}
I
*--*
￼[]
*--*
