* --- Resource Vers. 0.9
aosmt_mod_ind_mit
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:27
description='Modello indicatori anomalia mit
file_modified_on=#2023-10-09 12:07:37
location='
measures={}
modified_on=#2024-05-10 18:24:47
module_name='
name='aosmt_mod_ind_mit
state=1
type='master
used_resource_keys={
'Children
[
'aosdt_ind_mit
]
'Fields
[
'mod_ind_mit.idmod
'mod_ind_mit.descri
'mod_ind_mit.dtfinval
]
'Tables
[
'mod_ind_mit<table>
]
}
I
*--*
￼[]
*--*
