* --- Resource Vers. 0.9
armt_ramogruppo
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Ramo Gruppo
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:57
module_name='
name='armt_ramogruppo
state=1
type='master
used_resource_keys={
'Fields
[
'tbramgru.ramgru
'tbramgru.descri
]
'Tables
[
'tbramgru<table>
]
}
I
*--*
￼[]
*--*
