* --- Resource Vers. 0.9
armt_wuforcer
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Motivo Forzatura
file_modified_on=#2018-06-12 17:43:22
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_wuforcer
state=1
type='master
used_resource_keys={
'Fields
[
'wuforcer.frcodice
'wuforcer.frdescri
]
'Tables
[
'wuforcer<table>
]
}
I
*--*
￼[]
*--*
