* --- Resource Vers. 0.9
armt_mtstati
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='MTSTATI
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:56
module_name='
name='armt_mtstati
state=1
type='master
used_resource_keys={
'Fields
[
'mtstati.codsta
'mtstati.descri
'mtstati.sigla
'tbstati.codsta
'tbstati.descri
]
'Routines
[
'arrt_imp_frischio
'arrt_li_kperazbo
]
'Tables
[
'mtstati<table>
'tbstati<table>
]
}
I
*--*
￼[]
*--*
