* --- Resource Vers. 0.9
armt_tbimporto_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Rischio Importo Pers.
file_modified_on=#2019-01-25 06:44:18
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbimporto_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbimporto_p.codice
'tbimporto_p.rischio
'tbimporto_p.flgpers
]
'Tables
[
'tbimporto_p<table>
]
}
I
*--*
￼[]
*--*
