* --- Resource Vers. 0.9
armt_tbcateg05
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categoria 5
file_modified_on=#2022-03-08 18:57:02
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcateg05
state=1
type='master
used_resource_keys={
'Children
[
'ardt_categris
]
'Fields
[
'tbcateg05.c5codtab
'tbcateg05.c5codice
'tbcateg05.c5descri
'tbcateg05.idbase
]
'Tables
[
'tbcateg05<table>
]
}
I
*--*
￼[]
*--*
