* --- Resource Vers. 0.9
armt_tbcateg04
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categoria 4
file_modified_on=#2022-03-08 18:56:54
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcateg04
state=1
type='master
used_resource_keys={
'Children
[
'ardt_categris
]
'Fields
[
'tbcateg04.c4codtab
'tbcateg04.c4codice
'tbcateg04.c4descri
'tbcateg04.idbase
]
'Tables
[
'tbcateg04<table>
]
}
I
*--*
￼[]
*--*
