* --- Resource Vers. 0.9
armt_tbcateg02
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categoria 2
file_modified_on=#2022-03-08 18:56:30
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcateg02
state=1
type='master
used_resource_keys={
'Children
[
'ardt_categris
]
'Fields
[
'tbcateg02.c2codtab
'tbcateg02.c2codice
'tbcateg02.c2descri
'tbcateg02.idbase
]
'Tables
[
'tbcateg02<table>
]
}
I
*--*
￼[]
*--*
