* --- Resource Vers. 0.9
armt_tbtipatt_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipo Attività Svolta Pers.
file_modified_on=#2024-03-08 09:32:20
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbtipatt_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbtipatt_p.codice
'tbtipatt_p.rischio
'tbtipatt_p.flgpers
]
'Tables
[
'tbtipatt_p<table>
]
}
I
*--*
￼[]
*--*
