* --- Resource Vers. 0.9
armt_tbident
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipo identificazione
file_modified_on=#2020-10-09 11:47:02
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbident
state=1
type='master
used_resource_keys={
'Fields
[
'tbident.codice
'tbident.descri
]
'Tables
[
'tbident<table>
]
}
I
*--*
￼[]
*--*
