* --- Resource Vers. 0.9
armt_tbcateg01
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categoria 1
file_modified_on=#2020-10-09 13:11:18
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcateg01
state=1
type='master
used_resource_keys={
'Children
[
'ardt_categris
]
'Fields
[
'tbcateg01.c1codtab
'tbcateg01.c1codice
'tbcateg01.c1descri
'tbcateg01.idbase
]
'Libraries
[
'LibreriaMit<project>
]
'Tables
[
'tbcateg01<table>
]
}
I
*--*
￼[]
*--*
