* --- Resource Vers. 0.9
armt_natcon
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Natura Conti
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:56
module_name='
name='armt_natcon
state=1
type='master
used_resource_keys={
'Fields
[
'tbtipnat.tiponat
'tbtipnat.descri
]
'Tables
[
'tbtipnat<table>
]
}
I
*--*
￼[]
*--*
