* --- Resource Vers. 0.9
armt_tbtiporisc_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipologia Rischio Pers.
file_modified_on=#2019-01-25 06:44:52
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbtiporisc_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbtiporisc_p.codice
'tbtiporisc_p.rischio
'tbtiporisc_p.flgpers
]
'Tables
[
'tbtiporisc_p<table>
]
}
I
*--*
￼[]
*--*
