* --- Resource Vers. 0.9
armt_cgo_dest_alert
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Destinatari Alert (CGO)
file_modified_on=#2020-09-07 16:10:54
location='
measures={}
modified_on=#2024-05-10 18:24:55
module_name='
name='armt_cgo_dest_alert
state=1
type='master
used_resource_keys={
'Fields
[
'cgo_dest_alert.dacodice
'cgo_dest_alert.daragsoc
'cgo_dest_alert.daemail
'cgo_dest_alert.datipalt
]
'Tables
[
'cgo_dest_alert<table>
]
}
I
*--*
￼[]
*--*
