* --- Resource Vers. 0.9
armt_tblimcon
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Limite Contante
file_modified_on=#2022-11-16 17:25:46
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tblimcon
state=1
type='master
used_resource_keys={
'Fields
[
'tblimcon.lccodice
'tblimcon.lcdatini
'tblimcon.lcdatfin
'tblimcon.lcimpmax
'tblimcon.lcvalper
]
'Tables
[
'tblimcon<table>
]
}
I
*--*
￼[]
*--*
