* --- Resource Vers. 0.9
armt_tbcondotta
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipo di condotta
file_modified_on=#2019-01-24 19:00:28
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcondotta
state=1
type='master
used_resource_keys={
'Fields
[
'tbcondotta.codice
'tbcondotta.descri
'tbcondotta.rischio
]
'Tables
[
'tbcondotta<table>
]
}
I
*--*
￼[]
*--*
