* --- Resource Vers. 0.9
armt_wutipdoc
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipologie documenti (WU)
file_modified_on=#2021-04-22 08:49:24
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_wutipdoc
state=1
type='master
used_resource_keys={
'Fields
[
'wutipdoc.wutdcodice
'wutipdoc.wutddescri
'wutipdoc.wutdtipdoc
]
'Tables
[
'wutipdoc<table>
'tbtipdoc<table>
]
}
I
*--*
￼[]
*--*
