* --- Resource Vers. 0.9
armt_causalis
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Causali Sintetiche
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:55
module_name='
name='armt_causalis
state=1
type='master
used_resource_keys={
'Fields
[
'tbcausin.codvoc
'tbcausin.descriz
]
'Tables
[
'tbcausin<table>
]
}
I
*--*
￼[]
*--*
