* --- Resource Vers. 0.9
armt_tbcandistr
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Canali Distributivi (SV)
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcandistr
state=1
type='master
used_resource_keys={
'Fields
[
'tbcandistr.codice
'tbcandistr.descri
]
'Tables
[
'tbcandistr<table>
]
}
I
*--*
￼[]
*--*
