* --- Resource Vers. 0.9
armt_tbfasce
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Fasce Reddito/Partimonio
file_modified_on=#2021-05-20 12:28:16
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbfasce
state=1
type='master
used_resource_keys={
'Fields
[
'tbfascepr.codice
'tbfascepr.tipo
'tbfascepr.descri
'tbfascepr.daimp
'tbfascepr.aimp
'tbfascepr.rischio
'tbfascepr.idbase
]
'Tables
[
'tbfascepr<table>
]
}
I
*--*
￼[]
*--*
