* --- Resource Vers. 0.9
armt_cgo_tbmezpag
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Mezzi Pagamento (CGO)
file_modified_on=#2020-09-07 16:12:52
location='
measures={}
modified_on=#2024-05-10 18:24:56
module_name='
name='armt_cgo_tbmezpag
state=1
type='master
used_resource_keys={
'Fields
[
'cgo_tbmezpag.mpcodice
'cgo_tbmezpag.mpdescri
'cgo_tbmezpag.mpflgval
]
'Tables
[
'cgo_tbmezpag<table>
]
}
I
*--*
￼[]
*--*
