* --- Resource Vers. 0.9
armt_sgruattec
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Sottogruppi Att.Ec.
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:57
module_name='
name='armt_sgruattec
state=1
type='master
used_resource_keys={
'Fields
[
'tbstgru.sotgru
'tbstgru.descri
'tbstgru.tiposot
'tbstgru.dataini
'tbstgru.datafine
]
'Tables
[
'tbstgru<table>
]
}
I
*--*
￼[]
*--*
