* --- Resource Vers. 0.9
armt_wu_cases
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Cases
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:59
module_name='
name='armt_wu_cases
state=1
type='master
used_resource_keys={
'Fields
[
'wu_cases.wccodice
'wu_cases.wcnomcas
'wu_cases.wcdescri
'wu_cases.wcbehavior
]
'Tables
[
'wu_cases<table>
]
}
I
*--*
￼[]
*--*
