* --- Resource Vers. 0.9
armt_tbdurata_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Frequenza Operazione Personalizzato
file_modified_on=#2019-01-25 06:45:32
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbdurata_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbdurata_p.codice
'tbdurata_p.rischio
'tbdurata_p.flgpers
]
'Tables
[
'tbdurata_p<table>
]
}
I
*--*
￼[]
*--*
