* --- Resource Vers. 0.9
armt_stati
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Stati
file_modified_on=#2024-04-18 17:39:17
location='
measures={}
modified_on=#2024-05-10 18:24:57
module_name='
name='armt_stati
state=1
type='master
used_resource_keys={
'Fields
[
'tbstati.codsta
'tbstati.descri
'tbstati.sigla
'tbstati.iso
'tbstati.iso2
]
'Tables
[
'tbstati<table>
]
}
I
*--*
￼[]
*--*
