* --- Resource Vers. 0.9
armt_tbnaturaage
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Natura Valuta (AGE)
file_modified_on=#2022-06-15 12:21:06
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbnaturaage
state=1
type='master
used_resource_keys={
'Fields
[
'tbnaturaage.codice
'tbnaturaage.descri
]
'Tables
[
'tbnaturaage<table>
]
}
I
*--*
￼[]
*--*
