* --- Resource Vers. 0.9
armt_utenti
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Utenti
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_utenti
state=1
type='master
used_resource_keys={
'Fields
[
'utenti.utcodice
'utenti.utnomine
'utenti.utpasswd
'utenti.utcod_cp
'utenti.ut_email
'utenti.utdatacc
]
'Routines
[
'arrt_tit_load_aui
]
'Tables
[
'utenti<table>
'cpusers<table>
]
}
I
*--*
￼[]
*--*
