* --- Resource Vers. 0.9
armt_tbcondotta_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipo di condotta Pers.
file_modified_on=#2019-01-25 06:44:42
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcondotta_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbcondotta_p.codice
'tbcondotta_p.rischio
'tbcondotta_p.flgpers
]
'Tables
[
'tbcondotta_p<table>
]
}
I
*--*
￼[]
*--*
