* --- Resource Vers. 0.9
armt_tbareegeog
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Aree Geografiche Destinazione
file_modified_on=#2019-01-24 18:34:46
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbareegeog
state=1
type='master
used_resource_keys={
'Fields
[
'tbareegeog.codice
'tbareegeog.descri
'tbareegeog.rischio
]
'Tables
[
'tbareegeog<table>
]
}
I
*--*
￼[]
*--*
