* --- Resource Vers. 0.9
armt_tbtipatt
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipo Attività Svolta
file_modified_on=#2023-04-05 09:44:34
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbtipatt
state=1
type='master
used_resource_keys={
'Fields
[
'tbtipatt.codice
'tbtipatt.descri
'tbtipatt.rischio
'tbtipatt.flgalto
]
'Tables
[
'tbtipatt<table>
]
}
I
*--*
￼[]
*--*
