* --- Resource Vers. 0.9
armt_wucodes
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tabella Stati WU
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_wucodes
state=1
type='master
used_resource_keys={
'Fields
[
'wucodes.wucodsta
'wucodes.wudescri
'wucodes.wucoduif
'tbstati.codsta
'tbstati.descri
'wucodes.wucodiso
]
'Tables
[
'wucodes<table>
'tbstati<table>
]
}
I
*--*
￼[]
*--*
