* --- Resource Vers. 0.9
armt_tipileg
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Tipi Legami
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tipileg
state=1
type='master
used_resource_keys={
'Fields
[
'tbtipleg.tipleg
'tbtipleg.descriz
'tbtipleg.dataini
'tbtipleg.datafine
'tbtipleg.filtro
'tbtipleg.descriz2
'tbtipleg.datainid2
'tbtipleg.datafind2
]
'Tables
[
'tbtipleg<table>
]
}
I
*--*
￼[]
*--*
