* --- Resource Vers. 0.9
armt_tbplauso
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Ragionevolezza Operazione
file_modified_on=#2019-01-24 18:48:30
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbplauso
state=1
type='master
used_resource_keys={
'Fields
[
'tbplauso.codice
'tbplauso.descri
'tbplauso.rischio
]
'Tables
[
'tbplauso<table>
]
}
I
*--*
￼[]
*--*
