* --- Resource Vers. 0.9
armt_tbspecie
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Specie Giuridica
file_modified_on=#2019-01-24 18:46:28
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbspecie
state=1
type='master
used_resource_keys={
'Fields
[
'tbspecie.codspe
'tbspecie.descri
'tbspecie.rischio
]
'Tables
[
'tbspecie<table>
]
}
I
*--*
￼[]
*--*
