* --- Resource Vers. 0.9
armt_cgo_esiticon
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Esiti Contatti (CGO)
file_modified_on=#2020-09-07 16:11:30
location='
measures={}
modified_on=#2024-05-10 18:24:55
module_name='
name='armt_cgo_esiticon
state=1
type='master
used_resource_keys={
'Fields
[
'cgo_esiticon.eccodice
'cgo_esiticon.ecdescri
]
'Tables
[
'cgo_esiticon<table>
]
}
I
*--*
￼[]
*--*
