* --- Resource Vers. 0.9
armt_tbsvolgim
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Modalità Svolgimento
file_modified_on=#2019-01-24 18:18:48
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbsvolgim
state=1
type='master
used_resource_keys={
'Fields
[
'tbsvolgim.codice
'tbsvolgim.descri
'tbsvolgim.rischio
]
'Tables
[
'tbsvolgim<table>
]
}
I
*--*
￼[]
*--*
