* --- Resource Vers. 0.9
armt_tbspecie_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Specie Giuridica Pers.
file_modified_on=#2019-01-25 06:44:26
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbspecie_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbspecie_p.codspe
'tbspecie_p.rischio
'tbspecie_p.flgpers
]
'Tables
[
'tbspecie_p<table>
]
}
I
*--*
￼[]
*--*
