* --- Resource Vers. 0.9
armt_tbareegeog_p
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Aree Geografiche Pers.
file_modified_on=#2019-01-25 06:45:14
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbareegeog_p
state=1
type='master
used_resource_keys={
'Fields
[
'tbareegeog_p.codice
'tbareegeog_p.rischio
'tbareegeog_p.flgpers
]
'Tables
[
'tbareegeog_p<table>
]
}
I
*--*
￼[]
*--*
