* --- Resource Vers. 0.9
armt_cgo_autorita
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Autorità Rilascio
file_modified_on=#2020-09-07 16:12:00
location='
measures={}
modified_on=#2024-05-10 18:24:55
module_name='
name='armt_cgo_autorita
state=1
type='master
used_resource_keys={
'Children
[
'ardt_docaut
]
'Fields
[
'cgo_autorita.arcodice
'cgo_autorita.ardescri
]
'Tables
[
'cgo_autorita<table>
]
}
I
*--*
￼[]
*--*
