* --- Resource Vers. 0.9
armt_cgo_tblinbus
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Lines of Business (CGO)
file_modified_on=#2020-09-07 16:12:46
location='
measures={}
modified_on=#2024-05-10 18:24:56
module_name='
name='armt_cgo_tblinbus
state=1
type='master
used_resource_keys={
'Fields
[
'cgo_tblinbus.codlinbus
'cgo_tblinbus.deslinbus
]
'Routines
[
'arrt_cgo_sos_biglietto
]
'Tables
[
'cgo_tblinbus<table>
]
}
I
*--*
￼[]
*--*
