* --- Resource Vers. 0.9
armt_cgo_catbacheca
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categorie Notifiche Bacheca
file_modified_on=#2018-11-12 15:34:36
location='
measures={}
modified_on=#2024-05-10 18:24:55
module_name='
name='armt_cgo_catbacheca
state=1
type='master
used_resource_keys={
'Fields
[
'cgo_catbacheca.cbcodice
'cgo_catbacheca.cbdescri
]
'Tables
[
'cgo_catbacheca<table>
]
}
I
*--*
￼[]
*--*
