* --- Resource Vers. 0.9
armt_tbcateg03
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Categoria 3
file_modified_on=#2022-03-08 18:56:45
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbcateg03
state=1
type='master
used_resource_keys={
'Children
[
'ardt_categris
]
'Fields
[
'tbcateg03.c3codtab
'tbcateg03.c3codice
'tbcateg03.c3descri
'tbcateg03.idbase
]
'Tables
[
'tbcateg03<table>
]
}
I
*--*
￼[]
*--*
