* --- Resource Vers. 0.9
armt_cpazi_add
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Dati Aggiuntivi Azienda
file_modified_on=#2018-06-11 07:20:48
location='
measures={}
modified_on=#2024-05-10 18:24:56
module_name='
name='armt_cpazi_add
state=1
type='master
used_resource_keys={
'Fields
[
'cpazi_add.codazi
'cpazi_add.flgotp
]
'Tables
[
'cpazi_add<table>
]
}
I
*--*
￼[]
*--*
