* --- Resource Vers. 0.9
armt_tbnatura
￼Iresource.ResourceMaster
created_on=#2024-05-10 18:24:30
description='Natura
file_modified_on=#2019-10-14 16:27:02
location='
measures={}
modified_on=#2024-05-10 18:24:58
module_name='
name='armt_tbnatura
state=1
type='master
used_resource_keys={
'Fields
[
'tbnatura.codice
'tbnatura.descri
]
'Tables
[
'tbnatura<table>
]
}
I
*--*
￼[]
*--*
