.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#WWBIIEYXAF_DIV {top:110px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWBIIEYXAF_DIV {left:73px;height:18px;width:128px;}
BODY[ettl='old'] #WWBIIEYXAF_DIV {left:73px;height:18px;width:128px;}
BODY[ettl='yes'] #WWBIIEYXAF_DIV {right:calc(100% - 201px);}
#HRVYPVSWPC_DIV {top:135px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HRVYPVSWPC_DIV {left:73px;height:18px;width:128px;}
BODY[ettl='old'] #HRVYPVSWPC_DIV {left:73px;height:18px;width:128px;}
BODY[ettl='yes'] #HRVYPVSWPC_DIV {right:calc(100% - 201px);}
#BKNNIQVWMR {top:83px;position:absolute;left:207px;height:22px;width:118px;text-align:right;z-index:1; }
#DXYOJIRSOV_DIV {top:80px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DXYOJIRSOV_DIV {left:73px;height:25px;width:128px;}
BODY[ettl='old'] #DXYOJIRSOV_DIV {left:73px;height:25px;width:128px;}
BODY[ettl='yes'] #DXYOJIRSOV_DIV {right:calc(100% - 201px);}
#WCYGSFGYKH {top:45px;position:absolute;left:207px;height:25px;width:433px;z-index:1; }
#ALEDLKZNJJ_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ALEDLKZNJJ_DIV {left:73px;height:25px;width:128px;}
BODY[ettl='old'] #ALEDLKZNJJ_DIV {left:73px;height:25px;width:128px;}
BODY[ettl='yes'] #ALEDLKZNJJ_DIV {right:calc(100% - 201px);}
#WWBIIEYXAF_DIV, #HRVYPVSWPC_DIV, #DXYOJIRSOV_DIV, #ALEDLKZNJJ_DIV {overflow:hidden;}
#BKNNIQVWMR, #WCYGSFGYKH {box-sizing : border-box;}
