.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#GQMQADKZER {top:15px;position:absolute;left:584px;height:22px;width:52px;text-align:right;z-index:1; }
#SLTEEWARRT {top:25px;position:absolute;left:208px;height:25px;width:46px;text-align:right;z-index:1; }
#YKCGEUAQNO_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YKCGEUAQNO_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='old'] #YKCGEUAQNO_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='yes'] #YKCGEUAQNO_DIV {right:calc(100% - 201px);}
#IGYAELXEXR {top:60px;position:absolute;left:208px;height:25px;width:363px;z-index:1; }
#ORGIAKWWFA_DIV {top:60px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ORGIAKWWFA_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='old'] #ORGIAKWWFA_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='yes'] #ORGIAKWWFA_DIV {right:calc(100% - 201px);}
#AWEWRIIVNS {top:165px;position:absolute;left:208px;height:25px;width:136px;z-index:1; }
#AWEWRIIVNS { vertical-align:middle; }
#QLXYNDBKBY_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QLXYNDBKBY_DIV {left:20px;height:25px;width:181px;}
BODY[ettl='old'] #QLXYNDBKBY_DIV {left:20px;height:25px;width:181px;}
BODY[ettl='yes'] #QLXYNDBKBY_DIV {right:calc(100% - 201px);}
#XMHFZMIAMS {top:200px;position:absolute;left:208px;height:25px;width:118px;text-align:right;z-index:1; }
#XMHFZMIAMS_ZOOM { position:absolute;top:200px;left:327px;height:25px;width:17px;z-index:1;}
#MRBKYUENGX_DIV {top:200px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MRBKYUENGX_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='old'] #MRBKYUENGX_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='yes'] #MRBKYUENGX_DIV {right:calc(100% - 201px);}
#KNAKRRMCNW {top:235px;position:absolute;left:208px;height:25px;width:118px;text-align:right;z-index:1; }
#KNAKRRMCNW_ZOOM { position:absolute;top:235px;left:327px;height:25px;width:17px;z-index:1;}
#ZTZOBAMZRU_DIV {top:235px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZTZOBAMZRU_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='old'] #ZTZOBAMZRU_DIV {left:15px;height:25px;width:186px;}
BODY[ettl='yes'] #ZTZOBAMZRU_DIV {right:calc(100% - 201px);}
#QLCHTSHZNI_DIV {top:170px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QLCHTSHZNI_DIV {left:550px;height:18px;width:144px;}
BODY[ettl='old'] #QLCHTSHZNI_DIV {left:550px;height:18px;width:144px;}
BODY[ettl='yes'] #QLCHTSHZNI_DIV {right:calc(100% - 694px);}
#CRFACLOJKX {top:20px;position:absolute;left:15px;height:105px;width:476px;z-index:1;}
#VJQMUEKTSX {top:270px;position:absolute;left:208px;height:25px;width:41px;text-align:right;z-index:1; }
#BBOWMTSSOW {top:305px;position:absolute;left:208px;height:25px;width:41px;text-align:right;z-index:1; }
#AKJBCTEQJP {top:340px;position:absolute;left:208px;height:25px;width:41px;text-align:right;z-index:1; }
#QYGWLPNULE_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QYGWLPNULE_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='old'] #QYGWLPNULE_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='yes'] #QYGWLPNULE_DIV {right:calc(100% - 201px);}
#HADNBQNYMD_DIV {top:305px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HADNBQNYMD_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='old'] #HADNBQNYMD_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='yes'] #HADNBQNYMD_DIV {right:calc(100% - 201px);}
#PUPZWRUBQZ_DIV {top:340px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PUPZWRUBQZ_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='old'] #PUPZWRUBQZ_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='yes'] #PUPZWRUBQZ_DIV {right:calc(100% - 201px);}
#SOASGKKWLW {top:375px;position:absolute;left:208px;height:25px;width:41px;text-align:right;z-index:1; }
#OLRRJSKSLR_DIV {top:375px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OLRRJSKSLR_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='old'] #OLRRJSKSLR_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='yes'] #OLRRJSKSLR_DIV {right:calc(100% - 201px);}
#DRGTXCMDVI_DIV {top:270px;position:absolute;left:253px;height:25px;width:26px;text-align:left;z-index:1;}
#EDWZXXHLLG { height:145px;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#EDWZXXHLLG_DIV { position:relative;z-index:0;width:100%;}
#HFWINMHKPE {top:95px;position:absolute;left:208px;height:60px;width:363px;overflow:auto;z-index:1; }
#JNUWUCCLZX_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JNUWUCCLZX_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='old'] #JNUWUCCLZX_DIV {left:10px;height:25px;width:191px;}
BODY[ettl='yes'] #JNUWUCCLZX_DIV {right:calc(100% - 201px);}
#YKCGEUAQNO_DIV, #ORGIAKWWFA_DIV, #QLXYNDBKBY_DIV, #MRBKYUENGX_DIV, #ZTZOBAMZRU_DIV, #QLCHTSHZNI_DIV, #QYGWLPNULE_DIV, #HADNBQNYMD_DIV, #PUPZWRUBQZ_DIV, #OLRRJSKSLR_DIV, #DRGTXCMDVI_DIV, #EDWZXXHLLG, #JNUWUCCLZX_DIV {overflow:hidden;}
#GQMQADKZER, #SLTEEWARRT, #IGYAELXEXR, #AWEWRIIVNS, #XMHFZMIAMS, #KNAKRRMCNW, #VJQMUEKTSX, #BBOWMTSSOW, #AKJBCTEQJP, #SOASGKKWLW, #EDWZXXHLLG, #HFWINMHKPE {box-sizing : border-box;}
