.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#EASNYTBCXF {top:50px;position:absolute;left:206px;height:25px;width:230px;z-index:1; }
#KFPBUBZIKH_DIV {top:50px;position:absolute;text-align:right;z-index:1;}
#KFPBUBZIKH_DIV>label { line-height: 25px; }
BODY:not([ettl]) #KFPBUBZIKH_DIV {left:36px;height:25px;width:165px;}
BODY[ettl='old'] #KFPBUBZIKH_DIV {left:36px;height:25px;width:165px;}
BODY[ettl='yes'] #KFPBUBZIKH_DIV {right:calc(100% - 201px);}
#BFOHURODML_DIV {top:5px;position:absolute;text-align:right;z-index:1;}
#BFOHURODML_DIV>label { line-height: 25px; }
BODY:not([ettl]) #BFOHURODML_DIV {left:16px;height:25px;width:185px;}
BODY[ettl='old'] #BFOHURODML_DIV {left:16px;height:25px;width:185px;}
BODY[ettl='yes'] #BFOHURODML_DIV {right:calc(100% - 201px);}
#BIYQHLLFYE_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BIYQHLLFYE_DIV {left:942px;height:18px;width:173px;}
BODY[ettl='old'] #BIYQHLLFYE_DIV {left:942px;height:18px;width:173px;}
BODY[ettl='yes'] #BIYQHLLFYE_DIV {right:calc(100% - 1115px);}
#DBMAKFDROI_DIV {top:45px;position:absolute;left:942px;height:18px;width:173px;text-align:left;z-index:1;}
#DBMAKFDROI_HREF {}
#LEFWMHXGWF { position:relative;left:11px;width:475px;z-index:1;overflow:auto;}
#YMLUFDPGUE_DIV {top:85px;position:absolute;left:206px;height:25px;width:230px;z-index:1; }
#YMLUFDPGUE { vertical-align:middle; }
#KEXVXSBZNH { height:35px;z-index:0;}
#KEXVXSBZNH_DIV { position:relative;z-index:0;width:480px;left:26px;}
#KEXVXSBZNH_HEADER {width:480px;}
#TWBOJVJHUV {top:5px;position:absolute;left:180px;height:25px;width:230px;z-index:1; }
#TWBOJVJHUV { vertical-align:middle; }
#BIGLLUNRZE { height:35px;z-index:0;}
#BIGLLUNRZE_DIV { position:relative;z-index:0;width:480px;left:26px;}
#BIGLLUNRZE_HEADER {width:480px;}
#BGAXFHUKER {top:5px;position:absolute;left:180px;height:25px;width:230px;z-index:1; }
#JZMLVGUAUJ_DIV {top:5px;position:absolute;text-align:right;z-index:1;}
#JZMLVGUAUJ_DIV>label { line-height: 25px; }
BODY:not([ettl]) #JZMLVGUAUJ_DIV {left:10px;height:25px;width:165px;}
BODY[ettl='old'] #JZMLVGUAUJ_DIV {left:10px;height:25px;width:165px;}
BODY[ettl='yes'] #JZMLVGUAUJ_DIV {right:calc(100% - 175px);}
#JICLLDYGVB {top:5px;position:absolute;left:206px;height:25px;width:230px;z-index:1; }
#NHXYPYXJDH_DIV {top:5px;position:absolute;text-align:right;z-index:1;}
#NHXYPYXJDH_DIV>label { line-height: 25px; }
BODY:not([ettl]) #NHXYPYXJDH_DIV {left:10px;height:25px;width:165px;}
BODY[ettl='old'] #NHXYPYXJDH_DIV {left:10px;height:25px;width:165px;}
BODY[ettl='yes'] #NHXYPYXJDH_DIV {right:calc(100% - 175px);}
#BLONAXVSYB_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
#BLONAXVSYB_DIV>label { line-height: 25px; }
BODY:not([ettl]) #BLONAXVSYB_DIV {left:36px;height:25px;width:165px;}
BODY[ettl='old'] #BLONAXVSYB_DIV {left:36px;height:25px;width:165px;}
BODY[ettl='yes'] #BLONAXVSYB_DIV {right:calc(100% - 201px);}
#KFPBUBZIKH_DIV, #BFOHURODML_DIV, #BIYQHLLFYE_DIV, #DBMAKFDROI_DIV, #KEXVXSBZNH, #BIGLLUNRZE, #JZMLVGUAUJ_DIV, #NHXYPYXJDH_DIV, #BLONAXVSYB_DIV {overflow:hidden;}
#EASNYTBCXF, #YMLUFDPGUE_DIV, #KEXVXSBZNH, #TWBOJVJHUV, #BIGLLUNRZE, #BGAXFHUKER, #JICLLDYGVB {box-sizing : border-box;}
