.FormDefault {margin:0;position:relative;font-family:Verdana;font-size:8pt;}
INPUT {font-family:Verdana;font-size:8pt;}
SELECT {font-family:Verdana;font-size:8pt;}
TEXTAREA {font-family:Verdana;font-size:8pt;}
IMG {border:0;}
#HSYXZWNPAJ {top:49px;position:absolute;left:90px;height:20px;width:72px;text-align:right;z-index:1; }
#PAPPYKQEFX_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PAPPYKQEFX_DIV {left:4px;height:16px;width:85px;}
BODY[ettl='old'] #PAPPYKQEFX_DIV {left:4px;height:16px;width:85px;}
BODY[ettl='yes'] #PAPPYKQEFX_DIV {right:calc(100% - 89px);}
#FBDNCHLQBR_DIV {top:77px;position:absolute;left:19px;text-align:left;z-index:1;}
BODY:not([ettl]) #FBDNCHLQBR_DIV {height:16px;width:54px;}
BODY[ettl='old'] #FBDNCHLQBR_DIV {height:16px;width:54px;}
#KSPLQNDNGU_DIV {top:77px;position:absolute;left:156px;height:16px;width:119px;text-align:left;z-index:1;}
#JWCXHEBTUS_DIV {top:124px;position:absolute;left:283px;height:16px;width:52px;text-align:left;z-index:1;}
#FPGDZKLSYL_DIV {top:77px;position:absolute;left:283px;height:16px;width:33px;text-align:left;z-index:1;}
#ISUBOHJXOM {top:0px;position:absolute;left:0px;height:16px;width:132px;background-color:Transparent;z-index:1; }
.ISUBOHJXOM {top:0px;position:absolute;left:0px;height:16px;width:132px;background-color:Transparent;z-index:1; }
#PPWFOHVLVZ {top:0px;position:absolute;left:137px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.PPWFOHVLVZ {top:0px;position:absolute;left:137px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #FBDNCHLQBR_DIV {letter-spacing:-1px;}
#PAPPYKQEFX_DIV, #FBDNCHLQBR_DIV, #KSPLQNDNGU_DIV, #JWCXHEBTUS_DIV, #FPGDZKLSYL_DIV {overflow:hidden;}
#HSYXZWNPAJ, #ISUBOHJXOM, .ISUBOHJXOM, #PPWFOHVLVZ, .PPWFOHVLVZ {box-sizing : border-box;}
