.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#QOFJORHBZQ {top:15px;position:absolute;left:203px;height:25px;width:83px;z-index:1; }
#MYGEGBENKK_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
#MYGEGBENKK_DIV>label { line-height: 25px; }
BODY:not([ettl]) #MYGEGBENKK_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #MYGEGBENKK_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #MYGEGBENKK_DIV {right:calc(100% - 201px);}
#FYLJLUVLGL {top:50px;position:absolute;left:203px;height:25px;width:573px;z-index:1; }
#AJSHJURITC_DIV {top:50px;position:absolute;text-align:right;z-index:1;}
#AJSHJURITC_DIV>label { line-height: 25px; }
BODY:not([ettl]) #AJSHJURITC_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #AJSHJURITC_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #AJSHJURITC_DIV {right:calc(100% - 201px);}
#PQFPIILDIC {top:85px;position:absolute;left:203px;height:25px;width:573px;z-index:1; }
#ZMNZCBRQSN_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
#ZMNZCBRQSN_DIV>label { line-height: 25px; }
BODY:not([ettl]) #ZMNZCBRQSN_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #ZMNZCBRQSN_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #ZMNZCBRQSN_DIV {right:calc(100% - 201px);letter-spacing:-1px;}
#QCCDLLTLVF {top:120px;position:absolute;left:203px;height:25px;width:573px;z-index:1; }
#REYAZEAJFD_DIV {top:120px;position:absolute;text-align:right;z-index:1;}
#REYAZEAJFD_DIV>label { line-height: 25px; }
BODY:not([ettl]) #REYAZEAJFD_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #REYAZEAJFD_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #REYAZEAJFD_DIV {right:calc(100% - 201px);}
#NRVROHJQLK {top:155px;position:absolute;left:203px;height:198px;width:573px;overflow:auto;z-index:1; }
#OQPKUKEZLY_DIV {top:155px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OQPKUKEZLY_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #OQPKUKEZLY_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #OQPKUKEZLY_DIV {right:calc(100% - 201px);}
#VIVHVXHTPW {top:15px;position:absolute;left:665px;height:25px;width:111px;text-align:right;z-index:1; }
#XMWWOEOPJF_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
#XMWWOEOPJF_DIV>label { line-height: 25px; }
BODY:not([ettl]) #XMWWOEOPJF_DIV {left:527px;height:25px;width:135px;}
BODY[ettl='old'] #XMWWOEOPJF_DIV {left:527px;height:25px;width:135px;}
BODY[ettl='yes'] #XMWWOEOPJF_DIV {right:calc(100% - 662px);}
#AWNRNTYQVV {top:365px;position:absolute;left:203px;height:25px;width:573px;z-index:1; }
#FMTGBBPLPF_DIV {top:365px;position:absolute;text-align:right;z-index:1;}
#FMTGBBPLPF_DIV>label { line-height: 25px; }
BODY:not([ettl]) #FMTGBBPLPF_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='old'] #FMTGBBPLPF_DIV {left:2px;height:25px;width:199px;}
BODY[ettl='yes'] #FMTGBBPLPF_DIV {right:calc(100% - 201px);}
#MYGEGBENKK_DIV, #AJSHJURITC_DIV, #ZMNZCBRQSN_DIV, #REYAZEAJFD_DIV, #OQPKUKEZLY_DIV, #XMWWOEOPJF_DIV, #FMTGBBPLPF_DIV {overflow:hidden;}
#QOFJORHBZQ, #FYLJLUVLGL, #PQFPIILDIC, #QCCDLLTLVF, #NRVROHJQLK, #VIVHVXHTPW, #AWNRNTYQVV {box-sizing : border-box;}
