.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#CJRLVMMWSK_DIV {top:15px;position:absolute;left:57px;height:25px;width:377px;text-align:left;z-index:1;}
#LDHKZVMTNN_DIV {top:65px;position:absolute;left:57px;height:25px;width:514px;text-align:left;z-index:1;}
#QDPGURJWZK {top:100px;position:absolute;left:210px;height:25px;width:153px;z-index:1; }
#QVTYQJROCD_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
#QVTYQJROCD_DIV>label { line-height: 25px; }
BODY:not([ettl]) #QVTYQJROCD_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='old'] #QVTYQJROCD_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='yes'] #QVTYQJROCD_DIV {right:calc(100% - 201px);}
#JRQGKMZTEH {top:135px;position:absolute;left:210px;height:25px;width:153px;z-index:1; }
#INRIMFQZEF_DIV {top:135px;position:absolute;text-align:right;z-index:1;}
#INRIMFQZEF_DIV>label { line-height: 25px; }
BODY:not([ettl]) #INRIMFQZEF_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='old'] #INRIMFQZEF_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='yes'] #INRIMFQZEF_DIV {right:calc(100% - 201px);}
#WLGONTBMKR {top:170px;position:absolute;left:210px;height:25px;width:153px;z-index:1; }
#RIUCOGNUSI_DIV {top:170px;position:absolute;text-align:right;z-index:1;}
#RIUCOGNUSI_DIV>label { line-height: 25px; }
BODY:not([ettl]) #RIUCOGNUSI_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='old'] #RIUCOGNUSI_DIV {left:5px;height:25px;width:196px;}
BODY[ettl='yes'] #RIUCOGNUSI_DIV {right:calc(100% - 201px);}
#TJIVDOWYFZ_DIV {top:15px;position:absolute;left:57px;height:40px;width:377px;color:#FF0000;text-align:left;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#OCVTPTBPNM {top:185px;position:absolute;left:526px;height:22px;width:47px;text-align:right;z-index:1; }
#HJGOYAFDPY_DIV {top:185px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HJGOYAFDPY_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='old'] #HJGOYAFDPY_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='yes'] #HJGOYAFDPY_DIV {right:calc(100% - 523px);}
#FGAIBUGBSI {top:210px;position:absolute;left:526px;height:22px;width:47px;text-align:right;z-index:1; }
#YSVBRIXOZI_DIV {top:215px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YSVBRIXOZI_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='old'] #YSVBRIXOZI_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='yes'] #YSVBRIXOZI_DIV {right:calc(100% - 523px);}
#MEKWOPJKAZ {top:240px;position:absolute;left:526px;height:22px;width:47px;text-align:right;z-index:1; }
#ALHQOJUXRU_DIV {top:245px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ALHQOJUXRU_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='old'] #ALHQOJUXRU_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='yes'] #ALHQOJUXRU_DIV {right:calc(100% - 523px);}
#BAYVBUTWST {top:265px;position:absolute;left:526px;height:22px;width:47px;text-align:right;z-index:1; }
#TMVAYOSJOV_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TMVAYOSJOV_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='old'] #TMVAYOSJOV_DIV {left:392px;height:18px;width:131px;}
BODY[ettl='yes'] #TMVAYOSJOV_DIV {right:calc(100% - 523px);}
#JEWFKZZWJU_DIV {top:185px;position:absolute;left:593px;height:18px;width:55px;text-align:left;z-index:1;}
#VULSHKPYLK_DIV {top:215px;position:absolute;left:578px;height:18px;width:55px;text-align:left;z-index:1;}
#HSOEINWVPM {top:295px;position:absolute;left:526px;height:22px;width:47px;text-align:right;z-index:1; }
#HITFFRVPXU { height:167px;background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;position:relative;}
#HITFFRVPXU_DIV { position:absolute;z-index:899;width:280px;}
#ESFOZDXNLZ {top:21px;position:absolute;left:7px;height:124px;width:260px;overflow:auto;z-index:1; }
#SQDRAMDHVL {top:185px;position:absolute;left:574px;height:22px;width:16px;z-index:1;}
#AZTVNXSPBF {top:153px;position:absolute;left:392px;height:15px;width:304px;height:15px;right:0px;z-index:1;overflow:auto;}
#XVYWBPODNF_DIV {top:135px;position:absolute;left:392px;height:25px;width:304px;color:#0080C0;text-align:left;z-index:1;}
#XVYWBPODNF_HREF {}
#ZZKRWOJQTG {top:103px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#OTBBXDQDET {top:138px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#OSVFPWEFJH {top:103px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#XEGRJMWYIW {top:138px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#YEUZQGQZIT {top:172px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#SCKKFWHTWV {top:172px;position:absolute;left:367px;color:#808080;font-family:fontawesome-webfont;font-size:15px;cursor:pointer;z-index:1;}
#CJRLVMMWSK_DIV, #LDHKZVMTNN_DIV, #QVTYQJROCD_DIV, #INRIMFQZEF_DIV, #RIUCOGNUSI_DIV, #TJIVDOWYFZ_DIV, #HJGOYAFDPY_DIV, #YSVBRIXOZI_DIV, #ALHQOJUXRU_DIV, #TMVAYOSJOV_DIV, #JEWFKZZWJU_DIV, #VULSHKPYLK_DIV, #HITFFRVPXU, #XVYWBPODNF_DIV {overflow:hidden;}
#QDPGURJWZK, #JRQGKMZTEH, #WLGONTBMKR, #OCVTPTBPNM, #FGAIBUGBSI, #MEKWOPJKAZ, #BAYVBUTWST, #HSOEINWVPM, #HITFFRVPXU, #ESFOZDXNLZ {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'fontawesome-webfont';
src: url('./fonts/fontawesome-webfont.woff2') format('woff2'),
url('./fonts/fontawesome-webfont.woff') format('woff'),
url('./fonts/fontawesome-webfont.ttf') format('ttf');
}
