.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#BXPAETNPNW {top:15px;position:absolute;left:205px;height:25px;width:83px;z-index:1; }
#SNIXYTTVQQ_DIV {top:15px;position:absolute;left:588px;height:25px;width:78px;overflow:hidden;white-space:nowrap;z-index:1; }
#KVKRLLIGYM_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
#KVKRLLIGYM_DIV>label { line-height: 25px; }
BODY:not([ettl]) #KVKRLLIGYM_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #KVKRLLIGYM_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #KVKRLLIGYM_DIV {right:calc(100% - 201px);}
#ZLZSHHUAAO_DIV {top:15px;position:absolute;left:692px;height:25px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#HGEWTTQPUR {top:50px;position:absolute;left:206px;height:25px;width:460px;z-index:1; }
#TZKFFVHPXC_DIV {top:50px;position:absolute;text-align:right;z-index:1;}
#TZKFFVHPXC_DIV>label { line-height: 25px; }
#TZKFFVHPXC_HREF {}
BODY:not([ettl]) #TZKFFVHPXC_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #TZKFFVHPXC_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #TZKFFVHPXC_DIV {right:calc(100% - 201px);}
#DIVZDHWPRQ {top:85px;position:absolute;left:205px;height:25px;width:589px;z-index:1; }
#FSDGYBMNYQ_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
#FSDGYBMNYQ_DIV>label { line-height: 25px; }
BODY:not([ettl]) #FSDGYBMNYQ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #FSDGYBMNYQ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #FSDGYBMNYQ_DIV {right:calc(100% - 201px);}
#XGINRSLGED {top:120px;position:absolute;left:206px;height:105px;width:588px;overflow:auto;z-index:1; }
#CTNJEDTGDD_DIV {top:120px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTNJEDTGDD_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #CTNJEDTGDD_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #CTNJEDTGDD_DIV {right:calc(100% - 201px);}
#THXHMWDAPZ {top:235px;position:absolute;left:205px;height:25px;width:589px;z-index:1; }
#HMQXIQLADZ_DIV {top:235px;position:absolute;text-align:right;z-index:1;}
#HMQXIQLADZ_DIV>label { line-height: 25px; }
BODY:not([ettl]) #HMQXIQLADZ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #HMQXIQLADZ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #HMQXIQLADZ_DIV {right:calc(100% - 201px);}
#QYLTLWYYSH {top:270px;position:absolute;left:205px;height:25px;width:589px;z-index:1; }
#XEBDOBFQBZ_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
#XEBDOBFQBZ_DIV>label { line-height: 25px; }
BODY:not([ettl]) #XEBDOBFQBZ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #XEBDOBFQBZ_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #XEBDOBFQBZ_DIV {right:calc(100% - 201px);}
#LHWJXXROEN {top:305px;position:absolute;left:205px;height:25px;width:589px;z-index:1; }
#DSXRDZXBTT_DIV {top:305px;position:absolute;text-align:right;z-index:1;}
#DSXRDZXBTT_DIV>label { line-height: 25px; }
BODY:not([ettl]) #DSXRDZXBTT_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #DSXRDZXBTT_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #DSXRDZXBTT_DIV {right:calc(100% - 201px);}
#UZJHJSBNKL {top:340px;position:absolute;left:205px;height:25px;width:223px;z-index:1; }
#JKORHAZIKU_DIV {top:340px;position:absolute;left:434px;height:25px;width:234px;overflow:hidden;white-space:nowrap;z-index:1; }
#JLTWHMFXTO_DIV {top:340px;position:absolute;text-align:right;z-index:1;}
#JLTWHMFXTO_DIV>label { line-height: 25px; }
BODY:not([ettl]) #JLTWHMFXTO_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #JLTWHMFXTO_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #JLTWHMFXTO_DIV {right:calc(100% - 201px);}
#LRTLIAYQMN {top:375px;position:absolute;left:205px;height:25px;width:223px;z-index:1; }
#MVNSCJDAFX_DIV {top:375px;position:absolute;text-align:right;z-index:1;}
#MVNSCJDAFX_DIV>label { line-height: 25px; }
BODY:not([ettl]) #MVNSCJDAFX_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #MVNSCJDAFX_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #MVNSCJDAFX_DIV {right:calc(100% - 201px);}
#MRNRGZRDQJ {top:410px;position:absolute;left:205px;height:25px;width:363px;z-index:1; }
#ICRRPRBHAK_DIV {top:410px;position:absolute;text-align:right;z-index:1;}
#ICRRPRBHAK_DIV>label { line-height: 25px; }
BODY:not([ettl]) #ICRRPRBHAK_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #ICRRPRBHAK_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #ICRRPRBHAK_DIV {right:calc(100% - 201px);}
#CUOPMOHONZ {top:445px;position:absolute;left:205px;height:25px;width:363px;z-index:1; }
#QHPVOKFJDL_DIV {top:445px;position:absolute;text-align:right;z-index:1;}
#QHPVOKFJDL_DIV>label { line-height: 25px; }
BODY:not([ettl]) #QHPVOKFJDL_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #QHPVOKFJDL_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #QHPVOKFJDL_DIV {right:calc(100% - 201px);}
#DAMSKDIPPB_DIV {top:480px;position:absolute;left:206px;height:25px;width:276px;overflow:hidden;white-space:nowrap;z-index:1; }
#EYZZDYMIDO {top:165px;position:absolute;left:890px;height:22px;width:111px;z-index:1; }
#LMGRJMFNAF {top:515px;position:absolute;left:206px;height:25px;width:102px;z-index:1; }
#LMGRJMFNAF { vertical-align:middle; }
#ZOTPWYUMVB {top:515px;position:absolute;left:309px;height:25px;width:485px;z-index:1; }
#NCFRRVPJOU_DIV {top:515px;position:absolute;text-align:right;z-index:1;}
#NCFRRVPJOU_DIV>label { line-height: 25px; }
BODY:not([ettl]) #NCFRRVPJOU_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #NCFRRVPJOU_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #NCFRRVPJOU_DIV {right:calc(100% - 201px);}
#GJRUFNPOQO {top:550px;position:absolute;left:206px;height:25px;width:153px;z-index:1; }
#GFKDYWNVED_DIV {top:550px;position:absolute;text-align:right;z-index:1;}
#GFKDYWNVED_DIV>label { line-height: 25px; }
BODY:not([ettl]) #GFKDYWNVED_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #GFKDYWNVED_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #GFKDYWNVED_DIV {right:calc(100% - 201px);}
#ZMJJCHDRPF {top:585px;position:absolute;left:206px;height:25px;width:223px;z-index:1; }
#ZMJJCHDRPF { vertical-align:middle; }
#CPQRMTYZXV_DIV {top:585px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CPQRMTYZXV_DIV {left:-45px;height:25px;width:243px;}
BODY[ettl='old'] #CPQRMTYZXV_DIV {left:-45px;height:25px;width:243px;}
BODY[ettl='yes'] #CPQRMTYZXV_DIV {right:calc(100% - 198px);}
#TWZFAYGLKC_DIV {top:585px;position:absolute;text-align:right;z-index:1;}
#TWZFAYGLKC_DIV>label { line-height: 25px; }
BODY:not([ettl]) #TWZFAYGLKC_DIV {left:473px;height:25px;width:118px;}
BODY[ettl='old'] #TWZFAYGLKC_DIV {left:473px;height:25px;width:118px;}
BODY[ettl='yes'] #TWZFAYGLKC_DIV {right:calc(100% - 591px);}
#FBEIHIJGFG {top:600px;position:absolute;left:599px;height:25px;width:192px;z-index:1; }
#FBEIHIJGFG { vertical-align:middle; }
#HRCRJRTGHT_DIV {top:620px;position:absolute;left:206px;height:25px;width:276px;overflow:hidden;white-space:nowrap;z-index:1; }
#LDPQVCCVLI {top:655px;position:absolute;left:206px;height:25px;width:589px;z-index:1; }
#XRODPYXFDF_DIV {top:655px;position:absolute;text-align:right;z-index:1;}
#XRODPYXFDF_DIV>label { line-height: 25px; }
BODY:not([ettl]) #XRODPYXFDF_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='old'] #XRODPYXFDF_DIV {left:0px;height:25px;width:201px;}
BODY[ettl='yes'] #XRODPYXFDF_DIV {right:calc(100% - 201px);}
#OIOVQVCCYP {top:15px;position:absolute;left:8px;height:240px;width:827px;z-index:1;}
#XNQZSXVGTN {top:15px;position:absolute;left:7px;height:225px;width:648px;z-index:1;}
BODY[ettl='yes'] #SNIXYTTVQQ_DIV, BODY[ettl='yes'] #ZLZSHHUAAO_DIV, BODY[ettl='yes'] #JKORHAZIKU_DIV, BODY[ettl='yes'] #DAMSKDIPPB_DIV, BODY[ettl='yes'] #HRCRJRTGHT_DIV {letter-spacing:-1px;}
#KVKRLLIGYM_DIV, #TZKFFVHPXC_DIV, #FSDGYBMNYQ_DIV, #CTNJEDTGDD_DIV, #HMQXIQLADZ_DIV, #XEBDOBFQBZ_DIV, #DSXRDZXBTT_DIV, #JLTWHMFXTO_DIV, #MVNSCJDAFX_DIV, #ICRRPRBHAK_DIV, #QHPVOKFJDL_DIV, #NCFRRVPJOU_DIV, #GFKDYWNVED_DIV, #CPQRMTYZXV_DIV, #TWZFAYGLKC_DIV, #XRODPYXFDF_DIV {overflow:hidden;}
#BXPAETNPNW, #SNIXYTTVQQ_DIV, #ZLZSHHUAAO_DIV, #HGEWTTQPUR, #DIVZDHWPRQ, #XGINRSLGED, #THXHMWDAPZ, #QYLTLWYYSH, #LHWJXXROEN, #UZJHJSBNKL, #JKORHAZIKU_DIV, #LRTLIAYQMN, #MRNRGZRDQJ, #CUOPMOHONZ, #DAMSKDIPPB_DIV, #EYZZDYMIDO, #LMGRJMFNAF, #ZOTPWYUMVB, #GJRUFNPOQO, #ZMJJCHDRPF, #FBEIHIJGFG, #HRCRJRTGHT_DIV, #LDPQVCCVLI {box-sizing : border-box;}
