.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#LAGKMWCQMG {top:20px;position:absolute;left:202px;height:25px;width:223px;z-index:1; }
#MYDKBZFNNC_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
#MYDKBZFNNC_DIV>label { line-height: 25px; }
BODY:not([ettl]) #MYDKBZFNNC_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='old'] #MYDKBZFNNC_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='yes'] #MYDKBZFNNC_DIV {right:calc(100% - 201px);}
#PJWHAZGJKP {top:55px;position:absolute;left:202px;height:25px;width:363px;z-index:1; }
#EGCZHELFTL_DIV {top:55px;position:absolute;text-align:right;z-index:1;}
#EGCZHELFTL_DIV>label { line-height: 25px; }
BODY:not([ettl]) #EGCZHELFTL_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='old'] #EGCZHELFTL_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='yes'] #EGCZHELFTL_DIV {right:calc(100% - 201px);}
#OJERXEZSWH {top:90px;position:absolute;left:202px;height:25px;width:83px;z-index:1; }
#OJERXEZSWH_ZOOM { position:absolute;top:90px;left:286px;height:25px;width:17px;z-index:1;}
#JVNAUHUFGQ_DIV {top:90px;position:absolute;text-align:right;z-index:1;}
#JVNAUHUFGQ_DIV>label { line-height: 25px; }
BODY:not([ettl]) #JVNAUHUFGQ_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='old'] #JVNAUHUFGQ_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='yes'] #JVNAUHUFGQ_DIV {right:calc(100% - 201px);}
#KDEUPENAMD {top:125px;position:absolute;left:202px;height:25px;width:111px;z-index:1; }
#AABHINDDSS_DIV {top:125px;position:absolute;text-align:right;z-index:1;}
#AABHINDDSS_DIV>label { line-height: 25px; }
BODY:not([ettl]) #AABHINDDSS_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='old'] #AABHINDDSS_DIV {left:65px;height:25px;width:136px;}
BODY[ettl='yes'] #AABHINDDSS_DIV {right:calc(100% - 201px);}
#FGUDUNQBGP {top:90px;position:absolute;left:318px;height:25px;width:223px;z-index:1; }
#MYDKBZFNNC_DIV, #EGCZHELFTL_DIV, #JVNAUHUFGQ_DIV, #AABHINDDSS_DIV {overflow:hidden;}
#LAGKMWCQMG, #PJWHAZGJKP, #OJERXEZSWH, #KDEUPENAMD, #FGUDUNQBGP {box-sizing : border-box;}
