.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#COTTYMIPCR_DIV {top:5px;position:absolute;left:10px;height:25px;width:70px;text-align:left;z-index:1;}
#HTNMIHDFYJ_DIV {top:5px;position:absolute;left:100px;height:25px;width:207px;text-align:left;z-index:1;}
#UHRAVXAEXH_DIV {top:5px;position:absolute;left:370px;height:25px;width:107px;text-align:left;z-index:1;}
#VQNQHWOYIR_DIV {top:5px;position:absolute;left:490px;height:25px;width:107px;text-align:left;z-index:1;}
#WOMZEETYKQ_DIV {top:5px;position:absolute;left:610px;height:25px;width:125px;text-align:left;z-index:1;}
#WLNNNRIURR {top:0px;position:absolute;left:0px;height:24px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#WLNNNRIURR_ZOOM { position:absolute;top:0px;left:65px;height:25px;width:17px;z-index:1;}
.WLNNNRIURR {top:0px;position:absolute;left:0px;height:24px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.WLNNNRIURR_ZOOM { position:absolute;top:0px;left:65px;height:25px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#WLREBYBGNV {top:0px;position:absolute;left:94px;height:24px;width:260px;background-color:Transparent;z-index:1; }
.WLREBYBGNV {top:0px;position:absolute;left:94px;height:24px;width:260px;background-color:Transparent;z-index:1; }
#CSNTCOYGOR {top:0px;position:absolute;left:364px;height:24px;width:89px;text-align:right;background-color:Transparent;z-index:1; }
#CSNTCOYGOR_ZOOM { position:absolute;top:0px;left:454px;height:25px;width:17px;z-index:1;}
.CSNTCOYGOR {top:0px;position:absolute;left:364px;height:24px;width:89px;text-align:right;background-color:Transparent;z-index:1; }
.CSNTCOYGOR_ZOOM { position:absolute;top:0px;left:454px;height:25px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#PMFANIVCDZ {top:0px;position:absolute;left:484px;height:24px;width:89px;text-align:right;background-color:Transparent;z-index:1; }
#PMFANIVCDZ_ZOOM { position:absolute;top:0px;left:574px;height:25px;width:17px;z-index:1;}
.PMFANIVCDZ {top:0px;position:absolute;left:484px;height:24px;width:89px;text-align:right;background-color:Transparent;z-index:1; }
.PMFANIVCDZ_ZOOM { position:absolute;top:0px;left:574px;height:25px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#QXHDPMZCAB {top:6px;position:absolute;left:604px;height:18px;width:118px;background-color:Transparent;z-index:1; }
#QXHDPMZCAB_ZOOM { position:absolute;top:6px;left:723px;height:19px;width:17px;z-index:1;}
.QXHDPMZCAB {top:6px;position:absolute;left:604px;height:18px;width:118px;background-color:Transparent;z-index:1; }
.QXHDPMZCAB_ZOOM { position:absolute;top:6px;left:723px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#COTTYMIPCR_DIV, #HTNMIHDFYJ_DIV, #UHRAVXAEXH_DIV, #VQNQHWOYIR_DIV, #WOMZEETYKQ_DIV {overflow:hidden;}
#WLNNNRIURR, .WLNNNRIURR, #WLREBYBGNV, .WLREBYBGNV, #CSNTCOYGOR, .CSNTCOYGOR, #PMFANIVCDZ, .PMFANIVCDZ, #QXHDPMZCAB, .QXHDPMZCAB {box-sizing : border-box;}
