.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#SEOUYETLZK_DIV {top:4px;position:absolute;left:6px;height:18px;width:102px;text-align:left;z-index:1;}
#QXLWCTRYJN_DIV {top:4px;position:absolute;left:126px;height:18px;width:131px;text-align:left;z-index:1;}
#TJIIWZFXJM_DIV {top:4px;position:absolute;left:261px;height:18px;width:121px;text-align:left;z-index:1;}
#NZYBVMRJHR {top:0px;position:absolute;left:0px;height:18px;width:116px;background-color:Transparent;z-index:1; }
.NZYBVMRJHR {top:0px;position:absolute;left:0px;height:18px;width:116px;background-color:Transparent;z-index:1; }
#QPGPPFLICI {top:0px;position:absolute;left:120px;height:18px;width:113px;text-align:right;background-color:Transparent;z-index:1; }
#QPGPPFLICI_ZOOM { position:absolute;top:0px;left:234px;height:19px;width:17px;z-index:1;}
.QPGPPFLICI {top:0px;position:absolute;left:120px;height:18px;width:113px;text-align:right;background-color:Transparent;z-index:1; }
.QPGPPFLICI_ZOOM { position:absolute;top:0px;left:234px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#QSOCWOMGGI {top:0px;position:absolute;left:255px;height:18px;width:113px;text-align:right;background-color:Transparent;z-index:1; }
#QSOCWOMGGI_ZOOM { position:absolute;top:0px;left:369px;height:19px;width:17px;z-index:1;}
.QSOCWOMGGI {top:0px;position:absolute;left:255px;height:18px;width:113px;text-align:right;background-color:Transparent;z-index:1; }
.QSOCWOMGGI_ZOOM { position:absolute;top:0px;left:369px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#SEOUYETLZK_DIV, #QXLWCTRYJN_DIV, #TJIIWZFXJM_DIV {overflow:hidden;}
#NZYBVMRJHR, .NZYBVMRJHR, #QPGPPFLICI, .QPGPPFLICI, #QSOCWOMGGI, .QSOCWOMGGI {box-sizing : border-box;}
