.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#ROXNXYYWEU {top:39px;position:absolute;left:108px;height:22px;width:363px;z-index:1; }
#SIZORIYAFY {top:72px;position:absolute;left:108px;height:22px;width:55px;text-align:right;z-index:1; }
#TNPTJUMOGJ {top:105px;position:absolute;left:108px;height:22px;width:76px;text-align:right;z-index:1; }
#GDZEAZSMVW {top:138px;position:absolute;left:108px;height:22px;width:41px;text-align:right;z-index:1; }
#LQMKHTCCSC {top:171px;position:absolute;left:108px;height:22px;width:41px;text-align:right;z-index:1; }
#XWWVHCAXZB {top:204px;position:absolute;left:108px;height:22px;width:41px;text-align:right;z-index:1; }
#KFAWPTNVWL {top:237px;position:absolute;left:108px;height:22px;width:41px;text-align:right;z-index:1; }
#IIFQTVQRME_DIV {top:43px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IIFQTVQRME_DIV {left:-32px;height:18px;width:137px;}
BODY[ettl='old'] #IIFQTVQRME_DIV {left:-32px;height:18px;width:137px;}
BODY[ettl='yes'] #IIFQTVQRME_DIV {right:calc(100% - 105px);}
#EBQPGLGRSK_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EBQPGLGRSK_DIV {left:-38px;height:18px;width:143px;}
BODY[ettl='old'] #EBQPGLGRSK_DIV {left:-38px;height:18px;width:143px;}
BODY[ettl='yes'] #EBQPGLGRSK_DIV {right:calc(100% - 105px);}
#DSSDFIPKBY_DIV {top:109px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DSSDFIPKBY_DIV {left:-27px;height:18px;width:132px;}
BODY[ettl='old'] #DSSDFIPKBY_DIV {left:-27px;height:18px;width:132px;}
BODY[ettl='yes'] #DSSDFIPKBY_DIV {right:calc(100% - 105px);}
#ZNRGKRXGNT_DIV {top:142px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZNRGKRXGNT_DIV {left:3px;height:18px;width:102px;}
BODY[ettl='old'] #ZNRGKRXGNT_DIV {left:3px;height:18px;width:102px;}
BODY[ettl='yes'] #ZNRGKRXGNT_DIV {right:calc(100% - 105px);}
#WBCURQFMJW_DIV {top:175px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WBCURQFMJW_DIV {left:9px;height:18px;width:96px;}
BODY[ettl='old'] #WBCURQFMJW_DIV {left:9px;height:18px;width:96px;}
BODY[ettl='yes'] #WBCURQFMJW_DIV {right:calc(100% - 105px);}
#AKREJEBGRV_DIV {top:208px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AKREJEBGRV_DIV {left:9px;height:18px;width:96px;}
BODY[ettl='old'] #AKREJEBGRV_DIV {left:9px;height:18px;width:96px;}
BODY[ettl='yes'] #AKREJEBGRV_DIV {right:calc(100% - 105px);}
#ZMSTDSCBON_DIV {top:241px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZMSTDSCBON_DIV {left:5px;height:18px;width:100px;}
BODY[ettl='old'] #ZMSTDSCBON_DIV {left:5px;height:18px;width:100px;}
BODY[ettl='yes'] #ZMSTDSCBON_DIV {right:calc(100% - 105px);}
#IIFQTVQRME_DIV, #EBQPGLGRSK_DIV, #DSSDFIPKBY_DIV, #ZNRGKRXGNT_DIV, #WBCURQFMJW_DIV, #AKREJEBGRV_DIV, #ZMSTDSCBON_DIV {overflow:hidden;}
#ROXNXYYWEU, #SIZORIYAFY, #TNPTJUMOGJ, #GDZEAZSMVW, #LQMKHTCCSC, #XWWVHCAXZB, #KFAWPTNVWL {box-sizing : border-box;}
