.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#NIIFDUHRBQ {top:30px;position:absolute;left:606px;height:22px;width:83px;z-index:1; }
#DEWPHIPEBI_DIV {top:10px;position:absolute;left:11px;height:25px;width:139px;text-align:left;z-index:1;}
#LYDVWZOYTB_DIV {top:10px;position:absolute;left:138px;height:25px;width:200px;text-align:left;z-index:1;}
#FPUPHODRZY {top:0px;position:absolute;left:0px;height:25px;width:121px;z-index:1; }
#FPUPHODRZY { vertical-align:middle; }
.FPUPHODRZY {top:0px;position:absolute;left:0px;height:25px;width:121px;z-index:1; }
#ROTQXTGDQV {top:0px;position:absolute;left:127px;height:25px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
#ROTQXTGDQV_ZOOM { position:absolute;top:0px;left:183px;height:26px;width:17px;z-index:1;}
.ROTQXTGDQV {top:0px;position:absolute;left:127px;height:25px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
.ROTQXTGDQV_ZOOM { position:absolute;top:0px;left:183px;height:26px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#XHHDJCAPOZ {top:0px;position:absolute;left:127px;height:25px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
#XHHDJCAPOZ_ZOOM { position:absolute;top:0px;left:183px;height:26px;width:17px;z-index:1;}
.XHHDJCAPOZ {top:0px;position:absolute;left:127px;height:25px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
.XHHDJCAPOZ_ZOOM { position:absolute;top:0px;left:183px;height:26px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#WWAXDSWHMO {top:0px;position:absolute;left:207px;height:25px;width:363px;background-color:Transparent;z-index:1; }
.WWAXDSWHMO {top:0px;position:absolute;left:207px;height:25px;width:363px;background-color:Transparent;z-index:1; }
#NHPLJCHIJC {top:0px;position:absolute;left:207px;height:25px;width:363px;background-color:Transparent;z-index:1; }
.NHPLJCHIJC {top:0px;position:absolute;left:207px;height:25px;width:363px;background-color:Transparent;z-index:1; }
#DEWPHIPEBI_DIV, #LYDVWZOYTB_DIV {overflow:hidden;}
#NIIFDUHRBQ, #FPUPHODRZY, .FPUPHODRZY, #ROTQXTGDQV, .ROTQXTGDQV, #XHHDJCAPOZ, .XHHDJCAPOZ, #WWAXDSWHMO, .WWAXDSWHMO, #NHPLJCHIJC, .NHPLJCHIJC {box-sizing : border-box;}
