.FormDefault {margin:0;position:relative;font-family:Verdana;font-size:9pt;}
INPUT {font-family:Verdana;font-size:9pt;}
SELECT {font-family:Verdana;font-size:9pt;}
TEXTAREA {font-family:Verdana;font-size:9pt;}
IMG {border:0;}
#JWFUQHQPUG {top:25px;position:absolute;left:205px;height:25px;width:83px;z-index:1; }
#AHFHUBKHBW_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AHFHUBKHBW_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='old'] #AHFHUBKHBW_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='yes'] #AHFHUBKHBW_DIV {right:calc(100% - 200px);}
#YGIZDTNCWH {top:60px;position:absolute;left:205px;height:25px;width:223px;z-index:1; }
#CKZXZDDNCH_DIV {top:60px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CKZXZDDNCH_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='old'] #CKZXZDDNCH_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='yes'] #CKZXZDDNCH_DIV {right:calc(100% - 200px);}
#JZYFFSWJOU {top:95px;position:absolute;left:205px;height:25px;width:433px;z-index:1; }
#JHGFVWNVYJ_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JHGFVWNVYJ_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='old'] #JHGFVWNVYJ_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='yes'] #JHGFVWNVYJ_DIV {right:calc(100% - 200px);}
#RVFUZEGWSR_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RVFUZEGWSR_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='old'] #RVFUZEGWSR_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='yes'] #RVFUZEGWSR_DIV {right:calc(100% - 200px);}
#QENAHXGKZP {top:200px;position:absolute;left:205px;height:25px;width:255px;font-family:Verdana;font-size:9pt;z-index:1;}
#CTNCYJEQGE {top:165px;position:absolute;left:205px;height:25px;width:433px;z-index:1; }
#OJYDANVTYQ {top:130px;position:absolute;left:205px;height:25px;width:433px;z-index:1; }
#OJYDANVTYQ { vertical-align:middle; }
#FHRQYPOHRN_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FHRQYPOHRN_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='old'] #FHRQYPOHRN_DIV {left:0px;height:25px;width:200px;}
BODY[ettl='yes'] #FHRQYPOHRN_DIV {right:calc(100% - 200px);}
#FTWSNQIXUU_DIV {top:235px;position:absolute;left:205px;height:25px;width:232px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #FTWSNQIXUU_DIV {letter-spacing:-1px;}
#AHFHUBKHBW_DIV, #CKZXZDDNCH_DIV, #JHGFVWNVYJ_DIV, #RVFUZEGWSR_DIV, #FHRQYPOHRN_DIV {overflow:hidden;}
#JWFUQHQPUG, #YGIZDTNCWH, #JZYFFSWJOU, #CTNCYJEQGE, #OJYDANVTYQ, #FTWSNQIXUU_DIV {box-sizing : border-box;}
