.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#FETUPRQQAZ {top:30px;position:absolute;left:208px;height:25px;width:83px;z-index:1; }
#TMQXCKCZQK_DIV {top:30px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TMQXCKCZQK_DIV {left:87px;height:25px;width:114px;}
BODY[ettl='old'] #TMQXCKCZQK_DIV {left:87px;height:25px;width:114px;}
BODY[ettl='yes'] #TMQXCKCZQK_DIV {right:calc(100% - 201px);}
#CSZNONIHWO {top:65px;position:absolute;left:208px;height:25px;width:503px;z-index:1; }
#MVQRZAUKCD_DIV {top:65px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MVQRZAUKCD_DIV {left:87px;height:25px;width:114px;}
BODY[ettl='old'] #MVQRZAUKCD_DIV {left:87px;height:25px;width:114px;}
BODY[ettl='yes'] #MVQRZAUKCD_DIV {right:calc(100% - 201px);}
#KXQZZAOVGI_DIV {top:100px;position:absolute;left:206px;height:25px;width:226px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #KXQZZAOVGI_DIV {letter-spacing:-1px;}
#TMQXCKCZQK_DIV, #MVQRZAUKCD_DIV {overflow:hidden;}
#FETUPRQQAZ, #CSZNONIHWO, #KXQZZAOVGI_DIV {box-sizing : border-box;}
