.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#KETCZPSXKD {top:23px;position:absolute;left:62px;height:22px;width:397px;z-index:1; }
#EQCGQLVPJU_DIV {top:27px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQCGQLVPJU_DIV {left:27px;height:18px;width:34px;}
BODY[ettl='old'] #EQCGQLVPJU_DIV {left:27px;height:18px;width:34px;}
BODY[ettl='yes'] #EQCGQLVPJU_DIV {right:calc(100% - 61px);}
#ZPLLDHVTOQ {top:46px;position:absolute;left:62px;height:22px;width:76px;text-align:right;z-index:1; }
#YEBKADFXLA_DIV {top:50px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YEBKADFXLA_DIV {left:23px;height:18px;width:38px;}
BODY[ettl='old'] #YEBKADFXLA_DIV {left:23px;height:18px;width:38px;}
BODY[ettl='yes'] #YEBKADFXLA_DIV {right:calc(100% - 61px);}
#EQCGQLVPJU_DIV, #YEBKADFXLA_DIV {overflow:hidden;}
#KETCZPSXKD, #ZPLLDHVTOQ {box-sizing : border-box;}
