.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#AGYUYJEUTN {top:8px;position:absolute;left:110px;height:25px;width:45px;z-index:1; }
#ODXEWVVOHX_DIV {top:8px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ODXEWVVOHX_DIV {left:9px;height:25px;width:94px;}
BODY[ettl='old'] #ODXEWVVOHX_DIV {left:9px;height:25px;width:94px;}
BODY[ettl='yes'] #ODXEWVVOHX_DIV {right:calc(100% - 103px);}
#SDVBSZNZRJ {top:43px;position:absolute;left:110px;height:25px;width:188px;z-index:1; }
#XCAVHOMIJB_DIV {top:43px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XCAVHOMIJB_DIV {left:24px;height:25px;width:79px;}
BODY[ettl='old'] #XCAVHOMIJB_DIV {left:24px;height:25px;width:79px;}
BODY[ettl='yes'] #XCAVHOMIJB_DIV {right:calc(100% - 103px);}
#GQOYGTJJUD_DIV {top:78px;position:absolute;left:108px;height:25px;width:195px;overflow:hidden;white-space:nowrap;z-index:1; }
#KXQZZAOVGI_DIV {top:113px;position:absolute;left:108px;height:25px;width:247px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #GQOYGTJJUD_DIV, BODY[ettl='yes'] #KXQZZAOVGI_DIV {letter-spacing:-1px;}
#ODXEWVVOHX_DIV, #XCAVHOMIJB_DIV {overflow:hidden;}
#AGYUYJEUTN, #SDVBSZNZRJ, #GQOYGTJJUD_DIV, #KXQZZAOVGI_DIV {box-sizing : border-box;}
