.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#NBMHJRJGQX {top:14px;position:absolute;left:1650px;height:22px;width:83px;z-index:1; }
#KHBDKLNADV {top:13px;position:absolute;left:1650px;height:22px;width:83px;text-align:right;z-index:1; }
#UALKXPJWBM_DIV {top:2px;position:absolute;left:5px;height:18px;width:598px;text-align:left;z-index:1;}
#OKVVWUCLCV_DIV {top:2px;position:absolute;left:606px;height:18px;width:598px;text-align:left;z-index:1;}
#RMCEGUPVLI_DIV {top:2px;position:absolute;left:1211px;height:18px;width:406px;text-align:left;z-index:1;}
#PWBPXBGJRH {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#PWBPXBGJRH_ZOOM { position:absolute;top:0px;left:84px;height:19px;width:17px;z-index:1;}
.PWBPXBGJRH {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.PWBPXBGJRH_ZOOM { position:absolute;top:0px;left:84px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#OSQTGJONIV {top:0px;position:absolute;left:601px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#OSQTGJONIV_ZOOM { position:absolute;top:0px;left:685px;height:19px;width:17px;z-index:1;}
.OSQTGJONIV {top:0px;position:absolute;left:601px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.OSQTGJONIV_ZOOM { position:absolute;top:0px;left:685px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#GIWDXVTDUW {top:0px;position:absolute;left:1206px;height:87px;width:406px;overflow:auto;background-color:Transparent;z-index:1; }
.GIWDXVTDUW {top:0px;position:absolute;left:1206px;height:87px;width:406px;overflow:auto;background-color:Transparent;z-index:1; }
#GOHQRSLEQN {top:0px;position:absolute;left:106px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.GOHQRSLEQN {top:0px;position:absolute;left:106px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#AOKURBYNFX {top:0px;position:absolute;left:195px;height:87px;width:400px;overflow:auto;background-color:Transparent;z-index:1; }
.AOKURBYNFX {top:0px;position:absolute;left:195px;height:87px;width:400px;overflow:auto;background-color:Transparent;z-index:1; }
#NXPQVKMXKS {top:0px;position:absolute;left:704px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.NXPQVKMXKS {top:0px;position:absolute;left:704px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#PSHCVHVAPS {top:0px;position:absolute;left:791px;height:87px;width:400px;overflow:auto;background-color:Transparent;z-index:1; }
.PSHCVHVAPS {top:0px;position:absolute;left:791px;height:87px;width:400px;overflow:auto;background-color:Transparent;z-index:1; }
#UALKXPJWBM_DIV, #OKVVWUCLCV_DIV, #RMCEGUPVLI_DIV {overflow:hidden;}
#NBMHJRJGQX, #KHBDKLNADV, #PWBPXBGJRH, .PWBPXBGJRH, #OSQTGJONIV, .OSQTGJONIV, #GIWDXVTDUW, .GIWDXVTDUW, #GOHQRSLEQN, .GOHQRSLEQN, #AOKURBYNFX, .AOKURBYNFX, #NXPQVKMXKS, .NXPQVKMXKS, #PSHCVHVAPS, .PSHCVHVAPS {box-sizing : border-box;}
