.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#ZZCYHWIBYI {top:21px;position:absolute;left:1488px;height:22px;width:83px;z-index:1; }
#VCVGRLKIYI {top:44px;position:absolute;left:1488px;height:22px;width:83px;z-index:1; }
#KSVRAIFHEU_DIV {top:16px;position:absolute;left:1488px;height:23px;width:163px;overflow:hidden;white-space:nowrap;z-index:1; }
#LZTSHRFCON_DIV {top:1px;position:absolute;left:5px;height:18px;width:83px;text-align:left;z-index:1;}
#QETIXKMQMF_DIV {top:1px;position:absolute;left:91px;height:18px;width:885px;text-align:left;z-index:1;}
#AATZTVXUOM_DIV {top:1px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AATZTVXUOM_DIV {left:980px;height:18px;width:118px;}
BODY[ettl='old'] #AATZTVXUOM_DIV {left:980px;height:18px;width:118px;}
BODY[ettl='yes'] #AATZTVXUOM_DIV {right:calc(100% - 1098px);}
#ALDLRRKGHX_DIV {top:1px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ALDLRRKGHX_DIV {left:1100px;height:18px;width:55px;}
BODY[ettl='old'] #ALDLRRKGHX_DIV {left:1100px;height:18px;width:55px;}
BODY[ettl='yes'] #ALDLRRKGHX_DIV {right:calc(100% - 1155px);}
#OLTCDBKKZK_DIV {top:1px;position:absolute;left:1157px;height:18px;width:134px;text-align:left;z-index:1;}
#NCBLOOVGYK_DIV {top:1px;position:absolute;left:1294px;height:18px;width:112px;text-align:left;z-index:1;}
#KQDZVNZECK {top:70px;position:absolute;left:1488px;height:22px;width:83px;z-index:1; }
#MXXMCLALYG {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.MXXMCLALYG {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#KWRCVYJSPV {top:0px;position:absolute;left:86px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
.KWRCVYJSPV {top:0px;position:absolute;left:86px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
#NGUCJOKSKM {top:0px;position:absolute;left:105px;height:18px;width:868px;overflow:auto;background-color:Transparent;z-index:1; }
.NGUCJOKSKM {top:0px;position:absolute;left:105px;height:18px;width:868px;overflow:auto;background-color:Transparent;z-index:1; }
#YPEGROOCHF {top:0px;position:absolute;left:975px;height:18px;width:118px;text-align:right;background-color:Transparent;z-index:1; }
.YPEGROOCHF {top:0px;position:absolute;left:975px;height:18px;width:118px;text-align:right;background-color:Transparent;z-index:1; }
#VDSUAVUBNI {top:0px;position:absolute;left:1095px;height:18px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
.VDSUAVUBNI {top:0px;position:absolute;left:1095px;height:18px;width:55px;text-align:right;background-color:Transparent;z-index:1; }
#OIJUVIXRQN_DIV {top:0px;position:absolute;left:1152px;height:19px;width:134px;overflow:hidden;white-space:nowrap;z-index:1; }
.OIJUVIXRQN_DIV {top:0px;position:absolute;left:1152px;height:19px;width:134px;overflow:hidden;white-space:nowrap;z-index:1; }
#ACJAWRNAVO_DIV {top:0px;position:absolute;left:1289px;height:19px;width:136px;overflow:hidden;white-space:nowrap;z-index:1; }
.ACJAWRNAVO_DIV {top:0px;position:absolute;left:1289px;height:19px;width:136px;overflow:hidden;white-space:nowrap;z-index:1; }
#VGASZRXNOJ { height:96px;background-color:#C0C0C0;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;position:relative;}
#VGASZRXNOJ_DIV {z-index:899;width:1399px;}
#ATCXZHNKXY {top:4px;position:absolute;left:4px;height:78px;width:1369px;overflow:auto;z-index:1; }
#TVQHCLXOGQ {top:60px;position:absolute;left:1377px;color:#000000;font-family:icons8_win10;font-size:20px;cursor:pointer;z-index:1;}
#LZTSHRFCON_DIV, #QETIXKMQMF_DIV, #AATZTVXUOM_DIV, #ALDLRRKGHX_DIV, #OLTCDBKKZK_DIV, #NCBLOOVGYK_DIV, #VGASZRXNOJ {overflow:hidden;}
#ZZCYHWIBYI, #VCVGRLKIYI, #KSVRAIFHEU_DIV, #KQDZVNZECK, #MXXMCLALYG, .MXXMCLALYG, #NGUCJOKSKM, .NGUCJOKSKM, #YPEGROOCHF, .YPEGROOCHF, #VDSUAVUBNI, .VDSUAVUBNI, #OIJUVIXRQN_DIV, .OIJUVIXRQN_DIV, #ACJAWRNAVO_DIV, .ACJAWRNAVO_DIV, #VGASZRXNOJ, #ATCXZHNKXY {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
