.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#LNSBOLUCRM {top:13px;position:absolute;left:1257px;height:22px;width:83px;z-index:1; }
#ILPNZWVGRZ {top:15px;position:absolute;left:1257px;height:22px;width:83px;z-index:1; }
#STIWBITFVZ_DIV {top:1px;position:absolute;left:1px;height:18px;width:138px;text-align:left;z-index:1;}
#SCYMKSACPR_DIV {top:1px;position:absolute;left:142px;height:18px;width:197px;text-align:left;z-index:1;}
#DGTNNOYUNI_DIV {top:1px;position:absolute;left:347px;height:18px;width:889px;text-align:left;z-index:1;}
#BBCHCNQIRI {top:0px;position:absolute;left:0px;height:18px;width:138px;background-color:Transparent;z-index:1; }
.BBCHCNQIRI {top:0px;position:absolute;left:0px;height:18px;width:138px;background-color:Transparent;z-index:1; }
#HLHLHCXGMT {top:0px;position:absolute;left:141px;height:18px;width:202px;background-color:Transparent;z-index:1; }
.HLHLHCXGMT {top:0px;position:absolute;left:141px;height:18px;width:202px;background-color:Transparent;z-index:1; }
#KWRCVYJSPV {top:0px;position:absolute;left:346px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
.KWRCVYJSPV {top:0px;position:absolute;left:346px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
#BBEEHSSDFM {top:0px;position:absolute;left:367px;height:18px;width:868px;overflow:auto;background-color:Transparent;z-index:1; }
.BBEEHSSDFM {top:0px;position:absolute;left:367px;height:18px;width:868px;overflow:auto;background-color:Transparent;z-index:1; }
#VGASZRXNOJ { height:77px;background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;position:relative;}
#VGASZRXNOJ_DIV {z-index:899;width:1236px;}
#ATCXZHNKXY {top:1px;position:absolute;left:-1px;height:71px;width:1232px;overflow:auto;z-index:1; }
#STIWBITFVZ_DIV, #SCYMKSACPR_DIV, #DGTNNOYUNI_DIV, #VGASZRXNOJ {overflow:hidden;}
#LNSBOLUCRM, #ILPNZWVGRZ, #BBCHCNQIRI, .BBCHCNQIRI, #HLHLHCXGMT, .HLHLHCXGMT, #BBEEHSSDFM, .BBEEHSSDFM, #VGASZRXNOJ, #ATCXZHNKXY {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
