.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#ACPSBOFDKQ {top:8px;position:absolute;left:1316px;height:22px;width:83px;z-index:1; }
#BJEPNVQTTI_DIV {top:1px;position:absolute;left:1px;height:18px;width:116px;text-align:left;z-index:1;}
#EHNCCRAZSJ_DIV {top:1px;position:absolute;left:120px;height:18px;width:167px;text-align:left;z-index:1;}
#TMVRTXYLAV_DIV {top:1px;position:absolute;left:291px;height:18px;width:944px;text-align:left;z-index:1;}
#ROSLSYYTGJ {z-index:0;}
#ROSLSYYTGJ_DIV { position:relative;z-index:0;width:100%;}
#ZURPIOBYMT {z-index:0;}
#ZURPIOBYMT_DIV { position:relative;z-index:0;width:100%;}
#UZHWXXEKCO {top:0px;position:absolute;left:0px;height:18px;width:116px;background-color:Transparent;z-index:1; }
.UZHWXXEKCO {top:0px;position:absolute;left:0px;height:18px;width:116px;background-color:Transparent;z-index:1; }
#EALKDPXAET {top:0px;position:absolute;left:119px;height:18px;width:167px;background-color:Transparent;z-index:1; }
.EALKDPXAET {top:0px;position:absolute;left:119px;height:18px;width:167px;background-color:Transparent;z-index:1; }
#KWRCVYJSPV {top:0px;position:absolute;left:290px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
.KWRCVYJSPV {top:0px;position:absolute;left:290px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
#YMZFJACJWK {top:0px;position:absolute;left:313px;height:18px;width:932px;overflow:auto;background-color:Transparent;z-index:1; }
.YMZFJACJWK {top:0px;position:absolute;left:313px;height:18px;width:932px;overflow:auto;background-color:Transparent;z-index:1; }
#ABXVVUNOEJ { position:relative;height:200px;width:1285px;left:1px;z-index:1;}
#VGASZRXNOJ { height:77px;background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;position:relative;}
#VGASZRXNOJ_DIV {z-index:899;width:1245px;}
#ATCXZHNKXY {top:0px;position:absolute;left:0px;height:72px;width:1240px;overflow:auto;z-index:1; }
#BJEPNVQTTI_DIV, #EHNCCRAZSJ_DIV, #TMVRTXYLAV_DIV, #ROSLSYYTGJ, #ZURPIOBYMT, #VGASZRXNOJ {overflow:hidden;}
#ACPSBOFDKQ, #ROSLSYYTGJ, #ZURPIOBYMT, #UZHWXXEKCO, .UZHWXXEKCO, #EALKDPXAET, .EALKDPXAET, #YMZFJACJWK, .YMZFJACJWK, #VGASZRXNOJ, #ATCXZHNKXY {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
