.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#SZHUMIRICR {top:2px;position:absolute;left:96px;height:22px;width:83px;z-index:1; }
#BBHSFPEDRQ_DIV {top:6px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BBHSFPEDRQ_DIV {left:4px;height:18px;width:91px;}
BODY[ettl='old'] #BBHSFPEDRQ_DIV {left:4px;height:18px;width:91px;}
BODY[ettl='yes'] #BBHSFPEDRQ_DIV {right:calc(100% - 95px);}
#DYVTZPSSRP {top:2px;position:absolute;left:201px;height:22px;width:1259px;z-index:1; }
#RKOALHIEPO_DIV {top:27px;position:absolute;left:5px;height:18px;width:555px;text-align:left;z-index:1;}
#SNDESTNZNX_DIV {top:27px;position:absolute;left:565px;height:18px;width:155px;text-align:left;z-index:1;}
#PPPOYREQRK_DIV {top:27px;position:absolute;left:742px;height:18px;width:718px;text-align:left;z-index:1;}
#VWBPGQDWQK {z-index:0;}
#VWBPGQDWQK_DIV { position:relative;z-index:0;width:100%;}
#GEDEJOLMRB {z-index:0;}
#GEDEJOLMRB_DIV { position:relative;z-index:0;width:100%;}
#TRQBYTHAVX {top:0px;position:absolute;left:0px;height:18px;width:555px;background-color:Transparent;z-index:1; }
.TRQBYTHAVX {top:0px;position:absolute;left:0px;height:18px;width:555px;background-color:Transparent;z-index:1; }
#SOAYACQNFI {top:0px;position:absolute;left:560px;height:18px;width:155px;text-align:right;background-color:Transparent;z-index:1; }
#SOAYACQNFI_ZOOM { position:absolute;top:0px;left:716px;height:19px;width:17px;z-index:1;}
.SOAYACQNFI {top:0px;position:absolute;left:560px;height:18px;width:155px;text-align:right;background-color:Transparent;z-index:1; }
.SOAYACQNFI_ZOOM { position:absolute;top:0px;left:716px;height:19px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#AQPVNJGWDF {top:0px;position:absolute;left:737px;height:18px;width:718px;background-color:Transparent;z-index:1; }
.AQPVNJGWDF {top:0px;position:absolute;left:737px;height:18px;width:718px;background-color:Transparent;z-index:1; }
#IXXAERLMUY { position:relative;height:522px;width:1774px;left:2px;z-index:1;}
#BBHSFPEDRQ_DIV, #RKOALHIEPO_DIV, #SNDESTNZNX_DIV, #PPPOYREQRK_DIV, #VWBPGQDWQK, #GEDEJOLMRB {overflow:hidden;}
#SZHUMIRICR, #DYVTZPSSRP, #VWBPGQDWQK, #GEDEJOLMRB, #TRQBYTHAVX, .TRQBYTHAVX, #SOAYACQNFI, .SOAYACQNFI, #AQPVNJGWDF, .AQPVNJGWDF {box-sizing : border-box;}
