.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#QOPKWXJPKL {top:7px;position:absolute;left:824px;height:20px;width:108px;z-index:1; }
#INHXXZSCAR {top:7px;position:absolute;left:120px;height:20px;width:72px;text-align:right;z-index:1; }
#INHXXZSCAR_ZOOM { position:absolute;top:7px;left:193px;height:20px;width:17px;z-index:1;}
#TUNRJJUTGZ_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TUNRJJUTGZ_DIV {left:0px;height:16px;width:119px;}
BODY[ettl='old'] #TUNRJJUTGZ_DIV {left:0px;height:16px;width:119px;}
BODY[ettl='yes'] #TUNRJJUTGZ_DIV {right:calc(100% - 119px);}
#GOROYGEXRL {top:35px;position:absolute;left:120px;height:20px;width:88px;z-index:1; }
#GOROYGEXRL_ZOOM { position:absolute;top:35px;left:209px;height:20px;width:17px;z-index:1;}
#NDLAECZVXA_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NDLAECZVXA_DIV {left:41px;height:16px;width:78px;}
BODY[ettl='old'] #NDLAECZVXA_DIV {left:41px;height:16px;width:78px;}
BODY[ettl='yes'] #NDLAECZVXA_DIV {right:calc(100% - 119px);letter-spacing:-1px;}
#TLJVJOGKAK_DIV {top:63px;position:absolute;left:8px;height:16px;width:72px;text-align:left;z-index:1;}
#JYMZKNEJIO_DIV {top:63px;position:absolute;left:624px;text-align:left;z-index:1;}
BODY:not([ettl]) #JYMZKNEJIO_DIV {height:16px;width:74px;}
BODY[ettl='old'] #JYMZKNEJIO_DIV {height:16px;width:74px;}
#CRQBUMLMOU {top:35px;position:absolute;left:224px;height:20px;width:712px;z-index:1; }
#VVCNKCWPNA_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VVCNKCWPNA_DIV {left:672px;height:16px;width:152px;}
BODY[ettl='old'] #VVCNKCWPNA_DIV {left:672px;height:16px;width:152px;}
BODY[ettl='yes'] #VVCNKCWPNA_DIV {right:calc(100% - 824px);}
#IGINWTGEOG_DIV {top:294px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IGINWTGEOG_DIV {left:152px;height:16px;width:80px;}
BODY[ettl='old'] #IGINWTGEOG_DIV {left:152px;height:16px;width:80px;}
BODY[ettl='yes'] #IGINWTGEOG_DIV {right:calc(100% - 232px);letter-spacing:-1px;}
#YTRSZBFLPF {top:0px;position:absolute;left:0px;height:16px;width:88px;background-color:Transparent;z-index:1; }
#YTRSZBFLPF_ZOOM { position:absolute;top:0px;left:89px;height:17px;width:17px;z-index:1;}
.YTRSZBFLPF {top:0px;position:absolute;left:0px;height:16px;width:88px;background-color:Transparent;z-index:1; }
.YTRSZBFLPF_ZOOM { position:absolute;top:0px;left:89px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#AIIXUOGHMQ {top:0px;position:absolute;left:616px;height:16px;width:80px;background-color:Transparent;z-index:1; }
#AIIXUOGHMQ_ZOOM { position:absolute;top:0px;left:697px;height:17px;width:17px;z-index:1;}
.AIIXUOGHMQ {top:0px;position:absolute;left:616px;height:16px;width:80px;background-color:Transparent;z-index:1; }
.AIIXUOGHMQ_ZOOM { position:absolute;top:0px;left:697px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#ZRXVZSLZII {top:294px;position:absolute;left:232px;height:175px;width:832px;overflow:auto;z-index:1; }
#GAQLFVLCMG {top:0px;position:absolute;left:112px;height:16px;width:72px;background-color:Transparent;z-index:1; }
.GAQLFVLCMG {top:0px;position:absolute;left:112px;height:16px;width:72px;background-color:Transparent;z-index:1; }
#MRVGSJSKMR {top:0px;position:absolute;left:200px;height:16px;width:408px;overflow:auto;background-color:Transparent;z-index:1; }
.MRVGSJSKMR {top:0px;position:absolute;left:200px;height:16px;width:408px;overflow:auto;background-color:Transparent;z-index:1; }
#IDTVCEOZJZ {top:0px;position:absolute;left:720px;height:16px;width:80px;background-color:Transparent;z-index:1; }
.IDTVCEOZJZ {top:0px;position:absolute;left:720px;height:16px;width:80px;background-color:Transparent;z-index:1; }
#TKUWOKAOHM {top:0px;position:absolute;left:808px;height:16px;width:408px;overflow:auto;background-color:Transparent;z-index:1; }
.TKUWOKAOHM {top:0px;position:absolute;left:808px;height:16px;width:408px;overflow:auto;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #JYMZKNEJIO_DIV {letter-spacing:-1px;}
#TUNRJJUTGZ_DIV, #NDLAECZVXA_DIV, #TLJVJOGKAK_DIV, #JYMZKNEJIO_DIV, #VVCNKCWPNA_DIV, #IGINWTGEOG_DIV {overflow:hidden;}
#QOPKWXJPKL, #INHXXZSCAR, #GOROYGEXRL, #CRQBUMLMOU, #YTRSZBFLPF, .YTRSZBFLPF, #AIIXUOGHMQ, .AIIXUOGHMQ, #ZRXVZSLZII, #GAQLFVLCMG, .GAQLFVLCMG, #MRVGSJSKMR, .MRVGSJSKMR, #IDTVCEOZJZ, .IDTVCEOZJZ, #TKUWOKAOHM, .TKUWOKAOHM {box-sizing : border-box;}
