.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#UUNKNVCACF {top:15px;position:absolute;left:1550px;height:22px;width:83px;z-index:1; }
#QOEOGAAKRA_DIV {top:10px;position:absolute;left:1547px;height:23px;width:150px;overflow:hidden;white-space:nowrap;z-index:1; }
#SJKZCMGATM_DIV {top:2px;position:absolute;left:9px;height:18px;width:83px;text-align:left;z-index:1;}
#RNELIZWMMU_DIV {top:2px;position:absolute;left:95px;height:18px;width:951px;text-align:left;z-index:1;}
#ADJQSVHTLQ_DIV {top:2px;position:absolute;left:1052px;height:18px;width:108px;text-align:left;z-index:1;}
#ZOQIOKZNYK_DIV {top:2px;position:absolute;left:1164px;height:18px;width:108px;text-align:left;z-index:1;}
#ROSLSYYTGJ {z-index:0;}
#ROSLSYYTGJ_DIV { position:relative;z-index:0;width:100%;}
#ZURPIOBYMT {z-index:0;}
#ZURPIOBYMT_DIV { position:relative;z-index:0;width:100%;}
#ATQBDCKYMD {top:41px;position:absolute;left:1551px;height:22px;width:83px;z-index:1; }
#CFHSVGUQQV {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
.CFHSVGUQQV {top:0px;position:absolute;left:0px;height:18px;width:83px;background-color:Transparent;z-index:1; }
#UKGCIDRELX {top:0px;position:absolute;left:86px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
.UKGCIDRELX {top:0px;position:absolute;left:86px;color:#000000;font-family:icons8_win10;font-size:14px;cursor:pointer;border-style:none;z-index:3;}
#NMPXBKDZYD {top:0px;position:absolute;left:107px;height:18px;width:932px;overflow:auto;background-color:Transparent;z-index:1; }
.NMPXBKDZYD {top:0px;position:absolute;left:107px;height:18px;width:932px;overflow:auto;background-color:Transparent;z-index:1; }
#QILTYWPQKG_DIV {top:0px;position:absolute;left:1043px;height:19px;width:108px;overflow:hidden;white-space:nowrap;z-index:1; }
.QILTYWPQKG_DIV {top:0px;position:absolute;left:1043px;height:19px;width:108px;overflow:hidden;white-space:nowrap;z-index:1; }
#TAGTIKFOAX_DIV {top:0px;position:absolute;left:1155px;height:19px;width:161px;overflow:hidden;white-space:nowrap;z-index:1; }
.TAGTIKFOAX_DIV {top:0px;position:absolute;left:1155px;height:19px;width:161px;overflow:hidden;white-space:nowrap;z-index:1; }
#FBWHLTIFYQ { position:relative;height:220px;width:1711px;left:2px;z-index:1;}
#VGASZRXNOJ { height:98px;background-color:#C0C0C0;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;position:relative;}
#VGASZRXNOJ_DIV {z-index:899;width:1280px;}
#ATCXZHNKXY {top:1px;position:absolute;left:1px;height:79px;width:1255px;overflow:auto;z-index:1; }
#TVQHCLXOGQ {top:58px;position:absolute;left:1257px;color:#000000;font-family:icons8_win10;font-size:20px;cursor:pointer;z-index:1;}
#SJKZCMGATM_DIV, #RNELIZWMMU_DIV, #ADJQSVHTLQ_DIV, #ZOQIOKZNYK_DIV, #ROSLSYYTGJ, #ZURPIOBYMT, #VGASZRXNOJ {overflow:hidden;}
#UUNKNVCACF, #QOEOGAAKRA_DIV, #ROSLSYYTGJ, #ZURPIOBYMT, #ATQBDCKYMD, #CFHSVGUQQV, .CFHSVGUQQV, #NMPXBKDZYD, .NMPXBKDZYD, #QILTYWPQKG_DIV, .QILTYWPQKG_DIV, #TAGTIKFOAX_DIV, .TAGTIKFOAX_DIV, #VGASZRXNOJ, #ATCXZHNKXY {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
