.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#NCOATMFFKT {top:1px;position:absolute;left:117px;height:22px;width:83px;z-index:1; }
#IDTKRMICCD_DIV {top:5px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDTKRMICCD_DIV {left:25px;height:18px;width:91px;}
BODY[ettl='old'] #IDTKRMICCD_DIV {left:25px;height:18px;width:91px;}
BODY[ettl='yes'] #IDTKRMICCD_DIV {right:calc(100% - 116px);}
#HKGLDDMZGV {top:24px;position:absolute;left:117px;height:22px;width:83px;z-index:1; }
#HKGLDDMZGV_ZOOM { position:absolute;top:24px;left:201px;height:22px;width:17px;z-index:1;}
#KETJDULPCM_DIV {top:28px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KETJDULPCM_DIV {left:3px;height:18px;width:113px;}
BODY[ettl='old'] #KETJDULPCM_DIV {left:3px;height:18px;width:113px;}
BODY[ettl='yes'] #KETJDULPCM_DIV {right:calc(100% - 116px);}
#YZXQRACPYA {top:0px;position:absolute;left:277px;height:22px;width:1413px;z-index:1; }
#HSNNXIWVML_DIV {top:4px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HSNNXIWVML_DIV {left:202px;height:18px;width:74px;}
BODY[ettl='old'] #HSNNXIWVML_DIV {left:202px;height:18px;width:74px;}
BODY[ettl='yes'] #HSNNXIWVML_DIV {right:calc(100% - 276px);}
#CGQOPHKKPM {top:25px;position:absolute;left:424px;height:22px;width:69px;text-align:right;z-index:1; }
#CGQOPHKKPM_ZOOM { position:absolute;top:25px;left:494px;height:22px;width:17px;z-index:1;}
#QAIWHGTEMM_DIV {top:29px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QAIWHGTEMM_DIV {left:232px;height:18px;width:191px;}
BODY[ettl='old'] #QAIWHGTEMM_DIV {left:232px;height:18px;width:191px;}
BODY[ettl='yes'] #QAIWHGTEMM_DIV {right:calc(100% - 423px);}
#SGBDWLUNZC { position:relative;height:638px;width:1749px;left:3px;z-index:1;}
#ETQZOSKLPW_DIV {top:25px;position:absolute;left:1519px;height:23px;width:197px;overflow:hidden;white-space:nowrap;z-index:1; }
#IDTKRMICCD_DIV, #KETJDULPCM_DIV, #HSNNXIWVML_DIV, #QAIWHGTEMM_DIV {overflow:hidden;}
#NCOATMFFKT, #HKGLDDMZGV, #YZXQRACPYA, #CGQOPHKKPM, #ETQZOSKLPW_DIV {box-sizing : border-box;}
