.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#TCWUZWNTZL {top:0px;position:absolute;left:99px;height:22px;width:83px;z-index:1; }
#GIKZFYHJBH_DIV {top:4px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GIKZFYHJBH_DIV {left:0px;height:18px;width:98px;}
BODY[ettl='old'] #GIKZFYHJBH_DIV {left:0px;height:18px;width:98px;}
BODY[ettl='yes'] #GIKZFYHJBH_DIV {right:calc(100% - 98px);}
#XOFACNRAZT {top:0px;position:absolute;left:262px;height:22px;width:971px;z-index:1; }
#KVHRTKBQDB_DIV {top:4px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KVHRTKBQDB_DIV {left:185px;height:18px;width:76px;}
BODY[ettl='old'] #KVHRTKBQDB_DIV {left:185px;height:18px;width:76px;}
BODY[ettl='yes'] #KVHRTKBQDB_DIV {right:calc(100% - 261px);}
#EBIILAMEXQ {top:0px;position:absolute;left:1435px;height:22px;width:69px;text-align:right;z-index:1; }
#EBIILAMEXQ_ZOOM { position:absolute;top:0px;left:1505px;height:22px;width:17px;z-index:1;}
#IIBQBZKTYC_DIV {top:4px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IIBQBZKTYC_DIV {left:1247px;height:18px;width:187px;}
BODY[ettl='old'] #IIBQBZKTYC_DIV {left:1247px;height:18px;width:187px;}
BODY[ettl='yes'] #IIBQBZKTYC_DIV {right:calc(100% - 1434px);}
#SWEGOMKTPV { position:relative;height:417px;width:1319px;left:0px;z-index:1;}
#GIKZFYHJBH_DIV, #KVHRTKBQDB_DIV, #IIBQBZKTYC_DIV {overflow:hidden;}
#TCWUZWNTZL, #XOFACNRAZT, #EBIILAMEXQ {box-sizing : border-box;}
