.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:162px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:162px;z-index:0;width:712px;top:9px;left:8px;}
#MEXFGSWICI {top:36px;position:absolute;left:128px;height:20px;width:48px;z-index:1; }
#PYGHSMNTBK {top:36px;position:absolute;left:280px;height:20px;width:80px;text-align:right;z-index:1; }
#MVMKKHKTPS {top:36px;position:absolute;left:400px;height:20px;width:312px;z-index:1; }
#SJSORASFDD {top:72px;position:absolute;left:128px;height:20px;width:72px;text-align:right;z-index:1; }
#XVLXTTNQKE {top:72px;position:absolute;left:400px;height:20px;width:114px;text-align:right;z-index:1; }
#LRGJFQVRXS {top:108px;position:absolute;left:128px;height:20px;width:40px;z-index:1; }
#LRGJFQVRXS_ZOOM { position:absolute;top:108px;left:169px;height:20px;width:17px;z-index:1;}
#ZQEKBHAOQV {top:135px;position:absolute;left:672px;height:29px;width:40px;z-index:1;}
#TJVNAGXDHC {top:72px;position:absolute;left:608px;height:20px;width:108px;z-index:1; }
#HWULSRGDNM_DIV {top:9px;position:absolute;left:8px;height:16px;width:712px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BAATYILHGP_DIV {top:40px;position:absolute;left:187px;height:16px;width:93px;text-align:right;z-index:1;}
BODY:not([ettl]) #BAATYILHGP_DIV {top:40px;position:absolute;left:187px;height:16px;width:93px;}
BODY[ettl="old"] #BAATYILHGP_DIV {top:40px;position:absolute;left:187px;height:16px;width:93px;}
BODY[ettl="yes"] #BAATYILHGP_DIV {top:40px;position:absolute;left:187px;letter-spacing:-1px;}
#MONQASQGHB_DIV {top:40px;position:absolute;left:33px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #MONQASQGHB_DIV {top:40px;position:absolute;left:33px;height:16px;width:95px;}
BODY[ettl="old"] #MONQASQGHB_DIV {top:40px;position:absolute;left:33px;height:16px;width:95px;}
BODY[ettl="yes"] #MONQASQGHB_DIV {top:40px;position:absolute;left:33px;letter-spacing:-1px;}
#XWYXRGKNEJ_DIV {top:40px;position:absolute;left:371px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #XWYXRGKNEJ_DIV {top:40px;position:absolute;left:371px;height:16px;width:29px;}
BODY[ettl="old"] #XWYXRGKNEJ_DIV {top:40px;position:absolute;left:371px;height:16px;width:29px;}
BODY[ettl="yes"] #XWYXRGKNEJ_DIV {top:40px;position:absolute;left:371px;letter-spacing:-1px;}
#LVCMUSBIZN_DIV {top:76px;position:absolute;left:267px;height:16px;width:133px;text-align:right;z-index:1;}
BODY:not([ettl]) #LVCMUSBIZN_DIV {top:76px;position:absolute;left:267px;height:16px;width:133px;}
BODY[ettl="old"] #LVCMUSBIZN_DIV {top:76px;position:absolute;left:267px;height:16px;width:133px;}
BODY[ettl="yes"] #LVCMUSBIZN_DIV {top:76px;position:absolute;left:267px;letter-spacing:-1px;}
#IXDOZMMVRS_DIV {top:76px;position:absolute;left:12px;height:16px;width:116px;text-align:right;z-index:1;}
BODY:not([ettl]) #IXDOZMMVRS_DIV {top:76px;position:absolute;left:12px;height:16px;width:116px;}
BODY[ettl="old"] #IXDOZMMVRS_DIV {top:76px;position:absolute;left:12px;height:16px;width:116px;}
BODY[ettl="yes"] #IXDOZMMVRS_DIV {top:76px;position:absolute;left:12px;letter-spacing:-1px;}
#LVRTLUHOTJ_DIV {top:112px;position:absolute;left:31px;height:16px;width:97px;text-align:right;z-index:1;}
BODY:not([ettl]) #LVRTLUHOTJ_DIV {top:112px;position:absolute;left:31px;height:16px;width:97px;}
BODY[ettl="old"] #LVRTLUHOTJ_DIV {top:112px;position:absolute;left:31px;height:16px;width:97px;}
BODY[ettl="yes"] #LVRTLUHOTJ_DIV {top:112px;position:absolute;left:31px;letter-spacing:-1px;}
#MOKGCFDFSI_DIV {top:112px;position:absolute;left:192px;height:16px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#GJGIOZNGOM {top:135px;position:absolute;left:624px;height:29px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:144px;position:absolute;left:24px;height:14px;width:88px;text-align:left;z-index:1;}
#IDIZVJSJFR, #HWULSRGDNM_DIV, #BAATYILHGP_DIV, #MONQASQGHB_DIV, #XWYXRGKNEJ_DIV, #LVCMUSBIZN_DIV, #IXDOZMMVRS_DIV, #LVRTLUHOTJ_DIV, #MOKGCFDFSI_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#IDIZVJSJFR, #MEXFGSWICI, #PYGHSMNTBK, #MVMKKHKTPS, #SJSORASFDD, #XVLXTTNQKE, #LRGJFQVRXS, #TJVNAGXDHC {box-sizing : border-box;}
