.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:162px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:162px;z-index:0;width:280px;top:9px;left:8px;}
#ZQEKBHAOQV {top:135px;position:absolute;left:240px;height:29px;width:40px;z-index:1;}
#HWULSRGDNM_DIV {top:9px;position:absolute;left:8px;height:16px;width:280px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#PYGHSMNTBK {top:36px;position:absolute;left:128px;height:20px;width:80px;text-align:right;z-index:1; }
#BAATYILHGP_DIV {top:40px;position:absolute;left:35px;height:16px;width:93px;text-align:right;z-index:1;}
BODY:not([ettl]) #BAATYILHGP_DIV {top:40px;position:absolute;left:35px;height:16px;width:93px;}
BODY[ettl="old"] #BAATYILHGP_DIV {top:40px;position:absolute;left:35px;height:16px;width:93px;}
BODY[ettl="yes"] #BAATYILHGP_DIV {top:40px;position:absolute;left:35px;}
#GJGIOZNGOM {top:135px;position:absolute;left:192px;height:29px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:144px;position:absolute;left:24px;height:14px;width:88px;text-align:left;z-index:1;}
#IHCYXKNNTS_DIV {top:72px;position:absolute;left:88px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#TJVNAGXDHC {top:72px;position:absolute;left:16px;height:20px;width:56px;z-index:1; }
#ECTSKPAITW_DIV {top:108px;position:absolute;left:16px;height:16px;width:264px;color:#0000FF;text-align:center;z-index:1;}
#IDIZVJSJFR, #HWULSRGDNM_DIV, #BAATYILHGP_DIV, #FGMOCXNBFY_DIV, #ECTSKPAITW_DIV {overflow:hidden;}
#IDIZVJSJFR, #PYGHSMNTBK, #IHCYXKNNTS_DIV, #TJVNAGXDHC {box-sizing : border-box;}
