.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:207px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:207px;z-index:0;width:512px;top:9px;left:8px;}
#ZQEKBHAOQV {top:180px;position:absolute;left:272px;height:29px;width:40px;z-index:1;}
#HWULSRGDNM_DIV {top:9px;position:absolute;left:8px;height:16px;width:512px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#PYGHSMNTBK {top:36px;position:absolute;left:304px;height:20px;width:54px;text-align:right;z-index:1; }
#BAATYILHGP_DIV {top:40px;position:absolute;left:211px;height:16px;width:93px;text-align:right;z-index:1;}
BODY:not([ettl]) #BAATYILHGP_DIV {top:40px;position:absolute;left:211px;height:16px;width:93px;}
BODY[ettl="old"] #BAATYILHGP_DIV {top:40px;position:absolute;left:211px;height:16px;width:93px;}
BODY[ettl="yes"] #BAATYILHGP_DIV {top:40px;position:absolute;left:211px;}
#GJGIOZNGOM {top:180px;position:absolute;left:208px;height:29px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:36px;position:absolute;left:24px;height:14px;width:88px;text-align:left;z-index:1;}
#TJVNAGXDHC {top:180px;position:absolute;left:16px;height:20px;width:56px;z-index:1; }
#ECTSKPAITW_DIV {top:153px;position:absolute;left:16px;height:16px;width:496px;color:#0000FF;text-align:center;z-index:1;}
#UZRTJOSGKO {top:63px;position:absolute;left:304px;height:20px;width:102px;text-align:right;z-index:1; }
#YCJUXVPSFR_DIV {top:67px;position:absolute;left:16px;height:16px;width:288px;text-align:right;z-index:1;}
BODY:not([ettl]) #YCJUXVPSFR_DIV {top:67px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="old"] #YCJUXVPSFR_DIV {top:67px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="yes"] #YCJUXVPSFR_DIV {top:67px;position:absolute;left:16px;}
#JMXZJMDMQD {top:90px;position:absolute;left:304px;height:20px;width:102px;text-align:right;z-index:1; }
#EOVQUSEKTN_DIV {top:94px;position:absolute;left:16px;height:16px;width:288px;text-align:right;z-index:1;}
BODY:not([ettl]) #EOVQUSEKTN_DIV {top:94px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="old"] #EOVQUSEKTN_DIV {top:94px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="yes"] #EOVQUSEKTN_DIV {top:94px;position:absolute;left:16px;}
#PQQLWYGYIO {top:117px;position:absolute;left:304px;height:20px;width:102px;text-align:right;z-index:1; }
#QWEMBZCGWM_DIV {top:121px;position:absolute;left:16px;height:16px;width:288px;text-align:right;z-index:1;}
BODY:not([ettl]) #QWEMBZCGWM_DIV {top:121px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="old"] #QWEMBZCGWM_DIV {top:121px;position:absolute;left:16px;height:16px;width:288px;}
BODY[ettl="yes"] #QWEMBZCGWM_DIV {top:121px;position:absolute;left:16px;}
#IDIZVJSJFR, #HWULSRGDNM_DIV, #BAATYILHGP_DIV, #FGMOCXNBFY_DIV, #ECTSKPAITW_DIV, #YCJUXVPSFR_DIV, #EOVQUSEKTN_DIV, #QWEMBZCGWM_DIV {overflow:hidden;}
#IDIZVJSJFR, #PYGHSMNTBK, #TJVNAGXDHC, #UZRTJOSGKO, #JMXZJMDMQD, #PQQLWYGYIO {box-sizing : border-box;}
