.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#HFSNDSYQKU_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #HFSNDSYQKU_DIV {height:16px;width:64px;}
BODY[ettl='old'] #HFSNDSYQKU_DIV {height:16px;width:64px;}
#YKMMEPCNJK_DIV {top:7px;position:absolute;left:224px;height:16px;width:104px;text-align:center;z-index:1;}
#LYJITPDTQW_DIV {top:7px;position:absolute;left:320px;text-align:center;z-index:1;}
BODY:not([ettl]) #LYJITPDTQW_DIV {height:16px;width:92px;}
BODY[ettl='old'] #LYJITPDTQW_DIV {height:16px;width:92px;}
#ODNAMZWXHO {top:0px;position:absolute;left:0px;height:16px;width:184px;z-index:1; }
#ODNAMZWXHO { vertical-align:middle; }
.ODNAMZWXHO {top:0px;position:absolute;left:0px;height:16px;width:184px;z-index:1; }
#XMUSIQKUML {top:0px;position:absolute;left:232px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.XMUSIQKUML {top:0px;position:absolute;left:232px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
#JECRGTDJFG {top:0px;position:absolute;left:344px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.JECRGTDJFG {top:0px;position:absolute;left:344px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #HFSNDSYQKU_DIV, BODY[ettl='yes'] #LYJITPDTQW_DIV {letter-spacing:-1px;}
#HFSNDSYQKU_DIV, #YKMMEPCNJK_DIV, #LYJITPDTQW_DIV {overflow:hidden;}
#ODNAMZWXHO, .ODNAMZWXHO, #XMUSIQKUML, .XMUSIQKUML, #JECRGTDJFG, .JECRGTDJFG {box-sizing : border-box;}
