.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XCDXQXTRHM_DIV {top:2px;position:absolute;left:608px;height:16px;width:64px;text-align:center;z-index:1;}
#BFMPSJTVZY_DIV {top:0px;position:absolute;left:32px;height:16px;width:61px;text-align:left;z-index:1;}
#QEAAMPSBPR_DIV {top:2px;position:absolute;left:680px;height:16px;width:64px;text-align:center;z-index:1;}
#VRCVINYRJO { height:99px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:relative;z-index:0;width:100%;}
#NAKGRMOUXS_DIV {top:34px;position:absolute;left:24px;height:16px;width:648px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:55px;position:absolute;left:24px;height:16px;width:648px;text-align:left;z-index:1;}
#QPLXZEEVEI {top:15px;position:absolute;left:360px;height:20px;width:108px;z-index:1; }
#MINAAOAOZC { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#MINAAOAOZC_DIV { position:relative;z-index:0;width:100%;}
#BHLAQHLOJQ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BHLAQHLOJQ_DIV {left:48px;height:16px;width:147px;}
BODY[ettl='old'] #BHLAQHLOJQ_DIV {left:48px;height:16px;width:147px;}
BODY[ettl='yes'] #BHLAQHLOJQ_DIV {right:calc(100% - 195px);letter-spacing:-1px;}
#EQUZNNIXBO_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQUZNNIXBO_DIV {left:496px;height:16px;width:163px;}
BODY[ettl='old'] #EQUZNNIXBO_DIV {left:496px;height:16px;width:163px;}
BODY[ettl='yes'] #EQUZNNIXBO_DIV {right:calc(100% - 659px);}
#RUCUNEMGZA_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUCUNEMGZA_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='old'] #RUCUNEMGZA_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='yes'] #RUCUNEMGZA_DIV {right:calc(100% - 140px);}
#XTDHYWJPZL {top:0px;position:absolute;left:24px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#XTDHYWJPZL_ZOOM { position:absolute;top:0px;left:133px;height:17px;width:17px;z-index:1;}
.XTDHYWJPZL {top:0px;position:absolute;left:24px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.XTDHYWJPZL_ZOOM { position:absolute;top:0px;left:133px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#HKZAUFLHMG {top:0px;position:absolute;left:600px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.HKZAUFLHMG {top:0px;position:absolute;left:600px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#NATIUIQLJX {top:0px;position:absolute;left:672px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.NATIUIQLJX {top:0px;position:absolute;left:672px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#ZUSOGKEVZC {top:1px;position:absolute;left:160px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.ZUSOGKEVZC {top:1px;position:absolute;left:160px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#CHJPRCYMKT {top:54px;position:absolute;left:616px;height:20px;width:102px;text-align:right;z-index:1; }
#ORIJTEDVRI {top:11px;position:absolute;left:664px;height:23px;width:72px;z-index:1; }
#LEZBMECOAR {top:11px;position:absolute;left:200px;height:23px;width:80px;z-index:1; }
#QHHDRAEPOC {top:9px;position:absolute;left:144px;height:20px;width:432px;z-index:1; }
#QDIDYGGMQV {top:36px;position:absolute;left:616px;height:20px;width:72px;z-index:1; }
#BKRVFLJLOS {top:0px;position:absolute;left:0px;border-style:none;z-index:1;clip:rect(0,17px,17px,0);}
.BKRVFLJLOS {top:0px;position:absolute;left:0px;border-style:none;z-index:1;clip:rect(0,17px,17px,0);}
#XCDXQXTRHM_DIV, #BFMPSJTVZY_DIV, #QEAAMPSBPR_DIV, #VRCVINYRJO, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #MINAAOAOZC, #BHLAQHLOJQ_DIV, #EQUZNNIXBO_DIV, #RUCUNEMGZA_DIV {overflow:hidden;}
#VRCVINYRJO, #QPLXZEEVEI, #MINAAOAOZC, #XTDHYWJPZL, .XTDHYWJPZL, #HKZAUFLHMG, .HKZAUFLHMG, #NATIUIQLJX, .NATIUIQLJX, #ZUSOGKEVZC, .ZUSOGKEVZC, #CHJPRCYMKT, #ORIJTEDVRI, #LEZBMECOAR, #QHHDRAEPOC, #QDIDYGGMQV {box-sizing : border-box;}
