.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#LWIBBBHASV_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #LWIBBBHASV_DIV {height:16px;width:92px;}
BODY[ettl='old'] #LWIBBBHASV_DIV {height:16px;width:92px;}
#OMGUFXOADJ_DIV {top:7px;position:absolute;left:520px;text-align:left;z-index:1;}
BODY:not([ettl]) #OMGUFXOADJ_DIV {height:16px;width:51px;}
BODY[ettl='old'] #OMGUFXOADJ_DIV {height:16px;width:51px;}
#UXXZDGBWDT_DIV {top:7px;position:absolute;left:600px;text-align:left;z-index:1;}
BODY:not([ettl]) #UXXZDGBWDT_DIV {height:16px;width:46px;}
BODY[ettl='old'] #UXXZDGBWDT_DIV {height:16px;width:46px;}
#BJYQGLSEKW_DIV {top:105px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #BJYQGLSEKW_DIV {height:16px;width:50px;}
BODY[ettl='old'] #BJYQGLSEKW_DIV {height:16px;width:50px;}
#AGYYKHSHUA {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
#AGYYKHSHUA_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;z-index:1;}
.AGYYKHSHUA {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
.AGYYKHSHUA_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#YNEUNMBTFJ {top:0px;position:absolute;left:512px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
.YNEUNMBTFJ {top:0px;position:absolute;left:512px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
#LVELFPROYQ {top:0px;position:absolute;left:592px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.LVELFPROYQ {top:0px;position:absolute;left:592px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#IBLHHCTHVG {top:77px;position:absolute;left:56px;height:41px;width:584px;overflow:auto;background-color:Transparent;z-index:1; }
.IBLHHCTHVG {top:77px;position:absolute;left:56px;height:41px;width:584px;overflow:auto;background-color:Transparent;z-index:1; }
#ILZIGHZMSS {top:0px;position:absolute;left:136px;height:16px;width:368px;background-color:Transparent;z-index:1; }
.ILZIGHZMSS {top:0px;position:absolute;left:136px;height:16px;width:368px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #LWIBBBHASV_DIV, BODY[ettl='yes'] #OMGUFXOADJ_DIV, BODY[ettl='yes'] #UXXZDGBWDT_DIV, BODY[ettl='yes'] #BJYQGLSEKW_DIV {letter-spacing:-1px;}
#LWIBBBHASV_DIV, #OMGUFXOADJ_DIV, #UXXZDGBWDT_DIV, #BJYQGLSEKW_DIV {overflow:hidden;}
#AGYYKHSHUA, .AGYYKHSHUA, #YNEUNMBTFJ, .YNEUNMBTFJ, #LVELFPROYQ, .LVELFPROYQ, #IBLHHCTHVG, .IBLHHCTHVG, #ILZIGHZMSS, .ILZIGHZMSS {box-sizing : border-box;}
