.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#RQIGVOAJQW_DIV {top:0px;position:absolute;left:8px;height:16px;width:80px;text-align:left;z-index:1;}
#RSVORKXSJY_DIV {top:0px;position:absolute;left:112px;height:16px;width:256px;text-align:left;z-index:1;}
#GAASOHZGZU_DIV {top:0px;position:absolute;left:376px;height:16px;width:120px;text-align:left;z-index:1;}
#EZEZECLAKW_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EZEZECLAKW_DIV {left:584px;height:16px;width:104px;}
BODY[ettl='old'] #EZEZECLAKW_DIV {left:584px;height:16px;width:104px;}
BODY[ettl='yes'] #EZEZECLAKW_DIV {right:calc(100% - 688px);}
#TMCEXVILMD {top:133px;position:absolute;left:1080px;height:20px;width:102px;z-index:1; }
#SVYXZEMNRB {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
#SVYXZEMNRB_ZOOM { position:absolute;top:0px;left:81px;height:17px;width:17px;z-index:1;}
.SVYXZEMNRB {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
.SVYXZEMNRB_ZOOM { position:absolute;top:0px;left:81px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#BENOJFALBB {top:0px;position:absolute;left:104px;height:16px;width:256px;z-index:1; }
#BENOJFALBB { vertical-align:middle; }
.BENOJFALBB {top:0px;position:absolute;left:104px;height:16px;width:256px;z-index:1; }
#LIJFNMVRXK {top:0px;position:absolute;left:368px;height:16px;width:198px;text-transform:uppercase;background-color:Transparent;z-index:1; }
.LIJFNMVRXK {top:0px;position:absolute;left:368px;height:16px;width:198px;text-transform:uppercase;background-color:Transparent;z-index:1; }
#OGHOMBFTXJ {top:0px;position:absolute;left:576px;height:16px;width:104px;text-align:right;background-color:Transparent;z-index:1; }
.OGHOMBFTXJ {top:0px;position:absolute;left:576px;height:16px;width:104px;text-align:right;background-color:Transparent;z-index:1; }
#FPCQRNSIUW_DIV {top:0px;position:absolute;left:688px;height:19px;width:24px;overflow:hidden;white-space:nowrap;z-index:1; }
.FPCQRNSIUW_DIV {top:0px;position:absolute;left:688px;height:19px;width:24px;overflow:hidden;white-space:nowrap;z-index:1; }
#APQJQKDJEF {top:42px;position:absolute;left:1000px;height:20px;width:72px;text-align:right;z-index:1; }
#YRRNYFIABF {top:182px;position:absolute;left:176px;height:24px;width:152px;z-index:1;}
#PYCRUKUPRU {top:182px;position:absolute;left:336px;height:24px;width:152px;z-index:1;}
#JMCVMUAWAP {top:214px;position:absolute;left:104px;height:20px;width:64px;z-index:1; }
#ZXEOWMRAEB {top:195px;position:absolute;left:168px;height:19px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
.ZXEOWMRAEB {top:195px;position:absolute;left:168px;height:19px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
#TAACMKNVBE {top:214px;position:absolute;left:576px;height:20px;width:80px;z-index:1; }
#SXKQSRVDBA {top:63px;position:absolute;left:1000px;height:20px;width:72px;z-index:1; }
BODY[ettl='yes'] #FPCQRNSIUW_DIV, BODY[ettl='yes'] .FPCQRNSIUW_DIV {letter-spacing:-1px;}
#RQIGVOAJQW_DIV, #RSVORKXSJY_DIV, #GAASOHZGZU_DIV, #EZEZECLAKW_DIV {overflow:hidden;}
#TMCEXVILMD, #SVYXZEMNRB, .SVYXZEMNRB, #BENOJFALBB, .BENOJFALBB, #LIJFNMVRXK, .LIJFNMVRXK, #OGHOMBFTXJ, .OGHOMBFTXJ, #FPCQRNSIUW_DIV, .FPCQRNSIUW_DIV, #APQJQKDJEF, #JMCVMUAWAP, #ZXEOWMRAEB, .ZXEOWMRAEB, #TAACMKNVBE, #SXKQSRVDBA {box-sizing : border-box;}
