.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XGSRLAQUVD_DIV {top:0px;position:absolute;left:8px;height:16px;width:79px;text-align:left;z-index:1;}
#VRCVINYRJO { height:72px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:absolute;height:72px;z-index:0;width:594px;top:132px;left:6px;}
#AVTVZXZUWT_DIV {top:139px;position:absolute;left:14px;height:16px;width:578px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NAKGRMOUXS_DIV {top:160px;position:absolute;left:14px;height:16px;width:578px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:181px;position:absolute;left:14px;height:16px;width:578px;text-align:left;z-index:1;}
#TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
#TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;z-index:1;}
.TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
.TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#XGSRLAQUVD_DIV, #VRCVINYRJO, #AVTVZXZUWT_DIV, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV {overflow:hidden;}
#VRCVINYRJO, #TMTNRFTARW, .TMTNRFTARW, #DTVWWZNCNW, .DTVWWZNCNW {box-sizing : border-box;}
