.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#GKNXQUOFFS_DIV {top:7px;position:absolute;left:8px;height:16px;width:72px;text-align:left;z-index:1;}
#BRCAXXLEPY {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
.BRCAXXLEPY {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
#QIQDQNNLFN {top:0px;position:absolute;left:96px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.QIQDQNNLFN {top:0px;position:absolute;left:96px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#GKNXQUOFFS_DIV {overflow:hidden;}
#BRCAXXLEPY, .BRCAXXLEPY, #QIQDQNNLFN, .QIQDQNNLFN {box-sizing : border-box;}
