.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#GAASOHZGZU_DIV {top:0px;position:absolute;left:424px;height:16px;width:192px;text-align:left;z-index:1;}
#EZEZECLAKW_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EZEZECLAKW_DIV {left:624px;height:16px;width:96px;}
BODY[ettl='old'] #EZEZECLAKW_DIV {left:624px;height:16px;width:96px;}
BODY[ettl='yes'] #EZEZECLAKW_DIV {right:calc(100% - 720px);}
#RQIGVOAJQW_DIV {top:0px;position:absolute;left:8px;height:16px;width:66px;text-align:left;z-index:1;}
#XNNJZLJUOA {top:98px;position:absolute;left:56px;height:20px;width:18px;z-index:1; }
#FZYTZOJSLM_DIV {top:0px;position:absolute;left:120px;height:16px;width:288px;text-align:left;z-index:1;}
#SVYXZEMNRB {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
#SVYXZEMNRB_ZOOM { position:absolute;top:0px;left:81px;height:17px;width:17px;z-index:1;}
.SVYXZEMNRB {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
.SVYXZEMNRB_ZOOM { position:absolute;top:0px;left:81px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#LIJFNMVRXK {top:0px;position:absolute;left:416px;height:16px;width:192px;text-transform:uppercase;background-color:Transparent;z-index:1; }
.LIJFNMVRXK {top:0px;position:absolute;left:416px;height:16px;width:192px;text-transform:uppercase;background-color:Transparent;z-index:1; }
#OGHOMBFTXJ {top:0px;position:absolute;left:616px;height:16px;width:96px;text-align:right;background-color:Transparent;z-index:1; }
.OGHOMBFTXJ {top:0px;position:absolute;left:616px;height:16px;width:96px;text-align:right;background-color:Transparent;z-index:1; }
#FPCQRNSIUW_DIV {top:0px;position:absolute;left:728px;height:19px;width:32px;overflow:hidden;white-space:nowrap;z-index:1; }
.FPCQRNSIUW_DIV {top:0px;position:absolute;left:728px;height:19px;width:32px;overflow:hidden;white-space:nowrap;z-index:1; }
#RWWIDDSYYG {top:98px;position:absolute;left:8px;height:20px;width:36px;text-align:right;z-index:1; }
#JMCVMUAWAP {top:98px;position:absolute;left:232px;height:20px;width:102px;z-index:1; }
#ATYKZCFGTM {top:0px;position:absolute;left:112px;height:16px;width:288px;z-index:1; }
#ATYKZCFGTM { vertical-align:middle; }
.ATYKZCFGTM {top:0px;position:absolute;left:112px;height:16px;width:288px;z-index:1; }
BODY[ettl='yes'] #FPCQRNSIUW_DIV, BODY[ettl='yes'] .FPCQRNSIUW_DIV {letter-spacing:-1px;}
#GAASOHZGZU_DIV, #EZEZECLAKW_DIV, #RQIGVOAJQW_DIV, #FZYTZOJSLM_DIV {overflow:hidden;}
#XNNJZLJUOA, #SVYXZEMNRB, .SVYXZEMNRB, #LIJFNMVRXK, .LIJFNMVRXK, #OGHOMBFTXJ, .OGHOMBFTXJ, #FPCQRNSIUW_DIV, .FPCQRNSIUW_DIV, #RWWIDDSYYG, #JMCVMUAWAP, #ATYKZCFGTM, .ATYKZCFGTM {box-sizing : border-box;}
