.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FKKOVAHNDF_DIV {top:7px;position:absolute;left:8px;height:16px;width:312px;text-align:left;z-index:1;}
#YDFAFGEYQN_DIV {top:7px;position:absolute;left:336px;height:16px;width:312px;text-align:left;z-index:1;}
#EEOVPULSYY {top:1px;position:absolute;left:0px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.EEOVPULSYY {top:1px;position:absolute;left:0px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#HEMRMYCSDF {top:1px;position:absolute;left:328px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.HEMRMYCSDF {top:1px;position:absolute;left:328px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#UWSMVMXADD_DIV {top:0px;position:absolute;left:648px;height:19px;width:72px;overflow:hidden;white-space:nowrap;z-index:1; }
.UWSMVMXADD_DIV {top:0px;position:absolute;left:648px;height:19px;width:72px;overflow:hidden;white-space:nowrap;z-index:1; }
#XINJTBPEIF_DIV {top:1px;position:absolute;left:736px;height:19px;width:72px;overflow:hidden;white-space:nowrap;z-index:1; }
.XINJTBPEIF_DIV {top:1px;position:absolute;left:736px;height:19px;width:72px;overflow:hidden;white-space:nowrap;z-index:1; }
#NSWYEBUSXD_DIV {top:1px;position:absolute;left:824px;height:19px;width:88px;overflow:hidden;white-space:nowrap;z-index:1; }
.NSWYEBUSXD_DIV {top:1px;position:absolute;left:824px;height:19px;width:88px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #UWSMVMXADD_DIV, BODY[ettl='yes'] .UWSMVMXADD_DIV, BODY[ettl='yes'] #XINJTBPEIF_DIV, BODY[ettl='yes'] .XINJTBPEIF_DIV, BODY[ettl='yes'] #NSWYEBUSXD_DIV, BODY[ettl='yes'] .NSWYEBUSXD_DIV {letter-spacing:-1px;}
#FKKOVAHNDF_DIV, #YDFAFGEYQN_DIV {overflow:hidden;}
#EEOVPULSYY, .EEOVPULSYY, #HEMRMYCSDF, .HEMRMYCSDF, #UWSMVMXADD_DIV, .UWSMVMXADD_DIV, #XINJTBPEIF_DIV, .XINJTBPEIF_DIV, #NSWYEBUSXD_DIV, .NSWYEBUSXD_DIV {box-sizing : border-box;}
