.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#SGUFYBEXOJ_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #SGUFYBEXOJ_DIV {height:16px;width:114px;}
BODY[ettl='old'] #SGUFYBEXOJ_DIV {height:16px;width:114px;}
#JSWFSTAHBP {top:0px;position:absolute;left:0px;height:16px;width:48px;background-color:Transparent;z-index:1; }
#JSWFSTAHBP_ZOOM { position:absolute;top:0px;left:49px;height:17px;width:17px;z-index:1;}
.JSWFSTAHBP {top:0px;position:absolute;left:0px;height:16px;width:48px;background-color:Transparent;z-index:1; }
.JSWFSTAHBP_ZOOM { position:absolute;top:0px;left:49px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#KUPRLIFZIR {top:0px;position:absolute;left:80px;height:16px;width:192px;background-color:Transparent;z-index:1; }
.KUPRLIFZIR {top:0px;position:absolute;left:80px;height:16px;width:192px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #SGUFYBEXOJ_DIV {letter-spacing:-1px;}
#SGUFYBEXOJ_DIV {overflow:hidden;}
#JSWFSTAHBP, .JSWFSTAHBP, #KUPRLIFZIR, .KUPRLIFZIR {box-sizing : border-box;}
