.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#AWTZSRWNJW_DIV {top:7px;position:absolute;left:16px;height:16px;width:36px;text-align:left;z-index:1;}
#UVCMUNVZES_DIV {top:7px;position:absolute;left:64px;height:16px;width:96px;text-align:left;z-index:1;}
#SQQUPXUJZT_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SQQUPXUJZT_DIV {left:184px;height:16px;width:102px;}
BODY[ettl='old'] #SQQUPXUJZT_DIV {left:184px;height:16px;width:102px;}
BODY[ettl='yes'] #SQQUPXUJZT_DIV {right:calc(100% - 286px);}
#JYXMPQWGBF {top:0px;position:absolute;left:0px;height:16px;width:36px;background-color:Transparent;z-index:1; }
.JYXMPQWGBF {top:0px;position:absolute;left:0px;height:16px;width:36px;background-color:Transparent;z-index:1; }
#GCTHIIEEAW {top:0px;position:absolute;left:48px;height:16px;width:104px;z-index:1; }
#GCTHIIEEAW { vertical-align:middle; }
.GCTHIIEEAW {top:0px;position:absolute;left:48px;height:16px;width:104px;z-index:1; }
#NGEQBBYMQU {top:0px;position:absolute;left:168px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.NGEQBBYMQU {top:0px;position:absolute;left:168px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#AWTZSRWNJW_DIV, #UVCMUNVZES_DIV, #SQQUPXUJZT_DIV {overflow:hidden;}
#JYXMPQWGBF, .JYXMPQWGBF, #GCTHIIEEAW, .GCTHIIEEAW, #NGEQBBYMQU, .NGEQBBYMQU {box-sizing : border-box;}
