.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ARPJBATHKQ_DIV {top:7px;position:absolute;left:8px;height:16px;width:30px;text-align:left;z-index:1;}
#IJYGLGMQFG_DIV {top:196px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IJYGLGMQFG_DIV {left:32px;height:16px;width:62px;}
BODY[ettl='old'] #IJYGLGMQFG_DIV {left:32px;height:16px;width:62px;}
BODY[ettl='yes'] #IJYGLGMQFG_DIV {right:calc(100% - 94px);}
#WNUKLGOURG_DIV {top:329px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WNUKLGOURG_DIV {left:5px;height:16px;width:89px;}
BODY[ettl='old'] #WNUKLGOURG_DIV {left:5px;height:16px;width:89px;}
BODY[ettl='yes'] #WNUKLGOURG_DIV {right:calc(100% - 94px);letter-spacing:-1px;}
#KFGZLKSNHG {top:0px;position:absolute;left:0px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
#KFGZLKSNHG_ZOOM { position:absolute;top:0px;left:31px;height:17px;width:17px;z-index:1;}
.KFGZLKSNHG {top:0px;position:absolute;left:0px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
.KFGZLKSNHG_ZOOM { position:absolute;top:0px;left:31px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#NFWHJKGSUI {top:0px;position:absolute;left:56px;height:16px;width:568px;background-color:Transparent;z-index:1; }
.NFWHJKGSUI {top:0px;position:absolute;left:56px;height:16px;width:568px;background-color:Transparent;z-index:1; }
#HSPDGFOCDU {top:196px;position:absolute;left:96px;height:129px;width:552px;overflow:auto;z-index:1; }
#DIXOZNRGCQ {top:329px;position:absolute;left:96px;height:129px;width:552px;overflow:auto;z-index:1; }
#ARPJBATHKQ_DIV, #IJYGLGMQFG_DIV, #WNUKLGOURG_DIV {overflow:hidden;}
#KFGZLKSNHG, .KFGZLKSNHG, #NFWHJKGSUI, .NFWHJKGSUI, #HSPDGFOCDU, #DIXOZNRGCQ {box-sizing : border-box;}
