.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XCDXQXTRHM_DIV {top:9px;position:absolute;left:497px;height:16px;width:64px;text-align:center;z-index:1;}
#BFMPSJTVZY_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #BFMPSJTVZY_DIV {height:16px;width:61px;}
BODY[ettl='old'] #BFMPSJTVZY_DIV {height:16px;width:61px;}
#QEAAMPSBPR_DIV {top:9px;position:absolute;left:590px;height:16px;width:64px;text-align:center;z-index:1;}
#VRCVINYRJO { height:72px;background-color:#FFFF80;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#VRCVINYRJO_DIV { position:absolute;height:72px;z-index:0;width:664px;top:162px;left:8px;}
#AVTVZXZUWT_DIV {top:169px;position:absolute;left:16px;height:16px;width:648px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NAKGRMOUXS_DIV {top:190px;position:absolute;left:16px;height:16px;width:648px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:211px;position:absolute;left:16px;height:16px;width:648px;text-align:left;z-index:1;}
#QPLXZEEVEI {top:171px;position:absolute;left:472px;height:20px;width:162px;z-index:1; }
#XTDHYWJPZL {top:1px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#XTDHYWJPZL_ZOOM { position:absolute;top:1px;left:109px;height:17px;width:17px;z-index:1;}
.XTDHYWJPZL {top:1px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.XTDHYWJPZL_ZOOM { position:absolute;top:1px;left:109px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#HKZAUFLHMG {top:0px;position:absolute;left:488px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.HKZAUFLHMG {top:0px;position:absolute;left:488px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#NATIUIQLJX {top:0px;position:absolute;left:582px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.NATIUIQLJX {top:0px;position:absolute;left:582px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#ZUSOGKEVZC {top:0px;position:absolute;left:144px;height:16px;width:304px;background-color:Transparent;z-index:1; }
.ZUSOGKEVZC {top:0px;position:absolute;left:144px;height:16px;width:304px;background-color:Transparent;z-index:1; }
#KQHTAXPURL {top:72px;position:absolute;left:880px;height:20px;width:80px;z-index:1; }
BODY[ettl='yes'] #BFMPSJTVZY_DIV {letter-spacing:-1px;}
#XCDXQXTRHM_DIV, #BFMPSJTVZY_DIV, #QEAAMPSBPR_DIV, #VRCVINYRJO, #AVTVZXZUWT_DIV, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV {overflow:hidden;}
#VRCVINYRJO, #QPLXZEEVEI, #XTDHYWJPZL, .XTDHYWJPZL, #HKZAUFLHMG, .HKZAUFLHMG, #NATIUIQLJX, .NATIUIQLJX, #ZUSOGKEVZC, .ZUSOGKEVZC, #KQHTAXPURL {box-sizing : border-box;}
