.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UZOMVFGOWF_DIV {top:7px;position:absolute;left:8px;height:16px;width:52px;text-align:left;z-index:1;}
#JHFGQEEDLK_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JHFGQEEDLK_DIV {left:368px;height:16px;width:58px;}
BODY[ettl='old'] #JHFGQEEDLK_DIV {left:368px;height:16px;width:58px;}
BODY[ettl='yes'] #JHFGQEEDLK_DIV {right:calc(100% - 426px);}
#ZLYKYZJBZM_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZLYKYZJBZM_DIV {left:80px;height:16px;width:120px;}
BODY[ettl='old'] #ZLYKYZJBZM_DIV {left:80px;height:16px;width:120px;}
BODY[ettl='yes'] #ZLYKYZJBZM_DIV {right:calc(100% - 200px);}
#BORCCLEQDE_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BORCCLEQDE_DIV {left:224px;height:16px;width:120px;}
BODY[ettl='old'] #BORCCLEQDE_DIV {left:224px;height:16px;width:120px;}
BODY[ettl='yes'] #BORCCLEQDE_DIV {right:calc(100% - 344px);}
#CLJEMHHSFZ {top:0px;position:absolute;left:0px;height:16px;width:44px;background-color:Transparent;z-index:1; }
.CLJEMHHSFZ {top:0px;position:absolute;left:0px;height:16px;width:44px;background-color:Transparent;z-index:1; }
#YHQQKXIFCH {top:0px;position:absolute;left:72px;height:16px;width:120px;text-align:right;background-color:Transparent;z-index:1; }
.YHQQKXIFCH {top:0px;position:absolute;left:72px;height:16px;width:120px;text-align:right;background-color:Transparent;z-index:1; }
#PYSZKYPYUM {top:0px;position:absolute;left:216px;height:16px;width:120px;text-align:right;background-color:Transparent;z-index:1; }
.PYSZKYPYUM {top:0px;position:absolute;left:216px;height:16px;width:120px;text-align:right;background-color:Transparent;z-index:1; }
#AVZSTYZUKM {top:0px;position:absolute;left:360px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.AVZSTYZUKM {top:0px;position:absolute;left:360px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
#UZOMVFGOWF_DIV, #JHFGQEEDLK_DIV, #ZLYKYZJBZM_DIV, #BORCCLEQDE_DIV {overflow:hidden;}
#CLJEMHHSFZ, .CLJEMHHSFZ, #YHQQKXIFCH, .YHQQKXIFCH, #PYSZKYPYUM, .PYSZKYPYUM, #AVZSTYZUKM, .AVZSTYZUKM {box-sizing : border-box;}
