.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#KXPIPGLEPW_DIV {top:3px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #KXPIPGLEPW_DIV {height:16px;width:111px;}
BODY[ettl='old'] #KXPIPGLEPW_DIV {height:16px;width:111px;}
#LXOGHRVGTK {top:0px;position:absolute;left:0px;height:16px;width:135px;background-color:Transparent;z-index:1; }
.LXOGHRVGTK {top:0px;position:absolute;left:0px;height:16px;width:135px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #KXPIPGLEPW_DIV {letter-spacing:-1px;}
#KXPIPGLEPW_DIV {overflow:hidden;}
#LXOGHRVGTK, .LXOGHRVGTK {box-sizing : border-box;}
