.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#JWSZDAXYGH_DIV {top:8px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #JWSZDAXYGH_DIV {height:16px;width:91px;}
BODY[ettl='old'] #JWSZDAXYGH_DIV {height:16px;width:91px;}
#PQGSBATIPW_DIV {top:8px;position:absolute;left:512px;height:16px;width:48px;text-align:left;z-index:1;}
#VRCVINYRJO { height:70px;background-color:#FFFF80;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#VRCVINYRJO_DIV { position:absolute;height:70px;z-index:0;width:552px;top:184px;left:8px;}
#AVTVZXZUWT_DIV {top:191px;position:absolute;left:16px;height:16px;width:536px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NAKGRMOUXS_DIV {top:212px;position:absolute;left:16px;height:16px;width:360px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:233px;position:absolute;left:16px;height:16px;width:416px;text-align:left;z-index:1;}
#ABZSLYXSCO {top:192px;position:absolute;left:392px;height:20px;width:162px;z-index:1; }
#FVKNSPNHTX {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
#FVKNSPNHTX_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;z-index:1;}
.FVKNSPNHTX {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
.FVKNSPNHTX_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#KQROMFNGNZ {top:0px;position:absolute;left:504px;height:16px;width:30px;background-color:Transparent;z-index:1; }
#KQROMFNGNZ_ZOOM { position:absolute;top:0px;left:535px;height:17px;width:17px;z-index:1;}
.KQROMFNGNZ {top:0px;position:absolute;left:504px;height:16px;width:30px;background-color:Transparent;z-index:1; }
.KQROMFNGNZ_ZOOM { position:absolute;top:0px;left:535px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#LRZLVXCRIO {top:0px;position:absolute;left:144px;height:16px;width:344px;background-color:Transparent;z-index:1; }
.LRZLVXCRIO {top:0px;position:absolute;left:144px;height:16px;width:344px;background-color:Transparent;z-index:1; }
#LPKMVNCKBI {top:160px;position:absolute;left:96px;height:20px;width:464px;z-index:1; }
#SRGXXZYNNI_DIV {top:164px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SRGXXZYNNI_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #SRGXXZYNNI_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #SRGXXZYNNI_DIV {right:calc(100% - 92px);}
BODY[ettl='yes'] #JWSZDAXYGH_DIV {letter-spacing:-1px;}
#JWSZDAXYGH_DIV, #PQGSBATIPW_DIV, #VRCVINYRJO, #AVTVZXZUWT_DIV, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #SRGXXZYNNI_DIV {overflow:hidden;}
#VRCVINYRJO, #ABZSLYXSCO, #FVKNSPNHTX, .FVKNSPNHTX, #KQROMFNGNZ, .KQROMFNGNZ, #LRZLVXCRIO, .LRZLVXCRIO, #LPKMVNCKBI {box-sizing : border-box;}
