.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PXQHTXKHTN_DIV {top:7px;position:absolute;left:8px;height:16px;width:40px;text-align:left;z-index:1;}
#FKEPVSZZKY_DIV {top:7px;position:absolute;left:56px;height:16px;width:72px;text-align:left;z-index:1;}
#LJGXUKFKLW_DIV {top:7px;position:absolute;left:136px;text-align:left;z-index:1;}
BODY:not([ettl]) #LJGXUKFKLW_DIV {height:16px;width:91px;}
BODY[ettl='old'] #LJGXUKFKLW_DIV {height:16px;width:91px;}
#TMSKAKFYVT_DIV {top:7px;position:absolute;left:304px;text-align:left;z-index:1;}
BODY:not([ettl]) #TMSKAKFYVT_DIV {height:16px;width:23px;}
BODY[ettl='old'] #TMSKAKFYVT_DIV {height:16px;width:23px;}
#TVZMXKVZTF {top:238px;position:absolute;left:576px;height:21px;width:19px;z-index:1;}
#QTNDUAUYJS {top:238px;position:absolute;left:544px;height:21px;width:19px;z-index:1;}
#HLMIOBXRCT {top:238px;position:absolute;left:608px;height:21px;width:19px;z-index:1;}
#DNNIBYMZGH {top:1px;position:absolute;left:0px;height:16px;width:40px;background-color:Transparent;z-index:1; }
.DNNIBYMZGH {top:1px;position:absolute;left:0px;height:16px;width:40px;background-color:Transparent;z-index:1; }
#KFGZTRHOBC {top:1px;position:absolute;left:48px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
.KFGZTRHOBC {top:1px;position:absolute;left:48px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
#HPLDXSAUUT_DIV {top:0px;position:absolute;left:128px;height:19px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
.HPLDXSAUUT_DIV {top:0px;position:absolute;left:128px;height:19px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#WOCPOWSYXW {top:1px;position:absolute;left:296px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.WOCPOWSYXW {top:1px;position:absolute;left:296px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#IADEZIJVRP {top:238px;position:absolute;left:136px;height:20px;width:120px;text-align:right;z-index:1; }
#TKLYFIYSLT {top:238px;position:absolute;left:384px;height:20px;width:64px;text-align:right;z-index:1; }
#PECYSWBJIH {top:266px;position:absolute;left:136px;height:20px;width:40px;z-index:1; }
#PECYSWBJIH_ZOOM { position:absolute;top:266px;left:177px;height:20px;width:17px;z-index:1;}
#ABVESLGBAT_DIV {top:270px;position:absolute;left:208px;height:16px;width:400px;color:#0000FF;text-align:left;z-index:1;}
#HFEVXZMSJH_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HFEVXZMSJH_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='old'] #HFEVXZMSJH_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='yes'] #HFEVXZMSJH_DIV {right:calc(100% - 132px);}
#ADQAXWGKXT_DIV {top:242px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ADQAXWGKXT_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #ADQAXWGKXT_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #ADQAXWGKXT_DIV {right:calc(100% - 132px);letter-spacing:-1px;}
#KDABTEGGHB_DIV {top:242px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDABTEGGHB_DIV {left:264px;height:16px;width:118px;}
BODY[ettl='old'] #KDABTEGGHB_DIV {left:264px;height:16px;width:118px;}
BODY[ettl='yes'] #KDABTEGGHB_DIV {right:calc(100% - 382px);letter-spacing:-1px;}
BODY[ettl='yes'] #LJGXUKFKLW_DIV, BODY[ettl='yes'] #TMSKAKFYVT_DIV, BODY[ettl='yes'] #HPLDXSAUUT_DIV, BODY[ettl='yes'] .HPLDXSAUUT_DIV {letter-spacing:-1px;}
#PXQHTXKHTN_DIV, #FKEPVSZZKY_DIV, #LJGXUKFKLW_DIV, #TMSKAKFYVT_DIV, #ABVESLGBAT_DIV, #HFEVXZMSJH_DIV, #ADQAXWGKXT_DIV, #KDABTEGGHB_DIV {overflow:hidden;}
#DNNIBYMZGH, .DNNIBYMZGH, #KFGZTRHOBC, .KFGZTRHOBC, #HPLDXSAUUT_DIV, .HPLDXSAUUT_DIV, #WOCPOWSYXW, .WOCPOWSYXW, #IADEZIJVRP, #TKLYFIYSLT, #PECYSWBJIH {box-sizing : border-box;}
