.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#MUYIYDLBMI_DIV {top:21px;position:absolute;left:8px;height:16px;width:48px;text-align:center;z-index:1;}
#CYORQPYJOI_DIV {top:21px;position:absolute;left:72px;height:16px;width:40px;text-align:center;z-index:1;}
#RBTRENZOWZ_DIV {top:7px;position:absolute;left:128px;height:29px;width:56px;text-align:center;z-index:1;}
#DXQMLURKZO_DIV {top:7px;position:absolute;left:200px;height:29px;width:56px;text-align:center;z-index:1;}
#ZHCRCTTAHK_DIV {top:7px;position:absolute;left:272px;height:29px;width:56px;text-align:center;z-index:1;}
#VTKPZXOJNA {top:0px;position:absolute;left:0px;height:16px;width:48px;text-align:right;background-color:Transparent;z-index:1; }
.VTKPZXOJNA {top:0px;position:absolute;left:0px;height:16px;width:48px;text-align:right;background-color:Transparent;z-index:1; }
#BWTIUEDQGZ {top:0px;position:absolute;left:64px;height:16px;width:40px;text-align:right;background-color:Transparent;z-index:1; }
.BWTIUEDQGZ {top:0px;position:absolute;left:64px;height:16px;width:40px;text-align:right;background-color:Transparent;z-index:1; }
#KVHOYDAEWK {top:0px;position:absolute;left:120px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.KVHOYDAEWK {top:0px;position:absolute;left:120px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
#AOUYQGNXQU {top:0px;position:absolute;left:192px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.AOUYQGNXQU {top:0px;position:absolute;left:192px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
#NHORYNPKJE {top:0px;position:absolute;left:264px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
.NHORYNPKJE {top:0px;position:absolute;left:264px;height:16px;width:56px;text-align:right;background-color:Transparent;z-index:1; }
#MUYIYDLBMI_DIV, #CYORQPYJOI_DIV, #RBTRENZOWZ_DIV, #DXQMLURKZO_DIV, #ZHCRCTTAHK_DIV {overflow:hidden;}
#VTKPZXOJNA, .VTKPZXOJNA, #BWTIUEDQGZ, .BWTIUEDQGZ, #KVHOYDAEWK, .KVHOYDAEWK, #AOUYQGNXQU, .AOUYQGNXQU, #NHORYNPKJE, .NHORYNPKJE {box-sizing : border-box;}
