.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XGSRLAQUVD_DIV {top:0px;position:absolute;left:8px;height:16px;width:118px;text-align:left;z-index:1;}
#VRCVINYRJO { height:57px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:relative;z-index:0;width:100%;}
#NAKGRMOUXS_DIV {top:8px;position:absolute;left:18px;height:16px;width:622px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:29px;position:absolute;left:18px;height:16px;width:622px;text-align:left;z-index:1;}
#ZTLCEVOAHM_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZTLCEVOAHM_DIV {left:569px;height:16px;width:69px;}
BODY[ettl='old'] #ZTLCEVOAHM_DIV {left:569px;height:16px;width:69px;}
BODY[ettl='yes'] #ZTLCEVOAHM_DIV {right:calc(100% - 638px);letter-spacing:-1px;}
#MXACIGAZQB_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MXACIGAZQB_DIV {left:656px;height:16px;width:128px;}
BODY[ettl='old'] #MXACIGAZQB_DIV {left:656px;height:16px;width:128px;}
BODY[ettl='yes'] #MXACIGAZQB_DIV {right:calc(100% - 784px);}
#TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
#TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;z-index:1;}
.TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
.TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#FRMNDCFDLT {top:0px;position:absolute;left:600px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
.FRMNDCFDLT {top:0px;position:absolute;left:600px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
#WWCVGFCWRT {top:0px;position:absolute;left:648px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
.WWCVGFCWRT {top:0px;position:absolute;left:648px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
#XGSRLAQUVD_DIV, #VRCVINYRJO, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #ZTLCEVOAHM_DIV, #MXACIGAZQB_DIV {overflow:hidden;}
#VRCVINYRJO, #TMTNRFTARW, .TMTNRFTARW, #DTVWWZNCNW, .DTVWWZNCNW, #FRMNDCFDLT, .FRMNDCFDLT, #WWCVGFCWRT, .WWCVGFCWRT {box-sizing : border-box;}
