.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#EYBPXHGUZY_DIV {top:7px;position:absolute;left:8px;height:16px;width:42px;text-align:left;z-index:1;}
#NPOUDYSLPC_DIV {top:7px;position:absolute;left:528px;height:16px;width:72px;text-align:left;z-index:1;}
#BKLPQLOWPY_DIV {top:354px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BKLPQLOWPY_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #BKLPQLOWPY_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #BKLPQLOWPY_DIV {right:calc(100% - 160px);}
#QYXREWCOCK_DIV {top:326px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QYXREWCOCK_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #QYXREWCOCK_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #QYXREWCOCK_DIV {right:calc(100% - 160px);}
#CKEDGOYWAR_DIV {top:382px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CKEDGOYWAR_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #CKEDGOYWAR_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #CKEDGOYWAR_DIV {right:calc(100% - 160px);}
#DHTENWMMKQ_DIV {top:410px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DHTENWMMKQ_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #DHTENWMMKQ_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #DHTENWMMKQ_DIV {right:calc(100% - 160px);}
#NOMPGQKWQY_DIV {top:438px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NOMPGQKWQY_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #NOMPGQKWQY_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #NOMPGQKWQY_DIV {right:calc(100% - 160px);}
#YZSDTWZADK_DIV {top:466px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YZSDTWZADK_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #YZSDTWZADK_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #YZSDTWZADK_DIV {right:calc(100% - 160px);}
#UJZUUASOGW_DIV {top:466px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UJZUUASOGW_DIV {left:256px;height:16px;width:168px;}
BODY[ettl='old'] #UJZUUASOGW_DIV {left:256px;height:16px;width:168px;}
BODY[ettl='yes'] #UJZUUASOGW_DIV {right:calc(100% - 424px);}
#VSGBYENSVC_DIV {top:466px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VSGBYENSVC_DIV {left:832px;height:16px;width:128px;}
BODY[ettl='old'] #VSGBYENSVC_DIV {left:832px;height:16px;width:128px;}
BODY[ettl='yes'] #VSGBYENSVC_DIV {right:calc(100% - 960px);}
#GVMMKABWWU {top:0px;position:absolute;left:0px;height:16px;width:512px;z-index:1; }
#GVMMKABWWU { vertical-align:middle; }
.GVMMKABWWU {top:0px;position:absolute;left:0px;height:16px;width:512px;z-index:1; }
#NNRZYWQBXJ {top:0px;position:absolute;left:520px;height:16px;width:528px;z-index:1; }
.NNRZYWQBXJ {top:0px;position:absolute;left:520px;height:16px;width:528px;z-index:1; }
#MVCFXMIIPY {top:322px;position:absolute;left:160px;height:20px;width:400px;z-index:1; }
#MVCFXMIIPY { vertical-align:middle; }
#SNYJQPAYYR {top:350px;position:absolute;left:160px;height:20px;width:904px;z-index:1; }
#SNYJQPAYYR { vertical-align:middle; }
#MDEBFTECJW {top:378px;position:absolute;left:160px;height:20px;width:904px;z-index:1; }
#MDEBFTECJW { vertical-align:middle; }
#NHFRSWSJPA {top:406px;position:absolute;left:160px;height:20px;width:904px;z-index:1; }
#KYDBUIQLMM {top:434px;position:absolute;left:160px;height:20px;width:904px;z-index:1; }
#KYDBUIQLMM { vertical-align:middle; }
#CNCQNTLDXJ {top:462px;position:absolute;left:160px;height:20px;width:72px;text-align:right;z-index:1; }
#CNCQNTLDXJ_ZOOM { position:absolute;top:462px;left:233px;height:20px;width:17px;z-index:1;}
#PDCPOALMKJ {top:462px;position:absolute;left:424px;height:20px;width:112px;z-index:1; }
#OWRKSPYBFW {top:462px;position:absolute;left:960px;height:20px;width:102px;text-align:right;z-index:1; }
#EYBPXHGUZY_DIV, #NPOUDYSLPC_DIV, #BKLPQLOWPY_DIV, #QYXREWCOCK_DIV, #CKEDGOYWAR_DIV, #DHTENWMMKQ_DIV, #NOMPGQKWQY_DIV, #YZSDTWZADK_DIV, #UJZUUASOGW_DIV, #VSGBYENSVC_DIV {overflow:hidden;}
#GVMMKABWWU, .GVMMKABWWU, #NNRZYWQBXJ, .NNRZYWQBXJ, #MVCFXMIIPY, #SNYJQPAYYR, #MDEBFTECJW, #NHFRSWSJPA, #KYDBUIQLMM, #CNCQNTLDXJ, #PDCPOALMKJ, #OWRKSPYBFW {box-sizing : border-box;}
