.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#LRCBCCJPMM_DIV {top:7px;position:absolute;left:8px;height:16px;width:108px;text-align:left;z-index:1;}
#COQJLKUWGH_DIV {top:7px;position:absolute;left:600px;height:16px;width:60px;text-align:left;z-index:1;}
#LPRANTQLEG_DIV {top:7px;position:absolute;left:704px;height:16px;width:60px;text-align:left;z-index:1;}
#QVNGTSMQDW {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#QVNGTSMQDW_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;z-index:1;}
.QVNGTSMQDW {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.QVNGTSMQDW_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#VWJRJLRPVH {top:0px;position:absolute;left:592px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
#VWJRJLRPVH_ZOOM { position:absolute;top:0px;left:665px;height:17px;width:17px;z-index:1;}
.VWJRJLRPVH {top:0px;position:absolute;left:592px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
.VWJRJLRPVH_ZOOM { position:absolute;top:0px;left:665px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#ETHOBQMTKW {top:0px;position:absolute;left:696px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
#ETHOBQMTKW_ZOOM { position:absolute;top:0px;left:769px;height:17px;width:17px;z-index:1;}
.ETHOBQMTKW {top:0px;position:absolute;left:696px;height:16px;width:72px;text-align:right;background-color:Transparent;z-index:1; }
.ETHOBQMTKW_ZOOM { position:absolute;top:0px;left:769px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#NZGGDYYKJT {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.NZGGDYYKJT {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#LRCBCCJPMM_DIV, #COQJLKUWGH_DIV, #LPRANTQLEG_DIV {overflow:hidden;}
#QVNGTSMQDW, .QVNGTSMQDW, #VWJRJLRPVH, .VWJRJLRPVH, #ETHOBQMTKW, .ETHOBQMTKW, #NZGGDYYKJT, .NZGGDYYKJT {box-sizing : border-box;}
