.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VPEBFYUACG_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #VPEBFYUACG_DIV {height:16px;width:83px;}
BODY[ettl='old'] #VPEBFYUACG_DIV {height:16px;width:83px;}
#ARIWMHFIOV_DIV {top:49px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#ARIWMHFIOV_DIV>label { line-height: 20px; }
#CPZZTQOQEL_DIV {top:91px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#CPZZTQOQEL_DIV>label { line-height: 20px; }
#LVVLDDYTMP_DIV {top:133px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#LVVLDDYTMP_DIV>label { line-height: 20px; }
#FYSCRZZKZI_DIV {top:175px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#FYSCRZZKZI_DIV>label { line-height: 20px; }
#XMDAOYVNNA_DIV {top:217px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#XMDAOYVNNA_DIV>label { line-height: 20px; }
#FMWOOHLKTT {top:7px;position:absolute;left:368px;height:20px;width:24px;z-index:1; }
#MTPCPCMIIQ_DIV {top:259px;position:absolute;left:112px;height:29px;width:384px;color:#0000FF;text-align:left;z-index:1;}
#MTPCPCMIIQ_DIV>label { line-height: 20px; }
#FQUOPUKVTM_DIV {top:298px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FQUOPUKVTM_DIV {left:128px;height:16px;width:128px;}
BODY[ettl='old'] #FQUOPUKVTM_DIV {left:128px;height:16px;width:128px;}
BODY[ettl='yes'] #FQUOPUKVTM_DIV {right:calc(100% - 256px);}
#GTDLGPZWRR {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
.GTDLGPZWRR {top:0px;position:absolute;left:0px;height:16px;width:80px;text-align:right;background-color:Transparent;z-index:1; }
#AXNGRMGWKA {top:50px;position:absolute;left:504px;height:20px;width:114px;text-align:right;z-index:1; }
#IHYVMMXNYB {top:92px;position:absolute;left:504px;height:20px;width:114px;text-align:right;z-index:1; }
#FOMIWSJIXX {top:134px;position:absolute;left:504px;height:20px;width:114px;text-align:right;z-index:1; }
#BTCAUOXWJV {top:176px;position:absolute;left:504px;height:20px;width:114px;text-align:right;z-index:1; }
#JNHTVKJIVX {top:218px;position:absolute;left:504px;height:20px;width:64px;text-align:right;z-index:1; }
#WGRHFFESJM {top:260px;position:absolute;left:504px;height:20px;width:114px;text-align:right;z-index:1; }
#GIHQXNRYNI {top:294px;position:absolute;left:256px;height:20px;width:360px;z-index:1; }
#GIHQXNRYNI { vertical-align:middle; }
BODY[ettl='yes'] #VPEBFYUACG_DIV {letter-spacing:-1px;}
#VPEBFYUACG_DIV, #ARIWMHFIOV_DIV, #CPZZTQOQEL_DIV, #LVVLDDYTMP_DIV, #FYSCRZZKZI_DIV, #XMDAOYVNNA_DIV, #MTPCPCMIIQ_DIV, #FQUOPUKVTM_DIV {overflow:hidden;}
#FMWOOHLKTT, #GTDLGPZWRR, .GTDLGPZWRR, #AXNGRMGWKA, #IHYVMMXNYB, #FOMIWSJIXX, #BTCAUOXWJV, #JNHTVKJIVX, #WGRHFFESJM, #GIHQXNRYNI {box-sizing : border-box;}
