.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XGSRLAQUVD_DIV {top:0px;position:absolute;left:8px;height:16px;width:118px;text-align:left;z-index:1;}
#VRCVINYRJO { height:56px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:relative;z-index:0;width:100%;}
#NAKGRMOUXS_DIV {top:7px;position:absolute;left:16px;height:16px;width:632px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:35px;position:absolute;left:16px;height:16px;width:632px;text-align:left;z-index:1;}
#IUUBRDKZQL_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IUUBRDKZQL_DIV {left:560px;height:16px;width:79px;}
BODY[ettl='old'] #IUUBRDKZQL_DIV {left:560px;height:16px;width:79px;}
BODY[ettl='yes'] #IUUBRDKZQL_DIV {right:calc(100% - 639px);}
#ASSUQIWNPM_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ASSUQIWNPM_DIV {left:676px;height:16px;width:99px;}
BODY[ettl='old'] #ASSUQIWNPM_DIV {left:676px;height:16px;width:99px;}
BODY[ettl='yes'] #ASSUQIWNPM_DIV {right:calc(100% - 775px);letter-spacing:-1px;}
#TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
#TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;z-index:1;}
.TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
.TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#SKLGMQFXFQ {top:0px;position:absolute;left:600px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
.SKLGMQFXFQ {top:0px;position:absolute;left:600px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
#YJLEVWVVMX {top:0px;position:absolute;left:640px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
.YJLEVWVVMX {top:0px;position:absolute;left:640px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
#XGSRLAQUVD_DIV, #VRCVINYRJO, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #IUUBRDKZQL_DIV, #ASSUQIWNPM_DIV {overflow:hidden;}
#VRCVINYRJO, #TMTNRFTARW, .TMTNRFTARW, #DTVWWZNCNW, .DTVWWZNCNW, #SKLGMQFXFQ, .SKLGMQFXFQ, #YJLEVWVVMX, .YJLEVWVVMX {box-sizing : border-box;}
