.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FHZSFWPOHS_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
#FHZSFWPOHS_HREF {}
BODY:not([ettl]) #FHZSFWPOHS_DIV {height:16px;width:91px;}
BODY[ettl='old'] #FHZSFWPOHS_DIV {height:16px;width:91px;}
#ONTPCNJSDJ_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ONTPCNJSDJ_DIV {left:672px;height:16px;width:40px;}
BODY[ettl='old'] #ONTPCNJSDJ_DIV {left:672px;height:16px;width:40px;}
BODY[ettl='yes'] #ONTPCNJSDJ_DIV {right:calc(100% - 712px);}
#EQQSGWXFEN {top:0px;position:absolute;left:0px;height:16px;width:30px;background-color:Transparent;z-index:1; }
#EQQSGWXFEN_ZOOM { position:absolute;top:0px;left:31px;height:17px;width:17px;z-index:1;}
.EQQSGWXFEN {top:0px;position:absolute;left:0px;height:16px;width:30px;background-color:Transparent;z-index:1; }
.EQQSGWXFEN_ZOOM { position:absolute;top:0px;left:31px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#DMQNJHYOOO {top:0px;position:absolute;left:664px;height:16px;width:42px;text-align:right;background-color:Transparent;z-index:1; }
.DMQNJHYOOO {top:0px;position:absolute;left:664px;height:16px;width:42px;text-align:right;background-color:Transparent;z-index:1; }
#CNUURRFRMI {top:0px;position:absolute;left:64px;height:16px;width:592px;background-color:Transparent;z-index:1; }
.CNUURRFRMI {top:0px;position:absolute;left:64px;height:16px;width:592px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #FHZSFWPOHS_DIV {letter-spacing:-1px;}
#FHZSFWPOHS_DIV, #ONTPCNJSDJ_DIV {overflow:hidden;}
#EQQSGWXFEN, .EQQSGWXFEN, #DMQNJHYOOO, .DMQNJHYOOO, #CNUURRFRMI, .CNUURRFRMI {box-sizing : border-box;}
