.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#QPWBEAGBGF_DIV {top:7px;position:absolute;left:8px;height:16px;width:136px;text-align:left;z-index:1;}
#XDSAZOVBQR_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XDSAZOVBQR_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='old'] #XDSAZOVBQR_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='yes'] #XDSAZOVBQR_DIV {right:calc(100% - 272px);}
#OHJFNNNEQD_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OHJFNNNEQD_DIV {left:433px;height:16px;width:55px;}
BODY[ettl='old'] #OHJFNNNEQD_DIV {left:433px;height:16px;width:55px;}
BODY[ettl='yes'] #OHJFNNNEQD_DIV {right:calc(100% - 488px);letter-spacing:-1px;}
#LDGMOFMXKL_DIV {top:119px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LDGMOFMXKL_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='old'] #LDGMOFMXKL_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='yes'] #LDGMOFMXKL_DIV {right:calc(100% - 272px);}
#PNHRTSFPIS_DIV {top:147px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PNHRTSFPIS_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='old'] #PNHRTSFPIS_DIV {left:192px;height:16px;width:80px;}
BODY[ettl='yes'] #PNHRTSFPIS_DIV {right:calc(100% - 272px);}
#YJLOGXMJYL_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YJLOGXMJYL_DIV {left:160px;height:16px;width:112px;}
BODY[ettl='old'] #YJLOGXMJYL_DIV {left:160px;height:16px;width:112px;}
BODY[ettl='yes'] #YJLOGXMJYL_DIV {right:calc(100% - 272px);}
#NMXBOMFUCN {top:0px;position:absolute;left:0px;height:16px;width:120px;background-color:Transparent;z-index:1; }
#NMXBOMFUCN_ZOOM { position:absolute;top:0px;left:121px;height:17px;width:17px;z-index:1;}
.NMXBOMFUCN {top:0px;position:absolute;left:0px;height:16px;width:120px;background-color:Transparent;z-index:1; }
.NMXBOMFUCN_ZOOM { position:absolute;top:0px;left:121px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#QIKDMUYRQZ_DIV {top:59px;position:absolute;left:272px;height:21px;width:272px;overflow:hidden;white-space:nowrap;z-index:1; }
#ARBDBAASEB {top:88px;position:absolute;left:272px;height:20px;width:72px;text-align:right;z-index:1; }
#ARBDBAASEB_ZOOM { position:absolute;top:88px;left:345px;height:20px;width:17px;z-index:1;}
#XPJIVBDIXS {top:88px;position:absolute;left:496px;height:20px;width:72px;text-align:right;z-index:1; }
#XPJIVBDIXS_ZOOM { position:absolute;top:88px;left:569px;height:20px;width:17px;z-index:1;}
#QMLLHINIKD {top:115px;position:absolute;left:272px;height:20px;width:432px;z-index:1; }
#QMLLHINIKD { vertical-align:middle; }
#DTNUYRRYDZ {top:143px;position:absolute;left:272px;height:20px;width:432px;z-index:1; }
#DTNUYRRYDZ { vertical-align:middle; }
#EZAKPDKVDE {top:31px;position:absolute;left:272px;height:20px;width:432px;z-index:1; }
#QPWBEAGBGF_DIV, #XDSAZOVBQR_DIV, #OHJFNNNEQD_DIV, #LDGMOFMXKL_DIV, #PNHRTSFPIS_DIV, #YJLOGXMJYL_DIV {overflow:hidden;}
#NMXBOMFUCN, .NMXBOMFUCN, #QIKDMUYRQZ_DIV, #ARBDBAASEB, #XPJIVBDIXS, #QMLLHINIKD, #DTNUYRRYDZ, #EZAKPDKVDE {box-sizing : border-box;}
