.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NEPJPCVRHZ_DIV {top:7px;position:absolute;left:16px;height:16px;width:133px;text-align:left;z-index:1;}
#GCFQVRXGQC {top:0px;position:absolute;left:0px;height:16px;width:38px;background-color:Transparent;z-index:1; }
#GCFQVRXGQC_ZOOM { position:absolute;top:0px;left:39px;height:17px;width:17px;z-index:1;}
.GCFQVRXGQC {top:0px;position:absolute;left:0px;height:16px;width:38px;background-color:Transparent;z-index:1; }
.GCFQVRXGQC_ZOOM { position:absolute;top:0px;left:39px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#IZLSVDYFRS {top:0px;position:absolute;left:64px;height:16px;width:492px;background-color:Transparent;z-index:1; }
.IZLSVDYFRS {top:0px;position:absolute;left:64px;height:16px;width:492px;background-color:Transparent;z-index:1; }
#NEPJPCVRHZ_DIV {overflow:hidden;}
#GCFQVRXGQC, .GCFQVRXGQC, #IZLSVDYFRS, .IZLSVDYFRS {box-sizing : border-box;}
