.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#JFXNCSDYSW_DIV {top:7px;position:absolute;left:8px;height:16px;width:85px;text-align:left;z-index:1;}
#OWVVAUJFFL_DIV {top:252px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #OWVVAUJFFL_DIV {height:16px;width:77px;}
BODY[ettl='old'] #OWVVAUJFFL_DIV {height:16px;width:77px;}
#ADKIXRTNLX_DIV {top:252px;position:absolute;left:192px;text-align:left;z-index:1;}
BODY:not([ettl]) #ADKIXRTNLX_DIV {height:16px;width:62px;}
BODY[ettl='old'] #ADKIXRTNLX_DIV {height:16px;width:62px;}
#GSUAUOGBHD_DIV {top:252px;position:absolute;left:304px;height:16px;width:72px;text-align:left;z-index:1;}
#JOQMSWDYGR_DIV {top:252px;position:absolute;left:464px;text-align:left;z-index:1;}
BODY:not([ettl]) #JOQMSWDYGR_DIV {height:16px;width:85px;}
BODY[ettl='old'] #JOQMSWDYGR_DIV {height:16px;width:85px;}
#URBNCIBPHQ_DIV {top:252px;position:absolute;left:384px;height:16px;width:72px;text-align:left;z-index:1;}
#ZAXYZRYGOP_DIV {top:301px;position:absolute;left:8px;height:16px;width:77px;text-align:left;z-index:1;}
#MLXZDUCDRF_DIV {top:301px;position:absolute;left:264px;height:16px;width:77px;text-align:left;z-index:1;}
#ITHYSXXSSN_DIV {top:301px;position:absolute;left:512px;height:16px;width:32px;text-align:left;z-index:1;}
#ABYWUBLTBL_DIV {top:301px;position:absolute;left:560px;text-align:left;z-index:1;}
BODY:not([ettl]) #ABYWUBLTBL_DIV {height:16px;width:32px;}
BODY[ettl='old'] #ABYWUBLTBL_DIV {height:16px;width:32px;}
#GALZNDARYJ_DIV {top:350px;position:absolute;left:8px;height:16px;width:77px;text-align:left;z-index:1;}
#AHAEFMDTZV_DIV {top:371px;position:absolute;left:72px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#XCOFZIDOBL {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
#XCOFZIDOBL_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;z-index:1;}
.XCOFZIDOBL {top:0px;position:absolute;left:0px;height:16px;width:110px;background-color:Transparent;z-index:1; }
.XCOFZIDOBL_ZOOM { position:absolute;top:0px;left:111px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#NLQNUCEFAF {top:273px;position:absolute;left:8px;height:20px;width:176px;z-index:1; }
#NLQNUCEFAF { vertical-align:middle; }
#ZWNTMRMLZT {top:273px;position:absolute;left:192px;height:20px;width:104px;z-index:1; }
#IWFQNNZEIO {top:273px;position:absolute;left:304px;height:20px;width:72px;text-align:right;z-index:1; }
#DPXJJYNKQD {top:274px;position:absolute;left:465px;height:20px;width:192px;z-index:1; }
#RNNLFXBYNE {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.RNNLFXBYNE {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#TFTPGRBHXL {top:273px;position:absolute;left:384px;height:20px;width:72px;text-align:right;z-index:1; }
#XWVSEMUYKF {top:322px;position:absolute;left:8px;height:20px;width:248px;z-index:1; }
#TNGAQJNMOX {top:322px;position:absolute;left:264px;height:20px;width:222px;z-index:1; }
#TNGAQJNMOX_ZOOM { position:absolute;top:322px;left:487px;height:20px;width:17px;z-index:1;}
#OVPWCHXBKI {top:322px;position:absolute;left:512px;height:20px;width:32px;z-index:1; }
#FVRVSFXLIG {top:322px;position:absolute;left:560px;height:20px;width:66px;z-index:1; }
#BZUPXAPSJB {top:371px;position:absolute;left:8px;height:20px;width:38px;z-index:1; }
#BZUPXAPSJB_ZOOM { position:absolute;top:371px;left:47px;height:20px;width:17px;z-index:1;}
BODY[ettl='yes'] #OWVVAUJFFL_DIV, BODY[ettl='yes'] #ADKIXRTNLX_DIV, BODY[ettl='yes'] #JOQMSWDYGR_DIV, BODY[ettl='yes'] #ABYWUBLTBL_DIV {letter-spacing:-1px;}
#JFXNCSDYSW_DIV, #OWVVAUJFFL_DIV, #ADKIXRTNLX_DIV, #GSUAUOGBHD_DIV, #JOQMSWDYGR_DIV, #URBNCIBPHQ_DIV, #ZAXYZRYGOP_DIV, #MLXZDUCDRF_DIV, #ITHYSXXSSN_DIV, #ABYWUBLTBL_DIV, #GALZNDARYJ_DIV, #AHAEFMDTZV_DIV {overflow:hidden;}
#XCOFZIDOBL, .XCOFZIDOBL, #NLQNUCEFAF, #ZWNTMRMLZT, #IWFQNNZEIO, #DPXJJYNKQD, #RNNLFXBYNE, .RNNLFXBYNE, #TFTPGRBHXL, #XWVSEMUYKF, #TNGAQJNMOX, #OVPWCHXBKI, #FVRVSFXLIG, #BZUPXAPSJB {box-sizing : border-box;}
