.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XGSRLAQUVD_DIV {top:0px;position:absolute;left:8px;height:16px;width:79px;text-align:left;z-index:1;}
#VRCVINYRJO { height:50px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:relative;z-index:0;width:100%;}
#NAKGRMOUXS_DIV {top:8px;position:absolute;left:18px;height:16px;width:622px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:29px;position:absolute;left:18px;height:16px;width:622px;text-align:left;z-index:1;}
#CGJYWUYOHC_DIV {top:0px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CGJYWUYOHC_DIV {left:560px;height:16px;width:69px;}
BODY[ettl='old'] #CGJYWUYOHC_DIV {left:560px;height:16px;width:69px;}
BODY[ettl='yes'] #CGJYWUYOHC_DIV {right:calc(100% - 629px);letter-spacing:-1px;}
#TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
#TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;z-index:1;}
.TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
.TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.DTVWWZNCNW {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#KWLXEUCJLS {top:0px;position:absolute;left:592px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
.KWLXEUCJLS {top:0px;position:absolute;left:592px;height:16px;width:30px;text-align:right;background-color:Transparent;z-index:1; }
#XGSRLAQUVD_DIV, #VRCVINYRJO, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #CGJYWUYOHC_DIV {overflow:hidden;}
#VRCVINYRJO, #TMTNRFTARW, .TMTNRFTARW, #DTVWWZNCNW, .DTVWWZNCNW, #KWLXEUCJLS, .KWLXEUCJLS {box-sizing : border-box;}
