.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#MINAAOAOZC { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#MINAAOAOZC_DIV { position:absolute;height:45px;z-index:0;width:728px;top:3px;left:16px;}
#XCDXQXTRHM_DIV {top:2px;position:absolute;left:608px;height:16px;width:64px;text-align:center;z-index:1;}
#BFMPSJTVZY_DIV {top:0px;position:absolute;left:32px;text-align:left;z-index:1;}
BODY:not([ettl]) #BFMPSJTVZY_DIV {height:16px;width:61px;}
BODY[ettl='old'] #BFMPSJTVZY_DIV {height:16px;width:61px;}
#QEAAMPSBPR_DIV {top:2px;position:absolute;left:680px;height:16px;width:64px;text-align:center;z-index:1;}
#VRCVINYRJO { height:45px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:relative;z-index:0;width:100%;}
#NAKGRMOUXS_DIV {top:7px;position:absolute;left:24px;height:16px;width:648px;text-align:left;z-index:1;}
#HMPQLYVATL_DIV {top:28px;position:absolute;left:24px;height:16px;width:608px;text-align:left;z-index:1;}
#QPLXZEEVEI {top:0px;position:absolute;left:648px;height:20px;width:88px;z-index:1; }
#BHLAQHLOJQ_DIV {top:21px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BHLAQHLOJQ_DIV {left:48px;height:16px;width:147px;}
BODY[ettl='old'] #BHLAQHLOJQ_DIV {left:48px;height:16px;width:147px;}
BODY[ettl='yes'] #BHLAQHLOJQ_DIV {right:calc(100% - 195px);letter-spacing:-1px;}
#EQUZNNIXBO_DIV {top:21px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQUZNNIXBO_DIV {left:496px;height:16px;width:163px;}
BODY[ettl='old'] #EQUZNNIXBO_DIV {left:496px;height:16px;width:163px;}
BODY[ettl='yes'] #EQUZNNIXBO_DIV {right:calc(100% - 659px);}
#SEPJTDHOKN_DIV {top:26px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SEPJTDHOKN_DIV {left:632px;height:16px;width:73px;}
BODY[ettl='old'] #SEPJTDHOKN_DIV {left:632px;height:16px;width:73px;}
BODY[ettl='yes'] #SEPJTDHOKN_DIV {right:calc(100% - 705px);letter-spacing:-1px;}
#XTDHYWJPZL {top:2px;position:absolute;left:24px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#XTDHYWJPZL_ZOOM { position:absolute;top:2px;left:133px;height:17px;width:17px;z-index:1;}
.XTDHYWJPZL {top:2px;position:absolute;left:24px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.XTDHYWJPZL_ZOOM { position:absolute;top:2px;left:133px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#HKZAUFLHMG {top:2px;position:absolute;left:600px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.HKZAUFLHMG {top:2px;position:absolute;left:600px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#NATIUIQLJX {top:2px;position:absolute;left:672px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.NATIUIQLJX {top:2px;position:absolute;left:672px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#IOJVSZRBNX {top:14px;position:absolute;left:200px;height:23px;width:80px;z-index:1; }
#VNGVCVDHTS {top:14px;position:absolute;left:664px;height:23px;width:72px;z-index:1; }
#VICYEWBISV {top:2px;position:absolute;left:165px;height:16px;width:423px;background-color:Transparent;z-index:1; }
.VICYEWBISV {top:2px;position:absolute;left:165px;height:16px;width:423px;background-color:Transparent;z-index:1; }
#VYVWCXNUMC {top:22px;position:absolute;left:705px;height:20px;width:30px;text-align:right;z-index:1; }
#BKRVFLJLOS {top:0px;position:absolute;left:0px;border-style:none;z-index:1;clip:rect(0,16px,17px,0);}
.BKRVFLJLOS {top:0px;position:absolute;left:0px;border-style:none;z-index:1;clip:rect(0,16px,17px,0);}
BODY[ettl='yes'] #BFMPSJTVZY_DIV {letter-spacing:-1px;}
#MINAAOAOZC, #XCDXQXTRHM_DIV, #BFMPSJTVZY_DIV, #QEAAMPSBPR_DIV, #VRCVINYRJO, #NAKGRMOUXS_DIV, #HMPQLYVATL_DIV, #BHLAQHLOJQ_DIV, #EQUZNNIXBO_DIV, #SEPJTDHOKN_DIV {overflow:hidden;}
#MINAAOAOZC, #VRCVINYRJO, #QPLXZEEVEI, #XTDHYWJPZL, .XTDHYWJPZL, #HKZAUFLHMG, .HKZAUFLHMG, #NATIUIQLJX, .NATIUIQLJX, #IOJVSZRBNX, #VNGVCVDHTS, #VICYEWBISV, .VICYEWBISV, #VYVWCXNUMC {box-sizing : border-box;}
