.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#RNYYQBFCOW_DIV {top:7px;position:absolute;left:8px;height:16px;width:108px;text-align:left;z-index:1;}
#QDMWRRAUML_DIV {top:7px;position:absolute;left:544px;height:16px;width:60px;text-align:left;z-index:1;}
#ITWFLEYCHC_DIV {top:7px;position:absolute;left:640px;height:16px;width:60px;text-align:left;z-index:1;}
#FPBSSVXDQL {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#FPBSSVXDQL_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;z-index:1;}
.FPBSSVXDQL {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.FPBSSVXDQL_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#GGAHROABXW {top:0px;position:absolute;left:536px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#GGAHROABXW_ZOOM { position:absolute;top:0px;left:601px;height:17px;width:17px;z-index:1;}
.GGAHROABXW {top:0px;position:absolute;left:536px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.GGAHROABXW_ZOOM { position:absolute;top:0px;left:601px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#JIUFPHLRLR {top:0px;position:absolute;left:632px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#JIUFPHLRLR_ZOOM { position:absolute;top:0px;left:697px;height:17px;width:17px;z-index:1;}
.JIUFPHLRLR {top:0px;position:absolute;left:632px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.JIUFPHLRLR_ZOOM { position:absolute;top:0px;left:697px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#NXUMLWOVGN {top:0px;position:absolute;left:136px;height:16px;width:392px;background-color:Transparent;z-index:1; }
.NXUMLWOVGN {top:0px;position:absolute;left:136px;height:16px;width:392px;background-color:Transparent;z-index:1; }
#RNYYQBFCOW_DIV, #QDMWRRAUML_DIV, #ITWFLEYCHC_DIV {overflow:hidden;}
#FPBSSVXDQL, .FPBSSVXDQL, #GGAHROABXW, .GGAHROABXW, #JIUFPHLRLR, .JIUFPHLRLR, #NXUMLWOVGN, .NXUMLWOVGN {box-sizing : border-box;}
