.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XGSRLAQUVD_DIV {top:0px;position:absolute;left:8px;height:16px;width:79px;text-align:left;z-index:1;}
#VRCVINYRJO { height:85px;border-width:1px;border-color:#FFFF80;border-style:solid;z-index:0;}
#VRCVINYRJO_DIV { position:absolute;height:85px;z-index:0;width:594px;top:132px;left:6px;}
#AVTVZXZUWT_DIV {top:139px;position:absolute;left:14px;height:16px;width:578px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
#TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;z-index:1;}
.TMTNRFTARW {top:0px;position:absolute;left:0px;height:16px;width:118px;background-color:Transparent;z-index:1; }
.TMTNRFTARW_ZOOM { position:absolute;top:0px;left:119px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#GAEWMPRBSY {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.GAEWMPRBSY {top:0px;position:absolute;left:144px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#JEGIRRECDX {top:161px;position:absolute;left:72px;height:20px;width:206px;z-index:1; }
#JEGIRRECDX_ZOOM { position:absolute;top:161px;left:279px;height:20px;width:17px;z-index:1;}
#VFKBUBHCEY {top:161px;position:absolute;left:360px;height:20px;width:56px;z-index:1; }
#KMXMWIBKDJ {top:161px;position:absolute;left:488px;height:20px;width:24px;z-index:1; }
#OFRQGKEFMW {top:189px;position:absolute;left:72px;height:20px;width:224px;z-index:1; }
#KVYEJVZPZF {top:189px;position:absolute;left:336px;height:20px;width:30px;z-index:1; }
#KVYEJVZPZF_ZOOM { position:absolute;top:189px;left:367px;height:20px;width:17px;z-index:1;}
#MBGCZJULKH {top:161px;position:absolute;left:552px;height:20px;width:42px;z-index:1; }
#ADZOIEROPS_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ADZOIEROPS_DIV {left:16px;height:16px;width:52px;}
BODY[ettl='old'] #ADZOIEROPS_DIV {left:16px;height:16px;width:52px;}
BODY[ettl='yes'] #ADZOIEROPS_DIV {right:calc(100% - 68px);}
#XXIXVHLNAZ_DIV {top:193px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XXIXVHLNAZ_DIV {left:16px;height:16px;width:52px;}
BODY[ettl='old'] #XXIXVHLNAZ_DIV {left:16px;height:16px;width:52px;}
BODY[ettl='yes'] #XXIXVHLNAZ_DIV {right:calc(100% - 68px);}
#CTWDLNXXXD_DIV {top:193px;position:absolute;left:392px;height:16px;width:200px;color:#0000FF;text-align:left;z-index:1;}
#CBEMYYLYKG_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CBEMYYLYKG_DIV {left:320px;height:16px;width:36px;}
BODY[ettl='old'] #CBEMYYLYKG_DIV {left:320px;height:16px;width:36px;}
BODY[ettl='yes'] #CBEMYYLYKG_DIV {right:calc(100% - 356px);}
#FTGWANORAK_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FTGWANORAK_DIV {left:424px;height:16px;width:63px;}
BODY[ettl='old'] #FTGWANORAK_DIV {left:424px;height:16px;width:63px;}
BODY[ettl='yes'] #FTGWANORAK_DIV {right:calc(100% - 487px);}
#ZELRIRCOIH_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZELRIRCOIH_DIV {left:520px;height:16px;width:29px;}
BODY[ettl='old'] #ZELRIRCOIH_DIV {left:520px;height:16px;width:29px;}
BODY[ettl='yes'] #ZELRIRCOIH_DIV {right:calc(100% - 549px);}
#EONEZLZFOS_DIV {top:193px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EONEZLZFOS_DIV {left:301px;height:16px;width:33px;}
BODY[ettl='old'] #EONEZLZFOS_DIV {left:301px;height:16px;width:33px;}
BODY[ettl='yes'] #EONEZLZFOS_DIV {right:calc(100% - 334px);letter-spacing:-1px;}
#XGSRLAQUVD_DIV, #VRCVINYRJO, #AVTVZXZUWT_DIV, #ADZOIEROPS_DIV, #XXIXVHLNAZ_DIV, #CTWDLNXXXD_DIV, #CBEMYYLYKG_DIV, #FTGWANORAK_DIV, #ZELRIRCOIH_DIV, #EONEZLZFOS_DIV {overflow:hidden;}
#VRCVINYRJO, #TMTNRFTARW, .TMTNRFTARW, #GAEWMPRBSY, .GAEWMPRBSY, #JEGIRRECDX, #VFKBUBHCEY, #KMXMWIBKDJ, #OFRQGKEFMW, #KVYEJVZPZF, #MBGCZJULKH {box-sizing : border-box;}
