.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#RQMVFIREGT_DIV {top:7px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #RQMVFIREGT_DIV {height:16px;width:96px;}
BODY[ettl='old'] #RQMVFIREGT_DIV {height:16px;width:96px;}
#LISBMXOQHK_DIV {top:7px;position:absolute;left:136px;height:16px;width:132px;text-align:left;z-index:1;}
#KUVQXAZDHJ {top:0px;position:absolute;left:0px;height:16px;width:112px;z-index:1; }
#KUVQXAZDHJ { vertical-align:middle; }
.KUVQXAZDHJ {top:0px;position:absolute;left:0px;height:16px;width:112px;z-index:1; }
#JGDIWWMKFV {top:0px;position:absolute;left:128px;height:16px;width:192px;background-color:Transparent;z-index:1; }
.JGDIWWMKFV {top:0px;position:absolute;left:128px;height:16px;width:192px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #RQMVFIREGT_DIV {letter-spacing:-1px;}
#RQMVFIREGT_DIV, #LISBMXOQHK_DIV {overflow:hidden;}
#KUVQXAZDHJ, .KUVQXAZDHJ, #JGDIWWMKFV, .JGDIWWMKFV {box-sizing : border-box;}
