.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#DFYCPPPKFL_DIV {top:0px;position:absolute;left:8px;height:16px;width:162px;text-align:left;z-index:1;}
#ADJOKPLCJT {top:0px;position:absolute;left:0px;height:16px;width:162px;background-color:Transparent;z-index:1; }
#ADJOKPLCJT_ZOOM { position:absolute;top:0px;left:163px;height:17px;width:17px;z-index:1;}
.ADJOKPLCJT {top:0px;position:absolute;left:0px;height:16px;width:162px;background-color:Transparent;z-index:1; }
.ADJOKPLCJT_ZOOM { position:absolute;top:0px;left:163px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#FYWFMVGIZB {top:0px;position:absolute;left:184px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.FYWFMVGIZB {top:0px;position:absolute;left:184px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#DFYCPPPKFL_DIV {overflow:hidden;}
#ADJOKPLCJT, .ADJOKPLCJT, #FYWFMVGIZB, .FYWFMVGIZB {box-sizing : border-box;}
