.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#BWVJMZXBAZ_DIV {top:0px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #BWVJMZXBAZ_DIV {height:16px;width:91px;}
BODY[ettl='old'] #BWVJMZXBAZ_DIV {height:16px;width:91px;}
#YNZSSJFJCM_DIV {top:0px;position:absolute;left:576px;height:16px;width:56px;text-align:left;z-index:1;}
#HGVDZOSTRF_DIV {top:117px;position:absolute;left:96px;height:16px;width:464px;color:#0000FF;text-align:left;z-index:1;}
#PUNHJPEDCN_DIV {top:117px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PUNHJPEDCN_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #PUNHJPEDCN_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #PUNHJPEDCN_DIV {right:calc(100% - 92px);}
#VFWKOPPXKC {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
#VFWKOPPXKC_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;z-index:1;}
.VFWKOPPXKC {top:0px;position:absolute;left:0px;height:16px;width:108px;background-color:Transparent;z-index:1; }
.VFWKOPPXKC_ZOOM { position:absolute;top:0px;left:109px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#OSQIWZOZQN {top:0px;position:absolute;left:584px;height:16px;width:22px;background-color:Transparent;z-index:1; }
#OSQIWZOZQN_ZOOM { position:absolute;top:0px;left:607px;height:17px;width:17px;z-index:1;}
.OSQIWZOZQN {top:0px;position:absolute;left:584px;height:16px;width:22px;background-color:Transparent;z-index:1; }
.OSQIWZOZQN_ZOOM { position:absolute;top:0px;left:607px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#SPPGKRITOT {top:0px;position:absolute;left:136px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.SPPGKRITOT {top:0px;position:absolute;left:136px;height:16px;width:432px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #BWVJMZXBAZ_DIV {letter-spacing:-1px;}
#BWVJMZXBAZ_DIV, #YNZSSJFJCM_DIV, #HGVDZOSTRF_DIV, #PUNHJPEDCN_DIV {overflow:hidden;}
#VFWKOPPXKC, .VFWKOPPXKC, #OSQIWZOZQN, .OSQIWZOZQN, #SPPGKRITOT, .SPPGKRITOT {box-sizing : border-box;}
