.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NSUYYWAOJV {top:49px;position:absolute;left:98px;height:20px;width:36px;z-index:1; }
#KOCAYKNGCM_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KOCAYKNGCM_DIV {left:5px;height:16px;width:92px;}
BODY[ettl='old'] #KOCAYKNGCM_DIV {left:5px;height:16px;width:92px;}
BODY[ettl='yes'] #KOCAYKNGCM_DIV {right:calc(100% - 97px);letter-spacing:-1px;}
#UASFCHXLRC {top:0px;position:absolute;left:0px;height:16px;width:72px;background-color:Transparent;z-index:1; }
.UASFCHXLRC {top:0px;position:absolute;left:0px;height:16px;width:72px;background-color:Transparent;z-index:1; }
#AFSDOMRNZC {top:0px;position:absolute;left:77px;height:16px;width:30px;background-color:Transparent;z-index:1; }
.AFSDOMRNZC {top:0px;position:absolute;left:77px;height:16px;width:30px;background-color:Transparent;z-index:1; }
#LMBDWDWYOJ {top:0px;position:absolute;left:112px;height:16px;width:30px;background-color:Transparent;z-index:1; }
.LMBDWDWYOJ {top:0px;position:absolute;left:112px;height:16px;width:30px;background-color:Transparent;z-index:1; }
#OUCAYORICR {top:0px;position:absolute;left:147px;height:16px;width:30px;background-color:Transparent;z-index:1; }
.OUCAYORICR {top:0px;position:absolute;left:147px;height:16px;width:30px;background-color:Transparent;z-index:1; }
#WFEQRDUEHK {top:0px;position:absolute;left:182px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.WFEQRDUEHK {top:0px;position:absolute;left:182px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#AXLQDUTMKE {top:0px;position:absolute;left:289px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.AXLQDUTMKE {top:0px;position:absolute;left:289px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#UQEGOTONHO {top:0px;position:absolute;left:396px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.UQEGOTONHO {top:0px;position:absolute;left:396px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#VLPHUFHRWG {top:19px;position:absolute;left:0px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.VLPHUFHRWG {top:19px;position:absolute;left:0px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#RNANYATLJA {top:19px;position:absolute;left:107px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.RNANYATLJA {top:19px;position:absolute;left:107px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#FGZMGIETJK {top:19px;position:absolute;left:214px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.FGZMGIETJK {top:19px;position:absolute;left:214px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#TTSVMTXSHK {top:19px;position:absolute;left:321px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
.TTSVMTXSHK {top:19px;position:absolute;left:321px;height:16px;width:102px;text-align:right;background-color:Transparent;z-index:1; }
#BCQNNDGTFP {top:38px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.BCQNNDGTFP {top:38px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#YQPUAGHCIC {top:57px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.YQPUAGHCIC {top:57px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#VBELTUYZHN {top:76px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.VBELTUYZHN {top:76px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#BYRSYJQNCL {top:95px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.BYRSYJQNCL {top:95px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#PCMHVKTTLL {top:114px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.PCMHVKTTLL {top:114px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#RTBHNLUHZE {top:133px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.RTBHNLUHZE {top:133px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#SWIJFJKKLJ {top:152px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
.SWIJFJKKLJ {top:152px;position:absolute;left:0px;height:16px;width:612px;background-color:Transparent;z-index:1; }
#OIVQOXTGIZ {top:171px;position:absolute;left:0px;height:16px;width:72px;overflow:auto;background-color:Transparent;z-index:1; }
.OIVQOXTGIZ {top:171px;position:absolute;left:0px;height:16px;width:72px;overflow:auto;background-color:Transparent;z-index:1; }
#KOCAYKNGCM_DIV {overflow:hidden;}
#NSUYYWAOJV, #UASFCHXLRC, .UASFCHXLRC, #AFSDOMRNZC, .AFSDOMRNZC, #LMBDWDWYOJ, .LMBDWDWYOJ, #OUCAYORICR, .OUCAYORICR, #WFEQRDUEHK, .WFEQRDUEHK, #AXLQDUTMKE, .AXLQDUTMKE, #UQEGOTONHO, .UQEGOTONHO, #VLPHUFHRWG, .VLPHUFHRWG, #RNANYATLJA, .RNANYATLJA, #FGZMGIETJK, .FGZMGIETJK, #TTSVMTXSHK, .TTSVMTXSHK, #BCQNNDGTFP, .BCQNNDGTFP, #YQPUAGHCIC, .YQPUAGHCIC, #VBELTUYZHN, .VBELTUYZHN, #BYRSYJQNCL, .BYRSYJQNCL, #PCMHVKTTLL, .PCMHVKTTLL, #RTBHNLUHZE, .RTBHNLUHZE, #SWIJFJKKLJ, .SWIJFJKKLJ, #OIVQOXTGIZ, .OIVQOXTGIZ {box-sizing : border-box;}
