.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ROOLXCXTTR_DIV {top:7px;position:absolute;left:56px;height:16px;width:72px;text-align:left;z-index:1;}
#JYAEIBNTCH_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JYAEIBNTCH_DIV {left:472px;height:16px;width:126px;}
BODY[ettl='old'] #JYAEIBNTCH_DIV {left:472px;height:16px;width:126px;}
BODY[ettl='yes'] #JYAEIBNTCH_DIV {right:calc(100% - 598px);}
#NIAWCWJCRY_DIV {top:7px;position:absolute;left:608px;height:16px;width:69px;text-align:center;z-index:1;}
#GIFUGCXACS_DIV {top:7px;position:absolute;left:8px;height:16px;width:32px;text-align:left;z-index:1;}
#MDAZAECEFB {top:0px;position:absolute;left:48px;height:16px;width:72px;background-color:Transparent;z-index:1; }
#MDAZAECEFB_ZOOM { position:absolute;top:0px;left:121px;height:17px;width:17px;z-index:1;}
.MDAZAECEFB {top:0px;position:absolute;left:48px;height:16px;width:72px;background-color:Transparent;z-index:1; }
.MDAZAECEFB_ZOOM { position:absolute;top:0px;left:121px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#BQZNEAYMQQ {top:0px;position:absolute;left:464px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
.BQZNEAYMQQ {top:0px;position:absolute;left:464px;height:16px;width:126px;text-align:right;background-color:Transparent;z-index:1; }
#KDPPHIXGCO {top:0px;position:absolute;left:600px;height:16px;width:69px;text-align:right;background-color:Transparent;z-index:1; }
.KDPPHIXGCO {top:0px;position:absolute;left:600px;height:16px;width:69px;text-align:right;background-color:Transparent;z-index:1; }
#EQFEXBKZWY {top:0px;position:absolute;left:0px;height:16px;width:40px;text-align:right;background-color:Transparent;z-index:1; }
.EQFEXBKZWY {top:0px;position:absolute;left:0px;height:16px;width:40px;text-align:right;background-color:Transparent;z-index:1; }
#XIPADAGXBM {top:0px;position:absolute;left:144px;height:16px;width:312px;background-color:Transparent;z-index:1; }
.XIPADAGXBM {top:0px;position:absolute;left:144px;height:16px;width:312px;background-color:Transparent;z-index:1; }
#ROOLXCXTTR_DIV, #JYAEIBNTCH_DIV, #NIAWCWJCRY_DIV, #GIFUGCXACS_DIV {overflow:hidden;}
#MDAZAECEFB, .MDAZAECEFB, #BQZNEAYMQQ, .BQZNEAYMQQ, #KDPPHIXGCO, .KDPPHIXGCO, #EQFEXBKZWY, .EQFEXBKZWY, #XIPADAGXBM, .XIPADAGXBM {box-sizing : border-box;}
