.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XMMPEEVCWS {top:49px;position:absolute;left:110px;height:20px;width:48px;z-index:1; }
#FCULACGICV_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FCULACGICV_DIV {left:5px;height:16px;width:104px;}
BODY[ettl='old'] #FCULACGICV_DIV {left:5px;height:16px;width:104px;}
BODY[ettl='yes'] #FCULACGICV_DIV {right:calc(100% - 109px);letter-spacing:-1px;}
#KBUYKYRDAM_DIV {top:77px;position:absolute;left:20px;text-align:left;z-index:1;}
BODY:not([ettl]) #KBUYKYRDAM_DIV {height:16px;width:18px;}
BODY[ettl='old'] #KBUYKYRDAM_DIV {height:16px;width:18px;}
#DHPQHUZGRB_DIV {top:77px;position:absolute;left:43px;text-align:left;z-index:1;}
BODY:not([ettl]) #DHPQHUZGRB_DIV {height:16px;width:60px;}
BODY[ettl='old'] #DHPQHUZGRB_DIV {height:16px;width:60px;}
#CTRVUCDTPC_DIV {top:77px;position:absolute;left:126px;text-align:left;z-index:1;}
BODY:not([ettl]) #CTRVUCDTPC_DIV {height:16px;width:60px;}
BODY[ettl='old'] #CTRVUCDTPC_DIV {height:16px;width:60px;}
#IXQCNZJEGP_DIV {top:77px;position:absolute;left:209px;text-align:left;z-index:1;}
BODY:not([ettl]) #IXQCNZJEGP_DIV {height:16px;width:18px;}
BODY[ettl='old'] #IXQCNZJEGP_DIV {height:16px;width:18px;}
#QWGGDAWZKO {top:0px;position:absolute;left:0px;height:16px;width:18px;background-color:Transparent;z-index:1; }
.QWGGDAWZKO {top:0px;position:absolute;left:0px;height:16px;width:18px;background-color:Transparent;z-index:1; }
#JUUWNCIHQE {top:0px;position:absolute;left:23px;height:16px;width:60px;text-align:right;background-color:Transparent;z-index:1; }
#JUUWNCIHQE_ZOOM { position:absolute;top:0px;left:84px;height:17px;width:17px;z-index:1;}
.JUUWNCIHQE {top:0px;position:absolute;left:23px;height:16px;width:60px;text-align:right;background-color:Transparent;z-index:1; }
.JUUWNCIHQE_ZOOM { position:absolute;top:0px;left:84px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#BLDMLQOFYI {top:0px;position:absolute;left:106px;height:16px;width:60px;text-align:right;background-color:Transparent;z-index:1; }
#BLDMLQOFYI_ZOOM { position:absolute;top:0px;left:167px;height:17px;width:17px;z-index:1;}
.BLDMLQOFYI {top:0px;position:absolute;left:106px;height:16px;width:60px;text-align:right;background-color:Transparent;z-index:1; }
.BLDMLQOFYI_ZOOM { position:absolute;top:0px;left:167px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#RNIHJWFMTF {top:0px;position:absolute;left:189px;height:16px;width:18px;background-color:Transparent;z-index:1; }
.RNIHJWFMTF {top:0px;position:absolute;left:189px;height:16px;width:18px;background-color:Transparent;z-index:1; }
BODY[ettl='yes'] #KBUYKYRDAM_DIV, BODY[ettl='yes'] #DHPQHUZGRB_DIV, BODY[ettl='yes'] #CTRVUCDTPC_DIV, BODY[ettl='yes'] #IXQCNZJEGP_DIV {letter-spacing:-1px;}
#FCULACGICV_DIV, #KBUYKYRDAM_DIV, #DHPQHUZGRB_DIV, #CTRVUCDTPC_DIV, #IXQCNZJEGP_DIV {overflow:hidden;}
#XMMPEEVCWS, #QWGGDAWZKO, .QWGGDAWZKO, #JUUWNCIHQE, .JUUWNCIHQE, #BLDMLQOFYI, .BLDMLQOFYI, #RNIHJWFMTF, .RNIHJWFMTF {box-sizing : border-box;}
