.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XDYFKZMJHC { height:567px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#XDYFKZMJHC_DIV { position:absolute;height:567px;z-index:0;width:752px;top:7px;left:8px;}
#UOVJKJLZBV {top:14px;position:absolute;left:104px;height:20px;width:162px;z-index:1; }
#UBDRZPYJRT_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UBDRZPYJRT_DIV {left:16px;height:16px;width:84px;}
BODY[ettl='old'] #UBDRZPYJRT_DIV {left:16px;height:16px;width:84px;}
BODY[ettl='yes'] #UBDRZPYJRT_DIV {right:calc(100% - 100px);letter-spacing:-1px;}
#GGLQTNYWZF {top:14px;position:absolute;left:352px;height:20px;width:256px;z-index:1; }
#GGLQTNYWZF { vertical-align:middle; }
#VVKODWZEWZ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VVKODWZEWZ_DIV {left:279px;height:16px;width:72px;}
BODY[ettl='old'] #VVKODWZEWZ_DIV {left:279px;height:16px;width:72px;}
BODY[ettl='yes'] #VVKODWZEWZ_DIV {right:calc(100% - 351px);letter-spacing:-1px;}
#BLOIDAPXRQ {top:42px;position:absolute;left:104px;height:20px;width:160px;z-index:1; }
#BLOIDAPXRQ { vertical-align:middle; }
#UGCBYIEUDJ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UGCBYIEUDJ_DIV {left:31px;height:16px;width:72px;}
BODY[ettl='old'] #UGCBYIEUDJ_DIV {left:31px;height:16px;width:72px;}
BODY[ettl='yes'] #UGCBYIEUDJ_DIV {right:calc(100% - 103px);}
#DCTZJXUJAS_DIV {top:70px;position:absolute;left:88px;height:16px;width:92px;text-align:left;z-index:1;}
#ODIDTFEFFZ_DIV {top:70px;position:absolute;left:16px;height:16px;width:69px;text-align:left;z-index:1;}
#ORBYBKHYQK_DIV {top:70px;position:absolute;left:664px;height:16px;width:64px;text-align:left;z-index:1;}
#PXDMJWSUND_DIV {top:298px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PXDMJWSUND_DIV {left:16px;height:16px;width:64px;}
BODY[ettl='old'] #PXDMJWSUND_DIV {left:16px;height:16px;width:64px;}
BODY[ettl='yes'] #PXDMJWSUND_DIV {right:calc(100% - 80px);}
#ZERFIEYGRR_DIV {top:319px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZERFIEYGRR_DIV {left:125px;height:16px;width:80px;}
BODY[ettl='old'] #ZERFIEYGRR_DIV {left:125px;height:16px;width:80px;}
BODY[ettl='yes'] #ZERFIEYGRR_DIV {right:calc(100% - 205px);letter-spacing:-1px;}
#JMAPGZEWUL_DIV {top:347px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JMAPGZEWUL_DIV {left:92px;height:16px;width:113px;}
BODY[ettl='old'] #JMAPGZEWUL_DIV {left:92px;height:16px;width:113px;}
BODY[ettl='yes'] #JMAPGZEWUL_DIV {right:calc(100% - 205px);letter-spacing:-1px;}
#OZYRKTIKPF_DIV {top:298px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OZYRKTIKPF_DIV {left:390px;height:16px;width:55px;}
BODY[ettl='old'] #OZYRKTIKPF_DIV {left:390px;height:16px;width:55px;}
BODY[ettl='yes'] #OZYRKTIKPF_DIV {right:calc(100% - 445px);letter-spacing:-1px;}
#VBDRLFPBBZ_DIV {top:319px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VBDRLFPBBZ_DIV {left:492px;height:16px;width:80px;}
BODY[ettl='old'] #VBDRLFPBBZ_DIV {left:492px;height:16px;width:80px;}
BODY[ettl='yes'] #VBDRLFPBBZ_DIV {right:calc(100% - 572px);letter-spacing:-1px;}
#AIGHLABXVU_DIV {top:347px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AIGHLABXVU_DIV {left:459px;height:16px;width:113px;}
BODY[ettl='old'] #AIGHLABXVU_DIV {left:459px;height:16px;width:113px;}
BODY[ettl='yes'] #AIGHLABXVU_DIV {right:calc(100% - 572px);letter-spacing:-1px;}
#KLSWWEOHOR { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#KLSWWEOHOR_DIV { position:absolute;height:28px;z-index:0;width:360px;top:259px;left:16px;}
#BJDGPHQYFI { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BJDGPHQYFI_DIV { position:absolute;height:28px;z-index:0;width:360px;top:259px;left:384px;}
#HXAIQPNTTR_DIV {top:266px;position:absolute;left:24px;height:16px;width:344px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BSRYSFCEAT_DIV {top:266px;position:absolute;left:392px;height:16px;width:344px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GCHWZOBGPB {top:539px;position:absolute;left:17px;height:25px;width:208px;z-index:1;}
#NALNSNTYAI {top:539px;position:absolute;left:233px;height:25px;width:208px;z-index:1;}
#HWWOJAYWAI {top:47px;position:absolute;left:624px;height:19px;width:120px;z-index:1;}
#TTPYWGQBMJ_DIV {top:410px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TTPYWGQBMJ_DIV {left:8px;height:16px;width:70px;}
BODY[ettl='old'] #TTPYWGQBMJ_DIV {left:8px;height:16px;width:70px;}
BODY[ettl='yes'] #TTPYWGQBMJ_DIV {right:calc(100% - 78px);}
#IYPZKVMVKZ_DIV {top:438px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IYPZKVMVKZ_DIV {left:125px;height:16px;width:80px;}
BODY[ettl='old'] #IYPZKVMVKZ_DIV {left:125px;height:16px;width:80px;}
BODY[ettl='yes'] #IYPZKVMVKZ_DIV {right:calc(100% - 205px);letter-spacing:-1px;}
#KDPEUBXAAZ_DIV {top:466px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDPEUBXAAZ_DIV {left:92px;height:16px;width:113px;}
BODY[ettl='old'] #KDPEUBXAAZ_DIV {left:92px;height:16px;width:113px;}
BODY[ettl='yes'] #KDPEUBXAAZ_DIV {right:calc(100% - 205px);letter-spacing:-1px;}
#WNPHGDFVJX { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#WNPHGDFVJX_DIV { position:absolute;height:28px;z-index:0;width:360px;top:371px;left:16px;}
#PLNXDEJCTD_DIV {top:378px;position:absolute;left:24px;height:16px;width:344px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#RANZSHNOJF { height:28px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#RANZSHNOJF_DIV { position:absolute;height:28px;z-index:0;width:360px;top:371px;left:384px;}
#PHHCOECSMM_DIV {top:378px;position:absolute;left:392px;height:16px;width:344px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#RETYYQHGRS_DIV {top:410px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RETYYQHGRS_DIV {left:379px;height:16px;width:75px;}
BODY[ettl='old'] #RETYYQHGRS_DIV {left:379px;height:16px;width:75px;}
BODY[ettl='yes'] #RETYYQHGRS_DIV {right:calc(100% - 454px);letter-spacing:-1px;}
#IMTYCPFWNU_DIV {top:438px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IMTYCPFWNU_DIV {left:492px;height:16px;width:80px;}
BODY[ettl='old'] #IMTYCPFWNU_DIV {left:492px;height:16px;width:80px;}
BODY[ettl='yes'] #IMTYCPFWNU_DIV {right:calc(100% - 572px);letter-spacing:-1px;}
#FRZVZSKKXF_DIV {top:466px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FRZVZSKKXF_DIV {left:459px;height:16px;width:113px;}
BODY[ettl='old'] #FRZVZSKKXF_DIV {left:459px;height:16px;width:113px;}
BODY[ettl='yes'] #FRZVZSKKXF_DIV {right:calc(100% - 572px);letter-spacing:-1px;}
#UDPOLEMYNZ_DIV {top:530px;position:absolute;left:612px;height:39px;width:139px;color:#FFFFFF;background-color:#FF0000;text-align:center;font-family:Tahoma;font-size:12pt;font-weight:bold;z-index:1;}
#RHOMZTFXOQ {top:539px;position:absolute;left:450px;height:25px;width:152px;z-index:1;}
#UBHZWYZYEF { height:35px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#UBHZWYZYEF_DIV { position:absolute;height:35px;z-index:0;width:728px;top:490px;left:16px;}
#UBHZWYZYEF_HEADER_CAPTION {left:5px;top:-9px;}
#MMLVTODRRS_DIV {top:501px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MMLVTODRRS_DIV {left:156px;height:16px;width:52px;}
BODY[ettl='old'] #MMLVTODRRS_DIV {left:156px;height:16px;width:52px;}
BODY[ettl='yes'] #MMLVTODRRS_DIV {right:calc(100% - 208px);letter-spacing:-1px;}
#JUCNEACWKX_DIV {top:501px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JUCNEACWKX_DIV {left:449px;height:16px;width:127px;}
BODY[ettl='old'] #JUCNEACWKX_DIV {left:449px;height:16px;width:127px;}
BODY[ettl='yes'] #JUCNEACWKX_DIV {right:calc(100% - 576px);letter-spacing:-1px;}
#ZWBKZJLHCV {top:0px;position:absolute;left:72px;height:16px;width:110px;background-color:Transparent;z-index:1; }
#ZWBKZJLHCV_ZOOM { position:absolute;top:0px;left:183px;height:17px;width:17px;z-index:1;}
.ZWBKZJLHCV {top:0px;position:absolute;left:72px;height:16px;width:110px;background-color:Transparent;z-index:1; }
.ZWBKZJLHCV_ZOOM { position:absolute;top:0px;left:183px;height:17px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0;border-width:0;padding:0;z-index:1;}
#VKTPGVCBJR_DIV {top:315px;position:absolute;left:24px;height:21px;width:71px;overflow:hidden;white-space:nowrap;z-index:1; }
#ZYSXZRLIHG {top:0px;position:absolute;left:0px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.ZYSXZRLIHG {top:0px;position:absolute;left:0px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#SQFHVLZLRL {top:343px;position:absolute;left:208px;height:20px;width:162px;z-index:1; }
#CCYVNDNRFK {top:315px;position:absolute;left:208px;height:20px;width:120px;z-index:1; }
#GZYOVGKBQU_DIV {top:315px;position:absolute;left:392px;height:21px;width:71px;overflow:hidden;white-space:nowrap;z-index:1; }
#YQJXLYYDEK {top:0px;position:absolute;left:648px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
.YQJXLYYDEK {top:0px;position:absolute;left:648px;height:16px;width:64px;text-align:right;background-color:Transparent;z-index:1; }
#RPTFBMPRFK {top:343px;position:absolute;left:576px;height:20px;width:162px;z-index:1; }
#GEAGHOYNJV {top:315px;position:absolute;left:576px;height:20px;width:102px;z-index:1; }
#VCSXGLJKMU {top:0px;position:absolute;left:208px;height:16px;width:432px;background-color:Transparent;z-index:1; }
.VCSXGLJKMU {top:0px;position:absolute;left:208px;height:16px;width:432px;background-color:Transparent;z-index:1; }
#KGVKWENSDZ {top:294px;position:absolute;left:80px;height:20px;width:80px;text-align:right;z-index:1; }
#UJYQWLUHMX {top:294px;position:absolute;left:448px;height:20px;width:72px;text-align:right;z-index:1; }
#IANSHYURPV {top:497px;position:absolute;left:208px;height:20px;width:72px;z-index:1; }
#LJUMSXSYFZ {top:406px;position:absolute;left:80px;height:20px;width:80px;text-align:right;z-index:1; }
#ZEWCJCWNSV_DIV {top:434px;position:absolute;left:24px;height:21px;width:71px;overflow:hidden;white-space:nowrap;z-index:1; }
#YYRSSVEWOX {top:434px;position:absolute;left:208px;height:20px;width:120px;z-index:1; }
#FDSYVBCPAC {top:462px;position:absolute;left:208px;height:20px;width:162px;z-index:1; }
#CGGFGFHNLQ {top:406px;position:absolute;left:456px;height:20px;width:80px;text-align:right;z-index:1; }
#PULJPVPYAY_DIV {top:437px;position:absolute;left:384px;height:21px;width:71px;overflow:hidden;white-space:nowrap;z-index:1; }
#CPXILLMFYQ {top:434px;position:absolute;left:576px;height:20px;width:120px;z-index:1; }
#MQSDKNMJUI {top:462px;position:absolute;left:576px;height:20px;width:168px;z-index:1; }
#YJETHTLSAS {top:497px;position:absolute;left:576px;height:20px;width:64px;text-align:right;z-index:1; }
#TGJYPNQVEJ { height:483px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#TGJYPNQVEJ_DIV { position:absolute;height:483px;z-index:0;width:744px;top:7px;left:8px;}
#KGHSUPPYWT {top:84px;position:absolute;left:16px;height:278px;width:728px;z-index:1;}
#LTLFYOYQAO {top:21px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#JXLGEAUZTQ_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JXLGEAUZTQ_DIV {left:9px;height:16px;width:125px;}
BODY[ettl='old'] #JXLGEAUZTQ_DIV {left:9px;height:16px;width:125px;}
BODY[ettl='yes'] #JXLGEAUZTQ_DIV {right:calc(100% - 134px);letter-spacing:-1px;}
#CODMGYDXYT {top:21px;position:absolute;left:568px;height:20px;width:42px;z-index:1; }
#FRUUOBVPDA_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FRUUOBVPDA_DIV {left:542px;height:16px;width:26px;}
BODY[ettl='old'] #FRUUOBVPDA_DIV {left:542px;height:16px;width:26px;}
BODY[ettl='yes'] #FRUUOBVPDA_DIV {right:calc(100% - 568px);letter-spacing:-1px;}
#AKLWIUMNVR {top:49px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#AKLWIUMNVR { vertical-align:middle; }
#KSMLUMFLML_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KSMLUMFLML_DIV {left:97px;height:16px;width:37px;}
BODY[ettl='old'] #KSMLUMFLML_DIV {left:97px;height:16px;width:37px;}
BODY[ettl='yes'] #KSMLUMFLML_DIV {right:calc(100% - 134px);letter-spacing:-1px;}
BODY[ettl='yes'] #VKTPGVCBJR_DIV, BODY[ettl='yes'] #GZYOVGKBQU_DIV, BODY[ettl='yes'] #ZEWCJCWNSV_DIV, BODY[ettl='yes'] #PULJPVPYAY_DIV {letter-spacing:-1px;}
#XDYFKZMJHC, #UBDRZPYJRT_DIV, #VVKODWZEWZ_DIV, #UGCBYIEUDJ_DIV, #DCTZJXUJAS_DIV, #ODIDTFEFFZ_DIV, #ORBYBKHYQK_DIV, #PXDMJWSUND_DIV, #ZERFIEYGRR_DIV, #JMAPGZEWUL_DIV, #OZYRKTIKPF_DIV, #VBDRLFPBBZ_DIV, #AIGHLABXVU_DIV, #KLSWWEOHOR, #BJDGPHQYFI, #HXAIQPNTTR_DIV, #BSRYSFCEAT_DIV, #TTPYWGQBMJ_DIV, #IYPZKVMVKZ_DIV, #KDPEUBXAAZ_DIV, #WNPHGDFVJX, #PLNXDEJCTD_DIV, #RANZSHNOJF, #PHHCOECSMM_DIV, #RETYYQHGRS_DIV, #IMTYCPFWNU_DIV, #FRZVZSKKXF_DIV, #UDPOLEMYNZ_DIV, #UBHZWYZYEF, #MMLVTODRRS_DIV, #JUCNEACWKX_DIV, #TGJYPNQVEJ, #JXLGEAUZTQ_DIV, #FRUUOBVPDA_DIV, #KSMLUMFLML_DIV {overflow:hidden;}
#XDYFKZMJHC, #UOVJKJLZBV, #GGLQTNYWZF, #BLOIDAPXRQ, #KLSWWEOHOR, #BJDGPHQYFI, #WNPHGDFVJX, #RANZSHNOJF, #UBHZWYZYEF, #ZWBKZJLHCV, .ZWBKZJLHCV, #VKTPGVCBJR_DIV, #ZYSXZRLIHG, .ZYSXZRLIHG, #SQFHVLZLRL, #CCYVNDNRFK, #GZYOVGKBQU_DIV, #YQJXLYYDEK, .YQJXLYYDEK, #RPTFBMPRFK, #GEAGHOYNJV, #VCSXGLJKMU, .VCSXGLJKMU, #KGVKWENSDZ, #UJYQWLUHMX, #IANSHYURPV, #LJUMSXSYFZ, #ZEWCJCWNSV_DIV, #YYRSSVEWOX, #FDSYVBCPAC, #CGGFGFHNLQ, #PULJPVPYAY_DIV, #CPXILLMFYQ, #MQSDKNMJUI, #YJETHTLSAS, #TGJYPNQVEJ, #LTLFYOYQAO, #CODMGYDXYT, #AKLWIUMNVR {box-sizing : border-box;}
