.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#KTBKPUIVLZ { height:48px;z-index:0;}
#KTBKPUIVLZ_DIV { position:relative;z-index:0;width:100%;}
#JVZQIVEGBJ {top:16px;position:absolute;left:152px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#XSIPBNXGHK {top:16px;position:absolute;left:280px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XSIPBNXGHK_ZOOM { position:absolute;top:16px;left:329px;height:21px;width:17px;z-index:1;}
#AXLBHWEBRA_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #AXLBHWEBRA_DIV {left:72px;height:17px;width:78px;}
BODY[ettl='old'] #AXLBHWEBRA_DIV {left:72px;height:17px;width:78px;}
BODY[ettl='yes'] #AXLBHWEBRA_DIV {right:calc(100% - 150px);}
#GTGZXUQXTV {top:16px;position:absolute;left:544px;height:21px;width:198px;font-family:Arial;font-size:8pt;z-index:1; }
#YYEANTLIIE {top:16px;position:absolute;left:774px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#VDKKUGUMEB {top:16px;position:absolute;left:832px;height:21px;width:61px;font-family:Arial;font-size:8pt;z-index:1; }
#XGVTUHQDRX_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XGVTUHQDRX_DIV {left:237px;height:17px;width:40px;}
BODY[ettl='old'] #XGVTUHQDRX_DIV {left:237px;height:17px;width:40px;}
BODY[ettl='yes'] #XGVTUHQDRX_DIV {right:calc(100% - 277px);}
#KKTFFUWQXX_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #KKTFFUWQXX_DIV {left:515px;height:17px;width:28px;}
BODY[ettl='old'] #KKTFFUWQXX_DIV {left:515px;height:17px;width:28px;}
BODY[ettl='yes'] #KKTFFUWQXX_DIV {right:calc(100% - 543px);}
#ATZABYJTFS_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ATZABYJTFS_DIV {left:749px;height:17px;width:22px;}
BODY[ettl='old'] #ATZABYJTFS_DIV {left:749px;height:17px;width:22px;}
BODY[ettl='yes'] #ATZABYJTFS_DIV {right:calc(100% - 771px);}
#PMDOWBVORJ_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #PMDOWBVORJ_DIV {left:802px;height:17px;width:27px;}
BODY[ettl='old'] #PMDOWBVORJ_DIV {left:802px;height:17px;width:27px;}
BODY[ettl='yes'] #PMDOWBVORJ_DIV {right:calc(100% - 829px);}
#RUHPTHZWPU_DIV {top:20px;position:absolute;left:348px;height:17px;width:164px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#MMRLCYYISA { height:168px;z-index:0;}
#MMRLCYYISA_DIV { position:relative;z-index:0;width:100%;}
#WMBIUHHCFT {z-index:0;}
#WMBIUHHCFT_DIV { position:relative;z-index:0;width:100%;}
#BJHZWDCHTX {z-index:0;}
#BJHZWDCHTX_DIV { position:relative;z-index:0;width:100%;}
#ZFLICMSKTV { position:relative;height:326px;width:803px;left:80px;z-index:1;}
#RSWMQMMVEI { position:relative;height:319px;width:869px;left:24px;z-index:1;}
#ROFCOTWPXY {top:16px;position:absolute;left:168px;height:20px;width:166px;z-index:1; }
#ROFCOTWPXY_ZOOM { position:absolute;top:16px;left:335px;height:20px;width:17px;z-index:1;}
#OHLAYQXDKA {top:44px;position:absolute;left:168px;height:20px;width:80px;text-align:right;z-index:1; }
#OHLAYQXDKA_ZOOM { position:absolute;top:44px;left:249px;height:20px;width:17px;z-index:1;}
#SNCWUQDNDY {top:40px;position:absolute;left:720px;height:20px;width:80px;text-align:right;z-index:1; }
#SNCWUQDNDY_ZOOM { position:absolute;top:40px;left:801px;height:20px;width:17px;z-index:1;}
#INPSVTNSOS {top:72px;position:absolute;left:168px;height:20px;width:368px;z-index:1; }
#INPSVTNSOS { vertical-align:middle; }
#RYTLUFEGUP {top:99px;position:absolute;left:168px;height:20px;width:108px;z-index:1; }
#RYTLUFEGUP_ZOOM { position:absolute;top:99px;left:277px;height:20px;width:17px;z-index:1;}
#HSMPABEPMD {top:127px;position:absolute;left:168px;height:20px;width:336px;z-index:1; }
#LVOYMIPKXE_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LVOYMIPKXE_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='old'] #LVOYMIPKXE_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='yes'] #LVOYMIPKXE_DIV {right:calc(100% - 166px);}
#KRPGPQZJIR {top:40px;position:absolute;left:408px;height:20px;width:96px;z-index:1; }
#WOEAIUGKOM_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WOEAIUGKOM_DIV {left:312px;height:16px;width:93px;}
BODY[ettl='old'] #WOEAIUGKOM_DIV {left:312px;height:16px;width:93px;}
BODY[ettl='yes'] #WOEAIUGKOM_DIV {right:calc(100% - 405px);}
#ZMONPCZVBO_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZMONPCZVBO_DIV {left:592px;height:16px;width:127px;}
BODY[ettl='old'] #ZMONPCZVBO_DIV {left:592px;height:16px;width:127px;}
BODY[ettl='yes'] #ZMONPCZVBO_DIV {right:calc(100% - 719px);}
#XVSGAMCJTW_DIV {top:48px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XVSGAMCJTW_DIV {left:47px;height:16px;width:119px;}
BODY[ettl='old'] #XVSGAMCJTW_DIV {left:47px;height:16px;width:119px;}
BODY[ettl='yes'] #XVSGAMCJTW_DIV {right:calc(100% - 166px);}
#LVDWSCCIIN_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LVDWSCCIIN_DIV {left:55px;height:16px;width:111px;}
BODY[ettl='old'] #LVDWSCCIIN_DIV {left:55px;height:16px;width:111px;}
BODY[ettl='yes'] #LVDWSCCIIN_DIV {right:calc(100% - 166px);}
#ROEEFYEJBO_DIV {top:20px;position:absolute;left:360px;height:16px;width:440px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#VKQGQAJPMH_DIV {top:131px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VKQGQAJPMH_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='old'] #VKQGQAJPMH_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='yes'] #VKQGQAJPMH_DIV {right:calc(100% - 166px);}
#PLNAAWAXXR_DIV {top:103px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PLNAAWAXXR_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='old'] #PLNAAWAXXR_DIV {left:8px;height:16px;width:158px;}
BODY[ettl='yes'] #PLNAAWAXXR_DIV {right:calc(100% - 166px);}
#ARLCJESUHN_DIV {top:103px;position:absolute;left:304px;height:16px;width:296px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#LPCLBCMYBE_DIV {top:103px;position:absolute;left:304px;height:16px;width:296px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#KHYCSRMDGJ {top:72px;position:absolute;left:720px;height:20px;width:138px;z-index:1; }
#NOCRBBFOUY_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NOCRBBFOUY_DIV {left:592px;height:16px;width:127px;}
BODY[ettl='old'] #NOCRBBFOUY_DIV {left:592px;height:16px;width:127px;}
BODY[ettl='yes'] #NOCRBBFOUY_DIV {right:calc(100% - 719px);}
#ZXKFTKZCJE {z-index:0;}
#ZXKFTKZCJE_DIV { position:relative;z-index:0;width:896px;left:8px;}
#ZXKFTKZCJE_HEADER {width:896px;}
#DUGPTCZBRI { position:relative;height:286px;width:613px;left:152px;z-index:1;}
#WYSOGTWVYA { position:relative;height:256px;width:637px;left:136px;z-index:1;}
#EGKLPQESRU {z-index:0;}
#EGKLPQESRU_DIV { position:relative;z-index:0;width:896px;left:8px;}
#EGKLPQESRU_HEADER {width:896px;}
#NOKYMTFBFL { position:relative;height:226px;width:640px;left:136px;z-index:1;}
#LTJVEGZAIT {z-index:0;}
#LTJVEGZAIT_DIV { position:relative;z-index:0;width:896px;left:8px;}
#LTJVEGZAIT_HEADER {width:896px;}
#YCTBVNLZSK { height:48px;z-index:0;}
#YCTBVNLZSK_DIV { position:relative;z-index:0;width:100%;}
#VJHGEJLSKM_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VJHGEJLSKM_DIV {left:72px;height:17px;width:78px;}
BODY[ettl='old'] #VJHGEJLSKM_DIV {left:72px;height:17px;width:78px;}
BODY[ettl='yes'] #VJHGEJLSKM_DIV {right:calc(100% - 150px);}
#TGFGXLNJGM_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #TGFGXLNJGM_DIV {left:237px;height:17px;width:40px;}
BODY[ettl='old'] #TGFGXLNJGM_DIV {left:237px;height:17px;width:40px;}
BODY[ettl='yes'] #TGFGXLNJGM_DIV {right:calc(100% - 277px);}
#DPYJDBXPUD_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #DPYJDBXPUD_DIV {left:515px;height:17px;width:28px;}
BODY[ettl='old'] #DPYJDBXPUD_DIV {left:515px;height:17px;width:28px;}
BODY[ettl='yes'] #DPYJDBXPUD_DIV {right:calc(100% - 543px);}
#IRVPTXCSTC_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #IRVPTXCSTC_DIV {left:749px;height:17px;width:22px;}
BODY[ettl='old'] #IRVPTXCSTC_DIV {left:749px;height:17px;width:22px;}
BODY[ettl='yes'] #IRVPTXCSTC_DIV {right:calc(100% - 771px);}
#ZWATUBQOIB_DIV {top:20px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ZWATUBQOIB_DIV {left:802px;height:17px;width:27px;}
BODY[ettl='old'] #ZWATUBQOIB_DIV {left:802px;height:17px;width:27px;}
BODY[ettl='yes'] #ZWATUBQOIB_DIV {right:calc(100% - 829px);}
#VODVVAXWLX_DIV {top:19px;position:absolute;left:336px;height:17px;width:176px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#ZTXEUOXXIE {top:16px;position:absolute;left:152px;height:20px;width:78px;z-index:1; }
#BRGHYFSDHY {top:16px;position:absolute;left:272px;height:20px;width:56px;z-index:1; }
#PZJOZFRYQW {top:16px;position:absolute;left:552px;height:20px;width:192px;z-index:1; }
#WBNNXNUZER {top:16px;position:absolute;left:776px;height:20px;width:24px;z-index:1; }
#BCBQLPOXMG {top:16px;position:absolute;left:832px;height:20px;width:56px;z-index:1; }
#WKYJJJVZEF_DIV {top:16px;position:absolute;left:136px;height:21px;width:640px;overflow:hidden;white-space:nowrap;z-index:1; }
#KTBKPUIVLZ, #AXLBHWEBRA_DIV, #XGVTUHQDRX_DIV, #KKTFFUWQXX_DIV, #ATZABYJTFS_DIV, #PMDOWBVORJ_DIV, #RUHPTHZWPU_DIV, #MMRLCYYISA, #WMBIUHHCFT, #BJHZWDCHTX, #LVOYMIPKXE_DIV, #WOEAIUGKOM_DIV, #ZMONPCZVBO_DIV, #XVSGAMCJTW_DIV, #LVDWSCCIIN_DIV, #ROEEFYEJBO_DIV, #VKQGQAJPMH_DIV, #PLNAAWAXXR_DIV, #ARLCJESUHN_DIV, #LPCLBCMYBE_DIV, #NOCRBBFOUY_DIV, #ZXKFTKZCJE, #EGKLPQESRU, #LTJVEGZAIT, #YCTBVNLZSK, #VJHGEJLSKM_DIV, #TGFGXLNJGM_DIV, #DPYJDBXPUD_DIV, #IRVPTXCSTC_DIV, #ZWATUBQOIB_DIV, #VODVVAXWLX_DIV {overflow:hidden;}
#KTBKPUIVLZ, #JVZQIVEGBJ, #XSIPBNXGHK, #GTGZXUQXTV, #YYEANTLIIE, #VDKKUGUMEB, #MMRLCYYISA, #WMBIUHHCFT, #BJHZWDCHTX, #ROFCOTWPXY, #OHLAYQXDKA, #SNCWUQDNDY, #INPSVTNSOS, #RYTLUFEGUP, #HSMPABEPMD, #KRPGPQZJIR, #KHYCSRMDGJ, #ZXKFTKZCJE, #EGKLPQESRU, #LTJVEGZAIT, #YCTBVNLZSK, #ZTXEUOXXIE, #BRGHYFSDHY, #PZJOZFRYQW, #WBNNXNUZER, #BCBQLPOXMG, #WKYJJJVZEF_DIV {box-sizing : border-box;}
