.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NHERHRZTFP {top:9px;position:absolute;left:1208px;height:20px;width:80px;z-index:1; }
#YORQOIOBQN { height:170px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#ANGGVVFTIZ { height:29px;z-index:0;}
#ANGGVVFTIZ_DIV { position:relative;z-index:0;width:100%;}
#XLSSDAVPDH { height:162px;z-index:0;}
#XLSSDAVPDH_DIV { position:relative;z-index:0;width:100%;}
#ZPEPXLSZFA { height:84px;z-index:0;}
#ZPEPXLSZFA_DIV { position:relative;z-index:0;width:100%;}
#YIVWPEZXIF { height:165px;z-index:0;}
#YIVWPEZXIF_DIV { position:relative;z-index:0;width:100%;}
#KURTXQHCYE { height:29px;z-index:0;}
#KURTXQHCYE_DIV { position:relative;z-index:0;width:100%;}
#BOYWPGJEEZ { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BOYWPGJEEZ_DIV { position:relative;z-index:0;width:100%;}
#LOEAMXUYLA_DIV {top:14px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:18px;height:17px;width:122px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:18px;height:17px;width:122px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 140px);}
#WJSVGWKSFC {top:10px;position:absolute;left:144px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#XVRJYSKGWZ_DIV {top:14px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:322px;height:17px;width:93px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:322px;height:17px;width:93px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 415px);}
#AVHTGZTOSZ {top:10px;position:absolute;left:416px;height:21px;width:56px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:10px;left:473px;height:21px;width:17px;z-index:1;}
#CTLYJMTHDV_DIV {top:14px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:505px;height:17px;width:62px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:505px;height:17px;width:62px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 567px);}
#RLUMBFHPUD {top:10px;position:absolute;left:568px;height:21px;width:198px;font-family:Arial;font-size:8pt;z-index:1; }
#JWSDOSRGAG_DIV {top:14px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:776px;height:17px;width:66px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:776px;height:17px;width:66px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 842px);}
#OJGQABFSYN {top:10px;position:absolute;left:844px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#ENBRMMDVUP_DIV {top:14px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:877px;height:17px;width:64px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:877px;height:17px;width:64px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 941px);}
#OZEOCQRSEQ {top:10px;position:absolute;left:944px;height:21px;width:56px;font-family:Arial;font-size:8pt;z-index:1; }
#YLIKFVPZJA {top:10px;position:absolute;left:148px;height:20px;width:80px;text-align:right;z-index:1; }
#YLIKFVPZJA_ZOOM { position:absolute;top:10px;left:229px;height:20px;width:17px;z-index:1;}
#XYMCLUECBD {top:10px;position:absolute;left:384px;height:20px;width:88px;z-index:1; }
#KHYCSRMDGJ {top:10px;position:absolute;left:638px;height:20px;width:138px;z-index:1; }
#OEIKQOZMYJ {top:10px;position:absolute;left:928px;height:20px;width:72px;text-align:right;z-index:1; }
#QSRYXQJCBZ {top:37px;position:absolute;left:148px;height:20px;width:128px;z-index:1; }
#QSRYXQJCBZ { vertical-align:middle; }
#MSGBKOOAOY {top:37px;position:absolute;left:384px;height:20px;width:89px;z-index:1; }
#RHYSMJSILT {top:37px;position:absolute;left:475px;height:20px;width:19px;z-index:1;}
#UJRFWINIVQ {top:37px;position:absolute;left:704px;height:20px;width:296px;z-index:1; }
#UJRFWINIVQ { vertical-align:middle; }
#XDPPAEWQFR {top:64px;position:absolute;left:148px;height:20px;width:40px;z-index:1; }
#XDPPAEWQFR_ZOOM { position:absolute;top:64px;left:189px;height:20px;width:17px;z-index:1;}
#SQVJLYRFKQ {top:64px;position:absolute;left:376px;height:20px;width:40px;z-index:1; }
#SRWWPHPCUB {top:91px;position:absolute;left:376px;height:20px;width:40px;z-index:1; }
#LJBMCCABSS {top:118px;position:absolute;left:148px;height:20px;width:160px;z-index:1; }
#LJBMCCABSS { vertical-align:middle; }
#MKCXJZEKIG {top:118px;position:absolute;left:392px;height:20px;width:384px;z-index:1; }
#MKCXJZEKIG { vertical-align:middle; }
#EDIXWZNSIC {top:145px;position:absolute;left:148px;height:20px;width:114px;text-align:right;z-index:1; }
#PURPSXEVAI {top:145px;position:absolute;left:360px;height:20px;width:104px;z-index:1; }
#PURPSXEVAI { vertical-align:middle; }
#CTORYEJVDR {top:145px;position:absolute;left:600px;height:20px;width:114px;text-align:right;z-index:1; }
#YTCDGCPEDJ {top:117px;position:absolute;left:936px;height:20px;width:72px;text-align:right;z-index:1; }
#SIPPFUEECW_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SIPPFUEECW_DIV {left:4px;height:16px;width:136px;}
BODY[ettl='old'] #SIPPFUEECW_DIV {left:4px;height:16px;width:136px;}
BODY[ettl='yes'] #SIPPFUEECW_DIV {right:calc(100% - 140px);}
#YXAKYHSWPW {top:3px;position:absolute;left:144px;height:20px;width:102px;text-align:right;z-index:1; }
#DPCGXWDECV {top:3px;position:absolute;left:665px;height:20px;width:102px;text-align:right;z-index:1; }
#ZLLARVPZIO_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZLLARVPZIO_DIV {left:362px;height:16px;width:296px;}
BODY[ettl='old'] #ZLLARVPZIO_DIV {left:362px;height:16px;width:296px;}
BODY[ettl='yes'] #ZLLARVPZIO_DIV {right:calc(100% - 658px);}
#RZIQZFKPUE {top:4px;position:absolute;left:200px;height:20px;width:162px;z-index:1; }
#RZIQZFKPUE_ZOOM { position:absolute;top:4px;left:363px;height:20px;width:17px;z-index:1;}
#QBLXDBODXR {top:31px;position:absolute;left:200px;height:20px;width:108px;z-index:1; }
#QBLXDBODXR_ZOOM { position:absolute;top:31px;left:309px;height:20px;width:17px;z-index:1;}
#ADUIDSWRJW {top:31px;position:absolute;left:820px;height:20px;width:30px;text-align:right;z-index:1; }
#CMPDPVIXKY_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CMPDPVIXKY_DIV {left:728px;height:16px;width:89px;}
BODY[ettl='old'] #CMPDPVIXKY_DIV {left:728px;height:16px;width:89px;}
BODY[ettl='yes'] #CMPDPVIXKY_DIV {right:calc(100% - 817px);}
#LLXFEZDLPK {top:31px;position:absolute;left:920px;height:20px;width:88px;text-align:right;z-index:1; }
#XGCFFEVNTQ_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XGCFFEVNTQ_DIV {left:853px;height:16px;width:64px;}
BODY[ettl='old'] #XGCFFEVNTQ_DIV {left:853px;height:16px;width:64px;}
BODY[ettl='yes'] #XGCFFEVNTQ_DIV {right:calc(100% - 917px);}
#TCOTJNZLGM {top:58px;position:absolute;left:200px;height:20px;width:108px;z-index:1; }
#TCOTJNZLGM_ZOOM { position:absolute;top:58px;left:309px;height:20px;width:17px;z-index:1;}
#AQSAREJVST {top:85px;position:absolute;left:200px;height:20px;width:360px;z-index:1; }
#JGKMKQMAHS_DIV {top:85px;position:absolute;left:768px;height:21px;width:237px;overflow:hidden;white-space:nowrap;z-index:1; }
#ULVCBLFVEU {top:112px;position:absolute;left:200px;height:20px;width:108px;z-index:1; }
#ULVCBLFVEU_ZOOM { position:absolute;top:112px;left:309px;height:20px;width:17px;z-index:1;}
#HWFHDWYMIU {top:139px;position:absolute;left:200px;height:20px;width:108px;z-index:1; }
#HWFHDWYMIU_ZOOM { position:absolute;top:139px;left:309px;height:20px;width:17px;z-index:1;}
#XPWBHUQUGP {top:139px;position:absolute;left:936px;height:20px;width:72px;z-index:1;}
#AWPNTOJIRR {top:6px;position:absolute;left:168px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#FRGXYSRNBR {top:2px;position:absolute;left:976px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#ODAYKSRECA {top:33px;position:absolute;left:168px;height:20px;width:230px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:33px;left:399px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:33px;position:absolute;left:488px;height:20px;width:32px;z-index:1; }
#RDAVOEETJG {top:33px;position:absolute;left:600px;height:20px;width:56px;z-index:1; }
#BOTAJBWHHY {top:33px;position:absolute;left:736px;height:20px;width:56px;z-index:1; }
#VYLHWTRQNX {top:60px;position:absolute;left:168px;height:20px;width:222px;z-index:1; }
#YVIKEGPYPM {top:60px;position:absolute;left:488px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:60px;left:519px;height:20px;width:17px;z-index:1;}
#HNMYJPHSQN {top:5px;position:absolute;left:168px;height:20px;width:720px;z-index:1; }
#HNMYJPHSQN { vertical-align:middle; }
#CDJFSCCGNX {top:32px;position:absolute;left:168px;height:20px;width:94px;z-index:1; }
#CDJFSCCGNX_ZOOM { position:absolute;top:32px;left:263px;height:20px;width:17px;z-index:1;}
#VYDRMHACRY {top:32px;position:absolute;left:560px;height:20px;width:328px;z-index:1; }
#NYRJHOZOON {top:59px;position:absolute;left:168px;height:20px;width:30px;z-index:1; }
#NYRJHOZOON_ZOOM { position:absolute;top:59px;left:199px;height:20px;width:17px;z-index:1;}
#YBNJCVPDUM {top:59px;position:absolute;left:720px;height:20px;width:168px;z-index:1; }
#YQINIDXZSL {top:86px;position:absolute;left:168px;height:20px;width:56px;z-index:1; }
#YQINIDXZSL_ZOOM { position:absolute;top:86px;left:225px;height:20px;width:17px;z-index:1;}
#FFCAGQAZHK {top:113px;position:absolute;left:168px;height:20px;width:280px;z-index:1; }
#ACAPFGYRVI {top:113px;position:absolute;left:856px;height:20px;width:32px;z-index:1; }
#GXMZZZHVBR {top:140px;position:absolute;left:168px;height:20px;width:426px;z-index:1; }
#OJXGBVSJHY {top:5px;position:absolute;left:168px;height:20px;width:352px;z-index:1; }
#OJXGBVSJHY { vertical-align:middle; }
#VYBZEWHKFF {top:5px;position:absolute;left:616px;height:20px;width:80px;text-align:right;z-index:1; }
#NSRIXGWOLV {top:5px;position:absolute;left:873px;height:20px;width:132px;z-index:1; }
#KDUGHGZUUG_DIV {top:14px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:281px;height:16px;width:98px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:281px;height:16px;width:98px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 379px);}
#HVHVAYPDJE_DIV {top:14px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 144px);}
#GVTXMEILAZ_DIV {top:149px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVTXMEILAZ_DIV {left:279px;height:16px;width:80px;}
BODY[ettl='old'] #GVTXMEILAZ_DIV {left:279px;height:16px;width:80px;}
BODY[ettl='yes'] #GVTXMEILAZ_DIV {right:calc(100% - 359px);letter-spacing:-1px;}
#RPGHLQLUDI_DIV {top:68px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPGHLQLUDI_DIV {left:224px;height:16px;width:148px;}
BODY[ettl='old'] #RPGHLQLUDI_DIV {left:224px;height:16px;width:148px;}
BODY[ettl='yes'] #RPGHLQLUDI_DIV {right:calc(100% - 372px);}
#CFRJFQBTVV_DIV {top:9px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CFRJFQBTVV_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #CFRJFQBTVV_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #CFRJFQBTVV_DIV {right:calc(100% - 164px);}
#LNONRUGLMW_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LNONRUGLMW_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #LNONRUGLMW_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #LNONRUGLMW_DIV {right:calc(100% - 164px);letter-spacing:-1px;}
#JJLAKRDJXU_DIV {top:63px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JJLAKRDJXU_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #JJLAKRDJXU_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #JJLAKRDJXU_DIV {right:calc(100% - 164px);}
#ZTIARSVAXX_DIV {top:117px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZTIARSVAXX_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #ZTIARSVAXX_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #ZTIARSVAXX_DIV {right:calc(100% - 164px);}
#IDAYTSKPPF_DIV {top:117px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDAYTSKPPF_DIV {left:736px;height:16px;width:118px;}
BODY[ettl='old'] #IDAYTSKPPF_DIV {left:736px;height:16px;width:118px;}
BODY[ettl='yes'] #IDAYTSKPPF_DIV {right:calc(100% - 854px);}
#GXGGXKSESA_DIV {top:90px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GXGGXKSESA_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #GXGGXKSESA_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #GXGGXKSESA_DIV {right:calc(100% - 164px);}
#EXIXNLTCBE_DIV {top:8px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EXIXNLTCBE_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #EXIXNLTCBE_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #EXIXNLTCBE_DIV {right:calc(100% - 196px);}
#VECGHPFLII_DIV {top:89px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VECGHPFLII_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #VECGHPFLII_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #VECGHPFLII_DIV {right:calc(100% - 196px);}
#IKBMEWKQJW_DIV {top:14px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:783px;height:16px;width:143px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:783px;height:16px;width:143px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 926px);}
#KMCNAWQHKV_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMCNAWQHKV_DIV {left:575px;height:16px;width:126px;}
BODY[ettl='old'] #KMCNAWQHKV_DIV {left:575px;height:16px;width:126px;}
BODY[ettl='yes'] #KMCNAWQHKV_DIV {right:calc(100% - 701px);}
#EQARGRKLGY_DIV {top:122px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQARGRKLGY_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='old'] #EQARGRKLGY_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='yes'] #EQARGRKLGY_DIV {right:calc(100% - 144px);}
#UIZWPHSLNT_DIV {top:122px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UIZWPHSLNT_DIV {left:312px;height:16px;width:79px;}
BODY[ettl='old'] #UIZWPHSLNT_DIV {left:312px;height:16px;width:79px;}
BODY[ettl='yes'] #UIZWPHSLNT_DIV {right:calc(100% - 391px);}
#QNNLSEAZHF {top:117px;position:absolute;left:848px;height:20px;width:24px;z-index:1; }
#PQFNSCNIRZ_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PQFNSCNIRZ_DIV {left:776px;height:16px;width:71px;}
BODY[ettl='old'] #PQFNSCNIRZ_DIV {left:776px;height:16px;width:71px;}
BODY[ettl='yes'] #PQFNSCNIRZ_DIV {right:calc(100% - 847px);}
#XLNVLBYVQX_DIV {top:149px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XLNVLBYVQX_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='old'] #XLNVLBYVQX_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='yes'] #XLNVLBYVQX_DIV {right:calc(100% - 144px);}
#IDTBMNCIOX_DIV {top:149px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDTBMNCIOX_DIV {left:472px;height:16px;width:127px;}
BODY[ettl='old'] #IDTBMNCIOX_DIV {left:472px;height:16px;width:127px;}
BODY[ettl='yes'] #IDTBMNCIOX_DIV {right:calc(100% - 599px);}
#NUEFWOMRRX_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NUEFWOMRRX_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #NUEFWOMRRX_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #NUEFWOMRRX_DIV {right:calc(100% - 196px);}
#IINONMZPLB_DIV {top:62px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IINONMZPLB_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #IINONMZPLB_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #IINONMZPLB_DIV {right:calc(100% - 196px);}
#LZDWHHTSGR_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LZDWHHTSGR_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #LZDWHHTSGR_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #LZDWHHTSGR_DIV {right:calc(100% - 196px);}
#HTLKHJWKEZ_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HTLKHJWKEZ_DIV {left:848px;height:16px;width:87px;}
BODY[ettl='old'] #HTLKHJWKEZ_DIV {left:848px;height:16px;width:87px;}
BODY[ettl='yes'] #HTLKHJWKEZ_DIV {right:calc(100% - 935px);}
#PXKFPRTVXX_DIV {top:35px;position:absolute;left:328px;height:16px;width:392px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#UWUWSYENHG_DIV {top:8px;position:absolute;left:384px;height:16px;width:432px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QGPWBVUZYW_DIV {top:62px;position:absolute;left:328px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#USZXRLYSFT_DIV {top:115px;position:absolute;left:328px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#MYPLEXWRTO_DIV {top:63px;position:absolute;left:224px;height:16px;width:328px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JHWWHHXDJI_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JHWWHHXDJI_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='old'] #JHWWHHXDJI_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='yes'] #JHWWHHXDJI_DIV {right:calc(100% - 144px);}
#LPKMZXAILT_DIV {top:142px;position:absolute;left:768px;height:18px;width:240px;color:#FF0000;background-color:#C0C0C0;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#JTSYWOZZQD_DIV {top:142px;position:absolute;left:768px;height:18px;width:240px;color:#FFFF6F;background-color:#C0C0C0;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#WTYYEQYAIU_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WTYYEQYAIU_DIV {left:281px;height:16px;width:98px;}
BODY[ettl='old'] #WTYYEQYAIU_DIV {left:281px;height:16px;width:98px;}
BODY[ettl='yes'] #WTYYEQYAIU_DIV {right:calc(100% - 379px);}
#IMHKHLSVQZ_DIV {top:144px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IMHKHLSVQZ_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #IMHKHLSVQZ_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #IMHKHLSVQZ_DIV {right:calc(100% - 164px);}
#OQXSPVCWCC_DIV {top:143px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OQXSPVCWCC_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='old'] #OQXSPVCWCC_DIV {left:8px;height:16px;width:188px;}
BODY[ettl='yes'] #OQXSPVCWCC_DIV {right:calc(100% - 196px);}
#PDLOBCDELX_DIV {top:142px;position:absolute;left:328px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RUIGDGZVBM_DIV {top:63px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUIGDGZVBM_DIV {left:634px;height:16px;width:84px;}
BODY[ettl='old'] #RUIGDGZVBM_DIV {left:634px;height:16px;width:84px;}
BODY[ettl='yes'] #RUIGDGZVBM_DIV {right:calc(100% - 718px);}
#SBJQIAQUCN_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:416px;height:16px;width:70px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:416px;height:16px;width:70px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 486px);}
#PFEQRACAUA_DIV {top:10px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 164px);}
#RZBLEGCFJJ_DIV {top:64px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:410px;height:16px;width:76px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:410px;height:16px;width:76px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 486px);}
#TWTXGZJTAR_DIV {top:64px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 164px);}
#GDOCAGKROT_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:544px;height:16px;width:54px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:544px;height:16px;width:54px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 598px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:672px;height:16px;width:63px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:672px;height:16px;width:63px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 735px);}
#XPSQTBKQQZ_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 164px);}
#ESVLUSNYWB_DIV {top:64px;position:absolute;left:541px;height:16px;width:251px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GVUCGWQOGG_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVUCGWQOGG_DIV {left:224px;height:16px;width:148px;}
BODY[ettl='old'] #GVUCGWQOGG_DIV {left:224px;height:16px;width:148px;}
BODY[ettl='yes'] #GVUCGWQOGG_DIV {right:calc(100% - 372px);}
#WDLBZTAAWH_DIV {top:68px;position:absolute;left:423px;height:16px;width:582px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BPBCTQXMMG_DIV {top:95px;position:absolute;left:423px;height:16px;width:582px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#POOUDEGCOH_DIV {top:90px;position:absolute;left:248px;height:16px;width:400px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#MZACLGVARN_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MZACLGVARN_DIV {left:432px;height:16px;width:125px;}
BODY[ettl='old'] #MZACLGVARN_DIV {left:432px;height:16px;width:125px;}
BODY[ettl='yes'] #MZACLGVARN_DIV {right:calc(100% - 557px);}
#PXIMPOLVHG_DIV {top:9px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PXIMPOLVHG_DIV {left:536px;height:16px;width:77px;}
BODY[ettl='old'] #PXIMPOLVHG_DIV {left:536px;height:16px;width:77px;}
BODY[ettl='yes'] #PXIMPOLVHG_DIV {right:calc(100% - 613px);}
#NOCRBBFOUY_DIV {top:14px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NOCRBBFOUY_DIV {left:496px;height:16px;width:137px;}
BODY[ettl='old'] #NOCRBBFOUY_DIV {left:496px;height:16px;width:137px;}
BODY[ettl='yes'] #NOCRBBFOUY_DIV {right:calc(100% - 633px);}
#MBISTIEAGL_DIV {top:9px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MBISTIEAGL_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='old'] #MBISTIEAGL_DIV {left:10px;height:16px;width:154px;}
BODY[ettl='yes'] #MBISTIEAGL_DIV {right:calc(100% - 164px);}
#AGZEQLWBPS_DIV {top:9px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AGZEQLWBPS_DIV {left:830px;height:16px;width:40px;}
BODY[ettl='old'] #AGZEQLWBPS_DIV {left:830px;height:16px;width:40px;}
BODY[ettl='yes'] #AGZEQLWBPS_DIV {right:calc(100% - 870px);}
#DFNYQWVWJD_DIV {top:68px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DFNYQWVWJD_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='old'] #DFNYQWVWJD_DIV {left:8px;height:16px;width:136px;}
BODY[ettl='yes'] #DFNYQWVWJD_DIV {right:calc(100% - 144px);}
#XCYZDRXAMJ_DIV {top:144px;position:absolute;left:792px;height:21px;width:189px;overflow:hidden;white-space:nowrap;z-index:1; }
#IBYMLBZKJR {top:50px;position:absolute;left:880px;height:20px;width:64px;z-index:1; }
#BOHBZOSBVJ {top:0px;position:absolute;left:1472px;height:20px;width:80px;z-index:1; }
#HNGGJVVCNB { height:43px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#HNGGJVVCNB_DIV { position:relative;z-index:0;width:100%;}
#BDZUATYPMW {z-index:0;}
#BDZUATYPMW_DIV { position:relative;z-index:0;width:100%;}
#KYBHVGCEJO {z-index:0;}
#KYBHVGCEJO_DIV { position:relative;z-index:0;width:100%;}
#XVSFEWJZNA {z-index:0;}
#XVSFEWJZNA_DIV { position:relative;z-index:0;width:100%;}
#ZYUUSRMPQG {z-index:0;}
#ZYUUSRMPQG_DIV { position:relative;z-index:0;width:100%;}
#XJNRVUSEVC {z-index:0;}
#XJNRVUSEVC_DIV { position:relative;z-index:0;width:100%;}
#UZFRPBBNAH {z-index:0;}
#UZFRPBBNAH_DIV { position:relative;z-index:0;width:100%;}
#TQDGESLQVD { position:relative;height:155px;width:681px;left:136px;z-index:1;}
#BOAFVDQFRN { position:relative;height:218px;width:821px;left:48px;z-index:1;}
#YPYOQUQUZO_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#FSLWEQSSNU_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UGBWSZCQRL_DIV {top:14px;position:absolute;left:414px;height:17px;width:330px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#HJOXUPJMAI_DIV {top:14px;position:absolute;left:760px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PYRWIMYTNP_DIV {top:14px;position:absolute;left:880px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UVVKMCCJDD { position:relative;height:219px;width:829px;left:48px;z-index:1;}
#JADNQZQMPX { position:relative;height:155px;width:681px;left:136px;z-index:1;}
#OGJVIBRWWZ { height:39px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#OGJVIBRWWZ_DIV { position:relative;z-index:0;width:100%;}
#DMGNWTHLWZ_DIV {top:11px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#LSIBVBNUYM_DIV {top:11px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#RCWYKPMBAA_DIV {top:11px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#JXAQRBOOMJ_DIV {top:11px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PLUTBJQWXR_DIV {top:11px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GTSBULOFTD {z-index:0;}
#GTSBULOFTD_DIV { position:relative;z-index:0;width:100%;}
#DOUBCEKLZK {z-index:0;}
#DOUBCEKLZK_DIV { position:relative;z-index:0;width:100%;}
#OCTDIOXFMI { position:relative;height:239px;width:629px;left:144px;z-index:1;}
#HTFNVDSDLI {z-index:0;}
#HTFNVDSDLI_DIV { position:relative;z-index:0;width:100%;}
#ZTIUOLEFIW { position:relative;height:239px;width:629px;left:144px;z-index:1;}
#BHLGNNSXQY {z-index:0;}
#BHLGNNSXQY_DIV { position:relative;z-index:0;width:100%;}
#QNQPIPOVDE {z-index:0;}
#QNQPIPOVDE_DIV { position:relative;z-index:0;width:100%;}
#NOKYMTFBFL { position:relative;height:226px;width:629px;left:144px;z-index:1;}
#WNXNBDZSBN {z-index:0;}
#WNXNBDZSBN_DIV { position:relative;z-index:0;width:100%;}
#PJIGCWZVYE { position:relative;height:226px;width:629px;left:144px;z-index:1;}
#CNRNAIMNZQ {z-index:0;}
#CNRNAIMNZQ_DIV { position:relative;z-index:0;width:100%;}
#QLURQBXKEV { position:relative;height:195px;width:553px;left:168px;z-index:1;}
#QVDUCHDNOK { height:42px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#QVDUCHDNOK_DIV { position:relative;z-index:0;width:100%;}
#JTWNGHDSFX { height:32px;z-index:0;}
#JTWNGHDSFX_DIV { position:relative;z-index:0;width:100%;}
#EOKCAXCLZO { height:50px;z-index:0;}
#EOKCAXCLZO_DIV { position:relative;z-index:0;width:100%;}
#CPZZPGLPTT_DIV {top:13px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#GIZJGVDRHP_DIV {top:13px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#XTJJGCAFPQ_DIV {top:13px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#NYDZFOZDZT_DIV {top:13px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#LRAIPTRCTP_DIV {top:13px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#KMKAXHABAG_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMKAXHABAG_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #KMKAXHABAG_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #KMKAXHABAG_DIV {right:calc(100% - 157px);}
#GOVICFJKZC {top:7px;position:absolute;left:160px;height:20px;width:102px;z-index:1; }
#GETFWUXANX_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GETFWUXANX_DIV {left:272px;height:16px;width:166px;}
BODY[ettl='old'] #GETFWUXANX_DIV {left:272px;height:16px;width:166px;}
BODY[ettl='yes'] #GETFWUXANX_DIV {right:calc(100% - 438px);}
#USFWBVEHFH {top:7px;position:absolute;left:443px;height:20px;width:112px;text-align:right;z-index:1; }
#WAAEZAHSYA_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WAAEZAHSYA_DIV {left:560px;height:16px;width:168px;}
BODY[ettl='old'] #WAAEZAHSYA_DIV {left:560px;height:16px;width:168px;}
BODY[ettl='yes'] #WAAEZAHSYA_DIV {right:calc(100% - 728px);}
#IKKFZQQTRR {top:8px;position:absolute;left:731px;height:20px;width:72px;text-align:right;z-index:1; }
#LEHLEQRJPH_DIV {top:14px;position:absolute;left:808px;height:21px;width:189px;overflow:hidden;white-space:nowrap;z-index:1; }
#QEFXECTWSF {top:14px;position:absolute;left:160px;height:20px;width:38px;z-index:1; }
#QEFXECTWSF_ZOOM { position:absolute;top:14px;left:199px;height:20px;width:17px;z-index:1;}
#ZEYLNLLVTD_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZEYLNLLVTD_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #ZEYLNLLVTD_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #ZEYLNLLVTD_DIV {right:calc(100% - 157px);}
#ILIJSVUNTQ_DIV {top:17px;position:absolute;left:224px;height:17px;width:560px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#VMRTFBBQHL {top:9px;position:absolute;left:160px;height:20px;width:208px;z-index:1; }
#AMHSICIBVW_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AMHSICIBVW_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #AMHSICIBVW_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #AMHSICIBVW_DIV {right:calc(100% - 157px);}
#KDWBJNGUTK {top:9px;position:absolute;left:704px;height:20px;width:192px;z-index:1; }
#PZUBJPCOXA_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PZUBJPCOXA_DIV {left:608px;height:16px;width:92px;}
BODY[ettl='old'] #PZUBJPCOXA_DIV {left:608px;height:16px;width:92px;}
BODY[ettl='yes'] #PZUBJPCOXA_DIV {right:calc(100% - 700px);letter-spacing:-1px;}
#VSHUPFYWOC {top:36px;position:absolute;left:160px;height:20px;width:312px;z-index:1; }
#VASVGQZJGP {top:63px;position:absolute;left:160px;height:20px;width:312px;z-index:1; }
#SMZCOQAIDC {top:15px;position:absolute;left:152px;height:20px;width:432px;z-index:1; }
#SMZCOQAIDC { vertical-align:middle; }
#MDVEMSKFNR {top:15px;position:absolute;left:712px;height:20px;width:176px;z-index:1; }
#MDVEMSKFNR { vertical-align:middle; }
#BVGYBYGMJB_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 157px);}
#EWATRAIADP_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 157px);}
#PLAWSVGZSR_DIV {top:40px;position:absolute;left:496px;height:16px;width:429px;text-align:left;z-index:1;}
#UOJWCVBOTW_DIV {top:67px;position:absolute;left:496px;height:16px;width:429px;text-align:left;z-index:1;}
#BQDHWAMSZF_DIV {top:19px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BQDHWAMSZF_DIV {left:-3px;height:16px;width:152px;}
BODY[ettl='old'] #BQDHWAMSZF_DIV {left:-3px;height:16px;width:152px;}
BODY[ettl='yes'] #BQDHWAMSZF_DIV {right:calc(100% - 149px);}
#BRIRCGYFEZ_DIV {top:19px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BRIRCGYFEZ_DIV {left:597px;height:16px;width:113px;}
BODY[ettl='old'] #BRIRCGYFEZ_DIV {left:597px;height:16px;width:113px;}
BODY[ettl='yes'] #BRIRCGYFEZ_DIV {right:calc(100% - 710px);}
#VVOVGLWTVP { height:51px;z-index:0;}
#VVOVGLWTVP_DIV { position:relative;z-index:0;width:100%;}
#JEKLOGLRAN {top:90px;position:absolute;left:160px;height:20px;width:192px;z-index:1; }
#RVWYGBVTDV_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RVWYGBVTDV_DIV {left:60px;height:16px;width:100px;}
BODY[ettl='old'] #RVWYGBVTDV_DIV {left:60px;height:16px;width:100px;}
BODY[ettl='yes'] #RVWYGBVTDV_DIV {right:calc(100% - 160px);letter-spacing:-1px;}
#RQKHNRJEDR {top:90px;position:absolute;left:536px;height:20px;width:192px;z-index:1; }
#ZFGJEWNDTX_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZFGJEWNDTX_DIV {left:418px;height:16px;width:118px;}
BODY[ettl='old'] #ZFGJEWNDTX_DIV {left:418px;height:16px;width:118px;}
BODY[ettl='yes'] #ZFGJEWNDTX_DIV {right:calc(100% - 536px);letter-spacing:-1px;}
#SNFGHIZMTZ { height:117px;z-index:0;}
#SNFGHIZMTZ_DIV { position:relative;z-index:0;width:100%;}
#DVZEGUGHBR {top:36px;position:absolute;left:152px;height:20px;width:492px;z-index:1; }
#GWFAZWBZWG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GWFAZWBZWG_DIV {left:580px;height:16px;width:132px;}
BODY[ettl='old'] #GWFAZWBZWG_DIV {left:580px;height:16px;width:132px;}
BODY[ettl='yes'] #GWFAZWBZWG_DIV {right:calc(100% - 712px);letter-spacing:-1px;}
#IDIFNZYSLH {top:9px;position:absolute;left:712px;height:20px;width:152px;z-index:1; }
#SOMEUVNZHG {top:9px;position:absolute;left:152px;height:20px;width:184px;z-index:1; }
#SOMEUVNZHG { vertical-align:middle; }
#TZYCGKLUVR_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TZYCGKLUVR_DIV {left:48px;height:16px;width:104px;}
BODY[ettl='old'] #TZYCGKLUVR_DIV {left:48px;height:16px;width:104px;}
BODY[ettl='yes'] #TZYCGKLUVR_DIV {right:calc(100% - 152px);}
#IXLIPJPKPM_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IXLIPJPKPM_DIV {left:64px;height:16px;width:88px;}
BODY[ettl='old'] #IXLIPJPKPM_DIV {left:64px;height:16px;width:88px;}
BODY[ettl='yes'] #IXLIPJPKPM_DIV {right:calc(100% - 152px);letter-spacing:-1px;}
#LLZCQSNQZL { height:63px;z-index:0;}
#LLZCQSNQZL_DIV { position:relative;z-index:0;width:100%;}
#OXFXXISYUL { height:36px;z-index:0;}
#OXFXXISYUL_DIV { position:relative;z-index:0;width:100%;}
#YMKLIGEOKH {top:9px;position:absolute;left:152px;height:20px;width:736px;z-index:1; }
#YMKLIGEOKH { vertical-align:middle; }
#THAPDQIYBH_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #THAPDQIYBH_DIV {left:95px;height:16px;width:57px;}
BODY[ettl='old'] #THAPDQIYBH_DIV {left:95px;height:16px;width:57px;}
BODY[ettl='yes'] #THAPDQIYBH_DIV {right:calc(100% - 152px);letter-spacing:-1px;}
#DGEGXTAAOU { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#DGEGXTAAOU_DIV { position:relative;z-index:0;width:100%;}
#JELGAQOYWT {z-index:0;}
#JELGAQOYWT_DIV { position:relative;z-index:0;width:100%;}
#VQXHANUVCG_DIV {top:14px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#QJMVIKWIHK_DIV {top:14px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#OFCCWDYHUP_DIV {top:14px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#TLEBMDFORQ_DIV {top:14px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#BCMVZTUBZL_DIV {top:14px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#WNMMMNSARU {top:9px;position:absolute;left:100px;height:20px;width:312px;z-index:1; }
#WNMMMNSARU_ZOOM { position:absolute;top:9px;left:413px;height:20px;width:17px;z-index:1;}
#PLFKNICHPU {top:36px;position:absolute;left:100px;height:20px;width:372px;z-index:1; }
#OZMPVCAYQN { position:relative;height:413px;width:686px;left:97px;z-index:1;}
#MHQXMCGOMG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MHQXMCGOMG_DIV {left:6px;height:16px;width:90px;}
BODY[ettl='old'] #MHQXMCGOMG_DIV {left:6px;height:16px;width:90px;}
BODY[ettl='yes'] #MHQXMCGOMG_DIV {right:calc(100% - 96px);}
#DRRKLKJROO_DIV {top:13px;position:absolute;left:436px;height:16px;width:480px;color:#0000FF;text-align:left;z-index:1;}
#BNZLNGZOEF_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BNZLNGZOEF_DIV {left:32px;height:16px;width:64px;}
BODY[ettl='old'] #BNZLNGZOEF_DIV {left:32px;height:16px;width:64px;}
BODY[ettl='yes'] #BNZLNGZOEF_DIV {right:calc(100% - 96px);}
#JDTKGSGMAF {top:36px;position:absolute;left:818px;height:20px;width:72px;z-index:1; }
#EOJCZFADSY_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EOJCZFADSY_DIV {left:768px;height:16px;width:46px;}
BODY[ettl='old'] #EOJCZFADSY_DIV {left:768px;height:16px;width:46px;}
BODY[ettl='yes'] #EOJCZFADSY_DIV {right:calc(100% - 814px);}
#GMMLWYVNPO { height:198px;z-index:0;}
#GMMLWYVNPO_DIV { position:relative;z-index:0;width:100%;}
#UFFFOVKFCE { height:36px;z-index:0;}
#UFFFOVKFCE_DIV { position:relative;z-index:0;width:100%;}
#YUNLBUHYXD {z-index:0;}
#YUNLBUHYXD_DIV { position:relative;z-index:0;width:100%;}
#CKJQULDXKW {top:29px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:29px;left:224px;height:20px;width:17px;z-index:1;}
#MXYTQLATHC {top:30px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#SXTYCPHBIM {top:53px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:53px;left:224px;height:20px;width:17px;z-index:1;}
#KBIUAXUDXA {top:54px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#QJSTZIPOQB {top:77px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:77px;left:224px;height:20px;width:17px;z-index:1;}
#UDAYHICPVB {top:78px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#SFFFOYOWNH {top:101px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:101px;left:224px;height:20px;width:17px;z-index:1;}
#ETALZDRBSO {top:102px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#NOBMPHKVTX {top:125px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:125px;left:224px;height:20px;width:17px;z-index:1;}
#QBTVZDKLCO {top:126px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#DJOWYRMDDC {top:149px;position:absolute;left:177px;height:20px;width:46px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:149px;left:224px;height:20px;width:17px;z-index:1;}
#RUWEXWJASG {top:149px;position:absolute;left:849px;height:20px;width:40px;text-align:right;z-index:1; }
#SMVVFHCEHA {top:174px;position:absolute;left:177px;height:20px;width:396px;z-index:1; }
#SMVVFHCEHA { vertical-align:middle; }
#DOXBACRWUU {top:9px;position:absolute;left:163px;height:20px;width:40px;text-align:right;z-index:1; }
#OXGBDTWKSX {top:9px;position:absolute;left:384px;height:20px;width:612px;z-index:1; }
#RZOXJTRIYP { position:relative;height:323px;width:821px;left:104px;z-index:1;}
#NAVNOGNZNE_DIV {top:81px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 174px);}
#LHTXLTQYIK_DIV {top:105px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 174px);}
#HGXSBHTFKF_DIV {top:129px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 174px);}
#OKFGBGYVWD_DIV {top:153px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 174px);}
#ZUVXJIZOSF_DIV {top:33px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 174px);}
#LXNMWSOUMF_DIV {top:57px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 174px);}
#CMKJDFEFFI_DIV {top:81px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:105px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:129px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:153px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:9px;position:absolute;left:41px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:9px;position:absolute;left:793px;height:16px;width:120px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BCFLBBQSRN_DIV {top:57px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QEXJCFPJBM_DIV {top:33px;position:absolute;left:249px;height:16px;width:519px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#VCBMHLXJMD_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:8px;height:16px;width:152px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 160px);}
#PKJNNGBWFM_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:229px;height:16px;width:152px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:229px;height:16px;width:152px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 381px);letter-spacing:-1px;}
#NKPWKMDXUR_DIV {top:13px;position:absolute;left:206px;height:16px;width:22px;text-align:left;z-index:1;}
#JKZZQYXAFS_DIV {top:178px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKZZQYXAFS_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='old'] #JKZZQYXAFS_DIV {left:8px;height:16px;width:166px;}
BODY[ettl='yes'] #JKZZQYXAFS_DIV {right:calc(100% - 174px);}
#WNKMQBRYKY_DIV {top:14px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#FIPSGVNYZY_DIV {top:14px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UCRYTVIYFK_DIV {top:14px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#RCPCUZSBYS_DIV {top:14px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#MFOAMAUDCW_DIV {top:14px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#LTVRVTUQAX { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#LTVRVTUQAX_DIV { position:relative;z-index:0;width:100%;}
#HPXRKUBEED {top:9px;position:absolute;left:128px;height:693px;width:749px;z-index:1;}
#BUKINSEIIS_DIV {top:14px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#MYUQMLLKDW_DIV {top:14px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#QMHIWVXUQK_DIV {top:14px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#IDPWESGNHE_DIV {top:14px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#FPCKHYFPQH_DIV {top:14px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#ZNJDPRVLQK { height:45px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#ZNJDPRVLQK_DIV { position:relative;z-index:0;width:100%;}
#SBYZBTFYWZ { height:720px;z-index:0;}
#SBYZBTFYWZ_DIV { position:relative;z-index:0;width:100%;}
BODY[ettl='yes'] #JGKMKQMAHS_DIV, BODY[ettl='yes'] #XCYZDRXAMJ_DIV, BODY[ettl='yes'] #LEHLEQRJPH_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #ANGGVVFTIZ, #XLSSDAVPDH, #ZPEPXLSZFA, #YIVWPEZXIF, #KURTXQHCYE, #BOYWPGJEEZ, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #SIPPFUEECW_DIV, #ZLLARVPZIO_DIV, #CMPDPVIXKY_DIV, #XGCFFEVNTQ_DIV, #KDUGHGZUUG_DIV, #HVHVAYPDJE_DIV, #GVTXMEILAZ_DIV, #RPGHLQLUDI_DIV, #CFRJFQBTVV_DIV, #LNONRUGLMW_DIV, #JJLAKRDJXU_DIV, #ZTIARSVAXX_DIV, #IDAYTSKPPF_DIV, #GXGGXKSESA_DIV, #EXIXNLTCBE_DIV, #VECGHPFLII_DIV, #IKBMEWKQJW_DIV, #KMCNAWQHKV_DIV, #EQARGRKLGY_DIV, #UIZWPHSLNT_DIV, #PQFNSCNIRZ_DIV, #XLNVLBYVQX_DIV, #IDTBMNCIOX_DIV, #NUEFWOMRRX_DIV, #IINONMZPLB_DIV, #LZDWHHTSGR_DIV, #HTLKHJWKEZ_DIV, #PXKFPRTVXX_DIV, #UWUWSYENHG_DIV, #QGPWBVUZYW_DIV, #USZXRLYSFT_DIV, #MYPLEXWRTO_DIV, #JHWWHHXDJI_DIV, #LPKMZXAILT_DIV, #JTSYWOZZQD_DIV, #WTYYEQYAIU_DIV, #IMHKHLSVQZ_DIV, #OQXSPVCWCC_DIV, #PDLOBCDELX_DIV, #RUIGDGZVBM_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #WHMXTGXWGC_DIV, #XPSQTBKQQZ_DIV, #ESVLUSNYWB_DIV, #GVUCGWQOGG_DIV, #WDLBZTAAWH_DIV, #BPBCTQXMMG_DIV, #POOUDEGCOH_DIV, #MZACLGVARN_DIV, #PXIMPOLVHG_DIV, #NOCRBBFOUY_DIV, #MBISTIEAGL_DIV, #AGZEQLWBPS_DIV, #DFNYQWVWJD_DIV, #HNGGJVVCNB, #BDZUATYPMW, #KYBHVGCEJO, #XVSFEWJZNA, #ZYUUSRMPQG, #XJNRVUSEVC, #UZFRPBBNAH, #YPYOQUQUZO_DIV, #FSLWEQSSNU_DIV, #UGBWSZCQRL_DIV, #HJOXUPJMAI_DIV, #PYRWIMYTNP_DIV, #OGJVIBRWWZ, #DMGNWTHLWZ_DIV, #LSIBVBNUYM_DIV, #RCWYKPMBAA_DIV, #JXAQRBOOMJ_DIV, #PLUTBJQWXR_DIV, #GTSBULOFTD, #DOUBCEKLZK, #HTFNVDSDLI, #BHLGNNSXQY, #QNQPIPOVDE, #WNXNBDZSBN, #CNRNAIMNZQ, #QVDUCHDNOK, #JTWNGHDSFX, #EOKCAXCLZO, #CPZZPGLPTT_DIV, #GIZJGVDRHP_DIV, #XTJJGCAFPQ_DIV, #NYDZFOZDZT_DIV, #LRAIPTRCTP_DIV, #KMKAXHABAG_DIV, #GETFWUXANX_DIV, #WAAEZAHSYA_DIV, #ZEYLNLLVTD_DIV, #ILIJSVUNTQ_DIV, #AMHSICIBVW_DIV, #PZUBJPCOXA_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #PLAWSVGZSR_DIV, #UOJWCVBOTW_DIV, #BQDHWAMSZF_DIV, #BRIRCGYFEZ_DIV, #VVOVGLWTVP, #RVWYGBVTDV_DIV, #ZFGJEWNDTX_DIV, #SNFGHIZMTZ, #GWFAZWBZWG_DIV, #TZYCGKLUVR_DIV, #IXLIPJPKPM_DIV, #LLZCQSNQZL, #OXFXXISYUL, #THAPDQIYBH_DIV, #DGEGXTAAOU, #JELGAQOYWT, #VQXHANUVCG_DIV, #QJMVIKWIHK_DIV, #OFCCWDYHUP_DIV, #TLEBMDFORQ_DIV, #BCMVZTUBZL_DIV, #MHQXMCGOMG_DIV, #DRRKLKJROO_DIV, #BNZLNGZOEF_DIV, #EOJCZFADSY_DIV, #GMMLWYVNPO, #UFFFOVKFCE, #YUNLBUHYXD, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #VCBMHLXJMD_DIV, #PKJNNGBWFM_DIV, #NKPWKMDXUR_DIV, #JKZZQYXAFS_DIV, #WNKMQBRYKY_DIV, #FIPSGVNYZY_DIV, #UCRYTVIYFK_DIV, #RCPCUZSBYS_DIV, #MFOAMAUDCW_DIV, #LTVRVTUQAX, #BUKINSEIIS_DIV, #MYUQMLLKDW_DIV, #QMHIWVXUQK_DIV, #IDPWESGNHE_DIV, #FPCKHYFPQH_DIV, #ZNJDPRVLQK, #SBYZBTFYWZ {overflow:hidden;}
#NHERHRZTFP, #YORQOIOBQN, #ANGGVVFTIZ, #XLSSDAVPDH, #ZPEPXLSZFA, #YIVWPEZXIF, #KURTXQHCYE, #BOYWPGJEEZ, #WJSVGWKSFC, #AVHTGZTOSZ, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #YLIKFVPZJA, #XYMCLUECBD, #KHYCSRMDGJ, #OEIKQOZMYJ, #QSRYXQJCBZ, #MSGBKOOAOY, #UJRFWINIVQ, #XDPPAEWQFR, #SQVJLYRFKQ, #SRWWPHPCUB, #LJBMCCABSS, #MKCXJZEKIG, #EDIXWZNSIC, #PURPSXEVAI, #CTORYEJVDR, #YTCDGCPEDJ, #YXAKYHSWPW, #DPCGXWDECV, #RZIQZFKPUE, #QBLXDBODXR, #ADUIDSWRJW, #LLXFEZDLPK, #TCOTJNZLGM, #AQSAREJVST, #JGKMKQMAHS_DIV, #ULVCBLFVEU, #HWFHDWYMIU, #AWPNTOJIRR, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #YVIKEGPYPM, #HNMYJPHSQN, #CDJFSCCGNX, #VYDRMHACRY, #NYRJHOZOON, #YBNJCVPDUM, #YQINIDXZSL, #FFCAGQAZHK, #ACAPFGYRVI, #GXMZZZHVBR, #OJXGBVSJHY, #VYBZEWHKFF, #NSRIXGWOLV, #QNNLSEAZHF, #XCYZDRXAMJ_DIV, #IBYMLBZKJR, #BOHBZOSBVJ, #HNGGJVVCNB, #BDZUATYPMW, #KYBHVGCEJO, #XVSFEWJZNA, #ZYUUSRMPQG, #XJNRVUSEVC, #UZFRPBBNAH, #OGJVIBRWWZ, #GTSBULOFTD, #DOUBCEKLZK, #HTFNVDSDLI, #BHLGNNSXQY, #QNQPIPOVDE, #WNXNBDZSBN, #CNRNAIMNZQ, #QVDUCHDNOK, #JTWNGHDSFX, #EOKCAXCLZO, #GOVICFJKZC, #USFWBVEHFH, #IKKFZQQTRR, #LEHLEQRJPH_DIV, #QEFXECTWSF, #VMRTFBBQHL, #KDWBJNGUTK, #VSHUPFYWOC, #VASVGQZJGP, #SMZCOQAIDC, #MDVEMSKFNR, #VVOVGLWTVP, #JEKLOGLRAN, #RQKHNRJEDR, #SNFGHIZMTZ, #DVZEGUGHBR, #IDIFNZYSLH, #SOMEUVNZHG, #LLZCQSNQZL, #OXFXXISYUL, #YMKLIGEOKH, #DGEGXTAAOU, #JELGAQOYWT, #WNMMMNSARU, #PLFKNICHPU, #JDTKGSGMAF, #GMMLWYVNPO, #UFFFOVKFCE, #YUNLBUHYXD, #CKJQULDXKW, #MXYTQLATHC, #SXTYCPHBIM, #KBIUAXUDXA, #QJSTZIPOQB, #UDAYHICPVB, #SFFFOYOWNH, #ETALZDRBSO, #NOBMPHKVTX, #QBTVZDKLCO, #DJOWYRMDDC, #RUWEXWJASG, #SMVVFHCEHA, #DOXBACRWUU, #OXGBDTWKSX, #LTVRVTUQAX, #ZNJDPRVLQK, #SBYZBTFYWZ {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
