.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:144px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#GJZISGEBVV {z-index:0;}
#GJZISGEBVV_DIV { position:relative;z-index:0;width:100%;}
#LXORWVRYJJ {top:16px;position:absolute;left:144px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#OICGZUOZYP_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 140px);}
#AQAARAIPOR {top:16px;position:absolute;left:448px;height:20px;width:328px;z-index:1; }
#VEBJKDHMDC_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VEBJKDHMDC_DIV {left:324px;height:16px;width:120px;}
BODY[ettl='old'] #VEBJKDHMDC_DIV {left:324px;height:16px;width:120px;}
BODY[ettl='yes'] #VEBJKDHMDC_DIV {right:calc(100% - 444px);}
#ZFOHYLVPYN {top:40px;position:absolute;left:144px;height:20px;width:856px;z-index:1; }
#ZFOHYLVPYN { vertical-align:middle; }
#BHAVHLFPAC {top:64px;position:absolute;left:144px;height:20px;width:856px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#QBUCLWUNFT {top:88px;position:absolute;left:144px;height:20px;width:336px;z-index:1; }
#QBUCLWUNFT { vertical-align:middle; }
#BCLYMGMBLK {top:112px;position:absolute;left:144px;height:20px;width:126px;z-index:1; }
#BCLYMGMBLK { vertical-align:middle; }
#GDCHKTFQUK_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDCHKTFQUK_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='old'] #GDCHKTFQUK_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='yes'] #GDCHKTFQUK_DIV {right:calc(100% - 140px);}
#RUMXLFCOKA {top:112px;position:absolute;left:368px;height:20px;width:38px;z-index:1; }
#RUMXLFCOKA_ZOOM { position:absolute;top:112px;left:407px;height:20px;width:17px;z-index:1;}
#OUQKLNQVMP_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OUQKLNQVMP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='old'] #OUQKLNQVMP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='yes'] #OUQKLNQVMP_DIV {right:calc(100% - 140px);}
#MILRATMPIJ_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MILRATMPIJ_DIV {left:272px;height:16px;width:93px;}
BODY[ettl='old'] #MILRATMPIJ_DIV {left:272px;height:16px;width:93px;}
BODY[ettl='yes'] #MILRATMPIJ_DIV {right:calc(100% - 365px);}
#XQILBJQNNS_DIV {top:116px;position:absolute;left:432px;height:16px;width:328px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XCLJCOLAOK { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#NXJPOCJGET { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#TQNAPDCWFY_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TQNAPDCWFY_DIV {left:51px;height:16px;width:90px;}
BODY[ettl='old'] #TQNAPDCWFY_DIV {left:51px;height:16px;width:90px;}
BODY[ettl='yes'] #TQNAPDCWFY_DIV {right:calc(100% - 141px);}
#CTCKWHZVTZ_DIV {top:70px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 140px);}
#LZCEHELAXJ {z-index:0;}
#LZCEHELAXJ_DIV { position:relative;z-index:0;width:100%;}
#VNBQZVXZTE { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#EHSQLOIDHO {z-index:0;}
#EHSQLOIDHO_DIV { position:relative;z-index:0;width:100%;}
#OYYXUVDIWN { position:relative;height:256px;width:773px;left:136px;z-index:1;}
#XRVFDCHTKZ { position:relative;height:164px;width:455px;left:296px;z-index:1;}
#KAVLKRYWMM {z-index:0;}
#KAVLKRYWMM_DIV { position:relative;z-index:0;width:100%;}
#LWDMGLAEON {z-index:0;}
#LWDMGLAEON_DIV { position:relative;z-index:0;width:100%;}
#ZSYGOPYXSA { position:relative;height:335px;width:771px;left:160px;z-index:1;}
#MUCCIMEJEB { height:602px;z-index:0;}
#MUCCIMEJEB_DIV { position:relative;z-index:0;width:100%;}
#XUXHMWVHFR {top:133px;position:absolute;left:80px;height:335px;width:647px;z-index:1;}
#YORQOIOBQN, #GJZISGEBVV, #OICGZUOZYP_DIV, #VEBJKDHMDC_DIV, #GDCHKTFQUK_DIV, #OUQKLNQVMP_DIV, #MILRATMPIJ_DIV, #XQILBJQNNS_DIV, #TQNAPDCWFY_DIV, #CTCKWHZVTZ_DIV, #LZCEHELAXJ, #EHSQLOIDHO, #KAVLKRYWMM, #LWDMGLAEON, #MUCCIMEJEB {overflow:hidden;}
#YORQOIOBQN, #GJZISGEBVV, #LXORWVRYJJ, #AQAARAIPOR, #ZFOHYLVPYN, #BHAVHLFPAC, #QBUCLWUNFT, #BCLYMGMBLK, #RUMXLFCOKA, #LZCEHELAXJ, #EHSQLOIDHO, #KAVLKRYWMM, #LWDMGLAEON, #MUCCIMEJEB {box-sizing : border-box;}
