.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TNOGQPIWSU {top:9px;position:absolute;left:80px;height:20px;width:32px;z-index:1; }
#OTJOMZNBJG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OTJOMZNBJG_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='old'] #OTJOMZNBJG_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='yes'] #OTJOMZNBJG_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#BGMMOQKKPH {top:36px;position:absolute;left:80px;height:20px;width:616px;z-index:1; }
#QKTFSMGQWL_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QKTFSMGQWL_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='old'] #QKTFSMGQWL_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='yes'] #QKTFSMGQWL_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#WPNPIZPKPB {top:7px;position:absolute;left:664px;height:20px;width:30px;text-align:right;z-index:1; }
#TRTQZEAWPK_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRTQZEAWPK_DIV {left:512px;height:16px;width:149px;}
BODY[ettl='old'] #TRTQZEAWPK_DIV {left:512px;height:16px;width:149px;}
BODY[ettl='yes'] #TRTQZEAWPK_DIV {right:calc(100% - 661px);}
#OTJOMZNBJG_DIV, #QKTFSMGQWL_DIV, #TRTQZEAWPK_DIV {overflow:hidden;}
#TNOGQPIWSU, #BGMMOQKKPH, #WPNPIZPKPB {box-sizing : border-box;}
