.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:602px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#LXORWVRYJJ {top:7px;position:absolute;left:136px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#BHAVHLFPAC {top:35px;position:absolute;left:136px;height:20px;width:368px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#JHOQNVHZXH {top:35px;position:absolute;left:656px;height:20px;width:168px;z-index:1; }
#JHOQNVHZXH { vertical-align:middle; }
#OATVYCOEYD {top:63px;position:absolute;left:136px;height:20px;width:156px;z-index:1; }
#RAPQTBTNXT {top:63px;position:absolute;left:656px;height:20px;width:108px;z-index:1; }
#CNUZSPOEIV {top:91px;position:absolute;left:136px;height:20px;width:306px;z-index:1; }
#CNUZSPOEIV { vertical-align:middle; }
#GSFLHJGDBR {top:91px;position:absolute;left:656px;height:20px;width:56px;z-index:1; }
#OICGZUOZYP_DIV {top:11px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 132px);}
#CTCKWHZVTZ_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:0px;height:16px;width:132px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:0px;height:16px;width:132px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 132px);}
#GDTYXHVEHO_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDTYXHVEHO_DIV {left:512px;height:16px;width:141px;}
BODY[ettl='old'] #GDTYXHVEHO_DIV {left:512px;height:16px;width:141px;}
BODY[ettl='yes'] #GDTYXHVEHO_DIV {right:calc(100% - 653px);}
#MGDEBLMLWS_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MGDEBLMLWS_DIV {left:512px;height:16px;width:144px;}
BODY[ettl='old'] #MGDEBLMLWS_DIV {left:512px;height:16px;width:144px;}
BODY[ettl='yes'] #MGDEBLMLWS_DIV {right:calc(100% - 656px);}
#WUXCQQIOXL_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WUXCQQIOXL_DIV {left:16px;height:16px;width:120px;}
BODY[ettl='old'] #WUXCQQIOXL_DIV {left:16px;height:16px;width:120px;}
BODY[ettl='yes'] #WUXCQQIOXL_DIV {right:calc(100% - 136px);}
#BJQDZXBWJS_DIV {top:118px;position:absolute;left:136px;height:21px;width:104px;overflow:hidden;white-space:nowrap;z-index:1; }
#UOUKXZECJY {top:119px;position:absolute;left:240px;height:20px;width:72px;text-align:right;z-index:1; }
#VCDAQCGFUL {top:147px;position:absolute;left:136px;height:20px;width:72px;text-align:right;z-index:1; }
#HYFJJHUTOA_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HYFJJHUTOA_DIV {left:408px;height:16px;width:248px;}
BODY[ettl='old'] #HYFJJHUTOA_DIV {left:408px;height:16px;width:248px;}
BODY[ettl='yes'] #HYFJJHUTOA_DIV {right:calc(100% - 656px);}
#SOEKBYYSDZ_DIV {top:151px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SOEKBYYSDZ_DIV {left:24px;height:16px;width:112px;}
BODY[ettl='old'] #SOEKBYYSDZ_DIV {left:24px;height:16px;width:112px;}
BODY[ettl='yes'] #SOEKBYYSDZ_DIV {right:calc(100% - 136px);}
#QKEKMYOBIJ_DIV {top:147px;position:absolute;left:355px;height:21px;width:149px;overflow:hidden;white-space:nowrap;z-index:1; }
#BYWOFLDARI {top:147px;position:absolute;left:503px;height:20px;width:81px;text-align:right;z-index:1; }
#JLZSVQCYSK {top:175px;position:absolute;left:136px;height:20px;width:156px;z-index:1; }
#SIHWUIKOST_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SIHWUIKOST_DIV {left:0px;height:16px;width:136px;}
BODY[ettl='old'] #SIHWUIKOST_DIV {left:0px;height:16px;width:136px;}
BODY[ettl='yes'] #SIHWUIKOST_DIV {right:calc(100% - 136px);}
#PHMJWKVPVJ {top:210px;position:absolute;left:16px;height:385px;width:808px;height:385px;right:0px;z-index:1;overflow:auto;}
#ASHSTCRNBL {top:175px;position:absolute;left:392px;height:20px;width:312px;z-index:1; }
#DYCSKKQYXP_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DYCSKKQYXP_DIV {left:296px;height:16px;width:96px;}
BODY[ettl='old'] #DYCSKKQYXP_DIV {left:296px;height:16px;width:96px;}
BODY[ettl='yes'] #DYCSKKQYXP_DIV {right:calc(100% - 392px);}
#ERFGDWAQVY {top:115px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#KINMWWRRUA {top:143px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#QKGGINIHGW_DIV {top:119px;position:absolute;left:355px;height:21px;width:149px;overflow:hidden;white-space:nowrap;z-index:1; }
#RJUFHFUDIX {top:119px;position:absolute;left:503px;height:20px;width:81px;text-align:right;z-index:1; }
#LJBUMZNQNX {top:171px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#DUYEPEAECV_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DUYEPEAECV_DIV {left:24px;height:16px;width:112px;}
BODY[ettl='old'] #DUYEPEAECV_DIV {left:24px;height:16px;width:112px;}
BODY[ettl='yes'] #DUYEPEAECV_DIV {right:calc(100% - 136px);}
#MUCCIMEJEB { height:602px;z-index:0;}
#MUCCIMEJEB_DIV { position:relative;z-index:0;width:100%;}
#XUXHMWVHFR {top:133px;position:absolute;left:88px;height:335px;width:647px;z-index:1;}
BODY[ettl='yes'] #BJQDZXBWJS_DIV, BODY[ettl='yes'] #QKGGINIHGW_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #OICGZUOZYP_DIV, #CTCKWHZVTZ_DIV, #GDTYXHVEHO_DIV, #MGDEBLMLWS_DIV, #WUXCQQIOXL_DIV, #HYFJJHUTOA_DIV, #SOEKBYYSDZ_DIV, #SIHWUIKOST_DIV, #DYCSKKQYXP_DIV, #DUYEPEAECV_DIV, #MUCCIMEJEB {overflow:hidden;}
#YORQOIOBQN, #LXORWVRYJJ, #BHAVHLFPAC, #JHOQNVHZXH, #OATVYCOEYD, #RAPQTBTNXT, #CNUZSPOEIV, #GSFLHJGDBR, #BJQDZXBWJS_DIV, #UOUKXZECJY, #VCDAQCGFUL, #QKEKMYOBIJ_DIV, #BYWOFLDARI, #JLZSVQCYSK, #ASHSTCRNBL, #QKGGINIHGW_DIV, #RJUFHFUDIX, #MUCCIMEJEB {box-sizing : border-box;}
