.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UZYCBNGKAF {top:14px;position:absolute;left:88px;height:20px;width:32px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WHIORQWGET_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WHIORQWGET_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='old'] #WHIORQWGET_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='yes'] #WHIORQWGET_DIV {right:calc(100% - 82px);}
#LQAMKFKRGQ {top:14px;position:absolute;left:224px;height:20px;width:208px;z-index:1; }
#PHRWRIONIJ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PHRWRIONIJ_DIV {left:152px;height:16px;width:68px;}
BODY[ettl='old'] #PHRWRIONIJ_DIV {left:152px;height:16px;width:68px;}
BODY[ettl='yes'] #PHRWRIONIJ_DIV {right:calc(100% - 220px);}
#WYPHZRRMGV {top:45px;position:absolute;left:88px;height:20px;width:32px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WYPHZRRMGV_ZOOM { position:absolute;top:45px;left:121px;height:20px;width:17px;z-index:1;}
#YWZSAHPUTQ_DIV {top:49px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YWZSAHPUTQ_DIV {left:18px;height:16px;width:70px;}
BODY[ettl='old'] #YWZSAHPUTQ_DIV {left:18px;height:16px;width:70px;}
BODY[ettl='yes'] #YWZSAHPUTQ_DIV {right:calc(100% - 88px);}
#OWMOOHYQLG_DIV {top:49px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OWMOOHYQLG_DIV {left:134px;height:16px;width:86px;}
BODY[ettl='old'] #OWMOOHYQLG_DIV {left:134px;height:16px;width:86px;}
BODY[ettl='yes'] #OWMOOHYQLG_DIV {right:calc(100% - 220px);}
#RGQHLJWUDB {top:45px;position:absolute;left:224px;height:20px;width:208px;z-index:1; }
#ZBLQZMCQSQ {top:72px;position:absolute;left:224px;height:20px;width:24px;text-align:right;z-index:1; }
#ABRRPNTPRU_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ABRRPNTPRU_DIV {left:77px;height:16px;width:147px;}
BODY[ettl='old'] #ABRRPNTPRU_DIV {left:77px;height:16px;width:147px;}
BODY[ettl='yes'] #ABRRPNTPRU_DIV {right:calc(100% - 224px);letter-spacing:-1px;}
#SCVXMYQYIE {top:99px;position:absolute;left:224px;height:20px;width:24px;text-align:right;z-index:1; }
#UYWOZMRGSO_DIV {top:103px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UYWOZMRGSO_DIV {left:73px;height:16px;width:151px;}
BODY[ettl='old'] #UYWOZMRGSO_DIV {left:73px;height:16px;width:151px;}
BODY[ettl='yes'] #UYWOZMRGSO_DIV {right:calc(100% - 224px);letter-spacing:-1px;}
#WHIORQWGET_DIV, #PHRWRIONIJ_DIV, #YWZSAHPUTQ_DIV, #OWMOOHYQLG_DIV, #ABRRPNTPRU_DIV, #UYWOZMRGSO_DIV {overflow:hidden;}
#UZYCBNGKAF, #LQAMKFKRGQ, #WYPHZRRMGV, #RGQHLJWUDB, #ZBLQZMCQSQ, #SCVXMYQYIE {box-sizing : border-box;}
