.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YFROOTFHWU {top:9px;position:absolute;left:80px;height:20px;width:42px;z-index:1; }
#TIYDKIFTFE_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TIYDKIFTFE_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='old'] #TIYDKIFTFE_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='yes'] #TIYDKIFTFE_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#NVPGGTHHZJ {top:36px;position:absolute;left:80px;height:20px;width:424px;z-index:1; }
#TDBTLASCCU_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TDBTLASCCU_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='old'] #TDBTLASCCU_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='yes'] #TDBTLASCCU_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#WPNPIZPKPB {top:9px;position:absolute;left:472px;height:20px;width:32px;text-align:right;z-index:1; }
#TRTQZEAWPK_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRTQZEAWPK_DIV {left:344px;height:16px;width:125px;}
BODY[ettl='old'] #TRTQZEAWPK_DIV {left:344px;height:16px;width:125px;}
BODY[ettl='yes'] #TRTQZEAWPK_DIV {right:calc(100% - 469px);}
#TIYDKIFTFE_DIV, #TDBTLASCCU_DIV, #TRTQZEAWPK_DIV {overflow:hidden;}
#YFROOTFHWU, #NVPGGTHHZJ, #WPNPIZPKPB {box-sizing : border-box;}
