.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#AQSQVBKXAL { height:238px;z-index:0;}
#AQSQVBKXAL_DIV { position:relative;z-index:0;width:100%;}
#EWPTTWSBMT { height:132px;z-index:0;}
#EWPTTWSBMT_DIV { position:relative;z-index:0;width:100%;}
#OQFTKYDCIW { height:208px;z-index:0;}
#OQFTKYDCIW_DIV { position:relative;z-index:0;width:100%;}
#UYWIEUHCAL_DIV {top:20px;position:absolute;left:128px;height:19px;width:392px;z-index:1; }
#UYWIEUHCAL { vertical-align:middle; }
#TWTTDWKCRG {top:48px;position:absolute;left:128px;height:20px;width:176px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WWGIVGNUDW {top:48px;position:absolute;left:352px;height:20px;width:168px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#CZTHKEDVCO_DIV {top:71px;position:absolute;left:128px;height:21px;width:575px;overflow:hidden;white-space:nowrap;z-index:1; }
#AWPNTOJIRR {top:97px;position:absolute;left:128px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#YVIKEGPYPM {top:125px;position:absolute;left:128px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:125px;left:159px;height:20px;width:17px;z-index:1;}
#ODAYKSRECA {top:153px;position:absolute;left:128px;height:20px;width:318px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:153px;left:447px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:153px;position:absolute;left:528px;height:20px;width:24px;z-index:1; }
#RDAVOEETJG {top:153px;position:absolute;left:600px;height:20px;width:66px;z-index:1; }
#BOTAJBWHHY {top:153px;position:absolute;left:704px;height:20px;width:56px;z-index:1; }
#VYLHWTRQNX {top:181px;position:absolute;left:128px;height:20px;width:222px;z-index:1; }
#IRLEJAUHCB {top:209px;position:absolute;left:128px;height:20px;width:656px;z-index:1; }
#IRLEJAUHCB { vertical-align:middle; }
#BYPEBFEOAJ {top:14px;position:absolute;left:128px;height:20px;width:252px;z-index:1; }
#BYPEBFEOAJ_ZOOM { position:absolute;top:14px;left:381px;height:20px;width:17px;z-index:1;}
#NEUBQNUEOJ {top:14px;position:absolute;left:407px;height:20px;width:257px;z-index:1; }
#KPSCOABZLB {top:14px;position:absolute;left:710px;height:20px;width:32px;z-index:1; }
#IOAMSFCCVV {top:42px;position:absolute;left:128px;height:20px;width:80px;z-index:1; }
#IOAMSFCCVV_ZOOM { position:absolute;top:42px;left:209px;height:20px;width:17px;z-index:1;}
#HODZKKOSYW {top:42px;position:absolute;left:236px;height:20px;width:233px;z-index:1; }
#QPALJZMFCL {top:42px;position:absolute;left:575px;height:20px;width:88px;z-index:1; }
#QPALJZMFCL { vertical-align:middle; }
#XMGRWGFSFV {top:70px;position:absolute;left:128px;height:20px;width:86px;text-align:right;z-index:1; }
#XMGRWGFSFV_ZOOM { position:absolute;top:70px;left:215px;height:20px;width:17px;z-index:1;}
#MBGANUUHRA {top:70px;position:absolute;left:336px;height:20px;width:246px;z-index:1; }
#MBGANUUHRA { vertical-align:middle; }
#HVEEMUJUUY {top:70px;position:absolute;left:704px;height:20px;width:102px;z-index:1; }
#XHWYGOPPUN {top:98px;position:absolute;left:128px;height:20px;width:86px;text-align:right;z-index:1; }
#XHWYGOPPUN_ZOOM { position:absolute;top:98px;left:215px;height:20px;width:17px;z-index:1;}
#BNWXBPSIDG {top:98px;position:absolute;left:336px;height:20px;width:86px;text-align:right;z-index:1; }
#BNWXBPSIDG_ZOOM { position:absolute;top:98px;left:423px;height:20px;width:17px;z-index:1;}
#HRNCPADUFU {top:98px;position:absolute;left:552px;height:20px;width:192px;z-index:1; }
#OJJHIUDPFY {top:12px;position:absolute;left:128px;height:20px;width:128px;z-index:1; }
#HCIJRBXGCX {top:12px;position:absolute;left:258px;height:20px;width:25px;color:#000000;font-family:ZucchettiDevelopement;font-size:20px;cursor:pointer;z-index:1;}
#FHXWUTBNKI {top:12px;position:absolute;left:408px;height:20px;width:104px;z-index:1; }
#JLTVZXPMKM {top:12px;position:absolute;left:824px;height:20px;width:176px;z-index:1; }
#LLYIGAMXRH {top:40px;position:absolute;left:128px;height:20px;width:880px;z-index:1; }
#RVNHQCXNEM {top:68px;position:absolute;left:128px;height:20px;width:30px;z-index:1; }
#SAQTIHOALW {top:96px;position:absolute;left:128px;height:20px;width:70px;z-index:1; }
#SAQTIHOALW_ZOOM { position:absolute;top:96px;left:199px;height:20px;width:17px;z-index:1;}
#ZGNLLSFQHC {top:124px;position:absolute;left:128px;height:20px;width:848px;z-index:1; }
#ZGNLLSFQHC { vertical-align:middle; }
#UQJBFPCIGV {top:124px;position:absolute;left:987px;color:#000000;font-family:ZucchettiDevelopement;font-size:20px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#YTPWDRMFUS {top:152px;position:absolute;left:128px;height:20px;width:128px;z-index:1; }
#XCYZDRXAMJ_DIV {top:152px;position:absolute;left:392px;height:21px;width:288px;overflow:hidden;white-space:nowrap;z-index:1; }
#RARXYHBSLM_DIV {top:152px;position:absolute;left:680px;height:21px;width:328px;overflow:hidden;white-space:nowrap;z-index:1; }
#FROMUIZATY {top:41px;position:absolute;left:1032px;height:20px;width:80px;text-align:right;z-index:1; }
#WVJSUIKYEY_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WVJSUIKYEY_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #WVJSUIKYEY_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #WVJSUIKYEY_DIV {right:calc(100% - 125px);}
#ZZDCRCKYFX_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZZDCRCKYFX_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #ZZDCRCKYFX_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #ZZDCRCKYFX_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#YXFGMWZGNN_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YXFGMWZGNN_DIV {left:600px;height:16px;width:101px;}
BODY[ettl='old'] #YXFGMWZGNN_DIV {left:600px;height:16px;width:101px;}
BODY[ettl='yes'] #YXFGMWZGNN_DIV {right:calc(100% - 701px);}
#HZYTDOZFPI_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HZYTDOZFPI_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #HZYTDOZFPI_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #HZYTDOZFPI_DIV {right:calc(100% - 125px);}
#WZDAFMDKJE_DIV {top:16px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WZDAFMDKJE_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #WZDAFMDKJE_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #WZDAFMDKJE_DIV {right:calc(100% - 125px);}
#QOLFDIWXXC_DIV {top:72px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QOLFDIWXXC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #QOLFDIWXXC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #QOLFDIWXXC_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#ZPQIEJPWJC_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZPQIEJPWJC_DIV {left:451px;height:16px;width:100px;}
BODY[ettl='old'] #ZPQIEJPWJC_DIV {left:451px;height:16px;width:100px;}
BODY[ettl='yes'] #ZPQIEJPWJC_DIV {right:calc(100% - 551px);}
#LHHLIWFNCK_DIV {top:128px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHHLIWFNCK_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #LHHLIWFNCK_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #LHHLIWFNCK_DIV {right:calc(100% - 125px);}
#SBJQIAQUCN_DIV {top:157px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:472px;height:16px;width:52px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:472px;height:16px;width:52px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 524px);}
#PFEQRACAUA_DIV {top:101px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 125px);}
#RZBLEGCFJJ_DIV {top:129px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 125px);}
#TWTXGZJTAR_DIV {top:185px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 125px);}
#GDOCAGKROT_DIV {top:157px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:568px;height:16px;width:30px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:568px;height:16px;width:30px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 598px);}
#EKULYOXTJM_DIV {top:156px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EKULYOXTJM_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #EKULYOXTJM_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #EKULYOXTJM_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:157px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:676px;height:16px;width:27px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:676px;height:16px;width:27px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 703px);}
#WRVDNZJCDE_DIV {top:16px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WRVDNZJCDE_DIV {left:349px;height:16px;width:58px;}
BODY[ettl='old'] #WRVDNZJCDE_DIV {left:349px;height:16px;width:58px;}
BODY[ettl='yes'] #WRVDNZJCDE_DIV {right:calc(100% - 407px);letter-spacing:-1px;}
#YRARWMJPPV_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YRARWMJPPV_DIV {left:232px;height:16px;width:103px;}
BODY[ettl='old'] #YRARWMJPPV_DIV {left:232px;height:16px;width:103px;}
BODY[ettl='yes'] #YRARWMJPPV_DIV {right:calc(100% - 335px);}
#MLJVDLOITR_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MLJVDLOITR_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #MLJVDLOITR_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #MLJVDLOITR_DIV {right:calc(100% - 125px);}
#KRSCDPQZTQ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KRSCDPQZTQ_DIV {left:531px;height:16px;width:39px;}
BODY[ettl='old'] #KRSCDPQZTQ_DIV {left:531px;height:16px;width:39px;}
BODY[ettl='yes'] #KRSCDPQZTQ_DIV {right:calc(100% - 570px);}
#XPSQTBKQQZ_DIV {top:157px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 125px);}
#IVAWYVSUQI_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IVAWYVSUQI_DIV {left:671px;height:16px;width:32px;}
BODY[ettl='old'] #IVAWYVSUQI_DIV {left:671px;height:16px;width:32px;}
BODY[ettl='yes'] #IVAWYVSUQI_DIV {right:calc(100% - 703px);letter-spacing:-1px;}
#ESVLUSNYWB_DIV {top:129px;position:absolute;left:181px;height:16px;width:323px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JCWRPFWYVW_DIV {top:72px;position:absolute;left:186px;height:16px;width:504px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#UYGHJPRVKH_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UYGHJPRVKH_DIV {left:232px;height:16px;width:101px;}
BODY[ettl='old'] #UYGHJPRVKH_DIV {left:232px;height:16px;width:101px;}
BODY[ettl='yes'] #UYGHJPRVKH_DIV {right:calc(100% - 333px);}
#ZBRDCBHLZC_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZBRDCBHLZC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #ZBRDCBHLZC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #ZBRDCBHLZC_DIV {right:calc(100% - 125px);}
#TVSLWOCERI_DIV {top:52px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #TVSLWOCERI_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #TVSLWOCERI_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #TVSLWOCERI_DIV {right:calc(100% - 125px);}
#KUPYKSUBXV_DIV {top:52px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #KUPYKSUBXV_DIV {left:316px;height:16px;width:35px;}
BODY[ettl='old'] #KUPYKSUBXV_DIV {left:316px;height:16px;width:35px;}
BODY[ettl='yes'] #KUPYKSUBXV_DIV {right:calc(100% - 351px);}
#LRKNJREBPN_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LRKNJREBPN_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #LRKNJREBPN_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #LRKNJREBPN_DIV {right:calc(100% - 125px);}
#CPWCFGHBVH_DIV {top:100px;position:absolute;left:224px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XYHCZSITMJ_DIV {top:213px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XYHCZSITMJ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #XYHCZSITMJ_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #XYHCZSITMJ_DIV {right:calc(100% - 125px);}
#LHMWHZJZVJ_DIV {top:16px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHMWHZJZVJ_DIV {left:614px;height:16px;width:206px;}
BODY[ettl='old'] #LHMWHZJZVJ_DIV {left:614px;height:16px;width:206px;}
BODY[ettl='yes'] #LHMWHZJZVJ_DIV {right:calc(100% - 820px);letter-spacing:-1px;}
#YZOYIYAUUO {top:180px;position:absolute;left:688px;height:20px;width:64px;text-align:right;z-index:1; }
#YZOYIYAUUO_ZOOM { position:absolute;top:180px;left:753px;height:20px;width:17px;z-index:1;}
#WWXBPXHXEU_DIV {top:184px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWXBPXHXEU_DIV {left:584px;height:16px;width:101px;}
BODY[ettl='old'] #WWXBPXHXEU_DIV {left:584px;height:16px;width:101px;}
BODY[ettl='yes'] #WWXBPXHXEU_DIV {right:calc(100% - 685px);letter-spacing:-1px;}
#REJDXHTDMV {top:180px;position:absolute;left:432px;height:20px;width:72px;text-align:right;z-index:1; }
#REJDXHTDMV_ZOOM { position:absolute;top:180px;left:505px;height:20px;width:17px;z-index:1;}
#LOQXTBECEG_DIV {top:184px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LOQXTBECEG_DIV {left:328px;height:16px;width:101px;}
BODY[ettl='old'] #LOQXTBECEG_DIV {left:328px;height:16px;width:101px;}
BODY[ettl='yes'] #LOQXTBECEG_DIV {right:calc(100% - 429px);}
#ODWJZUZDBK {top:180px;position:absolute;left:128px;height:20px;width:72px;text-align:right;z-index:1; }
#ODWJZUZDBK_ZOOM { position:absolute;top:180px;left:201px;height:20px;width:17px;z-index:1;}
#PWDSDLHUNX_DIV {top:184px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PWDSDLHUNX_DIV {left:-8px;height:16px;width:131px;}
BODY[ettl='old'] #PWDSDLHUNX_DIV {left:-8px;height:16px;width:131px;}
BODY[ettl='yes'] #PWDSDLHUNX_DIV {right:calc(100% - 123px);}
#PUKLGLJKBW { height:154px;z-index:0;}
#PUKLGLJKBW_DIV { position:relative;z-index:0;width:100%;}
#PKXIGUDYJJ_DIV {top:17px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKXIGUDYJJ_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='old'] #PKXIGUDYJJ_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='yes'] #PKXIGUDYJJ_DIV {right:calc(100% - 139px);}
#JJETXTUKNC {top:13px;position:absolute;left:144px;height:20px;width:656px;z-index:1; }
#JJETXTUKNC { vertical-align:middle; }
#MASICCONRV_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MASICCONRV_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='old'] #MASICCONRV_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='yes'] #MASICCONRV_DIV {right:calc(100% - 139px);}
#JFJPGOWVYJ {top:41px;position:absolute;left:144px;height:20px;width:656px;z-index:1; }
#JFJPGOWVYJ { vertical-align:middle; }
#HKQDVAPIOQ {top:70px;position:absolute;left:144px;height:20px;width:492px;z-index:1; }
#EMSGWJAYYK {top:98px;position:absolute;left:144px;height:20px;width:656px;z-index:1; }
#EMSGWJAYYK { vertical-align:middle; }
#ULEYNEIGRT_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ULEYNEIGRT_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='old'] #ULEYNEIGRT_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='yes'] #ULEYNEIGRT_DIV {right:calc(100% - 139px);}
#XOROAVXTCD {top:127px;position:absolute;left:144px;height:20px;width:84px;text-align:right;z-index:1; }
#ZBWPHEDKDN_DIV {top:131px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZBWPHEDKDN_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='old'] #ZBWPHEDKDN_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='yes'] #ZBWPHEDKDN_DIV {right:calc(100% - 139px);}
#EELMPIGUVH_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EELMPIGUVH_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='old'] #EELMPIGUVH_DIV {left:8px;height:16px;width:131px;}
BODY[ettl='yes'] #EELMPIGUVH_DIV {right:calc(100% - 139px);}
#XERWNYQDBZ_DIV {top:126px;position:absolute;left:576px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#EVYVDDYVDZ {top:209px;position:absolute;left:912px;height:20px;width:72px;text-align:right;z-index:1; }
#EVYVDDYVDZ_ZOOM { position:absolute;top:209px;left:985px;height:20px;width:17px;z-index:1;}
#FPRDXPXSKH_DIV {top:213px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FPRDXPXSKH_DIV {left:744px;height:16px;width:168px;}
BODY[ettl='old'] #FPRDXPXSKH_DIV {left:744px;height:16px;width:168px;}
BODY[ettl='yes'] #FPRDXPXSKH_DIV {right:calc(100% - 912px);}
#BOHBZOSBVJ {top:12px;position:absolute;left:1032px;height:20px;width:80px;z-index:1; }
#KMRTAJNGKT {top:19px;position:absolute;left:920px;height:20px;width:80px;text-align:right;z-index:1; }
#UCXGHMUVCO_DIV {top:23px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UCXGHMUVCO_DIV {left:845px;height:16px;width:75px;}
BODY[ettl='old'] #UCXGHMUVCO_DIV {left:845px;height:16px;width:75px;}
BODY[ettl='yes'] #UCXGHMUVCO_DIV {right:calc(100% - 920px);letter-spacing:-1px;}
#BKKASVQSWO { position:relative;height:250px;width:329px;left:304px;z-index:1;}
#OIREAEXNKZ { position:relative;height:477px;width:1045px;left:16px;z-index:1;}
#AYKUXGKLPO {z-index:0;}
#AYKUXGKLPO_DIV { position:relative;z-index:0;width:100%;}
#ZETZWJBOFM {z-index:0;}
#ZETZWJBOFM_DIV { position:relative;z-index:0;width:100%;}
#DQZNJUSTLN {top:6px;position:absolute;left:232px;height:20px;width:78px;z-index:1; }
#DQZNJUSTLN_ZOOM { position:absolute;top:6px;left:311px;height:20px;width:17px;z-index:1;}
#VRPSNLYZFA_DIV {top:10px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VRPSNLYZFA_DIV {left:74px;height:16px;width:151px;}
BODY[ettl='old'] #VRPSNLYZFA_DIV {left:74px;height:16px;width:151px;}
BODY[ettl='yes'] #VRPSNLYZFA_DIV {right:calc(100% - 225px);letter-spacing:-1px;}
#XHVCRZXJZF_DIV {top:10px;position:absolute;left:331px;height:16px;width:568px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ESODTMPIYO {top:34px;position:absolute;left:232px;height:20px;width:80px;text-align:right;z-index:1; }
#ESODTMPIYO_ZOOM { position:absolute;top:34px;left:313px;height:20px;width:17px;z-index:1;}
#KGAUNPQRUF_DIV {top:38px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KGAUNPQRUF_DIV {left:24px;height:16px;width:208px;}
BODY[ettl='old'] #KGAUNPQRUF_DIV {left:24px;height:16px;width:208px;}
BODY[ettl='yes'] #KGAUNPQRUF_DIV {right:calc(100% - 232px);}
#UNPDFRUOXO {top:34px;position:absolute;left:568px;height:20px;width:80px;text-align:right;z-index:1; }
#UNPDFRUOXO_ZOOM { position:absolute;top:34px;left:649px;height:20px;width:17px;z-index:1;}
#WXAVWIXQLR_DIV {top:38px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WXAVWIXQLR_DIV {left:392px;height:16px;width:176px;}
BODY[ettl='old'] #WXAVWIXQLR_DIV {left:392px;height:16px;width:176px;}
BODY[ettl='yes'] #WXAVWIXQLR_DIV {right:calc(100% - 568px);}
#XDDGTPJDHN { height:212px;z-index:0;}
#XDDGTPJDHN_DIV { position:relative;z-index:0;width:100%;}
#RYYOFFRITV {top:14px;position:absolute;left:96px;height:182px;width:717px;z-index:1;}
#LIYWMHOGYX_DIV {top:66px;position:absolute;left:369px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#CKHRNQSKKQ {top:62px;position:absolute;left:232px;height:20px;width:108px;z-index:1; }
#CKHRNQSKKQ_ZOOM { position:absolute;top:62px;left:341px;height:20px;width:17px;z-index:1;}
#ZAFNQMBDHV_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZAFNQMBDHV_DIV {left:72px;height:16px;width:155px;}
BODY[ettl='old'] #ZAFNQMBDHV_DIV {left:72px;height:16px;width:155px;}
BODY[ettl='yes'] #ZAFNQMBDHV_DIV {right:calc(100% - 227px);}
#WXIRJORZUM {z-index:0;}
#WXIRJORZUM_DIV { position:relative;z-index:0;width:100%;}
#TPNIPPCTXD { position:relative;margin-left:16px;z-index:1;overflow:auto;}
#FIXFSIUKKN {z-index:0;}
#FIXFSIUKKN_DIV { position:relative;z-index:0;width:100%;}
#RKHMYOIJDM {top:9px;position:absolute;left:288px;height:20px;width:40px;z-index:1; }
#RKHMYOIJDM_ZOOM { position:absolute;top:9px;left:329px;height:20px;width:17px;z-index:1;}
#KSZOWVNAMH_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KSZOWVNAMH_DIV {left:8px;height:16px;width:272px;}
BODY[ettl='old'] #KSZOWVNAMH_DIV {left:8px;height:16px;width:272px;}
BODY[ettl='yes'] #KSZOWVNAMH_DIV {right:calc(100% - 280px);}
#YJYXHNVCSS_DIV {top:13px;position:absolute;left:353px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HBSPPQBOJN {top:41px;position:absolute;left:288px;height:20px;width:108px;z-index:1; }
#FAHIRFAJYI_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FAHIRFAJYI_DIV {left:8px;height:16px;width:272px;}
BODY[ettl='old'] #FAHIRFAJYI_DIV {left:8px;height:16px;width:272px;}
BODY[ettl='yes'] #FAHIRFAJYI_DIV {right:calc(100% - 280px);letter-spacing:-1px;}
#EOYNWRHHMY_DIV {top:41px;position:absolute;left:424px;height:21px;width:352px;overflow:hidden;white-space:nowrap;z-index:1; }
#FBAHOFZNEF { position:relative;height:336px;width:781px;left:132px;z-index:1;}
#CJBEXKJOQO {top:10px;position:absolute;left:120px;height:20px;width:40px;z-index:1; }
#CJBEXKJOQO_ZOOM { position:absolute;top:10px;left:161px;height:20px;width:17px;z-index:1;}
#UNRQNVVFTK {top:34px;position:absolute;left:120px;height:20px;width:40px;z-index:1; }
#UNRQNVVFTK_ZOOM { position:absolute;top:34px;left:161px;height:20px;width:17px;z-index:1;}
#OSLBLDODHQ {top:58px;position:absolute;left:120px;height:20px;width:40px;z-index:1; }
#OSLBLDODHQ_ZOOM { position:absolute;top:58px;left:161px;height:20px;width:17px;z-index:1;}
#ZZTJUXJOVM_DIV {top:14px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZZTJUXJOVM_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #ZZTJUXJOVM_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #ZZTJUXJOVM_DIV {right:calc(100% - 116px);}
#QNTJNWIUJE_DIV {top:14px;position:absolute;left:184px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PHQZJMYLYP_DIV {top:38px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PHQZJMYLYP_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #PHQZJMYLYP_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #PHQZJMYLYP_DIV {right:calc(100% - 116px);}
#SBEGVLBNXL_DIV {top:38px;position:absolute;left:184px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#LENIFRRGPH_DIV {top:62px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LENIFRRGPH_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #LENIFRRGPH_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #LENIFRRGPH_DIV {right:calc(100% - 116px);}
#FLUVMIEXGY_DIV {top:62px;position:absolute;left:184px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WEJOYIAYYL { height:91px;z-index:0;}
#WEJOYIAYYL_DIV { position:relative;z-index:0;width:100%;}
#WJVOGIFRCK { height:322px;z-index:0;}
#WJVOGIFRCK_DIV { position:relative;z-index:0;width:100%;}
#XTDFJTMZAQ { height:51px;z-index:0;}
#XTDFJTMZAQ_DIV { position:relative;z-index:0;width:100%;}
#TKKVDEVHBF { height:224px;z-index:0;}
#TKKVDEVHBF_DIV { position:relative;z-index:0;width:100%;}
#STJESIOURE { height:220px;z-index:0;}
#STJESIOURE_DIV { position:relative;z-index:0;width:100%;}
#NXVXQSLAGM {top:28px;position:absolute;left:120px;height:20px;width:72px;z-index:1; }
#NXVXQSLAGM_ZOOM { position:absolute;top:28px;left:193px;height:20px;width:17px;z-index:1;}
#JHEJMIHGSH {top:31px;position:absolute;left:1032px;height:20px;width:72px;z-index:1; }
#PGYFWWGOTN {top:28px;position:absolute;left:907px;height:20px;width:40px;text-align:right;z-index:1; }
#VHXDWWHVXF {top:52px;position:absolute;left:120px;height:20px;width:72px;z-index:1; }
#VHXDWWHVXF_ZOOM { position:absolute;top:52px;left:193px;height:20px;width:17px;z-index:1;}
#DRJTSDRPVN {top:55px;position:absolute;left:1032px;height:20px;width:72px;z-index:1; }
#AAQYBAEHUR {top:52px;position:absolute;left:907px;height:20px;width:40px;text-align:right;z-index:1; }
#UQYOQYIUNM {top:76px;position:absolute;left:120px;height:20px;width:72px;z-index:1; }
#UQYOQYIUNM_ZOOM { position:absolute;top:76px;left:193px;height:20px;width:17px;z-index:1;}
#QFJRACGINU {top:79px;position:absolute;left:1032px;height:20px;width:72px;z-index:1; }
#BOECHNDAXS {top:76px;position:absolute;left:907px;height:20px;width:40px;text-align:right;z-index:1; }
#HLXRSSMBIW {top:100px;position:absolute;left:120px;height:20px;width:72px;z-index:1; }
#HLXRSSMBIW_ZOOM { position:absolute;top:100px;left:193px;height:20px;width:17px;z-index:1;}
#KYTSUTYBUR {top:103px;position:absolute;left:1032px;height:20px;width:72px;z-index:1; }
#ISJKSRTDAC {top:100px;position:absolute;left:907px;height:20px;width:40px;text-align:right;z-index:1; }
#YEWQBTSTTE_DIV {top:32px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YEWQBTSTTE_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #YEWQBTSTTE_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #YEWQBTSTTE_DIV {right:calc(100% - 116px);}
#JMXSJAUKOO_DIV {top:56px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JMXSJAUKOO_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #JMXSJAUKOO_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #JMXSJAUKOO_DIV {right:calc(100% - 116px);}
#HQMBYZTNNT_DIV {top:80px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HQMBYZTNNT_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #HQMBYZTNNT_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #HQMBYZTNNT_DIV {right:calc(100% - 116px);}
#UEHIJUXEBZ_DIV {top:104px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UEHIJUXEBZ_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #UEHIJUXEBZ_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #UEHIJUXEBZ_DIV {right:calc(100% - 116px);}
#OGZVCUPUAY_DIV {top:32px;position:absolute;left:216px;height:16px;width:680px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#VTPWYANRQH_DIV {top:56px;position:absolute;left:216px;height:16px;width:680px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#SCYSGLNMDS_DIV {top:80px;position:absolute;left:216px;height:16px;width:680px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GVJJFQWUGU_DIV {top:104px;position:absolute;left:216px;height:16px;width:680px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RSHHWFKCKZ_DIV {top:7px;position:absolute;left:8px;height:16px;width:416px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BUKQJFVQDD_DIV {top:7px;position:absolute;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BUKQJFVQDD_DIV {left:827px;height:16px;width:120px;}
BODY[ettl='old'] #BUKQJFVQDD_DIV {left:827px;height:16px;width:120px;}
BODY[ettl='yes'] #BUKQJFVQDD_DIV {right:calc(100% - 947px);}
#CWIQJZFJRS {top:124px;position:absolute;left:120px;height:20px;width:612px;z-index:1; }
#CUGDSJZWEC_DIV {top:128px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CUGDSJZWEC_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #CUGDSJZWEC_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #CUGDSJZWEC_DIV {right:calc(100% - 116px);}
#SMVVFHCEHA {top:266px;position:absolute;left:120px;height:20px;width:408px;z-index:1; }
#SMVVFHCEHA { vertical-align:middle; }
#MXITFMGTNB {top:266px;position:absolute;left:622px;height:20px;width:80px;text-align:right;z-index:1; }
#MXITFMGTNB_ZOOM { position:absolute;top:266px;left:703px;height:20px;width:17px;z-index:1;}
#QLLLNEUVYW {top:266px;position:absolute;left:867px;height:20px;width:80px;text-align:right;z-index:1; }
#XFKXBQYUIU_DIV {top:290px;position:absolute;left:120px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#BCZWUTGYEU {top:290px;position:absolute;left:341px;height:21px;width:83px;z-index:1;}
#BCZWUTGYEU_txt {cursor:pointer;display:inline;}
#BCZWUTGYEU_img {cursor:pointer;display:inline;vertical-align:middle;color:#000000;font-family:icons8_win10;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#BCZWUTGYEU_img::after {content:' ';}
#RHCYCLTWOT_DIV {top:290px;position:absolute;left:432px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#ESBPIXCOCR {top:290px;position:absolute;left:653px;height:21px;width:83px;z-index:1;}
#ESBPIXCOCR_txt {cursor:pointer;display:inline;}
#ESBPIXCOCR_img {cursor:pointer;display:inline;vertical-align:middle;color:#000000;font-family:icons8_win10;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#ESBPIXCOCR_img::after {content:' ';}
#DOXBACRWUU {top:5px;position:absolute;left:160px;height:20px;width:40px;text-align:right;z-index:1; }
#OXGBDTWKSX {top:27px;position:absolute;left:160px;height:20px;width:612px;z-index:1; }
#FFIYUAKUTX {top:6px;position:absolute;left:144px;height:210px;width:706px;z-index:1;}
#COWMRLCMMU {top:5px;position:absolute;left:128px;height:210px;width:726px;z-index:1;}
#VCBMHLXJMD_DIV {top:9px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:30px;height:16px;width:128px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:30px;height:16px;width:128px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 158px);}
#NKPWKMDXUR_DIV {top:9px;position:absolute;left:203px;height:16px;width:22px;text-align:left;z-index:1;}
#PKJNNGBWFM_DIV {top:31px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:10px;height:16px;width:148px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:10px;height:16px;width:148px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 158px);letter-spacing:-1px;}
#JKZZQYXAFS_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKZZQYXAFS_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='old'] #JKZZQYXAFS_DIV {left:8px;height:16px;width:108px;}
BODY[ettl='yes'] #JKZZQYXAFS_DIV {right:calc(100% - 116px);}
#TTZXYWANKG_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TTZXYWANKG_DIV {left:532px;height:16px;width:86px;}
BODY[ettl='old'] #TTZXYWANKG_DIV {left:532px;height:16px;width:86px;}
BODY[ettl='yes'] #TTZXYWANKG_DIV {right:calc(100% - 618px);letter-spacing:-1px;}
#ROVJICRYAM_DIV {top:270px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ROVJICRYAM_DIV {left:728px;height:16px;width:135px;}
BODY[ettl='old'] #ROVJICRYAM_DIV {left:728px;height:16px;width:135px;}
BODY[ettl='yes'] #ROVJICRYAM_DIV {right:calc(100% - 863px);letter-spacing:-1px;}
#OXWRJNTXVJ {top:126px;position:absolute;left:867px;height:20px;width:141px;z-index:1; }
#OXWRJNTXVJ { vertical-align:middle; }
#CPCPDBCTVR_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CPCPDBCTVR_DIV {left:735px;height:16px;width:128px;}
BODY[ettl='old'] #CPCPDBCTVR_DIV {left:735px;height:16px;width:128px;}
BODY[ettl='yes'] #CPCPDBCTVR_DIV {right:calc(100% - 863px);letter-spacing:-1px;}
#FTYWOEFIPD {top:154px;position:absolute;left:120px;height:105px;width:888px;overflow:auto;z-index:1; }
#JVQICCQATG_DIV {top:154px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JVQICCQATG_DIV {left:51px;height:16px;width:69px;}
BODY[ettl='old'] #JVQICCQATG_DIV {left:51px;height:16px;width:69px;}
BODY[ettl='yes'] #JVQICCQATG_DIV {right:calc(100% - 120px);letter-spacing:-1px;}
BODY[ettl='yes'] #CZTHKEDVCO_DIV, BODY[ettl='yes'] #XCYZDRXAMJ_DIV, BODY[ettl='yes'] #RARXYHBSLM_DIV, BODY[ettl='yes'] #EOYNWRHHMY_DIV, BODY[ettl='yes'] #XFKXBQYUIU_DIV {letter-spacing:-1px;}
#AQSQVBKXAL, #EWPTTWSBMT, #OQFTKYDCIW, #WVJSUIKYEY_DIV, #ZZDCRCKYFX_DIV, #YXFGMWZGNN_DIV, #HZYTDOZFPI_DIV, #WZDAFMDKJE_DIV, #QOLFDIWXXC_DIV, #ZPQIEJPWJC_DIV, #LHHLIWFNCK_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #EKULYOXTJM_DIV, #WHMXTGXWGC_DIV, #WRVDNZJCDE_DIV, #YRARWMJPPV_DIV, #MLJVDLOITR_DIV, #KRSCDPQZTQ_DIV, #XPSQTBKQQZ_DIV, #IVAWYVSUQI_DIV, #ESVLUSNYWB_DIV, #JCWRPFWYVW_DIV, #UYGHJPRVKH_DIV, #ZBRDCBHLZC_DIV, #TVSLWOCERI_DIV, #KUPYKSUBXV_DIV, #LRKNJREBPN_DIV, #CPWCFGHBVH_DIV, #XYHCZSITMJ_DIV, #LHMWHZJZVJ_DIV, #WWXBPXHXEU_DIV, #LOQXTBECEG_DIV, #PWDSDLHUNX_DIV, #PUKLGLJKBW, #PKXIGUDYJJ_DIV, #MASICCONRV_DIV, #ULEYNEIGRT_DIV, #ZBWPHEDKDN_DIV, #EELMPIGUVH_DIV, #FPRDXPXSKH_DIV, #UCXGHMUVCO_DIV, #AYKUXGKLPO, #ZETZWJBOFM, #VRPSNLYZFA_DIV, #XHVCRZXJZF_DIV, #KGAUNPQRUF_DIV, #WXAVWIXQLR_DIV, #XDDGTPJDHN, #LIYWMHOGYX_DIV, #ZAFNQMBDHV_DIV, #WXIRJORZUM, #FIXFSIUKKN, #KSZOWVNAMH_DIV, #YJYXHNVCSS_DIV, #FAHIRFAJYI_DIV, #ZZTJUXJOVM_DIV, #QNTJNWIUJE_DIV, #PHQZJMYLYP_DIV, #SBEGVLBNXL_DIV, #LENIFRRGPH_DIV, #FLUVMIEXGY_DIV, #WEJOYIAYYL, #WJVOGIFRCK, #XTDFJTMZAQ, #TKKVDEVHBF, #STJESIOURE, #YEWQBTSTTE_DIV, #JMXSJAUKOO_DIV, #HQMBYZTNNT_DIV, #UEHIJUXEBZ_DIV, #OGZVCUPUAY_DIV, #VTPWYANRQH_DIV, #SCYSGLNMDS_DIV, #GVJJFQWUGU_DIV, #RSHHWFKCKZ_DIV, #BUKQJFVQDD_DIV, #CUGDSJZWEC_DIV, #VCBMHLXJMD_DIV, #NKPWKMDXUR_DIV, #PKJNNGBWFM_DIV, #JKZZQYXAFS_DIV, #TTZXYWANKG_DIV, #ROVJICRYAM_DIV, #CPCPDBCTVR_DIV, #JVQICCQATG_DIV {overflow:hidden;}
#AQSQVBKXAL, #EWPTTWSBMT, #OQFTKYDCIW, #UYWIEUHCAL_DIV, #TWTTDWKCRG, #WWGIVGNUDW, #CZTHKEDVCO_DIV, #AWPNTOJIRR, #YVIKEGPYPM, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #IRLEJAUHCB, #BYPEBFEOAJ, #NEUBQNUEOJ, #KPSCOABZLB, #IOAMSFCCVV, #HODZKKOSYW, #QPALJZMFCL, #XMGRWGFSFV, #MBGANUUHRA, #HVEEMUJUUY, #XHWYGOPPUN, #BNWXBPSIDG, #HRNCPADUFU, #OJJHIUDPFY, #FHXWUTBNKI, #JLTVZXPMKM, #LLYIGAMXRH, #RVNHQCXNEM, #SAQTIHOALW, #ZGNLLSFQHC, #YTPWDRMFUS, #XCYZDRXAMJ_DIV, #RARXYHBSLM_DIV, #FROMUIZATY, #YZOYIYAUUO, #REJDXHTDMV, #ODWJZUZDBK, #PUKLGLJKBW, #JJETXTUKNC, #JFJPGOWVYJ, #HKQDVAPIOQ, #EMSGWJAYYK, #XOROAVXTCD, #XERWNYQDBZ_DIV, #EVYVDDYVDZ, #BOHBZOSBVJ, #KMRTAJNGKT, #AYKUXGKLPO, #ZETZWJBOFM, #DQZNJUSTLN, #ESODTMPIYO, #UNPDFRUOXO, #XDDGTPJDHN, #CKHRNQSKKQ, #WXIRJORZUM, #FIXFSIUKKN, #RKHMYOIJDM, #HBSPPQBOJN, #EOYNWRHHMY_DIV, #CJBEXKJOQO, #UNRQNVVFTK, #OSLBLDODHQ, #WEJOYIAYYL, #WJVOGIFRCK, #XTDFJTMZAQ, #TKKVDEVHBF, #STJESIOURE, #NXVXQSLAGM, #JHEJMIHGSH, #PGYFWWGOTN, #VHXDWWHVXF, #DRJTSDRPVN, #AAQYBAEHUR, #UQYOQYIUNM, #QFJRACGINU, #BOECHNDAXS, #HLXRSSMBIW, #KYTSUTYBUR, #ISJKSRTDAC, #CWIQJZFJRS, #SMVVFHCEHA, #MXITFMGTNB, #QLLLNEUVYW, #XFKXBQYUIU_DIV, #RHCYCLTWOT_DIV, #DOXBACRWUU, #OXGBDTWKSX, #OXWRJNTXVJ, #FTYWOEFIPD {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
