.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:200px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:200px;z-index:0;width:704px;top:9px;left:8px;}
#ANDQNEUQUI {top:18px;position:absolute;left:112px;height:20px;width:78px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WXKLPEPPUN {top:16px;position:absolute;left:656px;height:20px;width:48px;z-index:1; }
#SIYQQKBTIK {top:45px;position:absolute;left:112px;height:20px;width:432px;z-index:1; }
#HZZPORVTBI {top:72px;position:absolute;left:112px;height:20px;width:276px;z-index:1; }
#HZZPORVTBI { vertical-align:middle; }
#LVOWHGDALM {top:99px;position:absolute;left:112px;height:20px;width:46px;z-index:1; }
#LVOWHGDALM_ZOOM { position:absolute;top:99px;left:159px;height:20px;width:17px;z-index:1;}
#XOKLSKJFHK {top:126px;position:absolute;left:112px;height:20px;width:216px;z-index:1; }
#XOKLSKJFHK_ZOOM { position:absolute;top:126px;left:329px;height:20px;width:17px;z-index:1;}
#OIVKASXTIR {top:153px;position:absolute;left:112px;height:20px;width:320px;z-index:1; }
#AXFWAKGSHQ {top:180px;position:absolute;left:112px;height:20px;width:108px;z-index:1; }
#ECPMSJUNTQ_DIV {top:22px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ECPMSJUNTQ_DIV {left:64px;height:16px;width:45px;}
BODY[ettl='old'] #ECPMSJUNTQ_DIV {left:64px;height:16px;width:45px;}
BODY[ettl='yes'] #ECPMSJUNTQ_DIV {right:calc(100% - 109px);}
#MWTXZQPAPZ_DIV {top:49px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MWTXZQPAPZ_DIV {left:15px;height:16px;width:94px;}
BODY[ettl='old'] #MWTXZQPAPZ_DIV {left:15px;height:16px;width:94px;}
BODY[ettl='yes'] #MWTXZQPAPZ_DIV {right:calc(100% - 109px);}
#VOEEALQGUW {top:126px;position:absolute;left:592px;height:20px;width:48px;z-index:1; }
#WWYHQLCAGG_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWYHQLCAGG_DIV {left:565px;height:16px;width:26px;}
BODY[ettl='old'] #WWYHQLCAGG_DIV {left:565px;height:16px;width:26px;}
BODY[ettl='yes'] #WWYHQLCAGG_DIV {right:calc(100% - 591px);}
#FMEOZGJGSS_DIV {top:157px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FMEOZGJGSS_DIV {left:62px;height:16px;width:47px;}
BODY[ettl='old'] #FMEOZGJGSS_DIV {left:62px;height:16px;width:47px;}
BODY[ettl='yes'] #FMEOZGJGSS_DIV {right:calc(100% - 109px);letter-spacing:-1px;}
#JKOVVRJEML_DIV {top:184px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKOVVRJEML_DIV {left:24px;height:16px;width:85px;}
BODY[ettl='old'] #JKOVVRJEML_DIV {left:24px;height:16px;width:85px;}
BODY[ettl='yes'] #JKOVVRJEML_DIV {right:calc(100% - 109px);}
#YISYHKQCXD {top:126px;position:absolute;left:408px;height:20px;width:24px;z-index:1; }
#IBCXYPHYZP_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IBCXYPHYZP_DIV {left:352px;height:16px;width:53px;}
BODY[ettl='old'] #IBCXYPHYZP_DIV {left:352px;height:16px;width:53px;}
BODY[ettl='yes'] #IBCXYPHYZP_DIV {right:calc(100% - 405px);}
#WAKXLIJMNM_DIV {top:103px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WAKXLIJMNM_DIV {left:19px;height:16px;width:90px;}
BODY[ettl='old'] #WAKXLIJMNM_DIV {left:19px;height:16px;width:90px;}
BODY[ettl='yes'] #WAKXLIJMNM_DIV {right:calc(100% - 109px);letter-spacing:-1px;}
#PWIUWUQDIG {top:126px;position:absolute;left:480px;height:20px;width:66px;z-index:1; }
#YNWDCIJLLS_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YNWDCIJLLS_DIV {left:453px;height:16px;width:26px;}
BODY[ettl='old'] #YNWDCIJLLS_DIV {left:453px;height:16px;width:26px;}
BODY[ettl='yes'] #YNWDCIJLLS_DIV {right:calc(100% - 479px);}
#YUDFBDSXPJ_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YUDFBDSXPJ_DIV {left:16px;height:16px;width:93px;}
BODY[ettl='old'] #YUDFBDSXPJ_DIV {left:16px;height:16px;width:93px;}
BODY[ettl='yes'] #YUDFBDSXPJ_DIV {right:calc(100% - 109px);letter-spacing:-1px;}
#DBTKRCAIXF_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DBTKRCAIXF_DIV {left:536px;height:16px;width:111px;}
BODY[ettl='old'] #DBTKRCAIXF_DIV {left:536px;height:16px;width:111px;}
BODY[ettl='yes'] #DBTKRCAIXF_DIV {right:calc(100% - 647px);}
#CANNGIJPXY {top:180px;position:absolute;left:608px;height:20px;width:96px;z-index:1; }
#IBIAJNESYR_DIV {top:184px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IBIAJNESYR_DIV {left:544px;height:16px;width:58px;}
BODY[ettl='old'] #IBIAJNESYR_DIV {left:544px;height:16px;width:58px;}
BODY[ettl='yes'] #IBIAJNESYR_DIV {right:calc(100% - 602px);letter-spacing:-1px;}
#SRXCHXRLSY_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SRXCHXRLSY_DIV {left:39px;height:16px;width:70px;}
BODY[ettl='old'] #SRXCHXRLSY_DIV {left:39px;height:16px;width:70px;}
BODY[ettl='yes'] #SRXCHXRLSY_DIV {right:calc(100% - 109px);}
#MBBSFJYMNY_DIV {top:103px;position:absolute;left:184px;height:16px;width:392px;color:#0000FF;text-align:left;z-index:1;}
#AMLUJUDCGV_DIV {top:175px;position:absolute;left:227px;height:29px;width:263px;color:#0000FF;text-align:left;z-index:1;}
#XIXPRDJFBB_DIV {top:11px;position:absolute;left:200px;height:29px;width:221px;color:#0000FF;text-align:left;z-index:1;}
#YORQOIOBQN, #ECPMSJUNTQ_DIV, #MWTXZQPAPZ_DIV, #WWYHQLCAGG_DIV, #FMEOZGJGSS_DIV, #JKOVVRJEML_DIV, #IBCXYPHYZP_DIV, #WAKXLIJMNM_DIV, #YNWDCIJLLS_DIV, #YUDFBDSXPJ_DIV, #DBTKRCAIXF_DIV, #IBIAJNESYR_DIV, #SRXCHXRLSY_DIV, #MBBSFJYMNY_DIV, #AMLUJUDCGV_DIV, #XIXPRDJFBB_DIV {overflow:hidden;}
#YORQOIOBQN, #ANDQNEUQUI, #WXKLPEPPUN, #SIYQQKBTIK, #HZZPORVTBI, #LVOWHGDALM, #XOKLSKJFHK, #OIVKASXTIR, #AXFWAKGSHQ, #VOEEALQGUW, #YISYHKQCXD, #PWIUWUQDIG, #CANNGIJPXY {box-sizing : border-box;}
