.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:392px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:392px;z-index:0;width:768px;top:7px;left:8px;}
#LXORWVRYJJ {top:14px;position:absolute;left:136px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#JHOQNVHZXH {top:42px;position:absolute;left:600px;height:20px;width:168px;z-index:1; }
#JHOQNVHZXH { vertical-align:middle; }
#BHAVHLFPAC {top:42px;position:absolute;left:136px;height:20px;width:368px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#DZWSXMBIHR {top:70px;position:absolute;left:136px;height:20px;width:118px;z-index:1; }
#DZWSXMBIHR_ZOOM { position:absolute;top:70px;left:255px;height:20px;width:17px;z-index:1;}
#HUMSCLHVTQ {top:154px;position:absolute;left:104px;height:20px;width:64px;text-align:right;z-index:1; }
#OYBCLSBWWU_DIV {top:181px;position:absolute;left:24px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#EDCVGCRZZZ {top:182px;position:absolute;left:144px;height:20px;width:104px;z-index:1; }
#TOFVCFNDFU_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TOFVCFNDFU_DIV {left:53px;height:16px;width:82px;}
BODY[ettl='old'] #TOFVCFNDFU_DIV {left:53px;height:16px;width:82px;}
BODY[ettl='yes'] #TOFVCFNDFU_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#JINDLZUJGB {top:210px;position:absolute;left:144px;height:20px;width:162px;z-index:1; }
#LLONFBQGWC_DIV {top:181px;position:absolute;left:408px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#YFRSEVUKNF {top:210px;position:absolute;left:528px;height:20px;width:162px;z-index:1; }
#HBCZFDMLIW {top:182px;position:absolute;left:528px;height:20px;width:102px;z-index:1; }
#OICGZUOZYP_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 132px);}
#CTCKWHZVTZ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:16px;height:16px;width:116px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 132px);letter-spacing:-1px;}
#GDTYXHVEHO_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDTYXHVEHO_DIV {left:512px;height:16px;width:85px;}
BODY[ettl='old'] #GDTYXHVEHO_DIV {left:512px;height:16px;width:85px;}
BODY[ettl='yes'] #GDTYXHVEHO_DIV {right:calc(100% - 597px);letter-spacing:-1px;}
#SVRLUYRVRK_DIV {top:74px;position:absolute;left:280px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#RGYIJRGRVR { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#RGYIJRGRVR_DIV { position:absolute;height:28px;z-index:0;width:368px;top:105px;left:16px;}
#SWHJSXDMQR { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#SWHJSXDMQR_DIV { position:absolute;height:28px;z-index:0;width:368px;top:105px;left:400px;}
#XLPPGWOBPA_DIV {top:112px;position:absolute;left:24px;height:16px;width:352px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#INHVWDNVJQ_DIV {top:112px;position:absolute;left:408px;height:16px;width:352px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EEPWGWPHCL_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EEPWGWPHCL_DIV {left:22px;height:16px;width:80px;}
BODY[ettl='old'] #EEPWGWPHCL_DIV {left:22px;height:16px;width:80px;}
BODY[ettl='yes'] #EEPWGWPHCL_DIV {right:calc(100% - 102px);letter-spacing:-1px;}
#EYLNNWDCKZ {top:154px;position:absolute;left:488px;height:20px;width:64px;text-align:right;z-index:1; }
#SXESAQVPYH_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SXESAQVPYH_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='old'] #SXESAQVPYH_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='yes'] #SXESAQVPYH_DIV {right:calc(100% - 486px);letter-spacing:-1px;}
#PYCUXKNKCJ_DIV {top:214px;position:absolute;left:80px;text-align:left;z-index:1;}
BODY:not([ettl]) #PYCUXKNKCJ_DIV {height:16px;width:56px;}
BODY[ettl='old'] #PYCUXKNKCJ_DIV {height:16px;width:56px;}
#MVLNTEGKBL_DIV {top:214px;position:absolute;left:464px;text-align:left;z-index:1;}
BODY:not([ettl]) #MVLNTEGKBL_DIV {height:16px;width:56px;}
BODY[ettl='old'] #MVLNTEGKBL_DIV {height:16px;width:56px;}
#RZXJJIHWRO {top:343px;position:absolute;left:16px;height:25px;width:208px;z-index:1;}
#LBDAXRYAIV {top:343px;position:absolute;left:288px;height:25px;width:231px;z-index:1;}
#HDQLRPYTAN { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#HDQLRPYTAN_DIV { position:absolute;height:91px;z-index:0;width:368px;top:147px;left:16px;}
#HDQLRPYTAN_HEADER_CAPTION {left:5px;top:-9px;}
#ZUHLCKITMM { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#ZUHLCKITMM_DIV { position:absolute;height:91px;z-index:0;width:368px;top:147px;left:400px;}
#ZUHLCKITMM_HEADER_CAPTION {left:5px;top:-9px;}
#ZDQIQPDLMA {top:14px;position:absolute;left:696px;height:20px;width:72px;z-index:1; }
#YBLTSMLFUZ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YBLTSMLFUZ_DIV {left:581px;height:16px;width:112px;}
BODY[ettl='old'] #YBLTSMLFUZ_DIV {left:581px;height:16px;width:112px;}
BODY[ettl='yes'] #YBLTSMLFUZ_DIV {right:calc(100% - 693px);}
#GVMNAQQJWY {top:253px;position:absolute;left:104px;height:20px;width:64px;text-align:right;z-index:1; }
#JDNKWMLZTI_DIV {top:280px;position:absolute;left:24px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#JWUIHKTDYH {top:281px;position:absolute;left:144px;height:20px;width:104px;z-index:1; }
#JCJVALRBTS {top:309px;position:absolute;left:144px;height:20px;width:162px;z-index:1; }
#ZQIDHWPUXR_DIV {top:257px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZQIDHWPUXR_DIV {left:22px;height:16px;width:80px;}
BODY[ettl='old'] #ZQIDHWPUXR_DIV {left:22px;height:16px;width:80px;}
BODY[ettl='yes'] #ZQIDHWPUXR_DIV {right:calc(100% - 102px);}
#QUKJZLRVOL_DIV {top:313px;position:absolute;left:80px;text-align:left;z-index:1;}
BODY:not([ettl]) #QUKJZLRVOL_DIV {height:16px;width:56px;}
BODY[ettl='old'] #QUKJZLRVOL_DIV {height:16px;width:56px;}
#TNLEGEGWAQ { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#TNLEGEGWAQ_DIV { position:absolute;height:91px;z-index:0;width:368px;top:246px;left:16px;}
#TNLEGEGWAQ_HEADER_CAPTION {left:5px;top:-9px;}
#NNCELEXRKP { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#NNCELEXRKP_DIV { position:absolute;height:91px;z-index:0;width:368px;top:245px;left:400px;}
#NNCELEXRKP_HEADER_CAPTION {left:5px;top:-9px;}
#WJDBESRNAN_DIV {top:256px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WJDBESRNAN_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='old'] #WJDBESRNAN_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='yes'] #WJDBESRNAN_DIV {right:calc(100% - 486px);}
#KBSYJLHZOZ_DIV {top:312px;position:absolute;left:464px;text-align:left;z-index:1;}
BODY:not([ettl]) #KBSYJLHZOZ_DIV {height:16px;width:56px;}
BODY[ettl='old'] #KBSYJLHZOZ_DIV {height:16px;width:56px;}
#FMXMNQMEMH {top:253px;position:absolute;left:488px;height:20px;width:72px;text-align:right;z-index:1; }
#GRVAHWHFJH_DIV {top:279px;position:absolute;left:408px;height:21px;width:115px;overflow:hidden;white-space:nowrap;z-index:1; }
#TZPQRTXHYT {top:280px;position:absolute;left:528px;height:20px;width:102px;z-index:1; }
#GWASKALOUK {top:308px;position:absolute;left:528px;height:20px;width:162px;z-index:1; }
#VQNRBICOXA_DIV {top:371px;position:absolute;left:120px;height:22px;width:544px;color:#FFFFFF;background-color:#FF0000;text-align:center;font-family:Tahoma;font-size:12pt;font-weight:bold;z-index:1;}
#URZTYMSMYS {top:343px;position:absolute;left:560px;height:25px;width:208px;z-index:1;}
#UCLGIPKHHK {top:14px;position:absolute;left:552px;height:20px;width:72px;text-align:right;z-index:1; }
#CYWLVXKPWG_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CYWLVXKPWG_DIV {left:438px;height:16px;width:114px;}
BODY[ettl='old'] #CYWLVXKPWG_DIV {left:438px;height:16px;width:114px;}
BODY[ettl='yes'] #CYWLVXKPWG_DIV {right:calc(100% - 552px);letter-spacing:-1px;}
BODY[ettl='yes'] #OYBCLSBWWU_DIV, BODY[ettl='yes'] #LLONFBQGWC_DIV, BODY[ettl='yes'] #PYCUXKNKCJ_DIV, BODY[ettl='yes'] #MVLNTEGKBL_DIV, BODY[ettl='yes'] #JDNKWMLZTI_DIV, BODY[ettl='yes'] #QUKJZLRVOL_DIV, BODY[ettl='yes'] #KBSYJLHZOZ_DIV, BODY[ettl='yes'] #GRVAHWHFJH_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #TOFVCFNDFU_DIV, #OICGZUOZYP_DIV, #CTCKWHZVTZ_DIV, #GDTYXHVEHO_DIV, #SVRLUYRVRK_DIV, #RGYIJRGRVR, #SWHJSXDMQR, #XLPPGWOBPA_DIV, #INHVWDNVJQ_DIV, #EEPWGWPHCL_DIV, #SXESAQVPYH_DIV, #PYCUXKNKCJ_DIV, #MVLNTEGKBL_DIV, #HDQLRPYTAN, #ZUHLCKITMM, #YBLTSMLFUZ_DIV, #ZQIDHWPUXR_DIV, #QUKJZLRVOL_DIV, #TNLEGEGWAQ, #NNCELEXRKP, #WJDBESRNAN_DIV, #KBSYJLHZOZ_DIV, #VQNRBICOXA_DIV, #CYWLVXKPWG_DIV {overflow:hidden;}
#YORQOIOBQN, #LXORWVRYJJ, #JHOQNVHZXH, #BHAVHLFPAC, #DZWSXMBIHR, #HUMSCLHVTQ, #OYBCLSBWWU_DIV, #EDCVGCRZZZ, #JINDLZUJGB, #LLONFBQGWC_DIV, #YFRSEVUKNF, #HBCZFDMLIW, #RGYIJRGRVR, #SWHJSXDMQR, #EYLNNWDCKZ, #HDQLRPYTAN, #ZUHLCKITMM, #ZDQIQPDLMA, #GVMNAQQJWY, #JDNKWMLZTI_DIV, #JWUIHKTDYH, #JCJVALRBTS, #TNLEGEGWAQ, #NNCELEXRKP, #FMXMNQMEMH, #GRVAHWHFJH_DIV, #TZPQRTXHYT, #GWASKALOUK, #UCLGIPKHHK {box-sizing : border-box;}
