.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IFUSPOLLJT {top:7px;position:absolute;left:136px;height:20px;width:72px;text-align:right;z-index:1; }
#VQQEIXPUTK_DIV {top:70px;position:absolute;left:16px;height:19px;width:824px;color:#FFFF00;background-color:#0000FF;text-align:left;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#THCSTTAUJY { height:301px;z-index:0;}
#THCSTTAUJY_DIV { position:relative;z-index:0;width:100%;}
#KMHQEVWVNK_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMHQEVWVNK_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='old'] #KMHQEVWVNK_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='yes'] #KMHQEVWVNK_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#DHBRXDCHIH {top:7px;position:absolute;left:352px;height:20px;width:56px;z-index:1; }
#UDWQJSNCSD_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UDWQJSNCSD_DIV {left:229px;height:16px;width:122px;}
BODY[ettl='old'] #UDWQJSNCSD_DIV {left:229px;height:16px;width:122px;}
BODY[ettl='yes'] #UDWQJSNCSD_DIV {right:calc(100% - 351px);letter-spacing:-1px;}
#NHTTQSKNCE {top:35px;position:absolute;left:136px;height:20px;width:102px;z-index:1; }
#IRAARTIBBY {top:35px;position:absolute;left:368px;height:20px;width:102px;z-index:1; }
#CGKCUTXIQV {top:35px;position:absolute;left:584px;height:20px;width:256px;z-index:1; }
#UVDPOGERZK {top:98px;position:absolute;left:136px;height:20px;width:108px;z-index:1; }
#HNLUXWZZSG {top:98px;position:absolute;left:360px;height:20px;width:192px;z-index:1; }
#NPOZCOOROF {top:98px;position:absolute;left:640px;height:20px;width:192px;z-index:1; }
#NMTFLCHLGD {top:126px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#NMTFLCHLGD_ZOOM { position:absolute;top:126px;left:449px;height:20px;width:17px;z-index:1;}
#BLOPGSOJRJ {top:154px;position:absolute;left:136px;height:20px;width:72px;text-align:right;z-index:1; }
#BLOPGSOJRJ_ZOOM { position:absolute;top:154px;left:209px;height:20px;width:17px;z-index:1;}
#EABOOAYYWK {top:154px;position:absolute;left:640px;height:20px;width:136px;z-index:1; }
#EABOOAYYWK { vertical-align:middle; }
#MHDGPLPBBN {top:14px;position:absolute;left:136px;height:20px;width:104px;z-index:1; }
#MHDGPLPBBN { vertical-align:middle; }
#UXJUHWBCMH {top:14px;position:absolute;left:344px;height:20px;width:180px;z-index:1; }
#UXJUHWBCMH_ZOOM { position:absolute;top:14px;left:525px;height:20px;width:17px;z-index:1;}
#CCDNZZPUCA {top:14px;position:absolute;left:640px;height:20px;width:60px;text-align:right;z-index:1; }
#CCDNZZPUCA_ZOOM { position:absolute;top:14px;left:701px;height:20px;width:17px;z-index:1;}
#AMJZYMJHYP {top:42px;position:absolute;left:136px;height:20px;width:104px;z-index:1; }
#AMJZYMJHYP { vertical-align:middle; }
#DXDTFLVDRK {top:42px;position:absolute;left:640px;height:20px;width:102px;text-align:right;z-index:1; }
#CUWGJLKVOE {top:70px;position:absolute;left:136px;height:20px;width:184px;z-index:1; }
#CUWGJLKVOE { vertical-align:middle; }
#AYIZLJVVCP {top:70px;position:absolute;left:640px;height:20px;width:192px;z-index:1; }
#SYZBUNLLHR {top:98px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#SBVSTUFZNJ {top:98px;position:absolute;left:640px;height:20px;width:192px;z-index:1; }
#ABTEUVWFFQ {top:126px;position:absolute;left:136px;height:161px;width:288px;overflow:auto;z-index:1; }
#YBPKXABHYP {top:126px;position:absolute;left:544px;height:161px;width:288px;overflow:auto;z-index:1; }
#IAAFYFVCOO {top:35px;position:absolute;left:136px;height:20px;width:192px;z-index:1; }
#YZCTAZEUHT {top:35px;position:absolute;left:640px;height:20px;width:192px;z-index:1; }
#EKWIYNRJCN {top:63px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#EKWIYNRJCN_ZOOM { position:absolute;top:63px;left:449px;height:20px;width:17px;z-index:1;}
#ESIPESUKFU {top:91px;position:absolute;left:136px;height:20px;width:80px;text-align:right;z-index:1; }
#ESIPESUKFU_ZOOM { position:absolute;top:91px;left:217px;height:20px;width:17px;z-index:1;}
#ZAUFIWBFWS {top:91px;position:absolute;left:640px;height:20px;width:136px;z-index:1; }
#ZAUFIWBFWS { vertical-align:middle; }
#YAUYCDEFNH {top:119px;position:absolute;left:136px;height:20px;width:136px;z-index:1; }
#CQREEAUGJZ {top:175px;position:absolute;left:136px;height:20px;width:40px;z-index:1; }
#CQREEAUGJZ_ZOOM { position:absolute;top:175px;left:177px;height:20px;width:17px;z-index:1;}
#RNXXROADTV {top:203px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#RNXXROADTV_ZOOM { position:absolute;top:203px;left:449px;height:20px;width:17px;z-index:1;}
#HRARTBAAAD {top:231px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#XZMROSWRMH {top:231px;position:absolute;left:640px;height:20px;width:56px;z-index:1; }
#YSEWNSQRQV {top:287px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#YSEWNSQRQV { vertical-align:middle; }
#RGTEMJRSBB {top:287px;position:absolute;left:640px;height:20px;width:102px;z-index:1; }
#MDMENXCYFS {top:315px;position:absolute;left:136px;height:20px;width:72px;text-align:right;z-index:1; }
#MDMENXCYFS_ZOOM { position:absolute;top:315px;left:209px;height:20px;width:17px;z-index:1;}
#SMDOEMVCES {top:315px;position:absolute;left:640px;height:20px;width:72px;text-align:right;z-index:1; }
#SMDOEMVCES_ZOOM { position:absolute;top:315px;left:713px;height:20px;width:17px;z-index:1;}
#LVYUCXICCL {top:343px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#RSEQNBPPDH_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RSEQNBPPDH_DIV {left:68px;height:16px;width:67px;}
BODY[ettl='old'] #RSEQNBPPDH_DIV {left:68px;height:16px;width:67px;}
BODY[ettl='yes'] #RSEQNBPPDH_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#VWICKVEUFP_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VWICKVEUFP_DIV {left:327px;height:16px;width:40px;}
BODY[ettl='old'] #VWICKVEUFP_DIV {left:327px;height:16px;width:40px;}
BODY[ettl='yes'] #VWICKVEUFP_DIV {right:calc(100% - 367px);letter-spacing:-1px;}
#BGJTNRPVYT_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGJTNRPVYT_DIV {left:553px;height:16px;width:30px;}
BODY[ettl='old'] #BGJTNRPVYT_DIV {left:553px;height:16px;width:30px;}
BODY[ettl='yes'] #BGJTNRPVYT_DIV {right:calc(100% - 583px);letter-spacing:-1px;}
#EGGJNAFFFP_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EGGJNAFFFP_DIV {left:-5px;height:16px;width:140px;}
BODY[ettl='old'] #EGGJNAFFFP_DIV {left:-5px;height:16px;width:140px;}
BODY[ettl='yes'] #EGGJNAFFFP_DIV {right:calc(100% - 135px);}
#WGYPGAIHQJ_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WGYPGAIHQJ_DIV {left:306px;height:16px;width:53px;}
BODY[ettl='old'] #WGYPGAIHQJ_DIV {left:306px;height:16px;width:53px;}
BODY[ettl='yes'] #WGYPGAIHQJ_DIV {right:calc(100% - 359px);letter-spacing:-1px;}
#WSMJVYMWRD_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WSMJVYMWRD_DIV {left:605px;height:16px;width:34px;}
BODY[ettl='old'] #WSMJVYMWRD_DIV {left:605px;height:16px;width:34px;}
BODY[ettl='yes'] #WSMJVYMWRD_DIV {right:calc(100% - 639px);letter-spacing:-1px;}
#ZQNTJKRAAL_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZQNTJKRAAL_DIV {left:57px;height:16px;width:78px;}
BODY[ettl='old'] #ZQNTJKRAAL_DIV {left:57px;height:16px;width:78px;}
BODY[ettl='yes'] #ZQNTJKRAAL_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#SPBNKEMPWP {top:126px;position:absolute;left:640px;height:20px;width:32px;z-index:1; }
#USIKKLDZOP_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #USIKKLDZOP_DIV {left:534px;height:16px;width:105px;}
BODY[ettl='old'] #USIKKLDZOP_DIV {left:534px;height:16px;width:105px;}
BODY[ettl='yes'] #USIKKLDZOP_DIV {right:calc(100% - 639px);letter-spacing:-1px;}
#OHZRZXFOTV_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OHZRZXFOTV_DIV {left:52px;height:16px;width:83px;}
BODY[ettl='old'] #OHZRZXFOTV_DIV {left:52px;height:16px;width:83px;}
BODY[ettl='yes'] #OHZRZXFOTV_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#RGSHLRGAOP_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RGSHLRGAOP_DIV {left:39px;height:16px;width:96px;}
BODY[ettl='old'] #RGSHLRGAOP_DIV {left:39px;height:16px;width:96px;}
BODY[ettl='yes'] #RGSHLRGAOP_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#HKSFDQTCFO_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HKSFDQTCFO_DIV {left:546px;height:16px;width:93px;}
BODY[ettl='old'] #HKSFDQTCFO_DIV {left:546px;height:16px;width:93px;}
BODY[ettl='yes'] #HKSFDQTCFO_DIV {right:calc(100% - 639px);letter-spacing:-1px;}
#EBPNPCQAOY_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EBPNPCQAOY_DIV {left:45px;height:16px;width:90px;}
BODY[ettl='old'] #EBPNPCQAOY_DIV {left:45px;height:16px;width:90px;}
BODY[ettl='yes'] #EBPNPCQAOY_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#DPERQPUGQY_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DPERQPUGQY_DIV {left:35px;height:16px;width:100px;}
BODY[ettl='old'] #DPERQPUGQY_DIV {left:35px;height:16px;width:100px;}
BODY[ettl='yes'] #DPERQPUGQY_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#WVYDDBJNAE_DIV {top:126px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WVYDDBJNAE_DIV {left:7px;height:29px;width:129px;}
BODY[ettl='old'] #WVYDDBJNAE_DIV {left:7px;height:29px;width:129px;}
BODY[ettl='yes'] #WVYDDBJNAE_DIV {right:calc(100% - 136px);}
#EIZRXIRZNI_DIV {top:126px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EIZRXIRZNI_DIV {left:440px;height:29px;width:103px;}
BODY[ettl='old'] #EIZRXIRZNI_DIV {left:440px;height:29px;width:103px;}
BODY[ettl='yes'] #EIZRXIRZNI_DIV {right:calc(100% - 543px);}
#NVOKWXFGOG_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NVOKWXFGOG_DIV {left:42px;height:16px;width:93px;}
BODY[ettl='old'] #NVOKWXFGOG_DIV {left:42px;height:16px;width:93px;}
BODY[ettl='yes'] #NVOKWXFGOG_DIV {right:calc(100% - 135px);}
#UWBUBYMXNH_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UWBUBYMXNH_DIV {left:566px;height:16px;width:73px;}
BODY[ettl='old'] #UWBUBYMXNH_DIV {left:566px;height:16px;width:73px;}
BODY[ettl='yes'] #UWBUBYMXNH_DIV {right:calc(100% - 639px);}
#KSCXKTBDNF_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KSCXKTBDNF_DIV {left:7px;height:16px;width:128px;}
BODY[ettl='old'] #KSCXKTBDNF_DIV {left:7px;height:16px;width:128px;}
BODY[ettl='yes'] #KSCXKTBDNF_DIV {right:calc(100% - 135px);}
#GWPOQYXVMH {top:63px;position:absolute;left:640px;height:20px;width:24px;z-index:1; }
#SRKHBXIXTJ_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SRKHBXIXTJ_DIV {left:494px;height:16px;width:145px;}
BODY[ettl='old'] #SRKHBXIXTJ_DIV {left:494px;height:16px;width:145px;}
BODY[ettl='yes'] #SRKHBXIXTJ_DIV {right:calc(100% - 639px);}
#FGPSBECPQJ_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FGPSBECPQJ_DIV {left:52px;height:16px;width:83px;}
BODY[ettl='old'] #FGPSBECPQJ_DIV {left:52px;height:16px;width:83px;}
BODY[ettl='yes'] #FGPSBECPQJ_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#XOANTUVUZH_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XOANTUVUZH_DIV {left:604px;height:16px;width:35px;}
BODY[ettl='old'] #XOANTUVUZH_DIV {left:604px;height:16px;width:35px;}
BODY[ettl='yes'] #XOANTUVUZH_DIV {right:calc(100% - 639px);letter-spacing:-1px;}
#TJTUYNBQYT_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TJTUYNBQYT_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='old'] #TJTUYNBQYT_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='yes'] #TJTUYNBQYT_DIV {right:calc(100% - 135px);}
#KDQYMFMALB_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDQYMFMALB_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='old'] #KDQYMFMALB_DIV {left:18px;height:16px;width:117px;}
BODY[ettl='yes'] #KDQYMFMALB_DIV {right:calc(100% - 135px);}
#OAMCQZDMKT_DIV {top:235px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OAMCQZDMKT_DIV {left:516px;height:16px;width:123px;}
BODY[ettl='old'] #OAMCQZDMKT_DIV {left:516px;height:16px;width:123px;}
BODY[ettl='yes'] #OAMCQZDMKT_DIV {right:calc(100% - 639px);}
#EOTGCHITKP {top:203px;position:absolute;left:640px;height:20px;width:24px;z-index:1; }
#XUKGFRRXQU_DIV {top:207px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XUKGFRRXQU_DIV {left:491px;height:16px;width:148px;}
BODY[ettl='old'] #XUKGFRRXQU_DIV {left:491px;height:16px;width:148px;}
BODY[ettl='yes'] #XUKGFRRXQU_DIV {right:calc(100% - 639px);}
#BCDMIWTOPN_DIV {top:291px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BCDMIWTOPN_DIV {left:16px;height:16px;width:119px;}
BODY[ettl='old'] #BCDMIWTOPN_DIV {left:16px;height:16px;width:119px;}
BODY[ettl='yes'] #BCDMIWTOPN_DIV {right:calc(100% - 135px);}
#GIPVDDJTVU_DIV {top:291px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GIPVDDJTVU_DIV {left:520px;height:16px;width:119px;}
BODY[ettl='old'] #GIPVDDJTVU_DIV {left:520px;height:16px;width:119px;}
BODY[ettl='yes'] #GIPVDDJTVU_DIV {right:calc(100% - 639px);}
#KUSKRDMQOJ {top:7px;position:absolute;left:416px;height:20px;width:248px;z-index:1; }
#DIAEKSWWEM { height:182px;z-index:0;}
#DIAEKSWWEM_DIV { position:relative;z-index:0;width:100%;}
#RXORNOZGHT_DIV {top:4px;position:absolute;left:16px;height:19px;width:824px;color:#FFFF00;background-color:#0000FF;text-align:left;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#CQCOXHOFIH_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CQCOXHOFIH_DIV {left:605px;height:16px;width:35px;}
BODY[ettl='old'] #CQCOXHOFIH_DIV {left:605px;height:16px;width:35px;}
BODY[ettl='yes'] #CQCOXHOFIH_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#PHMVDMVXDH_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PHMVDMVXDH_DIV {left:278px;height:16px;width:66px;}
BODY[ettl='old'] #PHMVDMVXDH_DIV {left:278px;height:16px;width:66px;}
BODY[ettl='yes'] #PHMVDMVXDH_DIV {right:calc(100% - 344px);}
#ALUYEPUVLF { height:371px;z-index:0;}
#ALUYEPUVLF_DIV { position:relative;z-index:0;width:100%;}
#HLPYIABQPO_DIV {top:7px;position:absolute;left:16px;height:19px;width:824px;color:#FFFF00;background-color:#0000FF;text-align:left;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#AKQEPKXJHR_DIV {top:147px;position:absolute;left:16px;height:19px;width:824px;color:#FFFF00;background-color:#0000FF;text-align:left;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#DDVPAVKJFZ {top:7px;position:absolute;left:776px;height:20px;width:64px;text-align:right;z-index:1; }
#VKRCBRSEXQ_DIV {top:207px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VKRCBRSEXQ_DIV {left:56px;height:16px;width:80px;}
BODY[ettl='old'] #VKRCBRSEXQ_DIV {left:56px;height:16px;width:80px;}
BODY[ettl='yes'] #VKRCBRSEXQ_DIV {right:calc(100% - 136px);}
#BXTLAPVHVP_DIV {top:235px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BXTLAPVHVP_DIV {left:88px;height:16px;width:48px;}
BODY[ettl='old'] #BXTLAPVHVP_DIV {left:88px;height:16px;width:48px;}
BODY[ettl='yes'] #BXTLAPVHVP_DIV {right:calc(100% - 136px);}
#BUCXTYSTDW_DIV {top:259px;position:absolute;left:16px;height:19px;width:824px;color:#FFFF00;background-color:#0000FF;text-align:left;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#RPUYWHBPLW_DIV {top:319px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPUYWHBPLW_DIV {left:65px;height:16px;width:71px;}
BODY[ettl='old'] #RPUYWHBPLW_DIV {left:65px;height:16px;width:71px;}
BODY[ettl='yes'] #RPUYWHBPLW_DIV {right:calc(100% - 136px);}
#KVXUAURODE_DIV {top:319px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KVXUAURODE_DIV {left:557px;height:16px;width:83px;}
BODY[ettl='old'] #KVXUAURODE_DIV {left:557px;height:16px;width:83px;}
BODY[ettl='yes'] #KVXUAURODE_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#XQKIDGOLHP_DIV {top:347px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XQKIDGOLHP_DIV {left:2px;height:16px;width:134px;}
BODY[ettl='old'] #XQKIDGOLHP_DIV {left:2px;height:16px;width:134px;}
BODY[ettl='yes'] #XQKIDGOLHP_DIV {right:calc(100% - 136px);letter-spacing:-1px;}
#FCSTUJGVOP_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FCSTUJGVOP_DIV {left:530px;height:16px;width:110px;}
BODY[ettl='old'] #FCSTUJGVOP_DIV {left:530px;height:16px;width:110px;}
BODY[ettl='yes'] #FCSTUJGVOP_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#BIJADGJZHV_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BIJADGJZHV_DIV {left:674px;height:16px;width:102px;}
BODY[ettl='old'] #BIJADGJZHV_DIV {left:674px;height:16px;width:102px;}
BODY[ettl='yes'] #BIJADGJZHV_DIV {right:calc(100% - 776px);letter-spacing:-1px;}
#RTYSMJWDZO {top:175px;position:absolute;left:200px;height:20px;width:376px;z-index:1; }
#KJJMFNDTGT_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KJJMFNDTGT_DIV {left:579px;height:16px;width:61px;}
BODY[ettl='old'] #KJJMFNDTGT_DIV {left:579px;height:16px;width:61px;}
BODY[ettl='yes'] #KJJMFNDTGT_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#RIKJBVFIOW_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RIKJBVFIOW_DIV {left:547px;height:16px;width:93px;}
BODY[ettl='old'] #RIKJBVFIOW_DIV {left:547px;height:16px;width:93px;}
BODY[ettl='yes'] #RIKJBVFIOW_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#QSZJDWFOBU_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QSZJDWFOBU_DIV {left:52px;height:16px;width:84px;}
BODY[ettl='old'] #QSZJDWFOBU_DIV {left:52px;height:16px;width:84px;}
BODY[ettl='yes'] #QSZJDWFOBU_DIV {right:calc(100% - 136px);letter-spacing:-1px;}
#VQQEIXPUTK_DIV, #THCSTTAUJY, #KMHQEVWVNK_DIV, #UDWQJSNCSD_DIV, #RSEQNBPPDH_DIV, #VWICKVEUFP_DIV, #BGJTNRPVYT_DIV, #EGGJNAFFFP_DIV, #WGYPGAIHQJ_DIV, #WSMJVYMWRD_DIV, #ZQNTJKRAAL_DIV, #USIKKLDZOP_DIV, #OHZRZXFOTV_DIV, #RGSHLRGAOP_DIV, #HKSFDQTCFO_DIV, #EBPNPCQAOY_DIV, #DPERQPUGQY_DIV, #WVYDDBJNAE_DIV, #EIZRXIRZNI_DIV, #NVOKWXFGOG_DIV, #UWBUBYMXNH_DIV, #KSCXKTBDNF_DIV, #SRKHBXIXTJ_DIV, #FGPSBECPQJ_DIV, #XOANTUVUZH_DIV, #TJTUYNBQYT_DIV, #KDQYMFMALB_DIV, #OAMCQZDMKT_DIV, #XUKGFRRXQU_DIV, #BCDMIWTOPN_DIV, #GIPVDDJTVU_DIV, #DIAEKSWWEM, #RXORNOZGHT_DIV, #CQCOXHOFIH_DIV, #PHMVDMVXDH_DIV, #ALUYEPUVLF, #HLPYIABQPO_DIV, #AKQEPKXJHR_DIV, #VKRCBRSEXQ_DIV, #BXTLAPVHVP_DIV, #BUCXTYSTDW_DIV, #RPUYWHBPLW_DIV, #KVXUAURODE_DIV, #XQKIDGOLHP_DIV, #FCSTUJGVOP_DIV, #BIJADGJZHV_DIV, #KJJMFNDTGT_DIV, #RIKJBVFIOW_DIV, #QSZJDWFOBU_DIV {overflow:hidden;}
#IFUSPOLLJT, #THCSTTAUJY, #DHBRXDCHIH, #NHTTQSKNCE, #IRAARTIBBY, #CGKCUTXIQV, #UVDPOGERZK, #HNLUXWZZSG, #NPOZCOOROF, #NMTFLCHLGD, #BLOPGSOJRJ, #EABOOAYYWK, #MHDGPLPBBN, #UXJUHWBCMH, #CCDNZZPUCA, #AMJZYMJHYP, #DXDTFLVDRK, #CUWGJLKVOE, #AYIZLJVVCP, #SYZBUNLLHR, #SBVSTUFZNJ, #ABTEUVWFFQ, #YBPKXABHYP, #IAAFYFVCOO, #YZCTAZEUHT, #EKWIYNRJCN, #ESIPESUKFU, #ZAUFIWBFWS, #YAUYCDEFNH, #CQREEAUGJZ, #RNXXROADTV, #HRARTBAAAD, #XZMROSWRMH, #YSEWNSQRQV, #RGTEMJRSBB, #MDMENXCYFS, #SMDOEMVCES, #LVYUCXICCL, #SPBNKEMPWP, #GWPOQYXVMH, #EOTGCHITKP, #KUSKRDMQOJ, #DIAEKSWWEM, #ALUYEPUVLF, #DDVPAVKJFZ, #RTYSMJWDZO {box-sizing : border-box;}
