.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:576px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:576px;z-index:0;width:776px;top:8px;left:8px;}
#LXORWVRYJJ {top:16px;position:absolute;left:144px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#OICGZUOZYP_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:8px;height:16px;width:132px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 140px);}
#AQAARAIPOR {top:16px;position:absolute;left:448px;height:20px;width:328px;z-index:1; }
#VEBJKDHMDC_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VEBJKDHMDC_DIV {left:324px;height:16px;width:120px;}
BODY[ettl='old'] #VEBJKDHMDC_DIV {left:324px;height:16px;width:120px;}
BODY[ettl='yes'] #VEBJKDHMDC_DIV {right:calc(100% - 444px);}
#ZFOHYLVPYN {top:40px;position:absolute;left:144px;height:20px;width:400px;z-index:1; }
#ZFOHYLVPYN { vertical-align:middle; }
#BHAVHLFPAC {top:66px;position:absolute;left:144px;height:20px;width:400px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#BCLYMGMBLK {top:90px;position:absolute;left:144px;height:20px;width:126px;z-index:1; }
#BCLYMGMBLK { vertical-align:middle; }
#GDCHKTFQUK_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDCHKTFQUK_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='old'] #GDCHKTFQUK_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='yes'] #GDCHKTFQUK_DIV {right:calc(100% - 140px);}
#RUMXLFCOKA {top:90px;position:absolute;left:368px;height:20px;width:38px;z-index:1; }
#RUMXLFCOKA_ZOOM { position:absolute;top:90px;left:407px;height:20px;width:17px;z-index:1;}
#OUQKLNQVMP_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OUQKLNQVMP_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='old'] #OUQKLNQVMP_DIV {left:16px;height:16px;width:124px;}
BODY[ettl='yes'] #OUQKLNQVMP_DIV {right:calc(100% - 140px);}
#MILRATMPIJ_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MILRATMPIJ_DIV {left:298px;height:16px;width:67px;}
BODY[ettl='old'] #MILRATMPIJ_DIV {left:298px;height:16px;width:67px;}
BODY[ettl='yes'] #MILRATMPIJ_DIV {right:calc(100% - 365px);letter-spacing:-1px;}
#XQILBJQNNS_DIV {top:94px;position:absolute;left:432px;height:16px;width:328px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#CTCKWHZVTZ_DIV {top:70px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:9px;height:16px;width:131px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:9px;height:16px;width:131px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 140px);}
#AABRTCZWUY_DIV {top:64px;position:absolute;left:608px;height:21px;width:154px;overflow:hidden;white-space:nowrap;z-index:1; }
#YYHBZYTHNJ { height:280px;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#YYHBZYTHNJ_DIV { position:absolute;height:280px;z-index:0;width:760px;top:120px;left:16px;}
#HBAROSDSIX_DIV {top:120px;position:absolute;left:16px;height:16px;width:760px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VSHUPFYWOC {top:144px;position:absolute;left:168px;height:20px;width:312px;z-index:1; }
#VASVGQZJGP {top:168px;position:absolute;left:168px;height:20px;width:312px;z-index:1; }
#QJSTZIPOQB {top:264px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:264px;left:207px;height:20px;width:17px;z-index:1;}
#SFFFOYOWNH {top:288px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:288px;left:207px;height:20px;width:17px;z-index:1;}
#NOBMPHKVTX {top:312px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:312px;left:207px;height:20px;width:17px;z-index:1;}
#DJOWYRMDDC {top:336px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:336px;left:207px;height:20px;width:17px;z-index:1;}
#BVGYBYGMJB_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:40px;height:16px;width:124px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:40px;height:16px;width:124px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 164px);}
#MMQZUMTDEV {top:40px;position:absolute;left:648px;height:24px;width:128px;font-family:Tahoma;font-size:8pt;z-index:1;}
#EWATRAIADP_DIV {top:172px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:40px;height:16px;width:124px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:40px;height:16px;width:124px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 164px);}
#NAVNOGNZNE_DIV {top:268px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:32px;height:16px;width:124px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:32px;height:16px;width:124px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 156px);}
#MXYTQLATHC {top:216px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#KBIUAXUDXA {top:240px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#UDAYHICPVB {top:264px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#ETALZDRBSO {top:288px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#QBTVZDKLCO {top:312px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#RUWEXWJASG {top:336px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#LHTXLTQYIK_DIV {top:292px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#HGXSBHTFKF_DIV {top:316px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#OKFGBGYVWD_DIV {top:340px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:27px;height:16px;width:129px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 156px);}
#PLAWSVGZSR_DIV {top:360px;position:absolute;left:160px;text-align:left;z-index:1;}
BODY:not([ettl]) #PLAWSVGZSR_DIV {height:16px;width:265px;}
BODY[ettl='old'] #PLAWSVGZSR_DIV {height:16px;width:265px;}
#UOJWCVBOTW_DIV {top:376px;position:absolute;left:160px;text-align:left;z-index:1;}
BODY:not([ettl]) #UOJWCVBOTW_DIV {height:16px;width:365px;}
BODY[ettl='old'] #UOJWCVBOTW_DIV {height:16px;width:365px;}
#CMKJDFEFFI_DIV {top:268px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:292px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:316px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:340px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:195px;position:absolute;left:24px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:195px;position:absolute;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='old'] #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='yes'] #NFLJJHXTKY_DIV {right:calc(100% - 760px);}
#ZUVXJIZOSF_DIV {top:220px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:101px;height:16px;width:55px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:101px;height:16px;width:55px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#LXNMWSOUMF_DIV {top:244px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:101px;height:16px;width:55px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:101px;height:16px;width:55px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 156px);}
#CKJQULDXKW {top:216px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:216px;left:207px;height:20px;width:17px;z-index:1;}
#SXTYCPHBIM {top:240px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:240px;left:207px;height:20px;width:17px;z-index:1;}
#BCFLBBQSRN_DIV {top:244px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QEXJCFPJBM_DIV {top:220px;position:absolute;left:232px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NXJPOCJGET {top:408px;position:absolute;left:16px;height:168px;width:760px;height:168px;right:0px;z-index:1;overflow:auto;}
#LZCEHELAXJ { height:584px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#LZCEHELAXJ_DIV { position:absolute;height:584px;z-index:0;width:776px;top:8px;left:8px;}
#VQGKRQMFBG_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VQGKRQMFBG_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #VQGKRQMFBG_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #VQGKRQMFBG_DIV {right:calc(100% - 132px);}
#TRSLIWCUDN_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRSLIWCUDN_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #TRSLIWCUDN_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #TRSLIWCUDN_DIV {right:calc(100% - 132px);}
#AZOLSYJQIB_DIV {top:20px;position:absolute;left:136px;height:16px;width:376px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EEDUDVVNBY_DIV {top:40px;position:absolute;left:136px;height:16px;width:376px;text-align:left;z-index:1;}
#QIETKIRGON {top:16px;position:absolute;left:616px;height:24px;width:157px;font-family:Tahoma;font-size:8pt;z-index:1;}
#XCLJCOLAOK {top:64px;position:absolute;left:16px;height:168px;width:760px;height:168px;right:0px;z-index:1;overflow:auto;}
#VNBQZVXZTE {top:240px;position:absolute;left:16px;height:168px;width:760px;height:168px;right:0px;z-index:1;overflow:auto;}
#POJFSMHRKX {top:416px;position:absolute;left:16px;height:168px;width:760px;height:168px;right:0px;z-index:1;overflow:auto;}
#EHSQLOIDHO { height:496px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#EHSQLOIDHO_DIV { position:absolute;height:496px;z-index:0;width:776px;top:8px;left:8px;}
#SMNZTOGTZJ_DIV {top:64px;position:absolute;left:8px;height:16px;width:776px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BWHWSHFTVC_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BWHWSHFTVC_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #BWHWSHFTVC_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #BWHWSHFTVC_DIV {right:calc(100% - 132px);}
#XKOHJMFVPP_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XKOHJMFVPP_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #XKOHJMFVPP_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #XKOHJMFVPP_DIV {right:calc(100% - 132px);}
#OYYXUVDIWN {top:88px;position:absolute;left:24px;height:276px;width:752px;z-index:1;}
#VLVNGHBBRK_DIV {top:20px;position:absolute;left:136px;height:16px;width:376px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MVSPJPANDF_DIV {top:40px;position:absolute;left:136px;height:16px;width:376px;text-align:left;z-index:1;}
#YSBAKLZECK {top:400px;position:absolute;left:128px;height:20px;width:102px;z-index:1; }
#FFCVEAIHJV_DIV {top:404px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FFCVEAIHJV_DIV {left:8px;height:16px;width:120px;}
BODY[ettl='old'] #FFCVEAIHJV_DIV {left:8px;height:16px;width:120px;}
BODY[ettl='yes'] #FFCVEAIHJV_DIV {right:calc(100% - 128px);letter-spacing:-1px;}
#SSYXHQXJLD {top:376px;position:absolute;left:128px;height:20px;width:56px;z-index:1; }
#SSYXHQXJLD_ZOOM { position:absolute;top:376px;left:185px;height:20px;width:17px;z-index:1;}
#JIHVKRMSZD_DIV {top:380px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIHVKRMSZD_DIV {left:40px;height:16px;width:88px;}
BODY[ettl='old'] #JIHVKRMSZD_DIV {left:40px;height:16px;width:88px;}
BODY[ettl='yes'] #JIHVKRMSZD_DIV {right:calc(100% - 128px);}
#TWSRQQLPNA_DIV {top:380px;position:absolute;left:208px;height:16px;width:440px;color:#0000FF;text-align:left;z-index:1;}
BODY[ettl='yes'] #AABRTCZWUY_DIV, BODY[ettl='yes'] #PLAWSVGZSR_DIV, BODY[ettl='yes'] #UOJWCVBOTW_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #OICGZUOZYP_DIV, #VEBJKDHMDC_DIV, #GDCHKTFQUK_DIV, #OUQKLNQVMP_DIV, #MILRATMPIJ_DIV, #XQILBJQNNS_DIV, #CTCKWHZVTZ_DIV, #YYHBZYTHNJ, #HBAROSDSIX_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #PLAWSVGZSR_DIV, #UOJWCVBOTW_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #LZCEHELAXJ, #VQGKRQMFBG_DIV, #TRSLIWCUDN_DIV, #AZOLSYJQIB_DIV, #EEDUDVVNBY_DIV, #EHSQLOIDHO, #SMNZTOGTZJ_DIV, #BWHWSHFTVC_DIV, #XKOHJMFVPP_DIV, #VLVNGHBBRK_DIV, #MVSPJPANDF_DIV, #FFCVEAIHJV_DIV, #JIHVKRMSZD_DIV, #TWSRQQLPNA_DIV {overflow:hidden;}
#YORQOIOBQN, #LXORWVRYJJ, #AQAARAIPOR, #ZFOHYLVPYN, #BHAVHLFPAC, #BCLYMGMBLK, #RUMXLFCOKA, #AABRTCZWUY_DIV, #YYHBZYTHNJ, #VSHUPFYWOC, #VASVGQZJGP, #QJSTZIPOQB, #SFFFOYOWNH, #NOBMPHKVTX, #DJOWYRMDDC, #MXYTQLATHC, #KBIUAXUDXA, #UDAYHICPVB, #ETALZDRBSO, #QBTVZDKLCO, #RUWEXWJASG, #CKJQULDXKW, #SXTYCPHBIM, #LZCEHELAXJ, #EHSQLOIDHO, #YSBAKLZECK, #SSYXHQXJLD {box-sizing : border-box;}
