.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PZFVIVIVXJ {top:7px;position:absolute;left:80px;height:20px;width:88px;z-index:1; }
#EYVGZOWRXB {top:7px;position:absolute;left:336px;height:20px;width:120px;z-index:1; }
#EYVGZOWRXB { vertical-align:middle; }
#NLKUPADSWZ_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NLKUPADSWZ_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='old'] #NLKUPADSWZ_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='yes'] #NLKUPADSWZ_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#ABIQSFLWTR {top:35px;position:absolute;left:80px;height:20px;width:912px;z-index:1; }
#RQZOLJOMQX_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RQZOLJOMQX_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='old'] #RQZOLJOMQX_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='yes'] #RQZOLJOMQX_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#TVIEWENHZP {top:63px;position:absolute;left:80px;height:20px;width:120px;text-align:right;z-index:1; }
#OOPCWRUFZN_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OOPCWRUFZN_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='old'] #OOPCWRUFZN_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='yes'] #OOPCWRUFZN_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#KQMZCLHBEJ {top:63px;position:absolute;left:336px;height:20px;width:120px;text-align:right;z-index:1; }
#QHAKSVZYOO_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QHAKSVZYOO_DIV {left:278px;height:16px;width:57px;}
BODY[ettl='old'] #QHAKSVZYOO_DIV {left:278px;height:16px;width:57px;}
BODY[ettl='yes'] #QHAKSVZYOO_DIV {right:calc(100% - 335px);letter-spacing:-1px;}
#VKFFPTBUJV {top:63px;position:absolute;left:656px;height:20px;width:30px;text-align:right;z-index:1; }
#VGRRUPTDXL_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VGRRUPTDXL_DIV {left:580px;height:16px;width:75px;}
BODY[ettl='old'] #VGRRUPTDXL_DIV {left:580px;height:16px;width:75px;}
BODY[ettl='yes'] #VGRRUPTDXL_DIV {right:calc(100% - 655px);letter-spacing:-1px;}
#XXKOYVYEIK_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XXKOYVYEIK_DIV {left:286px;height:16px;width:50px;}
BODY[ettl='old'] #XXKOYVYEIK_DIV {left:286px;height:16px;width:50px;}
BODY[ettl='yes'] #XXKOYVYEIK_DIV {right:calc(100% - 336px);letter-spacing:-1px;}
#NLKUPADSWZ_DIV, #RQZOLJOMQX_DIV, #OOPCWRUFZN_DIV, #QHAKSVZYOO_DIV, #VGRRUPTDXL_DIV, #XXKOYVYEIK_DIV {overflow:hidden;}
#PZFVIVIVXJ, #EYVGZOWRXB, #ABIQSFLWTR, #TVIEWENHZP, #KQMZCLHBEJ, #VKFFPTBUJV {box-sizing : border-box;}
