.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#QAYKOOSYVY {top:18px;position:absolute;left:80px;height:20px;width:42px;z-index:1; }
#MOTSAXCFKX_DIV {top:22px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MOTSAXCFKX_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='old'] #MOTSAXCFKX_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='yes'] #MOTSAXCFKX_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#EHCXVAOPQZ {top:45px;position:absolute;left:80px;height:72px;width:376px;z-index:1; }
#SVRJFVKKIC_DIV {top:49px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SVRJFVKKIC_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='old'] #SVRJFVKKIC_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='yes'] #SVRJFVKKIC_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#WPNPIZPKPB {top:18px;position:absolute;left:424px;height:20px;width:32px;text-align:right;z-index:1; }
#TRTQZEAWPK_DIV {top:22px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRTQZEAWPK_DIV {left:320px;height:16px;width:101px;}
BODY[ettl='old'] #TRTQZEAWPK_DIV {left:320px;height:16px;width:101px;}
BODY[ettl='yes'] #TRTQZEAWPK_DIV {right:calc(100% - 421px);}
#MOTSAXCFKX_DIV, #SVRJFVKKIC_DIV, #TRTQZEAWPK_DIV {overflow:hidden;}
#QAYKOOSYVY, #EHCXVAOPQZ, #WPNPIZPKPB {box-sizing : border-box;}
