.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#HYBRJINCEX {top:14px;position:absolute;left:112px;height:20px;width:56px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#XWLSXGXTML_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #XWLSXGXTML_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #XWLSXGXTML_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #XWLSXGXTML_DIV {right:calc(100% - 111px);}
#CHXZERJJZJ {top:42px;position:absolute;left:112px;height:20px;width:552px;z-index:1; }
#OHBEGWUQWF_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OHBEGWUQWF_DIV {left:53px;height:16px;width:58px;}
BODY[ettl='old'] #OHBEGWUQWF_DIV {left:53px;height:16px;width:58px;}
BODY[ettl='yes'] #OHBEGWUQWF_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#VDOLZFWZIW {top:70px;position:absolute;left:112px;height:20px;width:40px;z-index:1; }
#VDOLZFWZIW_ZOOM { position:absolute;top:70px;left:153px;height:20px;width:17px;z-index:1;}
#CJBJWUDJBI_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CJBJWUDJBI_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='old'] #CJBJWUDJBI_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='yes'] #CJBJWUDJBI_DIV {right:calc(100% - 111px);}
#DMYIBOGLPB {top:98px;position:absolute;left:112px;height:20px;width:40px;z-index:1; }
#DMYIBOGLPB_ZOOM { position:absolute;top:98px;left:153px;height:20px;width:17px;z-index:1;}
#UUBZOZXMGV_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UUBZOZXMGV_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #UUBZOZXMGV_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #UUBZOZXMGV_DIV {right:calc(100% - 111px);}
#AHUQNNIDWH_DIV {top:74px;position:absolute;left:176px;height:16px;width:488px;color:#0000FF;text-align:left;z-index:1;}
#GMFLEXZWOL_DIV {top:102px;position:absolute;left:176px;height:16px;width:472px;color:#0000FF;text-align:left;z-index:1;}
#CRBMFUASKW {top:126px;position:absolute;left:112px;height:20px;width:24px;z-index:1; }
#WBHZCJAKUA_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WBHZCJAKUA_DIV {left:78px;height:16px;width:34px;}
BODY[ettl='old'] #WBHZCJAKUA_DIV {left:78px;height:16px;width:34px;}
BODY[ettl='yes'] #WBHZCJAKUA_DIV {right:calc(100% - 112px);letter-spacing:-1px;}
#RIBSWSIRGO {top:126px;position:absolute;left:280px;height:20px;width:352px;z-index:1; }
#RIBSWSIRGO { vertical-align:middle; }
#MKGBXLUVZR_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MKGBXLUVZR_DIV {left:198px;height:16px;width:82px;}
BODY[ettl='old'] #MKGBXLUVZR_DIV {left:198px;height:16px;width:82px;}
BODY[ettl='yes'] #MKGBXLUVZR_DIV {right:calc(100% - 280px);letter-spacing:-1px;}
#BISHTFICXQ_DIV {top:181px;position:absolute;left:160px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#CAZXFCMTRO {top:154px;position:absolute;left:280px;height:20px;width:352px;z-index:1; }
#CAZXFCMTRO { vertical-align:middle; }
#QHHBDXIAQH_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QHHBDXIAQH_DIV {left:187px;height:16px;width:93px;}
BODY[ettl='old'] #QHHBDXIAQH_DIV {left:187px;height:16px;width:93px;}
BODY[ettl='yes'] #QHHBDXIAQH_DIV {right:calc(100% - 280px);letter-spacing:-1px;}
#VDGKIUDVJY_DIV {top:182px;position:absolute;left:368px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#XWLSXGXTML_DIV, #OHBEGWUQWF_DIV, #CJBJWUDJBI_DIV, #UUBZOZXMGV_DIV, #AHUQNNIDWH_DIV, #GMFLEXZWOL_DIV, #WBHZCJAKUA_DIV, #MKGBXLUVZR_DIV, #QHHBDXIAQH_DIV {overflow:hidden;}
#HYBRJINCEX, #CHXZERJJZJ, #VDOLZFWZIW, #DMYIBOGLPB, #CRBMFUASKW, #RIBSWSIRGO, #BISHTFICXQ_DIV, #CAZXFCMTRO, #VDGKIUDVJY_DIV {box-sizing : border-box;}
