.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IQAQZDNBKW {top:14px;position:absolute;left:80px;height:20px;width:32px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#SYVBCHLOPY_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #SYVBCHLOPY_DIV {left:35px;height:16px;width:44px;}
BODY[ettl='old'] #SYVBCHLOPY_DIV {left:35px;height:16px;width:44px;}
BODY[ettl='yes'] #SYVBCHLOPY_DIV {right:calc(100% - 79px);}
#JVJULEWPVM {top:14px;position:absolute;left:208px;height:20px;width:102px;z-index:1; }
#VYAYOGVEUZ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VYAYOGVEUZ_DIV {left:144px;height:16px;width:63px;}
BODY[ettl='old'] #VYAYOGVEUZ_DIV {left:144px;height:16px;width:63px;}
BODY[ettl='yes'] #VYAYOGVEUZ_DIV {right:calc(100% - 207px);letter-spacing:-1px;}
#UNOBNPHHEV {top:49px;position:absolute;left:24px;height:145px;width:301px;z-index:1;}
#SYVBCHLOPY_DIV, #VYAYOGVEUZ_DIV {overflow:hidden;}
#IQAQZDNBKW, #JVJULEWPVM {box-sizing : border-box;}
