.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:63px;z-index:0;width:696px;top:7px;left:8px;}
#WXGOCNXMMY {top:14px;position:absolute;left:96px;height:20px;width:48px;z-index:1; }
#OZNDYYDBLY_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OZNDYYDBLY_DIV {left:59px;height:16px;width:36px;}
BODY[ettl='old'] #OZNDYYDBLY_DIV {left:59px;height:16px;width:36px;}
BODY[ettl='yes'] #OZNDYYDBLY_DIV {right:calc(100% - 95px);letter-spacing:-1px;}
#QNVZYIVBZB {top:14px;position:absolute;left:240px;height:20px;width:432px;z-index:1; }
#FQFUYMCBDC_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FQFUYMCBDC_DIV {left:181px;height:16px;width:58px;}
BODY[ettl='old'] #FQFUYMCBDC_DIV {left:181px;height:16px;width:58px;}
BODY[ettl='yes'] #FQFUYMCBDC_DIV {right:calc(100% - 239px);letter-spacing:-1px;}
#JRJGWESTVE {top:42px;position:absolute;left:96px;height:20px;width:48px;z-index:1; }
#JRJGWESTVE_ZOOM { position:absolute;top:42px;left:145px;height:20px;width:17px;z-index:1;}
#SGGIOYRKTN_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SGGIOYRKTN_DIV {left:17px;height:16px;width:78px;}
BODY[ettl='old'] #SGGIOYRKTN_DIV {left:17px;height:16px;width:78px;}
BODY[ettl='yes'] #SGGIOYRKTN_DIV {right:calc(100% - 95px);letter-spacing:-1px;}
#JKTDOFMWFL_DIV {top:46px;position:absolute;left:176px;height:16px;width:256px;color:#0000FF;text-align:left;z-index:1;}
#RYRRYSUJBK {top:42px;position:absolute;left:632px;height:20px;width:42px;z-index:1; }
#WSCLTZNWPS_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WSCLTZNWPS_DIV {left:563px;height:16px;width:69px;}
BODY[ettl='old'] #WSCLTZNWPS_DIV {left:563px;height:16px;width:69px;}
BODY[ettl='yes'] #WSCLTZNWPS_DIV {right:calc(100% - 632px);letter-spacing:-1px;}
#YORQOIOBQN, #OZNDYYDBLY_DIV, #FQFUYMCBDC_DIV, #SGGIOYRKTN_DIV, #JKTDOFMWFL_DIV, #WSCLTZNWPS_DIV {overflow:hidden;}
#YORQOIOBQN, #WXGOCNXMMY, #QNVZYIVBZB, #JRJGWESTVE, #RYRRYSUJBK {box-sizing : border-box;}
