.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#SWIXXXOOHL {top:7px;position:absolute;left:112px;height:20px;width:72px;text-align:right;z-index:1; }
#WWBHZFBWSC_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWBHZFBWSC_DIV {left:72px;height:16px;width:39px;}
BODY[ettl='old'] #WWBHZFBWSC_DIV {left:72px;height:16px;width:39px;}
BODY[ettl='yes'] #WWBHZFBWSC_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#JJGGLREGPJ {top:35px;position:absolute;left:112px;height:20px;width:352px;z-index:1; }
#JJGGLREGPJ { vertical-align:middle; }
#FTLYOSKZFL_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FTLYOSKZFL_DIV {left:55px;height:16px;width:56px;}
BODY[ettl='old'] #FTLYOSKZFL_DIV {left:55px;height:16px;width:56px;}
BODY[ettl='yes'] #FTLYOSKZFL_DIV {right:calc(100% - 111px);}
#UJTOVLNUSR_DIV {top:62px;position:absolute;left:112px;height:21px;width:136px;overflow:hidden;white-space:nowrap;z-index:1; }
#HBQLZAGMVV {top:91px;position:absolute;left:112px;height:20px;width:372px;z-index:1; }
#KQIJGSSJZM_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KQIJGSSJZM_DIV {left:78px;height:16px;width:33px;}
BODY[ettl='old'] #KQIJGSSJZM_DIV {left:78px;height:16px;width:33px;}
BODY[ettl='yes'] #KQIJGSSJZM_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#DXXWPHEGDY {top:119px;position:absolute;left:112px;height:196px;width:608px;overflow:auto;z-index:1; }
#LTZLAALOWH_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LTZLAALOWH_DIV {left:48px;height:16px;width:63px;}
BODY[ettl='old'] #LTZLAALOWH_DIV {left:48px;height:16px;width:63px;}
BODY[ettl='yes'] #LTZLAALOWH_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#CUJWZRIREL {top:63px;position:absolute;left:400px;height:20px;width:64px;text-align:right;z-index:1; }
#CUJWZRIREL_ZOOM { position:absolute;top:63px;left:465px;height:20px;width:17px;z-index:1;}
#WEUEZJBPPC_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WEUEZJBPPC_DIV {left:316px;height:16px;width:83px;}
BODY[ettl='old'] #WEUEZJBPPC_DIV {left:316px;height:16px;width:83px;}
BODY[ettl='yes'] #WEUEZJBPPC_DIV {right:calc(100% - 399px);letter-spacing:-1px;}
#DLDDEEJTBX {top:14px;position:absolute;left:24px;height:287px;width:689px;z-index:1;}
#IQTXUVONAM { height:308px;z-index:0;}
#IQTXUVONAM_DIV { position:relative;z-index:0;width:100%;}
#USYOMFBTEF {top:7px;position:absolute;left:640px;height:20px;width:80px;text-align:right;z-index:1; }
#XKQCAINFDP_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XKQCAINFDP_DIV {left:545px;height:16px;width:95px;}
BODY[ettl='old'] #XKQCAINFDP_DIV {left:545px;height:16px;width:95px;}
BODY[ettl='yes'] #XKQCAINFDP_DIV {right:calc(100% - 640px);letter-spacing:-1px;}
#WPMHHPHZCF {top:7px;position:absolute;left:8px;height:413px;width:680px;height:413px;right:0px;z-index:1;overflow:auto;}
BODY[ettl='yes'] #UJTOVLNUSR_DIV {letter-spacing:-1px;}
#WWBHZFBWSC_DIV, #FTLYOSKZFL_DIV, #KQIJGSSJZM_DIV, #LTZLAALOWH_DIV, #WEUEZJBPPC_DIV, #IQTXUVONAM, #XKQCAINFDP_DIV {overflow:hidden;}
#SWIXXXOOHL, #JJGGLREGPJ, #UJTOVLNUSR_DIV, #HBQLZAGMVV, #DXXWPHEGDY, #CUJWZRIREL, #IQTXUVONAM, #USYOMFBTEF {box-sizing : border-box;}
