.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:287px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#RVOXKWUSWH {top:14px;position:absolute;left:104px;height:20px;width:128px;z-index:1; }
#RVOXKWUSWH_ZOOM { position:absolute;top:14px;left:233px;height:20px;width:17px;z-index:1;}
#KJQITLYMMC_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KJQITLYMMC_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='old'] #KJQITLYMMC_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='yes'] #KJQITLYMMC_DIV {right:calc(100% - 104px);}
#MHLZXPEYVJ_DIV {top:18px;position:absolute;left:256px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#SZFKAURTJA {top:14px;position:absolute;left:775px;height:20px;width:49px;z-index:1; }
#KFXMICMFOS_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KFXMICMFOS_DIV {left:648px;height:16px;width:127px;}
BODY[ettl='old'] #KFXMICMFOS_DIV {left:648px;height:16px;width:127px;}
BODY[ettl='yes'] #KFXMICMFOS_DIV {right:calc(100% - 775px);}
#PXVUKDVPLL {top:42px;position:absolute;left:104px;height:20px;width:128px;z-index:1; }
#PXVUKDVPLL_ZOOM { position:absolute;top:42px;left:233px;height:20px;width:17px;z-index:1;}
#VFEQDOQQHZ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VFEQDOQQHZ_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='old'] #VFEQDOQQHZ_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='yes'] #VFEQDOQQHZ_DIV {right:calc(100% - 104px);}
#VWGJZMZAPH_DIV {top:46px;position:absolute;left:256px;height:16px;width:392px;color:#0000FF;text-align:left;z-index:1;}
#ENOHXMETFI {top:70px;position:absolute;left:104px;height:20px;width:114px;text-align:right;z-index:1; }
#ZSIUNZUBNS_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZSIUNZUBNS_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='old'] #ZSIUNZUBNS_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='yes'] #ZSIUNZUBNS_DIV {right:calc(100% - 104px);}
#APWPUKFDMF {top:70px;position:absolute;left:328px;height:20px;width:48px;text-align:right;z-index:1; }
#BHGIVCPLNL_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BHGIVCPLNL_DIV {left:232px;height:16px;width:96px;}
BODY[ettl='old'] #BHGIVCPLNL_DIV {left:232px;height:16px;width:96px;}
BODY[ettl='yes'] #BHGIVCPLNL_DIV {right:calc(100% - 328px);}
#BDCVNEPJXV {top:70px;position:absolute;left:504px;height:20px;width:320px;z-index:1; }
#BDCVNEPJXV { vertical-align:middle; }
#YKKUHDUDJP_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YKKUHDUDJP_DIV {left:400px;height:16px;width:104px;}
BODY[ettl='old'] #YKKUHDUDJP_DIV {left:400px;height:16px;width:104px;}
BODY[ettl='yes'] #YKKUHDUDJP_DIV {right:calc(100% - 504px);}
#KXSLYMBVDR {top:126px;position:absolute;left:104px;height:20px;width:312px;z-index:1; }
#OXLMBKAUES_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OXLMBKAUES_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='old'] #OXLMBKAUES_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='yes'] #OXLMBKAUES_DIV {right:calc(100% - 104px);}
#IWGAASAAMD {top:98px;position:absolute;left:696px;height:20px;width:128px;z-index:1; }
#CKCOZYZVSP_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CKCOZYZVSP_DIV {left:546px;height:16px;width:150px;}
BODY[ettl='old'] #CKCOZYZVSP_DIV {left:546px;height:16px;width:150px;}
BODY[ettl='yes'] #CKCOZYZVSP_DIV {right:calc(100% - 696px);letter-spacing:-1px;}
#AIQQNOUGRA_DIV {top:154px;position:absolute;left:104px;height:21px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#OKHZSQAMSZ {top:155px;position:absolute;left:200px;height:20px;width:72px;text-align:right;z-index:1; }
#NMPRSQUWWU {top:155px;position:absolute;left:384px;height:20px;width:72px;text-align:right;z-index:1; }
#NYVMCAHSOD_DIV {top:159px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NYVMCAHSOD_DIV {left:288px;height:16px;width:96px;}
BODY[ettl='old'] #NYVMCAHSOD_DIV {left:288px;height:16px;width:96px;}
BODY[ettl='yes'] #NYVMCAHSOD_DIV {right:calc(100% - 384px);}
#FPJQZIYEKX_DIV {top:154px;position:absolute;left:507px;height:21px;width:133px;overflow:hidden;white-space:nowrap;z-index:1; }
#ICEJVXXFJJ {top:155px;position:absolute;left:640px;height:20px;width:72px;text-align:right;z-index:1; }
#ECLOQFLQTF {top:184px;position:absolute;left:104px;height:20px;width:90px;z-index:1; }
#WBTEEHJNEK_DIV {top:188px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WBTEEHJNEK_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='old'] #WBTEEHJNEK_DIV {left:8px;height:16px;width:96px;}
BODY[ettl='yes'] #WBTEEHJNEK_DIV {right:calc(100% - 104px);}
#ZHVHNJYLBS_DIV {top:183px;position:absolute;left:507px;height:21px;width:133px;overflow:hidden;white-space:nowrap;z-index:1; }
#EIWTVZVLOO {top:184px;position:absolute;left:640px;height:20px;width:72px;text-align:right;z-index:1; }
#ERFGDWAQVY {top:126px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#KINMWWRRUA {top:154px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#SQOAICWIPS {top:42px;position:absolute;left:752px;height:20px;width:72px;text-align:right;z-index:1; }
#PSCRBRMUQP_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PSCRBRMUQP_DIV {left:616px;height:16px;width:136px;}
BODY[ettl='old'] #PSCRBRMUQP_DIV {left:616px;height:16px;width:136px;}
BODY[ettl='yes'] #PSCRBRMUQP_DIV {right:calc(100% - 752px);}
#LJBUMZNQNX {top:182px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#JZEQARRYBY {top:210px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#MQNULTJTDU_DIV {top:217px;position:absolute;left:104px;height:21px;width:344px;overflow:hidden;white-space:nowrap;z-index:1; }
#QNVJXJSDFW {top:238px;position:absolute;left:720px;height:25px;width:104px;z-index:1;}
#DQASOJYMWJ {top:98px;position:absolute;left:104px;height:20px;width:440px;z-index:1; }
#DQASOJYMWJ { vertical-align:middle; }
#YGUICXLTAA_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YGUICXLTAA_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='old'] #YGUICXLTAA_DIV {left:16px;height:16px;width:88px;}
BODY[ettl='yes'] #YGUICXLTAA_DIV {right:calc(100% - 104px);}
#YBDSVYFUDJ { height:280px;z-index:0;}
#YBDSVYFUDJ_DIV { position:relative;z-index:0;width:100%;}
#EARPHZNBLQ {top:14px;position:absolute;left:16px;height:164px;width:843px;z-index:1;}
BODY[ettl='yes'] #AIQQNOUGRA_DIV, BODY[ettl='yes'] #FPJQZIYEKX_DIV, BODY[ettl='yes'] #ZHVHNJYLBS_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #KJQITLYMMC_DIV, #MHLZXPEYVJ_DIV, #KFXMICMFOS_DIV, #VFEQDOQQHZ_DIV, #VWGJZMZAPH_DIV, #ZSIUNZUBNS_DIV, #BHGIVCPLNL_DIV, #YKKUHDUDJP_DIV, #OXLMBKAUES_DIV, #CKCOZYZVSP_DIV, #NYVMCAHSOD_DIV, #WBTEEHJNEK_DIV, #PSCRBRMUQP_DIV, #YGUICXLTAA_DIV, #YBDSVYFUDJ {overflow:hidden;}
#YORQOIOBQN, #RVOXKWUSWH, #SZFKAURTJA, #PXVUKDVPLL, #ENOHXMETFI, #APWPUKFDMF, #BDCVNEPJXV, #KXSLYMBVDR, #IWGAASAAMD, #AIQQNOUGRA_DIV, #OKHZSQAMSZ, #NMPRSQUWWU, #FPJQZIYEKX_DIV, #ICEJVXXFJJ, #ECLOQFLQTF, #ZHVHNJYLBS_DIV, #EIWTVZVLOO, #SQOAICWIPS, #MQNULTJTDU_DIV, #DQASOJYMWJ, #YBDSVYFUDJ {box-sizing : border-box;}
