.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ZREZPELSUN {top:7px;position:absolute;left:136px;height:20px;width:56px;z-index:1; }
#ZREZPELSUN_ZOOM { position:absolute;top:7px;left:193px;height:20px;width:17px;z-index:1;}
#BGFYJGORLM_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGFYJGORLM_DIV {left:25px;height:16px;width:109px;}
BODY[ettl='old'] #BGFYJGORLM_DIV {left:25px;height:16px;width:109px;}
BODY[ettl='yes'] #BGFYJGORLM_DIV {right:calc(100% - 134px);letter-spacing:-1px;}
#MIUSAXPCSV_DIV {top:11px;position:absolute;left:216px;height:16px;width:208px;color:#0000FF;text-align:left;z-index:1;}
#FNBYGXHNIM {top:35px;position:absolute;left:136px;height:20px;width:192px;z-index:1; }
#BFBTXOURMI_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BFBTXOURMI_DIV {left:102px;height:16px;width:34px;}
BODY[ettl='old'] #BFBTXOURMI_DIV {left:102px;height:16px;width:34px;}
BODY[ettl='yes'] #BFBTXOURMI_DIV {right:calc(100% - 136px);letter-spacing:-1px;}
#FXNTRTAGEY {top:35px;position:absolute;left:432px;height:20px;width:224px;z-index:1; }
#ANEEIMQZLW_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ANEEIMQZLW_DIV {left:379px;height:16px;width:53px;}
BODY[ettl='old'] #ANEEIMQZLW_DIV {left:379px;height:16px;width:53px;}
BODY[ettl='yes'] #ANEEIMQZLW_DIV {right:calc(100% - 432px);letter-spacing:-1px;}
#PAUJKEOANA {top:63px;position:absolute;left:136px;height:20px;width:312px;z-index:1; }
#LMRGKWVTUE_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LMRGKWVTUE_DIV {left:106px;height:16px;width:30px;}
BODY[ettl='old'] #LMRGKWVTUE_DIV {left:106px;height:16px;width:30px;}
BODY[ettl='yes'] #LMRGKWVTUE_DIV {right:calc(100% - 136px);letter-spacing:-1px;}
#ZOWNCPBLEN {top:63px;position:absolute;left:576px;height:20px;width:80px;z-index:1; }
#BIOERCWZCX_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BIOERCWZCX_DIV {left:506px;height:16px;width:70px;}
BODY[ettl='old'] #BIOERCWZCX_DIV {left:506px;height:16px;width:70px;}
BODY[ettl='yes'] #BIOERCWZCX_DIV {right:calc(100% - 576px);letter-spacing:-1px;}
#APFQXJVZBE_DIV {top:90px;position:absolute;left:136px;height:21px;width:312px;overflow:hidden;white-space:nowrap;z-index:1; }
#ELUCVKUSNX {top:91px;position:absolute;left:576px;height:20px;width:80px;text-align:right;z-index:1; }
#VOXMXEKIUF_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VOXMXEKIUF_DIV {left:451px;height:16px;width:125px;}
BODY[ettl='old'] #VOXMXEKIUF_DIV {left:451px;height:16px;width:125px;}
BODY[ettl='yes'] #VOXMXEKIUF_DIV {right:calc(100% - 576px);letter-spacing:-1px;}
#BGFYJGORLM_DIV, #MIUSAXPCSV_DIV, #BFBTXOURMI_DIV, #ANEEIMQZLW_DIV, #LMRGKWVTUE_DIV, #BIOERCWZCX_DIV, #VOXMXEKIUF_DIV {overflow:hidden;}
#ZREZPELSUN, #FNBYGXHNIM, #FXNTRTAGEY, #PAUJKEOANA, #ZOWNCPBLEN, #APFQXJVZBE_DIV, #ELUCVKUSNX {box-sizing : border-box;}
