.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PJHHWQGBUG {top:11px;position:absolute;left:154px;height:20px;width:43px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#FZZCREAXJM_DIV {top:15px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #FZZCREAXJM_DIV {left:109px;height:16px;width:44px;}
BODY[ettl='old'] #FZZCREAXJM_DIV {left:109px;height:16px;width:44px;}
BODY[ettl='yes'] #FZZCREAXJM_DIV {right:calc(100% - 153px);}
#SCCDXTUURS {top:11px;position:absolute;left:264px;height:20px;width:372px;z-index:1; }
#SKUVMDZATP_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SKUVMDZATP_DIV {left:200px;height:16px;width:63px;}
BODY[ettl='old'] #SKUVMDZATP_DIV {left:200px;height:16px;width:63px;}
BODY[ettl='yes'] #SKUVMDZATP_DIV {right:calc(100% - 263px);letter-spacing:-1px;}
#XGRDYFUCPE {top:36px;position:absolute;left:154px;height:236px;width:482px;overflow:auto;z-index:1; }
#CHWTJHXRFH_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CHWTJHXRFH_DIV {left:53px;height:16px;width:100px;}
BODY[ettl='old'] #CHWTJHXRFH_DIV {left:53px;height:16px;width:100px;}
BODY[ettl='yes'] #CHWTJHXRFH_DIV {right:calc(100% - 153px);letter-spacing:-1px;}
#YNYVYIMRFE {top:275px;position:absolute;left:154px;height:236px;width:482px;overflow:auto;z-index:1; }
#ZWVRZCQWEK_DIV {top:279px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZWVRZCQWEK_DIV {left:5px;height:16px;width:148px;}
BODY[ettl='old'] #ZWVRZCQWEK_DIV {left:5px;height:16px;width:148px;}
BODY[ettl='yes'] #ZWVRZCQWEK_DIV {right:calc(100% - 153px);letter-spacing:-1px;}
#FZZCREAXJM_DIV, #SKUVMDZATP_DIV, #CHWTJHXRFH_DIV, #ZWVRZCQWEK_DIV {overflow:hidden;}
#PJHHWQGBUG, #SCCDXTUURS, #XGRDYFUCPE, #YNYVYIMRFE {box-sizing : border-box;}
