.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:63px;z-index:0;width:296px;top:7px;left:8px;}
#UZYCBNGKAF {top:14px;position:absolute;left:88px;height:20px;width:32px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WHIORQWGET_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WHIORQWGET_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='old'] #WHIORQWGET_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='yes'] #WHIORQWGET_DIV {right:calc(100% - 82px);}
#LQAMKFKRGQ {top:41px;position:absolute;left:88px;height:20px;width:208px;z-index:1; }
#PHRWRIONIJ_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PHRWRIONIJ_DIV {left:16px;height:16px;width:68px;}
BODY[ettl='old'] #PHRWRIONIJ_DIV {left:16px;height:16px;width:68px;}
BODY[ettl='yes'] #PHRWRIONIJ_DIV {right:calc(100% - 84px);}
#YORQOIOBQN, #WHIORQWGET_DIV, #PHRWRIONIJ_DIV {overflow:hidden;}
#YORQOIOBQN, #UZYCBNGKAF, #LQAMKFKRGQ {box-sizing : border-box;}
