.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:63px;z-index:0;width:528px;top:7px;left:8px;}
#HGAXRLVKSP {top:14px;position:absolute;left:88px;height:20px;width:30px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#SSCFLXWIVE_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #SSCFLXWIVE_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='old'] #SSCFLXWIVE_DIV {left:40px;height:16px;width:42px;}
BODY[ettl='yes'] #SSCFLXWIVE_DIV {right:calc(100% - 82px);}
#IGZNNVTZCL {top:42px;position:absolute;left:88px;height:20px;width:440px;z-index:1; }
#XURVANIYSD_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XURVANIYSD_DIV {left:14px;height:16px;width:68px;}
BODY[ettl='old'] #XURVANIYSD_DIV {left:14px;height:16px;width:68px;}
BODY[ettl='yes'] #XURVANIYSD_DIV {right:calc(100% - 82px);}
#YORQOIOBQN, #SSCFLXWIVE_DIV, #XURVANIYSD_DIV {overflow:hidden;}
#YORQOIOBQN, #HGAXRLVKSP, #IGZNNVTZCL {box-sizing : border-box;}
