.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FTQDGTJKVC {top:14px;position:absolute;left:96px;height:20px;width:46px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WPHUKTKUJH_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WPHUKTKUJH_DIV {left:40px;height:16px;width:55px;}
BODY[ettl='old'] #WPHUKTKUJH_DIV {left:40px;height:16px;width:55px;}
BODY[ettl='yes'] #WPHUKTKUJH_DIV {right:calc(100% - 95px);}
#NUNXOFFWEU {top:42px;position:absolute;left:96px;height:20px;width:384px;z-index:1; }
#ODDMRVPOPW_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ODDMRVPOPW_DIV {left:32px;height:16px;width:63px;}
BODY[ettl='old'] #ODDMRVPOPW_DIV {left:32px;height:16px;width:63px;}
BODY[ettl='yes'] #ODDMRVPOPW_DIV {right:calc(100% - 95px);letter-spacing:-1px;}
#WPHUKTKUJH_DIV, #ODDMRVPOPW_DIV {overflow:hidden;}
#FTQDGTJKVC, #NUNXOFFWEU {box-sizing : border-box;}
