.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:175px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:175px;z-index:0;width:704px;top:7px;left:8px;}
#KYSFYTLMNO {top:14px;position:absolute;left:104px;height:20px;width:32px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#BXVCJMERRG_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BXVCJMERRG_DIV {left:16px;height:16px;width:85px;}
BODY[ettl='old'] #BXVCJMERRG_DIV {left:16px;height:16px;width:85px;}
BODY[ettl='yes'] #BXVCJMERRG_DIV {right:calc(100% - 101px);}
#JHHFBCVDFM {top:41px;position:absolute;left:104px;height:20px;width:582px;z-index:1; }
#BNVGNLZGGB_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BNVGNLZGGB_DIV {left:16px;height:16px;width:85px;}
BODY[ettl='old'] #BNVGNLZGGB_DIV {left:16px;height:16px;width:85px;}
BODY[ettl='yes'] #BNVGNLZGGB_DIV {right:calc(100% - 101px);}
#UGMIJICNYC {top:70px;position:absolute;left:104px;height:20px;width:72px;text-align:right;z-index:1; }
#TISXMDCETY_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TISXMDCETY_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='old'] #TISXMDCETY_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='yes'] #TISXMDCETY_DIV {right:calc(100% - 101px);}
#RFAYNTMUSW {top:70px;position:absolute;left:280px;height:20px;width:72px;text-align:right;z-index:1; }
#WTFOCEYBNU_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WTFOCEYBNU_DIV {left:192px;height:16px;width:82px;}
BODY[ettl='old'] #WTFOCEYBNU_DIV {left:192px;height:16px;width:82px;}
BODY[ettl='yes'] #WTFOCEYBNU_DIV {right:calc(100% - 274px);}
#AGUMDTGLPU {top:154px;position:absolute;left:104px;height:20px;width:248px;z-index:1; }
#AGUMDTGLPU { vertical-align:middle; }
#XUPDJQAVWA_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XUPDJQAVWA_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='old'] #XUPDJQAVWA_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='yes'] #XUPDJQAVWA_DIV {right:calc(100% - 101px);}
#QQTLOBKJYW {top:98px;position:absolute;left:104px;height:20px;width:582px;z-index:1; }
#GUOCXDTENN_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GUOCXDTENN_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='old'] #GUOCXDTENN_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='yes'] #GUOCXDTENN_DIV {right:calc(100% - 101px);}
#UAGKCIWRAE {top:127px;position:absolute;left:104px;height:20px;width:72px;text-align:right;z-index:1; }
#TLBUKTGWHE_DIV {top:131px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TLBUKTGWHE_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='old'] #TLBUKTGWHE_DIV {left:8px;height:16px;width:93px;}
BODY[ettl='yes'] #TLBUKTGWHE_DIV {right:calc(100% - 101px);}
#RLLSZMIXEQ {top:127px;position:absolute;left:280px;height:20px;width:72px;text-align:right;z-index:1; }
#BAQYAPSEEN_DIV {top:131px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BAQYAPSEEN_DIV {left:192px;height:16px;width:82px;}
BODY[ettl='old'] #BAQYAPSEEN_DIV {left:192px;height:16px;width:82px;}
BODY[ettl='yes'] #BAQYAPSEEN_DIV {right:calc(100% - 274px);}
#YORQOIOBQN, #BXVCJMERRG_DIV, #BNVGNLZGGB_DIV, #TISXMDCETY_DIV, #WTFOCEYBNU_DIV, #XUPDJQAVWA_DIV, #GUOCXDTENN_DIV, #TLBUKTGWHE_DIV, #BAQYAPSEEN_DIV {overflow:hidden;}
#YORQOIOBQN, #KYSFYTLMNO, #JHHFBCVDFM, #UGMIJICNYC, #RFAYNTMUSW, #AGUMDTGLPU, #QQTLOBKJYW, #UAGKCIWRAE, #RLLSZMIXEQ {box-sizing : border-box;}
