.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:175px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:175px;z-index:0;width:456px;top:7px;left:8px;}
#YNMIZJQYRY {top:14px;position:absolute;left:128px;height:20px;width:72px;z-index:1; }
#CUYIVZIFCZ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CUYIVZIFCZ_DIV {left:48px;height:16px;width:81px;}
BODY[ettl='old'] #CUYIVZIFCZ_DIV {left:48px;height:16px;width:81px;}
BODY[ettl='yes'] #CUYIVZIFCZ_DIV {right:calc(100% - 129px);letter-spacing:-1px;}
#JQQLMQKNBX {top:42px;position:absolute;left:128px;height:20px;width:252px;z-index:1; }
#RAQEBEKWCP_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RAQEBEKWCP_DIV {left:64px;height:16px;width:65px;}
BODY[ettl='old'] #RAQEBEKWCP_DIV {left:64px;height:16px;width:65px;}
BODY[ettl='yes'] #RAQEBEKWCP_DIV {right:calc(100% - 129px);}
#UEJQOTYNAX {top:70px;position:absolute;left:128px;height:20px;width:132px;z-index:1; }
#QMJTAQOVVF_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QMJTAQOVVF_DIV {left:71px;height:16px;width:58px;}
BODY[ettl='old'] #QMJTAQOVVF_DIV {left:71px;height:16px;width:58px;}
BODY[ettl='yes'] #QMJTAQOVVF_DIV {right:calc(100% - 129px);}
#NMZFYXYKDM {top:98px;position:absolute;left:128px;height:20px;width:36px;text-align:right;z-index:1; }
#NMZFYXYKDM_ZOOM { position:absolute;top:98px;left:165px;height:20px;width:17px;z-index:1;}
#CJIZEIKIXB_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CJIZEIKIXB_DIV {left:27px;height:16px;width:102px;}
BODY[ettl='old'] #CJIZEIKIXB_DIV {left:27px;height:16px;width:102px;}
BODY[ettl='yes'] #CJIZEIKIXB_DIV {right:calc(100% - 129px);}
#HQCVHXWENH {top:126px;position:absolute;left:128px;height:20px;width:252px;z-index:1; }
#XLVVNNGBCK_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XLVVNNGBCK_DIV {left:95px;height:16px;width:34px;}
BODY[ettl='old'] #XLVVNNGBCK_DIV {left:95px;height:16px;width:34px;}
BODY[ettl='yes'] #XLVVNNGBCK_DIV {right:calc(100% - 129px);}
#ZKRXYNLUTO {top:154px;position:absolute;left:128px;height:20px;width:60px;text-align:right;z-index:1; }
#KSFJQWICZL_DIV {top:158px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KSFJQWICZL_DIV {left:15px;height:16px;width:114px;}
BODY[ettl='old'] #KSFJQWICZL_DIV {left:15px;height:16px;width:114px;}
BODY[ettl='yes'] #KSFJQWICZL_DIV {right:calc(100% - 129px);letter-spacing:-1px;}
#PORSATWCDE_DIV {top:102px;position:absolute;left:192px;height:16px;width:256px;color:#0000FF;text-align:left;z-index:1;}
#YORQOIOBQN, #CUYIVZIFCZ_DIV, #RAQEBEKWCP_DIV, #QMJTAQOVVF_DIV, #CJIZEIKIXB_DIV, #XLVVNNGBCK_DIV, #KSFJQWICZL_DIV, #PORSATWCDE_DIV {overflow:hidden;}
#YORQOIOBQN, #YNMIZJQYRY, #JQQLMQKNBX, #UEJQOTYNAX, #NMZFYXYKDM, #HQCVHXWENH, #ZKRXYNLUTO {box-sizing : border-box;}
