.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ZMSHEZWRBV {top:18px;position:absolute;left:80px;height:20px;width:42px;z-index:1; }
#QXIZLBHILH_DIV {top:22px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QXIZLBHILH_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='old'] #QXIZLBHILH_DIV {left:43px;height:16px;width:36px;}
BODY[ettl='yes'] #QXIZLBHILH_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#KXHZQTKZSE {top:45px;position:absolute;left:80px;height:20px;width:312px;z-index:1; }
#OXUPGSDKLA_DIV {top:49px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OXUPGSDKLA_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='old'] #OXUPGSDKLA_DIV {left:21px;height:16px;width:58px;}
BODY[ettl='yes'] #OXUPGSDKLA_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#WPNPIZPKPB {top:18px;position:absolute;left:360px;height:20px;width:32px;text-align:right;z-index:1; }
#TRTQZEAWPK_DIV {top:22px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRTQZEAWPK_DIV {left:240px;height:16px;width:117px;}
BODY[ettl='old'] #TRTQZEAWPK_DIV {left:240px;height:16px;width:117px;}
BODY[ettl='yes'] #TRTQZEAWPK_DIV {right:calc(100% - 357px);}
#QXIZLBHILH_DIV, #OXUPGSDKLA_DIV, #TRTQZEAWPK_DIV {overflow:hidden;}
#ZMSHEZWRBV, #KXHZQTKZSE, #WPNPIZPKPB {box-sizing : border-box;}
