.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#HAMGFXNOBZ {top:14px;position:absolute;left:144px;height:20px;width:56px;z-index:1; }
#VQTSKPEBNM_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VQTSKPEBNM_DIV {left:48px;height:16px;width:95px;}
BODY[ettl='old'] #VQTSKPEBNM_DIV {left:48px;height:16px;width:95px;}
BODY[ettl='yes'] #VQTSKPEBNM_DIV {right:calc(100% - 143px);letter-spacing:-1px;}
#FBTVENHVSF {top:14px;position:absolute;left:456px;height:20px;width:192px;z-index:1; }
#MYKSKVFXFD_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MYKSKVFXFD_DIV {left:397px;height:16px;width:58px;}
BODY[ettl='old'] #MYKSKVFXFD_DIV {left:397px;height:16px;width:58px;}
BODY[ettl='yes'] #MYKSKVFXFD_DIV {right:calc(100% - 455px);letter-spacing:-1px;}
#QGLRMYVVYR {top:42px;position:absolute;left:144px;height:20px;width:200px;z-index:1; }
#QGLRMYVVYR_ZOOM { position:absolute;top:42px;left:345px;height:20px;width:17px;z-index:1;}
#ELQXKWCBIV_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ELQXKWCBIV_DIV {left:116px;height:16px;width:27px;}
BODY[ettl='old'] #ELQXKWCBIV_DIV {left:116px;height:16px;width:27px;}
BODY[ettl='yes'] #ELQXKWCBIV_DIV {right:calc(100% - 143px);letter-spacing:-1px;}
#HEWLMIJUMK {top:42px;position:absolute;left:456px;height:20px;width:32px;z-index:1; }
#NLAOEAEHXY_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NLAOEAEHXY_DIV {left:408px;height:16px;width:47px;}
BODY[ettl='old'] #NLAOEAEHXY_DIV {left:408px;height:16px;width:47px;}
BODY[ettl='yes'] #NLAOEAEHXY_DIV {right:calc(100% - 455px);letter-spacing:-1px;}
#THQKFWRDKA {top:42px;position:absolute;left:584px;height:20px;width:64px;z-index:1; }
#LXOQHEQPUU_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXOQHEQPUU_DIV {left:556px;height:17px;width:24px;}
BODY[ettl='old'] #LXOQHEQPUU_DIV {left:556px;height:17px;width:24px;}
BODY[ettl='yes'] #LXOQHEQPUU_DIV {right:calc(100% - 580px);letter-spacing:-1px;}
#JVFMFSMZFE {top:98px;position:absolute;left:144px;height:20px;width:72px;z-index:1; }
#MKFSFNYCTH_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MKFSFNYCTH_DIV {left:68px;height:16px;width:75px;}
BODY[ettl='old'] #MKFSFNYCTH_DIV {left:68px;height:16px;width:75px;}
BODY[ettl='yes'] #MKFSFNYCTH_DIV {right:calc(100% - 143px);letter-spacing:-1px;}
#OJVLLPYCBU {top:70px;position:absolute;left:144px;height:20px;width:252px;z-index:1; }
#ODMNMHPECS_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ODMNMHPECS_DIV {left:99px;height:16px;width:44px;}
BODY[ettl='old'] #ODMNMHPECS_DIV {left:99px;height:16px;width:44px;}
BODY[ettl='yes'] #ODMNMHPECS_DIV {right:calc(100% - 143px);letter-spacing:-1px;}
#TGHRJMBUBA {top:70px;position:absolute;left:584px;height:20px;width:102px;z-index:1; }
#SQGTPRBIDT_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SQGTPRBIDT_DIV {left:537px;height:16px;width:46px;}
BODY[ettl='old'] #SQGTPRBIDT_DIV {left:537px;height:16px;width:46px;}
BODY[ettl='yes'] #SQGTPRBIDT_DIV {right:calc(100% - 583px);letter-spacing:-1px;}
#TVQKRQXOUS {top:162px;position:absolute;left:16px;height:128px;width:768px;overflow:auto;z-index:1; }
#AYCRVWSEMG_DIV {top:126px;position:absolute;left:584px;height:21px;width:146px;overflow:hidden;white-space:nowrap;z-index:1; }
#QAIJWTCCHF {top:98px;position:absolute;left:584px;height:20px;width:120px;z-index:1; }
#MHTMUMDSLD_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MHTMUMDSLD_DIV {left:491px;height:16px;width:93px;}
BODY[ettl='old'] #MHTMUMDSLD_DIV {left:491px;height:16px;width:93px;}
BODY[ettl='yes'] #MHTMUMDSLD_DIV {right:calc(100% - 584px);letter-spacing:-1px;}
#CKIITMJYDK {top:126px;position:absolute;left:144px;height:20px;width:84px;z-index:1; }
#FFIYNLYIZI_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FFIYNLYIZI_DIV {left:71px;height:16px;width:73px;}
BODY[ettl='old'] #FFIYNLYIZI_DIV {left:71px;height:16px;width:73px;}
BODY[ettl='yes'] #FFIYNLYIZI_DIV {right:calc(100% - 144px);letter-spacing:-1px;}
BODY[ettl='yes'] #AYCRVWSEMG_DIV {letter-spacing:-1px;}
#VQTSKPEBNM_DIV, #MYKSKVFXFD_DIV, #ELQXKWCBIV_DIV, #NLAOEAEHXY_DIV, #LXOQHEQPUU_DIV, #MKFSFNYCTH_DIV, #ODMNMHPECS_DIV, #SQGTPRBIDT_DIV, #MHTMUMDSLD_DIV, #FFIYNLYIZI_DIV {overflow:hidden;}
#HAMGFXNOBZ, #FBTVENHVSF, #QGLRMYVVYR, #HEWLMIJUMK, #THQKFWRDKA, #JVFMFSMZFE, #OJVLLPYCBU, #TGHRJMBUBA, #TVQKRQXOUS, #AYCRVWSEMG_DIV, #QAIJWTCCHF, #CKIITMJYDK {box-sizing : border-box;}
