.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:434px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#RCAIOHOYCN {top:7px;position:absolute;left:112px;height:20px;width:48px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#HHFRUECYAF_DIV {top:11px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HHFRUECYAF_DIV {left:32px;height:16px;width:79px;}
BODY[ettl='old'] #HHFRUECYAF_DIV {left:32px;height:16px;width:79px;}
BODY[ettl='yes'] #HHFRUECYAF_DIV {right:calc(100% - 111px);}
#PLTDFOMPMX {top:35px;position:absolute;left:112px;height:20px;width:376px;z-index:1; }
#RSSVRXXCCP_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RSSVRXXCCP_DIV {left:48px;height:16px;width:63px;}
BODY[ettl='old'] #RSSVRXXCCP_DIV {left:48px;height:16px;width:63px;}
BODY[ettl='yes'] #RSSVRXXCCP_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#DLCJAPAHNK {top:35px;position:absolute;left:600px;height:20px;width:84px;text-align:right;z-index:1; }
#PPZWLBHZXY_DIV {top:63px;position:absolute;left:112px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#SOFGJQQNFS {top:63px;position:absolute;left:472px;height:20px;width:216px;z-index:1; }
#SOFGJQQNFS { vertical-align:middle; }
#BEHWXHTIBN_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BEHWXHTIBN_DIV {left:503px;height:16px;width:97px;}
BODY[ettl='old'] #BEHWXHTIBN_DIV {left:503px;height:16px;width:97px;}
BODY[ettl='yes'] #BEHWXHTIBN_DIV {right:calc(100% - 600px);letter-spacing:-1px;}
#TENXMNLTTK_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TENXMNLTTK_DIV {left:301px;height:16px;width:171px;}
BODY[ettl='old'] #TENXMNLTTK_DIV {left:301px;height:16px;width:171px;}
BODY[ettl='yes'] #TENXMNLTTK_DIV {right:calc(100% - 472px);letter-spacing:-1px;}
#GOFVHZECXL_DIV {top:91px;position:absolute;left:112px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#NZZQBPTZYU {top:91px;position:absolute;left:472px;height:20px;width:216px;z-index:1; }
#NZZQBPTZYU { vertical-align:middle; }
#VPKIKBZRVZ_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VPKIKBZRVZ_DIV {left:301px;height:16px;width:171px;}
BODY[ettl='old'] #VPKIKBZRVZ_DIV {left:301px;height:16px;width:171px;}
BODY[ettl='yes'] #VPKIKBZRVZ_DIV {right:calc(100% - 472px);letter-spacing:-1px;}
#MRDEGXONBG_DIV {top:118px;position:absolute;left:112px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#FMLKVYWRZP_DIV {top:147px;position:absolute;left:112px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#RNGJQLKVFO {top:392px;position:absolute;left:160px;height:20px;width:40px;text-align:right;z-index:1; }
#ITKWXOHKBK_DIV {top:396px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ITKWXOHKBK_DIV {left:40px;height:16px;width:120px;}
BODY[ettl='old'] #ITKWXOHKBK_DIV {left:40px;height:16px;width:120px;}
BODY[ettl='yes'] #ITKWXOHKBK_DIV {right:calc(100% - 160px);letter-spacing:-1px;}
#UFVJWZLULG {top:392px;position:absolute;left:384px;height:20px;width:40px;text-align:right;z-index:1; }
#CAUFCTBRNM_DIV {top:336px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#GIMNJEFKNF { height:217px;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#GIMNJEFKNF_DIV { position:absolute;height:217px;z-index:0;width:208px;top:203px;left:24px;}
#GIMNJEFKNF_HEADER_CAPTION {left:6px;top:-8px;}
#MFCHEDYPZM { height:217px;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#MFCHEDYPZM_DIV { position:absolute;height:217px;z-index:0;width:208px;top:203px;left:248px;}
#MFCHEDYPZM_HEADER_CAPTION {left:6px;top:-8px;}
#UGCFKKQJNN_DIV {top:280px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#XNNAMCGSXP_DIV {top:252px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#MYUZABATXZ_DIV {top:224px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#RSGIDFYOLS_DIV {top:308px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#YPMOMULORE_DIV {top:364px;position:absolute;left:56px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#QEKBNPGOBS_DIV {top:336px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#NFHGTEJQNE_DIV {top:280px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#GJLCDJIDAY_DIV {top:252px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#RBOWBOPVOA_DIV {top:224px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#DHNVKQKTHK_DIV {top:308px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#CBJEEAJCGS_DIV {top:364px;position:absolute;left:280px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#OERGIOTKFK { height:217px;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#OERGIOTKFK_DIV { position:absolute;height:217px;z-index:0;width:208px;top:203px;left:472px;}
#OERGIOTKFK_HEADER_CAPTION {left:6px;top:-8px;}
#UXGJFWIPXB_DIV {top:336px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#TKEHQQFQUC_DIV {top:280px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#XBPDZFAWFR_DIV {top:252px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#ZJMEDHEECW_DIV {top:224px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#TOJFZPDKWJ_DIV {top:308px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#UXAYRLQXMN_DIV {top:364px;position:absolute;left:504px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#QPPLTIMJLH_DIV {top:396px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QPPLTIMJLH_DIV {left:264px;height:16px;width:120px;}
BODY[ettl='old'] #QPPLTIMJLH_DIV {left:264px;height:16px;width:120px;}
BODY[ettl='yes'] #QPPLTIMJLH_DIV {right:calc(100% - 384px);letter-spacing:-1px;}
#MXUUACEBJE {top:392px;position:absolute;left:600px;height:20px;width:40px;text-align:right;z-index:1; }
#GPUIIBJKGO_DIV {top:396px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GPUIIBJKGO_DIV {left:480px;height:16px;width:120px;}
BODY[ettl='old'] #GPUIIBJKGO_DIV {left:480px;height:16px;width:120px;}
BODY[ettl='yes'] #GPUIIBJKGO_DIV {right:calc(100% - 600px);letter-spacing:-1px;}
#PBPNWREDVO { height:168px;z-index:0;}
#PBPNWREDVO_DIV { position:relative;z-index:0;width:100%;}
#EKQWOMODBX {top:11px;position:absolute;left:168px;height:145px;width:357px;z-index:1;}
#LTMWIPFDRU_DIV {top:7px;position:absolute;left:584px;height:19px;width:104px;z-index:1; }
#LTMWIPFDRU { vertical-align:middle; }
#DJYCCVWMOP_DIV {top:7px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DJYCCVWMOP_DIV {left:519px;height:16px;width:58px;}
BODY[ettl='old'] #DJYCCVWMOP_DIV {left:519px;height:16px;width:58px;}
BODY[ettl='yes'] #DJYCCVWMOP_DIV {right:calc(100% - 577px);}
#RVLRRQTSCQ_DIV {top:6px;position:absolute;left:295px;height:21px;width:128px;overflow:hidden;white-space:nowrap;z-index:1; }
#UFVFYVMNVG {top:147px;position:absolute;left:600px;height:20px;width:80px;text-align:right;z-index:1; }
#ZZOTBVRTLQ_DIV {top:151px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZZOTBVRTLQ_DIV {left:378px;height:16px;width:222px;}
BODY[ettl='old'] #ZZOTBVRTLQ_DIV {left:378px;height:16px;width:222px;}
BODY[ettl='yes'] #ZZOTBVRTLQ_DIV {right:calc(100% - 600px);letter-spacing:-1px;}
#UVKSMYBGBT {top:175px;position:absolute;left:600px;height:20px;width:80px;text-align:right;z-index:1; }
#BKOBIZPXGR_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BKOBIZPXGR_DIV {left:437px;height:16px;width:163px;}
BODY[ettl='old'] #BKOBIZPXGR_DIV {left:437px;height:16px;width:163px;}
BODY[ettl='yes'] #BKOBIZPXGR_DIV {right:calc(100% - 600px);letter-spacing:-1px;}
BODY[ettl='yes'] #PPZWLBHZXY_DIV, BODY[ettl='yes'] #GOFVHZECXL_DIV, BODY[ettl='yes'] #MRDEGXONBG_DIV, BODY[ettl='yes'] #FMLKVYWRZP_DIV, BODY[ettl='yes'] #MYUZABATXZ_DIV, BODY[ettl='yes'] #RBOWBOPVOA_DIV, BODY[ettl='yes'] #ZJMEDHEECW_DIV, BODY[ettl='yes'] #RVLRRQTSCQ_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #HHFRUECYAF_DIV, #RSSVRXXCCP_DIV, #BEHWXHTIBN_DIV, #TENXMNLTTK_DIV, #VPKIKBZRVZ_DIV, #ITKWXOHKBK_DIV, #GIMNJEFKNF, #MFCHEDYPZM, #OERGIOTKFK, #QPPLTIMJLH_DIV, #GPUIIBJKGO_DIV, #PBPNWREDVO, #DJYCCVWMOP_DIV, #ZZOTBVRTLQ_DIV, #BKOBIZPXGR_DIV {overflow:hidden;}
#YORQOIOBQN, #RCAIOHOYCN, #PLTDFOMPMX, #DLCJAPAHNK, #PPZWLBHZXY_DIV, #SOFGJQQNFS, #GOFVHZECXL_DIV, #NZZQBPTZYU, #MRDEGXONBG_DIV, #FMLKVYWRZP_DIV, #RNGJQLKVFO, #UFVJWZLULG, #CAUFCTBRNM_DIV, #GIMNJEFKNF, #MFCHEDYPZM, #UGCFKKQJNN_DIV, #XNNAMCGSXP_DIV, #MYUZABATXZ_DIV, #RSGIDFYOLS_DIV, #YPMOMULORE_DIV, #QEKBNPGOBS_DIV, #NFHGTEJQNE_DIV, #GJLCDJIDAY_DIV, #RBOWBOPVOA_DIV, #DHNVKQKTHK_DIV, #CBJEEAJCGS_DIV, #OERGIOTKFK, #UXGJFWIPXB_DIV, #TKEHQQFQUC_DIV, #XBPDZFAWFR_DIV, #ZJMEDHEECW_DIV, #TOJFZPDKWJ_DIV, #UXAYRLQXMN_DIV, #MXUUACEBJE, #PBPNWREDVO, #LTMWIPFDRU_DIV, #RVLRRQTSCQ_DIV, #UFVFYVMNVG, #UVKSMYBGBT {box-sizing : border-box;}
