.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PIAIOUTMLP_DIV {top:22px;position:absolute;left:76px;height:16px;width:82px;text-align:right;z-index:1;}
BODY:not([ettl]) #PIAIOUTMLP_DIV {top:22px;position:absolute;left:76px;height:16px;width:82px;}
BODY[ettl="old"] #PIAIOUTMLP_DIV {top:22px;position:absolute;left:76px;height:16px;width:82px;}
BODY[ettl="yes"] #PIAIOUTMLP_DIV {top:22px;position:absolute;left:76px;letter-spacing:-1px;}
#WNUAUHZXGB_DIV {top:49px;position:absolute;left:31px;height:16px;width:127px;text-align:right;z-index:1;}
BODY:not([ettl]) #WNUAUHZXGB_DIV {top:49px;position:absolute;left:31px;height:16px;width:127px;}
BODY[ettl="old"] #WNUAUHZXGB_DIV {top:49px;position:absolute;left:31px;height:16px;width:127px;}
BODY[ettl="yes"] #WNUAUHZXGB_DIV {top:49px;position:absolute;left:31px;letter-spacing:-1px;}
#UEOPGTWLUL_DIV {top:76px;position:absolute;left:70px;height:16px;width:87px;text-align:right;z-index:1;}
BODY:not([ettl]) #UEOPGTWLUL_DIV {top:76px;position:absolute;left:70px;height:16px;width:87px;}
BODY[ettl="old"] #UEOPGTWLUL_DIV {top:76px;position:absolute;left:70px;height:16px;width:87px;}
BODY[ettl="yes"] #UEOPGTWLUL_DIV {top:76px;position:absolute;left:70px;letter-spacing:-1px;}
#QGVSOMWQKO {top:18px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#QGVSOMWQKO_ZOOM { position:absolute;top:18px;left:207px;height:20px;width:17px;z-index:1;}
#VXNCZZQUTU {top:45px;position:absolute;left:160px;height:20px;width:192px;z-index:1; }
#UHKTWUYPMH {top:72px;position:absolute;left:160px;height:20px;width:192px;z-index:1; }
#XQEWDORSRU_DIV {top:45px;position:absolute;left:560px;height:21px;width:153px;overflow:hidden;white-space:nowrap;z-index:1; }
#IFYTOFMTWY_DIV {top:22px;position:absolute;left:232px;height:16px;width:480px;color:#0000FF;text-align:left;z-index:1;}
#RROILCAWGO {top:387px;position:absolute;left:624px;height:29px;width:40px;z-index:1;}
#ZQEKBHAOQV {top:387px;position:absolute;left:672px;height:29px;width:40px;z-index:1;}
#HWULSRGDNM_DIV {top:162px;position:absolute;left:8px;height:16px;width:712px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OMJUPGXWIC_DIV {top:328px;position:absolute;left:19px;height:16px;width:137px;text-align:right;z-index:1;}
BODY:not([ettl]) #OMJUPGXWIC_DIV {top:328px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="old"] #OMJUPGXWIC_DIV {top:328px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="yes"] #OMJUPGXWIC_DIV {top:328px;position:absolute;left:19px;letter-spacing:-1px;}
#EAQLLTYHOL_DIV {top:301px;position:absolute;left:51px;height:16px;width:105px;text-align:right;z-index:1;}
BODY:not([ettl]) #EAQLLTYHOL_DIV {top:301px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="old"] #EAQLLTYHOL_DIV {top:301px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="yes"] #EAQLLTYHOL_DIV {top:301px;position:absolute;left:51px;letter-spacing:-1px;}
#QMLRYBDBVX_DIV {top:274px;position:absolute;left:16px;height:16px;width:140px;text-align:right;z-index:1;}
BODY:not([ettl]) #QMLRYBDBVX_DIV {top:274px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="old"] #QMLRYBDBVX_DIV {top:274px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="yes"] #QMLRYBDBVX_DIV {top:274px;position:absolute;left:16px;}
#MUJANTNTBM {top:324px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#MUJANTNTBM_ZOOM { position:absolute;top:324px;left:207px;height:20px;width:17px;z-index:1;}
#HEAYXIPDHR {top:297px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#HEAYXIPDHR_ZOOM { position:absolute;top:297px;left:207px;height:20px;width:17px;z-index:1;}
#BCFQRQNZJM {top:270px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#BCFQRQNZJM_ZOOM { position:absolute;top:270px;left:207px;height:20px;width:17px;z-index:1;}
#MKGCFMDIFR_DIV {top:328px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#WINLROSAWR_DIV {top:301px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#OVBLOKMXTL_DIV {top:274px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#KFTGHDJCYW_DIV {top:103px;position:absolute;left:119px;height:16px;width:37px;text-align:right;z-index:1;}
BODY:not([ettl]) #KFTGHDJCYW_DIV {top:103px;position:absolute;left:119px;height:16px;width:37px;}
BODY[ettl="old"] #KFTGHDJCYW_DIV {top:103px;position:absolute;left:119px;height:16px;width:37px;}
BODY[ettl="yes"] #KFTGHDJCYW_DIV {top:103px;position:absolute;left:119px;letter-spacing:-1px;}
#TMQBHKYHRS {top:99px;position:absolute;left:160px;height:20px;width:312px;z-index:1; }
#MJXJDMQQRI {top:126px;position:absolute;left:160px;height:20px;width:312px;z-index:1; }
#YXRVJJQAOH_DIV {top:130px;position:absolute;left:119px;height:16px;width:37px;text-align:right;z-index:1;}
BODY:not([ettl]) #YXRVJJQAOH_DIV {top:130px;position:absolute;left:119px;height:16px;width:37px;}
BODY[ettl="old"] #YXRVJJQAOH_DIV {top:130px;position:absolute;left:119px;height:16px;width:37px;}
BODY[ettl="yes"] #YXRVJJQAOH_DIV {top:130px;position:absolute;left:119px;letter-spacing:-1px;}
#RKBYWIRAZI_DIV {top:387px;position:absolute;left:160px;text-align:left;z-index:1;}
BODY:not([ettl]) #RKBYWIRAZI_DIV {height:16px;width:265px;}
BODY[ettl="old"] #RKBYWIRAZI_DIV {height:16px;width:265px;}
#DRGPYGQDOR_DIV {top:405px;position:absolute;left:160px;text-align:left;z-index:1;}
BODY:not([ettl]) #DRGPYGQDOR_DIV {height:16px;width:365px;}
BODY[ettl="old"] #DRGPYGQDOR_DIV {height:16px;width:365px;}
#FKIUXYFTAY {top:351px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#FKIUXYFTAY_ZOOM { position:absolute;top:351px;left:207px;height:20px;width:17px;z-index:1;}
#IMIRLRSKNU_DIV {top:355px;position:absolute;left:19px;height:16px;width:137px;text-align:right;z-index:1;}
BODY:not([ettl]) #IMIRLRSKNU_DIV {top:355px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="old"] #IMIRLRSKNU_DIV {top:355px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="yes"] #IMIRLRSKNU_DIV {top:355px;position:absolute;left:19px;}
#VCGKYDPCZH_DIV {top:355px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#ORCUTDLTMS_DIV {top:189px;position:absolute;left:16px;height:16px;width:456px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VTQIWWWKBO_DIV {top:189px;position:absolute;left:528px;height:16px;width:184px;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VTQIWWWKBO_DIV {top:189px;position:absolute;left:528px;height:16px;width:184px;}
BODY[ettl="old"] #VTQIWWWKBO_DIV {top:189px;position:absolute;left:528px;height:16px;width:184px;}
BODY[ettl="yes"] #VTQIWWWKBO_DIV {top:189px;position:absolute;left:528px;}
#CXKIEWTPXM {top:216px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#AKGZOBFEHJ {top:270px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#PMYHCHZIWV {top:297px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#UFRMQEXWER {top:324px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#HJNXGLDJPH {top:351px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#EZKIGVHOME {top:243px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#KRTOISVCUF_DIV {top:247px;position:absolute;left:51px;height:16px;width:105px;text-align:right;z-index:1;}
BODY:not([ettl]) #KRTOISVCUF_DIV {top:247px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="old"] #KRTOISVCUF_DIV {top:247px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="yes"] #KRTOISVCUF_DIV {top:247px;position:absolute;left:51px;}
#HMWWZRPUTP_DIV {top:220px;position:absolute;left:16px;height:16px;width:140px;text-align:right;z-index:1;}
BODY:not([ettl]) #HMWWZRPUTP_DIV {top:220px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="old"] #HMWWZRPUTP_DIV {top:220px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="yes"] #HMWWZRPUTP_DIV {top:220px;position:absolute;left:16px;}
#HMBPBMNNSQ {top:243px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#HMBPBMNNSQ_ZOOM { position:absolute;top:243px;left:207px;height:20px;width:17px;z-index:1;}
#XJFWPDTBUT {top:216px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#XJFWPDTBUT_ZOOM { position:absolute;top:216px;left:207px;height:20px;width:17px;z-index:1;}
#YGMVSHOXQQ_DIV {top:247px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#JQLJCTWIDF_DIV {top:220px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
BODY[ettl="yes"] #XQEWDORSRU_DIV, BODY[ettl="yes"] #RKBYWIRAZI_DIV, BODY[ettl="yes"] #DRGPYGQDOR_DIV {letter-spacing:-1px;}
#PIAIOUTMLP_DIV, #WNUAUHZXGB_DIV, #UEOPGTWLUL_DIV, #IFYTOFMTWY_DIV, #HWULSRGDNM_DIV, #OMJUPGXWIC_DIV, #EAQLLTYHOL_DIV, #QMLRYBDBVX_DIV, #MKGCFMDIFR_DIV, #WINLROSAWR_DIV, #OVBLOKMXTL_DIV, #KFTGHDJCYW_DIV, #YXRVJJQAOH_DIV, #RKBYWIRAZI_DIV, #DRGPYGQDOR_DIV, #IMIRLRSKNU_DIV, #VCGKYDPCZH_DIV, #ORCUTDLTMS_DIV, #VTQIWWWKBO_DIV, #KRTOISVCUF_DIV, #HMWWZRPUTP_DIV, #YGMVSHOXQQ_DIV, #JQLJCTWIDF_DIV {overflow:hidden;}
#QGVSOMWQKO, #VXNCZZQUTU, #UHKTWUYPMH, #XQEWDORSRU_DIV, #MUJANTNTBM, #HEAYXIPDHR, #BCFQRQNZJM, #TMQBHKYHRS, #MJXJDMQQRI, #FKIUXYFTAY, #CXKIEWTPXM, #AKGZOBFEHJ, #PMYHCHZIWV, #UFRMQEXWER, #HJNXGLDJPH, #EZKIGVHOME, #HMBPBMNNSQ, #XJFWPDTBUT {box-sizing : border-box;}
