.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:536px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#LXORWVRYJJ {top:8px;position:absolute;left:184px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#OICGZUOZYP_DIV {top:12px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 180px);}
#AQAARAIPOR {top:8px;position:absolute;left:488px;height:20px;width:328px;z-index:1; }
#VEBJKDHMDC_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VEBJKDHMDC_DIV {left:364px;height:16px;width:120px;}
BODY[ettl='old'] #VEBJKDHMDC_DIV {left:364px;height:16px;width:120px;}
BODY[ettl='yes'] #VEBJKDHMDC_DIV {right:calc(100% - 484px);}
#ZFOHYLVPYN {top:32px;position:absolute;left:184px;height:20px;width:424px;z-index:1; }
#ZFOHYLVPYN { vertical-align:middle; }
#BCLYMGMBLK {top:110px;position:absolute;left:184px;height:20px;width:126px;z-index:1; }
#BCLYMGMBLK { vertical-align:middle; }
#GDCHKTFQUK_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDCHKTFQUK_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #GDCHKTFQUK_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #GDCHKTFQUK_DIV {right:calc(100% - 180px);}
#RUMXLFCOKA {top:110px;position:absolute;left:408px;height:20px;width:38px;z-index:1; }
#RUMXLFCOKA_ZOOM { position:absolute;top:110px;left:447px;height:20px;width:17px;z-index:1;}
#OUQKLNQVMP_DIV {top:114px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OUQKLNQVMP_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #OUQKLNQVMP_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #OUQKLNQVMP_DIV {right:calc(100% - 180px);}
#MILRATMPIJ_DIV {top:114px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MILRATMPIJ_DIV {left:338px;height:16px;width:67px;}
BODY[ettl='old'] #MILRATMPIJ_DIV {left:338px;height:16px;width:67px;}
BODY[ettl='yes'] #MILRATMPIJ_DIV {right:calc(100% - 405px);letter-spacing:-1px;}
#XQILBJQNNS_DIV {top:114px;position:absolute;left:472px;height:16px;width:328px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BHAVHLFPAC {top:58px;position:absolute;left:184px;height:20px;width:816px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#CTCKWHZVTZ_DIV {top:62px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 180px);}
#AABRTCZWUY_DIV {top:32px;position:absolute;left:688px;height:21px;width:154px;overflow:hidden;white-space:nowrap;z-index:1; }
#HBAROSDSIX_DIV {top:190px;position:absolute;left:16px;height:16px;width:992px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NAVNOGNZNE_DIV {top:338px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 180px);}
#LHTXLTQYIK_DIV {top:362px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 180px);}
#HGXSBHTFKF_DIV {top:386px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 180px);}
#OKFGBGYVWD_DIV {top:410px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 180px);}
#CMKJDFEFFI_DIV {top:338px;position:absolute;left:256px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:362px;position:absolute;left:256px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:386px;position:absolute;left:256px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:410px;position:absolute;left:256px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:265px;position:absolute;left:24px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:265px;position:absolute;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='old'] #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='yes'] #NFLJJHXTKY_DIV {right:calc(100% - 760px);}
#ZUVXJIZOSF_DIV {top:290px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 180px);}
#LXNMWSOUMF_DIV {top:314px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 180px);}
#CKJQULDXKW {top:286px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:286px;left:233px;height:20px;width:17px;z-index:1;}
#MXYTQLATHC {top:286px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#SXTYCPHBIM {top:310px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:310px;left:233px;height:20px;width:17px;z-index:1;}
#KBIUAXUDXA {top:310px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#QJSTZIPOQB {top:334px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:334px;left:233px;height:20px;width:17px;z-index:1;}
#UDAYHICPVB {top:334px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#BCFLBBQSRN_DIV {top:314px;position:absolute;left:256px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#SFFFOYOWNH {top:358px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:358px;left:233px;height:20px;width:17px;z-index:1;}
#ETALZDRBSO {top:358px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#NOBMPHKVTX {top:382px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:382px;left:233px;height:20px;width:17px;z-index:1;}
#QBTVZDKLCO {top:382px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#DJOWYRMDDC {top:406px;position:absolute;left:184px;height:20px;width:48px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:406px;left:233px;height:20px;width:17px;z-index:1;}
#QEXJCFPJBM_DIV {top:290px;position:absolute;left:256px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RUWEXWJASG {top:406px;position:absolute;left:744px;height:20px;width:40px;text-align:right;z-index:1; }
#CPZDORVHLG_DIV {top:486px;position:absolute;left:16px;height:16px;width:992px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VCBMHLXJMD_DIV {top:508px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:40px;height:16px;width:128px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:40px;height:16px;width:128px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 168px);}
#NKPWKMDXUR_DIV {top:508px;position:absolute;left:211px;height:16px;width:22px;text-align:left;z-index:1;}
#DOXBACRWUU {top:502px;position:absolute;left:168px;height:20px;width:40px;text-align:right;z-index:1; }
#PKJNNGBWFM_DIV {top:506px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:224px;height:16px;width:168px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:224px;height:16px;width:168px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 392px);}
#OXGBDTWKSX {top:502px;position:absolute;left:392px;height:20px;width:612px;z-index:1; }
#RFAIYHSGII { height:144px;z-index:0;}
#RFAIYHSGII_DIV { position:relative;z-index:0;width:100%;}
#CANUTVNGFD {top:16px;position:absolute;left:160px;height:20px;width:32px;z-index:1; }
#CANUTVNGFD_ZOOM { position:absolute;top:16px;left:193px;height:20px;width:17px;z-index:1;}
#NRWNAJJVRA_DIV {top:20px;position:absolute;left:216px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WWRYOVTMFY_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWRYOVTMFY_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='old'] #WWRYOVTMFY_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='yes'] #WWRYOVTMFY_DIV {right:calc(100% - 160px);}
#IXGRJLAKIQ {top:40px;position:absolute;left:160px;height:20px;width:32px;z-index:1; }
#IXGRJLAKIQ_ZOOM { position:absolute;top:40px;left:193px;height:20px;width:17px;z-index:1;}
#LNOFOPAOYD_DIV {top:44px;position:absolute;left:216px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HNQZARYXGS_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HNQZARYXGS_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='old'] #HNQZARYXGS_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='yes'] #HNQZARYXGS_DIV {right:calc(100% - 160px);}
#NKIXCWZJHO {top:64px;position:absolute;left:160px;height:20px;width:32px;z-index:1; }
#NKIXCWZJHO_ZOOM { position:absolute;top:64px;left:193px;height:20px;width:17px;z-index:1;}
#WBTKNDJDFF_DIV {top:68px;position:absolute;left:216px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGEVFUGGOS_DIV {top:68px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGEVFUGGOS_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='old'] #BGEVFUGGOS_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='yes'] #BGEVFUGGOS_DIV {right:calc(100% - 160px);}
#JQLGHMLOKO {top:88px;position:absolute;left:160px;height:20px;width:32px;z-index:1; }
#JQLGHMLOKO_ZOOM { position:absolute;top:88px;left:193px;height:20px;width:17px;z-index:1;}
#MWCFKQVNHF_DIV {top:92px;position:absolute;left:216px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RHXCIUHRTU_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RHXCIUHRTU_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='old'] #RHXCIUHRTU_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='yes'] #RHXCIUHRTU_DIV {right:calc(100% - 160px);}
#QVBZSFMTVP {top:112px;position:absolute;left:160px;height:20px;width:32px;z-index:1; }
#QVBZSFMTVP_ZOOM { position:absolute;top:112px;left:193px;height:20px;width:17px;z-index:1;}
#HADVHTQAPE_DIV {top:116px;position:absolute;left:216px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GRCYFEKJWU_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GRCYFEKJWU_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='old'] #GRCYFEKJWU_DIV {left:16px;height:16px;width:144px;}
BODY[ettl='yes'] #GRCYFEKJWU_DIV {right:calc(100% - 160px);}
#PLAWSVGZSR_DIV {top:214px;position:absolute;left:664px;height:44px;width:344px;background-color:#0CCDCD;text-align:left;z-index:1;}
#VSHUPFYWOC {top:214px;position:absolute;left:80px;height:20px;width:560px;z-index:1; }
#BVGYBYGMJB_DIV {top:218px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:24px;height:16px;width:52px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:24px;height:16px;width:52px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 76px);}
#EWATRAIADP_DIV {top:242px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:32px;height:16px;width:44px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:32px;height:16px;width:44px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 76px);}
#VASVGQZJGP {top:238px;position:absolute;left:80px;height:20px;width:560px;z-index:1; }
#JKZZQYXAFS_DIV {top:434px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKZZQYXAFS_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #JKZZQYXAFS_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #JKZZQYXAFS_DIV {right:calc(100% - 180px);}
#SMVVFHCEHA {top:430px;position:absolute;left:184px;height:20px;width:396px;z-index:1; }
#SMVVFHCEHA { vertical-align:middle; }
#ZBUITWBMLO {top:214px;position:absolute;left:640px;font-family:ZucchettiDevelopement;font-size:18px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#BXHLWVGOYO {top:238px;position:absolute;left:640px;font-family:ZucchettiDevelopement;font-size:18px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#QLLLNEUVYW {top:454px;position:absolute;left:496px;height:20px;width:80px;text-align:right;z-index:1; }
#QLLLNEUVYW_ZOOM { position:absolute;top:454px;left:577px;height:20px;width:17px;z-index:1;}
#ROVJICRYAM_DIV {top:458px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ROVJICRYAM_DIV {left:296px;height:16px;width:200px;}
BODY[ettl='old'] #ROVJICRYAM_DIV {left:296px;height:16px;width:200px;}
BODY[ettl='yes'] #ROVJICRYAM_DIV {right:calc(100% - 496px);}
#MXITFMGTNB {top:454px;position:absolute;left:184px;height:20px;width:80px;text-align:right;z-index:1; }
#MXITFMGTNB_ZOOM { position:absolute;top:454px;left:265px;height:20px;width:17px;z-index:1;}
#TTZXYWANKG_DIV {top:458px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TTZXYWANKG_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #TTZXYWANKG_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #TTZXYWANKG_DIV {right:calc(100% - 180px);}
#LSSRJEUOJW {top:162px;position:absolute;left:184px;height:20px;width:624px;z-index:1; }
#LSSRJEUOJW { vertical-align:middle; }
#ZVXDABBVZA_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZVXDABBVZA_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #ZVXDABBVZA_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #ZVXDABBVZA_DIV {right:calc(100% - 180px);}
#WRZZQXZUXK {top:136px;position:absolute;left:184px;height:20px;width:192px;z-index:1; }
#GIJHAKTZAN_DIV {top:135px;position:absolute;left:408px;height:21px;width:640px;overflow:hidden;white-space:nowrap;z-index:1; }
#LCPAKBZMTO_DIV {top:140px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LCPAKBZMTO_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='old'] #LCPAKBZMTO_DIV {left:16px;height:16px;width:164px;}
BODY[ettl='yes'] #LCPAKBZMTO_DIV {right:calc(100% - 180px);}
#QBUCLWUNFT {top:84px;position:absolute;left:184px;height:20px;width:816px;z-index:1; }
#QBUCLWUNFT { vertical-align:middle; }
#TQNAPDCWFY_DIV {top:88px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TQNAPDCWFY_DIV {left:80px;height:16px;width:104px;}
BODY[ettl='old'] #TQNAPDCWFY_DIV {left:80px;height:16px;width:104px;}
BODY[ettl='yes'] #TQNAPDCWFY_DIV {right:calc(100% - 184px);}
#GJZISGEBVV { height:392px;z-index:0;}
#GJZISGEBVV_DIV { position:relative;z-index:0;width:100%;}
#XCLJCOLAOK {top:48px;position:absolute;left:8px;height:168px;width:1000px;height:168px;right:0px;z-index:1;overflow:auto;}
#NXJPOCJGET {top:217px;position:absolute;left:8px;height:168px;width:1000px;height:168px;right:0px;z-index:1;overflow:auto;}
#DAPKKFSCYN_DIV {top:6px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #DAPKKFSCYN_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #DAPKKFSCYN_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #DAPKKFSCYN_DIV {right:calc(100% - 132px);}
#PLOLEQQLTS_DIV {top:27px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PLOLEQQLTS_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='old'] #PLOLEQQLTS_DIV {left:8px;height:16px;width:124px;}
BODY[ettl='yes'] #PLOLEQQLTS_DIV {right:calc(100% - 132px);}
#GYQCDWXDPD_DIV {top:6px;position:absolute;left:136px;height:16px;width:376px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#WCEBTQPADO_DIV {top:26px;position:absolute;left:136px;height:16px;width:376px;text-align:left;z-index:1;}
#LZCEHELAXJ { height:392px;z-index:0;}
#LZCEHELAXJ_DIV { position:relative;z-index:0;width:100%;}
#VNBQZVXZTE {top:48px;position:absolute;left:8px;height:168px;width:1008px;height:168px;right:0px;z-index:1;overflow:auto;}
#POJFSMHRKX {top:217px;position:absolute;left:8px;height:168px;width:1008px;height:168px;right:0px;z-index:1;overflow:auto;}
#VQGKRQMFBG_DIV {top:12px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VQGKRQMFBG_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='old'] #VQGKRQMFBG_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='yes'] #VQGKRQMFBG_DIV {right:calc(100% - 124px);}
#TRSLIWCUDN_DIV {top:33px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TRSLIWCUDN_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='old'] #TRSLIWCUDN_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='yes'] #TRSLIWCUDN_DIV {right:calc(100% - 124px);}
#AZOLSYJQIB_DIV {top:12px;position:absolute;left:128px;height:16px;width:376px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EEDUDVVNBY_DIV {top:32px;position:absolute;left:128px;height:16px;width:376px;text-align:left;z-index:1;}
#EHSQLOIDHO {z-index:0;}
#EHSQLOIDHO_DIV { position:relative;z-index:0;width:100%;}
#NOOLYGWELM { position:relative;left:8px;width:1000px;z-index:1;overflow:auto;}
#LOWQUGWHYA { height:80px;z-index:0;}
#LOWQUGWHYA_DIV { position:relative;z-index:0;width:100%;}
#BWHWSHFTVC_DIV {top:12px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BWHWSHFTVC_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='old'] #BWHWSHFTVC_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='yes'] #BWHWSHFTVC_DIV {right:calc(100% - 124px);}
#XKOHJMFVPP_DIV {top:33px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XKOHJMFVPP_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='old'] #XKOHJMFVPP_DIV {left:0px;height:16px;width:124px;}
BODY[ettl='yes'] #XKOHJMFVPP_DIV {right:calc(100% - 124px);}
#VLVNGHBBRK_DIV {top:12px;position:absolute;left:128px;height:16px;width:376px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MVSPJPANDF_DIV {top:32px;position:absolute;left:128px;height:16px;width:376px;text-align:left;z-index:1;}
#YSBAKLZECK {top:32px;position:absolute;left:184px;height:20px;width:102px;z-index:1; }
#FFCVEAIHJV_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FFCVEAIHJV_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='old'] #FFCVEAIHJV_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='yes'] #FFCVEAIHJV_DIV {right:calc(100% - 178px);}
#SSYXHQXJLD {top:8px;position:absolute;left:184px;height:20px;width:56px;z-index:1; }
#SSYXHQXJLD_ZOOM { position:absolute;top:8px;left:241px;height:20px;width:17px;z-index:1;}
#JIHVKRMSZD_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIHVKRMSZD_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='old'] #JIHVKRMSZD_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='yes'] #JIHVKRMSZD_DIV {right:calc(100% - 178px);}
#TWSRQQLPNA_DIV {top:12px;position:absolute;left:264px;height:16px;width:440px;color:#0000FF;text-align:left;z-index:1;}
#UYHOJSIFEU {top:56px;position:absolute;left:184px;height:20px;width:120px;z-index:1; }
#UYHOJSIFEU_ZOOM { position:absolute;top:56px;left:305px;height:20px;width:17px;z-index:1;}
#XDJAPZOPHJ_DIV {top:60px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XDJAPZOPHJ_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='old'] #XDJAPZOPHJ_DIV {left:8px;height:16px;width:170px;}
BODY[ettl='yes'] #XDJAPZOPHJ_DIV {right:calc(100% - 178px);}
#CQBNLOGUOF_DIV {top:60px;position:absolute;left:328px;height:16px;width:483px;color:#0000FF;text-align:left;z-index:1;}
#LWDMGLAEON {z-index:0;}
#LWDMGLAEON_DIV { position:relative;z-index:0;width:100%;}
#ZSYGOPYXSA { position:relative;height:335px;width:771px;left:16px;z-index:1;}
#TUIMYVJMXF { height:39px;z-index:0;}
#TUIMYVJMXF_DIV { position:relative;z-index:0;width:100%;}
#CBLDNZTZNA_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CBLDNZTZNA_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='old'] #CBLDNZTZNA_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='yes'] #CBLDNZTZNA_DIV {right:calc(100% - 151px);}
#HBPZQIPSZE {top:7px;position:absolute;left:151px;height:20px;width:56px;z-index:1; }
#TEKSYGREXN_DIV {top:11px;position:absolute;left:215px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
BODY[ettl='yes'] #AABRTCZWUY_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #OICGZUOZYP_DIV, #VEBJKDHMDC_DIV, #GDCHKTFQUK_DIV, #OUQKLNQVMP_DIV, #MILRATMPIJ_DIV, #XQILBJQNNS_DIV, #CTCKWHZVTZ_DIV, #HBAROSDSIX_DIV, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #CPZDORVHLG_DIV, #VCBMHLXJMD_DIV, #NKPWKMDXUR_DIV, #PKJNNGBWFM_DIV, #RFAIYHSGII, #NRWNAJJVRA_DIV, #WWRYOVTMFY_DIV, #LNOFOPAOYD_DIV, #HNQZARYXGS_DIV, #WBTKNDJDFF_DIV, #BGEVFUGGOS_DIV, #MWCFKQVNHF_DIV, #RHXCIUHRTU_DIV, #HADVHTQAPE_DIV, #GRCYFEKJWU_DIV, #PLAWSVGZSR_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #JKZZQYXAFS_DIV, #ROVJICRYAM_DIV, #TTZXYWANKG_DIV, #ZVXDABBVZA_DIV, #LCPAKBZMTO_DIV, #TQNAPDCWFY_DIV, #GJZISGEBVV, #DAPKKFSCYN_DIV, #PLOLEQQLTS_DIV, #GYQCDWXDPD_DIV, #WCEBTQPADO_DIV, #LZCEHELAXJ, #VQGKRQMFBG_DIV, #TRSLIWCUDN_DIV, #AZOLSYJQIB_DIV, #EEDUDVVNBY_DIV, #EHSQLOIDHO, #LOWQUGWHYA, #BWHWSHFTVC_DIV, #XKOHJMFVPP_DIV, #VLVNGHBBRK_DIV, #MVSPJPANDF_DIV, #FFCVEAIHJV_DIV, #JIHVKRMSZD_DIV, #TWSRQQLPNA_DIV, #XDJAPZOPHJ_DIV, #CQBNLOGUOF_DIV, #LWDMGLAEON, #TUIMYVJMXF, #CBLDNZTZNA_DIV, #TEKSYGREXN_DIV {overflow:hidden;}
#YORQOIOBQN, #LXORWVRYJJ, #AQAARAIPOR, #ZFOHYLVPYN, #BCLYMGMBLK, #RUMXLFCOKA, #BHAVHLFPAC, #AABRTCZWUY_DIV, #CKJQULDXKW, #MXYTQLATHC, #SXTYCPHBIM, #KBIUAXUDXA, #QJSTZIPOQB, #UDAYHICPVB, #SFFFOYOWNH, #ETALZDRBSO, #NOBMPHKVTX, #QBTVZDKLCO, #DJOWYRMDDC, #RUWEXWJASG, #DOXBACRWUU, #OXGBDTWKSX, #RFAIYHSGII, #CANUTVNGFD, #IXGRJLAKIQ, #NKIXCWZJHO, #JQLGHMLOKO, #QVBZSFMTVP, #VSHUPFYWOC, #VASVGQZJGP, #SMVVFHCEHA, #QLLLNEUVYW, #MXITFMGTNB, #LSSRJEUOJW, #WRZZQXZUXK, #GIJHAKTZAN_DIV, #QBUCLWUNFT, #GJZISGEBVV, #LZCEHELAXJ, #EHSQLOIDHO, #LOWQUGWHYA, #YSBAKLZECK, #SSYXHQXJLD, #UYHOJSIFEU, #LWDMGLAEON, #TUIMYVJMXF, #HBPZQIPSZE {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
