.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:455px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:455px;z-index:0;width:784px;top:7px;left:8px;}
#BOYWPGJEEZ { height:35px;background-color:#C4FFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#BOYWPGJEEZ_DIV { position:absolute;height:35px;z-index:0;width:769px;top:14px;left:16px;}
#WJSVGWKSFC {top:21px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#AVHTGZTOSZ {top:21px;position:absolute;left:232px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:21px;left:281px;height:21px;width:17px;z-index:1;}
#UMFEJVRUFZ {top:56px;position:absolute;left:152px;height:20px;width:166px;z-index:1; }
#UMFEJVRUFZ_ZOOM { position:absolute;top:56px;left:319px;height:20px;width:17px;z-index:1;}
#YLIKFVPZJA {top:84px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#OEIKQOZMYJ {top:84px;position:absolute;left:688px;height:20px;width:80px;text-align:right;z-index:1; }
#SWRTSKXMDH {top:112px;position:absolute;left:152px;height:20px;width:384px;z-index:1; }
#SWRTSKXMDH { vertical-align:middle; }
#SLTZSUMACW {top:140px;position:absolute;left:152px;height:20px;width:118px;z-index:1; }
#SLTZSUMACW_ZOOM { position:absolute;top:140px;left:271px;height:20px;width:17px;z-index:1;}
#MLPGOPNAKN {top:168px;position:absolute;left:152px;height:20px;width:336px;z-index:1; }
#MLPGOPNAKN { vertical-align:middle; }
#VYBZEWHKFF {top:168px;position:absolute;left:696px;height:20px;width:80px;text-align:right;z-index:1; }
#XAWQKRVCSF_DIV {top:172px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XAWQKRVCSF_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='old'] #XAWQKRVCSF_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='yes'] #XAWQKRVCSF_DIV {right:calc(100% - 150px);}
#BYKQMDEEAQ_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BYKQMDEEAQ_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='old'] #BYKQMDEEAQ_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='yes'] #BYKQMDEEAQ_DIV {right:calc(100% - 150px);}
#FTYILIQWQK {top:168px;position:absolute;left:600px;height:20px;width:88px;z-index:1; }
#QSDCLKKQSB_DIV {top:144px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QSDCLKKQSB_DIV {left:9px;height:16px;width:141px;}
BODY[ettl='old'] #QSDCLKKQSB_DIV {left:9px;height:16px;width:141px;}
BODY[ettl='yes'] #QSDCLKKQSB_DIV {right:calc(100% - 150px);letter-spacing:-1px;}
#LOEAMXUYLA_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#RLUMBFHPUD {top:21px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#OJGQABFSYN {top:21px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:21px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XVRJYSKGWZ_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 232px);}
#CTLYJMTHDV_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 489px);}
#JWSDOSRGAG_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 670px);}
#ENBRMMDVUP_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 730px);}
#BLXOBUQVYE_DIV {top:25px;position:absolute;left:304px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#XYMCLUECBD {top:84px;position:absolute;left:440px;height:20px;width:96px;z-index:1; }
#KDUGHGZUUG_DIV {top:88px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:312px;height:16px;width:125px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:312px;height:16px;width:125px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 437px);}
#IKBMEWKQJW_DIV {top:88px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:560px;height:16px;width:127px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:560px;height:16px;width:127px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 687px);}
#HVHVAYPDJE_DIV {top:88px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:31px;height:16px;width:119px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 150px);}
#WDSMYOZLJE_DIV {top:60px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WDSMYOZLJE_DIV {left:39px;height:16px;width:111px;}
BODY[ettl='old'] #WDSMYOZLJE_DIV {left:39px;height:16px;width:111px;}
BODY[ettl='yes'] #WDSMYOZLJE_DIV {right:calc(100% - 150px);}
#XXRYVYIIGY_DIV {top:60px;position:absolute;left:344px;height:16px;width:440px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#YJYVIBZLQH_DIV {top:144px;position:absolute;left:294px;height:16px;width:490px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JTSYWOZZQD_DIV {top:112px;position:absolute;color:#FF0000;text-align:right;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JTSYWOZZQD_DIV {left:598px;height:18px;width:186px;}
BODY[ettl='old'] #JTSYWOZZQD_DIV {left:598px;height:18px;width:186px;}
BODY[ettl='yes'] #JTSYWOZZQD_DIV {right:calc(100% - 784px);}
#LPKMZXAILT_DIV {top:112px;position:absolute;color:#FF0000;text-align:right;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LPKMZXAILT_DIV {left:624px;height:18px;width:160px;}
BODY[ettl='old'] #LPKMZXAILT_DIV {left:624px;height:18px;width:160px;}
BODY[ettl='yes'] #LPKMZXAILT_DIV {right:calc(100% - 784px);}
#ZFLICMSKTV {top:200px;position:absolute;left:64px;height:256px;width:688px;z-index:1;}
#HDCVKCQUDV { height:378px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#HDCVKCQUDV_DIV { position:absolute;height:378px;z-index:0;width:784px;top:7px;left:8px;}
#IXHEMDOSUG {top:91px;position:absolute;left:112px;height:276px;width:589px;z-index:1;}
#TALHUUYCXX { height:35px;background-color:#C4FFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#TALHUUYCXX_DIV { position:absolute;height:35px;z-index:0;width:769px;top:14px;left:16px;}
#TQTBMAXOZP {top:21px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#ASXPAXYMTW_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ASXPAXYMTW_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #ASXPAXYMTW_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #ASXPAXYMTW_DIV {right:calc(100% - 102px);}
#MMJUUBVOXU {top:21px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#RPVZSKBMLW {top:21px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#WDTMWXLMPB {top:21px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#NXNHXKZHDU_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #NXNHXKZHDU_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #NXNHXKZHDU_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #NXNHXKZHDU_DIV {right:calc(100% - 232px);}
#JOVDRMQUVQ_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JOVDRMQUVQ_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #JOVDRMQUVQ_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #JOVDRMQUVQ_DIV {right:calc(100% - 489px);}
#TLOTQEDJQB_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #TLOTQEDJQB_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='old'] #TLOTQEDJQB_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='yes'] #TLOTQEDJQB_DIV {right:calc(100% - 670px);}
#IWNONYEAAB_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #IWNONYEAAB_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #IWNONYEAAB_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #IWNONYEAAB_DIV {right:calc(100% - 730px);}
#OHBJKANXZH_DIV {top:25px;position:absolute;left:296px;height:17px;width:160px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#FXYXEKKFFU_DIV {top:60px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FXYXEKKFFU_DIV {left:8px;height:16px;width:119px;}
BODY[ettl='old'] #FXYXEKKFFU_DIV {left:8px;height:16px;width:119px;}
BODY[ettl='yes'] #FXYXEKKFFU_DIV {right:calc(100% - 127px);}
#ABCLQJCBCR_DIV {top:60px;position:absolute;left:130px;height:16px;width:632px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BILHYLSMRS {top:22px;position:absolute;left:232px;height:20px;width:56px;z-index:1; }
#YORQOIOBQN, #BOYWPGJEEZ, #XAWQKRVCSF_DIV, #BYKQMDEEAQ_DIV, #QSDCLKKQSB_DIV, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #BLXOBUQVYE_DIV, #KDUGHGZUUG_DIV, #IKBMEWKQJW_DIV, #HVHVAYPDJE_DIV, #WDSMYOZLJE_DIV, #XXRYVYIIGY_DIV, #YJYVIBZLQH_DIV, #JTSYWOZZQD_DIV, #LPKMZXAILT_DIV, #HDCVKCQUDV, #TALHUUYCXX, #ASXPAXYMTW_DIV, #NXNHXKZHDU_DIV, #JOVDRMQUVQ_DIV, #TLOTQEDJQB_DIV, #IWNONYEAAB_DIV, #OHBJKANXZH_DIV, #FXYXEKKFFU_DIV, #ABCLQJCBCR_DIV {overflow:hidden;}
#YORQOIOBQN, #BOYWPGJEEZ, #WJSVGWKSFC, #AVHTGZTOSZ, #UMFEJVRUFZ, #YLIKFVPZJA, #OEIKQOZMYJ, #SWRTSKXMDH, #SLTZSUMACW, #MLPGOPNAKN, #VYBZEWHKFF, #FTYILIQWQK, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #XYMCLUECBD, #HDCVKCQUDV, #TALHUUYCXX, #TQTBMAXOZP, #MMJUUBVOXU, #RPVZSKBMLW, #WDTMWXLMPB, #BILHYLSMRS {box-sizing : border-box;}
