.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:77px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:77px;z-index:0;width:728px;top:7px;left:8px;}
#AKMCHLZVNZ {top:21px;position:absolute;left:104px;height:20px;width:612px;z-index:1; }
#QOZVIQBJEA_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QOZVIQBJEA_DIV {left:24px;height:16px;width:79px;}
BODY[ettl='old'] #QOZVIQBJEA_DIV {left:24px;height:16px;width:79px;}
BODY[ettl='yes'] #QOZVIQBJEA_DIV {right:calc(100% - 103px);letter-spacing:-1px;}
#UGNUAEBJAI {top:49px;position:absolute;left:104px;height:20px;width:48px;z-index:1; }
#UGNUAEBJAI_ZOOM { position:absolute;top:49px;left:153px;height:20px;width:17px;z-index:1;}
#TFXFGSNQHX_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TFXFGSNQHX_DIV {left:42px;height:16px;width:61px;}
BODY[ettl='old'] #TFXFGSNQHX_DIV {left:42px;height:16px;width:61px;}
BODY[ettl='yes'] #TFXFGSNQHX_DIV {right:calc(100% - 103px);letter-spacing:-1px;}
#SCPMCNQYIB {top:49px;position:absolute;left:176px;height:20px;width:288px;z-index:1; }
#YORQOIOBQN, #QOZVIQBJEA_DIV, #TFXFGSNQHX_DIV {overflow:hidden;}
#YORQOIOBQN, #AKMCHLZVNZ, #UGNUAEBJAI, #SCPMCNQYIB {box-sizing : border-box;}
