.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:413px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:413px;z-index:0;width:768px;top:7px;left:8px;}
#JHOQNVHZXH {top:42px;position:absolute;left:600px;height:20px;width:168px;z-index:1; }
#JHOQNVHZXH { vertical-align:middle; }
#BHAVHLFPAC {top:42px;position:absolute;left:136px;height:20px;width:368px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#DZWSXMBIHR {top:14px;position:absolute;left:136px;height:20px;width:118px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#DZWSXMBIHR_ZOOM { position:absolute;top:14px;left:255px;height:20px;width:17px;z-index:1;}
#HUMSCLHVTQ {top:175px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#VXGCUGFCOM {top:278px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#OYBCLSBWWU_DIV {top:202px;position:absolute;left:24px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#EDCVGCRZZZ {top:203px;position:absolute;left:144px;height:21px;width:104px;z-index:1; }
#TOFVCFNDFU_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TOFVCFNDFU_DIV {left:53px;height:16px;width:82px;}
BODY[ettl='old'] #TOFVCFNDFU_DIV {left:53px;height:16px;width:82px;}
BODY[ettl='yes'] #TOFVCFNDFU_DIV {right:calc(100% - 135px);}
#JINDLZUJGB {top:231px;position:absolute;left:144px;height:20px;width:162px;z-index:1; }
#CTCKWHZVTZ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:19px;height:16px;width:116px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:19px;height:16px;width:116px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#GDTYXHVEHO_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDTYXHVEHO_DIV {left:512px;height:16px;width:85px;}
BODY[ettl='old'] #GDTYXHVEHO_DIV {left:512px;height:16px;width:85px;}
BODY[ettl='yes'] #GDTYXHVEHO_DIV {right:calc(100% - 597px);letter-spacing:-1px;}
#SVRLUYRVRK_DIV {top:18px;position:absolute;left:280px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#RGYIJRGRVR { height:28px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#RGYIJRGRVR_DIV { position:absolute;height:28px;z-index:0;width:752px;top:126px;left:16px;}
#XLPPGWOBPA_DIV {top:133px;position:absolute;left:24px;height:16px;width:736px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EEPWGWPHCL_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EEPWGWPHCL_DIV {left:32px;height:16px;width:110px;}
BODY[ettl='old'] #EEPWGWPHCL_DIV {left:32px;height:16px;width:110px;}
BODY[ettl='yes'] #EEPWGWPHCL_DIV {right:calc(100% - 142px);}
#BLWCMFJCPC_DIV {top:282px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BLWCMFJCPC_DIV {left:64px;height:16px;width:80px;}
BODY[ettl='old'] #BLWCMFJCPC_DIV {left:64px;height:16px;width:80px;}
BODY[ettl='yes'] #BLWCMFJCPC_DIV {right:calc(100% - 144px);}
#PYCUXKNKCJ_DIV {top:235px;position:absolute;left:80px;text-align:left;z-index:1;}
BODY:not([ettl]) #PYCUXKNKCJ_DIV {height:16px;width:56px;}
BODY[ettl='old'] #PYCUXKNKCJ_DIV {height:16px;width:56px;}
#RZXJJIHWRO {top:364px;position:absolute;left:17px;height:25px;width:208px;z-index:1;}
#LBDAXRYAIV {top:364px;position:absolute;left:228px;height:25px;width:208px;z-index:1;}
#HDQLRPYTAN { height:98px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#HDQLRPYTAN_DIV { position:absolute;height:98px;z-index:0;width:368px;top:161px;left:16px;}
#HDQLRPYTAN_HEADER_CAPTION {left:5px;top:-9px;}
#AEKMRLIFOL_DIV {top:69px;position:absolute;left:136px;height:21px;width:575px;overflow:hidden;white-space:nowrap;z-index:1; }
#AFSFEDCXQH {top:12px;position:absolute;left:20px;z-index:1;}
#ZDQIQPDLMA {top:98px;position:absolute;left:272px;height:20px;width:72px;z-index:1; }
#YBLTSMLFUZ_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YBLTSMLFUZ_DIV {left:159px;height:16px;width:112px;}
BODY[ettl='old'] #YBLTSMLFUZ_DIV {left:159px;height:16px;width:112px;}
BODY[ettl='yes'] #YBLTSMLFUZ_DIV {right:calc(100% - 271px);}
#AOOZEQQJTQ {top:98px;position:absolute;left:136px;height:20px;width:72px;text-align:right;z-index:1; }
#IINLMHPBWG_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IINLMHPBWG_DIV {left:35px;height:16px;width:101px;}
BODY[ettl='old'] #IINLMHPBWG_DIV {left:35px;height:16px;width:101px;}
BODY[ettl='yes'] #IINLMHPBWG_DIV {right:calc(100% - 136px);letter-spacing:-1px;}
#KPRGKTCWLJ { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#KPRGKTCWLJ_DIV { position:absolute;height:91px;z-index:0;width:368px;top:266px;left:16px;}
#KPRGKTCWLJ_HEADER_CAPTION {left:5px;top:-9px;}
#WSCNNXSPZE_DIV {top:303px;position:absolute;left:24px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#IYTHKZIUFV {top:304px;position:absolute;left:144px;height:20px;width:104px;z-index:1; }
#URGNQSTVHB {top:329px;position:absolute;left:144px;height:20px;width:162px;z-index:1; }
#NYHDXXMGSC_DIV {top:333px;position:absolute;left:88px;text-align:left;z-index:1;}
BODY:not([ettl]) #NYHDXXMGSC_DIV {height:16px;width:56px;}
BODY[ettl='old'] #NYHDXXMGSC_DIV {height:16px;width:56px;}
#FXPPJOXLEV { height:91px;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#FXPPJOXLEV_DIV { position:absolute;height:91px;z-index:0;width:368px;top:266px;left:400px;}
#FXPPJOXLEV_HEADER_CAPTION {left:5px;top:-9px;}
#WJDBESRNAN_DIV {top:283px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WJDBESRNAN_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='old'] #WJDBESRNAN_DIV {left:406px;height:16px;width:80px;}
BODY[ettl='yes'] #WJDBESRNAN_DIV {right:calc(100% - 486px);}
#KBSYJLHZOZ_DIV {top:333px;position:absolute;left:464px;text-align:left;z-index:1;}
BODY:not([ettl]) #KBSYJLHZOZ_DIV {height:16px;width:56px;}
BODY[ettl='old'] #KBSYJLHZOZ_DIV {height:16px;width:56px;}
#FMXMNQMEMH {top:280px;position:absolute;left:488px;height:20px;width:72px;text-align:right;z-index:1; }
#GRVAHWHFJH_DIV {top:303px;position:absolute;left:408px;height:21px;width:115px;overflow:hidden;white-space:nowrap;z-index:1; }
#TZPQRTXHYT {top:304px;position:absolute;left:528px;height:20px;width:102px;z-index:1; }
#GWASKALOUK {top:329px;position:absolute;left:528px;height:20px;width:162px;z-index:1; }
#VQNRBICOXA_DIV {top:392px;position:absolute;left:120px;height:22px;width:544px;color:#FFFFFF;background-color:#FF0000;text-align:center;font-family:Tahoma;font-size:12pt;font-weight:bold;z-index:1;}
#URZTYMSMYS {top:364px;position:absolute;left:523px;height:25px;width:120px;z-index:1;}
#WEIKCFSMRK {top:364px;position:absolute;left:648px;height:25px;width:120px;z-index:1;}
BODY[ettl='yes'] #OYBCLSBWWU_DIV, BODY[ettl='yes'] #PYCUXKNKCJ_DIV, BODY[ettl='yes'] #AEKMRLIFOL_DIV, BODY[ettl='yes'] #WSCNNXSPZE_DIV, BODY[ettl='yes'] #NYHDXXMGSC_DIV, BODY[ettl='yes'] #KBSYJLHZOZ_DIV, BODY[ettl='yes'] #GRVAHWHFJH_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #TOFVCFNDFU_DIV, #CTCKWHZVTZ_DIV, #GDTYXHVEHO_DIV, #SVRLUYRVRK_DIV, #RGYIJRGRVR, #XLPPGWOBPA_DIV, #EEPWGWPHCL_DIV, #BLWCMFJCPC_DIV, #PYCUXKNKCJ_DIV, #HDQLRPYTAN, #YBLTSMLFUZ_DIV, #IINLMHPBWG_DIV, #KPRGKTCWLJ, #NYHDXXMGSC_DIV, #FXPPJOXLEV, #WJDBESRNAN_DIV, #KBSYJLHZOZ_DIV, #VQNRBICOXA_DIV {overflow:hidden;}
#YORQOIOBQN, #JHOQNVHZXH, #BHAVHLFPAC, #DZWSXMBIHR, #HUMSCLHVTQ, #VXGCUGFCOM, #OYBCLSBWWU_DIV, #EDCVGCRZZZ, #JINDLZUJGB, #RGYIJRGRVR, #HDQLRPYTAN, #AEKMRLIFOL_DIV, #ZDQIQPDLMA, #AOOZEQQJTQ, #KPRGKTCWLJ, #WSCNNXSPZE_DIV, #IYTHKZIUFV, #URGNQSTVHB, #FXPPJOXLEV, #FMXMNQMEMH, #GRVAHWHFJH_DIV, #TZPQRTXHYT, #GWASKALOUK {box-sizing : border-box;}
