.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN {z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#FTYILIQWQK {top:25px;position:absolute;left:1120px;height:20px;width:72px;z-index:1; }
#BOYWPGJEEZ { height:35px;background-color:#C4FFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#BOYWPGJEEZ_DIV { position:relative;z-index:0;width:100%;}
#WJSVGWKSFC {top:7px;position:absolute;left:108px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#AVHTGZTOSZ {top:7px;position:absolute;left:240px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:7px;left:289px;height:21px;width:17px;z-index:1;}
#LOEAMXUYLA_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#RLUMBFHPUD {top:7px;position:absolute;left:537px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#OJGQABFSYN {top:7px;position:absolute;left:732px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:7px;position:absolute;left:804px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XVRJYSKGWZ_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:196px;height:17px;width:40px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:196px;height:17px;width:40px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 236px);}
#CTLYJMTHDV_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:493px;height:17px;width:41px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:493px;height:17px;width:41px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 534px);}
#JWSDOSRGAG_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:702px;height:17px;width:24px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:702px;height:17px;width:24px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 726px);}
#ENBRMMDVUP_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:761px;height:17px;width:39px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:761px;height:17px;width:39px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 800px);}
#BLXOBUQVYE_DIV {top:11px;position:absolute;left:312px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UMFEJVRUFZ {top:23px;position:absolute;left:216px;height:20px;width:118px;z-index:1; }
#UMFEJVRUFZ_ZOOM { position:absolute;top:23px;left:335px;height:20px;width:17px;z-index:1;}
#YLIKFVPZJA {top:47px;position:absolute;left:216px;height:20px;width:86px;text-align:right;z-index:1; }
#YLIKFVPZJA_ZOOM { position:absolute;top:47px;left:303px;height:20px;width:17px;z-index:1;}
#SWRTSKXMDH {top:71px;position:absolute;left:216px;height:20px;width:384px;z-index:1; }
#SWRTSKXMDH { vertical-align:middle; }
#MLPGOPNAKN {top:95px;position:absolute;left:216px;height:20px;width:440px;z-index:1; }
#FMTBXELZFV {top:119px;position:absolute;left:216px;height:20px;width:168px;z-index:1; }
#FMTBXELZFV_ZOOM { position:absolute;top:119px;left:385px;height:20px;width:17px;z-index:1;}
#XAWQKRVCSF_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XAWQKRVCSF_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #XAWQKRVCSF_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #XAWQKRVCSF_DIV {right:calc(100% - 214px);letter-spacing:-1px;}
#BYKQMDEEAQ_DIV {top:75px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BYKQMDEEAQ_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #BYKQMDEEAQ_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #BYKQMDEEAQ_DIV {right:calc(100% - 214px);}
#XYMCLUECBD {top:47px;position:absolute;left:488px;height:20px;width:96px;z-index:1; }
#KDUGHGZUUG_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:360px;height:16px;width:125px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:360px;height:16px;width:125px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 485px);}
#HVHVAYPDJE_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 214px);}
#WDSMYOZLJE_DIV {top:27px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WDSMYOZLJE_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #WDSMYOZLJE_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #WDSMYOZLJE_DIV {right:calc(100% - 214px);}
#XXRYVYIIGY_DIV {top:27px;position:absolute;left:360px;height:16px;width:512px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XGJRFGHMLC_DIV {top:5px;position:absolute;left:104px;height:16px;width:768px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OMOIESFAVO {top:143px;position:absolute;left:216px;height:20px;width:336px;z-index:1; }
#XPWBHUQUGP {top:143px;position:absolute;left:805px;height:20px;width:72px;z-index:1;}
#QBBTFAGDFU { position:relative;height:295px;width:765px;left:112px;z-index:1;}
#AGQEPDVFBG_DIV {top:147px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AGQEPDVFBG_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #AGQEPDVFBG_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #AGQEPDVFBG_DIV {right:calc(100% - 214px);}
#JIPVCDYRBV_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIPVCDYRBV_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='old'] #JIPVCDYRBV_DIV {left:104px;height:16px;width:110px;}
BODY[ettl='yes'] #JIPVCDYRBV_DIV {right:calc(100% - 214px);}
#TJRVXLVZXV_DIV {top:123px;position:absolute;left:408px;height:16px;width:464px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ENJOYYHZME {top:47px;position:absolute;left:793px;height:20px;width:84px;z-index:1; }
#HRNIBQHQAJ_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HRNIBQHQAJ_DIV {left:605px;height:16px;width:185px;}
BODY[ettl='old'] #HRNIBQHQAJ_DIV {left:605px;height:16px;width:185px;}
BODY[ettl='yes'] #HRNIBQHQAJ_DIV {right:calc(100% - 790px);letter-spacing:-1px;}
#MKKUHVAGBU {top:71px;position:absolute;left:739px;height:20px;width:138px;z-index:1; }
#YLLFPOLLWL_DIV {top:75px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YLLFPOLLWL_DIV {left:608px;height:16px;width:126px;}
BODY[ettl='old'] #YLLFPOLLWL_DIV {left:608px;height:16px;width:126px;}
BODY[ettl='yes'] #YLLFPOLLWL_DIV {right:calc(100% - 734px);}
#YORQOIOBQN, #BOYWPGJEEZ, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #BLXOBUQVYE_DIV, #XAWQKRVCSF_DIV, #BYKQMDEEAQ_DIV, #KDUGHGZUUG_DIV, #HVHVAYPDJE_DIV, #WDSMYOZLJE_DIV, #XXRYVYIIGY_DIV, #XGJRFGHMLC_DIV, #AGQEPDVFBG_DIV, #JIPVCDYRBV_DIV, #TJRVXLVZXV_DIV, #HRNIBQHQAJ_DIV, #YLLFPOLLWL_DIV {overflow:hidden;}
#YORQOIOBQN, #FTYILIQWQK, #BOYWPGJEEZ, #WJSVGWKSFC, #AVHTGZTOSZ, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #UMFEJVRUFZ, #YLIKFVPZJA, #SWRTSKXMDH, #MLPGOPNAKN, #FMTBXELZFV, #XYMCLUECBD, #OMOIESFAVO, #ENJOYYHZME, #MKKUHVAGBU {box-sizing : border-box;}
