.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VULKXBOZMY {top:14px;position:absolute;left:128px;height:20px;width:162px;z-index:1; }
#UTJHKVEODD_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UTJHKVEODD_DIV {left:43px;height:16px;width:84px;}
BODY[ettl='old'] #UTJHKVEODD_DIV {left:43px;height:16px;width:84px;}
BODY[ettl='yes'] #UTJHKVEODD_DIV {right:calc(100% - 127px);letter-spacing:-1px;}
#TVVYAPQCUU {top:14px;position:absolute;left:472px;height:20px;width:312px;z-index:1; }
#IFVPMKBRSJ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IFVPMKBRSJ_DIV {left:413px;height:16px;width:58px;}
BODY[ettl='old'] #IFVPMKBRSJ_DIV {left:413px;height:16px;width:58px;}
BODY[ettl='yes'] #IFVPMKBRSJ_DIV {right:calc(100% - 471px);letter-spacing:-1px;}
#XONZUZFGJE {top:42px;position:absolute;left:128px;height:20px;width:224px;z-index:1; }
#XONZUZFGJE { vertical-align:middle; }
#CKZCJWYZYS_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CKZCJWYZYS_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='old'] #CKZCJWYZYS_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='yes'] #CKZCJWYZYS_DIV {right:calc(100% - 127px);}
#FIYLJWMFNJ {top:42px;position:absolute;left:472px;height:20px;width:104px;text-align:right;z-index:1; }
#FIYLJWMFNJ_ZOOM { position:absolute;top:42px;left:577px;height:20px;width:17px;z-index:1;}
#RGRSWHYTSF_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RGRSWHYTSF_DIV {left:386px;height:16px;width:85px;}
BODY[ettl='old'] #RGRSWHYTSF_DIV {left:386px;height:16px;width:85px;}
BODY[ettl='yes'] #RGRSWHYTSF_DIV {right:calc(100% - 471px);letter-spacing:-1px;}
#UZGJEPKANK {top:70px;position:absolute;left:128px;height:20px;width:108px;z-index:1; }
#IGWTGITSGJ_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IGWTGITSGJ_DIV {left:53px;height:16px;width:74px;}
BODY[ettl='old'] #IGWTGITSGJ_DIV {left:53px;height:16px;width:74px;}
BODY[ettl='yes'] #IGWTGITSGJ_DIV {right:calc(100% - 127px);}
#TVQKRQXOUS {top:162px;position:absolute;left:16px;height:128px;width:768px;overflow:auto;z-index:1; }
#AYCRVWSEMG_DIV {top:126px;position:absolute;left:128px;height:21px;width:146px;overflow:hidden;white-space:nowrap;z-index:1; }
#IKBJDXURXZ {top:70px;position:absolute;left:472px;height:20px;width:102px;z-index:1; }
#QXNOUCGXYB_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QXNOUCGXYB_DIV {left:379px;height:16px;width:93px;}
BODY[ettl='old'] #QXNOUCGXYB_DIV {left:379px;height:16px;width:93px;}
BODY[ettl='yes'] #QXNOUCGXYB_DIV {right:calc(100% - 472px);letter-spacing:-1px;}
#YQXXQDWDUP {top:98px;position:absolute;left:472px;height:21px;width:30px;text-align:right;z-index:1; }
#YQXXQDWDUP_ZOOM { position:absolute;top:98px;left:503px;height:21px;width:17px;z-index:1;}
#VLNPAMWOBU {top:98px;position:absolute;left:128px;height:20px;width:30px;text-align:right;z-index:1; }
#FHBNLOQFMI_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FHBNLOQFMI_DIV {left:39px;height:16px;width:89px;}
BODY[ettl='old'] #FHBNLOQFMI_DIV {left:39px;height:16px;width:89px;}
BODY[ettl='yes'] #FHBNLOQFMI_DIV {right:calc(100% - 128px);}
#WLVLXNFYHR_DIV {top:103px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WLVLXNFYHR_DIV {left:401px;height:16px;width:71px;}
BODY[ettl='old'] #WLVLXNFYHR_DIV {left:401px;height:16px;width:71px;}
BODY[ettl='yes'] #WLVLXNFYHR_DIV {right:calc(100% - 472px);letter-spacing:-1px;}
#UICYBOOODG_DIV {top:103px;position:absolute;left:528px;height:16px;width:256px;color:#0000FF;text-align:left;z-index:1;}
BODY[ettl='yes'] #AYCRVWSEMG_DIV {letter-spacing:-1px;}
#UTJHKVEODD_DIV, #IFVPMKBRSJ_DIV, #CKZCJWYZYS_DIV, #RGRSWHYTSF_DIV, #IGWTGITSGJ_DIV, #QXNOUCGXYB_DIV, #FHBNLOQFMI_DIV, #WLVLXNFYHR_DIV, #UICYBOOODG_DIV {overflow:hidden;}
#VULKXBOZMY, #TVVYAPQCUU, #XONZUZFGJE, #FIYLJWMFNJ, #UZGJEPKANK, #TVQKRQXOUS, #AYCRVWSEMG_DIV, #IKBJDXURXZ, #YQXXQDWDUP, #VLNPAMWOBU {box-sizing : border-box;}
