.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:180px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:180px;z-index:0;width:896px;top:9px;left:8px;}
#BOYWPGJEEZ { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BOYWPGJEEZ_DIV { position:absolute;height:31px;z-index:0;width:880px;top:14px;left:16px;}
#XLSSDAVPDH { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#XLSSDAVPDH_DIV { position:relative;z-index:0;width:896px;left:8px;}
#XLSSDAVPDH_HEADER {width:896px;}
#ZPEPXLSZFA { height:90px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#ZPEPXLSZFA_DIV { position:relative;z-index:0;width:896px;left:8px;}
#ZPEPXLSZFA_HEADER {width:896px;}
#KURTXQHCYE { height:36px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#KURTXQHCYE_DIV { position:relative;z-index:0;width:896px;left:8px;}
#KURTXQHCYE_HEADER {width:896px;}
#YIVWPEZXIF { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#YIVWPEZXIF_DIV { position:relative;z-index:0;width:896px;left:8px;}
#YIVWPEZXIF_HEADER {width:896px;}
#YLIKFVPZJA {top:54px;position:absolute;left:136px;height:20px;width:80px;text-align:right;z-index:1; }
#YLIKFVPZJA_ZOOM { position:absolute;top:54px;left:217px;height:20px;width:17px;z-index:1;}
#OEIKQOZMYJ {top:54px;position:absolute;left:816px;height:20px;width:72px;text-align:right;z-index:1; }
#QSRYXQJCBZ {top:81px;position:absolute;left:136px;height:20px;width:128px;z-index:1; }
#QSRYXQJCBZ { vertical-align:middle; }
#MSGBKOOAOY {top:81px;position:absolute;left:364px;height:20px;width:88px;z-index:1; }
#UJRFWINIVQ {top:81px;position:absolute;left:592px;height:20px;width:296px;z-index:1; }
#UJRFWINIVQ { vertical-align:middle; }
#SQVJLYRFKQ {top:108px;position:absolute;left:136px;height:20px;width:40px;z-index:1; }
#SQVJLYRFKQ_ZOOM { position:absolute;top:108px;left:177px;height:20px;width:17px;z-index:1;}
#SRWWPHPCUB {top:108px;position:absolute;left:592px;height:20px;width:32px;z-index:1; }
#SRWWPHPCUB_ZOOM { position:absolute;top:108px;left:625px;height:20px;width:17px;z-index:1;}
#LJBMCCABSS {top:135px;position:absolute;left:136px;height:20px;width:160px;z-index:1; }
#LJBMCCABSS { vertical-align:middle; }
#MKCXJZEKIG {top:135px;position:absolute;left:392px;height:20px;width:384px;z-index:1; }
#MKCXJZEKIG { vertical-align:middle; }
#EDIXWZNSIC {top:162px;position:absolute;left:136px;height:20px;width:114px;text-align:right;z-index:1; }
#PURPSXEVAI {top:162px;position:absolute;left:360px;height:20px;width:104px;z-index:1; }
#PURPSXEVAI { vertical-align:middle; }
#CTORYEJVDR {top:162px;position:absolute;left:600px;height:20px;width:114px;text-align:right;z-index:1; }
#YTCDGCPEDJ {top:162px;position:absolute;left:824px;height:20px;width:72px;text-align:right;z-index:1; }
#RZIQZFKPUE {top:9px;position:absolute;left:159px;height:20px;width:162px;z-index:1; }
#RZIQZFKPUE_ZOOM { position:absolute;top:9px;left:322px;height:20px;width:17px;z-index:1;}
#QBLXDBODXR {top:36px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#QBLXDBODXR_ZOOM { position:absolute;top:36px;left:268px;height:20px;width:17px;z-index:1;}
#TCOTJNZLGM {top:63px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#TCOTJNZLGM_ZOOM { position:absolute;top:63px;left:268px;height:20px;width:17px;z-index:1;}
#AQSAREJVST {top:90px;position:absolute;left:159px;height:20px;width:360px;z-index:1; }
#JGKMKQMAHS_DIV {top:90px;position:absolute;left:678px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#ULVCBLFVEU {top:117px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#ULVCBLFVEU_ZOOM { position:absolute;top:117px;left:268px;height:20px;width:17px;z-index:1;}
#HWFHDWYMIU {top:144px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#HWFHDWYMIU_ZOOM { position:absolute;top:144px;left:268px;height:20px;width:17px;z-index:1;}
#AWPNTOJIRR {top:9px;position:absolute;left:159px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#ODAYKSRECA {top:36px;position:absolute;left:159px;height:20px;width:230px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:36px;left:390px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:36px;position:absolute;left:479px;height:20px;width:32px;z-index:1; }
#RDAVOEETJG {top:36px;position:absolute;left:591px;height:20px;width:56px;z-index:1; }
#BOTAJBWHHY {top:36px;position:absolute;left:727px;height:20px;width:56px;z-index:1; }
#VYLHWTRQNX {top:63px;position:absolute;left:159px;height:20px;width:222px;z-index:1; }
#YVIKEGPYPM {top:63px;position:absolute;left:479px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:63px;left:510px;height:20px;width:17px;z-index:1;}
#HNMYJPHSQN {top:9px;position:absolute;left:159px;height:20px;width:516px;z-index:1; }
#HNMYJPHSQN { vertical-align:middle; }
#CDJFSCCGNX {top:36px;position:absolute;left:159px;height:20px;width:94px;z-index:1; }
#CDJFSCCGNX_ZOOM { position:absolute;top:36px;left:254px;height:20px;width:17px;z-index:1;}
#VYDRMHACRY {top:36px;position:absolute;left:551px;height:20px;width:328px;z-index:1; }
#NYRJHOZOON {top:63px;position:absolute;left:159px;height:20px;width:30px;z-index:1; }
#NYRJHOZOON_ZOOM { position:absolute;top:63px;left:190px;height:20px;width:17px;z-index:1;}
#YBNJCVPDUM {top:63px;position:absolute;left:711px;height:20px;width:168px;z-index:1; }
#YQINIDXZSL {top:90px;position:absolute;left:159px;height:20px;width:56px;z-index:1; }
#YQINIDXZSL_ZOOM { position:absolute;top:90px;left:216px;height:20px;width:17px;z-index:1;}
#ACAPFGYRVI {top:117px;position:absolute;left:847px;height:20px;width:32px;z-index:1; }
#FFCAGQAZHK {top:117px;position:absolute;left:159px;height:20px;width:280px;z-index:1; }
#GXMZZZHVBR {top:144px;position:absolute;left:159px;height:20px;width:426px;z-index:1; }
#NHERHRZTFP {top:54px;position:absolute;left:504px;height:20px;width:80px;z-index:1; }
#XYMCLUECBD {top:54px;position:absolute;left:408px;height:20px;width:88px;z-index:1; }
#KDUGHGZUUG_DIV {top:58px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:267px;height:16px;width:138px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:267px;height:16px;width:138px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 405px);letter-spacing:-1px;}
#HVHVAYPDJE_DIV {top:58px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:13px;height:16px;width:122px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:13px;height:16px;width:122px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#WJSVGWKSFC {top:18px;position:absolute;left:138px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#LOEAMXUYLA_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:14px;height:17px;width:122px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:14px;height:17px;width:122px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 136px);}
#AVHTGZTOSZ {top:18px;position:absolute;left:342px;height:21px;width:56px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:18px;left:399px;height:21px;width:17px;z-index:1;}
#RLUMBFHPUD {top:18px;position:absolute;left:504px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#GVTXMEILAZ_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVTXMEILAZ_DIV {left:279px;height:16px;width:80px;}
BODY[ettl='old'] #GVTXMEILAZ_DIV {left:279px;height:16px;width:80px;}
BODY[ettl='yes'] #GVTXMEILAZ_DIV {right:calc(100% - 359px);letter-spacing:-1px;}
#RPGHLQLUDI_DIV {top:112px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPGHLQLUDI_DIV {left:13px;height:16px;width:122px;}
BODY[ettl='old'] #RPGHLQLUDI_DIV {left:13px;height:16px;width:122px;}
BODY[ettl='yes'] #RPGHLQLUDI_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#CFRJFQBTVV_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CFRJFQBTVV_DIV {left:19px;height:16px;width:136px;}
BODY[ettl='old'] #CFRJFQBTVV_DIV {left:19px;height:16px;width:136px;}
BODY[ettl='yes'] #CFRJFQBTVV_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#LNONRUGLMW_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LNONRUGLMW_DIV {left:1px;height:16px;width:154px;}
BODY[ettl='old'] #LNONRUGLMW_DIV {left:1px;height:16px;width:154px;}
BODY[ettl='yes'] #LNONRUGLMW_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#JJLAKRDJXU_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JJLAKRDJXU_DIV {left:73px;height:16px;width:83px;}
BODY[ettl='old'] #JJLAKRDJXU_DIV {left:73px;height:16px;width:83px;}
BODY[ettl='yes'] #JJLAKRDJXU_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#ZTIARSVAXX_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZTIARSVAXX_DIV {left:14px;height:16px;width:141px;}
BODY[ettl='old'] #ZTIARSVAXX_DIV {left:14px;height:16px;width:141px;}
BODY[ettl='yes'] #ZTIARSVAXX_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#IDAYTSKPPF_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDAYTSKPPF_DIV {left:757px;height:16px;width:88px;}
BODY[ettl='old'] #IDAYTSKPPF_DIV {left:757px;height:16px;width:88px;}
BODY[ettl='yes'] #IDAYTSKPPF_DIV {right:calc(100% - 845px);letter-spacing:-1px;}
#GXGGXKSESA_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GXGGXKSESA_DIV {left:31px;height:16px;width:124px;}
BODY[ettl='old'] #GXGGXKSESA_DIV {left:31px;height:16px;width:124px;}
BODY[ettl='yes'] #GXGGXKSESA_DIV {right:calc(100% - 155px);}
#EXIXNLTCBE_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EXIXNLTCBE_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='old'] #EXIXNLTCBE_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='yes'] #EXIXNLTCBE_DIV {right:calc(100% - 155px);}
#VECGHPFLII_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VECGHPFLII_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='old'] #VECGHPFLII_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='yes'] #VECGHPFLII_DIV {right:calc(100% - 155px);}
#IKBMEWKQJW_DIV {top:58px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:686px;height:16px;width:129px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:686px;height:16px;width:129px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 815px);letter-spacing:-1px;}
#KMCNAWQHKV_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMCNAWQHKV_DIV {left:474px;height:16px;width:118px;}
BODY[ettl='old'] #KMCNAWQHKV_DIV {left:474px;height:16px;width:118px;}
BODY[ettl='yes'] #KMCNAWQHKV_DIV {right:calc(100% - 592px);letter-spacing:-1px;}
#EQARGRKLGY_DIV {top:139px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQARGRKLGY_DIV {left:45px;height:16px;width:90px;}
BODY[ettl='old'] #EQARGRKLGY_DIV {left:45px;height:16px;width:90px;}
BODY[ettl='yes'] #EQARGRKLGY_DIV {right:calc(100% - 135px);letter-spacing:-1px;}
#UIZWPHSLNT_DIV {top:139px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UIZWPHSLNT_DIV {left:329px;height:16px;width:62px;}
BODY[ettl='old'] #UIZWPHSLNT_DIV {left:329px;height:16px;width:62px;}
BODY[ettl='yes'] #UIZWPHSLNT_DIV {right:calc(100% - 391px);letter-spacing:-1px;}
#QNNLSEAZHF {top:135px;position:absolute;left:872px;height:20px;width:24px;z-index:1; }
#PQFNSCNIRZ_DIV {top:139px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PQFNSCNIRZ_DIV {left:807px;height:16px;width:64px;}
BODY[ettl='old'] #PQFNSCNIRZ_DIV {left:807px;height:16px;width:64px;}
BODY[ettl='yes'] #PQFNSCNIRZ_DIV {right:calc(100% - 871px);letter-spacing:-1px;}
#XLNVLBYVQX_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XLNVLBYVQX_DIV {left:24px;height:16px;width:111px;}
BODY[ettl='old'] #XLNVLBYVQX_DIV {left:24px;height:16px;width:111px;}
BODY[ettl='yes'] #XLNVLBYVQX_DIV {right:calc(100% - 135px);}
#IDTBMNCIOX_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDTBMNCIOX_DIV {left:495px;height:16px;width:104px;}
BODY[ettl='old'] #IDTBMNCIOX_DIV {left:495px;height:16px;width:104px;}
BODY[ettl='yes'] #IDTBMNCIOX_DIV {right:calc(100% - 599px);letter-spacing:-1px;}
#NUEFWOMRRX_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NUEFWOMRRX_DIV {left:0px;height:16px;width:155px;}
BODY[ettl='old'] #NUEFWOMRRX_DIV {left:0px;height:16px;width:155px;}
BODY[ettl='yes'] #NUEFWOMRRX_DIV {right:calc(100% - 155px);}
#IINONMZPLB_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IINONMZPLB_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='old'] #IINONMZPLB_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='yes'] #IINONMZPLB_DIV {right:calc(100% - 155px);}
#LZDWHHTSGR_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LZDWHHTSGR_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='old'] #LZDWHHTSGR_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='yes'] #LZDWHHTSGR_DIV {right:calc(100% - 155px);}
#HTLKHJWKEZ_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HTLKHJWKEZ_DIV {left:736px;height:16px;width:87px;}
BODY[ettl='old'] #HTLKHJWKEZ_DIV {left:736px;height:16px;width:87px;}
BODY[ettl='yes'] #HTLKHJWKEZ_DIV {right:calc(100% - 823px);}
#XVRJYSKGWZ_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:249px;height:17px;width:93px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:249px;height:17px;width:93px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 342px);}
#CTLYJMTHDV_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:443px;height:17px;width:62px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:443px;height:17px;width:62px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 505px);}
#JWSDOSRGAG_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:672px;height:17px;width:66px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:672px;height:17px;width:66px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 738px);}
#ENBRMMDVUP_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:776px;height:17px;width:64px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:776px;height:17px;width:64px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 840px);}
#PXKFPRTVXX_DIV {top:40px;position:absolute;left:295px;height:16px;width:456px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#UWUWSYENHG_DIV {top:13px;position:absolute;left:343px;height:16px;width:432px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QGPWBVUZYW_DIV {top:67px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#USZXRLYSFT_DIV {top:121px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#MYPLEXWRTO_DIV {top:67px;position:absolute;left:215px;height:16px;width:328px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JHWWHHXDJI_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JHWWHHXDJI_DIV {left:64px;height:16px;width:67px;}
BODY[ettl='old'] #JHWWHHXDJI_DIV {left:64px;height:16px;width:67px;}
BODY[ettl='yes'] #JHWWHHXDJI_DIV {right:calc(100% - 131px);}
#LPKMZXAILT_DIV {top:141px;position:absolute;left:679px;height:18px;width:192px;color:#FF0000;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#JTSYWOZZQD_DIV {top:141px;position:absolute;left:687px;height:18px;width:192px;color:#FFFF6F;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#VYBZEWHKFF {top:9px;position:absolute;left:159px;height:20px;width:80px;text-align:right;z-index:1; }
#WTYYEQYAIU_DIV {top:85px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WTYYEQYAIU_DIV {left:268px;height:16px;width:98px;}
BODY[ettl='old'] #WTYYEQYAIU_DIV {left:268px;height:16px;width:98px;}
BODY[ettl='yes'] #WTYYEQYAIU_DIV {right:calc(100% - 366px);}
#IMHKHLSVQZ_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IMHKHLSVQZ_DIV {left:36px;height:16px;width:119px;}
BODY[ettl='old'] #IMHKHLSVQZ_DIV {left:36px;height:16px;width:119px;}
BODY[ettl='yes'] #IMHKHLSVQZ_DIV {right:calc(100% - 155px);}
#OJGQABFSYN {top:18px;position:absolute;left:738px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:18px;position:absolute;left:838px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#KMXZXPWLPX {top:26px;position:absolute;left:863px;z-index:1;clip:rect(0,20px,20px,0);}
#OQXSPVCWCC_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OQXSPVCWCC_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='old'] #OQXSPVCWCC_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='yes'] #OQXSPVCWCC_DIV {right:calc(100% - 155px);}
#PDLOBCDELX_DIV {top:148px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RUIGDGZVBM_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUIGDGZVBM_DIV {left:625px;height:16px;width:84px;}
BODY[ettl='old'] #RUIGDGZVBM_DIV {left:625px;height:16px;width:84px;}
BODY[ettl='yes'] #RUIGDGZVBM_DIV {right:calc(100% - 709px);}
#SBJQIAQUCN_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:407px;height:16px;width:70px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:407px;height:16px;width:70px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 477px);}
#PFEQRACAUA_DIV {top:13px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 156px);}
#RZBLEGCFJJ_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:401px;height:16px;width:76px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:401px;height:16px;width:76px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 477px);}
#TWTXGZJTAR_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 156px);}
#GDOCAGKROT_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:535px;height:16px;width:54px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:535px;height:16px;width:54px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 589px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:663px;height:16px;width:63px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:663px;height:16px;width:63px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 726px);}
#XPSQTBKQQZ_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:23px;height:16px;width:133px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:23px;height:16px;width:133px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 156px);}
#ESVLUSNYWB_DIV {top:67px;position:absolute;left:532px;height:16px;width:251px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GVUCGWQOGG_DIV {top:112px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVUCGWQOGG_DIV {left:514px;height:16px;width:78px;}
BODY[ettl='old'] #GVUCGWQOGG_DIV {left:514px;height:16px;width:78px;}
BODY[ettl='yes'] #GVUCGWQOGG_DIV {right:calc(100% - 592px);letter-spacing:-1px;}
#WDLBZTAAWH_DIV {top:112px;position:absolute;left:202px;height:16px;width:310px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BPBCTQXMMG_DIV {top:112px;position:absolute;left:649px;height:16px;width:247px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#POOUDEGCOH_DIV {top:94px;position:absolute;left:239px;height:16px;width:400px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#MZACLGVARN_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MZACLGVARN_DIV {left:440px;height:16px;width:112px;}
BODY[ettl='old'] #MZACLGVARN_DIV {left:440px;height:16px;width:112px;}
BODY[ettl='yes'] #MZACLGVARN_DIV {right:calc(100% - 552px);letter-spacing:-1px;}
#KHYCSRMDGJ {top:9px;position:absolute;left:335px;height:20px;width:138px;z-index:1; }
#XPWBHUQUGP {top:146px;position:absolute;left:817px;height:20px;width:72px;z-index:1;}
#PXIMPOLVHG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PXIMPOLVHG_DIV {left:82px;height:16px;width:77px;}
BODY[ettl='old'] #PXIMPOLVHG_DIV {left:82px;height:16px;width:77px;}
BODY[ettl='yes'] #PXIMPOLVHG_DIV {right:calc(100% - 159px);letter-spacing:-1px;}
#NOCRBBFOUY_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NOCRBBFOUY_DIV {left:244px;height:16px;width:91px;}
BODY[ettl='old'] #NOCRBBFOUY_DIV {left:244px;height:16px;width:91px;}
BODY[ettl='yes'] #NOCRBBFOUY_DIV {right:calc(100% - 335px);letter-spacing:-1px;}
#OJXGBVSJHY {top:9px;position:absolute;left:535px;height:20px;width:352px;z-index:1; }
#OJXGBVSJHY { vertical-align:middle; }
#MBISTIEAGL_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MBISTIEAGL_DIV {left:502px;height:16px;width:33px;}
BODY[ettl='old'] #MBISTIEAGL_DIV {left:502px;height:16px;width:33px;}
BODY[ettl='yes'] #MBISTIEAGL_DIV {right:calc(100% - 535px);letter-spacing:-1px;}
#ZYUUSRMPQG { height:178px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#ZYUUSRMPQG_DIV { position:relative;z-index:0;width:896px;left:8px;}
#ZYUUSRMPQG_HEADER {width:896px;}
#BDZUATYPMW { height:224px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BDZUATYPMW_DIV { position:relative;z-index:0;width:896px;left:8px;}
#BDZUATYPMW_HEADER {width:896px;}
#TQDGESLQVD {top:7px;position:absolute;left:131px;height:164px;width:661px;z-index:1;}
#BOAFVDQFRN {top:4px;position:absolute;left:143px;height:216px;width:629px;z-index:1;}
#HNGGJVVCNB { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#HNGGJVVCNB_DIV { position:absolute;height:45px;z-index:0;width:896px;top:9px;left:8px;}
#EUBBNRKXRL { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#EUBBNRKXRL_DIV { position:absolute;height:31px;z-index:0;width:880px;top:16px;left:16px;}
#YPYOQUQUZO_DIV {top:23px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#FSLWEQSSNU_DIV {top:23px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UGBWSZCQRL_DIV {top:23px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#HJOXUPJMAI_DIV {top:23px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PYRWIMYTNP_DIV {top:23px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GTSBULOFTD { height:242px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#GTSBULOFTD_DIV { position:relative;z-index:0;width:896px;left:8px;}
#GTSBULOFTD_HEADER {width:896px;}
#OCTDIOXFMI {top:4px;position:absolute;left:143px;height:229px;width:629px;z-index:1;}
#BHLGNNSXQY { height:224px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BHLGNNSXQY_DIV { position:relative;z-index:0;width:896px;left:8px;}
#BHLGNNSXQY_HEADER {width:896px;}
#NOKYMTFBFL {top:4px;position:absolute;left:143px;height:217px;width:629px;z-index:1;}
#OGJVIBRWWZ { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#OGJVIBRWWZ_DIV { position:absolute;height:45px;z-index:0;width:896px;top:9px;left:8px;}
#KEELAAIUXV { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#KEELAAIUXV_DIV { position:absolute;height:31px;z-index:0;width:880px;top:16px;left:16px;}
#DMGNWTHLWZ_DIV {top:23px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#LSIBVBNUYM_DIV {top:23px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#RCWYKPMBAA_DIV {top:23px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#JXAQRBOOMJ_DIV {top:23px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PLUTBJQWXR_DIV {top:23px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#EOKCAXCLZO { height:410px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#EOKCAXCLZO_DIV { position:relative;z-index:0;width:896px;left:8px;}
#EOKCAXCLZO_HEADER {width:896px;}
#QEFXECTWSF {top:35px;position:absolute;left:151px;height:20px;width:38px;z-index:1; }
#QEFXECTWSF_ZOOM { position:absolute;top:35px;left:190px;height:20px;width:17px;z-index:1;}
#ZEYLNLLVTD_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZEYLNLLVTD_DIV {left:67px;height:16px;width:82px;}
BODY[ettl='old'] #ZEYLNLLVTD_DIV {left:67px;height:16px;width:82px;}
BODY[ettl='yes'] #ZEYLNLLVTD_DIV {right:calc(100% - 149px);letter-spacing:-1px;}
#ILIJSVUNTQ_DIV {top:38px;position:absolute;left:215px;height:17px;width:560px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#LEHLEQRJPH_DIV {top:8px;position:absolute;left:711px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
#VMRTFBBQHL {top:62px;position:absolute;left:151px;height:20px;width:208px;z-index:1; }
#AMHSICIBVW_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AMHSICIBVW_DIV {left:22px;height:16px;width:127px;}
BODY[ettl='old'] #AMHSICIBVW_DIV {left:22px;height:16px;width:127px;}
BODY[ettl='yes'] #AMHSICIBVW_DIV {right:calc(100% - 149px);letter-spacing:-1px;}
#KDWBJNGUTK {top:62px;position:absolute;left:695px;height:20px;width:192px;z-index:1; }
#PZUBJPCOXA_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PZUBJPCOXA_DIV {left:599px;height:16px;width:92px;}
BODY[ettl='old'] #PZUBJPCOXA_DIV {left:599px;height:16px;width:92px;}
BODY[ettl='yes'] #PZUBJPCOXA_DIV {right:calc(100% - 691px);letter-spacing:-1px;}
#HBAROSDSIX_DIV {top:143px;position:absolute;left:-1px;height:16px;width:896px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VSHUPFYWOC {top:89px;position:absolute;left:151px;height:20px;width:312px;z-index:1; }
#VASVGQZJGP {top:116px;position:absolute;left:151px;height:20px;width:312px;z-index:1; }
#QJSTZIPOQB {top:232px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:232px;left:198px;height:20px;width:17px;z-index:1;}
#SFFFOYOWNH {top:256px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:256px;left:198px;height:20px;width:17px;z-index:1;}
#NOBMPHKVTX {top:280px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:280px;left:198px;height:20px;width:17px;z-index:1;}
#DJOWYRMDDC {top:304px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:304px;left:198px;height:20px;width:17px;z-index:1;}
#BVGYBYGMJB_DIV {top:93px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 147px);}
#EWATRAIADP_DIV {top:120px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 147px);}
#NAVNOGNZNE_DIV {top:236px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:23px;height:16px;width:124px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 147px);}
#UDAYHICPVB {top:232px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#LHTXLTQYIK_DIV {top:260px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:8px;height:16px;width:139px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:8px;height:16px;width:139px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 147px);letter-spacing:-1px;}
#HGXSBHTFKF_DIV {top:284px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:10px;height:16px;width:137px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:10px;height:16px;width:137px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 147px);letter-spacing:-1px;}
#OKFGBGYVWD_DIV {top:308px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:18px;height:16px;width:129px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:18px;height:16px;width:129px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 147px);}
#PLAWSVGZSR_DIV {top:93px;position:absolute;left:487px;text-align:left;z-index:1;}
BODY:not([ettl]) #PLAWSVGZSR_DIV {height:16px;width:265px;}
BODY[ettl='old'] #PLAWSVGZSR_DIV {height:16px;width:265px;}
#UOJWCVBOTW_DIV {top:120px;position:absolute;left:487px;text-align:left;z-index:1;}
BODY:not([ettl]) #UOJWCVBOTW_DIV {height:16px;width:407px;}
BODY[ettl='old'] #UOJWCVBOTW_DIV {height:16px;width:407px;}
#ETALZDRBSO {top:256px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#QBTVZDKLCO {top:280px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#RUWEXWJASG {top:304px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#MXYTQLATHC {top:184px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#KBIUAXUDXA {top:208px;position:absolute;left:847px;height:20px;width:40px;text-align:right;z-index:1; }
#ZUVXJIZOSF_DIV {top:188px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:92px;height:16px;width:55px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:92px;height:16px;width:55px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 147px);letter-spacing:-1px;}
#LXNMWSOUMF_DIV {top:212px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:92px;height:16px;width:55px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:92px;height:16px;width:55px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 147px);}
#CMKJDFEFFI_DIV {top:236px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:260px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:284px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:308px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:164px;position:absolute;left:15px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:164px;position:absolute;left:767px;height:16px;width:120px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CKJQULDXKW {top:184px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:184px;left:198px;height:20px;width:17px;z-index:1;}
#SXTYCPHBIM {top:208px;position:absolute;left:151px;height:20px;width:46px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:208px;left:198px;height:20px;width:17px;z-index:1;}
#BCFLBBQSRN_DIV {top:212px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QEXJCFPJBM_DIV {top:188px;position:absolute;left:223px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QVDUCHDNOK { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#QVDUCHDNOK_DIV { position:absolute;height:45px;z-index:0;width:896px;top:9px;left:8px;}
#MAHDKXNSXP { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#MAHDKXNSXP_DIV { position:absolute;height:31px;z-index:0;width:880px;top:16px;left:16px;}
#CPZZPGLPTT_DIV {top:23px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#GIZJGVDRHP_DIV {top:23px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#XTJJGCAFPQ_DIV {top:23px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#NYDZFOZDZT_DIV {top:23px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#LRAIPTRCTP_DIV {top:23px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#JTWNGHDSFX { height:36px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#JTWNGHDSFX_DIV { position:relative;z-index:0;width:896px;left:8px;}
#JTWNGHDSFX_HEADER {width:896px;}
#GOVICFJKZC {top:9px;position:absolute;left:151px;height:20px;width:102px;z-index:1; }
#USFWBVEHFH {top:9px;position:absolute;left:375px;height:20px;width:112px;text-align:right;z-index:1; }
#IKKFZQQTRR {top:9px;position:absolute;left:607px;height:20px;width:72px;text-align:right;z-index:1; }
#KMKAXHABAG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMKAXHABAG_DIV {left:61px;height:16px;width:90px;}
BODY[ettl='old'] #KMKAXHABAG_DIV {left:61px;height:16px;width:90px;}
BODY[ettl='yes'] #KMKAXHABAG_DIV {right:calc(100% - 151px);letter-spacing:-1px;}
#GETFWUXANX_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GETFWUXANX_DIV {left:269px;height:16px;width:106px;}
BODY[ettl='old'] #GETFWUXANX_DIV {left:269px;height:16px;width:106px;}
BODY[ettl='yes'] #GETFWUXANX_DIV {right:calc(100% - 375px);letter-spacing:-1px;}
#WAAEZAHSYA_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WAAEZAHSYA_DIV {left:492px;height:16px;width:115px;}
BODY[ettl='old'] #WAAEZAHSYA_DIV {left:492px;height:16px;width:115px;}
BODY[ettl='yes'] #WAAEZAHSYA_DIV {right:calc(100% - 607px);letter-spacing:-1px;}
#CPZDORVHLG_DIV {top:338px;position:absolute;left:-1px;height:16px;width:896px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#DOXBACRWUU {top:356px;position:absolute;left:151px;height:20px;width:40px;text-align:right;z-index:1; }
#VCBMHLXJMD_DIV {top:360px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:23px;height:16px;width:128px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:23px;height:16px;width:128px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 151px);}
#OXGBDTWKSX {top:380px;position:absolute;left:151px;height:20px;width:612px;z-index:1; }
#PKJNNGBWFM_DIV {top:384px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:-1px;height:16px;width:152px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:-1px;height:16px;width:152px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 151px);letter-spacing:-1px;}
#NKPWKMDXUR_DIV {top:360px;position:absolute;left:194px;height:16px;width:22px;text-align:left;z-index:1;}
#JELGAQOYWT { height:486px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#JELGAQOYWT_DIV { position:absolute;height:486px;z-index:0;width:896px;top:56px;left:8px;}
#OZMPVCAYQN {top:119px;position:absolute;left:97px;height:413px;width:686px;z-index:1;}
#MHQXMCGOMG_DIV {top:69px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MHQXMCGOMG_DIV {left:-10px;height:16px;width:90px;}
BODY[ettl='old'] #MHQXMCGOMG_DIV {left:-10px;height:16px;width:90px;}
BODY[ettl='yes'] #MHQXMCGOMG_DIV {right:calc(100% - 80px);}
#WNMMMNSARU {top:65px;position:absolute;left:80px;height:20px;width:312px;z-index:1; }
#WNMMMNSARU_ZOOM { position:absolute;top:65px;left:393px;height:20px;width:17px;z-index:1;}
#DRRKLKJROO_DIV {top:69px;position:absolute;left:416px;height:16px;width:480px;color:#0000FF;text-align:left;z-index:1;}
#PLFKNICHPU {top:92px;position:absolute;left:80px;height:20px;width:372px;z-index:1; }
#BNZLNGZOEF_DIV {top:96px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BNZLNGZOEF_DIV {left:46px;height:16px;width:34px;}
BODY[ettl='old'] #BNZLNGZOEF_DIV {left:46px;height:16px;width:34px;}
BODY[ettl='yes'] #BNZLNGZOEF_DIV {right:calc(100% - 80px);letter-spacing:-1px;}
#JDTKGSGMAF {top:92px;position:absolute;left:818px;height:20px;width:72px;z-index:1; }
#EOJCZFADSY_DIV {top:96px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EOJCZFADSY_DIV {left:786px;height:16px;width:32px;}
BODY[ettl='old'] #EOJCZFADSY_DIV {left:786px;height:16px;width:32px;}
BODY[ettl='yes'] #EOJCZFADSY_DIV {right:calc(100% - 818px);letter-spacing:-1px;}
#DGEGXTAAOU { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#DGEGXTAAOU_DIV { position:absolute;height:45px;z-index:0;width:896px;top:9px;left:8px;}
#EKUMWOLTPZ { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#EKUMWOLTPZ_DIV { position:absolute;height:31px;z-index:0;width:880px;top:16px;left:16px;}
#VQXHANUVCG_DIV {top:23px;position:absolute;left:20px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#QJMVIKWIHK_DIV {top:23px;position:absolute;left:241px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#OFCCWDYHUP_DIV {top:23px;position:absolute;left:422px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#TLEBMDFORQ_DIV {top:23px;position:absolute;left:667px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#BCMVZTUBZL_DIV {top:23px;position:absolute;left:770px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
BODY[ettl='yes'] #JGKMKQMAHS_DIV, BODY[ettl='yes'] #LEHLEQRJPH_DIV, BODY[ettl='yes'] #PLAWSVGZSR_DIV, BODY[ettl='yes'] #UOJWCVBOTW_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #BOYWPGJEEZ, #XLSSDAVPDH, #ZPEPXLSZFA, #KURTXQHCYE, #YIVWPEZXIF, #KDUGHGZUUG_DIV, #HVHVAYPDJE_DIV, #LOEAMXUYLA_DIV, #GVTXMEILAZ_DIV, #RPGHLQLUDI_DIV, #CFRJFQBTVV_DIV, #LNONRUGLMW_DIV, #JJLAKRDJXU_DIV, #ZTIARSVAXX_DIV, #IDAYTSKPPF_DIV, #GXGGXKSESA_DIV, #EXIXNLTCBE_DIV, #VECGHPFLII_DIV, #IKBMEWKQJW_DIV, #KMCNAWQHKV_DIV, #EQARGRKLGY_DIV, #UIZWPHSLNT_DIV, #PQFNSCNIRZ_DIV, #XLNVLBYVQX_DIV, #IDTBMNCIOX_DIV, #NUEFWOMRRX_DIV, #IINONMZPLB_DIV, #LZDWHHTSGR_DIV, #HTLKHJWKEZ_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #PXKFPRTVXX_DIV, #UWUWSYENHG_DIV, #QGPWBVUZYW_DIV, #USZXRLYSFT_DIV, #MYPLEXWRTO_DIV, #JHWWHHXDJI_DIV, #LPKMZXAILT_DIV, #JTSYWOZZQD_DIV, #WTYYEQYAIU_DIV, #IMHKHLSVQZ_DIV, #OQXSPVCWCC_DIV, #PDLOBCDELX_DIV, #RUIGDGZVBM_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #WHMXTGXWGC_DIV, #XPSQTBKQQZ_DIV, #ESVLUSNYWB_DIV, #GVUCGWQOGG_DIV, #WDLBZTAAWH_DIV, #BPBCTQXMMG_DIV, #POOUDEGCOH_DIV, #MZACLGVARN_DIV, #PXIMPOLVHG_DIV, #NOCRBBFOUY_DIV, #MBISTIEAGL_DIV, #ZYUUSRMPQG, #BDZUATYPMW, #HNGGJVVCNB, #EUBBNRKXRL, #YPYOQUQUZO_DIV, #FSLWEQSSNU_DIV, #UGBWSZCQRL_DIV, #HJOXUPJMAI_DIV, #PYRWIMYTNP_DIV, #GTSBULOFTD, #BHLGNNSXQY, #OGJVIBRWWZ, #KEELAAIUXV, #DMGNWTHLWZ_DIV, #LSIBVBNUYM_DIV, #RCWYKPMBAA_DIV, #JXAQRBOOMJ_DIV, #PLUTBJQWXR_DIV, #EOKCAXCLZO, #ZEYLNLLVTD_DIV, #ILIJSVUNTQ_DIV, #AMHSICIBVW_DIV, #PZUBJPCOXA_DIV, #HBAROSDSIX_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #PLAWSVGZSR_DIV, #UOJWCVBOTW_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #QVDUCHDNOK, #MAHDKXNSXP, #CPZZPGLPTT_DIV, #GIZJGVDRHP_DIV, #XTJJGCAFPQ_DIV, #NYDZFOZDZT_DIV, #LRAIPTRCTP_DIV, #JTWNGHDSFX, #KMKAXHABAG_DIV, #GETFWUXANX_DIV, #WAAEZAHSYA_DIV, #CPZDORVHLG_DIV, #VCBMHLXJMD_DIV, #PKJNNGBWFM_DIV, #NKPWKMDXUR_DIV, #JELGAQOYWT, #MHQXMCGOMG_DIV, #DRRKLKJROO_DIV, #BNZLNGZOEF_DIV, #EOJCZFADSY_DIV, #DGEGXTAAOU, #EKUMWOLTPZ, #VQXHANUVCG_DIV, #QJMVIKWIHK_DIV, #OFCCWDYHUP_DIV, #TLEBMDFORQ_DIV, #BCMVZTUBZL_DIV {overflow:hidden;}
#YORQOIOBQN, #BOYWPGJEEZ, #XLSSDAVPDH, #ZPEPXLSZFA, #KURTXQHCYE, #YIVWPEZXIF, #YLIKFVPZJA, #OEIKQOZMYJ, #QSRYXQJCBZ, #MSGBKOOAOY, #UJRFWINIVQ, #SQVJLYRFKQ, #SRWWPHPCUB, #LJBMCCABSS, #MKCXJZEKIG, #EDIXWZNSIC, #PURPSXEVAI, #CTORYEJVDR, #YTCDGCPEDJ, #RZIQZFKPUE, #QBLXDBODXR, #TCOTJNZLGM, #AQSAREJVST, #JGKMKQMAHS_DIV, #ULVCBLFVEU, #HWFHDWYMIU, #AWPNTOJIRR, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #YVIKEGPYPM, #HNMYJPHSQN, #CDJFSCCGNX, #VYDRMHACRY, #NYRJHOZOON, #YBNJCVPDUM, #YQINIDXZSL, #ACAPFGYRVI, #FFCAGQAZHK, #GXMZZZHVBR, #NHERHRZTFP, #XYMCLUECBD, #WJSVGWKSFC, #AVHTGZTOSZ, #RLUMBFHPUD, #QNNLSEAZHF, #VYBZEWHKFF, #OJGQABFSYN, #OZEOCQRSEQ, #KHYCSRMDGJ, #OJXGBVSJHY, #ZYUUSRMPQG, #BDZUATYPMW, #HNGGJVVCNB, #EUBBNRKXRL, #GTSBULOFTD, #BHLGNNSXQY, #OGJVIBRWWZ, #KEELAAIUXV, #EOKCAXCLZO, #QEFXECTWSF, #LEHLEQRJPH_DIV, #VMRTFBBQHL, #KDWBJNGUTK, #VSHUPFYWOC, #VASVGQZJGP, #QJSTZIPOQB, #SFFFOYOWNH, #NOBMPHKVTX, #DJOWYRMDDC, #UDAYHICPVB, #ETALZDRBSO, #QBTVZDKLCO, #RUWEXWJASG, #MXYTQLATHC, #KBIUAXUDXA, #CKJQULDXKW, #SXTYCPHBIM, #QVDUCHDNOK, #MAHDKXNSXP, #JTWNGHDSFX, #GOVICFJKZC, #USFWBVEHFH, #IKKFZQQTRR, #DOXBACRWUU, #OXGBDTWKSX, #JELGAQOYWT, #WNMMMNSARU, #PLFKNICHPU, #JDTKGSGMAF, #DGEGXTAAOU, #EKUMWOLTPZ {box-sizing : border-box;}
