.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FFTGLGUVGJ {top:14px;position:absolute;left:120px;height:20px;width:88px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#BHQLYYDMST_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BHQLYYDMST_DIV {left:40px;height:16px;width:79px;}
BODY[ettl='old'] #BHQLYYDMST_DIV {left:40px;height:16px;width:79px;}
BODY[ettl='yes'] #BHQLYYDMST_DIV {right:calc(100% - 119px);}
#BLYSPBZZDM {top:42px;position:absolute;left:120px;height:20px;width:440px;z-index:1; }
#ZBBACCQFMH_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZBBACCQFMH_DIV {left:45px;height:16px;width:74px;}
BODY[ettl='old'] #ZBBACCQFMH_DIV {left:45px;height:16px;width:74px;}
BODY[ettl='yes'] #ZBBACCQFMH_DIV {right:calc(100% - 119px);}
#SJMGCCLAYZ {top:70px;position:absolute;left:120px;height:20px;width:56px;z-index:1; }
#VNZMVJPSXF_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VNZMVJPSXF_DIV {left:56px;height:16px;width:63px;}
BODY[ettl='old'] #VNZMVJPSXF_DIV {left:56px;height:16px;width:63px;}
BODY[ettl='yes'] #VNZMVJPSXF_DIV {right:calc(100% - 119px);}
#TWBJLTWWLG {top:70px;position:absolute;left:336px;height:20px;width:32px;z-index:1; }
#MNOUZKEIUA_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MNOUZKEIUA_DIV {left:256px;height:16px;width:79px;}
BODY[ettl='old'] #MNOUZKEIUA_DIV {left:256px;height:16px;width:79px;}
BODY[ettl='yes'] #MNOUZKEIUA_DIV {right:calc(100% - 335px);}
#PQBULAVLOC {top:70px;position:absolute;left:488px;height:20px;width:72px;z-index:1; }
#ZPUHOUPLTF_DIV {top:74px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZPUHOUPLTF_DIV {left:432px;height:16px;width:55px;}
BODY[ettl='old'] #ZPUHOUPLTF_DIV {left:432px;height:16px;width:55px;}
BODY[ettl='yes'] #ZPUHOUPLTF_DIV {right:calc(100% - 487px);}
#ILAKLAWXVC {top:96px;position:absolute;left:120px;height:20px;width:30px;z-index:1; }
#ILAKLAWXVC_ZOOM { position:absolute;top:96px;left:151px;height:20px;width:17px;z-index:1;}
#VSMBIRITGT_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VSMBIRITGT_DIV {left:24px;height:16px;width:95px;}
BODY[ettl='old'] #VSMBIRITGT_DIV {left:24px;height:16px;width:95px;}
BODY[ettl='yes'] #VSMBIRITGT_DIV {right:calc(100% - 119px);}
#ZRZJZIUNUE {top:96px;position:absolute;left:520px;height:20px;width:40px;z-index:1; }
#SBEVWFPABG_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBEVWFPABG_DIV {left:464px;height:16px;width:54px;}
BODY[ettl='old'] #SBEVWFPABG_DIV {left:464px;height:16px;width:54px;}
BODY[ettl='yes'] #SBEVWFPABG_DIV {right:calc(100% - 518px);}
#GKAEUHPNIS {top:126px;position:absolute;left:120px;height:20px;width:36px;z-index:1; }
#GTVMGBMRVK_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GTVMGBMRVK_DIV {left:10px;height:16px;width:109px;}
BODY[ettl='old'] #GTVMGBMRVK_DIV {left:10px;height:16px;width:109px;}
BODY[ettl='yes'] #GTVMGBMRVK_DIV {right:calc(100% - 119px);}
#BLRJACJOWE_DIV {top:98px;position:absolute;left:184px;height:18px;width:288px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#UUHPGKPAGJ {top:126px;position:absolute;left:336px;height:20px;width:56px;z-index:1; }
#HEYKAUFPDS_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HEYKAUFPDS_DIV {left:262px;height:16px;width:74px;}
BODY[ettl='old'] #HEYKAUFPDS_DIV {left:262px;height:16px;width:74px;}
BODY[ettl='yes'] #HEYKAUFPDS_DIV {right:calc(100% - 336px);letter-spacing:-1px;}
#QEXCLHUJUO {top:126px;position:absolute;left:520px;height:20px;width:40px;z-index:1; }
#MAGVRWXTMW_DIV {top:130px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MAGVRWXTMW_DIV {left:473px;height:16px;width:47px;}
BODY[ettl='old'] #MAGVRWXTMW_DIV {left:473px;height:16px;width:47px;}
BODY[ettl='yes'] #MAGVRWXTMW_DIV {right:calc(100% - 520px);letter-spacing:-1px;}
#BHQLYYDMST_DIV, #ZBBACCQFMH_DIV, #VNZMVJPSXF_DIV, #MNOUZKEIUA_DIV, #ZPUHOUPLTF_DIV, #VSMBIRITGT_DIV, #SBEVWFPABG_DIV, #GTVMGBMRVK_DIV, #BLRJACJOWE_DIV, #HEYKAUFPDS_DIV, #MAGVRWXTMW_DIV {overflow:hidden;}
#FFTGLGUVGJ, #BLYSPBZZDM, #SJMGCCLAYZ, #TWBJLTWWLG, #PQBULAVLOC, #ILAKLAWXVC, #ZRZJZIUNUE, #GKAEUHPNIS, #UUHPGKPAGJ, #QEXCLHUJUO {box-sizing : border-box;}
