.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#LSJDHZTUBA {top:49px;position:absolute;left:80px;height:20px;width:42px;text-align:right;z-index:1; }
#JSSSYUZZGI_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JSSSYUZZGI_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='old'] #JSSSYUZZGI_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='yes'] #JSSSYUZZGI_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#UYAZKPIGCA {top:72px;position:absolute;left:80px;height:20px;width:612px;z-index:1; }
#JSSSYUZZGI_DIV {overflow:hidden;}
#LSJDHZTUBA, #UYAZKPIGCA {box-sizing : border-box;}
