.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#EHBBFZYKCC {top:7px;position:absolute;left:80px;height:20px;width:40px;z-index:1; }
#HUWSTBOMPU_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HUWSTBOMPU_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='old'] #HUWSTBOMPU_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='yes'] #HUWSTBOMPU_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#KADYEPRECD {top:35px;position:absolute;left:80px;height:20px;width:492px;z-index:1; }
#WQMXIYJEWN_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WQMXIYJEWN_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='old'] #WQMXIYJEWN_DIV {left:16px;height:16px;width:63px;}
BODY[ettl='yes'] #WQMXIYJEWN_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#HUWSTBOMPU_DIV, #WQMXIYJEWN_DIV {overflow:hidden;}
#EHBBFZYKCC, #KADYEPRECD {box-sizing : border-box;}
