.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#BOYWPGJEEZ { height:35px;background-color:#C4FFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#BOYWPGJEEZ_DIV { position:relative;z-index:0;width:100%;}
#WJSVGWKSFC {top:7px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#AVHTGZTOSZ {top:7px;position:absolute;left:232px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:7px;left:281px;height:21px;width:17px;z-index:1;}
#UMFEJVRUFZ {top:23px;position:absolute;left:128px;height:20px;width:118px;z-index:1; }
#UMFEJVRUFZ_ZOOM { position:absolute;top:23px;left:247px;height:20px;width:17px;z-index:1;}
#YLIKFVPZJA {top:47px;position:absolute;left:128px;height:20px;width:80px;text-align:right;z-index:1; }
#SWRTSKXMDH {top:71px;position:absolute;left:128px;height:20px;width:472px;z-index:1; }
#SWRTSKXMDH { vertical-align:middle; }
#MLPGOPNAKN {top:95px;position:absolute;left:128px;height:20px;width:472px;z-index:1; }
#FMTBXELZFV {top:119px;position:absolute;left:128px;height:20px;width:168px;z-index:1; }
#FMTBXELZFV_ZOOM { position:absolute;top:119px;left:297px;height:20px;width:17px;z-index:1;}
#XAWQKRVCSF_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XAWQKRVCSF_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='old'] #XAWQKRVCSF_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='yes'] #XAWQKRVCSF_DIV {right:calc(100% - 123px);letter-spacing:-1px;}
#BYKQMDEEAQ_DIV {top:75px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BYKQMDEEAQ_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='old'] #BYKQMDEEAQ_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='yes'] #BYKQMDEEAQ_DIV {right:calc(100% - 123px);}
#FTYILIQWQK {top:95px;position:absolute;left:696px;height:20px;width:88px;z-index:1; }
#LOEAMXUYLA_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#RLUMBFHPUD {top:7px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#OJGQABFSYN {top:7px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:7px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XVRJYSKGWZ_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 232px);}
#CTLYJMTHDV_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 489px);}
#JWSDOSRGAG_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 670px);}
#ENBRMMDVUP_DIV {top:11px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 730px);}
#BLXOBUQVYE_DIV {top:11px;position:absolute;left:304px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#XYMCLUECBD {top:47px;position:absolute;left:416px;height:20px;width:96px;z-index:1; }
#KDUGHGZUUG_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:288px;height:16px;width:125px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:288px;height:16px;width:125px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 413px);}
#IKBMEWKQJW_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:576px;height:16px;width:127px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:576px;height:16px;width:127px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 703px);}
#HVHVAYPDJE_DIV {top:51px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 123px);}
#WDSMYOZLJE_DIV {top:27px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WDSMYOZLJE_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='old'] #WDSMYOZLJE_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='yes'] #WDSMYOZLJE_DIV {right:calc(100% - 123px);}
#XXRYVYIIGY_DIV {top:27px;position:absolute;left:272px;height:16px;width:512px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XGJRFGHMLC_DIV {top:5px;position:absolute;left:16px;height:16px;width:768px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OMOIESFAVO {top:143px;position:absolute;left:128px;height:20px;width:336px;z-index:1; }
#AGQEPDVFBG_DIV {top:147px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AGQEPDVFBG_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='old'] #AGQEPDVFBG_DIV {left:16px;height:16px;width:107px;}
BODY[ettl='yes'] #AGQEPDVFBG_DIV {right:calc(100% - 123px);}
#JIPVCDYRBV_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIPVCDYRBV_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #JIPVCDYRBV_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #JIPVCDYRBV_DIV {right:calc(100% - 126px);}
#KDPAOAJNFQ_DIV {top:123px;position:absolute;left:320px;height:16px;width:464px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XSGICXLWWX { position:relative;height:376px;width:793px;left:8px;z-index:1;}
#BOYWPGJEEZ, #XAWQKRVCSF_DIV, #BYKQMDEEAQ_DIV, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #BLXOBUQVYE_DIV, #KDUGHGZUUG_DIV, #IKBMEWKQJW_DIV, #HVHVAYPDJE_DIV, #WDSMYOZLJE_DIV, #XXRYVYIIGY_DIV, #XGJRFGHMLC_DIV, #AGQEPDVFBG_DIV, #JIPVCDYRBV_DIV, #KDPAOAJNFQ_DIV {overflow:hidden;}
#BOYWPGJEEZ, #WJSVGWKSFC, #AVHTGZTOSZ, #UMFEJVRUFZ, #YLIKFVPZJA, #SWRTSKXMDH, #MLPGOPNAKN, #FMTBXELZFV, #FTYILIQWQK, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #XYMCLUECBD, #OMOIESFAVO {box-sizing : border-box;}
