.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#WSIVJMMEOM {top:7px;position:absolute;left:152px;height:20px;width:40px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WJKCALNFVG_DIV {top:11px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WJKCALNFVG_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='old'] #WJKCALNFVG_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='yes'] #WJKCALNFVG_DIV {right:calc(100% - 151px);}
#ZUPMLTQCEM {top:35px;position:absolute;left:152px;height:20px;width:72px;text-align:right;z-index:1; }
#ZUPMLTQCEM_ZOOM { position:absolute;top:35px;left:225px;height:20px;width:17px;z-index:1;}
#VYGJNUYIGP_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VYGJNUYIGP_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='old'] #VYGJNUYIGP_DIV {left:8px;height:16px;width:143px;}
BODY[ettl='yes'] #VYGJNUYIGP_DIV {right:calc(100% - 151px);}
#TASPEGJGHK {top:33px;position:absolute;left:408px;height:20px;width:80px;text-align:right;z-index:1; }
#TASPEGJGHK_ZOOM { position:absolute;top:33px;left:489px;height:20px;width:17px;z-index:1;}
#XBCLFJCLHJ_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XBCLFJCLHJ_DIV {left:310px;height:16px;width:97px;}
BODY[ettl='old'] #XBCLFJCLHJ_DIV {left:310px;height:16px;width:97px;}
BODY[ettl='yes'] #XBCLFJCLHJ_DIV {right:calc(100% - 407px);letter-spacing:-1px;}
#HVZVGYCRIY {top:63px;position:absolute;left:152px;height:20px;width:84px;text-align:right;z-index:1; }
#YNITUUVDHC_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YNITUUVDHC_DIV {left:5px;height:16px;width:146px;}
BODY[ettl='old'] #YNITUUVDHC_DIV {left:5px;height:16px;width:146px;}
BODY[ettl='yes'] #YNITUUVDHC_DIV {right:calc(100% - 151px);letter-spacing:-1px;}
#VQLPBZCNLD {top:91px;position:absolute;left:152px;height:20px;width:852px;z-index:1; }
#DLIZSAXETD_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DLIZSAXETD_DIV {left:95px;height:16px;width:56px;}
BODY[ettl='old'] #DLIZSAXETD_DIV {left:95px;height:16px;width:56px;}
BODY[ettl='yes'] #DLIZSAXETD_DIV {right:calc(100% - 151px);letter-spacing:-1px;}
#WJKCALNFVG_DIV, #VYGJNUYIGP_DIV, #XBCLFJCLHJ_DIV, #YNITUUVDHC_DIV, #DLIZSAXETD_DIV {overflow:hidden;}
#WSIVJMMEOM, #ZUPMLTQCEM, #TASPEGJGHK, #HVZVGYCRIY, #VQLPBZCNLD {box-sizing : border-box;}
