.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#QKQADIZQMK {top:7px;position:absolute;left:128px;height:20px;width:80px;text-align:right;z-index:1; }
#YJFWJNGCWS_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YJFWJNGCWS_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='old'] #YJFWJNGCWS_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='yes'] #YJFWJNGCWS_DIV {right:calc(100% - 127px);}
#PSYBDTLXBB {top:7px;position:absolute;left:312px;height:20px;width:376px;z-index:1; }
#NFDQSYZPHE_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NFDQSYZPHE_DIV {left:248px;height:16px;width:63px;}
BODY[ettl='old'] #NFDQSYZPHE_DIV {left:248px;height:16px;width:63px;}
BODY[ettl='yes'] #NFDQSYZPHE_DIV {right:calc(100% - 311px);letter-spacing:-1px;}
#XLHKEFVDJB {top:35px;position:absolute;left:128px;height:112px;width:560px;overflow:auto;z-index:1; }
#VXCYLRZJRB_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VXCYLRZJRB_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='old'] #VXCYLRZJRB_DIV {left:16px;height:16px;width:111px;}
BODY[ettl='yes'] #VXCYLRZJRB_DIV {right:calc(100% - 127px);}
#CLFPQIXXGN_DIV {top:154px;position:absolute;left:128px;height:21px;width:95px;overflow:hidden;white-space:nowrap;z-index:1; }
#OZYMSYFDTV {top:155px;position:absolute;left:308px;height:20px;width:200px;z-index:1; }
#NSGDWUYWKE_DIV {top:159px;position:absolute;left:512px;height:16px;width:248px;text-align:left;z-index:1;}
#RBGNGVNHKX {top:182px;position:absolute;left:128px;height:20px;width:432px;z-index:1; }
#RBGNGVNHKX { vertical-align:middle; }
#UXOCULULZU_DIV {top:186px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UXOCULULZU_DIV {left:32px;height:16px;width:95px;}
BODY[ettl='old'] #UXOCULULZU_DIV {left:32px;height:16px;width:95px;}
BODY[ettl='yes'] #UXOCULULZU_DIV {right:calc(100% - 127px);}
#YCLKFFWYHB {top:210px;position:absolute;left:128px;height:20px;width:432px;z-index:1; }
#MJZIHCRMOJ_DIV {top:210px;position:absolute;left:568px;height:21px;width:170px;overflow:hidden;white-space:nowrap;z-index:1; }
#PVCOGKTDDH_DIV {top:214px;position:absolute;text-align:right;z-index:1;}
#PVCOGKTDDH_HREF {}
BODY:not([ettl]) #PVCOGKTDDH_DIV {left:12px;height:16px;width:115px;}
BODY[ettl='old'] #PVCOGKTDDH_DIV {left:12px;height:16px;width:115px;}
BODY[ettl='yes'] #PVCOGKTDDH_DIV {right:calc(100% - 127px);letter-spacing:-1px;}
#LNVBPSDGHY_DIV {top:159px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LNVBPSDGHY_DIV {left:224px;height:16px;width:84px;}
BODY[ettl='old'] #LNVBPSDGHY_DIV {left:224px;height:16px;width:84px;}
BODY[ettl='yes'] #LNVBPSDGHY_DIV {right:calc(100% - 308px);}
#KUVWADTGLC {top:234px;position:absolute;left:255px;height:20px;width:107px;text-align:right;z-index:1; }
#KUVWADTGLC_ZOOM { position:absolute;top:234px;left:363px;height:20px;width:17px;z-index:1;}
#CXUCPFUHPI {top:234px;position:absolute;left:519px;height:20px;width:107px;text-align:right;z-index:1; }
#CXUCPFUHPI_ZOOM { position:absolute;top:234px;left:627px;height:20px;width:17px;z-index:1;}
#QHOMJWJVOI_DIV {top:238px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QHOMJWJVOI_DIV {left:125px;height:16px;width:127px;}
BODY[ettl='old'] #QHOMJWJVOI_DIV {left:125px;height:16px;width:127px;}
BODY[ettl='yes'] #QHOMJWJVOI_DIV {right:calc(100% - 252px);letter-spacing:-1px;}
#KETQVGLNSK_DIV {top:238px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KETQVGLNSK_DIV {left:394px;height:16px;width:122px;}
BODY[ettl='old'] #KETQVGLNSK_DIV {left:394px;height:16px;width:122px;}
BODY[ettl='yes'] #KETQVGLNSK_DIV {right:calc(100% - 516px);letter-spacing:-1px;}
#OHEWQINDHE { height:945px;z-index:0;}
#OHEWQINDHE_DIV { position:relative;z-index:0;width:936px;left:8px;}
#OHEWQINDHE_HEADER {width:936px;}
#WLTHYMJRLN_DIV {top:7px;position:absolute;left:8px;height:931px;width:920px;text-align:left;z-index:1;}
#ERKDOYUXFB {top:266px;position:absolute;left:48px;height:251px;width:701px;z-index:1;}
BODY[ettl='yes'] #CLFPQIXXGN_DIV, BODY[ettl='yes'] #MJZIHCRMOJ_DIV {letter-spacing:-1px;}
#YJFWJNGCWS_DIV, #NFDQSYZPHE_DIV, #VXCYLRZJRB_DIV, #NSGDWUYWKE_DIV, #UXOCULULZU_DIV, #PVCOGKTDDH_DIV, #LNVBPSDGHY_DIV, #QHOMJWJVOI_DIV, #KETQVGLNSK_DIV, #OHEWQINDHE, #WLTHYMJRLN_DIV {overflow:hidden;}
#QKQADIZQMK, #PSYBDTLXBB, #XLHKEFVDJB, #CLFPQIXXGN_DIV, #OZYMSYFDTV, #RBGNGVNHKX, #YCLKFFWYHB, #MJZIHCRMOJ_DIV, #KUVWADTGLC, #CXUCPFUHPI, #OHEWQINDHE {box-sizing : border-box;}
