.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#RFAIYHSGII { height:126px;z-index:0;}
#RFAIYHSGII_DIV { position:relative;z-index:0;width:100%;}
#JANROHXZBL { height:90px;z-index:0;}
#JANROHXZBL_DIV { position:relative;z-index:0;width:100%;}
#CANUTVNGFD {top:7px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#CANUTVNGFD_ZOOM { position:absolute;top:7px;left:129px;height:20px;width:17px;z-index:1;}
#IXGRJLAKIQ {top:31px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#IXGRJLAKIQ_ZOOM { position:absolute;top:31px;left:129px;height:20px;width:17px;z-index:1;}
#NKIXCWZJHO {top:55px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#NKIXCWZJHO_ZOOM { position:absolute;top:55px;left:129px;height:20px;width:17px;z-index:1;}
#JQLGHMLOKO {top:79px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#JQLGHMLOKO_ZOOM { position:absolute;top:79px;left:129px;height:20px;width:17px;z-index:1;}
#QVBZSFMTVP {top:103px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#QVBZSFMTVP_ZOOM { position:absolute;top:103px;left:129px;height:20px;width:17px;z-index:1;}
#QKZHBGTGRL_DIV {top:8px;position:absolute;left:96px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#BJYOWOAAQH {top:7px;position:absolute;left:504px;height:20px;width:272px;z-index:1; }
#BJYOWOAAQH { vertical-align:middle; }
#AKMFIOWCBF_DIV {top:34px;position:absolute;left:96px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#WUEMBLXMFM {top:33px;position:absolute;left:504px;height:20px;width:272px;z-index:1; }
#WUEMBLXMFM { vertical-align:middle; }
#NODGYYBWWX {top:61px;position:absolute;left:504px;height:20px;width:272px;z-index:1; }
#NODGYYBWWX { vertical-align:middle; }
#NRWNAJJVRA_DIV {top:11px;position:absolute;left:152px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WWRYOVTMFY_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWRYOVTMFY_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #WWRYOVTMFY_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #WWRYOVTMFY_DIV {right:calc(100% - 92px);}
#LNOFOPAOYD_DIV {top:35px;position:absolute;left:152px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HNQZARYXGS_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HNQZARYXGS_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #HNQZARYXGS_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #HNQZARYXGS_DIV {right:calc(100% - 92px);}
#WBTKNDJDFF_DIV {top:59px;position:absolute;left:152px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGEVFUGGOS_DIV {top:59px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGEVFUGGOS_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #BGEVFUGGOS_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #BGEVFUGGOS_DIV {right:calc(100% - 92px);}
#MWCFKQVNHF_DIV {top:83px;position:absolute;left:152px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RHXCIUHRTU_DIV {top:83px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RHXCIUHRTU_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #RHXCIUHRTU_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #RHXCIUHRTU_DIV {right:calc(100% - 92px);}
#HADVHTQAPE_DIV {top:107px;position:absolute;left:152px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GRCYFEKJWU_DIV {top:107px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GRCYFEKJWU_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='old'] #GRCYFEKJWU_DIV {left:8px;height:16px;width:84px;}
BODY[ettl='yes'] #GRCYFEKJWU_DIV {right:calc(100% - 92px);}
#XVUIFQMEIG_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XVUIFQMEIG_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='old'] #XVUIFQMEIG_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='yes'] #XVUIFQMEIG_DIV {right:calc(100% - 502px);}
#WFICGFEUAH_DIV {top:37px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WFICGFEUAH_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='old'] #WFICGFEUAH_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='yes'] #WFICGFEUAH_DIV {right:calc(100% - 502px);letter-spacing:-1px;}
#VIBYCNNDWC_DIV {top:65px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VIBYCNNDWC_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='old'] #VIBYCNNDWC_DIV {left:336px;height:16px;width:166px;}
BODY[ettl='yes'] #VIBYCNNDWC_DIV {right:calc(100% - 502px);}
#STHOKLKHLK { height:77px;z-index:0;}
#STHOKLKHLK_DIV { position:relative;z-index:0;width:100%;}
#LUQZFCFSYI {top:14px;position:absolute;left:192px;height:20px;width:312px;z-index:1; }
#FVAZAUXFYY_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FVAZAUXFYY_DIV {left:8px;height:16px;width:184px;}
BODY[ettl='old'] #FVAZAUXFYY_DIV {left:8px;height:16px;width:184px;}
BODY[ettl='yes'] #FVAZAUXFYY_DIV {right:calc(100% - 192px);}
#DXUKTRNNCS {top:42px;position:absolute;left:192px;height:20px;width:192px;z-index:1; }
#EYRDOOPCVW_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EYRDOOPCVW_DIV {left:8px;height:16px;width:184px;}
BODY[ettl='old'] #EYRDOOPCVW_DIV {left:8px;height:16px;width:184px;}
BODY[ettl='yes'] #EYRDOOPCVW_DIV {right:calc(100% - 192px);}
#CIGEGYZWMZ {top:42px;position:absolute;left:504px;height:20px;width:272px;z-index:1; }
#CIGEGYZWMZ { vertical-align:middle; }
#VAWAJFPLKZ_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VAWAJFPLKZ_DIV {left:384px;height:16px;width:120px;}
BODY[ettl='old'] #VAWAJFPLKZ_DIV {left:384px;height:16px;width:120px;}
BODY[ettl='yes'] #VAWAJFPLKZ_DIV {right:calc(100% - 504px);}
BODY[ettl='yes'] #AKMFIOWCBF_DIV {letter-spacing:-1px;}
#RFAIYHSGII, #JANROHXZBL, #NRWNAJJVRA_DIV, #WWRYOVTMFY_DIV, #LNOFOPAOYD_DIV, #HNQZARYXGS_DIV, #WBTKNDJDFF_DIV, #BGEVFUGGOS_DIV, #MWCFKQVNHF_DIV, #RHXCIUHRTU_DIV, #HADVHTQAPE_DIV, #GRCYFEKJWU_DIV, #XVUIFQMEIG_DIV, #WFICGFEUAH_DIV, #VIBYCNNDWC_DIV, #STHOKLKHLK, #FVAZAUXFYY_DIV, #EYRDOOPCVW_DIV, #VAWAJFPLKZ_DIV {overflow:hidden;}
#RFAIYHSGII, #JANROHXZBL, #CANUTVNGFD, #IXGRJLAKIQ, #NKIXCWZJHO, #JQLGHMLOKO, #QVBZSFMTVP, #QKZHBGTGRL_DIV, #BJYOWOAAQH, #AKMFIOWCBF_DIV, #WUEMBLXMFM, #NODGYYBWWX, #STHOKLKHLK, #LUQZFCFSYI, #DXUKTRNNCS, #CIGEGYZWMZ {box-sizing : border-box;}
