.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NSYKFFGVCJ {top:49px;position:absolute;left:158px;height:20px;width:108px;z-index:1; }
#WGSFLCCSAC_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WGSFLCCSAC_DIV {left:66px;height:16px;width:91px;}
BODY[ettl='old'] #WGSFLCCSAC_DIV {left:66px;height:16px;width:91px;}
BODY[ettl='yes'] #WGSFLCCSAC_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#YZWHCBENDD {top:72px;position:absolute;left:158px;height:20px;width:72px;z-index:1; }
#DYHSGULRMW_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DYHSGULRMW_DIV {left:113px;height:16px;width:44px;}
BODY[ettl='old'] #DYHSGULRMW_DIV {left:113px;height:16px;width:44px;}
BODY[ettl='yes'] #DYHSGULRMW_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#NMIXZFCBVE {top:95px;position:absolute;left:158px;height:20px;width:24px;z-index:1; }
#HPXONYPVSI_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HPXONYPVSI_DIV {left:34px;height:16px;width:123px;}
BODY[ettl='old'] #HPXONYPVSI_DIV {left:34px;height:16px;width:123px;}
BODY[ettl='yes'] #HPXONYPVSI_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#KBVBICTKSZ {top:118px;position:absolute;left:158px;height:20px;width:54px;z-index:1; }
#RQMEUSGEWM_DIV {top:122px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RQMEUSGEWM_DIV {left:84px;height:16px;width:73px;}
BODY[ettl='old'] #RQMEUSGEWM_DIV {left:84px;height:16px;width:73px;}
BODY[ettl='yes'] #RQMEUSGEWM_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#JNGCPOLBGY {top:141px;position:absolute;left:158px;height:20px;width:612px;z-index:1; }
#MZULSFSPHL_DIV {top:145px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MZULSFSPHL_DIV {left:109px;height:16px;width:48px;}
BODY[ettl='old'] #MZULSFSPHL_DIV {left:109px;height:16px;width:48px;}
BODY[ettl='yes'] #MZULSFSPHL_DIV {right:calc(100% - 157px);}
#WBPDQKOVOJ {top:164px;position:absolute;left:158px;height:20px;width:192px;z-index:1; }
#EUNAUTWRZV_DIV {top:168px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EUNAUTWRZV_DIV {left:44px;height:16px;width:113px;}
BODY[ettl='old'] #EUNAUTWRZV_DIV {left:44px;height:16px;width:113px;}
BODY[ettl='yes'] #EUNAUTWRZV_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#UOIIIFCGSL {top:187px;position:absolute;left:158px;height:20px;width:192px;z-index:1; }
#DPOTSDMFKS_DIV {top:191px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DPOTSDMFKS_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #DPOTSDMFKS_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #DPOTSDMFKS_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#IIONPQRDRP {top:210px;position:absolute;left:158px;height:20px;width:132px;z-index:1; }
#HYRBQJRPZH_DIV {top:214px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HYRBQJRPZH_DIV {left:52px;height:16px;width:105px;}
BODY[ettl='old'] #HYRBQJRPZH_DIV {left:52px;height:16px;width:105px;}
BODY[ettl='yes'] #HYRBQJRPZH_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#FVAYUICDDF {top:233px;position:absolute;left:158px;height:20px;width:192px;z-index:1; }
#GZHSAXEFQZ_DIV {top:237px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GZHSAXEFQZ_DIV {left:67px;height:16px;width:90px;}
BODY[ettl='old'] #GZHSAXEFQZ_DIV {left:67px;height:16px;width:90px;}
BODY[ettl='yes'] #GZHSAXEFQZ_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#XKZMDIETYG {top:256px;position:absolute;left:158px;height:20px;width:192px;z-index:1; }
#FBHQWXLZDC {top:279px;position:absolute;left:158px;height:20px;width:132px;z-index:1; }
#MWMPLUCQGE_DIV {top:283px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MWMPLUCQGE_DIV {left:76px;height:16px;width:81px;}
BODY[ettl='old'] #MWMPLUCQGE_DIV {left:76px;height:16px;width:81px;}
BODY[ettl='yes'] #MWMPLUCQGE_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#IDSOGPRKYJ {top:302px;position:absolute;left:158px;height:20px;width:612px;z-index:1; }
#ELCGMAAENZ_DIV {top:306px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ELCGMAAENZ_DIV {left:128px;height:16px;width:29px;}
BODY[ettl='old'] #ELCGMAAENZ_DIV {left:128px;height:16px;width:29px;}
BODY[ettl='yes'] #ELCGMAAENZ_DIV {right:calc(100% - 157px);letter-spacing:-1px;}
#DUDFYTNMSV {top:325px;position:absolute;left:158px;height:20px;width:192px;z-index:1; }
#WGSFLCCSAC_DIV, #DYHSGULRMW_DIV, #HPXONYPVSI_DIV, #RQMEUSGEWM_DIV, #MZULSFSPHL_DIV, #EUNAUTWRZV_DIV, #DPOTSDMFKS_DIV, #HYRBQJRPZH_DIV, #GZHSAXEFQZ_DIV, #MWMPLUCQGE_DIV, #ELCGMAAENZ_DIV {overflow:hidden;}
#NSYKFFGVCJ, #YZWHCBENDD, #NMIXZFCBVE, #KBVBICTKSZ, #JNGCPOLBGY, #WBPDQKOVOJ, #UOIIIFCGSL, #IIONPQRDRP, #FVAYUICDDF, #XKZMDIETYG, #FBHQWXLZDC, #IDSOGPRKYJ, #DUDFYTNMSV {box-sizing : border-box;}
