.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#KQFYMJDVWR {top:14px;position:absolute;left:72px;height:20px;width:36px;z-index:1; }
#HQPNUAOYVP_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HQPNUAOYVP_DIV {left:35px;height:16px;width:36px;}
BODY[ettl='old'] #HQPNUAOYVP_DIV {left:35px;height:16px;width:36px;}
BODY[ettl='yes'] #HQPNUAOYVP_DIV {right:calc(100% - 71px);letter-spacing:-1px;}
#KPVDYVYZMO {top:42px;position:absolute;left:72px;height:70px;width:384px;z-index:1; }
#EGVQMKPTJX_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EGVQMKPTJX_DIV {left:13px;height:16px;width:58px;}
BODY[ettl='old'] #EGVQMKPTJX_DIV {left:13px;height:16px;width:58px;}
BODY[ettl='yes'] #EGVQMKPTJX_DIV {right:calc(100% - 71px);letter-spacing:-1px;}
#TNTTYJTZNV {top:7px;position:absolute;left:424px;height:20px;width:30px;text-align:right;z-index:1; }
#WTMZIIKIBV_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WTMZIIKIBV_DIV {left:312px;height:16px;width:109px;}
BODY[ettl='old'] #WTMZIIKIBV_DIV {left:312px;height:16px;width:109px;}
BODY[ettl='yes'] #WTMZIIKIBV_DIV {right:calc(100% - 421px);}
#HQPNUAOYVP_DIV, #EGVQMKPTJX_DIV, #WTMZIIKIBV_DIV {overflow:hidden;}
#KQFYMJDVWR, #KPVDYVYZMO, #TNTTYJTZNV {box-sizing : border-box;}
