.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:77px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:77px;z-index:0;width:728px;top:7px;left:8px;}
#LBGSJKIAGZ {top:21px;position:absolute;left:112px;height:20px;width:616px;z-index:1; }
#QOCVJWZJGH_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QOCVJWZJGH_DIV {left:32px;height:16px;width:79px;}
BODY[ettl='old'] #QOCVJWZJGH_DIV {left:32px;height:16px;width:79px;}
BODY[ettl='yes'] #QOCVJWZJGH_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#TJYKSZAWUH {top:49px;position:absolute;left:112px;height:20px;width:36px;z-index:1; }
#TJYKSZAWUH_ZOOM { position:absolute;top:49px;left:149px;height:20px;width:17px;z-index:1;}
#NRZLUCVMIH_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NRZLUCVMIH_DIV {left:83px;height:16px;width:28px;}
BODY[ettl='old'] #NRZLUCVMIH_DIV {left:83px;height:16px;width:28px;}
BODY[ettl='yes'] #NRZLUCVMIH_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#DDQIAUNLGA {top:49px;position:absolute;left:168px;height:20px;width:560px;z-index:1; }
#YORQOIOBQN, #QOCVJWZJGH_DIV, #NRZLUCVMIH_DIV {overflow:hidden;}
#YORQOIOBQN, #LBGSJKIAGZ, #TJYKSZAWUH, #DDQIAUNLGA {box-sizing : border-box;}
