.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:180px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:180px;z-index:0;width:784px;top:9px;left:8px;}
#BOYWPGJEEZ { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#BOYWPGJEEZ_DIV { position:absolute;height:31px;z-index:0;width:769px;top:14px;left:16px;}
#XLSSDAVPDH { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#XLSSDAVPDH_DIV { position:relative;z-index:0;width:784px;left:8px;}
#XLSSDAVPDH_HEADER {width:784px;}
#ZPEPXLSZFA { height:90px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#ZPEPXLSZFA_DIV { position:relative;z-index:0;width:784px;left:8px;}
#ZPEPXLSZFA_HEADER {width:784px;}
#YIVWPEZXIF { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#YIVWPEZXIF_DIV { position:relative;z-index:0;width:784px;left:8px;}
#YIVWPEZXIF_HEADER {width:784px;}
#YLIKFVPZJA {top:49px;position:absolute;left:112px;height:20px;width:72px;text-align:right;z-index:1; }
#OEIKQOZMYJ {top:49px;position:absolute;left:712px;height:20px;width:72px;text-align:right;z-index:1; }
#PURPSXEVAI {top:77px;position:absolute;left:112px;height:20px;width:104px;z-index:1; }
#PURPSXEVAI { vertical-align:middle; }
#UJRFWINIVQ {top:77px;position:absolute;left:328px;height:20px;width:24px;z-index:1; }
#UJRFWINIVQ_ZOOM { position:absolute;top:77px;left:353px;height:20px;width:17px;z-index:1;}
#SQVJLYRFKQ {top:105px;position:absolute;left:112px;height:20px;width:40px;z-index:1; }
#SQVJLYRFKQ_ZOOM { position:absolute;top:105px;left:153px;height:20px;width:17px;z-index:1;}
#SRWWPHPCUB {top:105px;position:absolute;left:464px;height:20px;width:30px;z-index:1; }
#SRWWPHPCUB_ZOOM { position:absolute;top:105px;left:495px;height:20px;width:17px;z-index:1;}
#LJBMCCABSS {top:133px;position:absolute;left:112px;height:20px;width:160px;z-index:1; }
#LJBMCCABSS { vertical-align:middle; }
#MKCXJZEKIG {top:133px;position:absolute;left:341px;height:20px;width:30px;z-index:1; }
#MKCXJZEKIG_ZOOM { position:absolute;top:133px;left:372px;height:20px;width:17px;z-index:1;}
#YTCDGCPEDJ {top:133px;position:absolute;left:712px;height:20px;width:66px;text-align:right;z-index:1; }
#EDIXWZNSIC {top:161px;position:absolute;left:112px;height:20px;width:114px;text-align:right;z-index:1; }
#CTORYEJVDR {top:162px;position:absolute;left:312px;height:20px;width:114px;text-align:right;z-index:1; }
#RZIQZFKPUE {top:9px;position:absolute;left:159px;height:20px;width:162px;z-index:1; }
#RZIQZFKPUE_ZOOM { position:absolute;top:9px;left:322px;height:20px;width:17px;z-index:1;}
#QBLXDBODXR {top:36px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#QBLXDBODXR_ZOOM { position:absolute;top:36px;left:268px;height:20px;width:17px;z-index:1;}
#TCOTJNZLGM {top:63px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#TCOTJNZLGM_ZOOM { position:absolute;top:63px;left:268px;height:20px;width:17px;z-index:1;}
#AQSAREJVST {top:89px;position:absolute;left:159px;height:20px;width:360px;z-index:1; }
#JGKMKQMAHS_DIV {top:90px;position:absolute;left:543px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#ULVCBLFVEU {top:117px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#ULVCBLFVEU_ZOOM { position:absolute;top:117px;left:268px;height:20px;width:17px;z-index:1;}
#HWFHDWYMIU {top:144px;position:absolute;left:159px;height:20px;width:108px;z-index:1; }
#HWFHDWYMIU_ZOOM { position:absolute;top:144px;left:268px;height:20px;width:17px;z-index:1;}
#AWPNTOJIRR {top:8px;position:absolute;left:159px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#ODAYKSRECA {top:35px;position:absolute;left:159px;height:20px;width:230px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:35px;left:390px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:35px;position:absolute;left:479px;height:20px;width:32px;z-index:1; }
#RDAVOEETJG {top:35px;position:absolute;left:591px;height:20px;width:56px;z-index:1; }
#BOTAJBWHHY {top:35px;position:absolute;left:727px;height:20px;width:48px;z-index:1; }
#VYLHWTRQNX {top:62px;position:absolute;left:159px;height:20px;width:222px;z-index:1; }
#YVIKEGPYPM {top:62px;position:absolute;left:479px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:62px;left:510px;height:20px;width:17px;z-index:1;}
#HNMYJPHSQN {top:9px;position:absolute;left:159px;height:20px;width:516px;z-index:1; }
#HNMYJPHSQN { vertical-align:middle; }
#CDJFSCCGNX {top:36px;position:absolute;left:159px;height:20px;width:94px;z-index:1; }
#CDJFSCCGNX_ZOOM { position:absolute;top:36px;left:254px;height:20px;width:17px;z-index:1;}
#VYDRMHACRY {top:36px;position:absolute;left:367px;height:20px;width:328px;z-index:1; }
#NYRJHOZOON {top:63px;position:absolute;left:159px;height:20px;width:30px;z-index:1; }
#NYRJHOZOON_ZOOM { position:absolute;top:63px;left:190px;height:20px;width:17px;z-index:1;}
#NZZUAIJFDU {top:63px;position:absolute;left:607px;height:20px;width:168px;z-index:1; }
#YQINIDXZSL {top:90px;position:absolute;left:159px;height:20px;width:56px;z-index:1; }
#YQINIDXZSL_ZOOM { position:absolute;top:90px;left:216px;height:20px;width:17px;z-index:1;}
#ACAPFGYRVI {top:90px;position:absolute;left:735px;height:20px;width:32px;z-index:1; }
#FFCAGQAZHK {top:117px;position:absolute;left:159px;height:20px;width:280px;z-index:1; }
#GXMZZZHVBR {top:144px;position:absolute;left:159px;height:20px;width:426px;z-index:1; }
#NHERHRZTFP {top:49px;position:absolute;left:504px;height:20px;width:80px;z-index:1; }
#XYMCLUECBD {top:49px;position:absolute;left:408px;height:20px;width:88px;z-index:1; }
#KDUGHGZUUG_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:288px;height:16px;width:117px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:288px;height:16px;width:117px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 405px);}
#HVHVAYPDJE_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 111px);}
#WJSVGWKSFC {top:18px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#LOEAMXUYLA_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#AVHTGZTOSZ {top:18px;position:absolute;left:232px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:18px;left:281px;height:21px;width:17px;z-index:1;}
#RLUMBFHPUD {top:18px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#GVTXMEILAZ_DIV {top:81px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVTXMEILAZ_DIV {left:31px;height:16px;width:80px;}
BODY[ettl='old'] #GVTXMEILAZ_DIV {left:31px;height:16px;width:80px;}
BODY[ettl='yes'] #GVTXMEILAZ_DIV {right:calc(100% - 111px);}
#RPGHLQLUDI_DIV {top:109px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPGHLQLUDI_DIV {left:12px;height:16px;width:99px;}
BODY[ettl='old'] #RPGHLQLUDI_DIV {left:12px;height:16px;width:99px;}
BODY[ettl='yes'] #RPGHLQLUDI_DIV {right:calc(100% - 111px);}
#GVUCGWQOGG_DIV {top:109px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVUCGWQOGG_DIV {left:411px;height:16px;width:53px;}
BODY[ettl='old'] #GVUCGWQOGG_DIV {left:411px;height:16px;width:53px;}
BODY[ettl='yes'] #GVUCGWQOGG_DIV {right:calc(100% - 464px);}
#EXIXNLTCBE_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EXIXNLTCBE_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='old'] #EXIXNLTCBE_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='yes'] #EXIXNLTCBE_DIV {right:calc(100% - 155px);}
#VECGHPFLII_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VECGHPFLII_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='old'] #VECGHPFLII_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='yes'] #VECGHPFLII_DIV {right:calc(100% - 155px);}
#IKBMEWKQJW_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:608px;height:16px;width:103px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:608px;height:16px;width:103px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 711px);}
#KMCNAWQHKV_DIV {top:81px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMCNAWQHKV_DIV {left:224px;height:16px;width:104px;}
BODY[ettl='old'] #KMCNAWQHKV_DIV {left:224px;height:16px;width:104px;}
BODY[ettl='yes'] #KMCNAWQHKV_DIV {right:calc(100% - 328px);}
#EQARGRKLGY_DIV {top:137px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EQARGRKLGY_DIV {left:21px;height:16px;width:90px;}
BODY[ettl='old'] #EQARGRKLGY_DIV {left:21px;height:16px;width:90px;}
BODY[ettl='yes'] #EQARGRKLGY_DIV {right:calc(100% - 111px);}
#UIZWPHSLNT_DIV {top:137px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UIZWPHSLNT_DIV {left:280px;height:16px;width:60px;}
BODY[ettl='old'] #UIZWPHSLNT_DIV {left:280px;height:16px;width:60px;}
BODY[ettl='yes'] #UIZWPHSLNT_DIV {right:calc(100% - 340px);}
#QNNLSEAZHF {top:105px;position:absolute;left:760px;height:20px;width:18px;z-index:1; }
#PQFNSCNIRZ_DIV {top:109px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PQFNSCNIRZ_DIV {left:720px;height:16px;width:39px;}
BODY[ettl='old'] #PQFNSCNIRZ_DIV {left:720px;height:16px;width:39px;}
BODY[ettl='yes'] #PQFNSCNIRZ_DIV {right:calc(100% - 759px);letter-spacing:-1px;}
#XLNVLBYVQX_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XLNVLBYVQX_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='old'] #XLNVLBYVQX_DIV {left:16px;height:16px;width:95px;}
BODY[ettl='yes'] #XLNVLBYVQX_DIV {right:calc(100% - 111px);}
#IDTBMNCIOX_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDTBMNCIOX_DIV {left:233px;height:16px;width:78px;}
BODY[ettl='old'] #IDTBMNCIOX_DIV {left:233px;height:16px;width:78px;}
BODY[ettl='yes'] #IDTBMNCIOX_DIV {right:calc(100% - 311px);letter-spacing:-1px;}
#NUEFWOMRRX_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NUEFWOMRRX_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='old'] #NUEFWOMRRX_DIV {left:-1px;height:16px;width:156px;}
BODY[ettl='yes'] #NUEFWOMRRX_DIV {right:calc(100% - 155px);}
#IINONMZPLB_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IINONMZPLB_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='old'] #IINONMZPLB_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='yes'] #IINONMZPLB_DIV {right:calc(100% - 155px);}
#LZDWHHTSGR_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LZDWHHTSGR_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='old'] #LZDWHHTSGR_DIV {left:23px;height:16px;width:132px;}
BODY[ettl='yes'] #LZDWHHTSGR_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#HTLKHJWKEZ_DIV {top:137px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HTLKHJWKEZ_DIV {left:624px;height:16px;width:87px;}
BODY[ettl='old'] #HTLKHJWKEZ_DIV {left:624px;height:16px;width:87px;}
BODY[ettl='yes'] #HTLKHJWKEZ_DIV {right:calc(100% - 711px);}
#XVRJYSKGWZ_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 232px);}
#CTLYJMTHDV_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 489px);}
#JWSDOSRGAG_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:648px;height:17px;width:24px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:648px;height:17px;width:24px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 672px);}
#ENBRMMDVUP_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 730px);}
#WDLBZTAAWH_DIV {top:109px;position:absolute;left:178px;height:16px;width:222px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BPBCTQXMMG_DIV {top:109px;position:absolute;left:521px;height:16px;width:191px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GPOZOSEFSD_DIV {top:137px;position:absolute;left:397px;height:16px;width:248px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PXKFPRTVXX_DIV {top:40px;position:absolute;left:295px;height:16px;width:456px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#UWUWSYENHG_DIV {top:13px;position:absolute;left:343px;height:16px;width:432px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QGPWBVUZYW_DIV {top:67px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#USZXRLYSFT_DIV {top:121px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BLXOBUQVYE_DIV {top:22px;position:absolute;left:304px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#THOGQCLBJA_DIV {top:81px;position:absolute;left:376px;height:16px;width:192px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QSRYXQJCBZ {top:77px;position:absolute;left:688px;height:20px;width:96px;z-index:1; }
#QSRYXQJCBZ { vertical-align:middle; }
#JHWWHHXDJI_DIV {top:81px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JHWWHHXDJI_DIV {left:592px;height:16px;width:91px;}
BODY[ettl='old'] #JHWWHHXDJI_DIV {left:592px;height:16px;width:91px;}
BODY[ettl='yes'] #JHWWHHXDJI_DIV {right:calc(100% - 683px);}
#AWTMZMTFUL_DIV {top:81px;position:absolute;left:608px;height:16px;width:168px;color:#FF0000;text-align:left;z-index:1;}
#VYBZEWHKFF {top:50px;position:absolute;left:200px;height:20px;width:80px;text-align:right;z-index:1; }
#MSGBKOOAOY {top:161px;position:absolute;left:680px;height:20px;width:78px;z-index:1; }
#MSGBKOOAOY_ZOOM { position:absolute;top:161px;left:759px;height:20px;width:17px;z-index:1;}
#WTYYEQYAIU_DIV {top:165px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WTYYEQYAIU_DIV {left:584px;height:16px;width:98px;}
BODY[ettl='old'] #WTYYEQYAIU_DIV {left:584px;height:16px;width:98px;}
BODY[ettl='yes'] #WTYYEQYAIU_DIV {right:calc(100% - 682px);}
#OJGQABFSYN {top:18px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:18px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#KMXZXPWLPX {top:35px;position:absolute;left:759px;z-index:1;clip:rect(0,20px,20px,0);}
#OQXSPVCWCC_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OQXSPVCWCC_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='old'] #OQXSPVCWCC_DIV {left:7px;height:16px;width:148px;}
BODY[ettl='yes'] #OQXSPVCWCC_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#PDLOBCDELX_DIV {top:148px;position:absolute;left:295px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#CFRJFQBTVV_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CFRJFQBTVV_DIV {left:42px;height:16px;width:113px;}
BODY[ettl='old'] #CFRJFQBTVV_DIV {left:42px;height:16px;width:113px;}
BODY[ettl='yes'] #CFRJFQBTVV_DIV {right:calc(100% - 155px);}
#LNONRUGLMW_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LNONRUGLMW_DIV {left:35px;height:16px;width:120px;}
BODY[ettl='old'] #LNONRUGLMW_DIV {left:35px;height:16px;width:120px;}
BODY[ettl='yes'] #LNONRUGLMW_DIV {right:calc(100% - 155px);letter-spacing:-1px;}
#JJLAKRDJXU_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JJLAKRDJXU_DIV {left:106px;height:16px;width:50px;}
BODY[ettl='old'] #JJLAKRDJXU_DIV {left:106px;height:16px;width:50px;}
BODY[ettl='yes'] #JJLAKRDJXU_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#ZTIARSVAXX_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZTIARSVAXX_DIV {left:15px;height:16px;width:140px;}
BODY[ettl='old'] #ZTIARSVAXX_DIV {left:15px;height:16px;width:140px;}
BODY[ettl='yes'] #ZTIARSVAXX_DIV {right:calc(100% - 155px);}
#IDAYTSKPPF_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IDAYTSKPPF_DIV {left:663px;height:16px;width:70px;}
BODY[ettl='old'] #IDAYTSKPPF_DIV {left:663px;height:16px;width:70px;}
BODY[ettl='yes'] #IDAYTSKPPF_DIV {right:calc(100% - 733px);}
#GXGGXKSESA_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GXGGXKSESA_DIV {left:31px;height:16px;width:124px;}
BODY[ettl='old'] #GXGGXKSESA_DIV {left:31px;height:16px;width:124px;}
BODY[ettl='yes'] #GXGGXKSESA_DIV {right:calc(100% - 155px);}
#MYPLEXWRTO_DIV {top:67px;position:absolute;left:215px;height:16px;width:328px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#IMHKHLSVQZ_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IMHKHLSVQZ_DIV {left:36px;height:16px;width:119px;}
BODY[ettl='old'] #IMHKHLSVQZ_DIV {left:36px;height:16px;width:119px;}
BODY[ettl='yes'] #IMHKHLSVQZ_DIV {right:calc(100% - 155px);}
#UBVWWLXEKS_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UBVWWLXEKS_DIV {left:519px;height:16px;width:84px;}
BODY[ettl='old'] #UBVWWLXEKS_DIV {left:519px;height:16px;width:84px;}
BODY[ettl='yes'] #UBVWWLXEKS_DIV {right:calc(100% - 603px);}
#POOUDEGCOH_DIV {top:94px;position:absolute;left:239px;height:16px;width:400px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JDTKGSGMAF {top:162px;position:absolute;left:512px;height:20px;width:72px;z-index:1; }
#EOJCZFADSY_DIV {top:166px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EOJCZFADSY_DIV {left:480px;height:16px;width:32px;}
BODY[ettl='old'] #EOJCZFADSY_DIV {left:480px;height:16px;width:32px;}
BODY[ettl='yes'] #EOJCZFADSY_DIV {right:calc(100% - 512px);letter-spacing:-1px;}
#MZACLGVARN_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MZACLGVARN_DIV {left:279px;height:16px;width:88px;}
BODY[ettl='old'] #MZACLGVARN_DIV {left:279px;height:16px;width:88px;}
BODY[ettl='yes'] #MZACLGVARN_DIV {right:calc(100% - 367px);}
#HELEAXSQUV {top:144px;position:absolute;left:607px;height:20px;width:102px;text-align:right;z-index:1; }
#SBJQIAQUCN_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:407px;height:16px;width:70px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:407px;height:16px;width:70px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 477px);}
#PFEQRACAUA_DIV {top:12px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 156px);}
#RZBLEGCFJJ_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:401px;height:16px;width:76px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:401px;height:16px;width:76px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 477px);}
#TWTXGZJTAR_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:7px;height:16px;width:149px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 156px);}
#GDOCAGKROT_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:535px;height:16px;width:54px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:535px;height:16px;width:54px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 589px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:663px;height:16px;width:63px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:663px;height:16px;width:63px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 726px);}
#XPSQTBKQQZ_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:23px;height:16px;width:133px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:23px;height:16px;width:133px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 156px);}
#ESVLUSNYWB_DIV {top:66px;position:absolute;left:532px;height:16px;width:251px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BDZUATYPMW { height:359px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#BDZUATYPMW_DIV { position:absolute;height:359px;z-index:0;width:784px;top:55px;left:8px;}
#BOAFVDQFRN {top:59px;position:absolute;left:152px;height:346px;width:631px;z-index:1;}
#CPEZJFYWUR_DIV {top:58px;position:absolute;left:16px;height:16px;width:75px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EBQBWEDRVH { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#FF80C0;border-style:solid;z-index:0;}
#EBQBWEDRVH_DIV { position:absolute;height:45px;z-index:0;width:784px;top:9px;left:8px;}
#GPZQGPPLEB { height:31px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#GPZQGPPLEB_DIV { position:absolute;height:31px;z-index:0;width:769px;top:14px;left:16px;}
#AKAVLTKFQJ {top:18px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#VREPXJWJVS_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VREPXJWJVS_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #VREPXJWJVS_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #VREPXJWJVS_DIV {right:calc(100% - 102px);}
#VFSCXTRPBT {top:18px;position:absolute;left:232px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#VFSCXTRPBT_ZOOM { position:absolute;top:18px;left:281px;height:21px;width:17px;z-index:1;}
#DYLLKXEEFX {top:18px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#JNCPEWXCUN_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JNCPEWXCUN_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #JNCPEWXCUN_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #JNCPEWXCUN_DIV {right:calc(100% - 232px);}
#IJHBNGIMWX_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #IJHBNGIMWX_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #IJHBNGIMWX_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #IJHBNGIMWX_DIV {right:calc(100% - 489px);}
#WPNDWMVHEX_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #WPNDWMVHEX_DIV {left:648px;height:17px;width:24px;}
BODY[ettl='old'] #WPNDWMVHEX_DIV {left:648px;height:17px;width:24px;}
BODY[ettl='yes'] #WPNDWMVHEX_DIV {right:calc(100% - 672px);}
#QGKAQODPMV_DIV {top:22px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #QGKAQODPMV_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #QGKAQODPMV_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #QGKAQODPMV_DIV {right:calc(100% - 730px);}
#MCIRMMHGPK_DIV {top:22px;position:absolute;left:304px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#BLITNRBDXW {top:18px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#GNRCJTZWLH {top:18px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
BODY[ettl='yes'] #JGKMKQMAHS_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #BOYWPGJEEZ, #XLSSDAVPDH, #ZPEPXLSZFA, #YIVWPEZXIF, #KDUGHGZUUG_DIV, #HVHVAYPDJE_DIV, #LOEAMXUYLA_DIV, #GVTXMEILAZ_DIV, #RPGHLQLUDI_DIV, #GVUCGWQOGG_DIV, #EXIXNLTCBE_DIV, #VECGHPFLII_DIV, #IKBMEWKQJW_DIV, #KMCNAWQHKV_DIV, #EQARGRKLGY_DIV, #UIZWPHSLNT_DIV, #PQFNSCNIRZ_DIV, #XLNVLBYVQX_DIV, #IDTBMNCIOX_DIV, #NUEFWOMRRX_DIV, #IINONMZPLB_DIV, #LZDWHHTSGR_DIV, #HTLKHJWKEZ_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #WDLBZTAAWH_DIV, #BPBCTQXMMG_DIV, #GPOZOSEFSD_DIV, #PXKFPRTVXX_DIV, #UWUWSYENHG_DIV, #QGPWBVUZYW_DIV, #USZXRLYSFT_DIV, #BLXOBUQVYE_DIV, #THOGQCLBJA_DIV, #JHWWHHXDJI_DIV, #AWTMZMTFUL_DIV, #WTYYEQYAIU_DIV, #OQXSPVCWCC_DIV, #PDLOBCDELX_DIV, #CFRJFQBTVV_DIV, #LNONRUGLMW_DIV, #JJLAKRDJXU_DIV, #ZTIARSVAXX_DIV, #IDAYTSKPPF_DIV, #GXGGXKSESA_DIV, #MYPLEXWRTO_DIV, #IMHKHLSVQZ_DIV, #UBVWWLXEKS_DIV, #POOUDEGCOH_DIV, #EOJCZFADSY_DIV, #MZACLGVARN_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #WHMXTGXWGC_DIV, #XPSQTBKQQZ_DIV, #ESVLUSNYWB_DIV, #BDZUATYPMW, #CPEZJFYWUR_DIV, #EBQBWEDRVH, #GPZQGPPLEB, #VREPXJWJVS_DIV, #JNCPEWXCUN_DIV, #IJHBNGIMWX_DIV, #WPNDWMVHEX_DIV, #QGKAQODPMV_DIV, #MCIRMMHGPK_DIV {overflow:hidden;}
#YORQOIOBQN, #BOYWPGJEEZ, #XLSSDAVPDH, #ZPEPXLSZFA, #YIVWPEZXIF, #YLIKFVPZJA, #OEIKQOZMYJ, #PURPSXEVAI, #UJRFWINIVQ, #SQVJLYRFKQ, #SRWWPHPCUB, #LJBMCCABSS, #MKCXJZEKIG, #YTCDGCPEDJ, #EDIXWZNSIC, #CTORYEJVDR, #RZIQZFKPUE, #QBLXDBODXR, #TCOTJNZLGM, #AQSAREJVST, #JGKMKQMAHS_DIV, #ULVCBLFVEU, #HWFHDWYMIU, #AWPNTOJIRR, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #YVIKEGPYPM, #HNMYJPHSQN, #CDJFSCCGNX, #VYDRMHACRY, #NYRJHOZOON, #NZZUAIJFDU, #YQINIDXZSL, #ACAPFGYRVI, #FFCAGQAZHK, #GXMZZZHVBR, #NHERHRZTFP, #XYMCLUECBD, #WJSVGWKSFC, #AVHTGZTOSZ, #RLUMBFHPUD, #QNNLSEAZHF, #QSRYXQJCBZ, #VYBZEWHKFF, #MSGBKOOAOY, #OJGQABFSYN, #OZEOCQRSEQ, #JDTKGSGMAF, #HELEAXSQUV, #BDZUATYPMW, #EBQBWEDRVH, #GPZQGPPLEB, #AKAVLTKFQJ, #VFSCXTRPBT, #DYLLKXEEFX, #BLITNRBDXW, #GNRCJTZWLH {box-sizing : border-box;}
