.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#BUQHTQZEWF {top:49px;position:absolute;left:122px;height:20px;width:42px;z-index:1; }
#FGJGISOCRH_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FGJGISOCRH_DIV {left:5px;height:16px;width:116px;}
BODY[ettl='old'] #FGJGISOCRH_DIV {left:5px;height:16px;width:116px;}
BODY[ettl='yes'] #FGJGISOCRH_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#PUGRYTGEHQ {top:72px;position:absolute;left:122px;height:20px;width:66px;z-index:1; }
#RLMKMBMYWN_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RLMKMBMYWN_DIV {left:48px;height:16px;width:73px;}
BODY[ettl='old'] #RLMKMBMYWN_DIV {left:48px;height:16px;width:73px;}
BODY[ettl='yes'] #RLMKMBMYWN_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#FFNWZCKHDB {top:95px;position:absolute;left:122px;height:20px;width:192px;z-index:1; }
#UUZFJIKNDH_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UUZFJIKNDH_DIV {left:35px;height:16px;width:86px;}
BODY[ettl='old'] #UUZFJIKNDH_DIV {left:35px;height:16px;width:86px;}
BODY[ettl='yes'] #UUZFJIKNDH_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#VAFIDWPHCA {top:118px;position:absolute;left:122px;height:20px;width:252px;z-index:1; }
#XVALWRRSQW_DIV {top:122px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XVALWRRSQW_DIV {left:73px;height:16px;width:48px;}
BODY[ettl='old'] #XVALWRRSQW_DIV {left:73px;height:16px;width:48px;}
BODY[ettl='yes'] #XVALWRRSQW_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#PHXZPOWUHE {top:141px;position:absolute;left:122px;height:20px;width:192px;z-index:1; }
#FBJUZQYAYI_DIV {top:145px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FBJUZQYAYI_DIV {left:92px;height:16px;width:29px;}
BODY[ettl='old'] #FBJUZQYAYI_DIV {left:92px;height:16px;width:29px;}
BODY[ettl='yes'] #FBJUZQYAYI_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#XPYTVNWCHO {top:164px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#FUFCACTQCQ_DIV {top:168px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FUFCACTQCQ_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #FUFCACTQCQ_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #FUFCACTQCQ_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#VFFCZHRBSV {top:187px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#WVGTEDJQXS_DIV {top:191px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WVGTEDJQXS_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #WVGTEDJQXS_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #WVGTEDJQXS_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#YFVSZTUKFJ {top:210px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#GNJKEPAFQG_DIV {top:214px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GNJKEPAFQG_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #GNJKEPAFQG_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #GNJKEPAFQG_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#FBLLPINCSQ {top:233px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#MYIBJOKLHM_DIV {top:237px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MYIBJOKLHM_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #MYIBJOKLHM_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #MYIBJOKLHM_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#NREHZLHXUK {top:256px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#RONDZMRNWA_DIV {top:260px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RONDZMRNWA_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #RONDZMRNWA_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #RONDZMRNWA_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#WMBIMGHLXA {top:279px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#TOTPAIZNJM_DIV {top:283px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TOTPAIZNJM_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #TOTPAIZNJM_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #TOTPAIZNJM_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#MUIQATNACU {top:302px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#IENYFAVPAY_DIV {top:306px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IENYFAVPAY_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #IENYFAVPAY_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #IENYFAVPAY_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#MCFYJRFQLY {top:325px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#RLVBRMKVLK_DIV {top:329px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RLVBRMKVLK_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #RLVBRMKVLK_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #RLVBRMKVLK_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#FVWFZMVAXM {top:348px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#UDNLAIKCZT_DIV {top:352px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UDNLAIKCZT_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='old'] #UDNLAIKCZT_DIV {left:74px;height:16px;width:47px;}
BODY[ettl='yes'] #UDNLAIKCZT_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#FBNHYNDMJM {top:371px;position:absolute;left:122px;height:20px;width:372px;z-index:1; }
#URAFRLWJGA_DIV {top:375px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #URAFRLWJGA_DIV {left:68px;height:16px;width:53px;}
BODY[ettl='old'] #URAFRLWJGA_DIV {left:68px;height:16px;width:53px;}
BODY[ettl='yes'] #URAFRLWJGA_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#UPIBHMCFWQ {top:394px;position:absolute;left:122px;height:20px;width:18px;z-index:1; }
#TLSSWSIGYB_DIV {top:398px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TLSSWSIGYB_DIV {left:47px;height:16px;width:74px;}
BODY[ettl='old'] #TLSSWSIGYB_DIV {left:47px;height:16px;width:74px;}
BODY[ettl='yes'] #TLSSWSIGYB_DIV {right:calc(100% - 121px);letter-spacing:-1px;}
#VQBNKYNPCH {top:417px;position:absolute;left:122px;height:20px;width:18px;z-index:1; }
#NKHUJTBNTZ_DIV {top:421px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NKHUJTBNTZ_DIV {left:40px;height:16px;width:81px;}
BODY[ettl='old'] #NKHUJTBNTZ_DIV {left:40px;height:16px;width:81px;}
BODY[ettl='yes'] #NKHUJTBNTZ_DIV {right:calc(100% - 121px);}
#FGJGISOCRH_DIV, #RLMKMBMYWN_DIV, #UUZFJIKNDH_DIV, #XVALWRRSQW_DIV, #FBJUZQYAYI_DIV, #FUFCACTQCQ_DIV, #WVGTEDJQXS_DIV, #GNJKEPAFQG_DIV, #MYIBJOKLHM_DIV, #RONDZMRNWA_DIV, #TOTPAIZNJM_DIV, #IENYFAVPAY_DIV, #RLVBRMKVLK_DIV, #UDNLAIKCZT_DIV, #URAFRLWJGA_DIV, #TLSSWSIGYB_DIV, #NKHUJTBNTZ_DIV {overflow:hidden;}
#BUQHTQZEWF, #PUGRYTGEHQ, #FFNWZCKHDB, #VAFIDWPHCA, #PHXZPOWUHE, #XPYTVNWCHO, #VFFCZHRBSV, #YFVSZTUKFJ, #FBLLPINCSQ, #NREHZLHXUK, #WMBIMGHLXA, #MUIQATNACU, #MCFYJRFQLY, #FVWFZMVAXM, #FBNHYNDMJM, #UPIBHMCFWQ, #VQBNKYNPCH {box-sizing : border-box;}
