.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PIMVZFFAWF { height:231px;z-index:0;}
#PIMVZFFAWF_DIV { position:relative;z-index:0;width:100%;}
#GSWVKRDVIZ {top:7px;position:absolute;left:112px;height:20px;width:102px;z-index:1; }
#RUJPODETQU_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUJPODETQU_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #RUJPODETQU_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #RUJPODETQU_DIV {right:calc(100% - 111px);}
#XUFFKSTRWQ {top:7px;position:absolute;left:560px;height:20px;width:224px;z-index:1; }
#XUFFKSTRWQ { vertical-align:middle; }
#HOGUHQBZIF_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HOGUHQBZIF_DIV {left:448px;height:16px;width:111px;}
BODY[ettl='old'] #HOGUHQBZIF_DIV {left:448px;height:16px;width:111px;}
BODY[ettl='yes'] #HOGUHQBZIF_DIV {right:calc(100% - 559px);}
#YMJRPKIKSX {top:35px;position:absolute;left:112px;height:20px;width:56px;z-index:1; }
#YMJRPKIKSX_ZOOM { position:absolute;top:35px;left:169px;height:20px;width:17px;z-index:1;}
#EAZRWDNQMQ_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EAZRWDNQMQ_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #EAZRWDNQMQ_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #EAZRWDNQMQ_DIV {right:calc(100% - 111px);}
#DSKEQYLWDR {top:91px;position:absolute;left:112px;height:20px;width:162px;z-index:1; }
#DSKEQYLWDR_ZOOM { position:absolute;top:91px;left:275px;height:20px;width:17px;z-index:1;}
#NANPPGWHGJ_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NANPPGWHGJ_DIV {left:14px;height:16px;width:97px;}
BODY[ettl='old'] #NANPPGWHGJ_DIV {left:14px;height:16px;width:97px;}
BODY[ettl='yes'] #NANPPGWHGJ_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#UQYWDDPGQG {top:147px;position:absolute;left:112px;height:20px;width:102px;text-align:right;z-index:1; }
#YJAJNAZWNB_DIV {top:151px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YJAJNAZWNB_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #YJAJNAZWNB_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #YJAJNAZWNB_DIV {right:calc(100% - 111px);letter-spacing:-1px;}
#NSVLOKQVAT {top:119px;position:absolute;left:560px;height:20px;width:112px;text-align:right;z-index:1; }
#NSVLOKQVAT_ZOOM { position:absolute;top:119px;left:673px;height:20px;width:17px;z-index:1;}
#PNRWGGQEBO_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PNRWGGQEBO_DIV {left:424px;height:16px;width:135px;}
BODY[ettl='old'] #PNRWGGQEBO_DIV {left:424px;height:16px;width:135px;}
BODY[ettl='yes'] #PNRWGGQEBO_DIV {right:calc(100% - 559px);}
#YMUBWPUUZX {top:35px;position:absolute;left:560px;height:20px;width:208px;z-index:1; }
#NCFFVJFTNT_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NCFFVJFTNT_DIV {left:440px;height:16px;width:119px;}
BODY[ettl='old'] #NCFFVJFTNT_DIV {left:440px;height:16px;width:119px;}
BODY[ettl='yes'] #NCFFVJFTNT_DIV {right:calc(100% - 559px);}
#MMAJBBOTBM {top:175px;position:absolute;left:112px;height:20px;width:132px;z-index:1; }
#LSAYIFWCRN_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LSAYIFWCRN_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='old'] #LSAYIFWCRN_DIV {left:8px;height:16px;width:103px;}
BODY[ettl='yes'] #LSAYIFWCRN_DIV {right:calc(100% - 111px);}
#FLDKXDUZMH {top:175px;position:absolute;left:392px;height:20px;width:144px;text-align:right;z-index:1; }
#PEYKVSMVYE_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PEYKVSMVYE_DIV {left:264px;height:16px;width:127px;}
BODY[ettl='old'] #PEYKVSMVYE_DIV {left:264px;height:16px;width:127px;}
BODY[ettl='yes'] #PEYKVSMVYE_DIV {right:calc(100% - 391px);}
#RUIEOGJHQL {top:175px;position:absolute;left:712px;height:20px;width:72px;text-align:right;z-index:1; }
#RBBHENRBWM_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RBBHENRBWM_DIV {left:552px;height:16px;width:159px;}
BODY[ettl='old'] #RBBHENRBWM_DIV {left:552px;height:16px;width:159px;}
BODY[ettl='yes'] #RBBHENRBWM_DIV {right:calc(100% - 711px);}
#MKZZTQTPHW { height:142px;z-index:0;}
#MKZZTQTPHW_DIV { position:relative;z-index:0;width:100%;}
#TVQKRQXOUS {top:6px;position:absolute;left:15px;height:128px;width:768px;overflow:auto;z-index:1; }
#DEIMFQSLOV_DIV {top:39px;position:absolute;left:192px;height:16px;width:248px;color:#0000FF;text-align:left;z-index:1;}
#EOSKLIUGBC {top:63px;position:absolute;left:112px;height:20px;width:224px;z-index:1; }
#EOSKLIUGBC { vertical-align:middle; }
#UTUCDPQJKK {top:63px;position:absolute;left:560px;height:20px;width:224px;z-index:1; }
#VQCVMXHDPB_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VQCVMXHDPB_DIV {left:8px;height:16px;width:104px;}
BODY[ettl='old'] #VQCVMXHDPB_DIV {left:8px;height:16px;width:104px;}
BODY[ettl='yes'] #VQCVMXHDPB_DIV {right:calc(100% - 112px);}
#PBHNLOUBML_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PBHNLOUBML_DIV {left:448px;height:16px;width:112px;}
BODY[ettl='old'] #PBHNLOUBML_DIV {left:448px;height:16px;width:112px;}
BODY[ettl='yes'] #PBHNLOUBML_DIV {right:calc(100% - 560px);}
#NDJOCZNQIT_DIV {top:95px;position:absolute;left:304px;height:16px;width:312px;color:#0000FF;text-align:left;z-index:1;}
#WJQFIEBCQV {top:119px;position:absolute;left:112px;height:20px;width:312px;z-index:1; }
#WJQFIEBCQV { vertical-align:middle; }
#YFGRJCQGZV_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YFGRJCQGZV_DIV {left:16px;height:16px;width:93px;}
BODY[ettl='old'] #YFGRJCQGZV_DIV {left:16px;height:16px;width:93px;}
BODY[ettl='yes'] #YFGRJCQGZV_DIV {right:calc(100% - 109px);}
#AYCRVWSEMG_DIV {top:146px;position:absolute;left:560px;height:21px;width:146px;overflow:hidden;white-space:nowrap;z-index:1; }
#XQXYVWITMV {top:203px;position:absolute;left:112px;height:20px;width:42px;text-align:right;z-index:1; }
#HKGTRSYYFU_DIV {top:207px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HKGTRSYYFU_DIV {left:8px;height:16px;width:104px;}
BODY[ettl='old'] #HKGTRSYYFU_DIV {left:8px;height:16px;width:104px;}
BODY[ettl='yes'] #HKGTRSYYFU_DIV {right:calc(100% - 112px);}
#BRJUUNWDMJ {top:203px;position:absolute;left:392px;height:20px;width:42px;text-align:right;z-index:1; }
#VUQKRXMESB_DIV {top:207px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VUQKRXMESB_DIV {left:264px;height:16px;width:128px;}
BODY[ettl='old'] #VUQKRXMESB_DIV {left:264px;height:16px;width:128px;}
BODY[ettl='yes'] #VUQKRXMESB_DIV {right:calc(100% - 392px);}
#CTQAPOFAUI {top:203px;position:absolute;left:712px;height:20px;width:72px;text-align:right;z-index:1; }
#HCCCMVVWJX_DIV {top:207px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HCCCMVVWJX_DIV {left:608px;height:16px;width:104px;}
BODY[ettl='old'] #HCCCMVVWJX_DIV {left:608px;height:16px;width:104px;}
BODY[ettl='yes'] #HCCCMVVWJX_DIV {right:calc(100% - 712px);}
BODY[ettl='yes'] #AYCRVWSEMG_DIV {letter-spacing:-1px;}
#PIMVZFFAWF, #RUJPODETQU_DIV, #HOGUHQBZIF_DIV, #EAZRWDNQMQ_DIV, #NANPPGWHGJ_DIV, #YJAJNAZWNB_DIV, #PNRWGGQEBO_DIV, #NCFFVJFTNT_DIV, #LSAYIFWCRN_DIV, #PEYKVSMVYE_DIV, #RBBHENRBWM_DIV, #MKZZTQTPHW, #DEIMFQSLOV_DIV, #VQCVMXHDPB_DIV, #PBHNLOUBML_DIV, #NDJOCZNQIT_DIV, #YFGRJCQGZV_DIV, #HKGTRSYYFU_DIV, #VUQKRXMESB_DIV, #HCCCMVVWJX_DIV {overflow:hidden;}
#PIMVZFFAWF, #GSWVKRDVIZ, #XUFFKSTRWQ, #YMJRPKIKSX, #DSKEQYLWDR, #UQYWDDPGQG, #NSVLOKQVAT, #YMUBWPUUZX, #MMAJBBOTBM, #FLDKXDUZMH, #RUIEOGJHQL, #MKZZTQTPHW, #TVQKRQXOUS, #EOSKLIUGBC, #UTUCDPQJKK, #WJQFIEBCQV, #AYCRVWSEMG_DIV, #XQXYVWITMV, #BRJUUNWDMJ, #CTQAPOFAUI {box-sizing : border-box;}
