.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FURCXEJBAK {top:13px;position:absolute;left:97px;height:20px;width:47px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#AGMNHVUTIN_DIV {top:17px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #AGMNHVUTIN_DIV {left:52px;height:16px;width:44px;}
BODY[ettl='old'] #AGMNHVUTIN_DIV {left:52px;height:16px;width:44px;}
BODY[ettl='yes'] #AGMNHVUTIN_DIV {right:calc(100% - 96px);}
#NJXKLQSDAQ {top:36px;position:absolute;left:97px;height:20px;width:432px;z-index:1; }
#GWSEHHVYON_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GWSEHHVYON_DIV {left:29px;height:16px;width:67px;}
BODY[ettl='old'] #GWSEHHVYON_DIV {left:29px;height:16px;width:67px;}
BODY[ettl='yes'] #GWSEHHVYON_DIV {right:calc(100% - 96px);letter-spacing:-1px;}
#AGMNHVUTIN_DIV, #GWSEHHVYON_DIV {overflow:hidden;}
#FURCXEJBAK, #NJXKLQSDAQ {box-sizing : border-box;}
