.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TGRCYWSFQA {top:7px;position:absolute;left:72px;height:20px;width:48px;z-index:1; }
#RHRTCXBDSD_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RHRTCXBDSD_DIV {left:40px;height:16px;width:31px;}
BODY[ettl='old'] #RHRTCXBDSD_DIV {left:40px;height:16px;width:31px;}
BODY[ettl='yes'] #RHRTCXBDSD_DIV {right:calc(100% - 71px);letter-spacing:-1px;}
#BTKJJRZUIH {top:7px;position:absolute;left:232px;height:20px;width:192px;z-index:1; }
#BTKJJRZUIH { vertical-align:middle; }
#YYLKMNKCUQ_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YYLKMNKCUQ_DIV {left:178px;height:16px;width:53px;}
BODY[ettl='old'] #YYLKMNKCUQ_DIV {left:178px;height:16px;width:53px;}
BODY[ettl='yes'] #YYLKMNKCUQ_DIV {right:calc(100% - 231px);letter-spacing:-1px;}
#CZSLGJMHXK_DIV {top:6px;position:absolute;left:480px;height:21px;width:54px;overflow:hidden;white-space:nowrap;z-index:1; }
#HAJWCHKQNX { position:relative;height:504px;width:1093px;left:8px;z-index:1;}
BODY[ettl='yes'] #CZSLGJMHXK_DIV {letter-spacing:-1px;}
#RHRTCXBDSD_DIV, #YYLKMNKCUQ_DIV {overflow:hidden;}
#TGRCYWSFQA, #BTKJJRZUIH, #CZSLGJMHXK_DIV {box-sizing : border-box;}
