.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:544px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#RFAIYHSGII { height:123px;z-index:0;}
#RFAIYHSGII_DIV { position:relative;z-index:0;width:100%;}
#LXORWVRYJJ {top:16px;position:absolute;left:160px;height:20px;width:162px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#OICGZUOZYP_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OICGZUOZYP_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='old'] #OICGZUOZYP_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='yes'] #OICGZUOZYP_DIV {right:calc(100% - 156px);}
#AQAARAIPOR {top:16px;position:absolute;left:464px;height:20px;width:328px;z-index:1; }
#VEBJKDHMDC_DIV {top:20px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VEBJKDHMDC_DIV {left:340px;height:16px;width:120px;}
BODY[ettl='old'] #VEBJKDHMDC_DIV {left:340px;height:16px;width:120px;}
BODY[ettl='yes'] #VEBJKDHMDC_DIV {right:calc(100% - 460px);}
#ZFOHYLVPYN {top:40px;position:absolute;left:160px;height:20px;width:424px;z-index:1; }
#ZFOHYLVPYN { vertical-align:middle; }
#KKXIPNXBWK {top:16px;position:absolute;left:920px;height:20px;width:80px;font-family:Tahoma;font-size:8pt;z-index:1;}
#BHAVHLFPAC {top:64px;position:absolute;left:160px;height:20px;width:840px;z-index:1; }
#BHAVHLFPAC { vertical-align:middle; }
#QBUCLWUNFT {top:88px;position:absolute;left:160px;height:20px;width:96px;z-index:1; }
#QBUCLWUNFT { vertical-align:middle; }
#AABRTCZWUY_DIV {top:40px;position:absolute;left:672px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#BCLYMGMBLK {top:112px;position:absolute;left:160px;height:20px;width:126px;z-index:1; }
#BCLYMGMBLK { vertical-align:middle; }
#GDCHKTFQUK_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDCHKTFQUK_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='old'] #GDCHKTFQUK_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='yes'] #GDCHKTFQUK_DIV {right:calc(100% - 156px);}
#RUMXLFCOKA {top:112px;position:absolute;left:384px;height:20px;width:38px;z-index:1; }
#RUMXLFCOKA_ZOOM { position:absolute;top:112px;left:423px;height:20px;width:17px;z-index:1;}
#OUQKLNQVMP_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OUQKLNQVMP_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='old'] #OUQKLNQVMP_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='yes'] #OUQKLNQVMP_DIV {right:calc(100% - 156px);}
#MILRATMPIJ_DIV {top:116px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MILRATMPIJ_DIV {left:288px;height:16px;width:93px;}
BODY[ettl='old'] #MILRATMPIJ_DIV {left:288px;height:16px;width:93px;}
BODY[ettl='yes'] #MILRATMPIJ_DIV {right:calc(100% - 381px);}
#XQILBJQNNS_DIV {top:116px;position:absolute;left:448px;height:16px;width:552px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WRZZQXZUXK {top:88px;position:absolute;left:304px;height:20px;width:192px;z-index:1; }
#LSSRJEUOJW {top:136px;position:absolute;left:160px;height:20px;width:624px;z-index:1; }
#LSSRJEUOJW { vertical-align:middle; }
#CTCKWHZVTZ_DIV {top:70px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CTCKWHZVTZ_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='old'] #CTCKWHZVTZ_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='yes'] #CTCKWHZVTZ_DIV {right:calc(100% - 156px);}
#HBAROSDSIX_DIV {top:168px;position:absolute;left:16px;height:16px;width:992px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VSHUPFYWOC {top:192px;position:absolute;left:68px;height:20px;width:560px;z-index:1; }
#ZBUITWBMLO {top:192px;position:absolute;left:628px;font-family:ZucchettiDevelopement;font-size:18px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#VASVGQZJGP {top:216px;position:absolute;left:68px;height:20px;width:560px;z-index:1; }
#BXHLWVGOYO {top:216px;position:absolute;left:628px;font-family:ZucchettiDevelopement;font-size:18px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#CKJQULDXKW {top:264px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:264px;left:209px;height:20px;width:17px;z-index:1;}
#VEAKSOSZMJ {top:248px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#MXYTQLATHC {top:264px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#SXTYCPHBIM {top:288px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:288px;left:209px;height:20px;width:17px;z-index:1;}
#FLHYCYAKON {top:272px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#KBIUAXUDXA {top:288px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#QJSTZIPOQB {top:312px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:312px;left:209px;height:20px;width:17px;z-index:1;}
#MDMTUJRAZF {top:296px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#UDAYHICPVB {top:312px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#SFFFOYOWNH {top:336px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:336px;left:209px;height:20px;width:17px;z-index:1;}
#ZKJUEEUNAK {top:320px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#ETALZDRBSO {top:336px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#NOBMPHKVTX {top:360px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:360px;left:209px;height:20px;width:17px;z-index:1;}
#EAWVSIWQBM {top:344px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#QBTVZDKLCO {top:360px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#DJOWYRMDDC {top:384px;position:absolute;left:160px;height:20px;width:48px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:384px;left:209px;height:20px;width:17px;z-index:1;}
#DTDVSGUEWE {top:368px;position:absolute;left:1224px;height:20px;width:72px;z-index:1; }
#RUWEXWJASG {top:384px;position:absolute;left:720px;height:20px;width:40px;text-align:right;z-index:1; }
#NAVNOGNZNE_DIV {top:316px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 156px);}
#LHTXLTQYIK_DIV {top:340px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 156px);letter-spacing:-1px;}
#HGXSBHTFKF_DIV {top:364px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 156px);}
#OKFGBGYVWD_DIV {top:388px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 156px);}
#CMKJDFEFFI_DIV {top:316px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:340px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:364px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:388px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:243px;position:absolute;left:24px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:243px;position:absolute;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='old'] #NFLJJHXTKY_DIV {left:640px;height:16px;width:120px;}
BODY[ettl='yes'] #NFLJJHXTKY_DIV {right:calc(100% - 760px);}
#ZUVXJIZOSF_DIV {top:268px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 156px);}
#LXNMWSOUMF_DIV {top:292px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 156px);}
#BCFLBBQSRN_DIV {top:292px;position:absolute;left:232px;height:16px;width:416px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QEXJCFPJBM_DIV {top:268px;position:absolute;left:232px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PKJNNGBWFM_DIV {top:516px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:13px;height:16px;width:152px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:13px;height:16px;width:152px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 165px);letter-spacing:-1px;}
#SMVVFHCEHA {top:408px;position:absolute;left:160px;height:20px;width:344px;z-index:1; }
#SMVVFHCEHA { vertical-align:middle; }
#MXITFMGTNB {top:432px;position:absolute;left:160px;height:20px;width:80px;text-align:right;z-index:1; }
#MXITFMGTNB_ZOOM { position:absolute;top:432px;left:241px;height:20px;width:17px;z-index:1;}
#QLLLNEUVYW {top:432px;position:absolute;left:472px;height:20px;width:80px;text-align:right;z-index:1; }
#QLLLNEUVYW_ZOOM { position:absolute;top:432px;left:553px;height:20px;width:17px;z-index:1;}
#DOXBACRWUU {top:488px;position:absolute;left:168px;height:20px;width:40px;text-align:right;z-index:1; }
#OXGBDTWKSX {top:512px;position:absolute;left:168px;height:20px;width:600px;z-index:1; }
#NKPWKMDXUR_DIV {top:492px;position:absolute;left:211px;height:16px;width:22px;text-align:left;z-index:1;}
#VCBMHLXJMD_DIV {top:492px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:37px;height:16px;width:128px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:37px;height:16px;width:128px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 165px);}
#CPZDORVHLG_DIV {top:464px;position:absolute;left:16px;height:16px;width:992px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CANUTVNGFD {top:2px;position:absolute;left:176px;height:20px;width:32px;z-index:1; }
#CANUTVNGFD_ZOOM { position:absolute;top:2px;left:209px;height:20px;width:17px;z-index:1;}
#NRWNAJJVRA_DIV {top:6px;position:absolute;left:232px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WWRYOVTMFY_DIV {top:6px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWRYOVTMFY_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='old'] #WWRYOVTMFY_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='yes'] #WWRYOVTMFY_DIV {right:calc(100% - 173px);}
#IXGRJLAKIQ {top:26px;position:absolute;left:176px;height:20px;width:32px;z-index:1; }
#IXGRJLAKIQ_ZOOM { position:absolute;top:26px;left:209px;height:20px;width:17px;z-index:1;}
#LNOFOPAOYD_DIV {top:30px;position:absolute;left:232px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HNQZARYXGS_DIV {top:30px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HNQZARYXGS_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='old'] #HNQZARYXGS_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='yes'] #HNQZARYXGS_DIV {right:calc(100% - 173px);}
#NKIXCWZJHO {top:50px;position:absolute;left:176px;height:20px;width:32px;z-index:1; }
#NKIXCWZJHO_ZOOM { position:absolute;top:50px;left:209px;height:20px;width:17px;z-index:1;}
#WBTKNDJDFF_DIV {top:54px;position:absolute;left:232px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGEVFUGGOS_DIV {top:54px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGEVFUGGOS_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='old'] #BGEVFUGGOS_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='yes'] #BGEVFUGGOS_DIV {right:calc(100% - 173px);}
#JQLGHMLOKO {top:74px;position:absolute;left:176px;height:20px;width:32px;z-index:1; }
#JQLGHMLOKO_ZOOM { position:absolute;top:74px;left:209px;height:20px;width:17px;z-index:1;}
#MWCFKQVNHF_DIV {top:78px;position:absolute;left:232px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RHXCIUHRTU_DIV {top:78px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RHXCIUHRTU_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='old'] #RHXCIUHRTU_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='yes'] #RHXCIUHRTU_DIV {right:calc(100% - 173px);}
#QVBZSFMTVP {top:98px;position:absolute;left:176px;height:20px;width:32px;z-index:1; }
#QVBZSFMTVP_ZOOM { position:absolute;top:98px;left:209px;height:20px;width:17px;z-index:1;}
#HADVHTQAPE_DIV {top:102px;position:absolute;left:232px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GRCYFEKJWU_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GRCYFEKJWU_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='old'] #GRCYFEKJWU_DIV {left:16px;height:16px;width:157px;}
BODY[ettl='yes'] #GRCYFEKJWU_DIV {right:calc(100% - 173px);}
#WHSTCJKJTS_DIV {top:352px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHSTCJKJTS_DIV {left:288px;height:16px;width:148px;}
BODY[ettl='old'] #WHSTCJKJTS_DIV {left:288px;height:16px;width:148px;}
BODY[ettl='yes'] #WHSTCJKJTS_DIV {right:calc(100% - 436px);}
#ZVXDABBVZA_DIV {top:140px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZVXDABBVZA_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='old'] #ZVXDABBVZA_DIV {left:8px;height:16px;width:148px;}
BODY[ettl='yes'] #ZVXDABBVZA_DIV {right:calc(100% - 156px);}
#JKZZQYXAFS_DIV {top:412px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKZZQYXAFS_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #JKZZQYXAFS_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #JKZZQYXAFS_DIV {right:calc(100% - 156px);}
#QGMBPIURNH {top:8px;position:absolute;left:1384px;height:20px;width:40px;z-index:1; }
#PLAWSVGZSR_DIV {top:192px;position:absolute;left:649px;height:44px;width:359px;background-color:#0CCDCD;text-align:left;z-index:1;}
#BVGYBYGMJB_DIV {top:196px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:12px;height:16px;width:52px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:12px;height:16px;width:52px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 64px);}
#EWATRAIADP_DIV {top:220px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:12px;height:16px;width:52px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:12px;height:16px;width:52px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 64px);}
#ROVJICRYAM_DIV {top:436px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ROVJICRYAM_DIV {left:328px;height:16px;width:141px;}
BODY[ettl='old'] #ROVJICRYAM_DIV {left:328px;height:16px;width:141px;}
BODY[ettl='yes'] #ROVJICRYAM_DIV {right:calc(100% - 469px);letter-spacing:-1px;}
#TTZXYWANKG_DIV {top:436px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TTZXYWANKG_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='old'] #TTZXYWANKG_DIV {left:16px;height:16px;width:140px;}
BODY[ettl='yes'] #TTZXYWANKG_DIV {right:calc(100% - 156px);}
#GIJHAKTZAN_DIV {top:88px;position:absolute;left:520px;height:21px;width:480px;overflow:hidden;white-space:nowrap;z-index:1; }
#ZFPXBMEPWE {top:432px;position:absolute;left:592px;height:20px;width:144px;z-index:1;}
#ZFPXBMEPWE_txt {cursor:pointer;display:inline;}
#ZFPXBMEPWE_img {cursor:pointer;display:inline;vertical-align:middle;color:#000000;font-family:icons8_win10;font-weight:normal;font-size:22px;cursor:pointer;z-index:1;}
#ZFPXBMEPWE_img::after {content:' ';}
#TQNAPDCWFY_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TQNAPDCWFY_DIV {left:52px;height:16px;width:104px;}
BODY[ettl='old'] #TQNAPDCWFY_DIV {left:52px;height:16px;width:104px;}
BODY[ettl='yes'] #TQNAPDCWFY_DIV {right:calc(100% - 156px);}
#FYRUSHCQJD_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FYRUSHCQJD_DIV {left:256px;height:16px;width:44px;}
BODY[ettl='old'] #FYRUSHCQJD_DIV {left:256px;height:16px;width:44px;}
BODY[ettl='yes'] #FYRUSHCQJD_DIV {right:calc(100% - 300px);}
#GJZISGEBVV {z-index:0;}
#GJZISGEBVV_DIV { position:relative;z-index:0;width:100%;}
#XCLJCOLAOK { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#NXJPOCJGET { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#QIETKIRGON {top:8px;position:absolute;left:608px;height:24px;width:157px;font-family:Tahoma;font-size:8pt;z-index:1;}
#LZCEHELAXJ {z-index:0;}
#LZCEHELAXJ_DIV { position:relative;z-index:0;width:100%;}
#VNBQZVXZTE { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#POJFSMHRKX { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#EHSQLOIDHO {z-index:0;}
#EHSQLOIDHO_DIV { position:relative;z-index:0;width:100%;}
#TVOFPFUAEZ { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#LWDMGLAEON {z-index:0;}
#LWDMGLAEON_DIV { position:relative;z-index:0;width:100%;}
#ZSYGOPYXSA { position:relative;height:335px;width:796px;left:16px;z-index:1;}
#TUIMYVJMXF { height:39px;z-index:0;}
#TUIMYVJMXF_DIV { position:relative;z-index:0;width:100%;}
#TEKSYGREXN_DIV {top:13px;position:absolute;left:221px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HBPZQIPSZE {top:9px;position:absolute;left:140px;height:20px;width:56px;z-index:1; }
#HBPZQIPSZE_ZOOM { position:absolute;top:9px;left:197px;height:20px;width:17px;z-index:1;}
#CBLDNZTZNA_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CBLDNZTZNA_DIV {left:8px;height:16px;width:129px;}
BODY[ettl='old'] #CBLDNZTZNA_DIV {left:8px;height:16px;width:129px;}
BODY[ettl='yes'] #CBLDNZTZNA_DIV {right:calc(100% - 137px);letter-spacing:-1px;}
#MUCCIMEJEB { height:602px;z-index:0;}
#MUCCIMEJEB_DIV { position:relative;z-index:0;width:100%;}
#XUXHMWVHFR {top:133px;position:absolute;left:88px;height:335px;width:647px;z-index:1;}
#GURCMCSTQS {z-index:0;}
#GURCMCSTQS_DIV { position:relative;z-index:0;width:100%;}
#BOCKZFOGBL { position:relative;height:335px;width:335px;left:208px;z-index:1;}
#PHCJDNQLLF { height:88px;z-index:0;}
#PHCJDNQLLF_DIV { position:relative;z-index:0;width:100%;}
#SSYXHQXJLD {top:11px;position:absolute;left:149px;height:20px;width:56px;z-index:1; }
#SSYXHQXJLD_ZOOM { position:absolute;top:11px;left:206px;height:20px;width:17px;z-index:1;}
#YSBAKLZECK {top:35px;position:absolute;left:149px;height:20px;width:102px;z-index:1; }
#FFCVEAIHJV_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FFCVEAIHJV_DIV {left:16px;height:16px;width:128px;}
BODY[ettl='old'] #FFCVEAIHJV_DIV {left:16px;height:16px;width:128px;}
BODY[ettl='yes'] #FFCVEAIHJV_DIV {right:calc(100% - 144px);}
#JIHVKRMSZD_DIV {top:15px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIHVKRMSZD_DIV {left:16px;height:16px;width:128px;}
BODY[ettl='old'] #JIHVKRMSZD_DIV {left:16px;height:16px;width:128px;}
BODY[ettl='yes'] #JIHVKRMSZD_DIV {right:calc(100% - 144px);}
#TWSRQQLPNA_DIV {top:15px;position:absolute;left:229px;height:16px;width:440px;color:#0000FF;text-align:left;z-index:1;}
#UYHOJSIFEU {top:59px;position:absolute;left:149px;height:20px;width:120px;z-index:1; }
#UYHOJSIFEU_ZOOM { position:absolute;top:59px;left:270px;height:20px;width:17px;z-index:1;}
#XDJAPZOPHJ_DIV {top:63px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XDJAPZOPHJ_DIV {left:17px;height:16px;width:127px;}
BODY[ettl='old'] #XDJAPZOPHJ_DIV {left:17px;height:16px;width:127px;}
BODY[ettl='yes'] #XDJAPZOPHJ_DIV {right:calc(100% - 144px);letter-spacing:-1px;}
#CQBNLOGUOF_DIV {top:63px;position:absolute;left:293px;height:16px;width:472px;color:#0000FF;text-align:left;z-index:1;}
BODY[ettl='yes'] #AABRTCZWUY_DIV, BODY[ettl='yes'] #GIJHAKTZAN_DIV {letter-spacing:-1px;}
#YORQOIOBQN, #RFAIYHSGII, #OICGZUOZYP_DIV, #VEBJKDHMDC_DIV, #GDCHKTFQUK_DIV, #OUQKLNQVMP_DIV, #MILRATMPIJ_DIV, #XQILBJQNNS_DIV, #CTCKWHZVTZ_DIV, #HBAROSDSIX_DIV, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #PKJNNGBWFM_DIV, #NKPWKMDXUR_DIV, #VCBMHLXJMD_DIV, #CPZDORVHLG_DIV, #NRWNAJJVRA_DIV, #WWRYOVTMFY_DIV, #LNOFOPAOYD_DIV, #HNQZARYXGS_DIV, #WBTKNDJDFF_DIV, #BGEVFUGGOS_DIV, #MWCFKQVNHF_DIV, #RHXCIUHRTU_DIV, #HADVHTQAPE_DIV, #GRCYFEKJWU_DIV, #WHSTCJKJTS_DIV, #ZVXDABBVZA_DIV, #JKZZQYXAFS_DIV, #PLAWSVGZSR_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #ROVJICRYAM_DIV, #TTZXYWANKG_DIV, #TQNAPDCWFY_DIV, #FYRUSHCQJD_DIV, #GJZISGEBVV, #LZCEHELAXJ, #EHSQLOIDHO, #LWDMGLAEON, #TUIMYVJMXF, #TEKSYGREXN_DIV, #CBLDNZTZNA_DIV, #MUCCIMEJEB, #GURCMCSTQS, #PHCJDNQLLF, #FFCVEAIHJV_DIV, #JIHVKRMSZD_DIV, #TWSRQQLPNA_DIV, #XDJAPZOPHJ_DIV, #CQBNLOGUOF_DIV {overflow:hidden;}
#YORQOIOBQN, #RFAIYHSGII, #LXORWVRYJJ, #AQAARAIPOR, #ZFOHYLVPYN, #BHAVHLFPAC, #QBUCLWUNFT, #AABRTCZWUY_DIV, #BCLYMGMBLK, #RUMXLFCOKA, #WRZZQXZUXK, #LSSRJEUOJW, #VSHUPFYWOC, #VASVGQZJGP, #CKJQULDXKW, #VEAKSOSZMJ, #MXYTQLATHC, #SXTYCPHBIM, #FLHYCYAKON, #KBIUAXUDXA, #QJSTZIPOQB, #MDMTUJRAZF, #UDAYHICPVB, #SFFFOYOWNH, #ZKJUEEUNAK, #ETALZDRBSO, #NOBMPHKVTX, #EAWVSIWQBM, #QBTVZDKLCO, #DJOWYRMDDC, #DTDVSGUEWE, #RUWEXWJASG, #SMVVFHCEHA, #MXITFMGTNB, #QLLLNEUVYW, #DOXBACRWUU, #OXGBDTWKSX, #CANUTVNGFD, #IXGRJLAKIQ, #NKIXCWZJHO, #JQLGHMLOKO, #QVBZSFMTVP, #QGMBPIURNH, #GIJHAKTZAN_DIV, #GJZISGEBVV, #LZCEHELAXJ, #EHSQLOIDHO, #LWDMGLAEON, #TUIMYVJMXF, #HBPZQIPSZE, #MUCCIMEJEB, #GURCMCSTQS, #PHCJDNQLLF, #SSYXHQXJLD, #YSBAKLZECK, #UYHOJSIFEU {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
