.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FJTSUZOYFI {top:14px;position:absolute;left:80px;height:20px;width:32px;z-index:1; }
#VLEKQWLLCN_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VLEKQWLLCN_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='old'] #VLEKQWLLCN_DIV {left:40px;height:16px;width:39px;}
BODY[ettl='yes'] #VLEKQWLLCN_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#UMLYGDEFOD {top:14px;position:absolute;left:208px;height:20px;width:162px;z-index:1; }
#KELRXMAXBO_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KELRXMAXBO_DIV {left:144px;height:16px;width:63px;}
BODY[ettl='old'] #KELRXMAXBO_DIV {left:144px;height:16px;width:63px;}
BODY[ettl='yes'] #KELRXMAXBO_DIV {right:calc(100% - 207px);letter-spacing:-1px;}
#RGKYQGJKOC_DIV {top:42px;position:absolute;left:80px;height:19px;width:296px;z-index:1; }
#RGKYQGJKOC { vertical-align:middle; }
#QLVIFBDQCO_DIV {top:46px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QLVIFBDQCO_DIV {left:23px;height:16px;width:56px;}
BODY[ettl='old'] #QLVIFBDQCO_DIV {left:23px;height:16px;width:56px;}
BODY[ettl='yes'] #QLVIFBDQCO_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#VLEKQWLLCN_DIV, #KELRXMAXBO_DIV, #QLVIFBDQCO_DIV {overflow:hidden;}
#FJTSUZOYFI, #UMLYGDEFOD, #RGKYQGJKOC_DIV {box-sizing : border-box;}
