.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NJDOYSOENB {top:9px;position:absolute;left:1208px;height:20px;width:80px;z-index:1; }
#HZHFVWKGKP { height:176px;z-index:0;}
#HZHFVWKGKP_DIV { position:relative;z-index:0;width:100%;}
#ANGGVVFTIZ { height:37px;z-index:0;}
#ANGGVVFTIZ_DIV { position:relative;z-index:0;width:100%;}
#XLSSDAVPDH { height:171px;z-index:0;}
#XLSSDAVPDH_DIV { position:relative;z-index:0;width:100%;}
#HGCXMHOHLD { height:90px;z-index:0;}
#HGCXMHOHLD_DIV { position:relative;z-index:0;width:100%;}
#HXTNEUCQUZ { height:171px;z-index:0;}
#HXTNEUCQUZ_DIV { position:relative;z-index:0;width:100%;}
#HBLSDWZPZJ_DIV {top:13px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HBLSDWZPZJ_DIV {left:14px;height:17px;width:122px;}
BODY[ettl='old'] #HBLSDWZPZJ_DIV {left:14px;height:17px;width:122px;}
BODY[ettl='yes'] #HBLSDWZPZJ_DIV {right:calc(100% - 136px);}
#NNOUMHTLXJ {top:9px;position:absolute;left:139px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#HZDQOFEXPB_DIV {top:13px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #HZDQOFEXPB_DIV {left:246px;height:17px;width:93px;}
BODY[ettl='old'] #HZDQOFEXPB_DIV {left:246px;height:17px;width:93px;}
BODY[ettl='yes'] #HZDQOFEXPB_DIV {right:calc(100% - 339px);}
#SDNFDOJDLP {top:9px;position:absolute;left:344px;height:21px;width:56px;font-family:Arial;font-size:8pt;z-index:1; }
#SDNFDOJDLP_ZOOM { position:absolute;top:9px;left:401px;height:21px;width:17px;z-index:1;}
#OIZHYHOJII_DIV {top:13px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #OIZHYHOJII_DIV {left:445px;height:17px;width:62px;}
BODY[ettl='old'] #OIZHYHOJII_DIV {left:445px;height:17px;width:62px;}
BODY[ettl='yes'] #OIZHYHOJII_DIV {right:calc(100% - 507px);}
#DHFUAHCMCJ {top:9px;position:absolute;left:512px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#IZRUENEKXU_DIV {top:13px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #IZRUENEKXU_DIV {left:680px;height:17px;width:66px;}
BODY[ettl='old'] #IZRUENEKXU_DIV {left:680px;height:17px;width:66px;}
BODY[ettl='yes'] #IZRUENEKXU_DIV {right:calc(100% - 746px);}
#QTBRDJZGGM {top:9px;position:absolute;left:751px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#VPEIKRTWFC_DIV {top:13px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #VPEIKRTWFC_DIV {left:789px;height:17px;width:64px;}
BODY[ettl='old'] #VPEIKRTWFC_DIV {left:789px;height:17px;width:64px;}
BODY[ettl='yes'] #VPEIKRTWFC_DIV {right:calc(100% - 853px);}
#RIKKHKHPLM {top:9px;position:absolute;left:856px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#WAAXEDMKXA {top:13px;position:absolute;left:130px;height:20px;width:80px;text-align:right;z-index:1; }
#WAAXEDMKXA_ZOOM { position:absolute;top:13px;left:211px;height:20px;width:17px;z-index:1;}
#XTDANURGMM {top:13px;position:absolute;left:400px;height:20px;width:88px;z-index:1; }
#QSRYXQJCBZ {top:40px;position:absolute;left:130px;height:20px;width:128px;z-index:1; }
#QSRYXQJCBZ { vertical-align:middle; }
#FCUPIYMFZB {top:40px;position:absolute;left:368px;height:20px;width:96px;z-index:1; }
#XVLCUXTZXI {top:40px;position:absolute;left:632px;height:20px;width:296px;z-index:1; }
#XVLCUXTZXI { vertical-align:middle; }
#XDPPAEWQFR {top:69px;position:absolute;left:130px;height:20px;width:40px;z-index:1; }
#XDPPAEWQFR_ZOOM { position:absolute;top:69px;left:171px;height:20px;width:17px;z-index:1;}
#SQVJLYRFKQ {top:69px;position:absolute;left:315px;height:20px;width:40px;z-index:1; }
#SRWWPHPCUB {top:96px;position:absolute;left:315px;height:20px;width:40px;z-index:1; }
#MFRSDQPPEY {top:123px;position:absolute;left:130px;height:20px;width:160px;z-index:1; }
#MFRSDQPPEY { vertical-align:middle; }
#JCKYJRZABA {top:123px;position:absolute;left:384px;height:20px;width:384px;z-index:1; }
#JCKYJRZABA { vertical-align:middle; }
#QOALLRLDKY {top:150px;position:absolute;left:130px;height:20px;width:114px;text-align:right;z-index:1; }
#RPHQMPGGQR {top:150px;position:absolute;left:352px;height:20px;width:104px;z-index:1; }
#RPHQMPGGQR { vertical-align:middle; }
#KUMAEYPETV {top:150px;position:absolute;left:593px;height:20px;width:114px;text-align:right;z-index:1; }
#FADDNUEJZJ {top:123px;position:absolute;left:936px;height:20px;width:72px;text-align:right;z-index:1; }
#YXAKYHSWPW {top:9px;position:absolute;left:130px;height:20px;width:102px;text-align:right;z-index:1; }
#SIPPFUEECW_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SIPPFUEECW_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #SIPPFUEECW_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #SIPPFUEECW_DIV {right:calc(100% - 127px);}
#DPCGXWDECV {top:9px;position:absolute;left:596px;height:20px;width:102px;text-align:right;z-index:1; }
#ZLLARVPZIO_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZLLARVPZIO_DIV {left:296px;height:16px;width:296px;}
BODY[ettl='old'] #ZLLARVPZIO_DIV {left:296px;height:16px;width:296px;}
BODY[ettl='yes'] #ZLLARVPZIO_DIV {right:calc(100% - 592px);}
#RZIQZFKPUE {top:9px;position:absolute;left:228px;height:20px;width:162px;z-index:1; }
#RZIQZFKPUE_ZOOM { position:absolute;top:9px;left:391px;height:20px;width:17px;z-index:1;}
#QBLXDBODXR {top:36px;position:absolute;left:228px;height:20px;width:108px;z-index:1; }
#QBLXDBODXR_ZOOM { position:absolute;top:36px;left:337px;height:20px;width:17px;z-index:1;}
#ADUIDSWRJW {top:36px;position:absolute;left:859px;height:20px;width:30px;text-align:right;z-index:1; }
#TCOTJNZLGM {top:63px;position:absolute;left:228px;height:20px;width:108px;z-index:1; }
#TCOTJNZLGM_ZOOM { position:absolute;top:63px;left:337px;height:20px;width:17px;z-index:1;}
#WBHSORBZAV {top:90px;position:absolute;left:228px;height:20px;width:360px;z-index:1; }
#TMYVGJFCXV_DIV {top:90px;position:absolute;left:648px;height:21px;width:237px;overflow:hidden;white-space:nowrap;z-index:1; }
#ULVCBLFVEU {top:117px;position:absolute;left:228px;height:20px;width:108px;z-index:1; }
#ULVCBLFVEU_ZOOM { position:absolute;top:117px;left:337px;height:20px;width:17px;z-index:1;}
#TRNDHQYOXC {top:144px;position:absolute;left:228px;height:20px;width:108px;z-index:1; }
#TRNDHQYOXC_ZOOM { position:absolute;top:144px;left:337px;height:20px;width:17px;z-index:1;}
#XPWBHUQUGP {top:145px;position:absolute;left:925px;height:20px;width:72px;z-index:1;}
#AWPNTOJIRR {top:8px;position:absolute;left:160px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#FRGXYSRNBR {top:5px;position:absolute;left:968px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#ODAYKSRECA {top:35px;position:absolute;left:160px;height:20px;width:230px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:35px;left:391px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:35px;position:absolute;left:480px;height:20px;width:32px;z-index:1; }
#RDAVOEETJG {top:35px;position:absolute;left:592px;height:20px;width:56px;z-index:1; }
#BOTAJBWHHY {top:35px;position:absolute;left:728px;height:20px;width:56px;z-index:1; }
#VYLHWTRQNX {top:62px;position:absolute;left:160px;height:20px;width:222px;z-index:1; }
#YVIKEGPYPM {top:62px;position:absolute;left:480px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:62px;left:511px;height:20px;width:17px;z-index:1;}
#OBBUSHLGFO {top:9px;position:absolute;left:160px;height:20px;width:720px;z-index:1; }
#OBBUSHLGFO { vertical-align:middle; }
#OGZBJVOVLN {top:36px;position:absolute;left:160px;height:20px;width:94px;z-index:1; }
#OGZBJVOVLN_ZOOM { position:absolute;top:36px;left:255px;height:20px;width:17px;z-index:1;}
#TYCTKKPTQQ {top:36px;position:absolute;left:552px;height:20px;width:328px;z-index:1; }
#MUTRCJYNJT {top:63px;position:absolute;left:160px;height:20px;width:30px;z-index:1; }
#MUTRCJYNJT_ZOOM { position:absolute;top:63px;left:191px;height:20px;width:17px;z-index:1;}
#YBNJCVPDUM {top:63px;position:absolute;left:712px;height:20px;width:168px;z-index:1; }
#CRVLITCYRD {top:90px;position:absolute;left:160px;height:20px;width:56px;z-index:1; }
#CRVLITCYRD_ZOOM { position:absolute;top:90px;left:217px;height:20px;width:17px;z-index:1;}
#KDONRVZYMP {top:117px;position:absolute;left:160px;height:20px;width:280px;z-index:1; }
#HWGWORUQJF {top:117px;position:absolute;left:848px;height:20px;width:32px;z-index:1; }
#RGKPHWRBRT {top:144px;position:absolute;left:160px;height:20px;width:426px;z-index:1; }
#RUVVREGNGP_DIV {top:17px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUVVREGNGP_DIV {left:259px;height:16px;width:138px;}
BODY[ettl='old'] #RUVVREGNGP_DIV {left:259px;height:16px;width:138px;}
BODY[ettl='yes'] #RUVVREGNGP_DIV {right:calc(100% - 397px);letter-spacing:-1px;}
#NRJTHQEJCT_DIV {top:17px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NRJTHQEJCT_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #NRJTHQEJCT_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #NRJTHQEJCT_DIV {right:calc(100% - 127px);letter-spacing:-1px;}
#LQQUOWOYQW_DIV {top:154px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LQQUOWOYQW_DIV {left:271px;height:16px;width:80px;}
BODY[ettl='old'] #LQQUOWOYQW_DIV {left:271px;height:16px;width:80px;}
BODY[ettl='yes'] #LQQUOWOYQW_DIV {right:calc(100% - 351px);letter-spacing:-1px;}
#BXZTUYDDHV_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BXZTUYDDHV_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #BXZTUYDDHV_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #BXZTUYDDHV_DIV {right:calc(100% - 158px);}
#DMUKXNHPIX_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DMUKXNHPIX_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #DMUKXNHPIX_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #DMUKXNHPIX_DIV {right:calc(100% - 158px);letter-spacing:-1px;}
#ZVNEKPSDJI_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZVNEKPSDJI_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #ZVNEKPSDJI_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #ZVNEKPSDJI_DIV {right:calc(100% - 158px);}
#FWWUKUSBMJ_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FWWUKUSBMJ_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #FWWUKUSBMJ_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #FWWUKUSBMJ_DIV {right:calc(100% - 158px);}
#DFQGTRKLJP_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DFQGTRKLJP_DIV {left:758px;height:16px;width:88px;}
BODY[ettl='old'] #DFQGTRKLJP_DIV {left:758px;height:16px;width:88px;}
BODY[ettl='yes'] #DFQGTRKLJP_DIV {right:calc(100% - 846px);letter-spacing:-1px;}
#NSQKCLPTTK_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NSQKCLPTTK_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #NSQKCLPTTK_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #NSQKCLPTTK_DIV {right:calc(100% - 158px);}
#EXIXNLTCBE_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EXIXNLTCBE_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #EXIXNLTCBE_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #EXIXNLTCBE_DIV {right:calc(100% - 224px);}
#VECGHPFLII_DIV {top:94px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VECGHPFLII_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #VECGHPFLII_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #VECGHPFLII_DIV {right:calc(100% - 224px);}
#KJZKHGDTBV_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KJZKHGDTBV_DIV {left:512px;height:16px;width:118px;}
BODY[ettl='old'] #KJZKHGDTBV_DIV {left:512px;height:16px;width:118px;}
BODY[ettl='yes'] #KJZKHGDTBV_DIV {right:calc(100% - 630px);letter-spacing:-1px;}
#CEGQRJFFAZ_DIV {top:127px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CEGQRJFFAZ_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #CEGQRJFFAZ_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #CEGQRJFFAZ_DIV {right:calc(100% - 127px);}
#JYQAVTDBKY_DIV {top:127px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JYQAVTDBKY_DIV {left:321px;height:16px;width:62px;}
BODY[ettl='old'] #JYQAVTDBKY_DIV {left:321px;height:16px;width:62px;}
BODY[ettl='yes'] #JYQAVTDBKY_DIV {right:calc(100% - 383px);letter-spacing:-1px;}
#XESWONRBTH {top:123px;position:absolute;left:850px;height:20px;width:24px;z-index:1; }
#AIRYDUUQZV_DIV {top:127px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AIRYDUUQZV_DIV {left:770px;height:16px;width:79px;}
BODY[ettl='old'] #AIRYDUUQZV_DIV {left:770px;height:16px;width:79px;}
BODY[ettl='yes'] #AIRYDUUQZV_DIV {right:calc(100% - 849px);}
#HUZWIZYTMV_DIV {top:154px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HUZWIZYTMV_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #HUZWIZYTMV_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #HUZWIZYTMV_DIV {right:calc(100% - 127px);}
#PGNMOJFSUL_DIV {top:154px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PGNMOJFSUL_DIV {left:487px;height:16px;width:104px;}
BODY[ettl='old'] #PGNMOJFSUL_DIV {left:487px;height:16px;width:104px;}
BODY[ettl='yes'] #PGNMOJFSUL_DIV {right:calc(100% - 591px);letter-spacing:-1px;}
#NUEFWOMRRX_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NUEFWOMRRX_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #NUEFWOMRRX_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #NUEFWOMRRX_DIV {right:calc(100% - 224px);}
#IINONMZPLB_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IINONMZPLB_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #IINONMZPLB_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #IINONMZPLB_DIV {right:calc(100% - 224px);}
#LZDWHHTSGR_DIV {top:121px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LZDWHHTSGR_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #LZDWHHTSGR_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #LZDWHHTSGR_DIV {right:calc(100% - 224px);}
#TLSZHVBXSN_DIV {top:127px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TLSZHVBXSN_DIV {left:872px;height:16px;width:63px;}
BODY[ettl='old'] #TLSZHVBXSN_DIV {left:872px;height:16px;width:63px;}
BODY[ettl='yes'] #TLSZHVBXSN_DIV {right:calc(100% - 935px);}
#PXKFPRTVXX_DIV {top:40px;position:absolute;left:364px;height:16px;width:412px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#UWUWSYENHG_DIV {top:13px;position:absolute;left:412px;height:16px;width:432px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QGPWBVUZYW_DIV {top:67px;position:absolute;left:364px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#USZXRLYSFT_DIV {top:121px;position:absolute;left:364px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#VPCTBTGNEV_DIV {top:67px;position:absolute;left:216px;height:16px;width:328px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RLUNSWADHC_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RLUNSWADHC_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #RLUNSWADHC_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #RLUNSWADHC_DIV {right:calc(100% - 127px);}
#CNKLWUVOXA_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CNKLWUVOXA_DIV {left:262px;height:16px;width:104px;}
BODY[ettl='old'] #CNKLWUVOXA_DIV {left:262px;height:16px;width:104px;}
BODY[ettl='yes'] #CNKLWUVOXA_DIV {right:calc(100% - 366px);}
#SGPAMGUKLY_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SGPAMGUKLY_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='old'] #SGPAMGUKLY_DIV {left:4px;height:16px;width:154px;}
BODY[ettl='yes'] #SGPAMGUKLY_DIV {right:calc(100% - 158px);}
#CKBXAAYFYL_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CKBXAAYFYL_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='old'] #CKBXAAYFYL_DIV {left:8px;height:16px;width:216px;}
BODY[ettl='yes'] #CKBXAAYFYL_DIV {right:calc(100% - 224px);}
#RDOJHWCSNP_DIV {top:148px;position:absolute;left:364px;height:16px;width:480px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RUIGDGZVBM_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RUIGDGZVBM_DIV {left:626px;height:16px;width:84px;}
BODY[ettl='old'] #RUIGDGZVBM_DIV {left:626px;height:16px;width:84px;}
BODY[ettl='yes'] #RUIGDGZVBM_DIV {right:calc(100% - 710px);}
#SJNCLQSBKG_DIV {top:94px;position:absolute;left:240px;height:16px;width:400px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RPVEUGMVLG_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPVEUGMVLG_DIV {left:437px;height:16px;width:112px;}
BODY[ettl='old'] #RPVEUGMVLG_DIV {left:437px;height:16px;width:112px;}
BODY[ettl='yes'] #RPVEUGMVLG_DIV {right:calc(100% - 549px);letter-spacing:-1px;}
#SBJQIAQUCN_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:408px;height:16px;width:70px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:408px;height:16px;width:70px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 478px);}
#PFEQRACAUA_DIV {top:12px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:8px;height:16px;width:149px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:8px;height:16px;width:149px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 157px);}
#RZBLEGCFJJ_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:402px;height:16px;width:76px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:402px;height:16px;width:76px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 478px);}
#TWTXGZJTAR_DIV {top:66px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:8px;height:16px;width:149px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:8px;height:16px;width:149px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 157px);}
#GDOCAGKROT_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:536px;height:16px;width:54px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:536px;height:16px;width:54px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 590px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:664px;height:16px;width:63px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:664px;height:16px;width:63px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 727px);}
#XPSQTBKQQZ_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:24px;height:16px;width:133px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:24px;height:16px;width:133px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 157px);}
#ESVLUSNYWB_DIV {top:66px;position:absolute;left:533px;height:16px;width:251px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#CMPDPVIXKY_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #CMPDPVIXKY_DIV {left:783px;height:16px;width:73px;}
BODY[ettl='old'] #CMPDPVIXKY_DIV {left:783px;height:16px;width:73px;}
BODY[ettl='yes'] #CMPDPVIXKY_DIV {right:calc(100% - 856px);letter-spacing:-1px;}
#RPGHLQLUDI_DIV {top:73px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RPGHLQLUDI_DIV {left:189px;height:16px;width:122px;}
BODY[ettl='old'] #RPGHLQLUDI_DIV {left:189px;height:16px;width:122px;}
BODY[ettl='yes'] #RPGHLQLUDI_DIV {right:calc(100% - 311px);letter-spacing:-1px;}
#GVUCGWQOGG_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GVUCGWQOGG_DIV {left:189px;height:16px;width:122px;}
BODY[ettl='old'] #GVUCGWQOGG_DIV {left:189px;height:16px;width:122px;}
BODY[ettl='yes'] #GVUCGWQOGG_DIV {right:calc(100% - 311px);}
#WDLBZTAAWH_DIV {top:73px;position:absolute;left:365px;height:16px;width:638px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BPBCTQXMMG_DIV {top:100px;position:absolute;left:365px;height:16px;width:638px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DFNYQWVWJD_DIV {top:73px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DFNYQWVWJD_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='old'] #DFNYQWVWJD_DIV {left:5px;height:16px;width:122px;}
BODY[ettl='yes'] #DFNYQWVWJD_DIV {right:calc(100% - 127px);}
#XCYZDRXAMJ_DIV {top:149px;position:absolute;left:817px;height:21px;width:192px;overflow:hidden;white-space:nowrap;z-index:1; }
#QOEQGFTIYF { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#QOEQGFTIYF_DIV { position:relative;z-index:0;width:100%;}
#HNGGJVVCNB { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#HNGGJVVCNB_DIV { position:relative;z-index:0;width:100%;}
#YPYOQUQUZO_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#FSLWEQSSNU_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UGBWSZCQRL_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#HJOXUPJMAI_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PYRWIMYTNP_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#BDZUATYPMW {z-index:0;}
#BDZUATYPMW_DIV { position:relative;z-index:0;width:1016px;left:0px;}
#BDZUATYPMW_HEADER {width:1016px;}
#BOAFVDQFRN { position:relative;height:205px;width:677px;left:120px;z-index:1;}
#ZYUUSRMPQG {z-index:0;}
#ZYUUSRMPQG_DIV { position:relative;z-index:0;width:1017px;left:0px;}
#ZYUUSRMPQG_HEADER {width:1017px;}
#TQDGESLQVD { position:relative;height:155px;width:681px;left:120px;z-index:1;}
#MDLVFVTHTI { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#MDLVFVTHTI_DIV { position:relative;z-index:0;width:100%;}
#TZFLWDFIAF_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#BTOBVVCOML_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GLUOTVRWBG_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#TBRVQNQTYO_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#LJUWADMQSL_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GTSBULOFTD {z-index:0;}
#GTSBULOFTD_DIV { position:relative;z-index:0;width:100%;}
#OCTDIOXFMI { position:relative;height:239px;width:629px;left:144px;z-index:1;}
#BHLGNNSXQY {z-index:0;}
#BHLGNNSXQY_DIV { position:relative;z-index:0;width:100%;}
#NOKYMTFBFL { position:relative;height:226px;width:629px;left:136px;z-index:1;}
#EPMKMXEEOS { height:43px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#EPMKMXEEOS_DIV { position:relative;z-index:0;width:100%;}
#AUNJFYUGOI_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#JMALELOJGS_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#DABLCPOUXL_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#HSFSPISTIA_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#IAJSGBSETX_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#EOKCAXCLZO { height:49px;z-index:0;}
#EOKCAXCLZO_DIV { position:relative;z-index:0;width:100%;}
#LEHLEQRJPH_DIV {top:13px;position:absolute;left:832px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
#QEFXECTWSF {top:13px;position:absolute;left:184px;height:20px;width:38px;z-index:1; }
#QEFXECTWSF_ZOOM { position:absolute;top:13px;left:223px;height:20px;width:17px;z-index:1;}
#ZEYLNLLVTD_DIV {top:17px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZEYLNLLVTD_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='old'] #ZEYLNLLVTD_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='yes'] #ZEYLNLLVTD_DIV {right:calc(100% - 182px);}
#ILIJSVUNTQ_DIV {top:16px;position:absolute;left:242px;height:17px;width:560px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#VMRTFBBQHL {top:14px;position:absolute;left:184px;height:20px;width:208px;z-index:1; }
#AMHSICIBVW_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AMHSICIBVW_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='old'] #AMHSICIBVW_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='yes'] #AMHSICIBVW_DIV {right:calc(100% - 182px);}
#KDWBJNGUTK {top:14px;position:absolute;left:728px;height:20px;width:192px;z-index:1; }
#PZUBJPCOXA_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PZUBJPCOXA_DIV {left:573px;height:16px;width:151px;}
BODY[ettl='old'] #PZUBJPCOXA_DIV {left:573px;height:16px;width:151px;}
BODY[ettl='yes'] #PZUBJPCOXA_DIV {right:calc(100% - 724px);}
#VSHUPFYWOC {top:41px;position:absolute;left:184px;height:20px;width:312px;z-index:1; }
#VASVGQZJGP {top:68px;position:absolute;left:184px;height:20px;width:312px;z-index:1; }
#SMZCOQAIDC {top:18px;position:absolute;left:184px;height:20px;width:432px;z-index:1; }
#SMZCOQAIDC { vertical-align:middle; }
#MDVEMSKFNR {top:18px;position:absolute;left:792px;height:20px;width:176px;z-index:1; }
#MDVEMSKFNR { vertical-align:middle; }
#BVGYBYGMJB_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BVGYBYGMJB_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='old'] #BVGYBYGMJB_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='yes'] #BVGYBYGMJB_DIV {right:calc(100% - 182px);}
#EWATRAIADP_DIV {top:72px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EWATRAIADP_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='old'] #EWATRAIADP_DIV {left:13px;height:16px;width:169px;}
BODY[ettl='yes'] #EWATRAIADP_DIV {right:calc(100% - 182px);}
#PLAWSVGZSR_DIV {top:45px;position:absolute;left:520px;height:16px;width:477px;text-align:left;z-index:1;}
#UOJWCVBOTW_DIV {top:72px;position:absolute;left:520px;height:16px;width:477px;text-align:left;z-index:1;}
#BQDHWAMSZF_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BQDHWAMSZF_DIV {left:8px;height:16px;width:169px;}
BODY[ettl='old'] #BQDHWAMSZF_DIV {left:8px;height:16px;width:169px;}
BODY[ettl='yes'] #BQDHWAMSZF_DIV {right:calc(100% - 177px);}
#BRIRCGYFEZ_DIV {top:18px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BRIRCGYFEZ_DIV {left:688px;height:16px;width:99px;}
BODY[ettl='old'] #BRIRCGYFEZ_DIV {left:688px;height:16px;width:99px;}
BODY[ettl='yes'] #BRIRCGYFEZ_DIV {right:calc(100% - 787px);}
#IKKFZQQTRR {top:7px;position:absolute;left:731px;height:20px;width:72px;text-align:right;z-index:1; }
#WAAEZAHSYA_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WAAEZAHSYA_DIV {left:560px;height:16px;width:168px;}
BODY[ettl='old'] #WAAEZAHSYA_DIV {left:560px;height:16px;width:168px;}
BODY[ettl='yes'] #WAAEZAHSYA_DIV {right:calc(100% - 728px);}
#USFWBVEHFH {top:6px;position:absolute;left:443px;height:20px;width:112px;text-align:right;z-index:1; }
#GETFWUXANX_DIV {top:10px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GETFWUXANX_DIV {left:272px;height:16px;width:166px;}
BODY[ettl='old'] #GETFWUXANX_DIV {left:272px;height:16px;width:166px;}
BODY[ettl='yes'] #GETFWUXANX_DIV {right:calc(100% - 438px);}
#GOVICFJKZC {top:6px;position:absolute;left:160px;height:20px;width:102px;z-index:1; }
#KMKAXHABAG_DIV {top:10px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KMKAXHABAG_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='old'] #KMKAXHABAG_DIV {left:5px;height:16px;width:152px;}
BODY[ettl='yes'] #KMKAXHABAG_DIV {right:calc(100% - 157px);}
#JTWNGHDSFX { height:32px;z-index:0;}
#JTWNGHDSFX_DIV { position:relative;z-index:0;width:100%;}
#JEKLOGLRAN {top:95px;position:absolute;left:184px;height:20px;width:192px;z-index:1; }
#RVWYGBVTDV_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RVWYGBVTDV_DIV {left:84px;height:16px;width:100px;}
BODY[ettl='old'] #RVWYGBVTDV_DIV {left:84px;height:16px;width:100px;}
BODY[ettl='yes'] #RVWYGBVTDV_DIV {right:calc(100% - 184px);letter-spacing:-1px;}
#RQKHNRJEDR {top:95px;position:absolute;left:560px;height:20px;width:192px;z-index:1; }
#ZFGJEWNDTX_DIV {top:99px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZFGJEWNDTX_DIV {left:442px;height:16px;width:118px;}
BODY[ettl='old'] #ZFGJEWNDTX_DIV {left:442px;height:16px;width:118px;}
BODY[ettl='yes'] #ZFGJEWNDTX_DIV {right:calc(100% - 560px);letter-spacing:-1px;}
#RNCPQBELNU { height:127px;z-index:0;}
#RNCPQBELNU_DIV { position:relative;z-index:0;width:100%;}
#MOGXTATYIF { height:54px;z-index:0;}
#MOGXTATYIF_DIV { position:relative;z-index:0;width:100%;}
#DVZEGUGHBR {top:36px;position:absolute;left:152px;height:20px;width:492px;z-index:1; }
#GWFAZWBZWG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GWFAZWBZWG_DIV {left:580px;height:16px;width:132px;}
BODY[ettl='old'] #GWFAZWBZWG_DIV {left:580px;height:16px;width:132px;}
BODY[ettl='yes'] #GWFAZWBZWG_DIV {right:calc(100% - 712px);letter-spacing:-1px;}
#IDIFNZYSLH {top:9px;position:absolute;left:712px;height:20px;width:152px;z-index:1; }
#SOMEUVNZHG {top:9px;position:absolute;left:152px;height:20px;width:184px;z-index:1; }
#SOMEUVNZHG { vertical-align:middle; }
#TZYCGKLUVR_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TZYCGKLUVR_DIV {left:48px;height:16px;width:104px;}
BODY[ettl='old'] #TZYCGKLUVR_DIV {left:48px;height:16px;width:104px;}
BODY[ettl='yes'] #TZYCGKLUVR_DIV {right:calc(100% - 152px);}
#IXLIPJPKPM_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IXLIPJPKPM_DIV {left:64px;height:16px;width:88px;}
BODY[ettl='old'] #IXLIPJPKPM_DIV {left:64px;height:16px;width:88px;}
BODY[ettl='yes'] #IXLIPJPKPM_DIV {right:calc(100% - 152px);letter-spacing:-1px;}
#LLZCQSNQZL { height:63px;z-index:0;}
#LLZCQSNQZL_DIV { position:relative;z-index:0;width:100%;}
#OXFXXISYUL { height:36px;z-index:0;}
#OXFXXISYUL_DIV { position:relative;z-index:0;width:100%;}
#THAPDQIYBH_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #THAPDQIYBH_DIV {left:95px;height:16px;width:57px;}
BODY[ettl='old'] #THAPDQIYBH_DIV {left:95px;height:16px;width:57px;}
BODY[ettl='yes'] #THAPDQIYBH_DIV {right:calc(100% - 152px);letter-spacing:-1px;}
#YMKLIGEOKH {top:9px;position:absolute;left:152px;height:20px;width:736px;z-index:1; }
#YMKLIGEOKH { vertical-align:middle; }
#UMWUWBXDQZ { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UMWUWBXDQZ_DIV { position:relative;z-index:0;width:100%;}
#UDYBTFTSHB_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#KUHVBYTJII_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#DIUABADXEH_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#JVWAHALTAM_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GRIUAFUQEF_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#WDZXXUSHOC {z-index:0;}
#WDZXXUSHOC_DIV { position:relative;z-index:0;width:100%;}
#OQWMEPQQNM { position:relative;height:413px;width:686px;left:127px;z-index:1;}
#MHQXMCGOMG_DIV {top:13px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MHQXMCGOMG_DIV {left:8px;height:16px;width:86px;}
BODY[ettl='old'] #MHQXMCGOMG_DIV {left:8px;height:16px;width:86px;}
BODY[ettl='yes'] #MHQXMCGOMG_DIV {right:calc(100% - 94px);}
#EOXCZYYEBY {top:9px;position:absolute;left:98px;height:20px;width:312px;z-index:1; }
#EOXCZYYEBY_ZOOM { position:absolute;top:9px;left:411px;height:20px;width:17px;z-index:1;}
#DRRKLKJROO_DIV {top:13px;position:absolute;left:434px;height:16px;width:480px;color:#0000FF;text-align:left;z-index:1;}
#PLFKNICHPU {top:36px;position:absolute;left:98px;height:20px;width:372px;z-index:1; }
#BNZLNGZOEF_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BNZLNGZOEF_DIV {left:8px;height:16px;width:86px;}
BODY[ettl='old'] #BNZLNGZOEF_DIV {left:8px;height:16px;width:86px;}
BODY[ettl='yes'] #BNZLNGZOEF_DIV {right:calc(100% - 94px);}
#JDTKGSGMAF {top:36px;position:absolute;left:810px;height:20px;width:72px;z-index:1; }
#EOJCZFADSY_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EOJCZFADSY_DIV {left:758px;height:16px;width:48px;}
BODY[ettl='old'] #EOJCZFADSY_DIV {left:758px;height:16px;width:48px;}
BODY[ettl='yes'] #EOJCZFADSY_DIV {right:calc(100% - 806px);}
#GMMLWYVNPO { height:196px;z-index:0;}
#GMMLWYVNPO_DIV { position:relative;z-index:0;width:100%;}
#UFFFOVKFCE { height:30px;z-index:0;}
#UFFFOVKFCE_DIV { position:relative;z-index:0;width:100%;}
#YUNLBUHYXD {z-index:0;}
#YUNLBUHYXD_DIV { position:relative;z-index:0;width:100%;}
#CKJQULDXKW {top:27px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#CKJQULDXKW_ZOOM { position:absolute;top:27px;left:247px;height:20px;width:17px;z-index:1;}
#MXYTQLATHC {top:28px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#SXTYCPHBIM {top:51px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#SXTYCPHBIM_ZOOM { position:absolute;top:51px;left:247px;height:20px;width:17px;z-index:1;}
#KBIUAXUDXA {top:52px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#QJSTZIPOQB {top:75px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#QJSTZIPOQB_ZOOM { position:absolute;top:75px;left:247px;height:20px;width:17px;z-index:1;}
#UDAYHICPVB {top:76px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#SFFFOYOWNH {top:99px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#SFFFOYOWNH_ZOOM { position:absolute;top:99px;left:247px;height:20px;width:17px;z-index:1;}
#ETALZDRBSO {top:100px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#NOBMPHKVTX {top:123px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#NOBMPHKVTX_ZOOM { position:absolute;top:123px;left:247px;height:20px;width:17px;z-index:1;}
#QBTVZDKLCO {top:124px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#DJOWYRMDDC {top:147px;position:absolute;left:200px;height:20px;width:46px;z-index:1; }
#DJOWYRMDDC_ZOOM { position:absolute;top:147px;left:247px;height:20px;width:17px;z-index:1;}
#RZOXJTRIYP { position:relative;height:316px;width:821px;left:96px;z-index:1;}
#RUWEXWJASG {top:148px;position:absolute;left:880px;height:20px;width:40px;text-align:right;z-index:1; }
#SMVVFHCEHA {top:172px;position:absolute;left:200px;height:20px;width:396px;z-index:1; }
#SMVVFHCEHA { vertical-align:middle; }
#DOXBACRWUU {top:4px;position:absolute;left:163px;height:20px;width:40px;text-align:right;z-index:1; }
#OXGBDTWKSX {top:4px;position:absolute;left:384px;height:20px;width:608px;z-index:1; }
#NAVNOGNZNE_DIV {top:79px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NAVNOGNZNE_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #NAVNOGNZNE_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #NAVNOGNZNE_DIV {right:calc(100% - 197px);}
#LHTXLTQYIK_DIV {top:103px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHTXLTQYIK_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #LHTXLTQYIK_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #LHTXLTQYIK_DIV {right:calc(100% - 197px);}
#HGXSBHTFKF_DIV {top:127px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HGXSBHTFKF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #HGXSBHTFKF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #HGXSBHTFKF_DIV {right:calc(100% - 197px);}
#OKFGBGYVWD_DIV {top:151px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #OKFGBGYVWD_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #OKFGBGYVWD_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #OKFGBGYVWD_DIV {right:calc(100% - 197px);}
#ZUVXJIZOSF_DIV {top:31px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUVXJIZOSF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #ZUVXJIZOSF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #ZUVXJIZOSF_DIV {right:calc(100% - 197px);}
#LXNMWSOUMF_DIV {top:55px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LXNMWSOUMF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #LXNMWSOUMF_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #LXNMWSOUMF_DIV {right:calc(100% - 197px);}
#CMKJDFEFFI_DIV {top:79px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DXOTWSGBKN_DIV {top:103px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FXHEISJAJE_DIV {top:127px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GHHOMNKDDQ_DIV {top:151px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#NWFPTCEPRA_DIV {top:7px;position:absolute;left:72px;height:16px;width:440px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NFLJJHXTKY_DIV {top:7px;position:absolute;left:824px;height:16px;width:120px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BCFLBBQSRN_DIV {top:55px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QEXJCFPJBM_DIV {top:31px;position:absolute;left:267px;height:16px;width:533px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#VCBMHLXJMD_DIV {top:8px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VCBMHLXJMD_DIV {left:10px;height:16px;width:150px;}
BODY[ettl='old'] #VCBMHLXJMD_DIV {left:10px;height:16px;width:150px;}
BODY[ettl='yes'] #VCBMHLXJMD_DIV {right:calc(100% - 160px);}
#PKJNNGBWFM_DIV {top:8px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PKJNNGBWFM_DIV {left:232px;height:16px;width:150px;}
BODY[ettl='old'] #PKJNNGBWFM_DIV {left:232px;height:16px;width:150px;}
BODY[ettl='yes'] #PKJNNGBWFM_DIV {right:calc(100% - 382px);letter-spacing:-1px;}
#NKPWKMDXUR_DIV {top:8px;position:absolute;left:206px;height:16px;width:19px;text-align:left;z-index:1;}
#JKZZQYXAFS_DIV {top:176px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JKZZQYXAFS_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='old'] #JKZZQYXAFS_DIV {left:16px;height:16px;width:181px;}
BODY[ettl='yes'] #JKZZQYXAFS_DIV {right:calc(100% - 197px);}
#TZVKYZDTVD_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#HLUTYEAJIP_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#KWRAOEORDS_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#PRWFWGAEAD_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#ZBCYGHVZOB_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#GNPYRENPRZ { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#GNPYRENPRZ_DIV { position:relative;z-index:0;width:100%;}
#QMSPZAQYXJ {top:9px;position:absolute;left:144px;height:702px;width:749px;z-index:1;}
#NHKIWAWZTC_DIV {top:14px;position:absolute;left:12px;height:17px;width:204px;text-align:left;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
#PFLBLQMSNX_DIV {top:14px;position:absolute;left:233px;height:17px;width:167px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#OSFCYNKIDE_DIV {top:14px;position:absolute;left:414px;height:17px;width:230px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#YXYNFREDGB_DIV {top:14px;position:absolute;left:659px;height:17px;width:93px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#FWBBOFFUEN_DIV {top:14px;position:absolute;left:762px;height:17px;width:116px;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#ZKIEGJMZVC { height:45px;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#ZKIEGJMZVC_DIV { position:relative;z-index:0;width:100%;}
#HFENTZBUDL { height:720px;z-index:0;}
#HFENTZBUDL_DIV { position:relative;z-index:0;width:100%;}
BODY[ettl='yes'] #TMYVGJFCXV_DIV, BODY[ettl='yes'] #XCYZDRXAMJ_DIV, BODY[ettl='yes'] #LEHLEQRJPH_DIV {letter-spacing:-1px;}
#HZHFVWKGKP, #ANGGVVFTIZ, #XLSSDAVPDH, #HGCXMHOHLD, #HXTNEUCQUZ, #HBLSDWZPZJ_DIV, #HZDQOFEXPB_DIV, #OIZHYHOJII_DIV, #IZRUENEKXU_DIV, #VPEIKRTWFC_DIV, #SIPPFUEECW_DIV, #ZLLARVPZIO_DIV, #RUVVREGNGP_DIV, #NRJTHQEJCT_DIV, #LQQUOWOYQW_DIV, #BXZTUYDDHV_DIV, #DMUKXNHPIX_DIV, #ZVNEKPSDJI_DIV, #FWWUKUSBMJ_DIV, #DFQGTRKLJP_DIV, #NSQKCLPTTK_DIV, #EXIXNLTCBE_DIV, #VECGHPFLII_DIV, #KJZKHGDTBV_DIV, #CEGQRJFFAZ_DIV, #JYQAVTDBKY_DIV, #AIRYDUUQZV_DIV, #HUZWIZYTMV_DIV, #PGNMOJFSUL_DIV, #NUEFWOMRRX_DIV, #IINONMZPLB_DIV, #LZDWHHTSGR_DIV, #TLSZHVBXSN_DIV, #PXKFPRTVXX_DIV, #UWUWSYENHG_DIV, #QGPWBVUZYW_DIV, #USZXRLYSFT_DIV, #VPCTBTGNEV_DIV, #RLUNSWADHC_DIV, #CNKLWUVOXA_DIV, #SGPAMGUKLY_DIV, #CKBXAAYFYL_DIV, #RDOJHWCSNP_DIV, #RUIGDGZVBM_DIV, #SJNCLQSBKG_DIV, #RPVEUGMVLG_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #WHMXTGXWGC_DIV, #XPSQTBKQQZ_DIV, #ESVLUSNYWB_DIV, #CMPDPVIXKY_DIV, #RPGHLQLUDI_DIV, #GVUCGWQOGG_DIV, #WDLBZTAAWH_DIV, #BPBCTQXMMG_DIV, #DFNYQWVWJD_DIV, #QOEQGFTIYF, #HNGGJVVCNB, #YPYOQUQUZO_DIV, #FSLWEQSSNU_DIV, #UGBWSZCQRL_DIV, #HJOXUPJMAI_DIV, #PYRWIMYTNP_DIV, #BDZUATYPMW, #ZYUUSRMPQG, #MDLVFVTHTI, #TZFLWDFIAF_DIV, #BTOBVVCOML_DIV, #GLUOTVRWBG_DIV, #TBRVQNQTYO_DIV, #LJUWADMQSL_DIV, #GTSBULOFTD, #BHLGNNSXQY, #EPMKMXEEOS, #AUNJFYUGOI_DIV, #JMALELOJGS_DIV, #DABLCPOUXL_DIV, #HSFSPISTIA_DIV, #IAJSGBSETX_DIV, #EOKCAXCLZO, #ZEYLNLLVTD_DIV, #ILIJSVUNTQ_DIV, #AMHSICIBVW_DIV, #PZUBJPCOXA_DIV, #BVGYBYGMJB_DIV, #EWATRAIADP_DIV, #PLAWSVGZSR_DIV, #UOJWCVBOTW_DIV, #BQDHWAMSZF_DIV, #BRIRCGYFEZ_DIV, #WAAEZAHSYA_DIV, #GETFWUXANX_DIV, #KMKAXHABAG_DIV, #JTWNGHDSFX, #RVWYGBVTDV_DIV, #ZFGJEWNDTX_DIV, #RNCPQBELNU, #MOGXTATYIF, #GWFAZWBZWG_DIV, #TZYCGKLUVR_DIV, #IXLIPJPKPM_DIV, #LLZCQSNQZL, #OXFXXISYUL, #THAPDQIYBH_DIV, #UMWUWBXDQZ, #UDYBTFTSHB_DIV, #KUHVBYTJII_DIV, #DIUABADXEH_DIV, #JVWAHALTAM_DIV, #GRIUAFUQEF_DIV, #WDZXXUSHOC, #MHQXMCGOMG_DIV, #DRRKLKJROO_DIV, #BNZLNGZOEF_DIV, #EOJCZFADSY_DIV, #GMMLWYVNPO, #UFFFOVKFCE, #YUNLBUHYXD, #NAVNOGNZNE_DIV, #LHTXLTQYIK_DIV, #HGXSBHTFKF_DIV, #OKFGBGYVWD_DIV, #ZUVXJIZOSF_DIV, #LXNMWSOUMF_DIV, #CMKJDFEFFI_DIV, #DXOTWSGBKN_DIV, #FXHEISJAJE_DIV, #GHHOMNKDDQ_DIV, #NWFPTCEPRA_DIV, #NFLJJHXTKY_DIV, #BCFLBBQSRN_DIV, #QEXJCFPJBM_DIV, #VCBMHLXJMD_DIV, #PKJNNGBWFM_DIV, #NKPWKMDXUR_DIV, #JKZZQYXAFS_DIV, #TZVKYZDTVD_DIV, #HLUTYEAJIP_DIV, #KWRAOEORDS_DIV, #PRWFWGAEAD_DIV, #ZBCYGHVZOB_DIV, #GNPYRENPRZ, #NHKIWAWZTC_DIV, #PFLBLQMSNX_DIV, #OSFCYNKIDE_DIV, #YXYNFREDGB_DIV, #FWBBOFFUEN_DIV, #ZKIEGJMZVC, #HFENTZBUDL {overflow:hidden;}
#NJDOYSOENB, #HZHFVWKGKP, #ANGGVVFTIZ, #XLSSDAVPDH, #HGCXMHOHLD, #HXTNEUCQUZ, #NNOUMHTLXJ, #SDNFDOJDLP, #DHFUAHCMCJ, #QTBRDJZGGM, #RIKKHKHPLM, #WAAXEDMKXA, #XTDANURGMM, #QSRYXQJCBZ, #FCUPIYMFZB, #XVLCUXTZXI, #XDPPAEWQFR, #SQVJLYRFKQ, #SRWWPHPCUB, #MFRSDQPPEY, #JCKYJRZABA, #QOALLRLDKY, #RPHQMPGGQR, #KUMAEYPETV, #FADDNUEJZJ, #YXAKYHSWPW, #DPCGXWDECV, #RZIQZFKPUE, #QBLXDBODXR, #ADUIDSWRJW, #TCOTJNZLGM, #WBHSORBZAV, #TMYVGJFCXV_DIV, #ULVCBLFVEU, #TRNDHQYOXC, #AWPNTOJIRR, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #YVIKEGPYPM, #OBBUSHLGFO, #OGZBJVOVLN, #TYCTKKPTQQ, #MUTRCJYNJT, #YBNJCVPDUM, #CRVLITCYRD, #KDONRVZYMP, #HWGWORUQJF, #RGKPHWRBRT, #XESWONRBTH, #XCYZDRXAMJ_DIV, #QOEQGFTIYF, #HNGGJVVCNB, #BDZUATYPMW, #ZYUUSRMPQG, #MDLVFVTHTI, #GTSBULOFTD, #BHLGNNSXQY, #EPMKMXEEOS, #EOKCAXCLZO, #LEHLEQRJPH_DIV, #QEFXECTWSF, #VMRTFBBQHL, #KDWBJNGUTK, #VSHUPFYWOC, #VASVGQZJGP, #SMZCOQAIDC, #MDVEMSKFNR, #IKKFZQQTRR, #USFWBVEHFH, #GOVICFJKZC, #JTWNGHDSFX, #JEKLOGLRAN, #RQKHNRJEDR, #RNCPQBELNU, #MOGXTATYIF, #DVZEGUGHBR, #IDIFNZYSLH, #SOMEUVNZHG, #LLZCQSNQZL, #OXFXXISYUL, #YMKLIGEOKH, #UMWUWBXDQZ, #WDZXXUSHOC, #EOXCZYYEBY, #PLFKNICHPU, #JDTKGSGMAF, #GMMLWYVNPO, #UFFFOVKFCE, #YUNLBUHYXD, #CKJQULDXKW, #MXYTQLATHC, #SXTYCPHBIM, #KBIUAXUDXA, #QJSTZIPOQB, #UDAYHICPVB, #SFFFOYOWNH, #ETALZDRBSO, #NOBMPHKVTX, #QBTVZDKLCO, #DJOWYRMDDC, #RUWEXWJASG, #SMVVFHCEHA, #DOXBACRWUU, #OXGBDTWKSX, #GNPYRENPRZ, #ZKIEGJMZVC, #HFENTZBUDL {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
