.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#DBFIZRPONS {top:7px;position:absolute;left:123px;height:20px;width:312px;z-index:1; }
#PFHITGLPYJ_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PFHITGLPYJ_DIV {left:8px;height:16px;width:112px;}
BODY[ettl='old'] #PFHITGLPYJ_DIV {left:8px;height:16px;width:112px;}
BODY[ettl='yes'] #PFHITGLPYJ_DIV {right:calc(100% - 120px);}
#JYNIHKHNSF_DIV {top:6px;position:absolute;left:456px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#TZSFXOGJGG {top:35px;position:absolute;left:123px;height:20px;width:312px;z-index:1; }
#ELIBEIUTYO_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ELIBEIUTYO_DIV {left:8px;height:16px;width:112px;}
BODY[ettl='old'] #ELIBEIUTYO_DIV {left:8px;height:16px;width:112px;}
BODY[ettl='yes'] #ELIBEIUTYO_DIV {right:calc(100% - 120px);}
#LMZAVCTIKT_DIV {top:119px;position:absolute;left:120px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#HAONGEKSUB_DIV {top:120px;position:absolute;left:381px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#FYSLTMPLOV {top:148px;position:absolute;left:120px;height:20px;width:40px;text-align:right;z-index:1; }
#VSLFLTAORI_DIV {top:152px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VSLFLTAORI_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #VSLFLTAORI_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #VSLFLTAORI_DIV {right:calc(100% - 117px);}
#BGFCAXGJBL {top:176px;position:absolute;left:120px;height:20px;width:40px;z-index:1; }
#BGFCAXGJBL_ZOOM { position:absolute;top:176px;left:161px;height:20px;width:17px;z-index:1;}
#RXOQQWNFRG_DIV {top:180px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RXOQQWNFRG_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #RXOQQWNFRG_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #RXOQQWNFRG_DIV {right:calc(100% - 117px);}
#FYLIIHUTPH_DIV {top:180px;position:absolute;left:181px;height:16px;width:448px;color:#0000FF;text-align:left;z-index:1;}
#NIRLEZVFLW {top:204px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#CBYSBUCJMV {top:232px;position:absolute;left:120px;height:20px;width:320px;z-index:1; }
#CBYSBUCJMV { vertical-align:middle; }
#RKPADAREKN_DIV {top:208px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RKPADAREKN_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #RKPADAREKN_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #RKPADAREKN_DIV {right:calc(100% - 117px);}
#HJQTMOWJVN_DIV {top:236px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HJQTMOWJVN_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #HJQTMOWJVN_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #HJQTMOWJVN_DIV {right:calc(100% - 117px);}
#URHHMCUEEA_DIV {top:232px;position:absolute;left:613px;height:21px;width:128px;overflow:hidden;white-space:nowrap;z-index:1; }
#RFAIYHSGII { height:126px;z-index:0;}
#RFAIYHSGII_DIV { position:relative;z-index:0;width:100%;}
#CANUTVNGFD {top:7px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#CANUTVNGFD_ZOOM { position:absolute;top:7px;left:153px;height:20px;width:17px;z-index:1;}
#NRWNAJJVRA_DIV {top:11px;position:absolute;left:173px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#WWRYOVTMFY_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WWRYOVTMFY_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #WWRYOVTMFY_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #WWRYOVTMFY_DIV {right:calc(100% - 117px);}
#IXGRJLAKIQ {top:31px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#IXGRJLAKIQ_ZOOM { position:absolute;top:31px;left:153px;height:20px;width:17px;z-index:1;}
#LNOFOPAOYD_DIV {top:35px;position:absolute;left:173px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HNQZARYXGS_DIV {top:35px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HNQZARYXGS_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #HNQZARYXGS_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #HNQZARYXGS_DIV {right:calc(100% - 117px);}
#NKIXCWZJHO {top:55px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#NKIXCWZJHO_ZOOM { position:absolute;top:55px;left:153px;height:20px;width:17px;z-index:1;}
#WBTKNDJDFF_DIV {top:59px;position:absolute;left:173px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGEVFUGGOS_DIV {top:59px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BGEVFUGGOS_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #BGEVFUGGOS_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #BGEVFUGGOS_DIV {right:calc(100% - 117px);}
#JQLGHMLOKO {top:79px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#JQLGHMLOKO_ZOOM { position:absolute;top:79px;left:153px;height:20px;width:17px;z-index:1;}
#MWCFKQVNHF_DIV {top:83px;position:absolute;left:173px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#RHXCIUHRTU_DIV {top:83px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RHXCIUHRTU_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #RHXCIUHRTU_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #RHXCIUHRTU_DIV {right:calc(100% - 117px);}
#QVBZSFMTVP {top:103px;position:absolute;left:120px;height:20px;width:32px;z-index:1; }
#QVBZSFMTVP_ZOOM { position:absolute;top:103px;left:153px;height:20px;width:17px;z-index:1;}
#HADVHTQAPE_DIV {top:107px;position:absolute;left:173px;height:16px;width:488px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#GRCYFEKJWU_DIV {top:107px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GRCYFEKJWU_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='old'] #GRCYFEKJWU_DIV {left:5px;height:16px;width:112px;}
BODY[ettl='yes'] #GRCYFEKJWU_DIV {right:calc(100% - 117px);}
#YFAFHIMHLC { height:73px;z-index:0;}
#YFAFHIMHLC_DIV { position:relative;z-index:0;width:100%;}
#SEUBTYJEKC_DIV {top:10px;position:absolute;left:40px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#AIXHBUOLOH_DIV {top:10px;position:absolute;left:261px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
#RJATPPKQJX_DIV {top:10px;position:absolute;left:437px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#BFAZVGKRMM_DIV {top:38px;position:absolute;left:40px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#TYXOFHIXSZ_DIV {top:38px;position:absolute;left:261px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
#ONGFHKWFDC_DIV {top:38px;position:absolute;left:437px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#HHZVXHZWFT {top:35px;position:absolute;left:504px;height:20px;width:102px;z-index:1; }
#USQLSETBFB_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #USQLSETBFB_DIV {left:440px;height:16px;width:64px;}
BODY[ettl='old'] #USQLSETBFB_DIV {left:440px;height:16px;width:64px;}
BODY[ettl='yes'] #USQLSETBFB_DIV {right:calc(100% - 504px);}
#CJLHZBPFZE {top:63px;position:absolute;left:123px;height:20px;width:309px;overflow:auto;z-index:1; }
#NMMOYAZYFJ_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #NMMOYAZYFJ_DIV {left:8px;height:16px;width:115px;}
BODY[ettl='old'] #NMMOYAZYFJ_DIV {left:8px;height:16px;width:115px;}
BODY[ettl='yes'] #NMMOYAZYFJ_DIV {right:calc(100% - 123px);}
#PYRPYRCHAE {top:63px;position:absolute;left:504px;height:20px;width:312px;z-index:1; }
#GIUWNGWRYA_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GIUWNGWRYA_DIV {left:448px;height:16px;width:56px;}
BODY[ettl='old'] #GIUWNGWRYA_DIV {left:448px;height:16px;width:56px;}
BODY[ettl='yes'] #GIUWNGWRYA_DIV {right:calc(100% - 504px);}
#DRSQJFIQWH {top:91px;position:absolute;left:120px;height:20px;width:312px;z-index:1; }
#PNNBAMJIYZ_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PNNBAMJIYZ_DIV {left:0px;height:16px;width:120px;}
BODY[ettl='old'] #PNNBAMJIYZ_DIV {left:0px;height:16px;width:120px;}
BODY[ettl='yes'] #PNNBAMJIYZ_DIV {right:calc(100% - 120px);}
#XFXZVUBUON_DIV {top:10px;position:absolute;left:680px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#GYAJLZIGMO_DIV {top:37px;position:absolute;left:680px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #LMZAVCTIKT_DIV, BODY[ettl='yes'] #URHHMCUEEA_DIV, BODY[ettl='yes'] #RJATPPKQJX_DIV {letter-spacing:-1px;}
#PFHITGLPYJ_DIV, #ELIBEIUTYO_DIV, #VSLFLTAORI_DIV, #RXOQQWNFRG_DIV, #FYLIIHUTPH_DIV, #RKPADAREKN_DIV, #HJQTMOWJVN_DIV, #RFAIYHSGII, #NRWNAJJVRA_DIV, #WWRYOVTMFY_DIV, #LNOFOPAOYD_DIV, #HNQZARYXGS_DIV, #WBTKNDJDFF_DIV, #BGEVFUGGOS_DIV, #MWCFKQVNHF_DIV, #RHXCIUHRTU_DIV, #HADVHTQAPE_DIV, #GRCYFEKJWU_DIV, #YFAFHIMHLC, #USQLSETBFB_DIV, #NMMOYAZYFJ_DIV, #GIUWNGWRYA_DIV, #PNNBAMJIYZ_DIV {overflow:hidden;}
#DBFIZRPONS, #JYNIHKHNSF_DIV, #TZSFXOGJGG, #LMZAVCTIKT_DIV, #HAONGEKSUB_DIV, #FYSLTMPLOV, #BGFCAXGJBL, #NIRLEZVFLW, #CBYSBUCJMV, #URHHMCUEEA_DIV, #RFAIYHSGII, #CANUTVNGFD, #IXGRJLAKIQ, #NKIXCWZJHO, #JQLGHMLOKO, #QVBZSFMTVP, #YFAFHIMHLC, #SEUBTYJEKC_DIV, #AIXHBUOLOH_DIV, #RJATPPKQJX_DIV, #BFAZVGKRMM_DIV, #TYXOFHIXSZ_DIV, #ONGFHKWFDC_DIV, #HHZVXHZWFT, #CJLHZBPFZE, #PYRPYRCHAE, #DRSQJFIQWH, #XFXZVUBUON_DIV, #GYAJLZIGMO_DIV {box-sizing : border-box;}
