.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#SUTANCBZLS {top:37px;position:absolute;left:144px;height:20px;width:48px;font-family:Tahoma;font-size:8pt;z-index:1; }
#BRGUIDMMEU_DIV {top:42px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;z-index:1;}
BODY:not([ettl]) #BRGUIDMMEU_DIV {left:98px;height:16px;width:42px;}
BODY[ettl='old'] #BRGUIDMMEU_DIV {left:98px;height:16px;width:42px;}
BODY[ettl='yes'] #BRGUIDMMEU_DIV {right:calc(100% - 140px);}
#AXRQOHDDBP {top:65px;position:absolute;left:144px;height:49px;width:568px;z-index:1; }
#AEWFAMIETG_DIV {top:69px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AEWFAMIETG_DIV {left:72px;height:16px;width:68px;}
BODY[ettl='old'] #AEWFAMIETG_DIV {left:72px;height:16px;width:68px;}
BODY[ettl='yes'] #AEWFAMIETG_DIV {right:calc(100% - 140px);}
#WGIESSCOWN {top:37px;position:absolute;left:688px;height:20px;width:24px;z-index:1; }
#AXFUTWKLFZ_DIV {top:41px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AXFUTWKLFZ_DIV {left:645px;height:16px;width:39px;}
BODY[ettl='old'] #AXFUTWKLFZ_DIV {left:645px;height:16px;width:39px;}
BODY[ettl='yes'] #AXFUTWKLFZ_DIV {right:calc(100% - 684px);letter-spacing:-1px;}
#NONDJYDRPI {top:121px;position:absolute;left:144px;height:20px;width:30px;z-index:1; }
#NONDJYDRPI_ZOOM { position:absolute;top:121px;left:175px;height:20px;width:17px;z-index:1;}
#DBGZQUERYR_DIV {top:125px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DBGZQUERYR_DIV {left:40px;height:16px;width:100px;}
BODY[ettl='old'] #DBGZQUERYR_DIV {left:40px;height:16px;width:100px;}
BODY[ettl='yes'] #DBGZQUERYR_DIV {right:calc(100% - 140px);}
#RILKASVSVV_DIV {top:123px;position:absolute;left:200px;height:18px;width:512px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#LSVJKMLQUN {top:9px;position:absolute;left:144px;height:20px;width:48px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WWQWIDQTRZ_DIV {top:13px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WWQWIDQTRZ_DIV {left:52px;height:16px;width:88px;}
BODY[ettl='old'] #WWQWIDQTRZ_DIV {left:52px;height:16px;width:88px;}
BODY[ettl='yes'] #WWQWIDQTRZ_DIV {right:calc(100% - 140px);}
#CDBUTKZYKR {top:148px;position:absolute;left:144px;height:20px;width:312px;z-index:1; }
#PCDSSXYKYN_DIV {top:152px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #PCDSSXYKYN_DIV {left:13px;height:16px;width:127px;}
BODY[ettl='old'] #PCDSSXYKYN_DIV {left:13px;height:16px;width:127px;}
BODY[ettl='yes'] #PCDSSXYKYN_DIV {right:calc(100% - 140px);letter-spacing:-1px;}
#ZTKHOWJTQW {top:175px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#MMMMANLPCV_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MMMMANLPCV_DIV {left:39px;height:16px;width:101px;}
BODY[ettl='old'] #MMMMANLPCV_DIV {left:39px;height:16px;width:101px;}
BODY[ettl='yes'] #MMMMANLPCV_DIV {right:calc(100% - 140px);letter-spacing:-1px;}
#JEGTRWGMTW {top:175px;position:absolute;left:336px;height:20px;width:72px;text-align:right;z-index:1; }
#IWGSKFPGWI_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IWGSKFPGWI_DIV {left:241px;height:16px;width:95px;}
BODY[ettl='old'] #IWGSKFPGWI_DIV {left:241px;height:16px;width:95px;}
BODY[ettl='yes'] #IWGSKFPGWI_DIV {right:calc(100% - 336px);letter-spacing:-1px;}
#QYLDDSFFZI {top:175px;position:absolute;left:512px;height:20px;width:200px;z-index:1; }
#QYLDDSFFZI { vertical-align:middle; }
#JDVWTOPYCW_DIV {top:179px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JDVWTOPYCW_DIV {left:438px;height:16px;width:70px;}
BODY[ettl='old'] #JDVWTOPYCW_DIV {left:438px;height:16px;width:70px;}
BODY[ettl='yes'] #JDVWTOPYCW_DIV {right:calc(100% - 508px);letter-spacing:-1px;}
#HVCDFAMPAB_DIV {top:143px;position:absolute;left:512px;height:21px;width:200px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl='yes'] #HVCDFAMPAB_DIV {letter-spacing:-1px;}
#BRGUIDMMEU_DIV, #AEWFAMIETG_DIV, #AXFUTWKLFZ_DIV, #DBGZQUERYR_DIV, #RILKASVSVV_DIV, #WWQWIDQTRZ_DIV, #PCDSSXYKYN_DIV, #MMMMANLPCV_DIV, #IWGSKFPGWI_DIV, #JDVWTOPYCW_DIV {overflow:hidden;}
#SUTANCBZLS, #AXRQOHDDBP, #WGIESSCOWN, #NONDJYDRPI, #LSVJKMLQUN, #CDBUTKZYKR, #ZTKHOWJTQW, #JEGTRWGMTW, #QYLDDSFFZI, #HVCDFAMPAB_DIV {box-sizing : border-box;}
