.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:537px;background-color:#C0C0C0;border-width:1px;border-color:#07B8B8;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:537px;z-index:0;width:784px;top:7px;left:8px;}
#BOYWPGJEEZ { height:35px;background-color:#C4FFFF;border-width:1px;border-style:solid;border-color:#a0a0a0;z-index:0;}
#BOYWPGJEEZ_DIV { position:absolute;height:35px;z-index:0;width:769px;top:14px;left:16px;}
#WJSVGWKSFC {top:21px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#AVHTGZTOSZ {top:21px;position:absolute;left:232px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:21px;left:281px;height:21px;width:17px;z-index:1;}
#LOEAMXUYLA_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:24px;height:17px;width:78px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#RLUMBFHPUD {top:21px;position:absolute;left:488px;height:21px;width:160px;font-family:Arial;font-size:8pt;z-index:1; }
#OJGQABFSYN {top:21px;position:absolute;left:672px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:21px;position:absolute;left:728px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XVRJYSKGWZ_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:192px;height:17px;width:40px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 232px);}
#CTLYJMTHDV_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:461px;height:17px;width:28px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 489px);}
#JWSDOSRGAG_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:646px;height:17px;width:24px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 670px);}
#ENBRMMDVUP_DIV {top:25px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:703px;height:17px;width:27px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 730px);}
#BLXOBUQVYE_DIV {top:25px;position:absolute;left:304px;height:17px;width:152px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#UMFEJVRUFZ {top:72px;position:absolute;left:128px;height:20px;width:118px;z-index:1; }
#UMFEJVRUFZ_ZOOM { position:absolute;top:72px;left:247px;height:20px;width:17px;z-index:1;}
#YLIKFVPZJA {top:96px;position:absolute;left:128px;height:20px;width:86px;text-align:right;z-index:1; }
#YLIKFVPZJA_ZOOM { position:absolute;top:96px;left:215px;height:20px;width:17px;z-index:1;}
#OEIKQOZMYJ {top:96px;position:absolute;left:704px;height:20px;width:80px;text-align:right;z-index:1; }
#SWRTSKXMDH {top:120px;position:absolute;left:128px;height:20px;width:440px;z-index:1; }
#SWRTSKXMDH { vertical-align:middle; }
#MLPGOPNAKN {top:144px;position:absolute;left:128px;height:20px;width:440px;z-index:1; }
#FMTBXELZFV {top:168px;position:absolute;left:128px;height:20px;width:168px;z-index:1; }
#FMTBXELZFV_ZOOM { position:absolute;top:168px;left:297px;height:20px;width:17px;z-index:1;}
#XAWQKRVCSF_DIV {top:148px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XAWQKRVCSF_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #XAWQKRVCSF_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #XAWQKRVCSF_DIV {right:calc(100% - 126px);letter-spacing:-1px;}
#BYKQMDEEAQ_DIV {top:124px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BYKQMDEEAQ_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #BYKQMDEEAQ_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #BYKQMDEEAQ_DIV {right:calc(100% - 126px);}
#FTYILIQWQK {top:144px;position:absolute;left:576px;height:20px;width:88px;z-index:1; }
#XYMCLUECBD {top:96px;position:absolute;left:416px;height:20px;width:96px;z-index:1; }
#KDUGHGZUUG_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:288px;height:16px;width:125px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:288px;height:16px;width:125px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 413px);}
#IKBMEWKQJW_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:576px;height:16px;width:127px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:576px;height:16px;width:127px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 703px);}
#HVHVAYPDJE_DIV {top:100px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 126px);}
#WDSMYOZLJE_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WDSMYOZLJE_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #WDSMYOZLJE_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #WDSMYOZLJE_DIV {right:calc(100% - 126px);}
#XXRYVYIIGY_DIV {top:76px;position:absolute;left:272px;height:16px;width:512px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XGJRFGHMLC_DIV {top:54px;position:absolute;left:128px;height:16px;width:497px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OMOIESFAVO {top:192px;position:absolute;left:128px;height:20px;width:336px;z-index:1; }
#AGQEPDVFBG_DIV {top:196px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AGQEPDVFBG_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #AGQEPDVFBG_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #AGQEPDVFBG_DIV {right:calc(100% - 126px);}
#JIPVCDYRBV_DIV {top:172px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JIPVCDYRBV_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='old'] #JIPVCDYRBV_DIV {left:16px;height:16px;width:110px;}
BODY[ettl='yes'] #JIPVCDYRBV_DIV {right:calc(100% - 126px);}
#TJRVXLVZXV_DIV {top:172px;position:absolute;left:320px;height:16px;width:464px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#QIETKIRGON {top:216px;position:absolute;left:128px;height:24px;width:157px;font-family:Tahoma;font-size:8pt;z-index:1;}
#XPWBHUQUGP {top:192px;position:absolute;left:712px;height:20px;width:72px;z-index:1;}
#ENJOYYHZME {top:216px;position:absolute;left:480px;height:20px;width:84px;z-index:1; }
#HRNIBQHQAJ_DIV {top:220px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HRNIBQHQAJ_DIV {left:295px;height:16px;width:185px;}
BODY[ettl='old'] #HRNIBQHQAJ_DIV {left:295px;height:16px;width:185px;}
BODY[ettl='yes'] #HRNIBQHQAJ_DIV {right:calc(100% - 480px);letter-spacing:-1px;}
#WBIBDYUVSE_DIV {top:218px;position:absolute;left:576px;height:18px;width:192px;color:#FF0000;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#STYFGJTTHM_DIV {top:218px;position:absolute;left:584px;height:18px;width:192px;color:#FFFF6F;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#KIVHKOCKYW { height:36px;background-color:#C0C0C0;border-width:1px;border-color:#07B8B8;border-style:solid;z-index:0;}
#KIVHKOCKYW_DIV { position:relative;z-index:0;width:784px;left:8px;}
#KIVHKOCKYW_HEADER {width:784px;}
#VYBZEWHKFF {top:8px;position:absolute;left:79px;height:20px;width:80px;text-align:right;z-index:1; }
#MKKUHVAGBU {top:8px;position:absolute;left:255px;height:20px;width:138px;z-index:1; }
#MBOMUTRIJO_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MBOMUTRIJO_DIV {left:2px;height:16px;width:77px;}
BODY[ettl='old'] #MBOMUTRIJO_DIV {left:2px;height:16px;width:77px;}
BODY[ettl='yes'] #MBOMUTRIJO_DIV {right:calc(100% - 79px);letter-spacing:-1px;}
#YLLFPOLLWL_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YLLFPOLLWL_DIV {left:164px;height:16px;width:91px;}
BODY[ettl='old'] #YLLFPOLLWL_DIV {left:164px;height:16px;width:91px;}
BODY[ettl='yes'] #YLLFPOLLWL_DIV {right:calc(100% - 255px);letter-spacing:-1px;}
#OJXGBVSJHY {top:8px;position:absolute;left:431px;height:20px;width:344px;z-index:1; }
#OJXGBVSJHY { vertical-align:middle; }
#MBISTIEAGL_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MBISTIEAGL_DIV {left:398px;height:16px;width:33px;}
BODY[ettl='old'] #MBISTIEAGL_DIV {left:398px;height:16px;width:33px;}
BODY[ettl='yes'] #MBISTIEAGL_DIV {right:calc(100% - 431px);letter-spacing:-1px;}
#NYYMCZVIIT {top:248px;position:absolute;left:16px;height:288px;width:768px;height:288px;right:0px;z-index:1;overflow:auto;}
#YORQOIOBQN, #BOYWPGJEEZ, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #BLXOBUQVYE_DIV, #XAWQKRVCSF_DIV, #BYKQMDEEAQ_DIV, #KDUGHGZUUG_DIV, #IKBMEWKQJW_DIV, #HVHVAYPDJE_DIV, #WDSMYOZLJE_DIV, #XXRYVYIIGY_DIV, #XGJRFGHMLC_DIV, #AGQEPDVFBG_DIV, #JIPVCDYRBV_DIV, #TJRVXLVZXV_DIV, #HRNIBQHQAJ_DIV, #WBIBDYUVSE_DIV, #STYFGJTTHM_DIV, #KIVHKOCKYW, #MBOMUTRIJO_DIV, #YLLFPOLLWL_DIV, #MBISTIEAGL_DIV {overflow:hidden;}
#YORQOIOBQN, #BOYWPGJEEZ, #WJSVGWKSFC, #AVHTGZTOSZ, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #UMFEJVRUFZ, #YLIKFVPZJA, #OEIKQOZMYJ, #SWRTSKXMDH, #MLPGOPNAKN, #FMTBXELZFV, #FTYILIQWQK, #XYMCLUECBD, #OMOIESFAVO, #ENJOYYHZME, #KIVHKOCKYW, #VYBZEWHKFF, #MKKUHVAGBU, #OJXGBVSJHY {box-sizing : border-box;}
