.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VBSBVXAQLN {top:49px;position:absolute;left:113px;height:20px;width:72px;z-index:1; }
#UTETGYAROG_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UTETGYAROG_DIV {left:68px;height:16px;width:44px;}
BODY[ettl='old'] #UTETGYAROG_DIV {left:68px;height:16px;width:44px;}
BODY[ettl='yes'] #UTETGYAROG_DIV {right:calc(100% - 112px);letter-spacing:-1px;}
#RYTTPEIMOU {top:72px;position:absolute;left:113px;height:20px;width:36px;z-index:1; }
#XMAAHZONAV_DIV {top:76px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XMAAHZONAV_DIV {left:5px;height:16px;width:107px;}
BODY[ettl='old'] #XMAAHZONAV_DIV {left:5px;height:16px;width:107px;}
BODY[ettl='yes'] #XMAAHZONAV_DIV {right:calc(100% - 112px);letter-spacing:-1px;}
#UTETGYAROG_DIV, #XMAAHZONAV_DIV {overflow:hidden;}
#VBSBVXAQLN, #RYTTPEIMOU {box-sizing : border-box;}
