.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:144px;z-index:0;}
#YORQOIOBQN_DIV { position:relative;z-index:0;width:100%;}
#HOHRVXKGPC {z-index:0;}
#HOHRVXKGPC_DIV { position:relative;z-index:0;width:100%;}
#PUODKNEFWX {z-index:0;}
#PUODKNEFWX_DIV { position:relative;z-index:0;width:100%;}
#ZFLICMSKTV { position:relative;height:256px;width:863px;left:85px;z-index:1;}
#RSWMQMMVEI { position:relative;height:256px;width:867px;left:85px;z-index:1;}
#WJSVGWKSFC {top:13px;position:absolute;left:104px;height:21px;width:78px;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1; }
#AVHTGZTOSZ {top:13px;position:absolute;left:254px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#AVHTGZTOSZ_ZOOM { position:absolute;top:13px;left:303px;height:21px;width:17px;z-index:1;}
#UMFEJVRUFZ {top:8px;position:absolute;left:170px;height:20px;width:166px;z-index:1; }
#UMFEJVRUFZ_ZOOM { position:absolute;top:8px;left:337px;height:20px;width:17px;z-index:1;}
#YLIKFVPZJA {top:36px;position:absolute;left:170px;height:20px;width:80px;text-align:right;z-index:1; }
#OEIKQOZMYJ {top:32px;position:absolute;left:722px;height:20px;width:80px;text-align:right;z-index:1; }
#SWRTSKXMDH {top:64px;position:absolute;left:170px;height:20px;width:368px;z-index:1; }
#SWRTSKXMDH { vertical-align:middle; }
#SLTZSUMACW {top:91px;position:absolute;left:170px;height:20px;width:108px;z-index:1; }
#SLTZSUMACW_ZOOM { position:absolute;top:91px;left:279px;height:20px;width:17px;z-index:1;}
#MLPGOPNAKN {top:119px;position:absolute;left:170px;height:20px;width:336px;z-index:1; }
#BYKQMDEEAQ_DIV {top:68px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #BYKQMDEEAQ_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='old'] #BYKQMDEEAQ_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='yes'] #BYKQMDEEAQ_DIV {right:calc(100% - 168px);}
#LOEAMXUYLA_DIV {top:17px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LOEAMXUYLA_DIV {left:8px;height:17px;width:94px;}
BODY[ettl='old'] #LOEAMXUYLA_DIV {left:8px;height:17px;width:94px;}
BODY[ettl='yes'] #LOEAMXUYLA_DIV {right:calc(100% - 102px);}
#RLUMBFHPUD {top:13px;position:absolute;left:640px;height:21px;width:192px;font-family:Arial;font-size:8pt;z-index:1; }
#OJGQABFSYN {top:13px;position:absolute;left:882px;height:21px;width:24px;font-family:Arial;font-size:8pt;z-index:1; }
#OZEOCQRSEQ {top:13px;position:absolute;left:951px;height:21px;width:48px;font-family:Arial;font-size:8pt;z-index:1; }
#XVRJYSKGWZ_DIV {top:17px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #XVRJYSKGWZ_DIV {left:184px;height:17px;width:67px;}
BODY[ettl='old'] #XVRJYSKGWZ_DIV {left:184px;height:17px;width:67px;}
BODY[ettl='yes'] #XVRJYSKGWZ_DIV {right:calc(100% - 251px);}
#CTLYJMTHDV_DIV {top:17px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #CTLYJMTHDV_DIV {left:582px;height:17px;width:55px;}
BODY[ettl='old'] #CTLYJMTHDV_DIV {left:582px;height:17px;width:55px;}
BODY[ettl='yes'] #CTLYJMTHDV_DIV {right:calc(100% - 637px);}
#JWSDOSRGAG_DIV {top:17px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #JWSDOSRGAG_DIV {left:840px;height:17px;width:38px;}
BODY[ettl='old'] #JWSDOSRGAG_DIV {left:840px;height:17px;width:38px;}
BODY[ettl='yes'] #JWSDOSRGAG_DIV {right:calc(100% - 878px);}
#ENBRMMDVUP_DIV {top:17px;position:absolute;text-align:right;font-family:Arial;font-size:8pt;z-index:1;}
BODY:not([ettl]) #ENBRMMDVUP_DIV {left:912px;height:17px;width:35px;}
BODY[ettl='old'] #ENBRMMDVUP_DIV {left:912px;height:17px;width:35px;}
BODY[ettl='yes'] #ENBRMMDVUP_DIV {right:calc(100% - 947px);}
#BLXOBUQVYE_DIV {top:17px;position:absolute;left:322px;height:17px;width:292px;color:#0000A0;text-align:left;font-family:Arial;font-size:8pt;z-index:1;}
#XYMCLUECBD {top:32px;position:absolute;left:410px;height:20px;width:96px;z-index:1; }
#KDUGHGZUUG_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KDUGHGZUUG_DIV {left:282px;height:16px;width:125px;}
BODY[ettl='old'] #KDUGHGZUUG_DIV {left:282px;height:16px;width:125px;}
BODY[ettl='yes'] #KDUGHGZUUG_DIV {right:calc(100% - 407px);}
#IKBMEWKQJW_DIV {top:36px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IKBMEWKQJW_DIV {left:594px;height:16px;width:127px;}
BODY[ettl='old'] #IKBMEWKQJW_DIV {left:594px;height:16px;width:127px;}
BODY[ettl='yes'] #IKBMEWKQJW_DIV {right:calc(100% - 721px);}
#HVHVAYPDJE_DIV {top:40px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HVHVAYPDJE_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='old'] #HVHVAYPDJE_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='yes'] #HVHVAYPDJE_DIV {right:calc(100% - 168px);}
#WDSMYOZLJE_DIV {top:12px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WDSMYOZLJE_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='old'] #WDSMYOZLJE_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='yes'] #WDSMYOZLJE_DIV {right:calc(100% - 168px);}
#XXRYVYIIGY_DIV {top:12px;position:absolute;left:362px;height:16px;width:440px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XAWQKRVCSF_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XAWQKRVCSF_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='old'] #XAWQKRVCSF_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='yes'] #XAWQKRVCSF_DIV {right:calc(100% - 168px);}
#QSDCLKKQSB_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QSDCLKKQSB_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='old'] #QSDCLKKQSB_DIV {left:16px;height:16px;width:152px;}
BODY[ettl='yes'] #QSDCLKKQSB_DIV {right:calc(100% - 168px);}
#YJYVIBZLQH_DIV {top:95px;position:absolute;left:306px;height:16px;width:296px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#EFRNVTREYB_DIV {top:95px;position:absolute;left:306px;height:16px;width:296px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#IXHEMDOSUG { position:relative;height:238px;width:605px;left:184px;z-index:1;}
#HDCVKCQUDV {z-index:0;}
#HDCVKCQUDV_DIV { position:relative;z-index:0;width:100%;}
#BFAOFWJWLC { height:48px;z-index:0;}
#BFAOFWJWLC_DIV { position:relative;z-index:0;width:100%;}
#YORQOIOBQN, #HOHRVXKGPC, #PUODKNEFWX, #BYKQMDEEAQ_DIV, #LOEAMXUYLA_DIV, #XVRJYSKGWZ_DIV, #CTLYJMTHDV_DIV, #JWSDOSRGAG_DIV, #ENBRMMDVUP_DIV, #BLXOBUQVYE_DIV, #KDUGHGZUUG_DIV, #IKBMEWKQJW_DIV, #HVHVAYPDJE_DIV, #WDSMYOZLJE_DIV, #XXRYVYIIGY_DIV, #XAWQKRVCSF_DIV, #QSDCLKKQSB_DIV, #YJYVIBZLQH_DIV, #EFRNVTREYB_DIV, #HDCVKCQUDV, #BFAOFWJWLC {overflow:hidden;}
#YORQOIOBQN, #HOHRVXKGPC, #PUODKNEFWX, #WJSVGWKSFC, #AVHTGZTOSZ, #UMFEJVRUFZ, #YLIKFVPZJA, #OEIKQOZMYJ, #SWRTSKXMDH, #SLTZSUMACW, #MLPGOPNAKN, #RLUMBFHPUD, #OJGQABFSYN, #OZEOCQRSEQ, #XYMCLUECBD, #HDCVKCQUDV, #BFAOFWJWLC {box-sizing : border-box;}
