.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:126px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:126px;z-index:0;width:704px;top:7px;left:8px;}
#CZPCNBGKRB {top:14px;position:absolute;left:96px;height:20px;width:40px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#ERERTGVMXB_DIV {top:18px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ERERTGVMXB_DIV {left:27px;height:16px;width:66px;}
BODY[ettl='old'] #ERERTGVMXB_DIV {left:27px;height:16px;width:66px;}
BODY[ettl='yes'] #ERERTGVMXB_DIV {right:calc(100% - 93px);}
#UBJZZZQLKR {top:41px;position:absolute;left:96px;height:20px;width:608px;z-index:1; }
#POJAHNCBGV_DIV {top:45px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #POJAHNCBGV_DIV {left:25px;height:16px;width:68px;}
BODY[ettl='old'] #POJAHNCBGV_DIV {left:25px;height:16px;width:68px;}
BODY[ettl='yes'] #POJAHNCBGV_DIV {right:calc(100% - 93px);}
#OYIXBRVDAC {top:68px;position:absolute;left:96px;height:20px;width:32px;z-index:1; }
#AKZUZUXFKR_DIV {top:72px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #AKZUZUXFKR_DIV {left:34px;height:16px;width:59px;}
BODY[ettl='old'] #AKZUZUXFKR_DIV {left:34px;height:16px;width:59px;}
BODY[ettl='yes'] #AKZUZUXFKR_DIV {right:calc(100% - 93px);}
#MARYIAMBRP {top:98px;position:absolute;left:96px;height:20px;width:80px;text-align:right;z-index:1; }
#IUSDJIRNXV_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IUSDJIRNXV_DIV {left:21px;height:16px;width:72px;}
BODY[ettl='old'] #IUSDJIRNXV_DIV {left:21px;height:16px;width:72px;}
BODY[ettl='yes'] #IUSDJIRNXV_DIV {right:calc(100% - 93px);letter-spacing:-1px;}
#RLONUMWZMW {top:98px;position:absolute;left:288px;height:20px;width:80px;text-align:right;z-index:1; }
#FODYHQDDAS_DIV {top:102px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FODYHQDDAS_DIV {left:219px;height:16px;width:67px;}
BODY[ettl='old'] #FODYHQDDAS_DIV {left:219px;height:16px;width:67px;}
BODY[ettl='yes'] #FODYHQDDAS_DIV {right:calc(100% - 286px);letter-spacing:-1px;}
#YORQOIOBQN, #ERERTGVMXB_DIV, #POJAHNCBGV_DIV, #AKZUZUXFKR_DIV, #IUSDJIRNXV_DIV, #FODYHQDDAS_DIV {overflow:hidden;}
#YORQOIOBQN, #CZPCNBGKRB, #UBJZZZQLKR, #OYIXBRVDAC, #MARYIAMBRP, #RLONUMWZMW {box-sizing : border-box;}
