.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#AQSQVBKXAL { height:230px;z-index:0;}
#AQSQVBKXAL_DIV { position:relative;z-index:0;width:100%;}
#EWPTTWSBMT { height:119px;z-index:0;}
#EWPTTWSBMT_DIV { position:relative;z-index:0;width:100%;}
#OQFTKYDCIW { height:294px;z-index:0;}
#OQFTKYDCIW_DIV { position:relative;z-index:0;width:100%;}
#BGWRHXCTFO {top:217px;position:absolute;left:1040px;height:20px;width:80px;z-index:1; }
#UYWIEUHCAL_DIV {top:13px;position:absolute;left:128px;height:19px;width:392px;z-index:1; }
#UYWIEUHCAL { vertical-align:middle; }
#TWTTDWKCRG {top:41px;position:absolute;left:128px;height:20px;width:176px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#WWGIVGNUDW {top:41px;position:absolute;left:352px;height:20px;width:168px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#CZTHKEDVCO_DIV {top:64px;position:absolute;left:128px;height:21px;width:575px;overflow:hidden;white-space:nowrap;z-index:1; }
#AWPNTOJIRR {top:90px;position:absolute;left:128px;height:20px;width:432px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#YVIKEGPYPM {top:118px;position:absolute;left:128px;height:20px;width:30px;z-index:1; }
#YVIKEGPYPM_ZOOM { position:absolute;top:118px;left:159px;height:20px;width:17px;z-index:1;}
#ODAYKSRECA {top:146px;position:absolute;left:128px;height:20px;width:318px;z-index:1; }
#ODAYKSRECA_ZOOM { position:absolute;top:146px;left:447px;height:20px;width:17px;z-index:1;}
#NOTZPDMYIA {top:146px;position:absolute;left:528px;height:20px;width:24px;z-index:1; }
#RDAVOEETJG {top:146px;position:absolute;left:600px;height:20px;width:66px;z-index:1; }
#BOTAJBWHHY {top:146px;position:absolute;left:704px;height:20px;width:56px;z-index:1; }
#VYLHWTRQNX {top:174px;position:absolute;left:128px;height:20px;width:222px;z-index:1; }
#IRLEJAUHCB {top:202px;position:absolute;left:128px;height:20px;width:872px;z-index:1; }
#IRLEJAUHCB { vertical-align:middle; }
#BYPEBFEOAJ {top:7px;position:absolute;left:128px;height:20px;width:252px;z-index:1; }
#BYPEBFEOAJ_ZOOM { position:absolute;top:7px;left:381px;height:20px;width:17px;z-index:1;}
#NEUBQNUEOJ {top:7px;position:absolute;left:407px;height:20px;width:257px;z-index:1; }
#KPSCOABZLB {top:7px;position:absolute;left:706px;height:20px;width:32px;z-index:1; }
#IOAMSFCCVV {top:35px;position:absolute;left:128px;height:20px;width:80px;z-index:1; }
#IOAMSFCCVV_ZOOM { position:absolute;top:35px;left:209px;height:20px;width:17px;z-index:1;}
#HODZKKOSYW {top:35px;position:absolute;left:236px;height:20px;width:233px;z-index:1; }
#QPALJZMFCL {top:35px;position:absolute;left:575px;height:20px;width:88px;z-index:1; }
#QPALJZMFCL { vertical-align:middle; }
#XMGRWGFSFV {top:63px;position:absolute;left:128px;height:20px;width:86px;text-align:right;z-index:1; }
#XMGRWGFSFV_ZOOM { position:absolute;top:63px;left:215px;height:20px;width:17px;z-index:1;}
#MBGANUUHRA {top:63px;position:absolute;left:364px;height:20px;width:246px;z-index:1; }
#MBGANUUHRA { vertical-align:middle; }
#HVEEMUJUUY {top:63px;position:absolute;left:732px;height:20px;width:102px;z-index:1; }
#XHWYGOPPUN {top:91px;position:absolute;left:128px;height:20px;width:86px;text-align:right;z-index:1; }
#XHWYGOPPUN_ZOOM { position:absolute;top:91px;left:215px;height:20px;width:17px;z-index:1;}
#BNWXBPSIDG {top:91px;position:absolute;left:336px;height:20px;width:86px;text-align:right;z-index:1; }
#BNWXBPSIDG_ZOOM { position:absolute;top:91px;left:423px;height:20px;width:17px;z-index:1;}
#HRNCPADUFU {top:91px;position:absolute;left:552px;height:20px;width:192px;z-index:1; }
#OJJHIUDPFY {top:7px;position:absolute;left:128px;height:20px;width:128px;z-index:1; }
#FHXWUTBNKI {top:7px;position:absolute;left:408px;height:20px;width:104px;z-index:1; }
#JLTVZXPMKM {top:7px;position:absolute;left:824px;height:20px;width:176px;z-index:1; }
#LHMWHZJZVJ_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHMWHZJZVJ_DIV {left:614px;height:16px;width:206px;}
BODY[ettl='old'] #LHMWHZJZVJ_DIV {left:614px;height:16px;width:206px;}
BODY[ettl='yes'] #LHMWHZJZVJ_DIV {right:calc(100% - 820px);letter-spacing:-1px;}
#LLYIGAMXRH {top:35px;position:absolute;left:128px;height:20px;width:880px;z-index:1; }
#RVNHQCXNEM {top:63px;position:absolute;left:128px;height:20px;width:30px;z-index:1; }
#SAQTIHOALW {top:91px;position:absolute;left:128px;height:20px;width:70px;z-index:1; }
#SAQTIHOALW_ZOOM { position:absolute;top:91px;left:199px;height:20px;width:17px;z-index:1;}
#ZGNLLSFQHC {top:119px;position:absolute;left:128px;height:20px;width:848px;z-index:1; }
#ZGNLLSFQHC { vertical-align:middle; }
#UQJBFPCIGV {top:119px;position:absolute;left:987px;color:#000000;font-family:ZucchettiDevelopement;font-size:20px;cursor:pointer;z-index:1;clip:rect(0,20px,20px,0);}
#YTPWDRMFUS {top:147px;position:absolute;left:128px;height:20px;width:128px;z-index:1; }
#RARXYHBSLM_DIV {top:175px;position:absolute;left:128px;height:21px;width:277px;overflow:hidden;white-space:nowrap;z-index:1; }
#XFKXBQYUIU_DIV {top:175px;position:absolute;left:616px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#BCZWUTGYEU {top:175px;position:absolute;left:844px;height:21px;width:83px;z-index:1;}
#BCZWUTGYEU_txt {cursor:pointer;display:inline;}
#BCZWUTGYEU_img {cursor:pointer;display:inline;vertical-align:middle;color:#000000;font-family:icons8_win10;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#BCZWUTGYEU_img::after {content:' ';}
#DFNZBCOVFH_DIV {top:203px;position:absolute;left:128px;height:21px;width:219px;overflow:hidden;white-space:nowrap;z-index:1; }
#RHCYCLTWOT_DIV {top:203px;position:absolute;left:616px;height:21px;width:206px;overflow:hidden;white-space:nowrap;z-index:1; }
#ESBPIXCOCR {top:203px;position:absolute;left:844px;height:21px;width:83px;z-index:1;}
#ESBPIXCOCR_txt {cursor:pointer;display:inline;}
#ESBPIXCOCR_img {cursor:pointer;display:inline;vertical-align:middle;color:#000000;font-family:icons8_win10;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#ESBPIXCOCR_img::after {content:' ';}
#IVKDCKCDQZ {top:238px;position:absolute;left:152px;height:48px;width:320px;z-index:1;}
#KRNBWYKUXF {top:238px;position:absolute;left:536px;height:48px;width:321px;z-index:1;}
#WVJSUIKYEY_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WVJSUIKYEY_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='old'] #WVJSUIKYEY_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='yes'] #WVJSUIKYEY_DIV {right:calc(100% - 125px);}
#ZZDCRCKYFX_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZZDCRCKYFX_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #ZZDCRCKYFX_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #ZZDCRCKYFX_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#YXFGMWZGNN_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YXFGMWZGNN_DIV {left:628px;height:16px;width:101px;}
BODY[ettl='old'] #YXFGMWZGNN_DIV {left:628px;height:16px;width:101px;}
BODY[ettl='yes'] #YXFGMWZGNN_DIV {right:calc(100% - 729px);}
#HZYTDOZFPI_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #HZYTDOZFPI_DIV {left:51px;height:16px;width:74px;}
BODY[ettl='old'] #HZYTDOZFPI_DIV {left:51px;height:16px;width:74px;}
BODY[ettl='yes'] #HZYTDOZFPI_DIV {right:calc(100% - 125px);}
#WZDAFMDKJE_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WZDAFMDKJE_DIV {left:40px;height:16px;width:85px;}
BODY[ettl='old'] #WZDAFMDKJE_DIV {left:40px;height:16px;width:85px;}
BODY[ettl='yes'] #WZDAFMDKJE_DIV {right:calc(100% - 125px);}
#QOLFDIWXXC_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #QOLFDIWXXC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #QOLFDIWXXC_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #QOLFDIWXXC_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#ZPQIEJPWJC_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZPQIEJPWJC_DIV {left:451px;height:16px;width:100px;}
BODY[ettl='old'] #ZPQIEJPWJC_DIV {left:451px;height:16px;width:100px;}
BODY[ettl='yes'] #ZPQIEJPWJC_DIV {right:calc(100% - 551px);}
#LHHLIWFNCK_DIV {top:123px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LHHLIWFNCK_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #LHHLIWFNCK_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #LHHLIWFNCK_DIV {right:calc(100% - 125px);}
#SBJQIAQUCN_DIV {top:150px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #SBJQIAQUCN_DIV {left:472px;height:16px;width:52px;}
BODY[ettl='old'] #SBJQIAQUCN_DIV {left:472px;height:16px;width:52px;}
BODY[ettl='yes'] #SBJQIAQUCN_DIV {right:calc(100% - 524px);}
#PFEQRACAUA_DIV {top:94px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PFEQRACAUA_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #PFEQRACAUA_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #PFEQRACAUA_DIV {right:calc(100% - 125px);}
#RZBLEGCFJJ_DIV {top:122px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RZBLEGCFJJ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #RZBLEGCFJJ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #RZBLEGCFJJ_DIV {right:calc(100% - 125px);}
#TWTXGZJTAR_DIV {top:178px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #TWTXGZJTAR_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #TWTXGZJTAR_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #TWTXGZJTAR_DIV {right:calc(100% - 125px);}
#GDOCAGKROT_DIV {top:150px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GDOCAGKROT_DIV {left:568px;height:16px;width:30px;}
BODY[ettl='old'] #GDOCAGKROT_DIV {left:568px;height:16px;width:30px;}
BODY[ettl='yes'] #GDOCAGKROT_DIV {right:calc(100% - 598px);}
#EKULYOXTJM_DIV {top:151px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #EKULYOXTJM_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #EKULYOXTJM_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #EKULYOXTJM_DIV {right:calc(100% - 125px);letter-spacing:-1px;}
#WHMXTGXWGC_DIV {top:150px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WHMXTGXWGC_DIV {left:676px;height:16px;width:27px;}
BODY[ettl='old'] #WHMXTGXWGC_DIV {left:676px;height:16px;width:27px;}
BODY[ettl='yes'] #WHMXTGXWGC_DIV {right:calc(100% - 703px);}
#WRVDNZJCDE_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #WRVDNZJCDE_DIV {left:349px;height:16px;width:58px;}
BODY[ettl='old'] #WRVDNZJCDE_DIV {left:349px;height:16px;width:58px;}
BODY[ettl='yes'] #WRVDNZJCDE_DIV {right:calc(100% - 407px);letter-spacing:-1px;}
#YRARWMJPPV_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YRARWMJPPV_DIV {left:236px;height:16px;width:127px;}
BODY[ettl='old'] #YRARWMJPPV_DIV {left:236px;height:16px;width:127px;}
BODY[ettl='yes'] #YRARWMJPPV_DIV {right:calc(100% - 363px);}
#MLJVDLOITR_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MLJVDLOITR_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='old'] #MLJVDLOITR_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='yes'] #MLJVDLOITR_DIV {right:calc(100% - 125px);}
#KRSCDPQZTQ_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KRSCDPQZTQ_DIV {left:531px;height:16px;width:39px;}
BODY[ettl='old'] #KRSCDPQZTQ_DIV {left:531px;height:16px;width:39px;}
BODY[ettl='yes'] #KRSCDPQZTQ_DIV {right:calc(100% - 570px);}
#XPSQTBKQQZ_DIV {top:150px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XPSQTBKQQZ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #XPSQTBKQQZ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #XPSQTBKQQZ_DIV {right:calc(100% - 125px);}
#IVAWYVSUQI_DIV {top:11px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #IVAWYVSUQI_DIV {left:671px;height:16px;width:32px;}
BODY[ettl='old'] #IVAWYVSUQI_DIV {left:671px;height:16px;width:32px;}
BODY[ettl='yes'] #IVAWYVSUQI_DIV {right:calc(100% - 703px);letter-spacing:-1px;}
#ESVLUSNYWB_DIV {top:122px;position:absolute;left:181px;height:16px;width:323px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JCWRPFWYVW_DIV {top:67px;position:absolute;left:186px;height:16px;width:504px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#HCIJRBXGCX {top:7px;position:absolute;left:258px;height:20px;width:25px;color:#000000;font-family:ZucchettiDevelopement;font-size:20px;cursor:pointer;z-index:1;}
#UYGHJPRVKH_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UYGHJPRVKH_DIV {left:232px;height:16px;width:101px;}
BODY[ettl='old'] #UYGHJPRVKH_DIV {left:232px;height:16px;width:101px;}
BODY[ettl='yes'] #UYGHJPRVKH_DIV {right:calc(100% - 333px);}
#FROMUIZATY {top:188px;position:absolute;left:1208px;height:20px;width:80px;text-align:right;z-index:1; }
#ZBRDCBHLZC_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #ZBRDCBHLZC_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='old'] #ZBRDCBHLZC_DIV {left:24px;height:16px;width:101px;}
BODY[ettl='yes'] #ZBRDCBHLZC_DIV {right:calc(100% - 125px);}
#TVSLWOCERI_DIV {top:45px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #TVSLWOCERI_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #TVSLWOCERI_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #TVSLWOCERI_DIV {right:calc(100% - 125px);}
#KUPYKSUBXV_DIV {top:45px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #KUPYKSUBXV_DIV {left:316px;height:16px;width:35px;}
BODY[ettl='old'] #KUPYKSUBXV_DIV {left:316px;height:16px;width:35px;}
BODY[ettl='yes'] #KUPYKSUBXV_DIV {right:calc(100% - 351px);}
#LRKNJREBPN_DIV {top:95px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LRKNJREBPN_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='old'] #LRKNJREBPN_DIV {left:5px;height:16px;width:120px;}
BODY[ettl='yes'] #LRKNJREBPN_DIV {right:calc(100% - 125px);}
#CPWCFGHBVH_DIV {top:95px;position:absolute;left:224px;height:16px;width:448px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XYHCZSITMJ_DIV {top:206px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #XYHCZSITMJ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='old'] #XYHCZSITMJ_DIV {left:8px;height:16px;width:117px;}
BODY[ettl='yes'] #XYHCZSITMJ_DIV {right:calc(100% - 125px);}
#BYFMKHYARA {top:8px;position:absolute;left:816px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#HGVEMKOKYZ {top:8px;position:absolute;left:776px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#PAHSBQSDGU {top:8px;position:absolute;left:856px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#VVZBQJZQFF {top:8px;position:absolute;left:896px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#GSYDJTTEZF {top:8px;position:absolute;left:936px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#VEHZFMLUPL {top:8px;position:absolute;left:976px;height:24px;width:32px;color:#000000;font-family:ZucchettiDevelopement;font-size:25px;cursor:pointer;z-index:1;}
#UMKFMWBVUO {top:8px;position:absolute;left:80px;height:132px;width:928px;overflow:auto;z-index:1; }
#GXTICCPRBI_DIV {top:8px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #GXTICCPRBI_DIV {left:48px;height:16px;width:29px;}
BODY[ettl='old'] #GXTICCPRBI_DIV {left:48px;height:16px;width:29px;}
BODY[ettl='yes'] #GXTICCPRBI_DIV {right:calc(100% - 77px);letter-spacing:-1px;}
#SPRIZARLRS { position:relative;left:16px;width:992px;z-index:1;overflow:auto;}
#LSVOLXWIKA { position:relative;margin-left:8px;z-index:1;overflow:auto;}
#HYOEMSMQPH { position:relative;margin-left:0px;z-index:1;overflow:auto;}
BODY[ettl='yes'] #CZTHKEDVCO_DIV, BODY[ettl='yes'] #RARXYHBSLM_DIV, BODY[ettl='yes'] #XFKXBQYUIU_DIV, BODY[ettl='yes'] #DFNZBCOVFH_DIV {letter-spacing:-1px;}
#AQSQVBKXAL, #EWPTTWSBMT, #OQFTKYDCIW, #LHMWHZJZVJ_DIV, #WVJSUIKYEY_DIV, #ZZDCRCKYFX_DIV, #YXFGMWZGNN_DIV, #HZYTDOZFPI_DIV, #WZDAFMDKJE_DIV, #QOLFDIWXXC_DIV, #ZPQIEJPWJC_DIV, #LHHLIWFNCK_DIV, #SBJQIAQUCN_DIV, #PFEQRACAUA_DIV, #RZBLEGCFJJ_DIV, #TWTXGZJTAR_DIV, #GDOCAGKROT_DIV, #EKULYOXTJM_DIV, #WHMXTGXWGC_DIV, #WRVDNZJCDE_DIV, #YRARWMJPPV_DIV, #MLJVDLOITR_DIV, #KRSCDPQZTQ_DIV, #XPSQTBKQQZ_DIV, #IVAWYVSUQI_DIV, #ESVLUSNYWB_DIV, #JCWRPFWYVW_DIV, #UYGHJPRVKH_DIV, #ZBRDCBHLZC_DIV, #TVSLWOCERI_DIV, #KUPYKSUBXV_DIV, #LRKNJREBPN_DIV, #CPWCFGHBVH_DIV, #XYHCZSITMJ_DIV, #GXTICCPRBI_DIV {overflow:hidden;}
#AQSQVBKXAL, #EWPTTWSBMT, #OQFTKYDCIW, #BGWRHXCTFO, #UYWIEUHCAL_DIV, #TWTTDWKCRG, #WWGIVGNUDW, #CZTHKEDVCO_DIV, #AWPNTOJIRR, #YVIKEGPYPM, #ODAYKSRECA, #NOTZPDMYIA, #RDAVOEETJG, #BOTAJBWHHY, #VYLHWTRQNX, #IRLEJAUHCB, #BYPEBFEOAJ, #NEUBQNUEOJ, #KPSCOABZLB, #IOAMSFCCVV, #HODZKKOSYW, #QPALJZMFCL, #XMGRWGFSFV, #MBGANUUHRA, #HVEEMUJUUY, #XHWYGOPPUN, #BNWXBPSIDG, #HRNCPADUFU, #OJJHIUDPFY, #FHXWUTBNKI, #JLTVZXPMKM, #LLYIGAMXRH, #RVNHQCXNEM, #SAQTIHOALW, #ZGNLLSFQHC, #YTPWDRMFUS, #RARXYHBSLM_DIV, #XFKXBQYUIU_DIV, #DFNZBCOVFH_DIV, #RHCYCLTWOT_DIV, #FROMUIZATY, #UMKFMWBVUO {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
@font-face {
font-display: block;
font-family: 'icons8_win10';
src: url('./fonts/icons8_win10.woff2') format('woff2'),
url('./fonts/icons8_win10.woff') format('woff'),
url('./fonts/icons8_win10.ttf') format('ttf');
}
