.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:112px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:112px;z-index:0;width:672px;top:8px;left:8px;}
#XIEVRJLRDP {top:16px;position:absolute;left:112px;height:20px;width:40px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#KRFRYGOSLS_DIV {top:20px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #KRFRYGOSLS_DIV {left:69px;height:16px;width:42px;}
BODY[ettl='old'] #KRFRYGOSLS_DIV {left:69px;height:16px;width:42px;}
BODY[ettl='yes'] #KRFRYGOSLS_DIV {right:calc(100% - 111px);}
#BRISTCOXVE {top:40px;position:absolute;left:112px;height:20px;width:552px;z-index:1; }
#KHBUWPWCWH_DIV {top:44px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KHBUWPWCWH_DIV {left:43px;height:16px;width:68px;}
BODY[ettl='old'] #KHBUWPWCWH_DIV {left:43px;height:16px;width:68px;}
BODY[ettl='yes'] #KHBUWPWCWH_DIV {right:calc(100% - 111px);}
#PFCAAXIJSU {top:64px;position:absolute;left:112px;height:20px;width:372px;z-index:1; }
#KTBTLLLBYZ_DIV {top:68px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KTBTLLLBYZ_DIV {left:33px;height:16px;width:78px;}
BODY[ettl='old'] #KTBTLLLBYZ_DIV {left:33px;height:16px;width:78px;}
BODY[ettl='yes'] #KTBTLLLBYZ_DIV {right:calc(100% - 111px);}
#TAZCXRSOBO {top:88px;position:absolute;left:112px;height:20px;width:24px;z-index:1; }
#FGEMKCSZFO_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #FGEMKCSZFO_DIV {left:5px;height:16px;width:106px;}
BODY[ettl='old'] #FGEMKCSZFO_DIV {left:5px;height:16px;width:106px;}
BODY[ettl='yes'] #FGEMKCSZFO_DIV {right:calc(100% - 111px);}
#HHIHNZHIBP {top:88px;position:absolute;left:280px;height:20px;width:24px;z-index:1; }
#MDDHSSDZXD_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MDDHSSDZXD_DIV {left:160px;height:16px;width:120px;}
BODY[ettl='old'] #MDDHSSDZXD_DIV {left:160px;height:16px;width:120px;}
BODY[ettl='yes'] #MDDHSSDZXD_DIV {right:calc(100% - 280px);letter-spacing:-1px;}
#CFISKJBJKS {top:88px;position:absolute;left:432px;height:20px;width:60px;text-align:right;z-index:1; }
#YFZCHPMRFS_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #YFZCHPMRFS_DIV {left:340px;height:16px;width:92px;}
BODY[ettl='old'] #YFZCHPMRFS_DIV {left:340px;height:16px;width:92px;}
BODY[ettl='yes'] #YFZCHPMRFS_DIV {right:calc(100% - 432px);letter-spacing:-1px;}
#FLWSSMJEER {top:88px;position:absolute;left:600px;height:20px;width:64px;text-align:right;z-index:1; }
#VOYHHNAYNL_DIV {top:92px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #VOYHHNAYNL_DIV {left:513px;height:16px;width:87px;}
BODY[ettl='old'] #VOYHHNAYNL_DIV {left:513px;height:16px;width:87px;}
BODY[ettl='yes'] #VOYHHNAYNL_DIV {right:calc(100% - 600px);letter-spacing:-1px;}
#YORQOIOBQN, #KRFRYGOSLS_DIV, #KHBUWPWCWH_DIV, #KTBTLLLBYZ_DIV, #FGEMKCSZFO_DIV, #MDDHSSDZXD_DIV, #YFZCHPMRFS_DIV, #VOYHHNAYNL_DIV {overflow:hidden;}
#YORQOIOBQN, #XIEVRJLRDP, #BRISTCOXVE, #PFCAAXIJSU, #TAZCXRSOBO, #HHIHNZHIBP, #CFISKJBJKS, #FLWSSMJEER {box-sizing : border-box;}
