.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YORQOIOBQN { height:77px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#YORQOIOBQN_DIV { position:absolute;height:77px;z-index:0;width:728px;top:7px;left:8px;}
#ZGQEJMVUST {top:21px;position:absolute;left:56px;height:20px;width:80px;text-align:right;z-index:1; }
#ONHGQHDQFZ {top:49px;position:absolute;left:56px;height:20px;width:80px;z-index:1; }
#ONHGQHDQFZ_ZOOM { position:absolute;top:49px;left:137px;height:20px;width:17px;z-index:1;}
#UYEZUENIYX_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #UYEZUENIYX_DIV {left:16px;height:16px;width:39px;}
BODY[ettl='old'] #UYEZUENIYX_DIV {left:16px;height:16px;width:39px;}
BODY[ettl='yes'] #UYEZUENIYX_DIV {right:calc(100% - 55px);letter-spacing:-1px;}
#BHNIQXSGYR {top:49px;position:absolute;left:232px;height:20px;width:372px;z-index:1; }
#KNMZJNPQJP_DIV {top:53px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #KNMZJNPQJP_DIV {left:162px;height:16px;width:69px;}
BODY[ettl='old'] #KNMZJNPQJP_DIV {left:162px;height:16px;width:69px;}
BODY[ettl='yes'] #KNMZJNPQJP_DIV {right:calc(100% - 231px);letter-spacing:-1px;}
#KXSOHXEOWU {top:21px;position:absolute;left:232px;height:20px;width:492px;z-index:1; }
#DHBKXPEWZA_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #DHBKXPEWZA_DIV {left:187px;height:16px;width:44px;}
BODY[ettl='old'] #DHBKXPEWZA_DIV {left:187px;height:16px;width:44px;}
BODY[ettl='yes'] #DHBKXPEWZA_DIV {right:calc(100% - 231px);letter-spacing:-1px;}
#MYOUCLPSIG_DIV {top:25px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #MYOUCLPSIG_DIV {left:40px;height:16px;width:16px;}
BODY[ettl='old'] #MYOUCLPSIG_DIV {left:40px;height:16px;width:16px;}
BODY[ettl='yes'] #MYOUCLPSIG_DIV {right:calc(100% - 56px);letter-spacing:-1px;}
#YORQOIOBQN, #UYEZUENIYX_DIV, #KNMZJNPQJP_DIV, #DHBKXPEWZA_DIV, #MYOUCLPSIG_DIV {overflow:hidden;}
#YORQOIOBQN, #ZGQEJMVUST, #ONHGQHDQFZ, #BHNIQXSGYR, #KXSOHXEOWU {box-sizing : border-box;}
