.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:288px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:288px;z-index:0;width:784px;top:0px;left:0px;}
#PTXYMSWBZO {top:9px;position:absolute;left:736px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:198px;position:absolute;left:8px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#RXPIEFSABT {top:9px;position:absolute;left:688px;height:32px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:18px;position:absolute;left:304px;height:14px;width:88px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:45px;position:absolute;left:8px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#OROZKJXEVJ {top:13px;position:absolute;left:128px;height:20px;width:162px;z-index:1; }
#DTGEUMKXYJ_DIV {top:17px;position:absolute;left:8px;height:16px;width:120px;text-align:right;z-index:1;}
BODY:not([ettl]) #DTGEUMKXYJ_DIV {top:17px;position:absolute;left:8px;height:16px;width:120px;}
BODY[ettl="old"] #DTGEUMKXYJ_DIV {top:17px;position:absolute;left:8px;height:16px;width:120px;}
BODY[ettl="yes"] #DTGEUMKXYJ_DIV {top:17px;position:absolute;left:8px;}
#MSXGOAUZJR_DIV {top:12px;position:absolute;left:448px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#XLVFHSOSYH, #FGMOCXNBFY_DIV, #DTGEUMKXYJ_DIV {overflow:hidden;}
#XLVFHSOSYH, #OROZKJXEVJ, #MSXGOAUZJR_DIV {box-sizing : border-box;}
