.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:198px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:198px;z-index:0;width:704px;top:9px;left:8px;}
#UQFVYWSNYY {top:18px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#UQFVYWSNYY_ZOOM { position:absolute;top:18px;left:239px;height:20px;width:17px;z-index:1;}
#HXBJUMEZIA {top:46px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#HXBJUMEZIA_ZOOM { position:absolute;top:46px;left:239px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:72px;position:absolute;left:168px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:72px;left:241px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:72px;position:absolute;left:384px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:72px;left:457px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:99px;position:absolute;left:168px;height:20px;width:94px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:99px;left:263px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:127px;position:absolute;left:168px;height:20px;width:94px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:127px;left:263px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:171px;position:absolute;left:272px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:171px;position:absolute;left:368px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:76px;position:absolute;left:40px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:76px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:40px;}
#BGHAITOPMU_DIV {top:76px;position:absolute;left:256px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:76px;position:absolute;left:256px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:256px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:256px;}
#PCILMATBXL_DIV {top:103px;position:absolute;left:104px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:103px;position:absolute;left:288px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:131px;position:absolute;left:104px;height:16px;width:61px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:104px;height:16px;width:61px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:104px;height:16px;width:61px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:104px;}
#XCBBNKIAUV_DIV {top:131px;position:absolute;left:288px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ZWZOQIGZCX_DIV {top:22px;position:absolute;left:8px;height:16px;width:157px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ZWZOQIGZCX_DIV {top:22px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="old"] #ZWZOQIGZCX_DIV {top:22px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="yes"] #ZWZOQIGZCX_DIV {top:22px;position:absolute;left:8px;}
#RXKVDVJPTZ_DIV {top:22px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGOVXFIBXQ_DIV {top:50px;position:absolute;left:8px;height:16px;width:157px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="old"] #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="yes"] #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:8px;}
#LNFAXDLCMF_DIV {top:50px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #ZWZOQIGZCX_DIV, #RXKVDVJPTZ_DIV, #BGOVXFIBXQ_DIV, #LNFAXDLCMF_DIV {overflow:hidden;}
#XLVFHSOSYH, #UQFVYWSNYY, #HXBJUMEZIA, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR {box-sizing : border-box;}
