.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:462px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:462px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:496px;z-index:1; }
#XWPYHZIJDE {top:28px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#DYMVKIQWCA {top:210px;position:absolute;left:12px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:63px;position:absolute;left:11px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#JSKZJOHJOM {top:28px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#TYIWXFLLFY_DIV {top:296px;position:absolute;left:12px;height:169px;width:768px;text-align:left;z-index:1;}
#DZUBEERBGN {top:33px;position:absolute;left:518px;height:25px;width:58px;z-index:1;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL {box-sizing : border-box;}
