.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:203px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:203px;z-index:0;width:776px;top:0px;left:0px;}
#FGMOCXNBFY_DIV {top:70px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#GEDJGVMCKZ {top:77px;position:absolute;left:344px;height:31px;width:40px;z-index:1;}
#AJXISNWTIP {top:77px;position:absolute;left:392px;height:31px;width:40px;z-index:1;}
#DMMJSVFBEV_DIV {top:7px;position:absolute;left:8px;height:29px;width:760px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#UCCWMDWDFX {top:42px;position:absolute;left:256px;height:20px;width:138px;z-index:1; }
#UCCWMDWDFX_ZOOM { position:absolute;top:42px;left:395px;height:20px;width:17px;z-index:1;}
#NUXUIBOQWB_DIV {top:46px;position:absolute;left:160px;height:16px;width:92px;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NUXUIBOQWB_DIV {top:46px;position:absolute;left:160px;height:16px;width:92px;}
BODY[ettl="old"] #NUXUIBOQWB_DIV {top:46px;position:absolute;left:160px;height:16px;width:92px;}
BODY[ettl="yes"] #NUXUIBOQWB_DIV {top:46px;position:absolute;left:160px;}
#OKJRPOSCDO_DIV {top:46px;position:absolute;left:419px;height:16px;width:252px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#DYMVKIQWCA {top:112px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #DMMJSVFBEV_DIV, #NUXUIBOQWB_DIV, #OKJRPOSCDO_DIV {overflow:hidden;}
#NRFKISPWKP, #UCCWMDWDFX {box-sizing : border-box;}
