.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:452px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:452px;z-index:0;width:784px;top:7px;left:8px;}
#DPKVLWHCIG {top:23px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#MTJDZQTEIR {top:23px;position:absolute;left:368px;height:20px;width:80px;text-align:right;z-index:1; }
#XURLGQZZMU {top:18px;position:absolute;left:696px;height:32px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:27px;position:absolute;left:232px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:27px;position:absolute;left:232px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:27px;position:absolute;left:232px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:27px;position:absolute;left:232px;}
#PTXYMSWBZO {top:18px;position:absolute;left:744px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:207px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:297px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:54px;position:absolute;left:16px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#SKFBXOWYKI_DIV {top:22px;position:absolute;left:461px;height:21px;width:230px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #SKFBXOWYKI_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #SKFBXOWYKI_DIV {box-sizing : border-box;}
