.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:126px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:126px;z-index:0;width:584px;top:7px;left:8px;}
#GEDJGVMCKZ {top:98px;position:absolute;left:488px;height:28px;width:40px;z-index:1;}
#AJXISNWTIP {top:98px;position:absolute;left:544px;height:28px;width:40px;z-index:1;}
#GZUTYTXNWO_DIV {top:14px;position:absolute;left:16px;height:21px;width:105px;overflow:hidden;white-space:nowrap;z-index:1; }
#WHZBZEFJJM_DIV {top:14px;position:absolute;left:176px;height:21px;width:152px;overflow:hidden;white-space:nowrap;z-index:1; }
#RKDVPIADNI_DIV {top:42px;position:absolute;left:16px;height:19px;width:227px;z-index:1; }
#RKDVPIADNI { vertical-align:middle; }
#XBCVOUVWLB {top:70px;position:absolute;left:136px;height:20px;width:108px;z-index:1; }
#XBCVOUVWLB_ZOOM { position:absolute;top:70px;left:245px;height:20px;width:17px;z-index:1;}
#EXOUNTZJEC_DIV {top:74px;position:absolute;left:16px;height:16px;width:120px;text-align:right;z-index:1;}
BODY:not([ettl]) #EXOUNTZJEC_DIV {top:74px;position:absolute;left:16px;height:16px;width:120px;}
BODY[ettl="old"] #EXOUNTZJEC_DIV {top:74px;position:absolute;left:16px;height:16px;width:120px;}
BODY[ettl="yes"] #EXOUNTZJEC_DIV {top:74px;position:absolute;left:16px;letter-spacing:-1px;}
#SAOLAFGSNJ_DIV {top:74px;position:absolute;left:272px;height:16px;width:312px;color:#0000FF;text-align:left;z-index:1;}
#NIKKLBPCLR_DIV {top:98px;position:absolute;left:16px;height:21px;width:143px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #GZUTYTXNWO_DIV, BODY[ettl="yes"] #WHZBZEFJJM_DIV, BODY[ettl="yes"] #NIKKLBPCLR_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #EXOUNTZJEC_DIV, #SAOLAFGSNJ_DIV {overflow:hidden;}
#TTRVXROIVP, #GZUTYTXNWO_DIV, #WHZBZEFJJM_DIV, #RKDVPIADNI_DIV, #XBCVOUVWLB, #NIKKLBPCLR_DIV {box-sizing : border-box;}
