.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:245px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:245px;z-index:0;width:792px;top:0px;left:0px;}
#FGMOCXNBFY_DIV {top:119px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#ZCSEKJZUCO { height:42px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:42px;z-index:0;width:792px;top:0px;left:0px;}
#VKDDBMFRDF_DIV {top:7px;position:absolute;left:16px;height:29px;width:760px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GEDJGVMCKZ {top:119px;position:absolute;left:360px;height:31px;width:40px;z-index:1;}
#AJXISNWTIP {top:119px;position:absolute;left:416px;height:31px;width:40px;z-index:1;}
#DMMJSVFBEV_DIV {top:49px;position:absolute;left:16px;height:29px;width:760px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#UCCWMDWDFX {top:91px;position:absolute;left:130px;height:20px;width:424px;z-index:1; }
#UCCWMDWDFX_ZOOM { position:absolute;top:91px;left:555px;height:20px;width:17px;z-index:1;}
#NUXUIBOQWB_DIV {top:95px;position:absolute;left:34px;height:16px;width:92px;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NUXUIBOQWB_DIV {top:95px;position:absolute;left:34px;height:16px;width:92px;}
BODY[ettl="old"] #NUXUIBOQWB_DIV {top:95px;position:absolute;left:34px;height:16px;width:92px;}
BODY[ettl="yes"] #NUXUIBOQWB_DIV {top:95px;position:absolute;left:34px;}
#DYMVKIQWCA {top:154px;position:absolute;left:8px;height:84px;width:776px;height:84px;right:0px;z-index:1;overflow:auto;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #DMMJSVFBEV_DIV, #NUXUIBOQWB_DIV {overflow:hidden;}
#NRFKISPWKP, #ZCSEKJZUCO, #UCCWMDWDFX {box-sizing : border-box;}
