.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
.TMQVCJOIVG_DIV { position:absolute;top:1px;left:8px;height:18px;width:80px;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
.NCBNLXUPJW_DIV { position:absolute;top:1px;left:8px;height:18px;width:80px;overflow:hidden;text-align:left;z-index:1;}
.VIKJFKDXAW_DIV { position:absolute;top:1px;left:96px;height:18px;width:176px;overflow:hidden;text-align:left;z-index:1;}
.YIZUNOKTNJ_DIV { position:absolute;top:1px;left:96px;height:18px;width:88px;text-align:left;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
.CBJEVNODON_DIV { position:absolute;top:1px;left:464px;height:18px;width:64px;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
.EFYPSROBIY_DIV { position:absolute;top:1px;left:280px;height:18px;width:80px;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
.SCNXNEEFIS_DIV { position:absolute;top:1px;left:280px;height:18px;width:80px;overflow:hidden;text-align:left;z-index:1;}
.SCYCPRTPSZ_DIV { position:absolute;top:1px;left:368px;height:18px;width:88px;overflow:hidden;text-align:center;z-index:1;}
.BWIBYLMICW_DIV { position:absolute;top:1px;left:368px;height:18px;width:88px;text-align:center;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
.LUNCPLBNZH_DIV { position:absolute;top:1px;left:464px;height:18px;width:64px;overflow:hidden;text-align:center;z-index:1;}
.TMQVCJOIVG_DIV, .YIZUNOKTNJ_DIV, .CBJEVNODON_DIV, .EFYPSROBIY_DIV, .BWIBYLMICW_DIV {overflow:hidden;}
