.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:108px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:relative;z-index:0;width:784px;left:8px;}
#XLVFHSOSYH_HEADER {width:784px;}
#CUDLEQEGMI { height:90px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#CUDLEQEGMI_DIV { position:relative;z-index:0;width:784px;left:8px;}
#CUDLEQEGMI_HEADER {width:784px;}
#DPKVLWHCIG {top:14px;position:absolute;left:143px;height:20px;width:80px;text-align:right;z-index:1; }
#MTJDZQTEIR {top:14px;position:absolute;left:359px;height:20px;width:80px;text-align:right;z-index:1; }
#XURLGQZZMU {top:9px;position:absolute;left:687px;height:32px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:18px;position:absolute;left:7px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:18px;position:absolute;left:7px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:18px;position:absolute;left:7px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:18px;position:absolute;left:7px;}
#BGHAITOPMU_DIV {top:18px;position:absolute;left:223px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:18px;position:absolute;left:223px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:18px;position:absolute;left:223px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:18px;position:absolute;left:223px;}
#PTXYMSWBZO {top:9px;position:absolute;left:735px;height:32px;width:40px;z-index:1;}
#JYMIKLSHHF_DIV {top:54px;position:absolute;left:175px;height:21px;width:268px;overflow:hidden;white-space:nowrap;z-index:1; }
#VYVILVMHVV_DIV {top:81px;position:absolute;left:175px;height:21px;width:360px;overflow:hidden;white-space:nowrap;z-index:1; }
#XFVQTXPEXL {top:9px;position:absolute;left:95px;height:20px;width:64px;z-index:1; }
#XFVQTXPEXL_ZOOM { position:absolute;top:9px;left:160px;height:20px;width:17px;z-index:1;}
#EFKLJNCNTE_DIV {top:13px;position:absolute;left:23px;height:16px;width:68px;text-align:right;z-index:1;}
BODY:not([ettl]) #EFKLJNCNTE_DIV {top:13px;position:absolute;left:23px;height:16px;width:68px;}
BODY[ettl="old"] #EFKLJNCNTE_DIV {top:13px;position:absolute;left:23px;height:16px;width:68px;}
BODY[ettl="yes"] #EFKLJNCNTE_DIV {top:13px;position:absolute;left:23px;letter-spacing:-1px;}
#LXTFLROIJK_DIV {top:13px;position:absolute;left:183px;height:16px;width:592px;color:#0000FF;text-align:left;z-index:1;}
#QBKRLPIIYW_DIV {top:40px;position:absolute;left:20px;height:16px;width:71px;text-align:right;z-index:1;}
BODY:not([ettl]) #QBKRLPIIYW_DIV {top:40px;position:absolute;left:20px;height:16px;width:71px;}
BODY[ettl="old"] #QBKRLPIIYW_DIV {top:40px;position:absolute;left:20px;height:16px;width:71px;}
BODY[ettl="yes"] #QBKRLPIIYW_DIV {top:40px;position:absolute;left:20px;letter-spacing:-1px;}
#OMBFBOBBRT {top:36px;position:absolute;left:95px;height:20px;width:128px;z-index:1; }
#NDAMLGOVAD {top:36px;position:absolute;left:495px;height:20px;width:280px;z-index:1; }
#NDAMLGOVAD { vertical-align:middle; }
#LYNFVXSMGJ_DIV {top:40px;position:absolute;left:383px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #LYNFVXSMGJ_DIV {top:40px;position:absolute;left:383px;height:16px;width:112px;}
BODY[ettl="old"] #LYNFVXSMGJ_DIV {top:40px;position:absolute;left:383px;height:16px;width:112px;}
BODY[ettl="yes"] #LYNFVXSMGJ_DIV {top:40px;position:absolute;left:383px;}
#CVSBJNRTYJ {top:63px;position:absolute;left:95px;height:20px;width:520px;z-index:1; }
#CVSBJNRTYJ { vertical-align:middle; }
#HCXYQMOIBV_DIV {top:67px;position:absolute;left:38px;height:16px;width:57px;text-align:right;z-index:1;}
BODY:not([ettl]) #HCXYQMOIBV_DIV {top:67px;position:absolute;left:38px;height:16px;width:57px;}
BODY[ettl="old"] #HCXYQMOIBV_DIV {top:67px;position:absolute;left:38px;height:16px;width:57px;}
BODY[ettl="yes"] #HCXYQMOIBV_DIV {top:67px;position:absolute;left:38px;letter-spacing:-1px;}
#OUWUVUCAPC { height:95px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#OUWUVUCAPC_DIV { position:relative;z-index:0;width:784px;left:8px;}
#OUWUVUCAPC_HEADER {width:784px;}
#DYMVKIQWCA {top:5px;position:absolute;left:11px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#FGMOCXNBFY_DIV {top:61px;position:absolute;left:663px;height:14px;width:88px;text-align:left;z-index:1;}
#RXPIEFSABT {top:9px;position:absolute;left:639px;height:32px;width:40px;z-index:1;}
BODY[ettl="yes"] #JYMIKLSHHF_DIV, BODY[ettl="yes"] #VYVILVMHVV_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #CUDLEQEGMI, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #EFKLJNCNTE_DIV, #LXTFLROIJK_DIV, #QBKRLPIIYW_DIV, #LYNFVXSMGJ_DIV, #HCXYQMOIBV_DIV, #OUWUVUCAPC, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #CUDLEQEGMI, #DPKVLWHCIG, #MTJDZQTEIR, #JYMIKLSHHF_DIV, #VYVILVMHVV_DIV, #XFVQTXPEXL, #OMBFBOBBRT, #NDAMLGOVAD, #CVSBJNRTYJ, #OUWUVUCAPC {box-sizing : border-box;}
