.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TFDCIULGCB { height:621px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#TFDCIULGCB_DIV { position:absolute;height:621px;z-index:0;width:784px;top:0px;left:0px;}
#ZKFMYNWIHS {top:9px;position:absolute;left:392px;height:20px;width:30px;text-align:right;z-index:1; }
#DDNRZXUWRD {top:36px;position:absolute;left:112px;height:20px;width:80px;text-align:right;z-index:1; }
#DDNRZXUWRD_ZOOM { position:absolute;top:36px;left:193px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:36px;position:absolute;left:328px;height:20px;width:80px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:36px;left:409px;height:20px;width:17px;z-index:1;}
#ASMWKJOELK { height:27px;background-color:#FFFFFF;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#ASMWKJOELK_DIV { position:absolute;height:27px;z-index:0;width:768px;top:66px;left:8px;}
#TLMOPHOHJY {top:5px;position:absolute;left:735px;height:31px;width:40px;z-index:1;}
#TGOMZOOVZW {top:5px;position:absolute;left:687px;height:31px;width:40px;z-index:1;}
#SEBDBFIOVZ_DIV {top:13px;position:absolute;left:8px;height:16px;width:374px;text-align:right;z-index:1;}
BODY:not([ettl]) #SEBDBFIOVZ_DIV {top:13px;position:absolute;left:8px;height:16px;width:374px;}
BODY[ettl="old"] #SEBDBFIOVZ_DIV {top:13px;position:absolute;left:8px;height:16px;width:374px;}
BODY[ettl="yes"] #SEBDBFIOVZ_DIV {top:13px;position:absolute;left:8px;}
#UTYOLNFMZP_DIV {top:72px;position:absolute;left:16px;text-align:center;z-index:1;}
BODY:not([ettl]) #UTYOLNFMZP_DIV {height:16px;width:744px;}
BODY[ettl="old"] #UTYOLNFMZP_DIV {height:16px;width:744px;}
#LEOXCMDAMB_DIV {top:40px;position:absolute;left:224px;height:16px;width:98px;text-align:right;z-index:1;}
BODY:not([ettl]) #LEOXCMDAMB_DIV {top:40px;position:absolute;left:224px;height:16px;width:98px;}
BODY[ettl="old"] #LEOXCMDAMB_DIV {top:40px;position:absolute;left:224px;height:16px;width:98px;}
BODY[ettl="yes"] #LEOXCMDAMB_DIV {top:40px;position:absolute;left:224px;letter-spacing:-1px;}
#RVMEWEGDFJ { height:79px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#RVMEWEGDFJ_DIV { position:absolute;height:79px;z-index:0;width:768px;top:98px;left:8px;}
#GOHLMIEYRI_DIV {top:105px;position:absolute;left:16px;height:68px;width:744px;text-align:center;z-index:1;}
#ANTONSWNXP { height:41px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#ANTONSWNXP_DIV { position:absolute;height:41px;z-index:0;width:768px;top:182px;left:8px;}
#EGLUZXVOLX_DIV {top:187px;position:absolute;left:16px;height:29px;width:744px;text-align:center;z-index:1;}
#FAFOJNJJXI_DIV {top:40px;position:absolute;left:8px;height:16px;width:103px;text-align:right;z-index:1;}
BODY:not([ettl]) #FAFOJNJJXI_DIV {top:40px;position:absolute;left:8px;height:16px;width:103px;}
BODY[ettl="old"] #FAFOJNJJXI_DIV {top:40px;position:absolute;left:8px;height:16px;width:103px;}
BODY[ettl="yes"] #FAFOJNJJXI_DIV {top:40px;position:absolute;left:8px;letter-spacing:-1px;}
#FIAJYROYOB_DIV {top:36px;position:absolute;left:528px;height:21px;width:236px;overflow:hidden;white-space:nowrap;z-index:1; }
#DYMVKIQWCA {top:372px;position:absolute;left:8px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:225px;position:absolute;left:8px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:459px;position:absolute;left:8px;height:153px;width:768px;text-align:left;z-index:1;}
#VMYAPKABSR {top:5px;position:absolute;left:637px;height:31px;width:40px;z-index:1;}
#ZOLEGJROAG {top:9px;position:absolute;left:432px;height:20px;width:66px;text-align:right;z-index:1; }
BODY[ettl="yes"] #UTYOLNFMZP_DIV, BODY[ettl="yes"] #FIAJYROYOB_DIV {letter-spacing:-1px;}
#TFDCIULGCB, #ASMWKJOELK, #SEBDBFIOVZ_DIV, #UTYOLNFMZP_DIV, #LEOXCMDAMB_DIV, #RVMEWEGDFJ, #GOHLMIEYRI_DIV, #ANTONSWNXP, #EGLUZXVOLX_DIV, #FAFOJNJJXI_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#TFDCIULGCB, #ZKFMYNWIHS, #DDNRZXUWRD, #DPKVLWHCIG, #ASMWKJOELK, #RVMEWEGDFJ, #ANTONSWNXP, #FIAJYROYOB_DIV, #ZOLEGJROAG {box-sizing : border-box;}
