.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#WQANLFSHKI { height:343px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#WQANLFSHKI_DIV { position:absolute;height:343px;z-index:0;width:776px;top:7px;left:8px;}
#WBBXZNSMTG {top:312px;position:absolute;left:408px;height:35px;width:40px;z-index:1;}
#OMQMTTPVQV {top:312px;position:absolute;left:344px;height:35px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:319px;position:absolute;left:24px;height:14px;width:280px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:221px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#PTWSIDIWHJ_DIV {top:21px;position:absolute;left:15px;height:16px;width:208px;text-align:right;z-index:1;}
BODY:not([ettl]) #PTWSIDIWHJ_DIV {top:21px;position:absolute;left:15px;height:16px;width:208px;}
BODY[ettl="old"] #PTWSIDIWHJ_DIV {top:21px;position:absolute;left:15px;height:16px;width:208px;}
BODY[ettl="yes"] #PTWSIDIWHJ_DIV {top:21px;position:absolute;left:15px;letter-spacing:-1px;}
#WRTPNXYBLS {top:18px;position:absolute;left:224px;height:20px;width:72px;text-align:right;z-index:1; }
#GFPAURJCGW_DIV {top:18px;position:absolute;left:344px;height:21px;width:145px;overflow:hidden;white-space:nowrap;z-index:1; }
#KQMKKBMXYE {top:70px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#ZOXRKECWBC_DIV {top:21px;position:absolute;left:536px;height:21px;width:200px;overflow:hidden;white-space:nowrap;z-index:1; }
#JTSMGKQWHI_DIV {top:42px;position:absolute;left:536px;height:21px;width:200px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #GFPAURJCGW_DIV, BODY[ettl="yes"] #ZOXRKECWBC_DIV, BODY[ettl="yes"] #JTSMGKQWHI_DIV {letter-spacing:-1px;}
#WQANLFSHKI, #FGMOCXNBFY_DIV, #PTWSIDIWHJ_DIV {overflow:hidden;}
#WQANLFSHKI, #WRTPNXYBLS, #GFPAURJCGW_DIV, #ZOXRKECWBC_DIV, #JTSMGKQWHI_DIV {box-sizing : border-box;}
