.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:648px;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:648px;z-index:0;width:784px;top:9px;left:8px;}
#UQFVYWSNYY {top:18px;position:absolute;left:144px;height:20px;width:70px;z-index:1; }
#UQFVYWSNYY_ZOOM { position:absolute;top:18px;left:215px;height:20px;width:17px;z-index:1;}
#HXBJUMEZIA {top:46px;position:absolute;left:144px;height:20px;width:70px;z-index:1; }
#HXBJUMEZIA_ZOOM { position:absolute;top:46px;left:215px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:72px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:72px;left:217px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:72px;position:absolute;left:360px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:72px;left:433px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:99px;position:absolute;left:144px;height:20px;width:94px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:99px;left:239px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:127px;position:absolute;left:144px;height:20px;width:94px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:127px;left:239px;height:20px;width:17px;z-index:1;}
#IZTCWGWJFN_DIV {top:171px;position:absolute;left:16px;height:66px;width:248px;z-index:1; }
#IZTCWGWJFN { vertical-align:middle;height:8pt; }
#LGLKGKWNEO_DIV {top:279px;position:absolute;left:496px;height:53px;width:181px;z-index:1; }
#LGLKGKWNEO { vertical-align:middle;height:8pt; }
#XURLGQZZMU {top:324px;position:absolute;left:344px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:324px;position:absolute;left:440px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;}
#PCILMATBXL_DIV {top:103px;position:absolute;left:80px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:103px;position:absolute;left:264px;height:16px;width:520px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:131px;position:absolute;left:80px;height:16px;width:61px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:80px;height:16px;width:61px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:80px;height:16px;width:61px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:131px;position:absolute;left:80px;}
#XCBBNKIAUV_DIV {top:131px;position:absolute;left:264px;height:16px;width:520px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JIVTSBWFAR_DIV {top:153px;position:absolute;left:8px;height:19px;width:680px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#JCIARNNFGA_DIV {top:279px;position:absolute;left:16px;height:53px;width:168px;z-index:1; }
#JCIARNNFGA { vertical-align:middle;height:8pt; }
#LKERTFTGKI_DIV {top:261px;position:absolute;left:16px;height:19px;width:192px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#CUCZSUVKBS_DIV {top:261px;position:absolute;left:496px;height:19px;width:176px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#ZWZOQIGZCX_DIV {top:22px;position:absolute;left:75px;height:16px;width:66px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#RXKVDVJPTZ_DIV {top:22px;position:absolute;left:240px;height:16px;width:544px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGOVXFIBXQ_DIV {top:50px;position:absolute;left:75px;height:16px;width:66px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:75px;height:16px;width:66px;}
BODY[ettl="old"] #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:75px;height:16px;width:66px;}
BODY[ettl="yes"] #BGOVXFIBXQ_DIV {top:50px;position:absolute;left:75px;}
#LNFAXDLCMF_DIV {top:50px;position:absolute;left:240px;height:16px;width:544px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FGMOCXNBFY_DIV {top:369px;position:absolute;left:16px;height:279px;width:768px;text-align:left;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #JIVTSBWFAR_DIV, #LKERTFTGKI_DIV, #CUCZSUVKBS_DIV, #ZWZOQIGZCX_DIV, #RXKVDVJPTZ_DIV, #BGOVXFIBXQ_DIV, #LNFAXDLCMF_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #UQFVYWSNYY, #HXBJUMEZIA, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR, #IZTCWGWJFN_DIV, #LGLKGKWNEO_DIV, #JCIARNNFGA_DIV {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
