.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:315px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:315px;z-index:0;width:776px;top:7px;left:8px;}
#MAYNQUHJSS {top:40px;position:absolute;left:359px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:40px;position:absolute;left:409px;z-index:1;clip:rect(0,42px,32px,0);}
#DYMVKIQWCA {top:226px;position:absolute;left:16px;height:91px;width:760px;height:91px;right:0px;z-index:1;overflow:auto;}
#QJYFRLEIBB {top:14px;position:absolute;left:128px;height:20px;width:48px;text-align:right;z-index:1; }
#QJBHNDQNQE_DIV {top:18px;position:absolute;left:33px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #QJBHNDQNQE_DIV {top:18px;position:absolute;left:33px;height:16px;width:95px;}
BODY[ettl="old"] #QJBHNDQNQE_DIV {top:18px;position:absolute;left:33px;height:16px;width:95px;}
BODY[ettl="yes"] #QJBHNDQNQE_DIV {top:18px;position:absolute;left:33px;letter-spacing:-1px;}
#HUEJGVANPJ_DIV {top:14px;position:absolute;left:720px;height:21px;width:48px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:77px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#VFFMUWZZJS, #QJBHNDQNQE_DIV, #HUEJGVANPJ_DIV {overflow:hidden;}
#VFFMUWZZJS, #QJYFRLEIBB {box-sizing : border-box;}
