.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:270px;background-color:#C0C0C0;border-width:1px;border-color:#808080;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:270px;z-index:0;width:776px;top:9px;left:8px;}
#ROZQLWLMOH {top:243px;position:absolute;left:376px;z-index:1;clip:rect(0,40px,32px,0);}
#FGMOCXNBFY_DIV {top:18px;position:absolute;left:752px;height:25px;width:21px;text-align:left;z-index:1;}
#TSMFJKNNPI_DIV {top:18px;position:absolute;left:16px;height:16px;width:141px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#RWYSXVADUD_DIV {top:45px;position:absolute;left:16px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#CENYIVTJCD_DIV {top:45px;position:absolute;left:176px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#CPLLFIWSVW_DIV {top:45px;position:absolute;left:336px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#JALETSSOWI_DIV {top:81px;position:absolute;left:16px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#YSMCMCPCUY_DIV {top:81px;position:absolute;left:176px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#IEUGAKXYTZ_DIV {top:45px;position:absolute;left:496px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#FMRRWRYWEQ_DIV {top:117px;position:absolute;left:16px;height:21px;width:136px;overflow:hidden;white-space:nowrap;z-index:1; }
#IRVRFIWCHD {top:117px;position:absolute;left:232px;height:20px;width:80px;text-align:right;z-index:1; }
#BQBTJCITDO_DIV {top:121px;position:absolute;left:163px;height:16px;width:69px;text-align:right;z-index:1;}
BODY:not([ettl]) #BQBTJCITDO_DIV {top:121px;position:absolute;left:163px;height:16px;width:69px;}
BODY[ettl="old"] #BQBTJCITDO_DIV {top:121px;position:absolute;left:163px;height:16px;width:69px;}
BODY[ettl="yes"] #BQBTJCITDO_DIV {top:121px;position:absolute;left:163px;letter-spacing:-1px;}
#SHFWFZUZAU {top:117px;position:absolute;left:448px;height:20px;width:80px;text-align:right;z-index:1; }
#ZUPQPKRXOU_DIV {top:121px;position:absolute;left:365px;height:16px;width:83px;text-align:right;z-index:1;}
BODY:not([ettl]) #ZUPQPKRXOU_DIV {top:121px;position:absolute;left:365px;height:16px;width:83px;}
BODY[ettl="old"] #ZUPQPKRXOU_DIV {top:121px;position:absolute;left:365px;height:16px;width:83px;}
BODY[ettl="yes"] #ZUPQPKRXOU_DIV {top:121px;position:absolute;left:365px;letter-spacing:-1px;}
#BBWGQILZDE {top:117px;position:absolute;left:672px;height:20px;width:80px;text-align:right;z-index:1; }
#HEDBPKUMXR_DIV {top:121px;position:absolute;left:581px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #HEDBPKUMXR_DIV {top:121px;position:absolute;left:581px;height:16px;width:91px;}
BODY[ettl="old"] #HEDBPKUMXR_DIV {top:121px;position:absolute;left:581px;height:16px;width:91px;}
BODY[ettl="yes"] #HEDBPKUMXR_DIV {top:121px;position:absolute;left:581px;letter-spacing:-1px;}
#DGCPENGASO {top:81px;position:absolute;left:672px;height:20px;width:80px;text-align:right;z-index:1; }
#DGCPENGASO_ZOOM { position:absolute;top:81px;left:753px;height:20px;width:17px;z-index:1;}
#JJDJMFKGFW_DIV {top:85px;position:absolute;left:552px;height:16px;width:120px;text-align:right;z-index:1;}
BODY:not([ettl]) #JJDJMFKGFW_DIV {top:85px;position:absolute;left:552px;height:16px;width:120px;}
BODY[ettl="old"] #JJDJMFKGFW_DIV {top:85px;position:absolute;left:552px;height:16px;width:120px;}
BODY[ettl="yes"] #JJDJMFKGFW_DIV {top:85px;position:absolute;left:552px;letter-spacing:-1px;}
#DYMVKIQWCA {top:153px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#YSDLBTYKKH_DIV {top:81px;position:absolute;left:336px;height:21px;width:104px;overflow:hidden;white-space:nowrap;z-index:1; }
#BXVKMROMSG {top:82px;position:absolute;left:440px;height:20px;width:80px;text-align:right;z-index:1; }
BODY[ettl="yes"] #RWYSXVADUD_DIV, BODY[ettl="yes"] #CENYIVTJCD_DIV, BODY[ettl="yes"] #CPLLFIWSVW_DIV, BODY[ettl="yes"] #JALETSSOWI_DIV, BODY[ettl="yes"] #YSMCMCPCUY_DIV, BODY[ettl="yes"] #FMRRWRYWEQ_DIV, BODY[ettl="yes"] #YSDLBTYKKH_DIV {letter-spacing:-1px;}
#IDIZVJSJFR, #FGMOCXNBFY_DIV, #TSMFJKNNPI_DIV, #BQBTJCITDO_DIV, #ZUPQPKRXOU_DIV, #HEDBPKUMXR_DIV, #JJDJMFKGFW_DIV {overflow:hidden;}
#IDIZVJSJFR, #RWYSXVADUD_DIV, #CENYIVTJCD_DIV, #CPLLFIWSVW_DIV, #JALETSSOWI_DIV, #YSMCMCPCUY_DIV, #IEUGAKXYTZ_DIV, #FMRRWRYWEQ_DIV, #IRVRFIWCHD, #SHFWFZUZAU, #BBWGQILZDE, #DGCPENGASO, #YSDLBTYKKH_DIV, #BXVKMROMSG {box-sizing : border-box;}
