.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:175px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:175px;z-index:0;width:776px;top:42px;left:0px;}
#FGMOCXNBFY_DIV {top:49px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#ZCSEKJZUCO { height:42px;background-color:#0000FF;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:42px;z-index:0;width:776px;top:0px;left:0px;}
#VKDDBMFRDF_DIV {top:7px;position:absolute;left:8px;height:29px;width:760px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ARPOSSWZCD {top:56px;position:absolute;left:128px;height:20px;width:40px;text-align:right;z-index:1; }
#FSXHJAAZGG {top:56px;position:absolute;left:520px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:60px;position:absolute;left:472px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:56px;position:absolute;left:688px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:60px;position:absolute;left:648px;height:16px;width:43px;text-align:left;z-index:1;}
#GEDJGVMCKZ {top:91px;position:absolute;left:672px;height:28px;width:40px;z-index:1;}
#AJXISNWTIP {top:91px;position:absolute;left:728px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:126px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#YSEECXVRFO_DIV {top:60px;position:absolute;left:16px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #YSEECXVRFO_DIV {top:60px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="old"] #YSEECXVRFO_DIV {top:60px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="yes"] #YSEECXVRFO_DIV {top:60px;position:absolute;left:16px;}
#AZVXWCAMFB {top:91px;position:absolute;left:616px;height:28px;width:40px;z-index:1;}
#JABYWGOJIQ {top:91px;position:absolute;left:560px;height:28px;width:40px;z-index:1;}
#JBOHPWAKFC_DIV {top:56px;position:absolute;left:248px;height:21px;width:139px;overflow:hidden;white-space:nowrap;z-index:1; }
#UXGCXAEXNI_DIV {top:91px;position:absolute;left:8px;height:21px;width:139px;overflow:hidden;white-space:nowrap;z-index:1; }
#DNHZZAJOTQ_DIV {top:91px;position:absolute;left:184px;height:21px;width:192px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #NOYEUIKFXN_DIV, BODY[ettl="yes"] #JBOHPWAKFC_DIV, BODY[ettl="yes"] #UXGCXAEXNI_DIV, BODY[ettl="yes"] #DNHZZAJOTQ_DIV {letter-spacing:-1px;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YSEECXVRFO_DIV {overflow:hidden;}
#NRFKISPWKP, #ZCSEKJZUCO, #ARPOSSWZCD, #FSXHJAAZGG, #CLVVMIYSQG, #JBOHPWAKFC_DIV, #UXGCXAEXNI_DIV, #DNHZZAJOTQ_DIV {box-sizing : border-box;}
