.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.CGJORROSRQ_DIV { position:absolute;top:1px;left:8px;height:16px;width:104px;overflow:hidden;text-align:left;z-index:1;}
.NKLQJWFSER_DIV { position:absolute;top:1px;left:120px;height:16px;width:160px;overflow:hidden;text-align:left;z-index:1;}
.KRLVDZKIGO_DIV { position:absolute;top:1px;left:8px;height:16px;width:69px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.YHZNGBQEWN_DIV { position:absolute;top:1px;left:288px;height:16px;width:304px;overflow:hidden;text-align:left;z-index:1;}
.CJPIHKQHYB_DIV { position:absolute;top:1px;left:120px;height:16px;width:256px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.OLOAJINOAY_DIV { position:absolute;top:1px;left:600px;height:16px;width:120px;overflow:hidden;text-align:left;z-index:1;}
.IMOMNXOPKV_DIV { position:absolute;top:1px;left:600px;height:16px;width:120px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.KRLVDZKIGO_DIV, .CJPIHKQHYB_DIV, .IMOMNXOPKV_DIV {overflow:hidden;}
