.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.PWCTHSFJFH_DIV { position:absolute;top:1px;left:56px;height:16px;width:96px;overflow:hidden;text-align:left;z-index:1;}
.UUKIAJLULH_DIV { position:absolute;top:1px;left:56px;height:16px;width:92px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.RGZCLGJAYL_DIV { position:absolute;top:1px;left:160px;height:16px;width:64px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.NLDPPLKMOK_DIV { position:absolute;top:1px;left:232px;height:16px;width:64px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.WYAYSYQOCA_DIV { position:absolute;top:1px;left:304px;height:16px;width:208px;overflow:hidden;text-align:left;z-index:1;}
.MHGPPLOWAG_DIV { position:absolute;top:1px;left:520px;height:16px;width:200px;overflow:hidden;text-align:left;z-index:1;}
.TPXCKMHEIY_DIV { position:absolute;top:1px;left:160px;height:16px;width:64px;overflow:hidden;text-align:left;z-index:1;}
.ZNXEVWIYPS_DIV { position:absolute;top:1px;left:232px;height:16px;width:64px;overflow:hidden;text-align:left;z-index:1;}
.TFECDFTYBB_DIV { position:absolute;top:1px;left:304px;height:16px;width:80px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.QXAANNZVAY_DIV { position:absolute;top:1px;left:520px;height:16px;width:87px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.XZUXXWWVEZ { position:absolute;top:1px;left:8px;z-index:1;clip:rect(0,16px,16px,0);}
.AWKKPZGIBE { position:absolute;top:1px;left:32px;z-index:1;clip:rect(0,16px,16px,0);}
.UUKIAJLULH_DIV, .RGZCLGJAYL_DIV, .NLDPPLKMOK_DIV, .TFECDFTYBB_DIV, .QXAANNZVAY_DIV {overflow:hidden;}
