.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:525px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:525px;z-index:0;width:776px;top:7px;left:8px;}
#FCREPJBLHG {top:16px;position:absolute;left:128px;height:20px;width:78px;z-index:1; }
#FCREPJBLHG_ZOOM { position:absolute;top:16px;left:207px;height:20px;width:17px;z-index:1;}
#RCFVSQQCNU {top:42px;position:absolute;left:128px;height:20px;width:456px;z-index:1; }
#RCFVSQQCNU { vertical-align:middle; }
#XDDAQAOUYZ_DIV {top:133px;position:absolute;left:16px;height:70px;width:760px;color:#FF0000;background-color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
#QNPCFVUZVQ {top:217px;position:absolute;left:413px;height:20px;width:72px;z-index:1; }
#QFCHQSUGEZ {top:259px;position:absolute;left:416px;height:25px;width:72px;z-index:1;}
#PMDUYENKWL_DIV {top:20px;position:absolute;left:24px;height:16px;width:103px;text-align:right;z-index:1;}
BODY:not([ettl]) #PMDUYENKWL_DIV {top:20px;position:absolute;left:24px;height:16px;width:103px;}
BODY[ettl="old"] #PMDUYENKWL_DIV {top:20px;position:absolute;left:24px;height:16px;width:103px;}
BODY[ettl="yes"] #PMDUYENKWL_DIV {top:20px;position:absolute;left:24px;letter-spacing:-1px;}
#UWBJTJCNUU_DIV {top:20px;position:absolute;left:232px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#CCVJTGYXIP_DIV {top:46px;position:absolute;left:36px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #CCVJTGYXIP_DIV {top:46px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="old"] #CCVJTGYXIP_DIV {top:46px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="yes"] #CCVJTGYXIP_DIV {top:46px;position:absolute;left:36px;letter-spacing:-1px;}
#NLESICXZOP {top:259px;position:absolute;left:320px;height:25px;width:72px;z-index:1;}
#FGMOCXNBFY_DIV {top:10px;position:absolute;left:11px;height:18px;width:16px;text-align:left;z-index:1;}
#DLRFQQQDLC {top:173px;position:absolute;left:192px;height:20px;width:80px;text-align:right;z-index:1; }
#GHIYIETBUO_DIV {top:177px;position:absolute;left:100px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #GHIYIETBUO_DIV {top:177px;position:absolute;left:100px;height:16px;width:91px;}
BODY[ettl="old"] #GHIYIETBUO_DIV {top:177px;position:absolute;left:100px;height:16px;width:91px;}
BODY[ettl="yes"] #GHIYIETBUO_DIV {top:177px;position:absolute;left:100px;}
#OCYGBFBZCL {top:175px;position:absolute;left:576px;height:20px;width:80px;text-align:right;z-index:1; }
#RZXIQFFVYD_DIV {top:179px;position:absolute;left:484px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #RZXIQFFVYD_DIV {top:179px;position:absolute;left:484px;height:16px;width:91px;}
BODY[ettl="old"] #RZXIQFFVYD_DIV {top:179px;position:absolute;left:484px;height:16px;width:91px;}
BODY[ettl="yes"] #RZXIQFFVYD_DIV {top:179px;position:absolute;left:484px;}
#DKFQPXXFTU_DIV {top:221px;position:absolute;left:317px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #DKFQPXXFTU_DIV {top:221px;position:absolute;left:317px;height:16px;width:91px;}
BODY[ettl="old"] #DKFQPXXFTU_DIV {top:221px;position:absolute;left:317px;height:16px;width:91px;}
BODY[ettl="yes"] #DKFQPXXFTU_DIV {top:221px;position:absolute;left:317px;letter-spacing:-1px;}
#TYQOYPNNDW {top:70px;position:absolute;left:128px;height:20px;width:216px;z-index:1; }
#TYQOYPNNDW { vertical-align:middle; }
#KZSIFKEGCK_DIV {top:74px;position:absolute;left:36px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #KZSIFKEGCK_DIV {top:74px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="old"] #KZSIFKEGCK_DIV {top:74px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="yes"] #KZSIFKEGCK_DIV {top:74px;position:absolute;left:36px;letter-spacing:-1px;}
#BHRJFGYNWO_DIV {top:70px;position:absolute;left:352px;height:21px;width:240px;overflow:hidden;white-space:nowrap;z-index:1; }
#QNMKJLGOKW {top:98px;position:absolute;left:128px;height:20px;width:240px;z-index:1; }
#QNMKJLGOKW { vertical-align:middle; }
#DYMVKIQWCA {top:441px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:287px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
BODY[ettl="yes"] #BHRJFGYNWO_DIV {letter-spacing:-1px;}
#VFFMUWZZJS, #XDDAQAOUYZ_DIV, #PMDUYENKWL_DIV, #UWBJTJCNUU_DIV, #CCVJTGYXIP_DIV, #FGMOCXNBFY_DIV, #GHIYIETBUO_DIV, #RZXIQFFVYD_DIV, #DKFQPXXFTU_DIV, #KZSIFKEGCK_DIV {overflow:hidden;}
#VFFMUWZZJS, #FCREPJBLHG, #RCFVSQQCNU, #QNPCFVUZVQ, #DLRFQQQDLC, #OCYGBFBZCL, #TYQOYPNNDW, #BHRJFGYNWO_DIV, #QNMKJLGOKW {box-sizing : border-box;}
