.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:70px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:70px;z-index:0;width:800px;top:0px;left:0px;}
#WIRRRKLEWO_DIV {top:14px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#NJQSNRJAXM_DIV {top:17px;position:absolute;left:16px;height:16px;width:65px;text-align:right;z-index:1;}
BODY:not([ettl]) #NJQSNRJAXM_DIV {top:17px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="old"] #NJQSNRJAXM_DIV {top:17px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="yes"] #NJQSNRJAXM_DIV {top:17px;position:absolute;left:16px;letter-spacing:-1px;}
#JAKNEJNBKZ_DIV {top:35px;position:absolute;left:88px;height:21px;width:156px;overflow:hidden;white-space:nowrap;z-index:1; }
#RQAECCWOBF_DIV {top:14px;position:absolute;left:288px;height:19px;width:161px;z-index:1; }
#RQAECCWOBF { vertical-align:middle; }
#FLFHSXPWZI {top:28px;position:absolute;left:704px;height:30px;width:40px;z-index:1;}
#VRHQBWKFPP {top:28px;position:absolute;left:656px;height:30px;width:40px;z-index:1;}
#HDSXZTLKVK {top:28px;position:absolute;left:608px;height:30px;width:40px;z-index:1;}
#ZWTNEMXOFQ {top:28px;position:absolute;left:560px;height:30px;width:40px;z-index:1;}
#FCATLNLMSB {top:28px;position:absolute;left:512px;height:30px;width:40px;z-index:1;}
#PTXYMSWBZO {top:28px;position:absolute;left:752px;z-index:1;clip:rect(0,40px,30px,0);}
.YDQCTHKKQK_DIV { position:absolute;top:3px;left:8px;height:16px;width:128px;overflow:hidden;text-align:left;z-index:1;}
.SNJMSNTMRK_DIV { position:absolute;top:3px;left:144px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.BWGBGJOALI_DIV { position:absolute;top:3px;left:224px;height:16px;width:48px;overflow:hidden;text-align:left;z-index:1;}
.ORXETWTLRF_DIV { position:absolute;top:3px;left:280px;height:16px;width:248px;overflow:hidden;text-align:left;z-index:1;}
.KDKDULGISN_DIV { position:absolute;top:1px;left:536px;height:21px;width:67px;z-index:1; }
.PTADQANBXD_DIV { position:absolute;top:1px;left:8px;height:16px;width:80px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.CZUHROMQZB_DIV { position:absolute;top:1px;left:144px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.REIDMAKUJF_DIV { position:absolute;top:1px;left:224px;height:16px;width:48px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.LOXDFNNHHV_DIV { position:absolute;top:1px;left:280px;height:16px;width:48px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY[ettl="yes"] #JAKNEJNBKZ_DIV, BODY[ettl="yes"] .KDKDULGISN_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #NJQSNRJAXM_DIV, .PTADQANBXD_DIV, .CZUHROMQZB_DIV, .REIDMAKUJF_DIV, .LOXDFNNHHV_DIV {overflow:hidden;}
#YWGFSYCMOZ, #WIRRRKLEWO_DIV, #JAKNEJNBKZ_DIV, #RQAECCWOBF_DIV, .KDKDULGISN_DIV {box-sizing : border-box;}
