.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:245px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:245px;z-index:0;width:784px;top:7px;left:8px;}
#FGMOCXNBFY_DIV {top:49px;position:absolute;left:432px;height:14px;width:56px;text-align:left;z-index:1;}
#DMMJSVFBEV_DIV {top:8px;position:absolute;left:9px;height:16px;width:782px;color:#008000;background-color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GTMJENMCMN {top:49px;position:absolute;left:55px;height:20px;width:36px;text-align:right;z-index:1; }
#TCZMCNHUFI {top:49px;position:absolute;left:135px;height:20px;width:112px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#ALQVOOWZEV {top:28px;position:absolute;left:520px;height:56px;width:264px;z-index:1;}
#FSXHJAAZGG {top:35px;position:absolute;left:311px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:39px;position:absolute;left:263px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:39px;position:absolute;left:263px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:39px;position:absolute;left:263px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:39px;position:absolute;left:263px;letter-spacing:-1px;}
#CLVVMIYSQG {top:63px;position:absolute;left:311px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:67px;position:absolute;left:263px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:67px;position:absolute;left:263px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:67px;position:absolute;left:263px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:67px;position:absolute;left:263px;}
#AJXISNWTIP {top:112px;position:absolute;left:744px;height:28px;width:40px;z-index:1;}
#YIXZTOKOBR_DIV {top:53px;position:absolute;left:22px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:53px;position:absolute;left:22px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:53px;position:absolute;left:22px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:53px;position:absolute;left:22px;letter-spacing:-1px;}
#TTKGEZTDBH_DIV {top:53px;position:absolute;left:102px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #TTKGEZTDBH_DIV {top:53px;position:absolute;left:102px;height:16px;width:29px;}
BODY[ettl="old"] #TTKGEZTDBH_DIV {top:53px;position:absolute;left:102px;height:16px;width:29px;}
BODY[ettl="yes"] #TTKGEZTDBH_DIV {top:53px;position:absolute;left:102px;letter-spacing:-1px;}
#JBNBDKBIAJ {top:112px;position:absolute;left:696px;height:28px;width:40px;z-index:1;}
#MPCMAMHQST {top:112px;position:absolute;left:648px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:161px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#HXKWFJUKYF_DIV {top:91px;position:absolute;left:56px;height:21px;width:143px;overflow:hidden;white-space:nowrap;z-index:1; }
#FPCAMDEOBC_DIV {top:112px;position:absolute;left:56px;height:21px;width:143px;overflow:hidden;white-space:nowrap;z-index:1; }
#ZIYTFHOZPJ_DIV {top:133px;position:absolute;left:56px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #HXKWFJUKYF_DIV, BODY[ettl="yes"] #FPCAMDEOBC_DIV, BODY[ettl="yes"] #ZIYTFHOZPJ_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #FGMOCXNBFY_DIV, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YIXZTOKOBR_DIV, #TTKGEZTDBH_DIV {overflow:hidden;}
#TTRVXROIVP, #GTMJENMCMN, #TCZMCNHUFI, #FSXHJAAZGG, #CLVVMIYSQG, #HXKWFJUKYF_DIV, #FPCAMDEOBC_DIV, #ZIYTFHOZPJ_DIV {box-sizing : border-box;}
