.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UQFVYWSNYY {top:36px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#UQFVYWSNYY_ZOOM { position:absolute;top:36px;left:239px;height:20px;width:17px;z-index:1;}
#HXBJUMEZIA {top:64px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#HXBJUMEZIA_ZOOM { position:absolute;top:64px;left:239px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:90px;position:absolute;left:168px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:90px;left:241px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:90px;position:absolute;left:384px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:90px;left:457px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:117px;position:absolute;left:168px;height:20px;width:94px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:117px;left:263px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:145px;position:absolute;left:168px;height:20px;width:94px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:145px;left:263px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:415px;position:absolute;left:346px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:415px;position:absolute;left:394px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;}
#BGHAITOPMU_DIV {top:94px;position:absolute;left:256px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:94px;position:absolute;left:256px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:94px;position:absolute;left:256px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:94px;position:absolute;left:256px;}
#PCILMATBXL_DIV {top:121px;position:absolute;left:104px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:121px;position:absolute;left:288px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:149px;position:absolute;left:104px;height:16px;width:61px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:149px;position:absolute;left:104px;height:16px;width:61px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:149px;position:absolute;left:104px;height:16px;width:61px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:149px;position:absolute;left:104px;}
#XCBBNKIAUV_DIV {top:149px;position:absolute;left:288px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="old"] #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="yes"] #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;}
#RXKVDVJPTZ_DIV {top:40px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGOVXFIBXQ_DIV {top:68px;position:absolute;left:16px;height:16px;width:149px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:16px;height:16px;width:149px;}
BODY[ettl="old"] #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:16px;height:16px;width:149px;}
BODY[ettl="yes"] #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:16px;}
#LNFAXDLCMF_DIV {top:68px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DYMVKIQWCA {top:324px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:171px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#FGMOCXNBFY_DIV {top:423px;position:absolute;left:616px;height:14px;width:88px;text-align:left;z-index:1;}
#IDBBKLYUJD {top:9px;position:absolute;left:168px;height:20px;width:188px;z-index:1; }
#IDBBKLYUJD { vertical-align:middle; }
#JKOUFWCMIT_DIV {top:13px;position:absolute;left:56px;height:16px;width:109px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JKOUFWCMIT_DIV {top:13px;position:absolute;left:56px;height:16px;width:109px;}
BODY[ettl="old"] #JKOUFWCMIT_DIV {top:13px;position:absolute;left:56px;height:16px;width:109px;}
BODY[ettl="yes"] #JKOUFWCMIT_DIV {top:13px;position:absolute;left:56px;}
#HLPOJCMBVW {top:414px;position:absolute;left:480px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #ZWZOQIGZCX_DIV, #RXKVDVJPTZ_DIV, #BGOVXFIBXQ_DIV, #LNFAXDLCMF_DIV, #FGMOCXNBFY_DIV, #JKOUFWCMIT_DIV {overflow:hidden;}
#UQFVYWSNYY, #HXBJUMEZIA, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR, #IDBBKLYUJD {box-sizing : border-box;}
