.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:252px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:252px;z-index:0;width:784px;top:7px;left:8px;}
#FGMOCXNBFY_DIV {top:98px;position:absolute;left:456px;height:21px;width:104px;text-align:left;z-index:1;}
#DMMJSVFBEV_DIV {top:7px;position:absolute;left:8px;height:17px;width:784px;color:#008000;background-color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GTMJENMCMN {top:57px;position:absolute;left:56px;height:20px;width:36px;text-align:right;z-index:1; }
#TCZMCNHUFI {top:57px;position:absolute;left:136px;height:20px;width:112px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#NMNMXABGKO {top:50px;position:absolute;left:521px;height:28px;width:264px;z-index:1;}
#FSXHJAAZGG {top:43px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:47px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:47px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:47px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:47px;position:absolute;left:264px;letter-spacing:-1px;}
#CLVVMIYSQG {top:71px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:75px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:75px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:75px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:75px;position:absolute;left:264px;}
#AJXISNWTIP {top:99px;position:absolute;left:744px;height:28px;width:40px;z-index:1;}
#ZCSEKJZUCO { height:28px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:28px;z-index:0;width:768px;top:135px;left:16px;}
#VKDDBMFRDF_DIV {top:141px;position:absolute;left:24px;height:16px;width:752px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#YIXZTOKOBR_DIV {top:61px;position:absolute;left:23px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:61px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:61px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:61px;position:absolute;left:23px;letter-spacing:-1px;}
#TTKGEZTDBH_DIV {top:61px;position:absolute;left:103px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #TTKGEZTDBH_DIV {top:61px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="old"] #TTKGEZTDBH_DIV {top:61px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="yes"] #TTKGEZTDBH_DIV {top:61px;position:absolute;left:103px;letter-spacing:-1px;}
#JBNBDKBIAJ {top:99px;position:absolute;left:696px;height:28px;width:40px;z-index:1;}
#MPCMAMHQST {top:99px;position:absolute;left:648px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:170px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#QSCZHDCMTE {top:99px;position:absolute;left:136px;height:20px;width:240px;z-index:1; }
#QSCZHDCMTE { vertical-align:middle; }
#HZEUQGYLEE_DIV {top:103px;position:absolute;left:80px;height:16px;width:56px;text-align:right;z-index:1;}
BODY:not([ettl]) #HZEUQGYLEE_DIV {top:103px;position:absolute;left:80px;height:16px;width:56px;}
BODY[ettl="old"] #HZEUQGYLEE_DIV {top:103px;position:absolute;left:80px;height:16px;width:56px;}
BODY[ettl="yes"] #HZEUQGYLEE_DIV {top:103px;position:absolute;left:80px;letter-spacing:-1px;}
#TTRVXROIVP, #FGMOCXNBFY_DIV, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #YIXZTOKOBR_DIV, #TTKGEZTDBH_DIV, #HZEUQGYLEE_DIV {overflow:hidden;}
#TTRVXROIVP, #GTMJENMCMN, #TCZMCNHUFI, #FSXHJAAZGG, #CLVVMIYSQG, #ZCSEKJZUCO, #QSCZHDCMTE {box-sizing : border-box;}
