.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.CGJORROSRQ_DIV { position:absolute;top:1px;left:8px;height:16px;width:152px;overflow:hidden;text-align:left;z-index:1;}
.NKLQJWFSER_DIV { position:absolute;top:1px;left:169px;height:16px;width:328px;overflow:hidden;text-align:left;z-index:1;}
.KRLVDZKIGO_DIV { position:absolute;top:1px;left:8px;height:16px;width:146px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.OLOAJINOAY_DIV { position:absolute;top:1px;left:505px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.PYVNTRAIBH_DIV { position:absolute;top:1px;left:505px;height:16px;width:71px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.SZDHRCOJST_DIV { position:absolute;top:1px;left:587px;height:16px;width:90px;overflow:hidden;text-align:left;z-index:1;}
.KRLVDZKIGO_DIV, .PYVNTRAIBH_DIV {overflow:hidden;}
