.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:455px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:relative;z-index:0;width:784px;left:0px;}
#NRFKISPWKP_HEADER {width:784px;}
#ARPOSSWZCD {top:14px;position:absolute;left:127px;height:20px;width:40px;text-align:right;z-index:1; }
#FSXHJAAZGG {top:14px;position:absolute;left:263px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:18px;position:absolute;left:215px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:14px;position:absolute;left:431px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:18px;position:absolute;left:391px;height:16px;width:43px;text-align:left;z-index:1;}
#AJXISNWTIP {top:7px;position:absolute;left:727px;height:32px;width:40px;z-index:1;}
#YSEECXVRFO_DIV {top:18px;position:absolute;left:15px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #YSEECXVRFO_DIV {top:18px;position:absolute;left:15px;height:16px;width:112px;}
BODY[ettl="old"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:15px;height:16px;width:112px;}
BODY[ettl="yes"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:15px;}
#DYMVKIQWCA {top:202px;position:absolute;left:7px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:49px;position:absolute;left:7px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:294px;position:absolute;left:7px;height:153px;width:768px;text-align:left;z-index:1;}
#XURLGQZZMU {top:7px;position:absolute;left:671px;height:32px;width:40px;z-index:1;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {letter-spacing:-1px;}
#NRFKISPWKP, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YSEECXVRFO_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#NRFKISPWKP, #ARPOSSWZCD, #FSXHJAAZGG, #CLVVMIYSQG {box-sizing : border-box;}
