.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:63px;z-index:0;width:800px;top:0px;left:0px;}
#RROILCAWGO {top:9px;position:absolute;left:704px;height:30px;width:40px;z-index:1;}
#HDSXZTLKVK {top:9px;position:absolute;left:656px;height:30px;width:40px;z-index:1;}
#ZWTNEMXOFQ {top:9px;position:absolute;left:608px;height:30px;width:40px;z-index:1;}
#FCATLNLMSB {top:9px;position:absolute;left:560px;height:30px;width:40px;z-index:1;}
.WEZTJDRFCK_DIV { position:absolute;top:3px;left:8px;height:16px;width:184px;overflow:hidden;text-align:left;z-index:1;}
.SAWHPQDSMR_DIV { position:absolute;top:3px;left:200px;height:16px;width:320px;overflow:hidden;text-align:left;z-index:1;}
.BHCCADUOZN_DIV { position:absolute;top:1px;left:544px;height:21px;width:83px;z-index:1; }
.LGHPFZJHVC_DIV { position:absolute;top:5px;left:8px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.YEWLTYBCCV_DIV { position:absolute;top:5px;left:200px;height:16px;width:74px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#IIJDTQKPBX {top:9px;position:absolute;left:752px;height:30px;width:40px;z-index:1;}
#EDVZEHEPWR {top:9px;position:absolute;left:112px;height:20px;width:66px;text-align:right;z-index:1; }
#EDVZEHEPWR_ZOOM { position:absolute;top:9px;left:179px;height:20px;width:17px;z-index:1;}
#BRAPIEKOMS_DIV {top:13px;position:absolute;left:16px;height:16px;width:96px;text-align:right;z-index:1;}
BODY:not([ettl]) #BRAPIEKOMS_DIV {top:13px;position:absolute;left:16px;height:16px;width:96px;}
BODY[ettl="old"] #BRAPIEKOMS_DIV {top:13px;position:absolute;left:16px;height:16px;width:96px;}
BODY[ettl="yes"] #BRAPIEKOMS_DIV {top:13px;position:absolute;left:16px;}
#VRUVGWMMYE_DIV {top:13px;position:absolute;left:208px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #VRUVGWMMYE_DIV {top:13px;position:absolute;left:208px;height:16px;width:112px;}
BODY[ettl="old"] #VRUVGWMMYE_DIV {top:13px;position:absolute;left:208px;height:16px;width:112px;}
BODY[ettl="yes"] #VRUVGWMMYE_DIV {top:13px;position:absolute;left:208px;}
#MZRZWUCOCZ {top:9px;position:absolute;left:320px;height:20px;width:66px;text-align:right;z-index:1; }
#MZRZWUCOCZ_ZOOM { position:absolute;top:9px;left:387px;height:20px;width:17px;z-index:1;}
#OWENYZRHAH {top:36px;position:absolute;left:112px;height:20px;width:38px;z-index:1; }
#OWENYZRHAH_ZOOM { position:absolute;top:36px;left:151px;height:20px;width:17px;z-index:1;}
#SCFTKMRNAF_DIV {top:40px;position:absolute;left:16px;height:16px;width:96px;text-align:right;z-index:1;}
BODY:not([ettl]) #SCFTKMRNAF_DIV {top:40px;position:absolute;left:16px;height:16px;width:96px;}
BODY[ettl="old"] #SCFTKMRNAF_DIV {top:40px;position:absolute;left:16px;height:16px;width:96px;}
BODY[ettl="yes"] #SCFTKMRNAF_DIV {top:40px;position:absolute;left:16px;}
#PODSUGNDQG_DIV {top:40px;position:absolute;left:176px;height:16px;width:368px;color:#0000FF;text-align:left;z-index:1;}
BODY[ettl="yes"] .BHCCADUOZN_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, .LGHPFZJHVC_DIV, .YEWLTYBCCV_DIV, #BRAPIEKOMS_DIV, #VRUVGWMMYE_DIV, #SCFTKMRNAF_DIV, #PODSUGNDQG_DIV {overflow:hidden;}
#XLVFHSOSYH, .BHCCADUOZN_DIV, #EDVZEHEPWR, #MZRZWUCOCZ, #OWENYZRHAH {box-sizing : border-box;}
