.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#808080;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:171px;z-index:0;width:776px;top:9px;left:8px;}
#SSRCOAMDBL_DIV {top:18px;position:absolute;left:16px;height:117px;width:760px;text-align:left;z-index:1;}
#ROZQLWLMOH {top:144px;position:absolute;left:376px;z-index:1;clip:rect(0,40px,32px,0);}
#FGMOCXNBFY_DIV {top:144px;position:absolute;left:16px;height:25px;width:21px;text-align:left;z-index:1;}
#IDIZVJSJFR, #SSRCOAMDBL_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#IDIZVJSJFR {box-sizing : border-box;}
