.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YPYMOEKGTF { height:216px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#YPYMOEKGTF_DIV { position:absolute;height:216px;z-index:0;width:784px;top:9px;left:8px;}
#UYVYTEMEXX {top:18px;position:absolute;left:128px;height:20px;width:162px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:18px;left:291px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:45px;position:absolute;left:128px;height:20px;width:162px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:45px;left:291px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:189px;position:absolute;left:688px;height:32px;width:40px;z-index:1;}
#PCILMATBXL_DIV {top:22px;position:absolute;left:51px;height:16px;width:74px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:22px;position:absolute;left:51px;height:16px;width:74px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:22px;position:absolute;left:51px;height:16px;width:74px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:22px;position:absolute;left:51px;}
#VXJAZUGUIO_DIV {top:20px;position:absolute;left:314px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:49px;position:absolute;left:58px;height:16px;width:67px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:58px;height:16px;width:67px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:58px;height:16px;width:67px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:58px;}
#XCBBNKIAUV_DIV {top:47px;position:absolute;left:314px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#RPFMUWVENA {top:189px;position:absolute;left:744px;height:32px;width:40px;z-index:1;}
#NGVOZRVMWR_DIV {top:76px;position:absolute;left:16px;height:16px;width:109px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NGVOZRVMWR_DIV {top:76px;position:absolute;left:16px;height:16px;width:109px;}
BODY[ettl="old"] #NGVOZRVMWR_DIV {top:76px;position:absolute;left:16px;height:16px;width:109px;}
BODY[ettl="yes"] #NGVOZRVMWR_DIV {top:76px;position:absolute;left:16px;}
#AITVTFTATA {top:72px;position:absolute;left:128px;height:20px;width:66px;text-align:right;z-index:1; }
#AITVTFTATA_ZOOM { position:absolute;top:72px;left:195px;height:20px;width:17px;z-index:1;}
#KGOPKMFAZV {top:99px;position:absolute;left:128px;height:20px;width:66px;text-align:right;z-index:1; }
#KGOPKMFAZV_ZOOM { position:absolute;top:99px;left:195px;height:20px;width:17px;z-index:1;}
#QAFQSIPUBY { height:81px;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#QAFQSIPUBY_DIV { position:absolute;height:81px;z-index:0;width:184px;top:135px;left:16px;}
#EIKNNNXYRB_DIV {top:135px;position:absolute;left:16px;height:19px;width:184px;color:#408040;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#HOUDAUAIJN_DIV {top:162px;position:absolute;left:24px;height:45px;width:168px;z-index:1; }
#HOUDAUAIJN { vertical-align:middle;height:8pt; }
#IAKDALUCLJ_DIV {top:103px;position:absolute;left:16px;height:16px;width:109px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #IAKDALUCLJ_DIV {top:103px;position:absolute;left:16px;height:16px;width:109px;}
BODY[ettl="old"] #IAKDALUCLJ_DIV {top:103px;position:absolute;left:16px;height:16px;width:109px;}
BODY[ettl="yes"] #IAKDALUCLJ_DIV {top:103px;position:absolute;left:16px;}
#WJNEQXIEJK_DIV {top:76px;position:absolute;left:280px;height:16px;width:109px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WJNEQXIEJK_DIV {top:76px;position:absolute;left:280px;height:16px;width:109px;}
BODY[ettl="old"] #WJNEQXIEJK_DIV {top:76px;position:absolute;left:280px;height:16px;width:109px;}
BODY[ettl="yes"] #WJNEQXIEJK_DIV {top:76px;position:absolute;left:280px;}
#QXLZEAPPUS {top:72px;position:absolute;left:392px;height:20px;width:66px;text-align:right;z-index:1; }
#QXLZEAPPUS_ZOOM { position:absolute;top:72px;left:459px;height:20px;width:17px;z-index:1;}
#FZWKNFCNEV {top:99px;position:absolute;left:392px;height:20px;width:66px;text-align:right;z-index:1; }
#FZWKNFCNEV_ZOOM { position:absolute;top:99px;left:459px;height:20px;width:17px;z-index:1;}
#RUTZMAZNEP_DIV {top:103px;position:absolute;left:280px;height:16px;width:109px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #RUTZMAZNEP_DIV {top:103px;position:absolute;left:280px;height:16px;width:109px;}
BODY[ettl="old"] #RUTZMAZNEP_DIV {top:103px;position:absolute;left:280px;height:16px;width:109px;}
BODY[ettl="yes"] #RUTZMAZNEP_DIV {top:103px;position:absolute;left:280px;}
#YPYMOEKGTF, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #NGVOZRVMWR_DIV, #QAFQSIPUBY, #EIKNNNXYRB_DIV, #IAKDALUCLJ_DIV, #WJNEQXIEJK_DIV, #RUTZMAZNEP_DIV {overflow:hidden;}
#YPYMOEKGTF, #UYVYTEMEXX, #CJWUHWULAR, #AITVTFTATA, #KGOPKMFAZV, #QAFQSIPUBY, #HOUDAUAIJN_DIV, #QXLZEAPPUS, #FZWKNFCNEV {box-sizing : border-box;}
