.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VNVLSGNNNC { height:385px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VNVLSGNNNC_DIV { position:absolute;height:385px;z-index:0;width:776px;top:0px;left:0px;}
#VTJSPEZJHG_DIV {top:35px;position:absolute;left:244px;height:35px;width:288px;z-index:1; }
#VTJSPEZJHG { vertical-align:middle;height:8pt; }
#FGMOCXNBFY_DIV {top:96px;position:absolute;left:344px;height:9px;width:8px;text-align:left;z-index:1;}
#AINWJHQDUA {top:77px;position:absolute;left:268px;height:25px;width:240px;z-index:1;}
#NQQVQXPTXC_DIV {top:0px;position:absolute;left:-8px;height:19px;width:792px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#IDJTJNNMJB {top:116px;position:absolute;left:298px;height:25px;width:181px;z-index:1;}
#DYMVKIQWCA {top:298px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:147px;position:absolute;left:8px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#DUNRRHVMQA_DIV {top:14px;position:absolute;left:672px;height:14px;width:88px;text-align:left;z-index:1;}
#VNVLSGNNNC, #FGMOCXNBFY_DIV, #NQQVQXPTXC_DIV, #DUNRRHVMQA_DIV {overflow:hidden;}
#VNVLSGNNNC, #VTJSPEZJHG_DIV {box-sizing : border-box;}
