.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:288px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:288px;z-index:0;width:800px;top:0px;left:0px;}
#HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;}
#DPKVLWHCIG {top:12px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:12px;left:217px;height:20px;width:17px;z-index:1;}
#BGHAITOPMU_DIV {top:16px;position:absolute;left:256px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:16px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:16px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:16px;position:absolute;left:256px;}
#MTJDZQTEIR {top:12px;position:absolute;left:392px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:12px;left:465px;height:20px;width:17px;z-index:1;}
#FLFHSXPWZI {top:9px;position:absolute;left:704px;height:30px;width:40px;z-index:1;}
#PTXYMSWBZO {top:9px;position:absolute;left:752px;z-index:1;clip:rect(0,40px,30px,0);}
#FGMOCXNBFY_DIV {top:9px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:198px;position:absolute;left:8px;height:84px;width:784px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:45px;position:absolute;left:8px;height:147px;width:784px;height:147px;right:0px;z-index:1;overflow:auto;}
#EMXLNIJICF_DIV {top:11px;position:absolute;left:528px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #EMXLNIJICF_DIV {box-sizing : border-box;}
