.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#CFVCBWYFJU { height:77px;background-color:#FF9F40;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#CFVCBWYFJU_DIV { position:absolute;height:77px;z-index:0;width:728px;top:203px;left:8px;}
#TTRVXROIVP { height:112px;background-color:#0080C0;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:112px;z-index:0;width:728px;top:7px;left:8px;}
#DMMJSVFBEV_DIV {top:14px;position:absolute;left:16px;height:16px;width:712px;color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FSXHJAAZGG {top:63px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;letter-spacing:-1px;}
#CLVVMIYSQG {top:91px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;}
#AJXISNWTIP {top:245px;position:absolute;left:336px;height:30px;width:40px;z-index:1;}
#LJMNABGSBL_DIV {top:35px;position:absolute;left:16px;height:16px;width:712px;color:#FFFFFF;text-align:center;z-index:1;}
#NMNMXABGKO {top:56px;position:absolute;left:432px;height:56px;width:296px;z-index:1;}
#GTMJENMCMN {top:77px;position:absolute;left:56px;height:20px;width:36px;text-align:right;z-index:1; }
#YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;letter-spacing:-1px;}
#TCZMCNHUFI {top:77px;position:absolute;left:136px;height:20px;width:112px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="old"] #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="yes"] #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;letter-spacing:-1px;}
#IFEGVJLLSM_DIV {top:210px;position:absolute;left:16px;height:29px;width:712px;text-align:center;z-index:1;}
#XKCJRWEKFU { height:84px;background-color:#C0C0C0;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#XKCJRWEKFU_DIV { position:absolute;height:84px;z-index:0;width:728px;top:119px;left:8px;}
#UFZQBBFAGD_DIV {top:126px;position:absolute;left:8px;height:16px;width:728px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MPIOZQPPPI {top:147px;position:absolute;left:176px;height:20px;width:128px;z-index:1; }
#CTFPYTZIIH_DIV {top:151px;position:absolute;left:20px;height:16px;width:156px;text-align:right;z-index:1;}
BODY:not([ettl]) #CTFPYTZIIH_DIV {top:151px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="old"] #CTFPYTZIIH_DIV {top:151px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="yes"] #CTFPYTZIIH_DIV {top:151px;position:absolute;left:20px;letter-spacing:-1px;}
#YFPMFPWESC {top:147px;position:absolute;left:616px;height:20px;width:48px;z-index:1; }
#LASRRWOCQH_DIV {top:151px;position:absolute;left:491px;height:16px;width:125px;text-align:right;z-index:1;}
BODY:not([ettl]) #LASRRWOCQH_DIV {top:151px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="old"] #LASRRWOCQH_DIV {top:151px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="yes"] #LASRRWOCQH_DIV {top:151px;position:absolute;left:491px;letter-spacing:-1px;}
#HMYRBXBREF {top:175px;position:absolute;left:176px;height:20px;width:264px;z-index:1; }
#HMYRBXBREF { vertical-align:middle; }
#HAINTPIJUS_DIV {top:179px;position:absolute;left:65px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #HAINTPIJUS_DIV {top:179px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="old"] #HAINTPIJUS_DIV {top:179px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="yes"] #HAINTPIJUS_DIV {top:179px;position:absolute;left:65px;letter-spacing:-1px;}
#CQATNPZMEC {top:175px;position:absolute;left:616px;height:20px;width:72px;text-align:right;z-index:1; }
#FHSMWCMRII_DIV {top:179px;position:absolute;left:478px;height:16px;width:138px;text-align:right;z-index:1;}
BODY:not([ettl]) #FHSMWCMRII_DIV {top:179px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="old"] #FHSMWCMRII_DIV {top:179px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="yes"] #FHSMWCMRII_DIV {top:179px;position:absolute;left:478px;letter-spacing:-1px;}
#CFVCBWYFJU, #TTRVXROIVP, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #LJMNABGSBL_DIV, #YIXZTOKOBR_DIV, #TTKGEZTDBH_DIV, #IFEGVJLLSM_DIV, #XKCJRWEKFU, #UFZQBBFAGD_DIV, #CTFPYTZIIH_DIV, #LASRRWOCQH_DIV, #HAINTPIJUS_DIV, #FHSMWCMRII_DIV {overflow:hidden;}
#CFVCBWYFJU, #TTRVXROIVP, #FSXHJAAZGG, #CLVVMIYSQG, #GTMJENMCMN, #TCZMCNHUFI, #XKCJRWEKFU, #MPIOZQPPPI, #YFPMFPWESC, #HMYRBXBREF, #CQATNPZMEC {box-sizing : border-box;}
