.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YPYMOEKGTF { height:567px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#YPYMOEKGTF_DIV { position:absolute;height:567px;z-index:0;width:784px;top:9px;left:8px;}
#UYVYTEMEXX {top:18px;position:absolute;left:104px;height:20px;width:162px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:18px;left:267px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:45px;position:absolute;left:104px;height:20px;width:162px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:45px;left:267px;height:20px;width:17px;z-index:1;}
#AITVTFTATA {top:72px;position:absolute;left:152px;height:20px;width:66px;text-align:right;z-index:1; }
#AITVTFTATA_ZOOM { position:absolute;top:72px;left:219px;height:20px;width:17px;z-index:1;}
#KGOPKMFAZV {top:72px;position:absolute;left:384px;height:20px;width:66px;text-align:right;z-index:1; }
#KGOPKMFAZV_ZOOM { position:absolute;top:72px;left:451px;height:20px;width:17px;z-index:1;}
#ZNXWTQHRAY {top:99px;position:absolute;left:152px;height:20px;width:56px;z-index:1; }
#ZNXWTQHRAY_ZOOM { position:absolute;top:99px;left:209px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:153px;position:absolute;left:680px;height:32px;width:40px;z-index:1;}
#PCILMATBXL_DIV {top:22px;position:absolute;left:27px;height:16px;width:74px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:22px;position:absolute;left:27px;height:16px;width:74px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:22px;position:absolute;left:27px;height:16px;width:74px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:22px;position:absolute;left:27px;}
#VXJAZUGUIO_DIV {top:20px;position:absolute;left:290px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:49px;position:absolute;left:34px;height:16px;width:67px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:34px;height:16px;width:67px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:34px;height:16px;width:67px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:34px;}
#XCBBNKIAUV_DIV {top:47px;position:absolute;left:290px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#KRWIPWBLIZ_DIV {top:126px;position:absolute;left:24px;height:21px;width:272px;overflow:hidden;white-space:nowrap;z-index:1; }
#RPFMUWVENA {top:153px;position:absolute;left:736px;height:32px;width:40px;z-index:1;}
#NGVOZRVMWR_DIV {top:76px;position:absolute;left:22px;height:16px;width:127px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NGVOZRVMWR_DIV {top:76px;position:absolute;left:22px;height:16px;width:127px;}
BODY[ettl="old"] #NGVOZRVMWR_DIV {top:76px;position:absolute;left:22px;height:16px;width:127px;}
BODY[ettl="yes"] #NGVOZRVMWR_DIV {top:76px;position:absolute;left:22px;}
#WICQRPVOOM_DIV {top:76px;position:absolute;left:254px;height:16px;width:127px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WICQRPVOOM_DIV {top:76px;position:absolute;left:254px;height:16px;width:127px;}
BODY[ettl="old"] #WICQRPVOOM_DIV {top:76px;position:absolute;left:254px;height:16px;width:127px;}
BODY[ettl="yes"] #WICQRPVOOM_DIV {top:76px;position:absolute;left:254px;}
#LMSVTJSWTT_DIV {top:126px;position:absolute;left:368px;height:16px;width:110px;text-align:right;z-index:1;}
BODY:not([ettl]) #LMSVTJSWTT_DIV {top:126px;position:absolute;left:368px;height:16px;width:110px;}
BODY[ettl="old"] #LMSVTJSWTT_DIV {top:126px;position:absolute;left:368px;height:16px;width:110px;}
BODY[ettl="yes"] #LMSVTJSWTT_DIV {top:126px;position:absolute;left:368px;letter-spacing:-1px;}
#ULDTTBEWIQ_DIV {top:121px;position:absolute;left:488px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#JVAYGFIMTX_DIV {top:121px;position:absolute;left:624px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#DYMVKIQWCA {top:189px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#YCCWJHXBSK_DIV {top:103px;position:absolute;left:14px;height:16px;width:138px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #YCCWJHXBSK_DIV {top:103px;position:absolute;left:14px;height:16px;width:138px;}
BODY[ettl="old"] #YCCWJHXBSK_DIV {top:103px;position:absolute;left:14px;height:16px;width:138px;}
BODY[ettl="yes"] #YCCWJHXBSK_DIV {top:103px;position:absolute;left:14px;}
#UKVSKINWXW_DIV {top:101px;position:absolute;left:232px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#TYIWXFLLFY_DIV {top:279px;position:absolute;left:16px;height:288px;width:768px;text-align:left;z-index:1;}
BODY[ettl="yes"] #ULDTTBEWIQ_DIV {letter-spacing:-1px;}
#YPYMOEKGTF, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #NGVOZRVMWR_DIV, #WICQRPVOOM_DIV, #LMSVTJSWTT_DIV, #YCCWJHXBSK_DIV, #UKVSKINWXW_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#YPYMOEKGTF, #UYVYTEMEXX, #CJWUHWULAR, #AITVTFTATA, #KGOPKMFAZV, #ZNXWTQHRAY, #KRWIPWBLIZ_DIV, #ULDTTBEWIQ_DIV, #JVAYGFIMTX_DIV {box-sizing : border-box;}
