.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UQFVYWSNYY {top:9px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#UQFVYWSNYY_ZOOM { position:absolute;top:9px;left:239px;height:20px;width:17px;z-index:1;}
#HXBJUMEZIA {top:37px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#HXBJUMEZIA_ZOOM { position:absolute;top:37px;left:239px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:63px;position:absolute;left:168px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:63px;left:241px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:63px;position:absolute;left:408px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:63px;left:481px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:90px;position:absolute;left:168px;height:20px;width:162px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:90px;left:331px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:118px;position:absolute;left:168px;height:20px;width:162px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:118px;left:331px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:396px;position:absolute;left:338px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:396px;position:absolute;left:394px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:67px;position:absolute;left:16px;height:16px;width:148px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:67px;position:absolute;left:16px;height:16px;width:148px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:67px;position:absolute;left:16px;height:16px;width:148px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:67px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:67px;position:absolute;left:264px;height:16px;width:140px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:67px;position:absolute;left:264px;height:16px;width:140px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:67px;position:absolute;left:264px;height:16px;width:140px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:67px;position:absolute;left:264px;}
#PCILMATBXL_DIV {top:94px;position:absolute;left:16px;height:16px;width:144px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:94px;position:absolute;left:16px;height:16px;width:144px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:94px;position:absolute;left:16px;height:16px;width:144px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:94px;position:absolute;left:16px;}
#VXJAZUGUIO_DIV {top:94px;position:absolute;left:360px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:122px;position:absolute;left:19px;height:16px;width:141px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:122px;position:absolute;left:19px;height:16px;width:141px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:122px;position:absolute;left:19px;height:16px;width:141px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:122px;position:absolute;left:19px;}
#XCBBNKIAUV_DIV {top:122px;position:absolute;left:360px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ZWZOQIGZCX_DIV {top:13px;position:absolute;left:8px;height:16px;width:157px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ZWZOQIGZCX_DIV {top:13px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="old"] #ZWZOQIGZCX_DIV {top:13px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="yes"] #ZWZOQIGZCX_DIV {top:13px;position:absolute;left:8px;}
#RXKVDVJPTZ_DIV {top:13px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGOVXFIBXQ_DIV {top:41px;position:absolute;left:16px;height:16px;width:149px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGOVXFIBXQ_DIV {top:41px;position:absolute;left:16px;height:16px;width:149px;}
BODY[ettl="old"] #BGOVXFIBXQ_DIV {top:41px;position:absolute;left:16px;height:16px;width:149px;}
BODY[ettl="yes"] #BGOVXFIBXQ_DIV {top:41px;position:absolute;left:16px;}
#LNFAXDLCMF_DIV {top:41px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#FGMOCXNBFY_DIV {top:414px;position:absolute;left:664px;height:14px;width:88px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:306px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:153px;position:absolute;left:8px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#BQKVLSRQVU {top:396px;position:absolute;left:480px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #ZWZOQIGZCX_DIV, #RXKVDVJPTZ_DIV, #BGOVXFIBXQ_DIV, #LNFAXDLCMF_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#UQFVYWSNYY, #HXBJUMEZIA, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR {box-sizing : border-box;}
