.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.WHPHUPSYMT_DIV { position:absolute;top:2px;left:8px;height:16px;width:48px;overflow:hidden;text-align:left;z-index:1;}
.RRCUTNCFFI_DIV { position:absolute;top:2px;left:64px;height:16px;width:624px;overflow:hidden;text-align:left;z-index:1;}
.UVVTZEXMFY_DIV { position:absolute;top:1px;left:8px;height:16px;width:48px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.TNMJZLSWCG_DIV { position:absolute;top:1px;left:64px;height:16px;width:65px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.SDOMWPEROY { position:absolute;top:2px;left:776px;height:16px;width:16px;z-index:1;}
.CWLFKDFGDS_DIV { position:absolute;top:2px;left:696px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.QZXWWSVYKL_DIV { position:absolute;top:1px;left:696px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.UVVTZEXMFY_DIV, .TNMJZLSWCG_DIV, .QZXWWSVYKL_DIV {overflow:hidden;}
