.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PBGEOWBBUF { height:427px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#PBGEOWBBUF_DIV { position:absolute;height:427px;z-index:0;width:632px;top:7px;left:8px;}
#MQMNEIMSBN {top:399px;position:absolute;left:296px;z-index:1;clip:rect(0,40px,28px,0);}
#UDQLPNDNTV {top:14px;position:absolute;left:16px;height:378px;width:616px;overflow:auto;z-index:1; }
#PBGEOWBBUF {overflow:hidden;}
#PBGEOWBBUF, #UDQLPNDNTV {box-sizing : border-box;}
