.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:468px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:468px;z-index:0;width:784px;top:9px;left:8px;}
#XURLGQZZMU {top:18px;position:absolute;left:696px;height:32px;width:40px;z-index:1;}
#PTXYMSWBZO {top:18px;position:absolute;left:744px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:225px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:315px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:72px;position:absolute;left:16px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#YIXZTOKOBR_DIV {top:21px;position:absolute;left:30px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:21px;position:absolute;left:30px;height:16px;width:111px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:21px;position:absolute;left:30px;height:16px;width:111px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:21px;position:absolute;left:30px;letter-spacing:-1px;}
#OSIUJJNLKT_DIV {top:27px;position:absolute;left:496px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
#SCGTJGESFA {top:18px;position:absolute;left:144px;height:20px;width:72px;z-index:1; }
#SCGTJGESFA_ZOOM { position:absolute;top:18px;left:217px;height:20px;width:17px;z-index:1;}
#QKUOXERDJK {top:45px;position:absolute;left:144px;height:20px;width:32px;z-index:1; }
#OWYNJWKXZA {top:18px;position:absolute;left:360px;height:20px;width:72px;text-align:right;z-index:1; }
#JVVRQWIIHF_DIV {top:22px;position:absolute;left:275px;height:16px;width:85px;text-align:right;z-index:1;}
BODY:not([ettl]) #JVVRQWIIHF_DIV {top:22px;position:absolute;left:275px;height:16px;width:85px;}
BODY[ettl="old"] #JVVRQWIIHF_DIV {top:22px;position:absolute;left:275px;height:16px;width:85px;}
BODY[ettl="yes"] #JVVRQWIIHF_DIV {top:22px;position:absolute;left:275px;letter-spacing:-1px;}
#WPSKYXARLO_DIV {top:49px;position:absolute;left:88px;height:16px;width:56px;text-align:right;z-index:1;}
BODY:not([ettl]) #WPSKYXARLO_DIV {top:49px;position:absolute;left:88px;height:16px;width:56px;}
BODY[ettl="old"] #WPSKYXARLO_DIV {top:49px;position:absolute;left:88px;height:16px;width:56px;}
BODY[ettl="yes"] #WPSKYXARLO_DIV {top:49px;position:absolute;left:88px;letter-spacing:-1px;}
#JISCOQMHYV {top:45px;position:absolute;left:360px;height:20px;width:32px;z-index:1; }
#WZBNOLRUGW_DIV {top:49px;position:absolute;left:253px;height:16px;width:107px;text-align:right;z-index:1;}
BODY:not([ettl]) #WZBNOLRUGW_DIV {top:49px;position:absolute;left:253px;height:16px;width:107px;}
BODY[ettl="old"] #WZBNOLRUGW_DIV {top:49px;position:absolute;left:253px;height:16px;width:107px;}
BODY[ettl="yes"] #WZBNOLRUGW_DIV {top:49px;position:absolute;left:253px;letter-spacing:-1px;}
BODY[ettl="yes"] #OSIUJJNLKT_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #TYIWXFLLFY_DIV, #YIXZTOKOBR_DIV, #JVVRQWIIHF_DIV, #WPSKYXARLO_DIV, #WZBNOLRUGW_DIV {overflow:hidden;}
#XLVFHSOSYH, #OSIUJJNLKT_DIV, #SCGTJGESFA, #QKUOXERDJK, #OWYNJWKXZA, #JISCOQMHYV {box-sizing : border-box;}
