.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YPYMOEKGTF { height:720px;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#YPYMOEKGTF_DIV { position:absolute;height:720px;z-index:0;width:784px;top:9px;left:8px;}
#UYVYTEMEXX {top:18px;position:absolute;left:104px;height:20px;width:162px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:18px;left:267px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:45px;position:absolute;left:104px;height:20px;width:162px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:45px;left:267px;height:20px;width:17px;z-index:1;}
#AITVTFTATA {top:126px;position:absolute;left:152px;height:20px;width:66px;text-align:right;z-index:1; }
#AITVTFTATA_ZOOM { position:absolute;top:126px;left:219px;height:20px;width:17px;z-index:1;}
#KGOPKMFAZV {top:126px;position:absolute;left:384px;height:20px;width:66px;text-align:right;z-index:1; }
#KGOPKMFAZV_ZOOM { position:absolute;top:126px;left:451px;height:20px;width:17px;z-index:1;}
#ZNXWTQHRAY {top:153px;position:absolute;left:152px;height:20px;width:56px;z-index:1; }
#ZNXWTQHRAY_ZOOM { position:absolute;top:153px;left:209px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:324px;position:absolute;left:664px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#PCILMATBXL_DIV {top:22px;position:absolute;left:16px;height:16px;width:85px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:22px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:22px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:22px;position:absolute;left:16px;}
#VXJAZUGUIO_DIV {top:20px;position:absolute;left:290px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:49px;position:absolute;left:16px;height:16px;width:85px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:16px;}
#XCBBNKIAUV_DIV {top:47px;position:absolute;left:290px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#KRWIPWBLIZ_DIV {top:180px;position:absolute;left:24px;height:21px;width:272px;overflow:hidden;white-space:nowrap;z-index:1; }
#RPFMUWVENA {top:324px;position:absolute;left:720px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#RUYTQICXFP {top:324px;position:absolute;left:608px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#NGVOZRVMWR_DIV {top:130px;position:absolute;left:22px;height:16px;width:127px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NGVOZRVMWR_DIV {top:130px;position:absolute;left:22px;height:16px;width:127px;}
BODY[ettl="old"] #NGVOZRVMWR_DIV {top:130px;position:absolute;left:22px;height:16px;width:127px;}
BODY[ettl="yes"] #NGVOZRVMWR_DIV {top:130px;position:absolute;left:22px;}
#WICQRPVOOM_DIV {top:130px;position:absolute;left:254px;height:16px;width:127px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #WICQRPVOOM_DIV {top:130px;position:absolute;left:254px;height:16px;width:127px;}
BODY[ettl="old"] #WICQRPVOOM_DIV {top:130px;position:absolute;left:254px;height:16px;width:127px;}
BODY[ettl="yes"] #WICQRPVOOM_DIV {top:130px;position:absolute;left:254px;}
#TGNDMRCJLI_DIV {top:234px;position:absolute;left:16px;height:19px;width:248px;color:#408040;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#NPNISIVXKK_DIV {top:260px;position:absolute;left:40px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#XUIECEYUER { height:153px;border-width:1px;border-color:#008000;border-style:solid;z-index:0;}
#XUIECEYUER_DIV { position:absolute;height:153px;z-index:0;width:248px;top:234px;left:16px;}
#RFAMRJFBMI_DIV {top:281px;position:absolute;left:40px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#DMFWCILZEL_DIV {top:302px;position:absolute;left:40px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#FNXXQDPJEK_DIV {top:323px;position:absolute;left:40px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#QAFQSIPUBY { height:153px;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#QAFQSIPUBY_DIV { position:absolute;height:153px;z-index:0;width:248px;top:234px;left:304px;}
#EIKNNNXYRB_DIV {top:234px;position:absolute;left:304px;height:19px;width:240px;color:#408040;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#HOUDAUAIJN_DIV {top:261px;position:absolute;left:312px;height:117px;width:232px;z-index:1; }
#HOUDAUAIJN { vertical-align:middle;height:8pt; }
#BGSKTJIZGQ_DIV {top:207px;position:absolute;left:24px;height:21px;width:272px;overflow:hidden;white-space:nowrap;z-index:1; }
#LMSVTJSWTT_DIV {top:207px;position:absolute;left:360px;height:16px;width:121px;text-align:right;z-index:1;}
BODY:not([ettl]) #LMSVTJSWTT_DIV {top:207px;position:absolute;left:360px;height:16px;width:121px;}
BODY[ettl="old"] #LMSVTJSWTT_DIV {top:207px;position:absolute;left:360px;height:16px;width:121px;}
BODY[ettl="yes"] #LMSVTJSWTT_DIV {top:207px;position:absolute;left:360px;letter-spacing:-1px;}
#ULDTTBEWIQ_DIV {top:202px;position:absolute;left:491px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#JVAYGFIMTX_DIV {top:202px;position:absolute;left:627px;height:21px;width:120px;overflow:hidden;white-space:nowrap;z-index:1; }
#DYMVKIQWCA {top:396px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#YCCWJHXBSK_DIV {top:157px;position:absolute;left:14px;height:16px;width:138px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #YCCWJHXBSK_DIV {top:157px;position:absolute;left:14px;height:16px;width:138px;}
BODY[ettl="old"] #YCCWJHXBSK_DIV {top:157px;position:absolute;left:14px;height:16px;width:138px;}
BODY[ettl="yes"] #YCCWJHXBSK_DIV {top:157px;position:absolute;left:14px;}
#UKVSKINWXW_DIV {top:155px;position:absolute;left:232px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#TYIWXFLLFY_DIV {top:486px;position:absolute;left:16px;height:234px;width:768px;text-align:left;z-index:1;}
#RGLTWKIWPY {top:72px;position:absolute;left:104px;height:20px;width:120px;z-index:1; }
#RGLTWKIWPY_ZOOM { position:absolute;top:72px;left:225px;height:20px;width:17px;z-index:1;}
#NJZHHGRCUF_DIV {top:76px;position:absolute;left:16px;height:16px;width:85px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NJZHHGRCUF_DIV {top:76px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="old"] #NJZHHGRCUF_DIV {top:76px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="yes"] #NJZHHGRCUF_DIV {top:76px;position:absolute;left:16px;}
#DPLASECNGE_DIV {top:72px;position:absolute;left:248px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#USKGWKJFWW {top:99px;position:absolute;left:104px;height:20px;width:120px;z-index:1; }
#USKGWKJFWW_ZOOM { position:absolute;top:99px;left:225px;height:20px;width:17px;z-index:1;}
#XWICOJPCNN_DIV {top:103px;position:absolute;left:16px;height:16px;width:85px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #XWICOJPCNN_DIV {top:103px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="old"] #XWICOJPCNN_DIV {top:103px;position:absolute;left:16px;height:16px;width:85px;}
BODY[ettl="yes"] #XWICOJPCNN_DIV {top:103px;position:absolute;left:16px;}
#XADEIGCIYD_DIV {top:99px;position:absolute;left:248px;height:18px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
BODY[ettl="yes"] #RFAMRJFBMI_DIV, BODY[ettl="yes"] #DMFWCILZEL_DIV, BODY[ettl="yes"] #FNXXQDPJEK_DIV, BODY[ettl="yes"] #ULDTTBEWIQ_DIV {letter-spacing:-1px;}
#YPYMOEKGTF, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #NGVOZRVMWR_DIV, #WICQRPVOOM_DIV, #TGNDMRCJLI_DIV, #XUIECEYUER, #QAFQSIPUBY, #EIKNNNXYRB_DIV, #LMSVTJSWTT_DIV, #YCCWJHXBSK_DIV, #UKVSKINWXW_DIV, #TYIWXFLLFY_DIV, #NJZHHGRCUF_DIV, #DPLASECNGE_DIV, #XWICOJPCNN_DIV, #XADEIGCIYD_DIV {overflow:hidden;}
#YPYMOEKGTF, #UYVYTEMEXX, #CJWUHWULAR, #AITVTFTATA, #KGOPKMFAZV, #ZNXWTQHRAY, #KRWIPWBLIZ_DIV, #NPNISIVXKK_DIV, #XUIECEYUER, #RFAMRJFBMI_DIV, #DMFWCILZEL_DIV, #FNXXQDPJEK_DIV, #QAFQSIPUBY, #HOUDAUAIJN_DIV, #BGSKTJIZGQ_DIV, #ULDTTBEWIQ_DIV, #JVAYGFIMTX_DIV, #RGLTWKIWPY, #USKGWKJFWW {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
