.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.CGJORROSRQ_DIV { position:absolute;top:0px;left:64px;height:16px;width:104px;overflow:hidden;text-align:left;z-index:1;}
.NKLQJWFSER_DIV { position:absolute;top:0px;left:176px;height:16px;width:360px;overflow:hidden;text-align:left;z-index:1;}
.QFEQSXTBYM_DIV { position:absolute;top:0px;left:544px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.EZGSPESVSN_DIV { position:absolute;top:0px;left:624px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.KRLVDZKIGO_DIV { position:absolute;top:1px;left:64px;height:16px;width:69px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.IHKKKYOFKO_DIV { position:absolute;top:1px;left:560px;height:16px;width:69px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.ZYGGADPWMI_DIV { position:absolute;top:1px;left:640px;height:16px;width:69px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.XZUXXWWVEZ { position:absolute;top:1px;left:28px;z-index:1;clip:rect(0,16px,16px,0);}
.AWKKPZGIBE { position:absolute;top:1px;left:46px;z-index:1;clip:rect(0,16px,16px,0);}
.XZMBQDKCOI { position:absolute;top:1px;left:6px;z-index:1;clip:rect(0,16px,16px,0);}
.KRLVDZKIGO_DIV, .IHKKKYOFKO_DIV, .ZYGGADPWMI_DIV {overflow:hidden;}
