.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:171px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:171px;z-index:0;width:776px;top:9px;left:8px;}
#DPKVLWHCIG {top:18px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:18px;left:217px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:18px;position:absolute;left:464px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:18px;left:537px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:144px;position:absolute;left:352px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:144px;position:absolute;left:400px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:22px;position:absolute;left:336px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:22px;position:absolute;left:336px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:336px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:336px;}
#FGMOCXNBFY_DIV {top:18px;position:absolute;left:248px;height:14px;width:88px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:45px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR {box-sizing : border-box;}
