.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PBGEOWBBUF { height:77px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#PBGEOWBBUF_DIV { position:absolute;height:77px;z-index:0;width:200px;top:7px;left:8px;}
#QAXNTYELMN_DIV {top:25px;position:absolute;left:16px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #QAXNTYELMN_DIV {top:25px;position:absolute;left:16px;height:16px;width:95px;}
BODY[ettl="old"] #QAXNTYELMN_DIV {top:25px;position:absolute;left:16px;height:16px;width:95px;}
BODY[ettl="yes"] #QAXNTYELMN_DIV {top:25px;position:absolute;left:16px;letter-spacing:-1px;}
#NTUZLPWVAD {top:21px;position:absolute;left:117px;height:20px;width:66px;text-align:right;z-index:1; }
#MNNQRQRGPV {top:49px;position:absolute;left:56px;z-index:1;clip:rect(0,40px,28px,0);}
#MQMNEIMSBN {top:49px;position:absolute;left:128px;z-index:1;clip:rect(0,40px,28px,0);}
#ZVSDSSCUMM {top:56px;position:absolute;left:16px;height:20px;width:32px;z-index:1; }
#PBGEOWBBUF, #QAXNTYELMN_DIV {overflow:hidden;}
#PBGEOWBBUF, #NTUZLPWVAD, #ZVSDSSCUMM {box-sizing : border-box;}
