.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:45px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:45px;z-index:0;width:800px;top:0px;left:0px;}
.DIWJSXFYLW_DIV { position:absolute;top:0px;left:8px;height:16px;width:106px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.JUIALTQGYN_DIV { position:absolute;top:0px;left:288px;height:16px;width:80px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#PTXYMSWBZO {top:9px;position:absolute;left:752px;z-index:1;clip:rect(0,40px,30px,0);}
.IKAZSTAZPW_DIV { position:absolute;top:2px;left:8px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.DLZLDHYANX_DIV { position:absolute;top:2px;left:88px;height:16px;width:192px;overflow:hidden;text-align:left;z-index:1;}
.KMXIORBZMD_DIV { position:absolute;top:2px;left:288px;height:16px;width:192px;overflow:hidden;text-align:left;z-index:1;}
.GJELUXBWNJ_DIV { position:absolute;top:2px;left:488px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.NGQKTMHBWE { position:absolute;top:2px;left:632px;height:16px;width:16px;z-index:1;}
.TMWWFEJLFW_DIV { position:absolute;top:0px;left:488px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FBLYVZOSYM {top:9px;position:absolute;left:656px;z-index:1;clip:rect(0,40px,30px,0);}
.FGLKZVMBWR_DIV { position:absolute;top:2px;left:568px;height:16px;width:56px;overflow:hidden;text-align:center;z-index:1;}
.FGSPNWXVTI_DIV { position:absolute;top:0px;left:568px;height:16px;width:56px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#SINSZKENFU {top:9px;position:absolute;left:88px;height:20px;width:176px;z-index:1; }
#SINSZKENFU { vertical-align:middle; }
#WDZSXSEYIO_DIV {top:13px;position:absolute;left:6px;height:16px;width:82px;text-align:right;z-index:1;}
BODY:not([ettl]) #WDZSXSEYIO_DIV {top:13px;position:absolute;left:6px;height:16px;width:82px;}
BODY[ettl="old"] #WDZSXSEYIO_DIV {top:13px;position:absolute;left:6px;height:16px;width:82px;}
BODY[ettl="yes"] #WDZSXSEYIO_DIV {top:13px;position:absolute;left:6px;letter-spacing:-1px;}
#MELWIFMMZX {top:9px;position:absolute;left:704px;z-index:1;clip:rect(0,40px,30px,0);}
#XLVFHSOSYH, .DIWJSXFYLW_DIV, .JUIALTQGYN_DIV, .TMWWFEJLFW_DIV, .FGSPNWXVTI_DIV, #WDZSXSEYIO_DIV {overflow:hidden;}
#XLVFHSOSYH, #SINSZKENFU {box-sizing : border-box;}
