.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:616px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:616px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:47px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:75px;position:absolute;left:16px;height:20px;width:560px;z-index:1; }
#DZUBEERBGN {top:70px;position:absolute;left:584px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:70px;position:absolute;left:680px;height:25px;width:88px;z-index:1;}
#TSSKBHVZYW {top:119px;position:absolute;left:267px;height:42px;width:97px;z-index:1;}
#OHDUQNORCW {top:119px;position:absolute;left:371px;height:42px;width:112px;z-index:1;}
#UJRAAPSKEB {top:119px;position:absolute;left:592px;height:42px;width:184px;z-index:1;}
#OUJUYXLCZS {top:126px;position:absolute;left:16px;height:20px;width:240px;z-index:1; }
#OUJUYXLCZS { vertical-align:middle; }
#XWGVSPAUBF {top:119px;position:absolute;left:491px;height:42px;width:93px;z-index:1;}
#GRXBVEVRYT_DIV {top:10px;position:absolute;left:393px;height:55px;width:280px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:688px;height:14px;width:88px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:532px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:182px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#MVXXCZOQGP {top:331px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #GRXBVEVRYT_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #OUJUYXLCZS {box-sizing : border-box;}
