.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:287px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:287px;z-index:0;width:776px;top:7px;left:8px;}
#MAYNQUHJSS {top:14px;position:absolute;left:688px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:14px;position:absolute;left:736px;z-index:1;clip:rect(0,42px,32px,0);}
#DYMVKIQWCA {top:196px;position:absolute;left:16px;height:91px;width:760px;height:91px;right:0px;z-index:1;overflow:auto;}
#HUEJGVANPJ_DIV {top:21px;position:absolute;left:632px;height:21px;width:48px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:49px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#KICJFCXJWH {top:14px;position:absolute;left:120px;height:20px;width:48px;z-index:1; }
#NBRHLGOACP_DIV {top:18px;position:absolute;left:16px;height:16px;width:104px;text-align:right;z-index:1;}
BODY:not([ettl]) #NBRHLGOACP_DIV {top:18px;position:absolute;left:16px;height:16px;width:104px;}
BODY[ettl="old"] #NBRHLGOACP_DIV {top:18px;position:absolute;left:16px;height:16px;width:104px;}
BODY[ettl="yes"] #NBRHLGOACP_DIV {top:18px;position:absolute;left:16px;letter-spacing:-1px;}
#VFFMUWZZJS, #HUEJGVANPJ_DIV, #NBRHLGOACP_DIV {overflow:hidden;}
#VFFMUWZZJS, #KICJFCXJWH {box-sizing : border-box;}
