.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UZOTDDZZSQ { height:357px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UZOTDDZZSQ_DIV { position:absolute;height:357px;z-index:0;width:776px;top:7px;left:8px;}
#GTMJENMCMN {top:77px;position:absolute;left:104px;height:20px;width:36px;text-align:right;z-index:1; }
#ZUXUDAETFH {top:70px;position:absolute;left:472px;height:28px;width:302px;z-index:1;}
#DMMJSVFBEV_DIV {top:14px;position:absolute;left:16px;height:16px;width:760px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LJMNABGSBL_DIV {top:35px;position:absolute;left:16px;height:16px;width:760px;text-align:center;z-index:1;}
#ZCSEKJZUCO { height:28px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:28px;z-index:0;width:760px;top:240px;left:16px;}
#VKDDBMFRDF_DIV {top:247px;position:absolute;left:24px;height:16px;width:744px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#YIXZTOKOBR_DIV {top:81px;position:absolute;left:51px;height:16px;width:49px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:81px;position:absolute;left:51px;height:16px;width:49px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:51px;height:16px;width:49px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:51px;letter-spacing:-1px;}
#UDOTRXKADP_DIV {top:14px;position:absolute;left:20px;height:14px;width:16px;text-align:left;z-index:1;}
#UFZQBBFAGD_DIV {top:122px;position:absolute;left:8px;height:16px;width:776px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MPIOZQPPPI {top:161px;position:absolute;left:176px;height:20px;width:128px;z-index:1; }
#CTFPYTZIIH_DIV {top:165px;position:absolute;left:20px;height:16px;width:156px;text-align:right;z-index:1;}
BODY:not([ettl]) #CTFPYTZIIH_DIV {top:165px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="old"] #CTFPYTZIIH_DIV {top:165px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="yes"] #CTFPYTZIIH_DIV {top:165px;position:absolute;left:20px;letter-spacing:-1px;}
#YFPMFPWESC {top:161px;position:absolute;left:616px;height:20px;width:48px;z-index:1; }
#LASRRWOCQH_DIV {top:165px;position:absolute;left:491px;height:16px;width:125px;text-align:right;z-index:1;}
BODY:not([ettl]) #LASRRWOCQH_DIV {top:165px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="old"] #LASRRWOCQH_DIV {top:165px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="yes"] #LASRRWOCQH_DIV {top:165px;position:absolute;left:491px;letter-spacing:-1px;}
#HMYRBXBREF {top:189px;position:absolute;left:176px;height:20px;width:264px;z-index:1; }
#HMYRBXBREF { vertical-align:middle; }
#HAINTPIJUS_DIV {top:193px;position:absolute;left:65px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #HAINTPIJUS_DIV {top:193px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="old"] #HAINTPIJUS_DIV {top:193px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="yes"] #HAINTPIJUS_DIV {top:193px;position:absolute;left:65px;letter-spacing:-1px;}
#CQATNPZMEC {top:189px;position:absolute;left:616px;height:20px;width:72px;text-align:right;z-index:1; }
#FHSMWCMRII_DIV {top:193px;position:absolute;left:478px;height:16px;width:138px;text-align:right;z-index:1;}
BODY:not([ettl]) #FHSMWCMRII_DIV {top:193px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="old"] #FHSMWCMRII_DIV {top:193px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="yes"] #FHSMWCMRII_DIV {top:193px;position:absolute;left:478px;letter-spacing:-1px;}
#DYMVKIQWCA {top:275px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#UABNRUNBPR { height:1px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UABNRUNBPR_DIV { position:absolute;height:1px;z-index:0;width:776px;top:119px;left:8px;}
#CUBHMYHWXO {top:210px;position:absolute;left:736px;height:28px;width:40px;z-index:1;}
#JBNBDKBIAJ {top:140px;position:absolute;left:736px;height:28px;width:40px;z-index:1;}
#MPCMAMHQST {top:175px;position:absolute;left:736px;height:28px;width:40px;z-index:1;}
#YNNFPJLGCM {top:77px;position:absolute;left:224px;height:20px;width:36px;text-align:right;z-index:1; }
#XJFGVEGRXL_DIV {top:81px;position:absolute;left:178px;height:16px;width:42px;text-align:right;z-index:1;}
BODY:not([ettl]) #XJFGVEGRXL_DIV {top:81px;position:absolute;left:178px;height:16px;width:42px;}
BODY[ettl="old"] #XJFGVEGRXL_DIV {top:81px;position:absolute;left:178px;height:16px;width:42px;}
BODY[ettl="yes"] #XJFGVEGRXL_DIV {top:81px;position:absolute;left:178px;letter-spacing:-1px;}
#UZOTDDZZSQ, #DMMJSVFBEV_DIV, #LJMNABGSBL_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #YIXZTOKOBR_DIV, #UDOTRXKADP_DIV, #UFZQBBFAGD_DIV, #CTFPYTZIIH_DIV, #LASRRWOCQH_DIV, #HAINTPIJUS_DIV, #FHSMWCMRII_DIV, #UABNRUNBPR, #XJFGVEGRXL_DIV {overflow:hidden;}
#UZOTDDZZSQ, #GTMJENMCMN, #ZCSEKJZUCO, #MPIOZQPPPI, #YFPMFPWESC, #HMYRBXBREF, #CQATNPZMEC, #UABNRUNBPR, #YNNFPJLGCM {box-sizing : border-box;}
