.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:343px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:343px;z-index:0;width:792px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:560px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:592px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:584px;height:14px;width:88px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:259px;position:absolute;left:16px;height:84px;width:776px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:91px;position:absolute;left:16px;height:161px;width:776px;height:161px;right:0px;z-index:1;overflow:auto;}
#ZFXYWOBFTT {top:63px;position:absolute;left:45px;height:20px;width:432px;z-index:1; }
#ZFXYWOBFTT { vertical-align:middle; }
#CBQEJYFUKN_DIV {top:67px;position:absolute;left:19px;height:16px;width:26px;text-align:right;z-index:1;}
BODY:not([ettl]) #CBQEJYFUKN_DIV {top:67px;position:absolute;left:19px;height:16px;width:26px;}
BODY[ettl="old"] #CBQEJYFUKN_DIV {top:67px;position:absolute;left:19px;height:16px;width:26px;}
BODY[ettl="yes"] #CBQEJYFUKN_DIV {top:67px;position:absolute;left:19px;letter-spacing:-1px;}
#IFYJZJENZX {top:63px;position:absolute;left:528px;height:20px;width:48px;text-align:right;z-index:1; }
#BFFWNIWXGG_DIV {top:67px;position:absolute;left:497px;height:16px;width:31px;text-align:right;z-index:1;}
BODY:not([ettl]) #BFFWNIWXGG_DIV {top:67px;position:absolute;left:497px;height:16px;width:31px;}
BODY[ettl="old"] #BFFWNIWXGG_DIV {top:67px;position:absolute;left:497px;height:16px;width:31px;}
BODY[ettl="yes"] #BFFWNIWXGG_DIV {top:67px;position:absolute;left:497px;letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #FGMOCXNBFY_DIV, #CBQEJYFUKN_DIV, #BFFWNIWXGG_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #ZFXYWOBFTT, #IFYJZJENZX {box-sizing : border-box;}
