.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#FLMOHWCWJT { height:28px;background-color:#FFFF00;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#FLMOHWCWJT_DIV { position:absolute;height:28px;z-index:0;width:776px;top:7px;left:8px;}
#VFFMUWZZJS { height:145px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:145px;z-index:0;width:776px;top:37px;left:8px;}
#NACPPABTRW {top:49px;position:absolute;left:733px;z-index:1;clip:rect(0,42px,32px,0);}
#MAYNQUHJSS {top:49px;position:absolute;left:677px;z-index:1;clip:rect(0,42px,32px,0);}
#KQOEUBLQQH_DIV {top:14px;position:absolute;left:16px;height:17px;width:760px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
#MTYFEUOGMI_DIV {top:58px;position:absolute;left:19px;height:16px;width:177px;text-align:right;z-index:1;}
BODY:not([ettl]) #MTYFEUOGMI_DIV {top:58px;position:absolute;left:19px;height:16px;width:177px;}
BODY[ettl="old"] #MTYFEUOGMI_DIV {top:58px;position:absolute;left:19px;height:16px;width:177px;}
BODY[ettl="yes"] #MTYFEUOGMI_DIV {top:58px;position:absolute;left:19px;letter-spacing:-1px;}
#TLMZBDQITO {top:54px;position:absolute;left:200px;height:20px;width:72px;z-index:1; }
#FGMOCXNBFY_DIV {top:56px;position:absolute;left:336px;height:14px;width:88px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:91px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#FLMOHWCWJT, #VFFMUWZZJS, #KQOEUBLQQH_DIV, #MTYFEUOGMI_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#FLMOHWCWJT, #VFFMUWZZJS, #TLMZBDQITO {box-sizing : border-box;}
