.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:546px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:546px;z-index:0;width:784px;top:0px;left:0px;}
#DMMJSVFBEV_DIV {top:0px;position:absolute;left:0px;height:16px;width:784px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ALQVOOWZEV {top:20px;position:absolute;left:511px;height:56px;width:264px;z-index:1;}
#AJXISNWTIP {top:90px;position:absolute;left:735px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:281px;position:absolute;left:3px;height:84px;width:776px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:129px;position:absolute;left:3px;height:147px;width:776px;height:147px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:372px;position:absolute;left:3px;height:153px;width:776px;text-align:left;z-index:1;}
#MPCMAMHQST {top:90px;position:absolute;left:639px;height:28px;width:40px;z-index:1;}
#JBNBDKBIAJ {top:90px;position:absolute;left:687px;height:28px;width:40px;z-index:1;}
#TFMYEDBUXJ_DIV {top:27px;position:absolute;left:15px;height:79px;width:150px;z-index:1; }
#TFMYEDBUXJ { vertical-align:middle;height:8pt; }
#NQCHGQZSVT {top:27px;position:absolute;left:279px;height:20px;width:72px;text-align:right;z-index:1; }
#GQEBBQASYL_DIV {top:32px;position:absolute;left:247px;height:16px;width:28px;text-align:right;z-index:1;}
BODY:not([ettl]) #GQEBBQASYL_DIV {top:32px;position:absolute;left:247px;height:16px;width:28px;}
BODY[ettl="old"] #GQEBBQASYL_DIV {top:32px;position:absolute;left:247px;height:16px;width:28px;}
BODY[ettl="yes"] #GQEBBQASYL_DIV {top:32px;position:absolute;left:247px;}
#PZFGEEQVPK {top:27px;position:absolute;left:407px;height:20px;width:72px;text-align:right;z-index:1; }
#PZFGEEQVPK_ZOOM { position:absolute;top:27px;left:480px;height:20px;width:17px;z-index:1;}
#AHDJAVIZRK_DIV {top:33px;position:absolute;left:375px;height:16px;width:28px;text-align:right;z-index:1;}
BODY:not([ettl]) #AHDJAVIZRK_DIV {top:33px;position:absolute;left:375px;height:16px;width:28px;}
BODY[ettl="old"] #AHDJAVIZRK_DIV {top:33px;position:absolute;left:375px;height:16px;width:28px;}
BODY[ettl="yes"] #AHDJAVIZRK_DIV {top:33px;position:absolute;left:375px;}
#LYJDXZJFGW {top:50px;position:absolute;left:279px;height:20px;width:200px;z-index:1; }
#LYJDXZJFGW_ZOOM { position:absolute;top:50px;left:480px;height:20px;width:17px;z-index:1;}
#CYUWCGZNEA_DIV {top:54px;position:absolute;left:223px;height:16px;width:56px;text-align:right;z-index:1;}
BODY:not([ettl]) #CYUWCGZNEA_DIV {top:54px;position:absolute;left:223px;height:16px;width:56px;}
BODY[ettl="old"] #CYUWCGZNEA_DIV {top:54px;position:absolute;left:223px;height:16px;width:56px;}
BODY[ettl="yes"] #CYUWCGZNEA_DIV {top:54px;position:absolute;left:223px;letter-spacing:-1px;}
#AOHGKXZIJG_DIV {top:105px;position:absolute;left:16px;height:21px;width:408px;overflow:hidden;white-space:nowrap;z-index:1; }
#ILJJUNMQGU_DIV {top:105px;position:absolute;left:344px;height:21px;width:288px;overflow:hidden;white-space:nowrap;z-index:1; }
#MHITXDESMW {top:72px;position:absolute;left:280px;height:20px;width:108px;z-index:1; }
#JQZIUZNQCK_DIV {top:76px;position:absolute;left:163px;height:16px;width:117px;text-align:right;z-index:1;}
BODY:not([ettl]) #JQZIUZNQCK_DIV {top:76px;position:absolute;left:163px;height:16px;width:117px;}
BODY[ettl="old"] #JQZIUZNQCK_DIV {top:76px;position:absolute;left:163px;height:16px;width:117px;}
BODY[ettl="yes"] #JQZIUZNQCK_DIV {top:76px;position:absolute;left:163px;letter-spacing:-1px;}
BODY[ettl="yes"] #ILJJUNMQGU_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #TYIWXFLLFY_DIV, #GQEBBQASYL_DIV, #AHDJAVIZRK_DIV, #CYUWCGZNEA_DIV, #JQZIUZNQCK_DIV {overflow:hidden;}
#TTRVXROIVP, #TFMYEDBUXJ_DIV, #NQCHGQZSVT, #PZFGEEQVPK, #LYJDXZJFGW, #AOHGKXZIJG_DIV, #ILJJUNMQGU_DIV, #MHITXDESMW {box-sizing : border-box;}
