.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PBGEOWBBUF { height:81px;z-index:0;}
#PBGEOWBBUF_DIV { position:relative;z-index:0;width:100%;}
#MJZOLGWVXE { height:63px;z-index:0;}
#MJZOLGWVXE_DIV { position:relative;z-index:0;width:100%;}
#HPGJXQIVYG_DIV {top:22px;position:absolute;left:13px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:22px;position:absolute;left:13px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:13px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:13px;}
#DPKVLWHCIG {top:18px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#BGHAITOPMU_DIV {top:22px;position:absolute;left:261px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:22px;position:absolute;left:261px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:261px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:261px;}
#MTJDZQTEIR {top:18px;position:absolute;left:400px;height:20px;width:80px;text-align:right;z-index:1; }
#QHXVBCMDEB {top:9px;position:absolute;left:152px;height:20px;width:624px;z-index:1; }
#QHXVBCMDEB { vertical-align:middle; }
#KAGRBEILOC {top:36px;position:absolute;left:152px;height:20px;width:132px;z-index:1; }
#FAWXPLZBPU {top:18px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#OVFXSLBYQY {top:18px;position:absolute;left:400px;height:20px;width:72px;text-align:right;z-index:1; }
#ZQEKBHAOQV {top:12px;position:absolute;left:751px;height:31px;width:40px;z-index:1;}
#INZZSZTBRT_DIV {top:13px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #INZZSZTBRT_DIV {top:13px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #INZZSZTBRT_DIV {top:13px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #INZZSZTBRT_DIV {top:13px;position:absolute;left:16px;}
#BBAELHURCV_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BBAELHURCV_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #BBAELHURCV_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #BBAELHURCV_DIV {top:40px;position:absolute;left:16px;}
#LQWWHOWUQM_DIV {top:22px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LQWWHOWUQM_DIV {top:22px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #LQWWHOWUQM_DIV {top:22px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #LQWWHOWUQM_DIV {top:22px;position:absolute;left:16px;}
#VTGQLQMLBU_DIV {top:22px;position:absolute;left:317px;height:16px;width:79px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VTGQLQMLBU_DIV {top:22px;position:absolute;left:317px;height:16px;width:79px;}
BODY[ettl="old"] #VTGQLQMLBU_DIV {top:22px;position:absolute;left:317px;height:16px;width:79px;}
BODY[ettl="yes"] #VTGQLQMLBU_DIV {top:22px;position:absolute;left:317px;}
#SNWBSRFWZT {top:11px;position:absolute;left:748px;z-index:1;clip:rect(0,40px,29px,0);}
#CZXYDCLLYZ {top:12px;position:absolute;left:655px;height:31px;width:40px;z-index:1;}
#LCFKHGNSPV {top:12px;position:absolute;left:703px;z-index:1;clip:rect(0,42px,32px,0);}
#DYMVKIQWCA {top:156px;position:absolute;left:8px;height:84px;width:776px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:9px;position:absolute;left:8px;height:147px;width:776px;height:147px;right:0px;z-index:1;overflow:auto;}
#RFQOXRTNQW {top:11px;position:absolute;left:652px;z-index:1;clip:rect(0,40px,29px,0);}
#TFFWCBBCLE {top:11px;position:absolute;left:604px;z-index:1;clip:rect(0,40px,29px,0);}
#TYIWXFLLFY_DIV {top:243px;position:absolute;left:8px;height:270px;width:776px;text-align:left;z-index:1;}
#EZFKZSHHTQ {top:11px;position:absolute;left:700px;z-index:1;clip:rect(0,40px,29px,0);}
#QEFBIKGKTK { height:54px;z-index:0;}
#QEFBIKGKTK_DIV { position:relative;z-index:0;width:100%;}
#PEJKGIUJDF_DIV {top:45px;position:absolute;left:152px;height:21px;width:354px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #PEJKGIUJDF_DIV {letter-spacing:-1px;}
#PBGEOWBBUF, #MJZOLGWVXE, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #INZZSZTBRT_DIV, #BBAELHURCV_DIV, #LQWWHOWUQM_DIV, #VTGQLQMLBU_DIV, #TYIWXFLLFY_DIV, #QEFBIKGKTK {overflow:hidden;}
#PBGEOWBBUF, #MJZOLGWVXE, #DPKVLWHCIG, #MTJDZQTEIR, #QHXVBCMDEB, #KAGRBEILOC, #FAWXPLZBPU, #OVFXSLBYQY, #QEFBIKGKTK, #PEJKGIUJDF_DIV {box-sizing : border-box;}
