.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:189px;background-color:#C0C0C0;border-width:1px;border-color:#808080;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:189px;z-index:0;width:784px;top:9px;left:8px;}
#ZCSEKJZUCO { height:42px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:42px;z-index:0;width:784px;top:9px;left:8px;}
#VKDDBMFRDF_DIV {top:22px;position:absolute;left:8px;height:16px;width:784px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#SSRCOAMDBL_DIV {top:99px;position:absolute;left:16px;height:90px;width:768px;text-align:left;z-index:1;}
#GEDJGVMCKZ {top:63px;position:absolute;left:348px;height:28px;width:40px;z-index:1;}
#AJXISNWTIP {top:63px;position:absolute;left:404px;height:28px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:71px;position:absolute;left:19px;height:14px;width:88px;text-align:left;z-index:1;}
#IDIZVJSJFR, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #SSRCOAMDBL_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#IDIZVJSJFR, #ZCSEKJZUCO {box-sizing : border-box;}
