.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:511px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:511px;z-index:0;width:776px;top:7px;left:8px;}
#QEIVEBXKFW {top:42px;position:absolute;left:144px;height:20px;width:108px;z-index:1; }
#QEIVEBXKFW_ZOOM { position:absolute;top:42px;left:253px;height:20px;width:17px;z-index:1;}
#IUARTFLDNM {top:70px;position:absolute;left:144px;height:20px;width:372px;z-index:1; }
#OUWMDLXPIS {top:70px;position:absolute;left:624px;height:20px;width:108px;z-index:1; }
#FKOHLGHPDQ {top:98px;position:absolute;left:144px;height:20px;width:252px;z-index:1; }
#FKOHLGHPDQ_ZOOM { position:absolute;top:98px;left:397px;height:20px;width:17px;z-index:1;}
#CYKHQWZLSC {top:126px;position:absolute;left:144px;height:20px;width:252px;z-index:1; }
#CYKHQWZLSC_ZOOM { position:absolute;top:126px;left:397px;height:20px;width:17px;z-index:1;}
#WWVZLGRRCI {top:126px;position:absolute;left:504px;height:20px;width:72px;text-align:right;z-index:1; }
#WWVZLGRRCI_ZOOM { position:absolute;top:126px;left:577px;height:20px;width:17px;z-index:1;}
#OXKAWWOUJN {top:154px;position:absolute;left:144px;height:20px;width:372px;z-index:1; }
#FWTFXGQZAI {top:182px;position:absolute;left:144px;height:20px;width:252px;z-index:1; }
#FWTFXGQZAI_ZOOM { position:absolute;top:182px;left:397px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:210px;position:absolute;left:144px;height:20px;width:80px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:210px;left:225px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:210px;position:absolute;left:366px;height:20px;width:80px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:210px;left:447px;height:20px;width:17px;z-index:1;}
#RWVYYKSQTM_DIV {top:209px;position:absolute;left:624px;height:21px;width:145px;overflow:hidden;white-space:nowrap;z-index:1; }
#DZAJHOZNZJ {top:238px;position:absolute;left:144px;height:20px;width:56px;z-index:1; }
#DZAJHOZNZJ_ZOOM { position:absolute;top:238px;left:201px;height:20px;width:17px;z-index:1;}
#FBVBGICYQT {top:266px;position:absolute;left:144px;height:20px;width:64px;z-index:1; }
#FBVBGICYQT_ZOOM { position:absolute;top:266px;left:209px;height:20px;width:17px;z-index:1;}
#XECGCUVQNW {top:266px;position:absolute;left:624px;height:20px;width:80px;z-index:1; }
#DZUBEERBGN {top:294px;position:absolute;left:504px;height:20px;width:56px;z-index:1;}
#FLYXRDHNYB {top:294px;position:absolute;left:624px;height:20px;width:152px;z-index:1; }
#FLYXRDHNYB { vertical-align:middle; }
#BAPCIYCOIX {top:322px;position:absolute;left:144px;height:20px;width:492px;z-index:1; }
#XPVFYUOOMG_DIV {top:350px;position:absolute;left:144px;height:21px;width:80px;overflow:hidden;white-space:nowrap;z-index:1; }
#DVVVZVWYQU_DIV {top:350px;position:absolute;left:232px;height:21px;width:71px;overflow:hidden;white-space:nowrap;z-index:1; }
#KVMSNZSHYQ_DIV {top:350px;position:absolute;left:424px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#CNLUJUMTRH_DIV {top:378px;position:absolute;left:144px;height:19px;width:488px;z-index:1; }
#CNLUJUMTRH { vertical-align:middle; }
#FXCLBAZMUC {top:364px;position:absolute;left:640px;height:32px;width:40px;z-index:1;}
#XURLGQZZMU {top:364px;position:absolute;left:688px;height:32px;width:40px;z-index:1;}
#PTXYMSWBZO {top:364px;position:absolute;left:736px;height:32px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:214px;position:absolute;left:12px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:214px;position:absolute;left:12px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:214px;position:absolute;left:12px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:214px;position:absolute;left:12px;}
#BGHAITOPMU_DIV {top:214px;position:absolute;left:246px;height:16px;width:116px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:214px;position:absolute;left:246px;height:16px;width:116px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:214px;position:absolute;left:246px;height:16px;width:116px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:214px;position:absolute;left:246px;}
#HLQSHVFXVS_DIV {top:270px;position:absolute;left:102px;height:16px;width:42px;text-align:right;z-index:1;}
BODY:not([ettl]) #HLQSHVFXVS_DIV {top:270px;position:absolute;left:102px;height:16px;width:42px;}
BODY[ettl="old"] #HLQSHVFXVS_DIV {top:270px;position:absolute;left:102px;height:16px;width:42px;}
BODY[ettl="yes"] #HLQSHVFXVS_DIV {top:270px;position:absolute;left:102px;letter-spacing:-1px;}
#TQJNOWMVHW_DIV {top:270px;position:absolute;left:232px;height:16px;width:296px;color:#0000FF;text-align:left;z-index:1;}
#IPCBNWYJLL_DIV {top:130px;position:absolute;left:429px;height:16px;width:75px;text-align:right;z-index:1;}
BODY:not([ettl]) #IPCBNWYJLL_DIV {top:130px;position:absolute;left:429px;height:16px;width:75px;}
BODY[ettl="old"] #IPCBNWYJLL_DIV {top:130px;position:absolute;left:429px;height:16px;width:75px;}
BODY[ettl="yes"] #IPCBNWYJLL_DIV {top:130px;position:absolute;left:429px;letter-spacing:-1px;}
#ZAMUVZUHHN_DIV {top:130px;position:absolute;left:66px;height:16px;width:78px;text-align:right;z-index:1;}
BODY:not([ettl]) #ZAMUVZUHHN_DIV {top:130px;position:absolute;left:66px;height:16px;width:78px;}
BODY[ettl="old"] #ZAMUVZUHHN_DIV {top:130px;position:absolute;left:66px;height:16px;width:78px;}
BODY[ettl="yes"] #ZAMUVZUHHN_DIV {top:130px;position:absolute;left:66px;letter-spacing:-1px;}
#PUJCUNGGCR_DIV {top:102px;position:absolute;left:69px;height:16px;width:75px;text-align:right;z-index:1;}
BODY:not([ettl]) #PUJCUNGGCR_DIV {top:102px;position:absolute;left:69px;height:16px;width:75px;}
BODY[ettl="old"] #PUJCUNGGCR_DIV {top:102px;position:absolute;left:69px;height:16px;width:75px;}
BODY[ettl="yes"] #PUJCUNGGCR_DIV {top:102px;position:absolute;left:69px;letter-spacing:-1px;}
#MILQDXSPXU_DIV {top:74px;position:absolute;left:64px;height:16px;width:80px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #MILQDXSPXU_DIV {top:74px;position:absolute;left:64px;height:16px;width:80px;}
BODY[ettl="old"] #MILQDXSPXU_DIV {top:74px;position:absolute;left:64px;height:16px;width:80px;}
BODY[ettl="yes"] #MILQDXSPXU_DIV {top:74px;position:absolute;left:64px;}
#BMUWSQCGLG_DIV {top:6px;position:absolute;left:8px;height:19px;width:776px;color:#0000FF;background-color:#FFFF00;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#FGMOCXNBFY_DIV {top:28px;position:absolute;left:376px;height:14px;width:88px;text-align:left;z-index:1;}
#CXSMATIXZS_DIV {top:270px;position:absolute;left:592px;height:16px;width:32px;text-align:right;z-index:1;}
BODY:not([ettl]) #CXSMATIXZS_DIV {top:270px;position:absolute;left:592px;height:16px;width:32px;}
BODY[ettl="old"] #CXSMATIXZS_DIV {top:270px;position:absolute;left:592px;height:16px;width:32px;}
BODY[ettl="yes"] #CXSMATIXZS_DIV {top:270px;position:absolute;left:592px;letter-spacing:-1px;}
#MAKXXLLXNA_DIV {top:74px;position:absolute;left:549px;height:16px;width:71px;text-align:right;z-index:1;}
BODY:not([ettl]) #MAKXXLLXNA_DIV {top:74px;position:absolute;left:549px;height:16px;width:71px;}
BODY[ettl="old"] #MAKXXLLXNA_DIV {top:74px;position:absolute;left:549px;height:16px;width:71px;}
BODY[ettl="yes"] #MAKXXLLXNA_DIV {top:74px;position:absolute;left:549px;letter-spacing:-1px;}
#DYMVKIQWCA {top:427px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#BRFEXEKXWS_DIV {top:158px;position:absolute;left:64px;height:16px;width:80px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BRFEXEKXWS_DIV {top:158px;position:absolute;left:64px;height:16px;width:80px;}
BODY[ettl="old"] #BRFEXEKXWS_DIV {top:158px;position:absolute;left:64px;height:16px;width:80px;}
BODY[ettl="yes"] #BRFEXEKXWS_DIV {top:158px;position:absolute;left:64px;}
#WGMJUTZBBY_DIV {top:186px;position:absolute;left:24px;height:16px;width:120px;text-align:right;z-index:1;}
BODY:not([ettl]) #WGMJUTZBBY_DIV {top:186px;position:absolute;left:24px;height:16px;width:120px;}
BODY[ettl="old"] #WGMJUTZBBY_DIV {top:186px;position:absolute;left:24px;height:16px;width:120px;}
BODY[ettl="yes"] #WGMJUTZBBY_DIV {top:186px;position:absolute;left:24px;}
#JLHFWAWERN_DIV {top:242px;position:absolute;left:70px;height:16px;width:74px;text-align:right;z-index:1;}
BODY:not([ettl]) #JLHFWAWERN_DIV {top:242px;position:absolute;left:70px;height:16px;width:74px;}
BODY[ettl="old"] #JLHFWAWERN_DIV {top:242px;position:absolute;left:70px;height:16px;width:74px;}
BODY[ettl="yes"] #JLHFWAWERN_DIV {top:242px;position:absolute;left:70px;letter-spacing:-1px;}
#BUHXXVSCZH_DIV {top:242px;position:absolute;left:224px;height:16px;width:416px;color:#0000FF;text-align:left;z-index:1;}
#SKZNSKGZRP_DIV {top:46px;position:absolute;left:37px;height:16px;width:107px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #SKZNSKGZRP_DIV {top:46px;position:absolute;left:37px;height:16px;width:107px;}
BODY[ettl="old"] #SKZNSKGZRP_DIV {top:46px;position:absolute;left:37px;height:16px;width:107px;}
BODY[ettl="yes"] #SKZNSKGZRP_DIV {top:46px;position:absolute;left:37px;}
#FPLBMQHLCU {top:294px;position:absolute;left:144px;height:20px;width:352px;z-index:1; }
#QRXJMBXMQM_DIV {top:298px;position:absolute;left:58px;height:16px;width:86px;text-align:right;z-index:1;}
BODY:not([ettl]) #QRXJMBXMQM_DIV {top:298px;position:absolute;left:58px;height:16px;width:86px;}
BODY[ettl="old"] #QRXJMBXMQM_DIV {top:298px;position:absolute;left:58px;height:16px;width:86px;}
BODY[ettl="yes"] #QRXJMBXMQM_DIV {top:298px;position:absolute;left:58px;letter-spacing:-1px;}
#PIFFTCKSCU_DIV {top:298px;position:absolute;left:577px;height:16px;width:47px;text-align:right;z-index:1;}
BODY:not([ettl]) #PIFFTCKSCU_DIV {top:298px;position:absolute;left:577px;height:16px;width:47px;}
BODY[ettl="old"] #PIFFTCKSCU_DIV {top:298px;position:absolute;left:577px;height:16px;width:47px;}
BODY[ettl="yes"] #PIFFTCKSCU_DIV {top:298px;position:absolute;left:577px;letter-spacing:-1px;}
#LDWRKOVJHN_DIV {top:41px;position:absolute;left:624px;height:21px;width:118px;overflow:hidden;white-space:nowrap;z-index:1; }
#OJOGFQEVQE_DIV {top:377px;position:absolute;left:77px;height:16px;width:67px;text-align:right;z-index:1;}
BODY:not([ettl]) #OJOGFQEVQE_DIV {top:377px;position:absolute;left:77px;height:16px;width:67px;}
BODY[ettl="old"] #OJOGFQEVQE_DIV {top:377px;position:absolute;left:77px;height:16px;width:67px;}
BODY[ettl="yes"] #OJOGFQEVQE_DIV {top:377px;position:absolute;left:77px;letter-spacing:-1px;}
#QJBLEONCDX_DIV {top:352px;position:absolute;left:85px;height:16px;width:59px;text-align:right;z-index:1;}
BODY:not([ettl]) #QJBLEONCDX_DIV {top:352px;position:absolute;left:85px;height:16px;width:59px;}
BODY[ettl="old"] #QJBLEONCDX_DIV {top:352px;position:absolute;left:85px;height:16px;width:59px;}
BODY[ettl="yes"] #QJBLEONCDX_DIV {top:352px;position:absolute;left:85px;letter-spacing:-1px;}
#OBJZKBQZTK_DIV {top:326px;position:absolute;left:29px;height:16px;width:115px;text-align:right;z-index:1;}
BODY:not([ettl]) #OBJZKBQZTK_DIV {top:326px;position:absolute;left:29px;height:16px;width:115px;}
BODY[ettl="old"] #OBJZKBQZTK_DIV {top:326px;position:absolute;left:29px;height:16px;width:115px;}
BODY[ettl="yes"] #OBJZKBQZTK_DIV {top:326px;position:absolute;left:29px;letter-spacing:-1px;}
#VFBJBVZFDJ_DIV {top:97px;position:absolute;left:624px;height:21px;width:152px;overflow:hidden;white-space:nowrap;z-index:1; }
#PBRMCZVHNN_DIV {top:404px;position:absolute;left:144px;height:19px;width:262px;z-index:1; }
#PBRMCZVHNN { vertical-align:middle; }
#ZWFWRKARRA_DIV {top:403px;position:absolute;left:77px;height:16px;width:67px;text-align:right;z-index:1;}
BODY:not([ettl]) #ZWFWRKARRA_DIV {top:403px;position:absolute;left:77px;height:16px;width:67px;}
BODY[ettl="old"] #ZWFWRKARRA_DIV {top:403px;position:absolute;left:77px;height:16px;width:67px;}
BODY[ettl="yes"] #ZWFWRKARRA_DIV {top:403px;position:absolute;left:77px;letter-spacing:-1px;}
BODY[ettl="yes"] #RWVYYKSQTM_DIV, BODY[ettl="yes"] #XPVFYUOOMG_DIV, BODY[ettl="yes"] #DVVVZVWYQU_DIV, BODY[ettl="yes"] #KVMSNZSHYQ_DIV, BODY[ettl="yes"] #LDWRKOVJHN_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #HLQSHVFXVS_DIV, #TQJNOWMVHW_DIV, #IPCBNWYJLL_DIV, #ZAMUVZUHHN_DIV, #PUJCUNGGCR_DIV, #MILQDXSPXU_DIV, #BMUWSQCGLG_DIV, #FGMOCXNBFY_DIV, #CXSMATIXZS_DIV, #MAKXXLLXNA_DIV, #BRFEXEKXWS_DIV, #WGMJUTZBBY_DIV, #JLHFWAWERN_DIV, #BUHXXVSCZH_DIV, #SKZNSKGZRP_DIV, #QRXJMBXMQM_DIV, #PIFFTCKSCU_DIV, #OJOGFQEVQE_DIV, #QJBLEONCDX_DIV, #OBJZKBQZTK_DIV, #ZWFWRKARRA_DIV {overflow:hidden;}
#XLVFHSOSYH, #QEIVEBXKFW, #IUARTFLDNM, #OUWMDLXPIS, #FKOHLGHPDQ, #CYKHQWZLSC, #WWVZLGRRCI, #OXKAWWOUJN, #FWTFXGQZAI, #DPKVLWHCIG, #MTJDZQTEIR, #RWVYYKSQTM_DIV, #DZAJHOZNZJ, #FBVBGICYQT, #XECGCUVQNW, #FLYXRDHNYB, #BAPCIYCOIX, #XPVFYUOOMG_DIV, #DVVVZVWYQU_DIV, #KVMSNZSHYQ_DIV, #CNLUJUMTRH_DIV, #FPLBMQHLCU, #LDWRKOVJHN_DIV, #VFBJBVZFDJ_DIV, #PBRMCZVHNN_DIV {box-sizing : border-box;}
