.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.TMQVCJOIVG_DIV { position:absolute;top:1px;left:64px;height:16px;width:80px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.NCBNLXUPJW_DIV { position:absolute;top:1px;left:64px;height:16px;width:80px;overflow:hidden;text-align:left;z-index:1;}
.VIKJFKDXAW_DIV { position:absolute;top:1px;left:152px;height:16px;width:88px;overflow:hidden;text-align:left;z-index:1;}
.YIZUNOKTNJ_DIV { position:absolute;top:1px;left:144px;height:16px;width:88px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.LTUMTYITPB_DIV { position:absolute;top:1px;left:312px;height:16px;width:104px;overflow:hidden;text-align:right;z-index:1;}
.GBJTZQVVJR_DIV { position:absolute;top:1px;left:312px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .GBJTZQVVJR_DIV { position:absolute;top:1px;left:312px;height:16px;width:104px;}
BODY[ettl="old"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:312px;height:16px;width:104px;}
BODY[ettl="yes"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:312px;}
.UPLWYYLOLS_DIV { position:absolute;top:1px;left:248px;height:16px;width:56px;overflow:hidden;text-align:center;z-index:1;}
.KJNNJAUWPS_DIV { position:absolute;top:1px;left:248px;height:16px;width:56px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.HLSUEMHNWS_DIV { position:absolute;top:1px;left:424px;height:16px;width:104px;overflow:hidden;text-align:right;z-index:1;}
.UOYXXTLXBH_DIV { position:absolute;top:1px;left:424px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .UOYXXTLXBH_DIV { position:absolute;top:1px;left:424px;height:16px;width:104px;}
BODY[ettl="old"] .UOYXXTLXBH_DIV { position:absolute;top:1px;left:424px;height:16px;width:104px;}
BODY[ettl="yes"] .UOYXXTLXBH_DIV { position:absolute;top:1px;left:424px;}
.XZUXXWWVEZ { position:absolute;top:1px;left:8px;z-index:1;clip:rect(0,16px,16px,0);}
.AWKKPZGIBE { position:absolute;top:1px;left:32px;z-index:1;clip:rect(0,16px,16px,0);}
.TMQVCJOIVG_DIV, .YIZUNOKTNJ_DIV, .GBJTZQVVJR_DIV, .KJNNJAUWPS_DIV, .UOYXXTLXBH_DIV {overflow:hidden;}
