.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:665px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:665px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#WIRRRKLEWO_DIV {top:63px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;text-align:right;z-index:1;}
BODY:not([ettl]) #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="old"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="yes"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;letter-spacing:-1px;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:688px;height:14px;width:88px;text-align:left;z-index:1;}
#RVRMUTKMAU {top:70px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#XWPYHZIJDE {top:70px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#GYZZZNIYKJ {top:105px;position:absolute;left:640px;height:31px;width:40px;z-index:1;}
#JAKNEJNBKZ_DIV {top:63px;position:absolute;left:264px;height:21px;width:156px;overflow:hidden;white-space:nowrap;z-index:1; }
#TIIMQHOLUY {top:70px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#SIDIVTTNJS {top:63px;position:absolute;left:576px;height:20px;width:42px;text-align:right;z-index:1; }
#QETNOGRJRL_DIV {top:67px;position:absolute;left:481px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #QETNOGRJRL_DIV {top:67px;position:absolute;left:481px;height:16px;width:95px;}
BODY[ettl="old"] #QETNOGRJRL_DIV {top:67px;position:absolute;left:481px;height:16px;width:95px;}
BODY[ettl="yes"] #QETNOGRJRL_DIV {top:67px;position:absolute;left:481px;letter-spacing:-1px;}
#DYMVKIQWCA {top:581px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:231px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#CFNJOPFSQY_DIV {top:84px;position:absolute;left:264px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#GPCVFHRPCD {top:105px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#WWEZMGEFAG_DIV {top:105px;position:absolute;left:264px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#MVXXCZOQGP {top:380px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#JSKZJOHJOM {top:105px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#DMWAJLXSEC {top:70px;position:absolute;left:640px;height:31px;width:40px;z-index:1;}
#XLIPQLYHVI_DIV {top:126px;position:absolute;left:264px;height:21px;width:368px;overflow:hidden;white-space:nowrap;z-index:1; }
#QLXXCYGEDK_DIV {top:126px;position:absolute;left:88px;height:21px;width:168px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #JAKNEJNBKZ_DIV, BODY[ettl="yes"] #CFNJOPFSQY_DIV, BODY[ettl="yes"] #WWEZMGEFAG_DIV, BODY[ettl="yes"] #QLXXCYGEDK_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #NJQSNRJAXM_DIV, #FGMOCXNBFY_DIV, #QETNOGRJRL_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #WIRRRKLEWO_DIV, #JAKNEJNBKZ_DIV, #SIDIVTTNJS, #CFNJOPFSQY_DIV, #WWEZMGEFAG_DIV, #XLIPQLYHVI_DIV, #QLXXCYGEDK_DIV {box-sizing : border-box;}
