.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
.CZYQNRWDQN_DIV { position:absolute;top:3px;left:8px;height:18px;width:128px;overflow:hidden;text-align:left;z-index:1;}
.IUTQLNZYWK_DIV { position:absolute;top:3px;left:144px;height:18px;width:296px;overflow:hidden;text-align:left;z-index:1;}
.RWZHCYKMWT_DIV { position:absolute;top:3px;left:448px;height:18px;width:84px;overflow:hidden;text-align:left;z-index:1;}
.FMXBRLTMAW_DIV { position:absolute;top:3px;left:536px;height:18px;width:84px;overflow:hidden;text-align:left;z-index:1;}
.NJGKFUQNMM_DIV { position:absolute;top:3px;left:624px;height:18px;width:32px;overflow:hidden;text-align:left;z-index:1;}
.JGCNWDDZIJ_DIV { position:absolute;top:4px;left:664px;height:18px;width:56px;overflow:hidden;text-align:left;z-index:1;}
.QRVEXXCJXM_DIV { position:absolute;top:3px;left:8px;height:19px;width:140px;text-align:left;font-family:Arial;font-size:10pt;font-weight:bold;z-index:1;}
.WPNWIYQXIP_DIV { position:absolute;top:3px;left:448px;height:19px;width:80px;text-align:center;font-family:Arial;font-size:10pt;font-weight:bold;z-index:1;}
.BYBZOTVVXI_DIV { position:absolute;top:3px;left:536px;height:19px;width:80px;text-align:center;font-family:Arial;font-size:10pt;font-weight:bold;z-index:1;}
.FZSJLOJAET_DIV { position:absolute;top:3px;left:624px;height:19px;width:28px;text-align:center;font-family:Arial;font-size:10pt;font-weight:bold;z-index:1;}
.QEDOCJTBWD_DIV { position:absolute;top:3px;left:664px;height:19px;width:56px;text-align:center;font-family:Arial;font-size:10pt;font-weight:bold;z-index:1;}
.QRVEXXCJXM_DIV, .WPNWIYQXIP_DIV, .BYBZOTVVXI_DIV, .FZSJLOJAET_DIV, .QEDOCJTBWD_DIV {overflow:hidden;}
