.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.CZYQNRWDQN_DIV { position:absolute;top:2px;left:8px;height:16px;width:128px;overflow:hidden;text-align:left;z-index:1;}
.IUTQLNZYWK_DIV { position:absolute;top:2px;left:144px;height:16px;width:296px;overflow:hidden;text-align:left;z-index:1;}
.RWZHCYKMWT_DIV { position:absolute;top:2px;left:448px;height:16px;width:80px;overflow:hidden;text-align:left;z-index:1;}
.FMXBRLTMAW_DIV { position:absolute;top:2px;left:536px;height:16px;width:84px;overflow:hidden;text-align:left;z-index:1;}
.NJGKFUQNMM_DIV { position:absolute;top:2px;left:624px;height:16px;width:32px;overflow:hidden;text-align:left;z-index:1;}
.JGCNWDDZIJ_DIV { position:absolute;top:2px;left:664px;height:16px;width:56px;overflow:hidden;text-align:left;z-index:1;}
.QRVEXXCJXM_DIV { position:absolute;top:3px;left:8px;height:17px;width:144px;text-align:left;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
.WPNWIYQXIP_DIV { position:absolute;top:3px;left:448px;height:17px;width:80px;text-align:left;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
.BYBZOTVVXI_DIV { position:absolute;top:3px;left:536px;height:17px;width:80px;text-align:left;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
.FZSJLOJAET_DIV { position:absolute;top:3px;left:624px;height:17px;width:32px;text-align:left;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
.QEDOCJTBWD_DIV { position:absolute;top:3px;left:664px;height:17px;width:56px;text-align:left;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
.QRVEXXCJXM_DIV, .WPNWIYQXIP_DIV, .BYBZOTVVXI_DIV, .FZSJLOJAET_DIV, .QEDOCJTBWD_DIV {overflow:hidden;}
