.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:469px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:469px;z-index:0;width:776px;top:0px;left:0px;}
#FGMOCXNBFY_DIV {top:22px;position:absolute;left:3px;height:14px;width:16px;text-align:left;z-index:1;}
#GTMJENMCMN {top:22px;position:absolute;left:123px;height:20px;width:36px;text-align:right;z-index:1; }
#NMNMXABGKO {top:7px;position:absolute;left:368px;height:49px;width:400px;z-index:1;}
#FSXHJAAZGG {top:7px;position:absolute;left:224px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:11px;position:absolute;left:176px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:11px;position:absolute;left:176px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:11px;position:absolute;left:176px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:11px;position:absolute;left:176px;letter-spacing:-1px;}
#CLVVMIYSQG {top:35px;position:absolute;left:224px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:39px;position:absolute;left:176px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:39px;position:absolute;left:176px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:39px;position:absolute;left:176px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:39px;position:absolute;left:176px;}
#AJXISNWTIP {top:425px;position:absolute;left:728px;height:28px;width:40px;z-index:1;}
#YIXZTOKOBR_DIV {top:26px;position:absolute;left:27px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:26px;position:absolute;left:27px;height:16px;width:95px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:26px;position:absolute;left:27px;height:16px;width:95px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:26px;position:absolute;left:27px;letter-spacing:-1px;}
#YANYATMIPH { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#YANYATMIPH_DIV { position:absolute;height:1px;z-index:0;width:776px;top:167px;left:0px;}
#JBNBDKBIAJ {top:425px;position:absolute;left:680px;height:28px;width:40px;z-index:1;}
#MPCMAMHQST {top:425px;position:absolute;left:632px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:334px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:180px;position:absolute;left:8px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#RLHBNGNSUG {top:425px;position:absolute;left:584px;height:28px;width:40px;z-index:1;}
#LNLUBIIALG {top:430px;position:absolute;left:12px;height:20px;width:564px;z-index:1; }
#HNAQCEUJMB_DIV {top:70px;position:absolute;left:8px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#UCCWMDWDFX {top:70px;position:absolute;left:271px;height:20px;width:326px;z-index:1; }
#UCCWMDWDFX_ZOOM { position:absolute;top:70px;left:598px;height:20px;width:17px;z-index:1;}
#NUXUIBOQWB_DIV {top:74px;position:absolute;left:175px;height:16px;width:92px;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NUXUIBOQWB_DIV {top:74px;position:absolute;left:175px;height:16px;width:92px;}
BODY[ettl="old"] #NUXUIBOQWB_DIV {top:74px;position:absolute;left:175px;height:16px;width:92px;}
BODY[ettl="yes"] #NUXUIBOQWB_DIV {top:74px;position:absolute;left:175px;}
#SOEEFGGSXW_DIV {top:74px;position:absolute;left:620px;height:16px;width:144px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#XQBOPDZHKF_DIV {top:91px;position:absolute;left:8px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#MVMFEJNTIZ {top:112px;position:absolute;left:368px;height:49px;width:400px;z-index:1;}
#ORRGPKNHYL_DIV {top:126px;position:absolute;left:8px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
#MQNXNCXTLE {top:126px;position:absolute;left:280px;height:20px;width:66px;text-align:right;z-index:1; }
#FZUQJEOESI_DIV {top:130px;position:absolute;left:167px;height:16px;width:113px;text-align:right;z-index:1;}
BODY:not([ettl]) #FZUQJEOESI_DIV {top:130px;position:absolute;left:167px;height:16px;width:113px;}
BODY[ettl="old"] #FZUQJEOESI_DIV {top:130px;position:absolute;left:167px;height:16px;width:113px;}
BODY[ettl="yes"] #FZUQJEOESI_DIV {top:130px;position:absolute;left:167px;letter-spacing:-1px;}
#UKCGJKFOCN_DIV {top:91px;position:absolute;left:192px;height:21px;width:176px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #HNAQCEUJMB_DIV, BODY[ettl="yes"] #XQBOPDZHKF_DIV, BODY[ettl="yes"] #UKCGJKFOCN_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #FGMOCXNBFY_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YIXZTOKOBR_DIV, #YANYATMIPH, #NUXUIBOQWB_DIV, #SOEEFGGSXW_DIV, #FZUQJEOESI_DIV {overflow:hidden;}
#TTRVXROIVP, #GTMJENMCMN, #FSXHJAAZGG, #CLVVMIYSQG, #YANYATMIPH, #LNLUBIIALG, #HNAQCEUJMB_DIV, #UCCWMDWDFX, #XQBOPDZHKF_DIV, #ORRGPKNHYL_DIV, #MQNXNCXTLE, #UKCGJKFOCN_DIV {box-sizing : border-box;}
