.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#APQNRUGJDE { height:42px;background-color:#DD2C22;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#APQNRUGJDE_DIV { position:absolute;height:42px;z-index:0;width:440px;top:7px;left:8px;}
#TTRVXROIVP { height:126px;background-color:#0080C0;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:126px;z-index:0;width:440px;top:49px;left:8px;}
#DMMJSVFBEV_DIV {top:56px;position:absolute;left:16px;height:29px;width:424px;color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#PLELOLLGVB_DIV {top:14px;position:absolute;left:16px;height:29px;width:424px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#UCCWMDWDFX {top:98px;position:absolute;left:48px;height:20px;width:72px;z-index:1; }
#GEDJGVMCKZ {top:91px;position:absolute;left:384px;height:25px;width:24px;z-index:1;}
#AJXISNWTIP {top:91px;position:absolute;left:416px;height:25px;width:24px;z-index:1;}
#BKGRSEWVYY {top:98px;position:absolute;left:200px;height:20px;width:66px;overflow:auto;z-index:1; }
#AWGWWPNBYO_DIV {top:126px;position:absolute;left:16px;height:42px;width:424px;color:#FFFF00;text-align:center;z-index:1;}
#APQNRUGJDE, #TTRVXROIVP, #DMMJSVFBEV_DIV, #PLELOLLGVB_DIV, #AWGWWPNBYO_DIV {overflow:hidden;}
#APQNRUGJDE, #TTRVXROIVP, #UCCWMDWDFX, #BKGRSEWVYY {box-sizing : border-box;}
