.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PBGEOWBBUF { height:54px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#PBGEOWBBUF_DIV { position:absolute;height:54px;z-index:0;width:504px;top:9px;left:8px;}
#MJZOLGWVXE { height:81px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#MJZOLGWVXE_DIV { position:absolute;height:81px;z-index:0;width:504px;top:63px;left:8px;}
#ZGQOPSMEPX { height:90px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#ZGQOPSMEPX_DIV { position:absolute;height:90px;z-index:0;width:504px;top:144px;left:8px;}
#HPGJXQIVYG_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:40px;position:absolute;left:16px;}
#DPKVLWHCIG {top:36px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#BGHAITOPMU_DIV {top:40px;position:absolute;left:241px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:40px;position:absolute;left:241px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:40px;position:absolute;left:241px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:40px;position:absolute;left:241px;}
#MTJDZQTEIR {top:36px;position:absolute;left:377px;height:20px;width:80px;text-align:right;z-index:1; }
#QHXVBCMDEB {top:90px;position:absolute;left:152px;height:20px;width:352px;z-index:1; }
#QHXVBCMDEB { vertical-align:middle; }
#KAGRBEILOC {top:117px;position:absolute;left:152px;height:20px;width:132px;z-index:1; }
#FAWXPLZBPU {top:171px;position:absolute;left:152px;height:20px;width:80px;text-align:right;z-index:1; }
#OVFXSLBYQY {top:171px;position:absolute;left:400px;height:20px;width:72px;text-align:right;z-index:1; }
#RROILCAWGO {top:198px;position:absolute;left:224px;height:31px;width:40px;z-index:1;}
#ZQEKBHAOQV {top:198px;position:absolute;left:272px;height:31px;width:40px;z-index:1;}
#LICLPYJEJC_DIV {top:15px;position:absolute;left:13px;height:16px;width:173px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#INZZSZTBRT_DIV {top:94px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #INZZSZTBRT_DIV {top:94px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #INZZSZTBRT_DIV {top:94px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #INZZSZTBRT_DIV {top:94px;position:absolute;left:16px;}
#BBAELHURCV_DIV {top:121px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BBAELHURCV_DIV {top:121px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #BBAELHURCV_DIV {top:121px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #BBAELHURCV_DIV {top:121px;position:absolute;left:16px;}
#DENDEAWNFG_DIV {top:69px;position:absolute;left:13px;height:16px;width:173px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#KEMLMHUEFN_DIV {top:150px;position:absolute;left:13px;height:16px;width:173px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LQWWHOWUQM_DIV {top:175px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LQWWHOWUQM_DIV {top:175px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #LQWWHOWUQM_DIV {top:175px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #LQWWHOWUQM_DIV {top:175px;position:absolute;left:16px;}
#VTGQLQMLBU_DIV {top:175px;position:absolute;left:317px;height:16px;width:79px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VTGQLQMLBU_DIV {top:175px;position:absolute;left:317px;height:16px;width:79px;}
BODY[ettl="old"] #VTGQLQMLBU_DIV {top:175px;position:absolute;left:317px;height:16px;width:79px;}
BODY[ettl="yes"] #VTGQLQMLBU_DIV {top:175px;position:absolute;left:317px;}
#SNWBSRFWZT {top:38px;position:absolute;left:486px;z-index:1;clip:rect(0,21px,18px,0);}
#PBGEOWBBUF, #MJZOLGWVXE, #ZGQOPSMEPX, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #LICLPYJEJC_DIV, #INZZSZTBRT_DIV, #BBAELHURCV_DIV, #DENDEAWNFG_DIV, #KEMLMHUEFN_DIV, #LQWWHOWUQM_DIV, #VTGQLQMLBU_DIV {overflow:hidden;}
#PBGEOWBBUF, #MJZOLGWVXE, #ZGQOPSMEPX, #DPKVLWHCIG, #MTJDZQTEIR, #QHXVBCMDEB, #KAGRBEILOC, #FAWXPLZBPU, #OVFXSLBYQY {box-sizing : border-box;}
