.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:423px;background-color:#C0C0C0;border-width:1px;border-color:#008040;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:423px;z-index:0;width:776px;top:9px;left:8px;}
#RROILCAWGO {top:396px;position:absolute;left:688px;height:29px;width:40px;z-index:1;}
#ZQEKBHAOQV {top:396px;position:absolute;left:736px;height:29px;width:40px;z-index:1;}
#TJVNAGXDHC {top:27px;position:absolute;left:16px;height:20px;width:108px;z-index:1; }
#HWULSRGDNM_DIV {top:9px;position:absolute;left:8px;height:16px;width:776px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OMJUPGXWIC_DIV {top:109px;position:absolute;left:19px;height:16px;width:137px;text-align:right;z-index:1;}
BODY:not([ettl]) #OMJUPGXWIC_DIV {top:109px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="old"] #OMJUPGXWIC_DIV {top:109px;position:absolute;left:19px;height:16px;width:137px;}
BODY[ettl="yes"] #OMJUPGXWIC_DIV {top:109px;position:absolute;left:19px;}
#EAQLLTYHOL_DIV {top:82px;position:absolute;left:51px;height:16px;width:105px;text-align:right;z-index:1;}
BODY:not([ettl]) #EAQLLTYHOL_DIV {top:82px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="old"] #EAQLLTYHOL_DIV {top:82px;position:absolute;left:51px;height:16px;width:105px;}
BODY[ettl="yes"] #EAQLLTYHOL_DIV {top:82px;position:absolute;left:51px;}
#QMLRYBDBVX_DIV {top:55px;position:absolute;left:16px;height:16px;width:140px;text-align:right;z-index:1;}
BODY:not([ettl]) #QMLRYBDBVX_DIV {top:55px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="old"] #QMLRYBDBVX_DIV {top:55px;position:absolute;left:16px;height:16px;width:140px;}
BODY[ettl="yes"] #QMLRYBDBVX_DIV {top:55px;position:absolute;left:16px;}
#BCFQRQNZJM {top:51px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#BCFQRQNZJM_ZOOM { position:absolute;top:51px;left:207px;height:20px;width:17px;z-index:1;}
#AKGZOBFEHJ {top:51px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#MKGCFMDIFR_DIV {top:109px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#HEAYXIPDHR {top:78px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#HEAYXIPDHR_ZOOM { position:absolute;top:78px;left:207px;height:20px;width:17px;z-index:1;}
#PMYHCHZIWV {top:78px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#WINLROSAWR_DIV {top:82px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#MUJANTNTBM {top:105px;position:absolute;left:160px;height:20px;width:46px;z-index:1; }
#MUJANTNTBM_ZOOM { position:absolute;top:105px;left:207px;height:20px;width:17px;z-index:1;}
#UFRMQEXWER {top:105px;position:absolute;left:680px;height:20px;width:32px;text-align:right;z-index:1; }
#OVBLOKMXTL_DIV {top:55px;position:absolute;left:232px;height:16px;width:432px;color:#0000FF;text-align:left;z-index:1;}
#DRGPYGQDOR_DIV {top:135px;position:absolute;left:8px;height:16px;width:776px;text-align:center;z-index:1;}
#ORCUTDLTMS_DIV {top:33px;position:absolute;left:16px;height:16px;width:456px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VTQIWWWKBO_DIV {top:33px;position:absolute;left:528px;height:16px;width:184px;color:#0000FF;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VTQIWWWKBO_DIV {top:33px;position:absolute;left:528px;height:16px;width:184px;}
BODY[ettl="old"] #VTQIWWWKBO_DIV {top:33px;position:absolute;left:528px;height:16px;width:184px;}
BODY[ettl="yes"] #VTQIWWWKBO_DIV {top:33px;position:absolute;left:528px;}
#KGWDOFUOWE {top:180px;position:absolute;left:160px;height:20px;width:78px;z-index:1; }
#KGWDOFUOWE_ZOOM { position:absolute;top:180px;left:239px;height:20px;width:17px;z-index:1;}
#LYSAOMHYTT_DIV {top:184px;position:absolute;left:6px;height:16px;width:154px;text-align:right;z-index:1;}
BODY:not([ettl]) #LYSAOMHYTT_DIV {top:184px;position:absolute;left:6px;height:16px;width:154px;}
BODY[ettl="old"] #LYSAOMHYTT_DIV {top:184px;position:absolute;left:6px;height:16px;width:154px;}
BODY[ettl="yes"] #LYSAOMHYTT_DIV {top:184px;position:absolute;left:6px;letter-spacing:-1px;}
#JOCPJKPIZR_DIV {top:184px;position:absolute;left:264px;height:16px;width:448px;color:#0000FF;text-align:left;z-index:1;}
#TGAEFMGYHI_DIV {top:153px;position:absolute;left:8px;height:16px;width:776px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GWFURCXOUF_DIV {top:207px;position:absolute;left:8px;height:16px;width:776px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#UIYRMZBTXN {top:234px;position:absolute;left:160px;height:20px;width:40px;z-index:1; }
#UIYRMZBTXN_ZOOM { position:absolute;top:234px;left:201px;height:20px;width:17px;z-index:1;}
#HSXHLMNVRG_DIV {top:238px;position:absolute;left:80px;height:16px;width:80px;text-align:right;z-index:1;}
BODY:not([ettl]) #HSXHLMNVRG_DIV {top:238px;position:absolute;left:80px;height:16px;width:80px;}
BODY[ettl="old"] #HSXHLMNVRG_DIV {top:238px;position:absolute;left:80px;height:16px;width:80px;}
BODY[ettl="yes"] #HSXHLMNVRG_DIV {top:238px;position:absolute;left:80px;letter-spacing:-1px;}
#UHICKFPGEL_DIV {top:238px;position:absolute;left:224px;height:16px;width:448px;color:#0000FF;text-align:left;z-index:1;}
#WTTMHORXIC {top:261px;position:absolute;left:160px;height:20px;width:40px;z-index:1; }
#WTTMHORXIC_ZOOM { position:absolute;top:261px;left:201px;height:20px;width:17px;z-index:1;}
#ZXJRLOBYSB_DIV {top:265px;position:absolute;left:80px;height:16px;width:80px;text-align:right;z-index:1;}
BODY:not([ettl]) #ZXJRLOBYSB_DIV {top:265px;position:absolute;left:80px;height:16px;width:80px;}
BODY[ettl="old"] #ZXJRLOBYSB_DIV {top:265px;position:absolute;left:80px;height:16px;width:80px;}
BODY[ettl="yes"] #ZXJRLOBYSB_DIV {top:265px;position:absolute;left:80px;letter-spacing:-1px;}
#JPSRYRGJWE_DIV {top:265px;position:absolute;left:224px;height:16px;width:448px;color:#0000FF;text-align:left;z-index:1;}
#IEFIVEJHWI {top:288px;position:absolute;left:160px;height:20px;width:40px;z-index:1; }
#IEFIVEJHWI_ZOOM { position:absolute;top:288px;left:201px;height:20px;width:17px;z-index:1;}
#IHHARYGXBL_DIV {top:292px;position:absolute;left:64px;height:16px;width:96px;text-align:right;z-index:1;}
BODY:not([ettl]) #IHHARYGXBL_DIV {top:292px;position:absolute;left:64px;height:16px;width:96px;}
BODY[ettl="old"] #IHHARYGXBL_DIV {top:292px;position:absolute;left:64px;height:16px;width:96px;}
BODY[ettl="yes"] #IHHARYGXBL_DIV {top:292px;position:absolute;left:64px;}
#MHAGFLZFVW_DIV {top:292px;position:absolute;left:224px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#DPTVOOMBGI_DIV {top:314px;position:absolute;left:8px;height:16px;width:776px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#BYFWYCWDSS {top:342px;position:absolute;left:160px;height:20px;width:42px;text-align:right;z-index:1; }
#XEOWJEFHMR_DIV {top:346px;position:absolute;left:68px;height:16px;width:92px;text-align:right;z-index:1;}
BODY:not([ettl]) #XEOWJEFHMR_DIV {top:346px;position:absolute;left:68px;height:16px;width:92px;}
BODY[ettl="old"] #XEOWJEFHMR_DIV {top:346px;position:absolute;left:68px;height:16px;width:92px;}
BODY[ettl="yes"] #XEOWJEFHMR_DIV {top:346px;position:absolute;left:68px;letter-spacing:-1px;}
#TDMTQHVPZW_DIV {top:346px;position:absolute;left:208px;height:16px;width:92px;text-align:left;z-index:1;}
#JMJDZQCPOM {top:369px;position:absolute;left:160px;height:20px;width:616px;z-index:1; }
#YQUXOOFUTK_DIV {top:373px;position:absolute;left:8px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #YQUXOOFUTK_DIV {top:373px;position:absolute;left:8px;height:16px;width:152px;}
BODY[ettl="old"] #YQUXOOFUTK_DIV {top:373px;position:absolute;left:8px;height:16px;width:152px;}
BODY[ettl="yes"] #YQUXOOFUTK_DIV {top:373px;position:absolute;left:8px;letter-spacing:-1px;}
#IDIZVJSJFR, #HWULSRGDNM_DIV, #OMJUPGXWIC_DIV, #EAQLLTYHOL_DIV, #QMLRYBDBVX_DIV, #MKGCFMDIFR_DIV, #WINLROSAWR_DIV, #OVBLOKMXTL_DIV, #DRGPYGQDOR_DIV, #ORCUTDLTMS_DIV, #VTQIWWWKBO_DIV, #LYSAOMHYTT_DIV, #JOCPJKPIZR_DIV, #TGAEFMGYHI_DIV, #GWFURCXOUF_DIV, #HSXHLMNVRG_DIV, #UHICKFPGEL_DIV, #ZXJRLOBYSB_DIV, #JPSRYRGJWE_DIV, #IHHARYGXBL_DIV, #MHAGFLZFVW_DIV, #DPTVOOMBGI_DIV, #XEOWJEFHMR_DIV, #TDMTQHVPZW_DIV, #YQUXOOFUTK_DIV {overflow:hidden;}
#IDIZVJSJFR, #TJVNAGXDHC, #BCFQRQNZJM, #AKGZOBFEHJ, #HEAYXIPDHR, #PMYHCHZIWV, #MUJANTNTBM, #UFRMQEXWER, #KGWDOFUOWE, #UIYRMZBTXN, #WTTMHORXIC, #IEFIVEJHWI, #BYFWYCWDSS, #JMJDZQCPOM {box-sizing : border-box;}
