.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#WQANLFSHKI { height:182px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#WQANLFSHKI_DIV { position:absolute;height:182px;z-index:0;width:776px;top:7px;left:8px;}
#CUWOXETBPM_DIV {top:25px;position:absolute;left:16px;height:16px;width:153px;text-align:right;z-index:1;}
BODY:not([ettl]) #CUWOXETBPM_DIV {top:25px;position:absolute;left:16px;height:16px;width:153px;}
BODY[ettl="old"] #CUWOXETBPM_DIV {top:25px;position:absolute;left:16px;height:16px;width:153px;}
BODY[ettl="yes"] #CUWOXETBPM_DIV {top:25px;position:absolute;left:16px;letter-spacing:-1px;}
#PLTJZXBPAO {top:21px;position:absolute;left:168px;height:20px;width:132px;z-index:1; }
#CHNTMOVIWW {top:21px;position:absolute;left:632px;height:20px;width:132px;z-index:1; }
#WBBXZNSMTG {top:147px;position:absolute;left:408px;height:35px;width:40px;z-index:1;}
#OMQMTTPVQV {top:147px;position:absolute;left:344px;height:35px;width:40px;z-index:1;}
#JFXHWWCWVR_DIV {top:25px;position:absolute;left:480px;height:16px;width:153px;text-align:right;z-index:1;}
BODY:not([ettl]) #JFXHWWCWVR_DIV {top:25px;position:absolute;left:480px;height:16px;width:153px;}
BODY[ettl="old"] #JFXHWWCWVR_DIV {top:25px;position:absolute;left:480px;height:16px;width:153px;}
BODY[ettl="yes"] #JFXHWWCWVR_DIV {top:25px;position:absolute;left:480px;}
#FGMOCXNBFY_DIV {top:154px;position:absolute;left:24px;height:14px;width:280px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:49px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#WQANLFSHKI, #CUWOXETBPM_DIV, #JFXHWWCWVR_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#WQANLFSHKI, #PLTJZXBPAO, #CHNTMOVIWW {box-sizing : border-box;}
