.FormDefault {margin:0;position:relative;font-family:Verdana;font-size:8pt;}
INPUT {font-family:Verdana;font-size:8pt;}
SELECT {font-family:Verdana;font-size:8pt;}
TEXTAREA {font-family:Verdana;font-size:8pt;}
IMG {border:0;}
#UJUPUFVALB { height:161px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UJUPUFVALB_DIV { position:absolute;height:161px;z-index:0;width:696px;top:7px;left:8px;}
#DVEINHNUIU_DIV {top:14px;position:absolute;left:144px;height:19px;width:440px;z-index:1; }
#DVEINHNUIU { vertical-align:middle; }
#ONUOLLXULS_DIV {top:14px;position:absolute;left:22px;height:16px;width:96px;text-align:left;font-family:Verdana;font-size:8pt;font-weight:bold;z-index:1;}
#XAIXXQEWZV_DIV {top:46px;position:absolute;left:47px;height:16px;width:93px;text-align:right;z-index:1;}
BODY:not([ettl]) #XAIXXQEWZV_DIV {top:46px;position:absolute;left:47px;height:16px;width:93px;}
BODY[ettl="old"] #XAIXXQEWZV_DIV {top:46px;position:absolute;left:47px;height:16px;width:93px;}
BODY[ettl="yes"] #XAIXXQEWZV_DIV {top:46px;position:absolute;left:47px;letter-spacing:-1px;}
#KUQXVMWWYC { height:1px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#KUQXVMWWYC_DIV { position:absolute;height:1px;z-index:0;width:697px;top:35px;left:8px;}
#OGOQGXTPFZ {top:42px;position:absolute;left:144px;height:20px;width:372px;z-index:1; }
#XQCCNEFYPD_DIV {top:74px;position:absolute;left:47px;height:16px;width:93px;text-align:right;z-index:1;}
BODY:not([ettl]) #XQCCNEFYPD_DIV {top:74px;position:absolute;left:47px;height:16px;width:93px;}
BODY[ettl="old"] #XQCCNEFYPD_DIV {top:74px;position:absolute;left:47px;height:16px;width:93px;}
BODY[ettl="yes"] #XQCCNEFYPD_DIV {top:74px;position:absolute;left:47px;letter-spacing:-1px;}
#HOBEZFAZAD {top:70px;position:absolute;left:144px;height:20px;width:136px;z-index:1; }
#VWRAKBXWXU_DIV {top:102px;position:absolute;left:16px;height:16px;width:124px;text-align:right;z-index:1;}
BODY:not([ettl]) #VWRAKBXWXU_DIV {top:102px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #VWRAKBXWXU_DIV {top:102px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #VWRAKBXWXU_DIV {top:102px;position:absolute;left:16px;letter-spacing:-1px;}
#HYWEOCPLDV {top:98px;position:absolute;left:144px;height:20px;width:372px;z-index:1; }
#VCUXSYMQVS { height:1px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#VCUXSYMQVS_DIV { position:absolute;height:1px;z-index:0;width:696px;top:126px;left:8px;}
#MHPJNXSEVS_DIV {top:133px;position:absolute;left:16px;height:21px;width:145px;overflow:hidden;white-space:nowrap;z-index:1; }
#YUZVRERQCX_DIV {top:133px;position:absolute;left:200px;height:21px;width:216px;overflow:hidden;white-space:nowrap;z-index:1; }
#KFBPLHZCBX {top:133px;position:absolute;left:672px;z-index:1;}
BODY[ettl="yes"] #MHPJNXSEVS_DIV, BODY[ettl="yes"] #YUZVRERQCX_DIV {letter-spacing:-1px;}
#UJUPUFVALB, #ONUOLLXULS_DIV, #XAIXXQEWZV_DIV, #KUQXVMWWYC, #XQCCNEFYPD_DIV, #VWRAKBXWXU_DIV, #VCUXSYMQVS {overflow:hidden;}
#UJUPUFVALB, #DVEINHNUIU_DIV, #KUQXVMWWYC, #OGOQGXTPFZ, #HOBEZFAZAD, #HYWEOCPLDV, #VCUXSYMQVS, #MHPJNXSEVS_DIV, #YUZVRERQCX_DIV {box-sizing : border-box;}
