.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.TMQVCJOIVG_DIV { position:absolute;top:1px;left:5px;height:16px;width:80px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.NCBNLXUPJW_DIV { position:absolute;top:1px;left:5px;height:16px;width:83px;overflow:hidden;text-align:left;z-index:1;}
.VIKJFKDXAW_DIV { position:absolute;top:1px;left:96px;height:16px;width:152px;overflow:hidden;text-align:center;z-index:1;}
.YIZUNOKTNJ_DIV { position:absolute;top:1px;left:96px;height:16px;width:152px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.LTUMTYITPB_DIV { position:absolute;top:1px;left:696px;height:16px;width:104px;overflow:hidden;text-align:right;z-index:1;}
.GBJTZQVVJR_DIV { position:absolute;top:1px;left:696px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .GBJTZQVVJR_DIV { position:absolute;top:1px;left:696px;height:16px;width:104px;}
BODY[ettl="old"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:696px;height:16px;width:104px;}
BODY[ettl="yes"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:696px;}
.UPLWYYLOLS_DIV { position:absolute;top:1px;left:256px;height:16px;width:56px;overflow:hidden;text-align:center;z-index:1;}
.KJNNJAUWPS_DIV { position:absolute;top:1px;left:256px;height:16px;width:56px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.PBTFEBIWWV_DIV { position:absolute;top:1px;left:805px;height:16px;width:16px;overflow:hidden;text-align:left;z-index:1;}
.FVPBCGVIDQ_DIV { position:absolute;top:1px;left:320px;height:16px;width:368px;overflow:hidden;text-align:left;z-index:1;}
#XLVFHSOSYH { height:49px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:49px;z-index:0;width:824px;top:0px;left:0px;}
#RROILCAWGO {top:9px;position:absolute;left:725px;height:30px;width:40px;z-index:1;}
#IIJDTQKPBX {top:9px;position:absolute;left:773px;height:30px;width:40px;z-index:1;}
#HZHPBOOXGE {top:14px;position:absolute;left:72px;height:20px;width:56px;z-index:1; }
#HZHPBOOXGE_ZOOM { position:absolute;top:14px;left:129px;height:20px;width:17px;z-index:1;}
#MHBJRXVDJU_DIV {top:16px;position:absolute;left:153px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#MKIGHUWRVZ_DIV {top:16px;position:absolute;left:30px;height:16px;width:42px;text-align:right;z-index:1;}
BODY:not([ettl]) #MKIGHUWRVZ_DIV {top:16px;position:absolute;left:30px;height:16px;width:42px;}
BODY[ettl="old"] #MKIGHUWRVZ_DIV {top:16px;position:absolute;left:30px;height:16px;width:42px;}
BODY[ettl="yes"] #MKIGHUWRVZ_DIV {top:16px;position:absolute;left:30px;letter-spacing:-1px;}
#YDGZPKWQQA {top:14px;position:absolute;left:544px;height:20px;width:72px;z-index:1; }
#WQOTPOFGXX {top:9px;position:absolute;left:677px;height:30px;width:40px;z-index:1;}
.TMQVCJOIVG_DIV, .YIZUNOKTNJ_DIV, .GBJTZQVVJR_DIV, .KJNNJAUWPS_DIV, #XLVFHSOSYH, #MHBJRXVDJU_DIV, #MKIGHUWRVZ_DIV {overflow:hidden;}
#XLVFHSOSYH, #HZHPBOOXGE, #YDGZPKWQQA {box-sizing : border-box;}
