.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:259px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:259px;z-index:0;width:608px;top:7px;left:8px;}
#XURLGQZZMU {top:228px;position:absolute;left:256px;height:32px;width:40px;z-index:1;}
#PTXYMSWBZO {top:228px;position:absolute;left:304px;height:32px;width:40px;z-index:1;}
#WQGPTBPHUF_DIV {top:70px;position:absolute;left:16px;height:16px;width:592px;color:#0000FF;background-color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FGMOCXNBFY_DIV {top:42px;position:absolute;left:520px;height:14px;width:88px;text-align:left;z-index:1;}
#SSRCOAMDBL_DIV {top:91px;position:absolute;left:16px;height:129px;width:592px;text-align:left;z-index:1;}
#VFNQNKHTLJ_DIV {top:14px;position:absolute;left:40px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#SBCHFGLAIB_DIV {top:14px;position:absolute;left:400px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#IHBYEERYKY_DIV {top:42px;position:absolute;left:40px;height:21px;width:320px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #VFNQNKHTLJ_DIV, BODY[ettl="yes"] #SBCHFGLAIB_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #WQGPTBPHUF_DIV, #FGMOCXNBFY_DIV, #SSRCOAMDBL_DIV {overflow:hidden;}
#XLVFHSOSYH, #VFNQNKHTLJ_DIV, #SBCHFGLAIB_DIV, #IHBYEERYKY_DIV {box-sizing : border-box;}
