.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFGYVOPEDD { height:448px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFGYVOPEDD_DIV { position:absolute;height:448px;z-index:0;width:752px;top:7px;left:8px;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:16px;height:14px;width:16px;text-align:left;z-index:1;}
#PLELOLLGVB_DIV {top:14px;position:absolute;left:16px;height:29px;width:424px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LPTSLAVIAK_DIV {top:21px;position:absolute;left:504px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#APILDULKZX_DIV {top:56px;position:absolute;left:16px;height:29px;width:424px;color:#008040;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#KHPXTNGSFO_DIV {top:63px;position:absolute;left:504px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#DMMJSVFBEV_DIV {top:98px;position:absolute;left:16px;height:16px;width:736px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FSXHJAAZGG {top:140px;position:absolute;left:272px;height:20px;width:66px;text-align:right;z-index:1; }
#FSXHJAAZGG_ZOOM { position:absolute;top:140px;left:339px;height:20px;width:17px;z-index:1;}
#NOYEUIKFXN_DIV {top:144px;position:absolute;left:224px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:140px;position:absolute;left:448px;height:20px;width:66px;text-align:right;z-index:1; }
#CLVVMIYSQG_ZOOM { position:absolute;top:140px;left:515px;height:20px;width:17px;z-index:1;}
#LFJQIXRRKM_DIV {top:144px;position:absolute;left:400px;height:16px;width:43px;text-align:left;z-index:1;}
#AJXISNWTIP {top:273px;position:absolute;left:704px;height:28px;width:40px;z-index:1;}
#LJMNABGSBL_DIV {top:119px;position:absolute;left:16px;height:16px;width:736px;color:#0000FF;text-align:center;z-index:1;}
#NMNMXABGKO {top:168px;position:absolute;left:16px;height:28px;width:210px;z-index:1;}
#PSAHIDGTWE {top:168px;position:absolute;left:544px;height:28px;width:210px;z-index:1;}
#ALQVOOWZEV {top:238px;position:absolute;left:544px;height:28px;width:210px;z-index:1;}
#HVQERBROTD {top:168px;position:absolute;left:280px;height:28px;width:210px;z-index:1;}
#ZCSEKJZUCO { height:28px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:28px;z-index:0;width:488px;top:273px;left:16px;}
#VKDDBMFRDF_DIV {top:280px;position:absolute;left:24px;height:16px;width:472px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LOFHMITIDO_DIV {top:210px;position:absolute;left:16px;height:16px;width:736px;color:#FF8000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CFLYSPTTDU {top:238px;position:absolute;left:72px;height:20px;width:78px;text-align:right;z-index:1; }
#CFLYSPTTDU_ZOOM { position:absolute;top:238px;left:151px;height:20px;width:17px;z-index:1;}
#WUVFEJTHRU_DIV {top:242px;position:absolute;left:24px;text-align:left;z-index:1;}
BODY:not([ettl]) #WUVFEJTHRU_DIV {height:16px;width:43px;}
BODY[ettl="old"] #WUVFEJTHRU_DIV {height:16px;width:43px;}
#DIUBYKKRGY {top:238px;position:absolute;left:248px;height:20px;width:78px;text-align:right;z-index:1; }
#DIUBYKKRGY_ZOOM { position:absolute;top:238px;left:327px;height:20px;width:17px;z-index:1;}
#PKXDCHNEXM_DIV {top:242px;position:absolute;left:200px;height:16px;width:43px;text-align:left;z-index:1;}
#IJKPZSUOBQ { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#IJKPZSUOBQ_DIV { position:absolute;height:1px;z-index:0;width:752px;top:49px;left:8px;}
#SSEWQANFUA { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#SSEWQANFUA_DIV { position:absolute;height:1px;z-index:0;width:752px;top:91px;left:8px;}
#PMXYGRRPSY { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#PMXYGRRPSY_DIV { position:absolute;height:1px;z-index:0;width:752px;top:203px;left:8px;}
#TTMYJIIXKU_DIV {top:315px;position:absolute;left:16px;height:16px;width:736px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GSJBAHVGWP { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#GSJBAHVGWP_DIV { position:absolute;height:1px;z-index:0;width:752px;top:308px;left:8px;}
#SSRCOAMDBL_DIV {top:336px;position:absolute;left:16px;height:112px;width:736px;text-align:left;z-index:1;}
#JBNBDKBIAJ {top:273px;position:absolute;left:656px;height:28px;width:40px;z-index:1;}
BODY[ettl="yes"] #KHPXTNGSFO_DIV, BODY[ettl="yes"] #NOYEUIKFXN_DIV, BODY[ettl="yes"] #WUVFEJTHRU_DIV {letter-spacing:-1px;}
#VFGYVOPEDD, #FGMOCXNBFY_DIV, #PLELOLLGVB_DIV, #APILDULKZX_DIV, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #LJMNABGSBL_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #LOFHMITIDO_DIV, #WUVFEJTHRU_DIV, #PKXDCHNEXM_DIV, #IJKPZSUOBQ, #SSEWQANFUA, #PMXYGRRPSY, #TTMYJIIXKU_DIV, #GSJBAHVGWP, #SSRCOAMDBL_DIV {overflow:hidden;}
#VFGYVOPEDD, #LPTSLAVIAK_DIV, #KHPXTNGSFO_DIV, #FSXHJAAZGG, #CLVVMIYSQG, #ZCSEKJZUCO, #CFLYSPTTDU, #DIUBYKKRGY, #IJKPZSUOBQ, #SSEWQANFUA, #PMXYGRRPSY, #GSJBAHVGWP {box-sizing : border-box;}
