.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VNVLSGNNNC { height:140px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VNVLSGNNNC_DIV { position:absolute;height:140px;z-index:0;width:792px;top:7px;left:8px;}
#NWCSSDUBTP { height:105px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NWCSSDUBTP_DIV { position:absolute;height:105px;z-index:0;width:552px;top:14px;left:240px;}
.AHZSTTZOJN_DIV { position:absolute;top:5px;left:322px;height:16px;width:112px;overflow:hidden;text-align:left;z-index:1;}
.JSNSZPAZUQ_DIV { position:absolute;top:1px;left:5px;height:16px;width:96px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.IZKHLDIVWR_DIV { position:absolute;top:1px;left:322px;height:16px;width:78px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.TACLTIAJKL_DIV { position:absolute;top:1px;left:439px;height:16px;width:56px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.YHSYZEPDNR_DIV { position:absolute;top:1px;left:606px;height:16px;width:56px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#URJECFSAOV {top:70px;position:absolute;left:640px;height:20px;width:126px;text-align:right;z-index:1; }
#MNRQYNMNLG {top:49px;position:absolute;left:288px;height:20px;width:126px;text-align:right;z-index:1; }
#YKKKWAUFYS_DIV {top:56px;position:absolute;left:640px;height:16px;width:114px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OZRIPXONNU_DIV {top:35px;position:absolute;left:288px;height:16px;width:160px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#NQQVQXPTXC_DIV {top:14px;position:absolute;left:240px;height:19px;width:552px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
.MGZZLJDIWH { position:absolute;top:3px;left:5px;height:20px;width:312px;z-index:1; }
#FYWCYUCGWN_DIV {top:35px;position:absolute;left:32px;height:92px;width:173px;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#FYWCYUCGWN { vertical-align:middle;height:8pt; }
#FYWCYUCGWN_DIV label {font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#UVFNBSLUHT {top:120px;position:absolute;left:672px;height:24px;width:32px;z-index:1;}
#FAGAUXGGRZ_DIV {top:77px;position:absolute;left:288px;height:16px;width:160px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#YVBXOWMFXO {top:89px;position:absolute;left:288px;height:20px;width:126px;text-align:right;z-index:1; }
#VQPOQZIXZG {top:89px;position:absolute;left:472px;height:20px;width:126px;text-align:right;z-index:1; }
#OWOHWCFHMZ_DIV {top:77px;position:absolute;left:472px;height:16px;width:144px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#OHORDWVXGQ {top:47px;position:absolute;left:472px;height:20px;width:126px;text-align:right;z-index:1; }
#AXJPFLXUAU_DIV {top:35px;position:absolute;left:472px;height:16px;width:120px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.ULURFNZXUM { position:absolute;top:3px;left:439px;height:20px;width:162px;z-index:1; }
.QUYFYKVQUY { position:absolute;top:3px;left:606px;height:20px;width:166px;z-index:1; }
#DJWOYPVMPM {top:120px;position:absolute;left:712px;height:24px;width:32px;z-index:1;}
#BAYMUXPNMC {top:120px;position:absolute;left:752px;height:24px;width:32px;z-index:1;}
.NCJGCIXOKV_DIV { position:absolute;top:5px;left:777px;height:16px;width:136px;text-align:center;z-index:1;}
.XHRBJAGOUF_DIV { position:absolute;top:1px;left:777px;height:16px;width:136px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ADHGNMAUPI { height:126px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#ADHGNMAUPI_DIV { position:absolute;height:126px;z-index:0;width:200px;top:14px;left:24px;}
#XDLATCDBLT_DIV {top:17px;position:absolute;left:24px;height:16px;width:200px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VNVLSGNNNC, #NWCSSDUBTP, .JSNSZPAZUQ_DIV, .IZKHLDIVWR_DIV, .TACLTIAJKL_DIV, .YHSYZEPDNR_DIV, #YKKKWAUFYS_DIV, #OZRIPXONNU_DIV, #NQQVQXPTXC_DIV, #FAGAUXGGRZ_DIV, #OWOHWCFHMZ_DIV, #AXJPFLXUAU_DIV, .NCJGCIXOKV_DIV, .XHRBJAGOUF_DIV, #ADHGNMAUPI, #XDLATCDBLT_DIV {overflow:hidden;}
#VNVLSGNNNC, #NWCSSDUBTP, #URJECFSAOV, #MNRQYNMNLG, .MGZZLJDIWH, #FYWCYUCGWN_DIV, #YVBXOWMFXO, #VQPOQZIXZG, #OHORDWVXGQ, .ULURFNZXUM, .QUYFYKVQUY, #ADHGNMAUPI {box-sizing : border-box;}
