.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.BZOBUKXHHH_DIV { position:absolute;top:1px;left:8px;height:16px;width:112px;overflow:hidden;text-align:left;z-index:1;}
.WNCCRAXVBV_DIV { position:absolute;top:1px;left:232px;height:16px;width:240px;overflow:hidden;text-align:left;z-index:1;}
.ESMZSCVJHR_DIV { position:absolute;top:1px;left:480px;height:16px;width:128px;overflow:hidden;text-align:left;z-index:1;}
.PJHGHWFNKY_DIV { position:absolute;top:1px;left:616px;height:16px;width:180px;overflow:hidden;text-align:left;z-index:1;}
.IJZKBFZJCL_DIV { position:absolute;top:1px;left:8px;height:16px;width:112px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.HOFTVLLYWH_DIV { position:absolute;top:1px;left:232px;height:16px;width:112px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.FYXCIGMQZH_DIV { position:absolute;top:1px;left:448px;height:16px;width:128px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.BNEUEYQJAW_DIV { position:absolute;top:1px;left:584px;height:16px;width:176px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.YQNXWHUYOC_DIV { position:absolute;top:1px;left:128px;height:16px;width:96px;overflow:hidden;text-align:left;z-index:1;}
.QTISOQCEBU_DIV { position:absolute;top:1px;left:128px;height:16px;width:96px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.LBMKFLTZEB { position:absolute;top:1px;left:802px;z-index:1;clip:rect(0,16px,14px,0);}
.IJZKBFZJCL_DIV, .HOFTVLLYWH_DIV, .FYXCIGMQZH_DIV, .BNEUEYQJAW_DIV, .QTISOQCEBU_DIV {overflow:hidden;}
