.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:315px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:315px;z-index:0;width:776px;top:7px;left:8px;}
#FGMOCXNBFY_DIV {top:35px;position:absolute;left:16px;height:14px;width:88px;text-align:left;z-index:1;}
#QDZKSWCHXH_DIV {top:18px;position:absolute;left:18px;height:16px;width:114px;text-align:right;z-index:1;}
BODY:not([ettl]) #QDZKSWCHXH_DIV {top:18px;position:absolute;left:18px;height:16px;width:114px;}
BODY[ettl="old"] #QDZKSWCHXH_DIV {top:18px;position:absolute;left:18px;height:16px;width:114px;}
BODY[ettl="yes"] #QDZKSWCHXH_DIV {top:18px;position:absolute;left:18px;letter-spacing:-1px;}
#NPEVPSEORB {top:14px;position:absolute;left:136px;height:20px;width:66px;text-align:right;z-index:1; }
#NPEVPSEORB_ZOOM { position:absolute;top:14px;left:203px;height:20px;width:17px;z-index:1;}
#XIFZDMHWTB {top:14px;position:absolute;left:648px;height:25px;width:128px;z-index:1;}
#DYMVKIQWCA {top:231px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:56px;position:absolute;left:16px;height:169px;width:760px;height:169px;right:0px;z-index:1;overflow:auto;}
#YWGFSYCMOZ, #FGMOCXNBFY_DIV, #QDZKSWCHXH_DIV {overflow:hidden;}
#YWGFSYCMOZ, #NPEVPSEORB {box-sizing : border-box;}
