.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:532px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:532px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:63px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:760px;height:14px;width:16px;text-align:left;z-index:1;}
#BAZIEIGBBY {top:63px;position:absolute;left:128px;height:20px;width:72px;text-align:right;z-index:1; }
#BAZIEIGBBY_ZOOM { position:absolute;top:63px;left:201px;height:20px;width:17px;z-index:1;}
#IBGNNZOUNR_DIV {top:67px;position:absolute;left:16px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #IBGNNZOUNR_DIV {top:67px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="old"] #IBGNNZOUNR_DIV {top:67px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="yes"] #IBGNNZOUNR_DIV {top:67px;position:absolute;left:16px;letter-spacing:-1px;}
#LHRMJFERXU {top:63px;position:absolute;left:360px;height:20px;width:72px;text-align:right;z-index:1; }
#LHRMJFERXU_ZOOM { position:absolute;top:63px;left:433px;height:20px;width:17px;z-index:1;}
#NEESTLYOSU_DIV {top:67px;position:absolute;left:248px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #NEESTLYOSU_DIV {top:67px;position:absolute;left:248px;height:16px;width:112px;}
BODY[ettl="old"] #NEESTLYOSU_DIV {top:67px;position:absolute;left:248px;height:16px;width:112px;}
BODY[ettl="yes"] #NEESTLYOSU_DIV {top:67px;position:absolute;left:248px;}
#DYMVKIQWCA {top:448px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:98px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#MVXXCZOQGP {top:247px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #FGMOCXNBFY_DIV, #IBGNNZOUNR_DIV, #NEESTLYOSU_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #BAZIEIGBBY, #LHRMJFERXU {box-sizing : border-box;}
