.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:105px;background-color:#0080C0;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:105px;z-index:0;width:416px;top:7px;left:8px;}
#DMMJSVFBEV_DIV {top:14px;position:absolute;left:16px;height:63px;width:400px;color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#AJXISNWTIP {top:77px;position:absolute;left:200px;height:25px;width:24px;z-index:1;}
#TTRVXROIVP, #DMMJSVFBEV_DIV {overflow:hidden;}
#TTRVXROIVP {box-sizing : border-box;}
