.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:413px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:413px;z-index:0;width:776px;top:7px;left:8px;}
#QSGNEETWVH_DIV {top:21px;position:absolute;left:176px;height:21px;width:406px;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1; }
#QSGNEETWVH { vertical-align:middle; }
#QSGNEETWVH_DIV label {font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
#HJLJFAMGNR {top:61px;position:absolute;left:144px;height:20px;width:70px;text-align:right;z-index:1; }
#HJLJFAMGNR_ZOOM { position:absolute;top:61px;left:215px;height:20px;width:17px;z-index:1;}
#XWZHWTENET {top:63px;position:absolute;left:544px;height:20px;width:70px;text-align:right;z-index:1; }
#XWZHWTENET_ZOOM { position:absolute;top:63px;left:615px;height:20px;width:17px;z-index:1;}
#MAYNQUHJSS {top:98px;position:absolute;left:384px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:98px;position:absolute;left:432px;z-index:1;clip:rect(0,42px,32px,0);}
#LCFKHGNSPV {top:98px;position:absolute;left:336px;z-index:1;clip:rect(0,42px,32px,0);}
#LQTOQIQYKP_DIV {top:65px;position:absolute;left:33px;height:16px;width:110px;text-align:right;z-index:1;}
BODY:not([ettl]) #LQTOQIQYKP_DIV {top:65px;position:absolute;left:33px;height:16px;width:110px;}
BODY[ettl="old"] #LQTOQIQYKP_DIV {top:65px;position:absolute;left:33px;height:16px;width:110px;}
BODY[ettl="yes"] #LQTOQIQYKP_DIV {top:65px;position:absolute;left:33px;}
#VGTGDVWOBC_DIV {top:67px;position:absolute;left:433px;height:16px;width:110px;text-align:right;z-index:1;}
BODY:not([ettl]) #VGTGDVWOBC_DIV {top:67px;position:absolute;left:433px;height:16px;width:110px;}
BODY[ettl="old"] #VGTGDVWOBC_DIV {top:67px;position:absolute;left:433px;height:16px;width:110px;}
BODY[ettl="yes"] #VGTGDVWOBC_DIV {top:67px;position:absolute;left:433px;}
#FGMOCXNBFY_DIV {top:49px;position:absolute;left:704px;height:14px;width:72px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:283px;position:absolute;left:16px;height:91px;width:760px;height:91px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:133px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#BDCAXBSKAP_DIV {top:381px;position:absolute;left:16px;height:31px;width:760px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
#VFFMUWZZJS, #LQTOQIQYKP_DIV, #VGTGDVWOBC_DIV, #FGMOCXNBFY_DIV, #BDCAXBSKAP_DIV {overflow:hidden;}
#VFFMUWZZJS, #QSGNEETWVH_DIV, #HJLJFAMGNR, #XWZHWTENET {box-sizing : border-box;}
