.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:182px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:182px;z-index:0;width:776px;top:0px;left:0px;}
#FGMOCXNBFY_DIV {top:63px;position:absolute;left:16px;height:14px;width:16px;text-align:left;z-index:1;}
#ARPOSSWZCD {top:14px;position:absolute;left:416px;height:20px;width:40px;text-align:right;z-index:1; }
#GEDJGVMCKZ {top:56px;position:absolute;left:368px;height:28px;width:40px;z-index:1;}
#AJXISNWTIP {top:56px;position:absolute;left:424px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:91px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#YSEECXVRFO_DIV {top:18px;position:absolute;left:304px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #YSEECXVRFO_DIV {top:18px;position:absolute;left:304px;height:16px;width:112px;}
BODY[ettl="old"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:304px;height:16px;width:112px;}
BODY[ettl="yes"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:304px;}
#PLJISFOJIP {top:56px;position:absolute;left:312px;height:28px;width:40px;z-index:1;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #YSEECXVRFO_DIV {overflow:hidden;}
#NRFKISPWKP, #ARPOSSWZCD {box-sizing : border-box;}
