.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:336px;background-color:#FFC080;border-width:1px;border-color:#FF0000;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:336px;z-index:0;width:776px;top:7px;left:8px;}
#ZUXUDAETFH {top:112px;position:absolute;left:245px;height:28px;width:302px;z-index:1;}
#DMMJSVFBEV_DIV {top:14px;position:absolute;left:16px;height:16px;width:760px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LJMNABGSBL_DIV {top:35px;position:absolute;left:16px;height:16px;width:712px;text-align:center;z-index:1;}
#FSXHJAAZGG {top:70px;position:absolute;left:80px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:74px;position:absolute;left:32px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:74px;position:absolute;left:32px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:74px;position:absolute;left:32px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:74px;position:absolute;left:32px;letter-spacing:-1px;}
#CLVVMIYSQG {top:70px;position:absolute;left:240px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:74px;position:absolute;left:192px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:74px;position:absolute;left:192px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:74px;position:absolute;left:192px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:74px;position:absolute;left:192px;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:16px;height:14px;width:16px;text-align:left;z-index:1;}
#UFZQBBFAGD_DIV {top:150px;position:absolute;left:10px;height:16px;width:773px;color:#FF0000;background-color:#FFFFFF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MPIOZQPPPI {top:185px;position:absolute;left:175px;height:20px;width:128px;z-index:1; }
#CTFPYTZIIH_DIV {top:189px;position:absolute;left:19px;height:16px;width:156px;text-align:right;z-index:1;}
BODY:not([ettl]) #CTFPYTZIIH_DIV {top:189px;position:absolute;left:19px;height:16px;width:156px;}
BODY[ettl="old"] #CTFPYTZIIH_DIV {top:189px;position:absolute;left:19px;height:16px;width:156px;}
BODY[ettl="yes"] #CTFPYTZIIH_DIV {top:189px;position:absolute;left:19px;letter-spacing:-1px;}
#YFPMFPWESC {top:185px;position:absolute;left:615px;height:20px;width:48px;z-index:1; }
#LASRRWOCQH_DIV {top:189px;position:absolute;left:490px;height:16px;width:125px;text-align:right;z-index:1;}
BODY:not([ettl]) #LASRRWOCQH_DIV {top:189px;position:absolute;left:490px;height:16px;width:125px;}
BODY[ettl="old"] #LASRRWOCQH_DIV {top:189px;position:absolute;left:490px;height:16px;width:125px;}
BODY[ettl="yes"] #LASRRWOCQH_DIV {top:189px;position:absolute;left:490px;letter-spacing:-1px;}
#HMYRBXBREF {top:213px;position:absolute;left:175px;height:20px;width:264px;z-index:1; }
#HMYRBXBREF { vertical-align:middle; }
#HAINTPIJUS_DIV {top:217px;position:absolute;left:64px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #HAINTPIJUS_DIV {top:217px;position:absolute;left:64px;height:16px;width:111px;}
BODY[ettl="old"] #HAINTPIJUS_DIV {top:217px;position:absolute;left:64px;height:16px;width:111px;}
BODY[ettl="yes"] #HAINTPIJUS_DIV {top:217px;position:absolute;left:64px;letter-spacing:-1px;}
#CQATNPZMEC {top:213px;position:absolute;left:615px;height:20px;width:72px;text-align:right;z-index:1; }
#FHSMWCMRII_DIV {top:217px;position:absolute;left:477px;height:16px;width:138px;text-align:right;z-index:1;}
BODY:not([ettl]) #FHSMWCMRII_DIV {top:217px;position:absolute;left:477px;height:16px;width:138px;}
BODY[ettl="old"] #FHSMWCMRII_DIV {top:217px;position:absolute;left:477px;height:16px;width:138px;}
BODY[ettl="yes"] #FHSMWCMRII_DIV {top:217px;position:absolute;left:477px;letter-spacing:-1px;}
#JBNBDKBIAJ {top:213px;position:absolute;left:735px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:248px;position:absolute;left:15px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#CDCKGTKMRZ_DIV {top:73px;position:absolute;left:504px;text-align:left;z-index:1;}
BODY:not([ettl]) #CDCKGTKMRZ_DIV {height:16px;width:101px;}
BODY[ettl="old"] #CDCKGTKMRZ_DIV {height:16px;width:101px;}
#SJMOZNWBVK_DIV {top:70px;position:absolute;left:600px;height:19px;width:161px;z-index:1; }
#SJMOZNWBVK { vertical-align:middle; }
BODY[ettl="yes"] #CDCKGTKMRZ_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #LJMNABGSBL_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #FGMOCXNBFY_DIV, #UFZQBBFAGD_DIV, #CTFPYTZIIH_DIV, #LASRRWOCQH_DIV, #HAINTPIJUS_DIV, #FHSMWCMRII_DIV, #CDCKGTKMRZ_DIV {overflow:hidden;}
#TTRVXROIVP, #FSXHJAAZGG, #CLVVMIYSQG, #MPIOZQPPPI, #YFPMFPWESC, #HMYRBXBREF, #CQATNPZMEC, #SJMOZNWBVK_DIV {box-sizing : border-box;}
