.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:91px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:91px;z-index:0;width:608px;top:7px;left:8px;}
#DPKVLWHCIG {top:14px;position:absolute;left:144px;height:20px;width:80px;text-align:right;z-index:1; }
#MTJDZQTEIR {top:14px;position:absolute;left:360px;height:20px;width:80px;text-align:right;z-index:1; }
#XURLGQZZMU {top:61px;position:absolute;left:523px;height:32px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:18px;position:absolute;left:8px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:18px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:18px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:18px;position:absolute;left:8px;}
#BGHAITOPMU_DIV {top:18px;position:absolute;left:224px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:18px;position:absolute;left:224px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:18px;position:absolute;left:224px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:18px;position:absolute;left:224px;}
#PTXYMSWBZO {top:61px;position:absolute;left:571px;height:32px;width:40px;z-index:1;}
#VOWNJDTEZJ {top:42px;position:absolute;left:144px;height:20px;width:80px;z-index:1; }
#CXSMATIXZS_DIV {top:46px;position:absolute;left:108px;height:16px;width:32px;text-align:right;z-index:1;}
BODY:not([ettl]) #CXSMATIXZS_DIV {top:46px;position:absolute;left:108px;height:16px;width:32px;}
BODY[ettl="old"] #CXSMATIXZS_DIV {top:46px;position:absolute;left:108px;height:16px;width:32px;}
BODY[ettl="yes"] #CXSMATIXZS_DIV {top:46px;position:absolute;left:108px;letter-spacing:-1px;}
#MBUVOZITNA {top:42px;position:absolute;left:360px;height:20px;width:108px;z-index:1; }
#FBVBGICYQT {top:70px;position:absolute;left:144px;height:20px;width:54px;z-index:1; }
#FBVBGICYQT_ZOOM { position:absolute;top:70px;left:199px;height:20px;width:17px;z-index:1;}
#MAKXXLLXNA_DIV {top:46px;position:absolute;left:285px;height:16px;width:71px;text-align:right;z-index:1;}
BODY:not([ettl]) #MAKXXLLXNA_DIV {top:46px;position:absolute;left:285px;height:16px;width:71px;}
BODY[ettl="old"] #MAKXXLLXNA_DIV {top:46px;position:absolute;left:285px;height:16px;width:71px;}
BODY[ettl="yes"] #MAKXXLLXNA_DIV {top:46px;position:absolute;left:285px;letter-spacing:-1px;}
#HLQSHVFXVS_DIV {top:74px;position:absolute;left:98px;height:16px;width:42px;text-align:right;z-index:1;}
BODY:not([ettl]) #HLQSHVFXVS_DIV {top:74px;position:absolute;left:98px;height:16px;width:42px;}
BODY[ettl="old"] #HLQSHVFXVS_DIV {top:74px;position:absolute;left:98px;height:16px;width:42px;}
BODY[ettl="yes"] #HLQSHVFXVS_DIV {top:74px;position:absolute;left:98px;letter-spacing:-1px;}
#TQJNOWMVHW_DIV {top:74px;position:absolute;left:224px;height:16px;width:192px;color:#0000FF;text-align:left;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #CXSMATIXZS_DIV, #MAKXXLLXNA_DIV, #HLQSHVFXVS_DIV, #TQJNOWMVHW_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #VOWNJDTEZJ, #MBUVOZITNA, #FBVBGICYQT {box-sizing : border-box;}
