.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:651px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:651px;z-index:0;width:776px;top:7px;left:8px;}
#PMDUYENKWL_DIV {top:18px;position:absolute;left:24px;height:16px;width:103px;text-align:right;z-index:1;}
BODY:not([ettl]) #PMDUYENKWL_DIV {top:18px;position:absolute;left:24px;height:16px;width:103px;}
BODY[ettl="old"] #PMDUYENKWL_DIV {top:18px;position:absolute;left:24px;height:16px;width:103px;}
BODY[ettl="yes"] #PMDUYENKWL_DIV {top:18px;position:absolute;left:24px;letter-spacing:-1px;}
#FCREPJBLHG {top:14px;position:absolute;left:128px;height:20px;width:78px;z-index:1; }
#FCREPJBLHG_ZOOM { position:absolute;top:14px;left:207px;height:20px;width:17px;z-index:1;}
#UWBJTJCNUU_DIV {top:18px;position:absolute;left:232px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#CCVJTGYXIP_DIV {top:44px;position:absolute;left:36px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #CCVJTGYXIP_DIV {top:44px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="old"] #CCVJTGYXIP_DIV {top:44px;position:absolute;left:36px;height:16px;width:91px;}
BODY[ettl="yes"] #CCVJTGYXIP_DIV {top:44px;position:absolute;left:36px;letter-spacing:-1px;}
#RCFVSQQCNU {top:40px;position:absolute;left:128px;height:20px;width:456px;z-index:1; }
#RCFVSQQCNU { vertical-align:middle; }
#LMCBBKUTJY {top:103px;position:absolute;left:128px;height:20px;width:48px;z-index:1; }
#LMCBBKUTJY_ZOOM { position:absolute;top:103px;left:177px;height:20px;width:17px;z-index:1;}
#VEYKPVUMPQ {top:133px;position:absolute;left:128px;height:20px;width:120px;z-index:1; }
#VEYKPVUMPQ_ZOOM { position:absolute;top:133px;left:249px;height:20px;width:17px;z-index:1;}
#CNQRKVJUGN {top:161px;position:absolute;left:128px;height:20px;width:432px;text-transform:uppercase;z-index:1; }
#HJLJFAMGNR {top:189px;position:absolute;left:128px;height:20px;width:70px;text-align:right;z-index:1; }
#HJLJFAMGNR_ZOOM { position:absolute;top:189px;left:199px;height:20px;width:17px;z-index:1;}
#XWZHWTENET {top:191px;position:absolute;left:528px;height:20px;width:70px;text-align:right;z-index:1; }
#XWZHWTENET_ZOOM { position:absolute;top:191px;left:599px;height:20px;width:17px;z-index:1;}
#YJWPZAWNZJ_DIV {top:224px;position:absolute;left:128px;height:19px;width:193px;z-index:1; }
#YJWPZAWNZJ { vertical-align:middle; }
#ACJYNBGGGK_DIV {top:251px;position:absolute;left:128px;height:21px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#UGLRKSBAIN_DIV {top:252px;position:absolute;left:208px;height:21px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#QXOCQTKHHM_DIV {top:282px;position:absolute;left:128px;height:21px;width:288px;overflow:hidden;white-space:nowrap;z-index:1; }
#YKZIVVFLHM {top:282px;position:absolute;left:448px;height:20px;width:320px;z-index:1; }
#YKZIVVFLHM { vertical-align:middle; }
#BHRJFGYNWO_DIV {top:315px;position:absolute;left:128px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#VIRLZRRHIQ_DIV {top:315px;position:absolute;left:448px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#LJVZZPXJUZ_DIV {top:342px;position:absolute;left:128px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#DRCOVPYYCV_DIV {top:342px;position:absolute;left:448px;height:21px;width:205px;overflow:hidden;white-space:nowrap;z-index:1; }
#MAYNQUHJSS {top:378px;position:absolute;left:384px;z-index:1;clip:rect(0,42px,32px,0);}
#LCFKHGNSPV {top:378px;position:absolute;left:336px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:378px;position:absolute;left:432px;z-index:1;clip:rect(0,42px,32px,0);}
#IQCSEEHKKR { height:1px;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#IQCSEEHKKR_DIV { position:absolute;height:1px;z-index:0;width:775px;top:68px;left:8px;}
#IWHDABKYSG_DIV {top:75px;position:absolute;left:16px;height:16px;width:137px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LQTOQIQYKP_DIV {top:193px;position:absolute;left:17px;height:16px;width:110px;text-align:right;z-index:1;}
BODY:not([ettl]) #LQTOQIQYKP_DIV {top:193px;position:absolute;left:17px;height:16px;width:110px;}
BODY[ettl="old"] #LQTOQIQYKP_DIV {top:193px;position:absolute;left:17px;height:16px;width:110px;}
BODY[ettl="yes"] #LQTOQIQYKP_DIV {top:193px;position:absolute;left:17px;}
#VGTGDVWOBC_DIV {top:195px;position:absolute;left:417px;height:16px;width:110px;text-align:right;z-index:1;}
BODY:not([ettl]) #VGTGDVWOBC_DIV {top:195px;position:absolute;left:417px;height:16px;width:110px;}
BODY[ettl="old"] #VGTGDVWOBC_DIV {top:195px;position:absolute;left:417px;height:16px;width:110px;}
BODY[ettl="yes"] #VGTGDVWOBC_DIV {top:195px;position:absolute;left:417px;}
#USJHXUDNOM_DIV {top:224px;position:absolute;left:46px;height:16px;width:81px;text-align:right;z-index:1;}
BODY:not([ettl]) #USJHXUDNOM_DIV {top:224px;position:absolute;left:46px;height:16px;width:81px;}
BODY[ettl="old"] #USJHXUDNOM_DIV {top:224px;position:absolute;left:46px;height:16px;width:81px;}
BODY[ettl="yes"] #USJHXUDNOM_DIV {top:224px;position:absolute;left:46px;letter-spacing:-1px;}
#ENFIBHJIYH_DIV {top:107px;position:absolute;left:26px;height:16px;width:102px;text-align:right;z-index:1;}
BODY:not([ettl]) #ENFIBHJIYH_DIV {top:107px;position:absolute;left:26px;height:16px;width:102px;}
BODY[ettl="old"] #ENFIBHJIYH_DIV {top:107px;position:absolute;left:26px;height:16px;width:102px;}
BODY[ettl="yes"] #ENFIBHJIYH_DIV {top:107px;position:absolute;left:26px;letter-spacing:-1px;}
#UAIBAUYUDZ_DIV {top:107px;position:absolute;left:203px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#MBIRXQHNIJ_DIV {top:256px;position:absolute;left:46px;height:16px;width:81px;text-align:right;z-index:1;}
BODY:not([ettl]) #MBIRXQHNIJ_DIV {top:256px;position:absolute;left:46px;height:16px;width:81px;}
BODY[ettl="old"] #MBIRXQHNIJ_DIV {top:256px;position:absolute;left:46px;height:16px;width:81px;}
BODY[ettl="yes"] #MBIRXQHNIJ_DIV {top:256px;position:absolute;left:46px;}
#FGMOCXNBFY_DIV {top:49px;position:absolute;left:704px;height:14px;width:72px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:563px;position:absolute;left:16px;height:91px;width:760px;height:91px;right:0px;z-index:1;overflow:auto;}
#PNUSYHLNFS_DIV {top:165px;position:absolute;left:59px;height:16px;width:69px;text-align:right;z-index:1;}
BODY:not([ettl]) #PNUSYHLNFS_DIV {top:165px;position:absolute;left:59px;height:16px;width:69px;}
BODY[ettl="old"] #PNUSYHLNFS_DIV {top:165px;position:absolute;left:59px;height:16px;width:69px;}
BODY[ettl="yes"] #PNUSYHLNFS_DIV {top:165px;position:absolute;left:59px;letter-spacing:-1px;}
#LMKGHMEMXE_DIV {top:137px;position:absolute;left:91px;height:16px;width:37px;text-align:right;z-index:1;}
BODY:not([ettl]) #LMKGHMEMXE_DIV {top:137px;position:absolute;left:91px;height:16px;width:37px;}
BODY[ettl="old"] #LMKGHMEMXE_DIV {top:137px;position:absolute;left:91px;height:16px;width:37px;}
BODY[ettl="yes"] #LMKGHMEMXE_DIV {top:137px;position:absolute;left:91px;letter-spacing:-1px;}
#GOVQOOBBUD_DIV {top:137px;position:absolute;left:272px;height:16px;width:504px;color:#0000FF;text-align:left;z-index:1;}
#KQMKKBMXYE {top:413px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
BODY[ettl="yes"] #ACJYNBGGGK_DIV, BODY[ettl="yes"] #UGLRKSBAIN_DIV, BODY[ettl="yes"] #QXOCQTKHHM_DIV, BODY[ettl="yes"] #BHRJFGYNWO_DIV, BODY[ettl="yes"] #VIRLZRRHIQ_DIV, BODY[ettl="yes"] #LJVZZPXJUZ_DIV, BODY[ettl="yes"] #DRCOVPYYCV_DIV {letter-spacing:-1px;}
#VFFMUWZZJS, #PMDUYENKWL_DIV, #UWBJTJCNUU_DIV, #CCVJTGYXIP_DIV, #IQCSEEHKKR, #IWHDABKYSG_DIV, #LQTOQIQYKP_DIV, #VGTGDVWOBC_DIV, #USJHXUDNOM_DIV, #ENFIBHJIYH_DIV, #UAIBAUYUDZ_DIV, #MBIRXQHNIJ_DIV, #FGMOCXNBFY_DIV, #PNUSYHLNFS_DIV, #LMKGHMEMXE_DIV, #GOVQOOBBUD_DIV {overflow:hidden;}
#VFFMUWZZJS, #FCREPJBLHG, #RCFVSQQCNU, #LMCBBKUTJY, #VEYKPVUMPQ, #CNQRKVJUGN, #HJLJFAMGNR, #XWZHWTENET, #YJWPZAWNZJ_DIV, #ACJYNBGGGK_DIV, #UGLRKSBAIN_DIV, #QXOCQTKHHM_DIV, #YKZIVVFLHM, #BHRJFGYNWO_DIV, #VIRLZRRHIQ_DIV, #LJVZZPXJUZ_DIV, #DRCOVPYYCV_DIV, #IQCSEEHKKR {box-sizing : border-box;}
