.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:10pt;}
INPUT {font-family:Tahoma;font-size:10pt;}
SELECT {font-family:Tahoma;font-size:10pt;}
TEXTAREA {font-family:Tahoma;font-size:10pt;}
IMG {border:0;}
#FXEGLMMZZE { height:266px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#FXEGLMMZZE_DIV { position:absolute;height:266px;z-index:0;width:648px;top:7px;left:8px;}
#HNOHSVFLOQ_DIV {top:49px;position:absolute;left:280px;height:24px;width:104px;overflow:hidden;white-space:nowrap;z-index:1; }
#XUMEHEGWFS_DIV {top:14px;position:absolute;left:8px;height:26px;width:648px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:14pt;font-weight:bold;z-index:1;}
#MTKUDOZPWO { height:49px;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#MTKUDOZPWO_DIV { position:absolute;height:49px;z-index:0;width:160px;top:105px;left:248px;}
#GMCWGKWJAP_DIV {top:112px;position:absolute;left:264px;height:42px;width:136px;z-index:1; }
#GMCWGKWJAP { vertical-align:middle;height:10pt; }
#DWLJVFRPWC_DIV {top:77px;position:absolute;left:264px;height:24px;width:136px;overflow:hidden;white-space:nowrap;z-index:1; }
#QCPAGAIRIU {top:231px;position:absolute;left:24px;height:23px;width:126px;z-index:1; }
#QCPAGAIRIU_ZOOM { position:absolute;top:231px;left:151px;height:23px;width:17px;z-index:1;}
#YRBRMQSERG_DIV {top:210px;position:absolute;left:24px;height:19px;width:616px;text-align:left;z-index:1;}
#TXJKEDTKOL_DIV {top:231px;position:absolute;left:176px;height:21px;width:464px;color:#0000FF;text-align:left;z-index:1;}
#AAQUHMAIVT {top:231px;position:absolute;left:552px;z-index:1;clip:rect(0,40px,35px,0);}
#DWNCHDOZIE_DIV {top:161px;position:absolute;left:248px;height:24px;width:192px;overflow:hidden;white-space:nowrap;z-index:1; }
#SEPYAQKCQK {top:231px;position:absolute;left:608px;z-index:1;clip:rect(0,40px,35px,0);}
BODY[ettl="yes"] #HNOHSVFLOQ_DIV, BODY[ettl="yes"] #DWLJVFRPWC_DIV, BODY[ettl="yes"] #DWNCHDOZIE_DIV {letter-spacing:-1px;}
#FXEGLMMZZE, #XUMEHEGWFS_DIV, #MTKUDOZPWO, #YRBRMQSERG_DIV, #TXJKEDTKOL_DIV {overflow:hidden;}
#FXEGLMMZZE, #HNOHSVFLOQ_DIV, #MTKUDOZPWO, #GMCWGKWJAP_DIV, #DWLJVFRPWC_DIV, #QCPAGAIRIU, #DWNCHDOZIE_DIV {box-sizing : border-box;}
