.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:182px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:182px;z-index:0;width:776px;top:0px;left:0px;}
#FGMOCXNBFY_DIV {top:63px;position:absolute;left:16px;height:14px;width:16px;text-align:left;z-index:1;}
#ARPOSSWZCD {top:14px;position:absolute;left:128px;height:20px;width:40px;text-align:right;z-index:1; }
#FSXHJAAZGG {top:14px;position:absolute;left:520px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:18px;position:absolute;left:472px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:14px;position:absolute;left:688px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:18px;position:absolute;left:648px;height:16px;width:43px;text-align:left;z-index:1;}
#AJXISNWTIP {top:56px;position:absolute;left:728px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:91px;position:absolute;left:8px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#YSEECXVRFO_DIV {top:18px;position:absolute;left:16px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #YSEECXVRFO_DIV {top:18px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="old"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:16px;height:16px;width:112px;}
BODY[ettl="yes"] #YSEECXVRFO_DIV {top:18px;position:absolute;left:16px;}
#AZVXWCAMFB {top:56px;position:absolute;left:344px;height:28px;width:40px;z-index:1;}
#DYDHLKXLID {top:56px;position:absolute;left:392px;height:28px;width:40px;z-index:1;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {letter-spacing:-1px;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YSEECXVRFO_DIV {overflow:hidden;}
#NRFKISPWKP, #ARPOSSWZCD, #FSXHJAAZGG, #CLVVMIYSQG {box-sizing : border-box;}
