.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#UYVYTEMEXX {top:9px;position:absolute;left:152px;height:22px;width:128px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:9px;left:281px;height:22px;width:17px;z-index:1;}
#CJWUHWULAR {top:45px;position:absolute;left:152px;height:22px;width:128px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:45px;left:281px;height:22px;width:17px;z-index:1;}
#LGLKGKWNEO_DIV {top:99px;position:absolute;left:248px;height:23px;width:148px;overflow:hidden;white-space:nowrap;z-index:1; }
#XURLGQZZMU {top:99px;position:absolute;left:512px;height:36px;width:40px;z-index:1;}
#PCILMATBXL_DIV {top:9px;position:absolute;left:76px;height:18px;width:73px;text-align:right;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:9px;position:absolute;left:76px;height:18px;width:73px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:9px;position:absolute;left:76px;height:18px;width:73px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:9px;position:absolute;left:76px;}
#VXJAZUGUIO_DIV {top:9px;position:absolute;left:312px;height:22px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:45px;position:absolute;left:83px;height:18px;width:66px;text-align:right;font-family:Arial;font-size:9pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:45px;position:absolute;left:83px;height:18px;width:66px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:45px;position:absolute;left:83px;height:18px;width:66px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:45px;position:absolute;left:83px;}
#XCBBNKIAUV_DIV {top:45px;position:absolute;left:312px;height:22px;width:472px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
BODY[ettl="yes"] #LGLKGKWNEO_DIV {letter-spacing:-1px;}
#PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV {overflow:hidden;}
#UYVYTEMEXX, #CJWUHWULAR, #LGLKGKWNEO_DIV {box-sizing : border-box;}
