.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:147px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:147px;z-index:0;width:608px;top:7px;left:8px;}
#DPKVLWHCIG {top:20px;position:absolute;left:144px;height:20px;width:66px;text-align:right;z-index:1; }
#MTJDZQTEIR {top:21px;position:absolute;left:536px;height:20px;width:72px;text-align:right;z-index:1; }
#UYVYTEMEXX {top:49px;position:absolute;left:144px;height:20px;width:94px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:49px;left:239px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:77px;position:absolute;left:144px;height:20px;width:94px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:77px;left:239px;height:20px;width:17px;z-index:1;}
#LGLKGKWNEO_DIV {top:126px;position:absolute;left:16px;height:19px;width:223px;z-index:1; }
#LGLKGKWNEO { vertical-align:middle; }
#XURLGQZZMU {top:108px;position:absolute;left:512px;height:36px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:24px;position:absolute;left:8px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:24px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:24px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:24px;position:absolute;left:8px;}
#BGHAITOPMU_DIV {top:25px;position:absolute;left:400px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:25px;position:absolute;left:400px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:25px;position:absolute;left:400px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:25px;position:absolute;left:400px;}
#PCILMATBXL_DIV {top:53px;position:absolute;left:80px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:49px;position:absolute;left:264px;height:16px;width:352px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:81px;position:absolute;left:80px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#XCBBNKIAUV_DIV {top:77px;position:absolute;left:264px;height:16px;width:352px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PTXYMSWBZO {top:108px;position:absolute;left:568px;height:36px;width:40px;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR, #LGLKGKWNEO_DIV {box-sizing : border-box;}
