.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:140px;background-color:#FFD5FF;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:140px;z-index:0;width:440px;top:7px;left:8px;}
#FXJGUPTFZH { height:70px;background-color:#FFFF00;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#FXJGUPTFZH_DIV { position:absolute;height:70px;z-index:0;width:392px;top:14px;left:32px;}
#LPTSLAVIAK_DIV {top:21px;position:absolute;left:62px;height:56px;width:336px;z-index:1; }
#LPTSLAVIAK { vertical-align:middle;height:8pt; }
#IIJGGLODBJ_DIV {top:91px;position:absolute;left:112px;height:19px;width:214px;z-index:1; }
#IIJGGLODBJ { vertical-align:middle; }
#FSXHJAAZGG {top:112px;position:absolute;left:96px;height:20px;width:66px;text-align:right;z-index:1; }
#FSXHJAAZGG_ZOOM { position:absolute;top:112px;left:163px;height:20px;width:17px;z-index:1;}
#NOYEUIKFXN_DIV {top:116px;position:absolute;left:48px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:112px;position:absolute;left:272px;height:20px;width:66px;text-align:right;z-index:1; }
#CLVVMIYSQG_ZOOM { position:absolute;top:112px;left:339px;height:20px;width:17px;z-index:1;}
#LFJQIXRRKM_DIV {top:116px;position:absolute;left:226px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:116px;position:absolute;left:226px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:116px;position:absolute;left:226px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:116px;position:absolute;left:226px;}
#AJXISNWTIP {top:112px;position:absolute;left:416px;height:25px;width:24px;z-index:1;}
#TSMPFDCFJF {top:112px;position:absolute;left:384px;height:25px;width:24px;z-index:1;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #FXJGUPTFZH, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV {overflow:hidden;}
#TTRVXROIVP, #FXJGUPTFZH, #LPTSLAVIAK_DIV, #IIJGGLODBJ_DIV, #FSXHJAAZGG, #CLVVMIYSQG {box-sizing : border-box;}
