.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:546px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:546px;z-index:0;width:784px;top:7px;left:8px;}
#DMMJSVFBEV_DIV {top:8px;position:absolute;left:9px;height:16px;width:782px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ALQVOOWZEV {top:28px;position:absolute;left:520px;height:56px;width:264px;z-index:1;}
#AJXISNWTIP {top:112px;position:absolute;left:744px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:301px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:147px;position:absolute;left:16px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#PDFSWXZOJQ {top:45px;position:absolute;left:128px;height:20px;width:64px;z-index:1; }
#PDFSWXZOJQ { vertical-align:middle; }
#BSCMMKXBND_DIV {top:49px;position:absolute;left:24px;height:16px;width:104px;text-align:right;z-index:1;}
BODY:not([ettl]) #BSCMMKXBND_DIV {top:49px;position:absolute;left:24px;height:16px;width:104px;}
BODY[ettl="old"] #BSCMMKXBND_DIV {top:49px;position:absolute;left:24px;height:16px;width:104px;}
BODY[ettl="yes"] #BSCMMKXBND_DIV {top:49px;position:absolute;left:24px;letter-spacing:-1px;}
#TYIWXFLLFY_DIV {top:392px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#MPCMAMHQST {top:112px;position:absolute;left:648px;height:28px;width:40px;z-index:1;}
#AOHGKXZIJG_DIV {top:77px;position:absolute;left:128px;height:21px;width:341px;overflow:hidden;white-space:nowrap;z-index:1; }
#JBNBDKBIAJ {top:112px;position:absolute;left:696px;height:28px;width:40px;z-index:1;}
#BEACFIZSVH_DIV {top:105px;position:absolute;left:128px;height:19px;width:279px;z-index:1; }
#BEACFIZSVH { vertical-align:middle; }
BODY[ettl="yes"] #AOHGKXZIJG_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #BSCMMKXBND_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#TTRVXROIVP, #PDFSWXZOJQ, #AOHGKXZIJG_DIV, #BEACFIZSVH_DIV {box-sizing : border-box;}
