.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#MJZOLGWVXE { height:90px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#MJZOLGWVXE_DIV { position:absolute;height:90px;z-index:0;width:504px;top:9px;left:8px;}
#QHXVBCMDEB {top:36px;position:absolute;left:152px;height:20px;width:352px;z-index:1; }
#QHXVBCMDEB { vertical-align:middle; }
#KAGRBEILOC {top:63px;position:absolute;left:152px;height:20px;width:132px;z-index:1; }
#RROILCAWGO {top:63px;position:absolute;left:448px;height:22px;width:24px;z-index:1;}
#ZQEKBHAOQV {top:63px;position:absolute;left:480px;height:22px;width:24px;z-index:1;}
#INZZSZTBRT_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #INZZSZTBRT_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #INZZSZTBRT_DIV {top:40px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #INZZSZTBRT_DIV {top:40px;position:absolute;left:16px;}
#BBAELHURCV_DIV {top:67px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BBAELHURCV_DIV {top:67px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #BBAELHURCV_DIV {top:67px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #BBAELHURCV_DIV {top:67px;position:absolute;left:16px;}
#DENDEAWNFG_DIV {top:15px;position:absolute;left:16px;height:16px;width:488px;color:#0000FF;background-color:#FFFF95;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MJZOLGWVXE, #INZZSZTBRT_DIV, #BBAELHURCV_DIV, #DENDEAWNFG_DIV {overflow:hidden;}
#MJZOLGWVXE, #QHXVBCMDEB, #KAGRBEILOC {box-sizing : border-box;}
