.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:576px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:relative;z-index:0;width:784px;left:0px;}
#XLVFHSOSYH_HEADER {width:784px;}
#GTMJENMCMN {top:27px;position:absolute;left:55px;height:20px;width:48px;text-align:right;z-index:1; }
#PTXYMSWBZO {top:23px;position:absolute;left:735px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:216px;position:absolute;left:7px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#RXPIEFSABT {top:23px;position:absolute;left:687px;height:32px;width:40px;z-index:1;}
#KQMKKBMXYE {top:63px;position:absolute;left:7px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#YIXZTOKOBR_DIV {top:31px;position:absolute;left:22px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:31px;position:absolute;left:22px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:31px;position:absolute;left:22px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:31px;position:absolute;left:22px;letter-spacing:-1px;}
#TYIWXFLLFY_DIV {top:306px;position:absolute;left:7px;height:261px;width:768px;text-align:left;z-index:1;}
#XLVFHSOSYH, #YIXZTOKOBR_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #GTMJENMCMN {box-sizing : border-box;}
