.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.TYXFMNVIDN_DIV { position:absolute;top:2px;left:44px;height:16px;width:152px;overflow:hidden;text-align:left;z-index:1;}
.QLEUNOCCGU_DIV { position:absolute;top:2px;left:204px;height:16px;width:300px;overflow:hidden;text-align:left;z-index:1;}
.XBHFDRDVEA_DIV { position:absolute;top:2px;left:512px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.KUINQXIIXV_DIV { position:absolute;top:2px;left:592px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.OTQSYKSRAC_DIV { position:absolute;top:2px;left:672px;height:16px;width:120px;overflow:hidden;text-align:left;z-index:1;}
.YIZKEDFJTZ_DIV { position:absolute;top:0px;left:44px;height:16px;width:53px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.OLXBKONPKF_DIV { position:absolute;top:0px;left:512px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.FZYXURBUST_DIV { position:absolute;top:0px;left:592px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.RMOOROCYQT_DIV { position:absolute;top:0px;left:672px;height:16px;width:72px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.XZUXXWWVEZ { position:absolute;top:2px;left:7px;z-index:1;clip:rect(0,16px,16px,0);}
.XZMBQDKCOI { position:absolute;top:2px;left:24px;z-index:1;clip:rect(0,16px,16px,0);}
.YIZKEDFJTZ_DIV, .OLXBKONPKF_DIV, .FZYXURBUST_DIV, .RMOOROCYQT_DIV {overflow:hidden;}
