.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:637px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:637px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:63px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:760px;height:14px;width:16px;text-align:left;z-index:1;}
#VBEYRFASEL_DIV {top:63px;position:absolute;left:24px;text-align:left;z-index:1;}
BODY:not([ettl]) #VBEYRFASEL_DIV {height:16px;width:337px;}
BODY[ettl="old"] #VBEYRFASEL_DIV {height:16px;width:337px;}
#VNFRMCXRZW {top:59px;position:absolute;left:365px;height:20px;width:66px;text-align:right;z-index:1; }
#BLSWRPJBJG_DIV {top:87px;position:absolute;left:21px;height:21px;width:377px;overflow:hidden;white-space:nowrap;z-index:1; }
#EQEVYTAUZT {top:116px;position:absolute;left:21px;height:20px;width:408px;z-index:1; }
#EQEVYTAUZT { vertical-align:middle; }
#CDTQPZIPTH_DIV {top:119px;position:absolute;left:445px;height:16px;width:116px;text-align:right;z-index:1;}
BODY:not([ettl]) #CDTQPZIPTH_DIV {top:119px;position:absolute;left:445px;height:16px;width:116px;}
BODY[ettl="old"] #CDTQPZIPTH_DIV {top:119px;position:absolute;left:445px;height:16px;width:116px;}
BODY[ettl="yes"] #CDTQPZIPTH_DIV {top:119px;position:absolute;left:445px;letter-spacing:-1px;}
#VQLMVVYLUU {top:115px;position:absolute;left:565px;height:20px;width:58px;z-index:1; }
#HKGEZJGNAE {top:147px;position:absolute;left:88px;height:20px;width:40px;z-index:1; }
#HKGEZJGNAE_ZOOM { position:absolute;top:147px;left:129px;height:20px;width:17px;z-index:1;}
#SSTUTBOCAN_DIV {top:151px;position:absolute;left:11px;height:16px;width:73px;text-align:right;z-index:1;}
BODY:not([ettl]) #SSTUTBOCAN_DIV {top:151px;position:absolute;left:11px;height:16px;width:73px;}
BODY[ettl="old"] #SSTUTBOCAN_DIV {top:151px;position:absolute;left:11px;height:16px;width:73px;}
BODY[ettl="yes"] #SSTUTBOCAN_DIV {top:151px;position:absolute;left:11px;letter-spacing:-1px;}
#RMHDQIMWME_DIV {top:151px;position:absolute;left:154px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#UEOYJYCOSR {top:119px;position:absolute;left:688px;height:20px;width:88px;text-align:right;z-index:1; }
#DYMVKIQWCA {top:553px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:203px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#MVXXCZOQGP {top:352px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#HWGSDNXHVO {top:91px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#NRLODKQADP_DIV {top:91px;position:absolute;left:456px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#WKILGLJQCE_DIV {top:175px;position:absolute;left:88px;height:21px;width:208px;overflow:hidden;white-space:nowrap;z-index:1; }
#LQPXLNJOZC_DIV {top:63px;position:absolute;left:448px;height:16px;width:47px;text-align:right;z-index:1;}
BODY:not([ettl]) #LQPXLNJOZC_DIV {top:63px;position:absolute;left:448px;height:16px;width:47px;}
BODY[ettl="old"] #LQPXLNJOZC_DIV {top:63px;position:absolute;left:448px;height:16px;width:47px;}
BODY[ettl="yes"] #LQPXLNJOZC_DIV {top:63px;position:absolute;left:448px;letter-spacing:-1px;}
#VURSSHWJPP {top:59px;position:absolute;left:496px;height:20px;width:184px;z-index:1; }
#VURSSHWJPP { vertical-align:middle; }
#LJCBRCQAIY {top:175px;position:absolute;left:565px;height:20px;width:108px;z-index:1; }
#AYJCXMJZDC_DIV {top:179px;position:absolute;left:444px;height:16px;width:117px;text-align:right;z-index:1;}
BODY:not([ettl]) #AYJCXMJZDC_DIV {top:179px;position:absolute;left:444px;height:16px;width:117px;}
BODY[ettl="old"] #AYJCXMJZDC_DIV {top:179px;position:absolute;left:444px;height:16px;width:117px;}
BODY[ettl="yes"] #AYJCXMJZDC_DIV {top:179px;position:absolute;left:444px;letter-spacing:-1px;}
BODY[ettl="yes"] #VBEYRFASEL_DIV, BODY[ettl="yes"] #BLSWRPJBJG_DIV, BODY[ettl="yes"] #NRLODKQADP_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #FGMOCXNBFY_DIV, #VBEYRFASEL_DIV, #CDTQPZIPTH_DIV, #SSTUTBOCAN_DIV, #RMHDQIMWME_DIV, #LQPXLNJOZC_DIV, #AYJCXMJZDC_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #VNFRMCXRZW, #BLSWRPJBJG_DIV, #EQEVYTAUZT, #VQLMVVYLUU, #HKGEZJGNAE, #UEOYJYCOSR, #NRLODKQADP_DIV, #WKILGLJQCE_DIV, #VURSSHWJPP, #LJCBRCQAIY {box-sizing : border-box;}
