.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ZJAUKKPAZV { height:147px;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#ZJAUKKPAZV_DIV { position:absolute;height:147px;z-index:0;width:768px;top:7px;left:8px;}
#UYVYTEMEXX {top:14px;position:absolute;left:112px;height:20px;width:62px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:14px;left:175px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:42px;position:absolute;left:112px;height:20px;width:62px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:42px;left:175px;height:20px;width:17px;z-index:1;}
#CQSDKGBASY_DIV {top:65px;position:absolute;left:113px;height:19px;width:168px;z-index:1; }
#CQSDKGBASY { vertical-align:middle; }
#LGLKGKWNEO_DIV {top:63px;position:absolute;left:304px;height:21px;width:140px;overflow:hidden;white-space:nowrap;z-index:1; }
#XURLGQZZMU {top:112px;position:absolute;left:248px;height:32px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#PCILMATBXL_DIV {top:18px;position:absolute;left:20px;height:16px;width:87px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:18px;position:absolute;left:20px;height:16px;width:87px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:18px;position:absolute;left:20px;height:16px;width:87px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:18px;position:absolute;left:20px;}
#VXJAZUGUIO_DIV {top:18px;position:absolute;left:200px;height:16px;width:368px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#XCBBNKIAUV_DIV {top:46px;position:absolute;left:200px;height:16px;width:368px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PTXYMSWBZO {top:112px;position:absolute;left:312px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#CHMJXDZTGO_DIV {top:46px;position:absolute;left:20px;height:16px;width:87px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #CHMJXDZTGO_DIV {top:46px;position:absolute;left:20px;height:16px;width:87px;}
BODY[ettl="old"] #CHMJXDZTGO_DIV {top:46px;position:absolute;left:20px;height:16px;width:87px;}
BODY[ettl="yes"] #CHMJXDZTGO_DIV {top:46px;position:absolute;left:20px;}
#IJFHKENFGT_DIV {top:68px;position:absolute;left:40px;height:16px;width:68px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FGMOCXNBFY_DIV {top:161px;position:absolute;left:8px;height:279px;width:768px;text-align:left;z-index:1;}
#ZJAUKKPAZV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #XCBBNKIAUV_DIV, #CHMJXDZTGO_DIV, #IJFHKENFGT_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#ZJAUKKPAZV, #UYVYTEMEXX, #CJWUHWULAR, #CQSDKGBASY_DIV, #LGLKGKWNEO_DIV {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
