.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:560px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:560px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:91px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#KXNOVGROJL_DIV {top:175px;position:absolute;left:16px;height:16px;width:760px;color:#0000FF;text-align:center;z-index:1;}
#GORGDGDNGD_DIV {top:287px;position:absolute;left:16px;height:175px;width:760px;text-align:left;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:760px;height:14px;width:16px;text-align:left;z-index:1;}
#SSRCOAMDBL_DIV {top:469px;position:absolute;left:16px;height:91px;width:760px;text-align:left;z-index:1;}
#BESVSXEZBJ {top:196px;position:absolute;left:16px;height:86px;width:760px;overflow:auto;z-index:1; }
#VBEYRFASEL_DIV {top:67px;position:absolute;left:19px;text-align:left;z-index:1;}
BODY:not([ettl]) #VBEYRFASEL_DIV {height:16px;width:337px;}
BODY[ettl="old"] #VBEYRFASEL_DIV {height:16px;width:337px;}
#VNFRMCXRZW {top:63px;position:absolute;left:360px;height:20px;width:66px;text-align:right;z-index:1; }
#BLSWRPJBJG_DIV {top:91px;position:absolute;left:16px;height:21px;width:377px;overflow:hidden;white-space:nowrap;z-index:1; }
#EQEVYTAUZT {top:120px;position:absolute;left:16px;height:20px;width:408px;z-index:1; }
#EQEVYTAUZT { vertical-align:middle; }
#CDTQPZIPTH_DIV {top:123px;position:absolute;left:440px;height:16px;width:116px;text-align:right;z-index:1;}
BODY:not([ettl]) #CDTQPZIPTH_DIV {top:123px;position:absolute;left:440px;height:16px;width:116px;}
BODY[ettl="old"] #CDTQPZIPTH_DIV {top:123px;position:absolute;left:440px;height:16px;width:116px;}
BODY[ettl="yes"] #CDTQPZIPTH_DIV {top:123px;position:absolute;left:440px;letter-spacing:-1px;}
#VQLMVVYLUU {top:119px;position:absolute;left:560px;height:20px;width:58px;z-index:1; }
#HKGEZJGNAE {top:147px;position:absolute;left:128px;height:20px;width:40px;z-index:1; }
#HKGEZJGNAE_ZOOM { position:absolute;top:147px;left:169px;height:20px;width:17px;z-index:1;}
#SSTUTBOCAN_DIV {top:151px;position:absolute;left:16px;height:16px;width:108px;text-align:right;z-index:1;}
BODY:not([ettl]) #SSTUTBOCAN_DIV {top:151px;position:absolute;left:16px;height:16px;width:108px;}
BODY[ettl="old"] #SSTUTBOCAN_DIV {top:151px;position:absolute;left:16px;height:16px;width:108px;}
BODY[ettl="yes"] #SSTUTBOCAN_DIV {top:151px;position:absolute;left:16px;}
#RMHDQIMWME_DIV {top:151px;position:absolute;left:194px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#NCXAJLIDKA {top:63px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
BODY[ettl="yes"] #VBEYRFASEL_DIV, BODY[ettl="yes"] #BLSWRPJBJG_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #KXNOVGROJL_DIV, #GORGDGDNGD_DIV, #FGMOCXNBFY_DIV, #SSRCOAMDBL_DIV, #VBEYRFASEL_DIV, #CDTQPZIPTH_DIV, #SSTUTBOCAN_DIV, #RMHDQIMWME_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #BESVSXEZBJ, #VNFRMCXRZW, #BLSWRPJBJG_DIV, #EQEVYTAUZT, #VQLMVVYLUU, #HKGEZJGNAE {box-sizing : border-box;}
