.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:207px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:207px;z-index:0;width:704px;top:9px;left:8px;}
#DPKVLWHCIG {top:18px;position:absolute;left:152px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:18px;left:225px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:18px;position:absolute;left:405px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:18px;left:478px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:45px;position:absolute;left:152px;height:20px;width:94px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:45px;left:247px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:73px;position:absolute;left:152px;height:20px;width:94px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:73px;left:247px;height:20px;width:17px;z-index:1;}
#JCIARNNFGA_DIV {top:123px;position:absolute;left:24px;height:53px;width:129px;z-index:1; }
#JCIARNNFGA { vertical-align:middle;height:8pt; }
#LGLKGKWNEO_DIV {top:123px;position:absolute;left:504px;height:53px;width:141px;z-index:1; }
#LGLKGKWNEO { vertical-align:middle;height:8pt; }
#XURLGQZZMU {top:178px;position:absolute;left:312px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:178px;position:absolute;left:368px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:22px;position:absolute;left:9px;height:16px;width:139px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:22px;position:absolute;left:9px;height:16px;width:139px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:9px;height:16px;width:139px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:9px;}
#BGHAITOPMU_DIV {top:22px;position:absolute;left:269px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:22px;position:absolute;left:269px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:269px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:269px;}
#PCILMATBXL_DIV {top:49px;position:absolute;left:88px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:49px;position:absolute;left:272px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:77px;position:absolute;left:88px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#XCBBNKIAUV_DIV {top:77px;position:absolute;left:272px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#LKERTFTGKI_DIV {top:105px;position:absolute;left:24px;height:19px;width:184px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#CUCZSUVKBS_DIV {top:105px;position:absolute;left:504px;height:19px;width:136px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:10pt;font-weight:bold;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #LKERTFTGKI_DIV, #CUCZSUVKBS_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR, #JCIARNNFGA_DIV, #LGLKGKWNEO_DIV {box-sizing : border-box;}
