.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PBGEOWBBUF { height:70px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#PBGEOWBBUF_DIV { position:absolute;height:70px;z-index:0;width:392px;top:7px;left:8px;}
#QAXNTYELMN_DIV {top:25px;position:absolute;left:72px;height:16px;width:154px;text-align:right;z-index:1;}
BODY:not([ettl]) #QAXNTYELMN_DIV {top:25px;position:absolute;left:72px;height:16px;width:154px;}
BODY[ettl="old"] #QAXNTYELMN_DIV {top:25px;position:absolute;left:72px;height:16px;width:154px;}
BODY[ettl="yes"] #QAXNTYELMN_DIV {top:25px;position:absolute;left:72px;letter-spacing:-1px;}
#NTUZLPWVAD {top:21px;position:absolute;left:232px;height:20px;width:66px;text-align:right;z-index:1; }
#NTUZLPWVAD_ZOOM { position:absolute;top:21px;left:299px;height:20px;width:17px;z-index:1;}
#LILXKKBRTV {top:47px;position:absolute;left:168px;height:25px;width:26px;z-index:1;}
#FBELDGNLIX {top:47px;position:absolute;left:208px;height:25px;width:26px;z-index:1;}
#PBGEOWBBUF, #QAXNTYELMN_DIV {overflow:hidden;}
#PBGEOWBBUF, #NTUZLPWVAD {box-sizing : border-box;}
