.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:378px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:378px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:63px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#WIRRRKLEWO_DIV {top:63px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;text-align:right;z-index:1;}
BODY:not([ettl]) #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="old"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="yes"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;letter-spacing:-1px;}
#XFVQTXPEXL {top:84px;position:absolute;left:88px;height:20px;width:64px;z-index:1; }
#XFVQTXPEXL_ZOOM { position:absolute;top:84px;left:153px;height:20px;width:17px;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:688px;height:14px;width:88px;text-align:left;z-index:1;}
#EFKLJNCNTE_DIV {top:88px;position:absolute;left:13px;height:16px;width:68px;text-align:right;z-index:1;}
BODY:not([ettl]) #EFKLJNCNTE_DIV {top:88px;position:absolute;left:13px;height:16px;width:68px;}
BODY[ettl="old"] #EFKLJNCNTE_DIV {top:88px;position:absolute;left:13px;height:16px;width:68px;}
BODY[ettl="yes"] #EFKLJNCNTE_DIV {top:88px;position:absolute;left:13px;letter-spacing:-1px;}
#LXTFLROIJK_DIV {top:88px;position:absolute;left:176px;height:16px;width:504px;color:#0000FF;text-align:left;z-index:1;}
#DYMVKIQWCA {top:294px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:119px;position:absolute;left:16px;height:169px;width:760px;height:169px;right:0px;z-index:1;overflow:auto;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #NJQSNRJAXM_DIV, #FGMOCXNBFY_DIV, #EFKLJNCNTE_DIV, #LXTFLROIJK_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #WIRRRKLEWO_DIV, #XFVQTXPEXL {box-sizing : border-box;}
