.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#PMDUYENKWL_DIV {top:11px;position:absolute;left:48px;height:16px;width:103px;text-align:right;z-index:1;}
BODY:not([ettl]) #PMDUYENKWL_DIV {top:11px;position:absolute;left:48px;height:16px;width:103px;}
BODY[ettl="old"] #PMDUYENKWL_DIV {top:11px;position:absolute;left:48px;height:16px;width:103px;}
BODY[ettl="yes"] #PMDUYENKWL_DIV {top:11px;position:absolute;left:48px;letter-spacing:-1px;}
#FCREPJBLHG {top:7px;position:absolute;left:152px;height:20px;width:78px;z-index:1; }
#FCREPJBLHG_ZOOM { position:absolute;top:7px;left:231px;height:20px;width:17px;z-index:1;}
#UWBJTJCNUU_DIV {top:11px;position:absolute;left:256px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#CCVJTGYXIP_DIV {top:37px;position:absolute;left:60px;height:16px;width:91px;text-align:right;z-index:1;}
BODY:not([ettl]) #CCVJTGYXIP_DIV {top:37px;position:absolute;left:60px;height:16px;width:91px;}
BODY[ettl="old"] #CCVJTGYXIP_DIV {top:37px;position:absolute;left:60px;height:16px;width:91px;}
BODY[ettl="yes"] #CCVJTGYXIP_DIV {top:37px;position:absolute;left:60px;letter-spacing:-1px;}
#RCFVSQQCNU {top:33px;position:absolute;left:152px;height:20px;width:456px;z-index:1; }
#RCFVSQQCNU { vertical-align:middle; }
#LMCBBKUTJY {top:96px;position:absolute;left:152px;height:20px;width:48px;z-index:1; }
#LMCBBKUTJY_ZOOM { position:absolute;top:96px;left:201px;height:20px;width:17px;z-index:1;}
#VEYKPVUMPQ {top:126px;position:absolute;left:152px;height:20px;width:120px;z-index:1; }
#VEYKPVUMPQ_ZOOM { position:absolute;top:126px;left:273px;height:20px;width:17px;z-index:1;}
#CNQRKVJUGN {top:154px;position:absolute;left:152px;height:20px;width:432px;text-transform:uppercase;z-index:1; }
#HJLJFAMGNR {top:182px;position:absolute;left:152px;height:20px;width:70px;text-align:right;z-index:1; }
#HJLJFAMGNR_ZOOM { position:absolute;top:182px;left:223px;height:20px;width:17px;z-index:1;}
#XWZHWTENET {top:184px;position:absolute;left:552px;height:20px;width:70px;text-align:right;z-index:1; }
#XWZHWTENET_ZOOM { position:absolute;top:184px;left:623px;height:20px;width:17px;z-index:1;}
#HBWDBPTGKK {top:210px;position:absolute;left:152px;height:20px;width:70px;text-align:right;z-index:1; }
#HBWDBPTGKK_ZOOM { position:absolute;top:210px;left:223px;height:20px;width:17px;z-index:1;}
#WTEIEHYBUM {top:212px;position:absolute;left:552px;height:20px;width:70px;text-align:right;z-index:1; }
#WTEIEHYBUM_ZOOM { position:absolute;top:212px;left:623px;height:20px;width:17px;z-index:1;}
#YJWPZAWNZJ_DIV {top:242px;position:absolute;left:152px;height:19px;width:193px;z-index:1; }
#YJWPZAWNZJ { vertical-align:middle; }
#QNMKJLGOKW {top:238px;position:absolute;left:552px;height:20px;width:240px;z-index:1; }
#QNMKJLGOKW { vertical-align:middle; }
#ACJYNBGGGK_DIV {top:269px;position:absolute;left:152px;height:21px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#UGLRKSBAIN_DIV {top:269px;position:absolute;left:267px;height:21px;width:96px;overflow:hidden;white-space:nowrap;z-index:1; }
#QXOCQTKHHM_DIV {top:300px;position:absolute;left:152px;height:21px;width:288px;overflow:hidden;white-space:nowrap;z-index:1; }
#YKZIVVFLHM {top:300px;position:absolute;left:472px;height:20px;width:320px;z-index:1; }
#YKZIVVFLHM { vertical-align:middle; }
#MPZNTAOLOD_DIV {top:333px;position:absolute;left:152px;height:21px;width:288px;overflow:hidden;white-space:nowrap;z-index:1; }
#BGNWNQZSMR {top:333px;position:absolute;left:472px;height:20px;width:320px;z-index:1; }
#BGNWNQZSMR { vertical-align:middle; }
#BHRJFGYNWO_DIV {top:368px;position:absolute;left:152px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#VIRLZRRHIQ_DIV {top:368px;position:absolute;left:472px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#LJVZZPXJUZ_DIV {top:401px;position:absolute;left:152px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
#DRCOVPYYCV_DIV {top:401px;position:absolute;left:472px;height:21px;width:256px;overflow:hidden;white-space:nowrap;z-index:1; }
#BAPCIYCOIX {top:462px;position:absolute;left:144px;height:20px;width:492px;z-index:1; }
#MAYNQUHJSS {top:458px;position:absolute;left:704px;z-index:1;clip:rect(0,42px,32px,0);}
#LCFKHGNSPV {top:458px;position:absolute;left:656px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:458px;position:absolute;left:752px;z-index:1;clip:rect(0,42px,32px,0);}
#IWHDABKYSG_DIV {top:68px;position:absolute;left:40px;height:16px;width:137px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LQTOQIQYKP_DIV {top:186px;position:absolute;left:16px;height:16px;width:135px;text-align:right;z-index:1;}
BODY:not([ettl]) #LQTOQIQYKP_DIV {top:186px;position:absolute;left:16px;height:16px;width:135px;}
BODY[ettl="old"] #LQTOQIQYKP_DIV {top:186px;position:absolute;left:16px;height:16px;width:135px;}
BODY[ettl="yes"] #LQTOQIQYKP_DIV {top:186px;position:absolute;left:16px;}
#VGTGDVWOBC_DIV {top:188px;position:absolute;left:408px;height:16px;width:143px;text-align:right;z-index:1;}
BODY:not([ettl]) #VGTGDVWOBC_DIV {top:188px;position:absolute;left:408px;height:16px;width:143px;}
BODY[ettl="old"] #VGTGDVWOBC_DIV {top:188px;position:absolute;left:408px;height:16px;width:143px;}
BODY[ettl="yes"] #VGTGDVWOBC_DIV {top:188px;position:absolute;left:408px;}
#USJHXUDNOM_DIV {top:242px;position:absolute;left:70px;height:16px;width:81px;text-align:right;z-index:1;}
BODY:not([ettl]) #USJHXUDNOM_DIV {top:242px;position:absolute;left:70px;height:16px;width:81px;}
BODY[ettl="old"] #USJHXUDNOM_DIV {top:242px;position:absolute;left:70px;height:16px;width:81px;}
BODY[ettl="yes"] #USJHXUDNOM_DIV {top:242px;position:absolute;left:70px;letter-spacing:-1px;}
#ENFIBHJIYH_DIV {top:100px;position:absolute;left:24px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #ENFIBHJIYH_DIV {top:100px;position:absolute;left:24px;height:16px;width:128px;}
BODY[ettl="old"] #ENFIBHJIYH_DIV {top:100px;position:absolute;left:24px;height:16px;width:128px;}
BODY[ettl="yes"] #ENFIBHJIYH_DIV {top:100px;position:absolute;left:24px;}
#UAIBAUYUDZ_DIV {top:100px;position:absolute;left:227px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#MBIRXQHNIJ_DIV {top:274px;position:absolute;left:32px;height:16px;width:119px;text-align:right;z-index:1;}
BODY:not([ettl]) #MBIRXQHNIJ_DIV {top:274px;position:absolute;left:32px;height:16px;width:119px;}
BODY[ettl="old"] #MBIRXQHNIJ_DIV {top:274px;position:absolute;left:32px;height:16px;width:119px;}
BODY[ettl="yes"] #MBIRXQHNIJ_DIV {top:274px;position:absolute;left:32px;}
#FGMOCXNBFY_DIV {top:42px;position:absolute;left:728px;height:7px;width:8px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:654px;position:absolute;left:0px;height:91px;width:792px;height:91px;right:0px;z-index:1;overflow:auto;}
#PNUSYHLNFS_DIV {top:158px;position:absolute;left:24px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #PNUSYHLNFS_DIV {top:158px;position:absolute;left:24px;height:16px;width:128px;}
BODY[ettl="old"] #PNUSYHLNFS_DIV {top:158px;position:absolute;left:24px;height:16px;width:128px;}
BODY[ettl="yes"] #PNUSYHLNFS_DIV {top:158px;position:absolute;left:24px;}
#LMKGHMEMXE_DIV {top:130px;position:absolute;left:40px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #LMKGHMEMXE_DIV {top:130px;position:absolute;left:40px;height:16px;width:112px;}
BODY[ettl="old"] #LMKGHMEMXE_DIV {top:130px;position:absolute;left:40px;height:16px;width:112px;}
BODY[ettl="yes"] #LMKGHMEMXE_DIV {top:130px;position:absolute;left:40px;}
#GOVQOOBBUD_DIV {top:130px;position:absolute;left:296px;height:16px;width:504px;color:#0000FF;text-align:left;z-index:1;}
#KQMKKBMXYE {top:500px;position:absolute;left:0px;height:147px;width:792px;height:147px;right:0px;z-index:1;overflow:auto;}
#OBJZKBQZTK_DIV {top:466px;position:absolute;left:28px;height:16px;width:115px;text-align:right;z-index:1;}
BODY:not([ettl]) #OBJZKBQZTK_DIV {top:466px;position:absolute;left:28px;height:16px;width:115px;}
BODY[ettl="old"] #OBJZKBQZTK_DIV {top:466px;position:absolute;left:28px;height:16px;width:115px;}
BODY[ettl="yes"] #OBJZKBQZTK_DIV {top:466px;position:absolute;left:28px;letter-spacing:-1px;}
#ASMHCXBGTS_DIV {top:214px;position:absolute;left:24px;height:16px;width:127px;text-align:right;z-index:1;}
BODY:not([ettl]) #ASMHCXBGTS_DIV {top:214px;position:absolute;left:24px;height:16px;width:127px;}
BODY[ettl="old"] #ASMHCXBGTS_DIV {top:214px;position:absolute;left:24px;height:16px;width:127px;}
BODY[ettl="yes"] #ASMHCXBGTS_DIV {top:214px;position:absolute;left:24px;}
#MXGGWPSZXH_DIV {top:216px;position:absolute;left:408px;height:16px;width:143px;text-align:right;z-index:1;}
BODY:not([ettl]) #MXGGWPSZXH_DIV {top:216px;position:absolute;left:408px;height:16px;width:143px;}
BODY[ettl="old"] #MXGGWPSZXH_DIV {top:216px;position:absolute;left:408px;height:16px;width:143px;}
BODY[ettl="yes"] #MXGGWPSZXH_DIV {top:216px;position:absolute;left:408px;}
#XPNJJLILLB {top:270px;position:absolute;left:472px;height:20px;width:320px;z-index:1; }
#XPNJJLILLB { vertical-align:middle; }
#WTUOJUZNCL {top:392px;position:absolute;left:752px;z-index:1;clip:rect(0,42px,32px,0);}
#OKPHQCXKRD_DIV {top:434px;position:absolute;left:152px;height:21px;width:184px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #ACJYNBGGGK_DIV, BODY[ettl="yes"] #UGLRKSBAIN_DIV, BODY[ettl="yes"] #QXOCQTKHHM_DIV, BODY[ettl="yes"] #MPZNTAOLOD_DIV, BODY[ettl="yes"] #BHRJFGYNWO_DIV, BODY[ettl="yes"] #VIRLZRRHIQ_DIV, BODY[ettl="yes"] #LJVZZPXJUZ_DIV, BODY[ettl="yes"] #OKPHQCXKRD_DIV {letter-spacing:-1px;}
#PMDUYENKWL_DIV, #UWBJTJCNUU_DIV, #CCVJTGYXIP_DIV, #IWHDABKYSG_DIV, #LQTOQIQYKP_DIV, #VGTGDVWOBC_DIV, #USJHXUDNOM_DIV, #ENFIBHJIYH_DIV, #UAIBAUYUDZ_DIV, #MBIRXQHNIJ_DIV, #FGMOCXNBFY_DIV, #PNUSYHLNFS_DIV, #LMKGHMEMXE_DIV, #GOVQOOBBUD_DIV, #OBJZKBQZTK_DIV, #ASMHCXBGTS_DIV, #MXGGWPSZXH_DIV {overflow:hidden;}
#FCREPJBLHG, #RCFVSQQCNU, #LMCBBKUTJY, #VEYKPVUMPQ, #CNQRKVJUGN, #HJLJFAMGNR, #XWZHWTENET, #HBWDBPTGKK, #WTEIEHYBUM, #YJWPZAWNZJ_DIV, #QNMKJLGOKW, #ACJYNBGGGK_DIV, #UGLRKSBAIN_DIV, #QXOCQTKHHM_DIV, #YKZIVVFLHM, #MPZNTAOLOD_DIV, #BGNWNQZSMR, #BHRJFGYNWO_DIV, #VIRLZRRHIQ_DIV, #LJVZZPXJUZ_DIV, #DRCOVPYYCV_DIV, #BAPCIYCOIX, #XPNJJLILLB, #OKPHQCXKRD_DIV {box-sizing : border-box;}
