.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDBBKLYUJD {top:9px;position:absolute;left:168px;height:20px;width:188px;z-index:1; }
#IDBBKLYUJD { vertical-align:middle; }
#UYVYTEMEXX {top:144px;position:absolute;left:168px;height:20px;width:162px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:144px;left:331px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:172px;position:absolute;left:168px;height:20px;width:162px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:172px;left:331px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:450px;position:absolute;left:328px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:450px;position:absolute;left:392px;z-index:1;clip:rect(0,40px,33px,0);}
#PCILMATBXL_DIV {top:148px;position:absolute;left:16px;height:16px;width:144px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:148px;position:absolute;left:16px;height:16px;width:144px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:148px;position:absolute;left:16px;height:16px;width:144px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:148px;position:absolute;left:16px;}
#VXJAZUGUIO_DIV {top:148px;position:absolute;left:360px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:176px;position:absolute;left:19px;height:16px;width:141px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:176px;position:absolute;left:19px;height:16px;width:141px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:176px;position:absolute;left:19px;height:16px;width:141px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:176px;position:absolute;left:19px;}
#XCBBNKIAUV_DIV {top:176px;position:absolute;left:360px;height:16px;width:408px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JKOUFWCMIT_DIV {top:13px;position:absolute;left:64px;height:16px;width:101px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JKOUFWCMIT_DIV {top:13px;position:absolute;left:64px;height:16px;width:101px;}
BODY[ettl="old"] #JKOUFWCMIT_DIV {top:13px;position:absolute;left:64px;height:16px;width:101px;}
BODY[ettl="yes"] #JKOUFWCMIT_DIV {top:13px;position:absolute;left:64px;}
#UQFVYWSNYY {top:36px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#UQFVYWSNYY_ZOOM { position:absolute;top:36px;left:239px;height:20px;width:17px;z-index:1;}
#HXBJUMEZIA {top:64px;position:absolute;left:168px;height:20px;width:70px;z-index:1; }
#HXBJUMEZIA_ZOOM { position:absolute;top:64px;left:239px;height:20px;width:17px;z-index:1;}
#DPKVLWHCIG {top:90px;position:absolute;left:168px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:90px;left:241px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:90px;position:absolute;left:408px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:90px;left:481px;height:20px;width:17px;z-index:1;}
#HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:94px;position:absolute;left:40px;}
#BGHAITOPMU_DIV {top:94px;position:absolute;left:280px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:94px;position:absolute;left:280px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:94px;position:absolute;left:280px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:94px;position:absolute;left:280px;}
#ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="old"] #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;height:16px;width:157px;}
BODY[ettl="yes"] #ZWZOQIGZCX_DIV {top:40px;position:absolute;left:8px;}
#RXKVDVJPTZ_DIV {top:40px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#BGOVXFIBXQ_DIV {top:68px;position:absolute;left:14px;height:16px;width:151px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:14px;height:16px;width:151px;}
BODY[ettl="old"] #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:14px;height:16px;width:151px;}
BODY[ettl="yes"] #BGOVXFIBXQ_DIV {top:68px;position:absolute;left:14px;}
#LNFAXDLCMF_DIV {top:68px;position:absolute;left:264px;height:16px;width:432px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#ZENAFJYDTI {top:117px;position:absolute;left:408px;height:20px;width:72px;text-align:right;z-index:1; }
#ZENAFJYDTI_ZOOM { position:absolute;top:117px;left:481px;height:20px;width:17px;z-index:1;}
#FWWBDIWISI_DIV {top:121px;position:absolute;left:270px;height:16px;width:134px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #FWWBDIWISI_DIV {top:121px;position:absolute;left:270px;height:16px;width:134px;}
BODY[ettl="old"] #FWWBDIWISI_DIV {top:121px;position:absolute;left:270px;height:16px;width:134px;}
BODY[ettl="yes"] #FWWBDIWISI_DIV {top:121px;position:absolute;left:270px;}
#IVTUBJDSFA_DIV {top:121px;position:absolute;left:23px;height:16px;width:141px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #IVTUBJDSFA_DIV {top:121px;position:absolute;left:23px;height:16px;width:141px;}
BODY[ettl="old"] #IVTUBJDSFA_DIV {top:121px;position:absolute;left:23px;height:16px;width:141px;}
BODY[ettl="yes"] #IVTUBJDSFA_DIV {top:121px;position:absolute;left:23px;}
#CYFNOBCDPT {top:117px;position:absolute;left:168px;height:20px;width:72px;text-align:right;z-index:1; }
#CYFNOBCDPT_ZOOM { position:absolute;top:117px;left:241px;height:20px;width:17px;z-index:1;}
#DYMVKIQWCA {top:351px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:198px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#FGMOCXNBFY_DIV {top:459px;position:absolute;left:672px;height:14px;width:88px;text-align:left;z-index:1;}
#AZGUIQSSRM {top:450px;position:absolute;left:512px;z-index:1;clip:rect(0,40px,33px,0);}
#PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #JKOUFWCMIT_DIV, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #ZWZOQIGZCX_DIV, #RXKVDVJPTZ_DIV, #BGOVXFIBXQ_DIV, #LNFAXDLCMF_DIV, #FWWBDIWISI_DIV, #IVTUBJDSFA_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#IDBBKLYUJD, #UYVYTEMEXX, #CJWUHWULAR, #UQFVYWSNYY, #HXBJUMEZIA, #DPKVLWHCIG, #MTJDZQTEIR, #ZENAFJYDTI, #CYFNOBCDPT {box-sizing : border-box;}
