.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:561px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:561px;z-index:0;width:801px;top:-1px;left:-1px;}
#DMMJSVFBEV_DIV {top:0px;position:absolute;left:0px;height:16px;width:800px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ALQVOOWZEV {top:21px;position:absolute;left:528px;height:56px;width:264px;z-index:1;}
#AJXISNWTIP {top:91px;position:absolute;left:752px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:301px;position:absolute;left:1px;height:84px;width:797px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:125px;position:absolute;left:1px;height:173px;width:797px;height:173px;right:0px;z-index:1;overflow:auto;}
#JBNBDKBIAJ {top:91px;position:absolute;left:704px;height:28px;width:40px;z-index:1;}
#MPCMAMHQST {top:91px;position:absolute;left:656px;height:28px;width:40px;z-index:1;}
#TYIWXFLLFY_DIV {top:392px;position:absolute;left:1px;height:161px;width:797px;text-align:left;z-index:1;}
#LEQQQPGBLM_DIV {top:84px;position:absolute;left:8px;height:21px;width:152px;overflow:hidden;white-space:nowrap;z-index:1; }
#IXWESXTUQB_DIV {top:84px;position:absolute;left:184px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#YPNISOYHTS_DIV {top:84px;position:absolute;left:352px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#GTMJENMCMN {top:35px;position:absolute;left:48px;height:20px;width:36px;text-align:right;z-index:1; }
#TCZMCNHUFI {top:35px;position:absolute;left:128px;height:20px;width:112px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#FSXHJAAZGG {top:21px;position:absolute;left:304px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:25px;position:absolute;left:256px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:25px;position:absolute;left:256px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:25px;position:absolute;left:256px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:25px;position:absolute;left:256px;letter-spacing:-1px;}
#CLVVMIYSQG {top:49px;position:absolute;left:304px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:53px;position:absolute;left:256px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:53px;position:absolute;left:256px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:53px;position:absolute;left:256px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:53px;position:absolute;left:256px;}
#YIXZTOKOBR_DIV {top:39px;position:absolute;left:15px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:39px;position:absolute;left:15px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:39px;position:absolute;left:15px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:39px;position:absolute;left:15px;letter-spacing:-1px;}
#TTKGEZTDBH_DIV {top:39px;position:absolute;left:95px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #TTKGEZTDBH_DIV {top:39px;position:absolute;left:95px;height:16px;width:29px;}
BODY[ettl="old"] #TTKGEZTDBH_DIV {top:39px;position:absolute;left:95px;height:16px;width:29px;}
BODY[ettl="yes"] #TTKGEZTDBH_DIV {top:39px;position:absolute;left:95px;letter-spacing:-1px;}
#AOHGKXZIJG_DIV {top:105px;position:absolute;left:8px;height:21px;width:408px;overflow:hidden;white-space:nowrap;z-index:1; }
#KOFGMECQQN {top:91px;position:absolute;left:608px;height:28px;width:40px;z-index:1;}
#OSIUJJNLKT_DIV {top:104px;position:absolute;left:352px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #LEQQQPGBLM_DIV, BODY[ettl="yes"] #IXWESXTUQB_DIV, BODY[ettl="yes"] #YPNISOYHTS_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #TYIWXFLLFY_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YIXZTOKOBR_DIV, #TTKGEZTDBH_DIV {overflow:hidden;}
#TTRVXROIVP, #LEQQQPGBLM_DIV, #IXWESXTUQB_DIV, #YPNISOYHTS_DIV, #GTMJENMCMN, #TCZMCNHUFI, #FSXHJAAZGG, #CLVVMIYSQG, #AOHGKXZIJG_DIV, #OSIUJJNLKT_DIV {box-sizing : border-box;}
