.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UZOTDDZZSQ { height:441px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UZOTDDZZSQ_DIV { position:absolute;height:441px;z-index:0;width:776px;top:7px;left:8px;}
#GTMJENMCMN {top:77px;position:absolute;left:56px;height:20px;width:36px;text-align:right;z-index:1; }
#TCZMCNHUFI {top:77px;position:absolute;left:136px;height:20px;width:112px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#ZUXUDAETFH {top:70px;position:absolute;left:472px;height:28px;width:302px;z-index:1;}
#DMMJSVFBEV_DIV {top:14px;position:absolute;left:16px;height:16px;width:760px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LJMNABGSBL_DIV {top:35px;position:absolute;left:16px;height:16px;width:760px;text-align:center;z-index:1;}
#ALQVOOWZEV {top:154px;position:absolute;left:568px;height:28px;width:210px;z-index:1;}
#ZCSEKJZUCO { height:28px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:28px;z-index:0;width:760px;top:322px;left:16px;}
#VKDDBMFRDF_DIV {top:329px;position:absolute;left:24px;height:16px;width:744px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LOFHMITIDO_DIV {top:126px;position:absolute;left:16px;height:16px;width:760px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CFLYSPTTDU {top:154px;position:absolute;left:72px;height:20px;width:66px;text-align:right;z-index:1; }
#CFLYSPTTDU_ZOOM { position:absolute;top:154px;left:139px;height:20px;width:17px;z-index:1;}
#WUVFEJTHRU_DIV {top:158px;position:absolute;left:24px;text-align:left;z-index:1;}
BODY:not([ettl]) #WUVFEJTHRU_DIV {height:16px;width:43px;}
BODY[ettl="old"] #WUVFEJTHRU_DIV {height:16px;width:43px;}
#DIUBYKKRGY {top:154px;position:absolute;left:248px;height:20px;width:66px;text-align:right;z-index:1; }
#DIUBYKKRGY_ZOOM { position:absolute;top:154px;left:315px;height:20px;width:17px;z-index:1;}
#PKXDCHNEXM_DIV {top:158px;position:absolute;left:200px;height:16px;width:43px;text-align:left;z-index:1;}
#FSXHJAAZGG {top:63px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {top:67px;position:absolute;left:264px;letter-spacing:-1px;}
#CLVVMIYSQG {top:91px;position:absolute;left:312px;height:20px;width:66px;text-align:right;z-index:1; }
#LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:95px;position:absolute;left:264px;}
#YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="old"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;height:16px;width:29px;}
BODY[ettl="yes"] #YIXZTOKOBR_DIV {top:81px;position:absolute;left:23px;letter-spacing:-1px;}
#TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;text-align:right;z-index:1;}
BODY:not([ettl]) #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="old"] #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;height:16px;width:29px;}
BODY[ettl="yes"] #TTKGEZTDBH_DIV {top:81px;position:absolute;left:103px;letter-spacing:-1px;}
#CUBHMYHWXO {top:196px;position:absolute;left:736px;height:28px;width:40px;z-index:1;}
#JBNBDKBIAJ {top:196px;position:absolute;left:688px;height:28px;width:40px;z-index:1;}
#UDOTRXKADP_DIV {top:14px;position:absolute;left:20px;height:14px;width:16px;text-align:left;z-index:1;}
#XKCJRWEKFU { height:1px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#XKCJRWEKFU_DIV { position:absolute;height:1px;z-index:0;width:776px;top:231px;left:8px;}
#UFZQBBFAGD_DIV {top:238px;position:absolute;left:8px;height:16px;width:776px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#MPIOZQPPPI {top:259px;position:absolute;left:176px;height:20px;width:128px;z-index:1; }
#CTFPYTZIIH_DIV {top:263px;position:absolute;left:20px;height:16px;width:156px;text-align:right;z-index:1;}
BODY:not([ettl]) #CTFPYTZIIH_DIV {top:263px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="old"] #CTFPYTZIIH_DIV {top:263px;position:absolute;left:20px;height:16px;width:156px;}
BODY[ettl="yes"] #CTFPYTZIIH_DIV {top:263px;position:absolute;left:20px;letter-spacing:-1px;}
#YFPMFPWESC {top:259px;position:absolute;left:616px;height:20px;width:48px;z-index:1; }
#LASRRWOCQH_DIV {top:263px;position:absolute;left:491px;height:16px;width:125px;text-align:right;z-index:1;}
BODY:not([ettl]) #LASRRWOCQH_DIV {top:263px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="old"] #LASRRWOCQH_DIV {top:263px;position:absolute;left:491px;height:16px;width:125px;}
BODY[ettl="yes"] #LASRRWOCQH_DIV {top:263px;position:absolute;left:491px;letter-spacing:-1px;}
#HMYRBXBREF {top:287px;position:absolute;left:176px;height:20px;width:264px;z-index:1; }
#HMYRBXBREF { vertical-align:middle; }
#HAINTPIJUS_DIV {top:291px;position:absolute;left:65px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #HAINTPIJUS_DIV {top:291px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="old"] #HAINTPIJUS_DIV {top:291px;position:absolute;left:65px;height:16px;width:111px;}
BODY[ettl="yes"] #HAINTPIJUS_DIV {top:291px;position:absolute;left:65px;letter-spacing:-1px;}
#CQATNPZMEC {top:287px;position:absolute;left:616px;height:20px;width:72px;text-align:right;z-index:1; }
#FHSMWCMRII_DIV {top:291px;position:absolute;left:478px;height:16px;width:138px;text-align:right;z-index:1;}
BODY:not([ettl]) #FHSMWCMRII_DIV {top:291px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="old"] #FHSMWCMRII_DIV {top:291px;position:absolute;left:478px;height:16px;width:138px;}
BODY[ettl="yes"] #FHSMWCMRII_DIV {top:291px;position:absolute;left:478px;letter-spacing:-1px;}
#DYMVKIQWCA {top:357px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#MPCMAMHQST {top:196px;position:absolute;left:640px;height:28px;width:40px;z-index:1;}
#UABNRUNBPR { height:1px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#UABNRUNBPR_DIV { position:absolute;height:1px;z-index:0;width:776px;top:119px;left:8px;}
#MOHZUWAWZD_DIV {top:196px;position:absolute;left:288px;height:21px;width:328px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #WUVFEJTHRU_DIV, BODY[ettl="yes"] #MOHZUWAWZD_DIV {letter-spacing:-1px;}
#UZOTDDZZSQ, #DMMJSVFBEV_DIV, #LJMNABGSBL_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #LOFHMITIDO_DIV, #WUVFEJTHRU_DIV, #PKXDCHNEXM_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #YIXZTOKOBR_DIV, #TTKGEZTDBH_DIV, #UDOTRXKADP_DIV, #XKCJRWEKFU, #UFZQBBFAGD_DIV, #CTFPYTZIIH_DIV, #LASRRWOCQH_DIV, #HAINTPIJUS_DIV, #FHSMWCMRII_DIV, #UABNRUNBPR {overflow:hidden;}
#UZOTDDZZSQ, #GTMJENMCMN, #TCZMCNHUFI, #ZCSEKJZUCO, #CFLYSPTTDU, #DIUBYKKRGY, #FSXHJAAZGG, #CLVVMIYSQG, #XKCJRWEKFU, #MPIOZQPPPI, #YFPMFPWESC, #HMYRBXBREF, #CQATNPZMEC, #UABNRUNBPR, #MOHZUWAWZD_DIV {box-sizing : border-box;}
