.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:574px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:574px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#WIRRRKLEWO_DIV {top:63px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#XFVQTXPEXL {top:112px;position:absolute;left:88px;height:20px;width:54px;z-index:1; }
#XFVQTXPEXL_ZOOM { position:absolute;top:112px;left:143px;height:20px;width:17px;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;text-align:right;z-index:1;}
BODY:not([ettl]) #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="old"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="yes"] #NJQSNRJAXM_DIV {top:66px;position:absolute;left:16px;letter-spacing:-1px;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:688px;height:14px;width:88px;text-align:left;z-index:1;}
#XWPYHZIJDE {top:105px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#RQAECCWOBF_DIV {top:82px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#RQAECCWOBF { vertical-align:middle; }
#DYMVKIQWCA {top:483px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:140px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#MVXXCZOQGP {top:287px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#JSKZJOHJOM {top:105px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#YKEVRMKLNK_DIV {top:116px;position:absolute;left:20px;height:16px;width:68px;text-align:right;z-index:1;}
BODY:not([ettl]) #YKEVRMKLNK_DIV {top:116px;position:absolute;left:20px;height:16px;width:68px;}
BODY[ettl="old"] #YKEVRMKLNK_DIV {top:116px;position:absolute;left:20px;height:16px;width:68px;}
BODY[ettl="yes"] #YKEVRMKLNK_DIV {top:116px;position:absolute;left:20px;letter-spacing:-1px;}
#KRFHEOVRDJ_DIV {top:116px;position:absolute;left:168px;height:16px;width:408px;color:#0000FF;text-align:left;z-index:1;}
#JBNBDKBIAJ {top:105px;position:absolute;left:640px;height:31px;width:40px;z-index:1;}
#GSBFOKJJZN_DIV {top:63px;position:absolute;left:648px;height:28px;width:124px;overflow:hidden;white-space:nowrap;z-index:1; }
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #NJQSNRJAXM_DIV, #FGMOCXNBFY_DIV, #YKEVRMKLNK_DIV, #KRFHEOVRDJ_DIV {overflow:hidden;}
#YWGFSYCMOZ, #WIRRRKLEWO_DIV, #XFVQTXPEXL, #ZFBIYQMSFL, #RQAECCWOBF_DIV, #GSBFOKJJZN_DIV {box-sizing : border-box;}
