.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:210px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:210px;z-index:0;width:672px;top:7px;left:8px;}
#PIRPTHHLHK {top:14px;position:absolute;left:584px;height:25px;width:88px;z-index:1;}
#SSRCOAMDBL_DIV {top:49px;position:absolute;left:16px;height:126px;width:656px;text-align:left;z-index:1;}
#FGMOCXNBFY_DIV {top:21px;position:absolute;left:16px;height:14px;width:88px;text-align:left;z-index:1;}
#GJAYOCUMOG {top:189px;position:absolute;left:120px;height:20px;width:72px;text-align:right;z-index:1; }
#NNOUHVZAFD {top:189px;position:absolute;left:272px;height:20px;width:72px;text-align:right;z-index:1; }
#HFDAHKFJJT {top:189px;position:absolute;left:424px;height:20px;width:72px;text-align:right;z-index:1; }
#OGPTNTQQNQ_DIV {top:193px;position:absolute;left:70px;height:16px;width:46px;text-align:right;z-index:1;}
BODY:not([ettl]) #OGPTNTQQNQ_DIV {top:193px;position:absolute;left:70px;height:16px;width:46px;}
BODY[ettl="old"] #OGPTNTQQNQ_DIV {top:193px;position:absolute;left:70px;height:16px;width:46px;}
BODY[ettl="yes"] #OGPTNTQQNQ_DIV {top:193px;position:absolute;left:70px;letter-spacing:-1px;}
#MOZBIKXKCD_DIV {top:193px;position:absolute;left:203px;height:16px;width:67px;text-align:right;z-index:1;}
BODY:not([ettl]) #MOZBIKXKCD_DIV {top:193px;position:absolute;left:203px;height:16px;width:67px;}
BODY[ettl="old"] #MOZBIKXKCD_DIV {top:193px;position:absolute;left:203px;height:16px;width:67px;}
BODY[ettl="yes"] #MOZBIKXKCD_DIV {top:193px;position:absolute;left:203px;}
#OSUKERDPCA_DIV {top:193px;position:absolute;left:355px;height:16px;width:67px;text-align:right;z-index:1;}
BODY:not([ettl]) #OSUKERDPCA_DIV {top:193px;position:absolute;left:355px;height:16px;width:67px;}
BODY[ettl="old"] #OSUKERDPCA_DIV {top:193px;position:absolute;left:355px;height:16px;width:67px;}
BODY[ettl="yes"] #OSUKERDPCA_DIV {top:193px;position:absolute;left:355px;}
#RNCTCVMWPN {top:182px;position:absolute;left:632px;z-index:1;clip:rect(0,41px,31px,0);}
#YWGFSYCMOZ, #SSRCOAMDBL_DIV, #FGMOCXNBFY_DIV, #OGPTNTQQNQ_DIV, #MOZBIKXKCD_DIV, #OSUKERDPCA_DIV {overflow:hidden;}
#YWGFSYCMOZ, #GJAYOCUMOG, #NNOUHVZAFD, #HFDAHKFJJT {box-sizing : border-box;}
