.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:511px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:511px;z-index:0;width:784px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:28px;position:absolute;left:696px;height:25px;width:88px;z-index:1;}
#XWPYHZIJDE {top:70px;position:absolute;left:744px;height:31px;width:40px;z-index:1;}
#DYMVKIQWCA {top:259px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:105px;position:absolute;left:16px;height:147px;width:768px;height:147px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:350px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#IEYGWFOHXX {top:70px;position:absolute;left:696px;height:31px;width:40px;z-index:1;}
#QMKXPUDTAN_DIV {top:69px;position:absolute;left:16px;height:21px;width:360px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #QMKXPUDTAN_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #QMKXPUDTAN_DIV {box-sizing : border-box;}
