.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:407px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:407px;z-index:0;width:801px;top:-1px;left:-1px;}
#DMMJSVFBEV_DIV {top:0px;position:absolute;left:0px;height:16px;width:800px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ALQVOOWZEV {top:77px;position:absolute;left:605px;height:56px;width:193px;z-index:1;}
#AJXISNWTIP {top:35px;position:absolute;left:752px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:313px;position:absolute;left:0px;height:84px;width:797px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:139px;position:absolute;left:0px;height:173px;width:797px;height:173px;right:0px;z-index:1;overflow:auto;}
#JBNBDKBIAJ {top:35px;position:absolute;left:704px;height:28px;width:40px;z-index:1;}
#CPBCFXOJEC {top:97px;position:absolute;left:8px;height:20px;width:576px;z-index:1; }
#CPBCFXOJEC { vertical-align:middle; }
#FGMOCXNBFY_DIV {top:19px;position:absolute;left:705px;height:14px;width:88px;text-align:left;z-index:1;}
#AKHAWZVTWL_DIV {top:22px;position:absolute;left:8px;height:19px;width:336px;z-index:1; }
#AKHAWZVTWL { vertical-align:middle; }
#FSIGQXURNL {top:21px;position:absolute;left:508px;height:20px;width:72px;text-align:right;z-index:1; }
#VNUQKFZYEW_DIV {top:25px;position:absolute;left:359px;height:16px;width:149px;text-align:right;z-index:1;}
BODY:not([ettl]) #VNUQKFZYEW_DIV {top:25px;position:absolute;left:359px;height:16px;width:149px;}
BODY[ettl="old"] #VNUQKFZYEW_DIV {top:25px;position:absolute;left:359px;height:16px;width:149px;}
BODY[ettl="yes"] #VNUQKFZYEW_DIV {top:25px;position:absolute;left:359px;letter-spacing:-1px;}
#OKFXLPIBJW {top:21px;position:absolute;left:587px;height:20px;width:50px;z-index:1;}
#KLUTVGESET_DIV {top:63px;position:absolute;left:8px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#YXROKNYPVY_DIV {top:43px;position:absolute;left:8px;text-align:left;z-index:1;}
BODY:not([ettl]) #YXROKNYPVY_DIV {height:16px;width:346px;}
BODY[ettl="old"] #YXROKNYPVY_DIV {height:16px;width:346px;}
#WFROVCSJJF_DIV {top:63px;position:absolute;left:72px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#VHNANTQLDO_DIV {top:63px;position:absolute;left:136px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#NYQRDWPVQW_DIV {top:63px;position:absolute;left:200px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#EWRHUMIOJD_DIV {top:63px;position:absolute;left:264px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#YRRCXCTEWB_DIV {top:63px;position:absolute;left:328px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#SVHKBBCQHM_DIV {top:63px;position:absolute;left:392px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#NLIHHTTFII_DIV {top:63px;position:absolute;left:456px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#EFUHYXQNOB_DIV {top:63px;position:absolute;left:520px;height:21px;width:56px;overflow:hidden;white-space:nowrap;z-index:1; }
#ZCHZGJTEXB {top:21px;position:absolute;left:656px;height:56px;width:32px;z-index:1;}
BODY[ettl="yes"] #KLUTVGESET_DIV, BODY[ettl="yes"] #YXROKNYPVY_DIV, BODY[ettl="yes"] #WFROVCSJJF_DIV, BODY[ettl="yes"] #VHNANTQLDO_DIV, BODY[ettl="yes"] #NYQRDWPVQW_DIV, BODY[ettl="yes"] #EWRHUMIOJD_DIV, BODY[ettl="yes"] #YRRCXCTEWB_DIV, BODY[ettl="yes"] #SVHKBBCQHM_DIV, BODY[ettl="yes"] #NLIHHTTFII_DIV, BODY[ettl="yes"] #EFUHYXQNOB_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #FGMOCXNBFY_DIV, #VNUQKFZYEW_DIV, #YXROKNYPVY_DIV {overflow:hidden;}
#TTRVXROIVP, #CPBCFXOJEC, #AKHAWZVTWL_DIV, #FSIGQXURNL, #KLUTVGESET_DIV, #WFROVCSJJF_DIV, #VHNANTQLDO_DIV, #NYQRDWPVQW_DIV, #EWRHUMIOJD_DIV, #YRRCXCTEWB_DIV, #SVHKBBCQHM_DIV, #NLIHHTTFII_DIV, #EFUHYXQNOB_DIV {box-sizing : border-box;}
