.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:369px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:369px;z-index:0;width:776px;top:9px;left:8px;}
#DPKVLWHCIG {top:72px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:72px;left:217px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:72px;position:absolute;left:360px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:72px;left:433px;height:20px;width:17px;z-index:1;}
#UYVYTEMEXX {top:18px;position:absolute;left:144px;height:20px;width:128px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:18px;left:273px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:45px;position:absolute;left:144px;height:20px;width:128px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:45px;left:273px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:342px;position:absolute;left:352px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:342px;position:absolute;left:400px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:76px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:76px;position:absolute;left:232px;}
#PCILMATBXL_DIV {top:22px;position:absolute;left:19px;height:16px;width:122px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:22px;position:absolute;left:19px;height:16px;width:122px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:22px;position:absolute;left:19px;height:16px;width:122px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:22px;position:absolute;left:19px;}
#VXJAZUGUIO_DIV {top:22px;position:absolute;left:296px;height:16px;width:480px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:49px;position:absolute;left:8px;height:16px;width:133px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:8px;height:16px;width:133px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:8px;height:16px;width:133px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:49px;position:absolute;left:8px;}
#XCBBNKIAUV_DIV {top:49px;position:absolute;left:296px;height:16px;width:480px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#DYMVKIQWCA {top:248px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:99px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#FGMOCXNBFY_DIV {top:342px;position:absolute;left:16px;height:18px;width:296px;text-align:left;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR {box-sizing : border-box;}
