.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:651px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:651px;z-index:0;width:792px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:28px;position:absolute;left:696px;height:25px;width:88px;z-index:1;}
#XWPYHZIJDE {top:91px;position:absolute;left:904px;height:31px;width:40px;z-index:1;}
#DYMVKIQWCA {top:415px;position:absolute;left:16px;height:84px;width:776px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:267px;position:absolute;left:16px;height:147px;width:776px;height:147px;right:0px;z-index:1;overflow:auto;}
#ZBTTWAQZVY {top:91px;position:absolute;left:856px;height:31px;width:40px;z-index:1;}
#TYIWXFLLFY_DIV {top:501px;position:absolute;left:16px;height:153px;width:776px;text-align:left;z-index:1;}
#XURLGQZZMU {top:91px;position:absolute;left:808px;height:32px;width:40px;z-index:1;}
#MVXXCZOQGP {top:105px;position:absolute;left:16px;height:161px;width:776px;height:161px;right:0px;z-index:1;overflow:auto;}
#AQXZVBGZJZ {top:70px;position:absolute;left:120px;height:20px;width:66px;text-align:right;z-index:1; }
#AQXZVBGZJZ_ZOOM { position:absolute;top:70px;left:187px;height:20px;width:17px;z-index:1;}
#GYZXKDQZMS_DIV {top:74px;position:absolute;left:13px;height:16px;width:107px;text-align:right;z-index:1;}
BODY:not([ettl]) #GYZXKDQZMS_DIV {top:74px;position:absolute;left:13px;height:16px;width:107px;}
BODY[ettl="old"] #GYZXKDQZMS_DIV {top:74px;position:absolute;left:13px;height:16px;width:107px;}
BODY[ettl="yes"] #GYZXKDQZMS_DIV {top:74px;position:absolute;left:13px;letter-spacing:-1px;}
#IDCDUOALWU {top:70px;position:absolute;left:328px;height:20px;width:66px;text-align:right;z-index:1; }
#IDCDUOALWU_ZOOM { position:absolute;top:70px;left:395px;height:20px;width:17px;z-index:1;}
#TGAUAWDVTR_DIV {top:74px;position:absolute;left:221px;height:16px;width:107px;text-align:right;z-index:1;}
BODY:not([ettl]) #TGAUAWDVTR_DIV {top:74px;position:absolute;left:221px;height:16px;width:107px;}
BODY[ettl="old"] #TGAUAWDVTR_DIV {top:74px;position:absolute;left:221px;height:16px;width:107px;}
BODY[ettl="yes"] #TGAUAWDVTR_DIV {top:74px;position:absolute;left:221px;}
#WBSZETAJRJ {top:70px;position:absolute;left:440px;height:20px;width:192px;z-index:1; }
#WBSZETAJRJ { vertical-align:middle; }
#UPTBMRNDAF {top:63px;position:absolute;left:648px;height:32px;width:40px;z-index:1;}
#GRHWBUMYYP {top:63px;position:absolute;left:696px;height:31px;width:40px;z-index:1;}
#AACUKDQANQ {top:63px;position:absolute;left:744px;height:31px;width:40px;z-index:1;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #TYIWXFLLFY_DIV, #GYZXKDQZMS_DIV, #TGAUAWDVTR_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #AQXZVBGZJZ, #IDCDUOALWU, #WBSZETAJRJ {box-sizing : border-box;}
