.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:504px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:504px;z-index:0;width:776px;top:7px;left:8px;}
#MAYNQUHJSS {top:70px;position:absolute;left:352px;z-index:1;clip:rect(0,42px,32px,0);}
#NACPPABTRW {top:70px;position:absolute;left:400px;z-index:1;clip:rect(0,42px,32px,0);}
#UAIBAUYUDZ_DIV {top:18px;position:absolute;left:416px;height:16px;width:352px;color:#0000FF;text-align:left;z-index:1;}
#DYMVKIQWCA {top:105px;position:absolute;left:12px;height:91px;width:768px;height:91px;right:0px;z-index:1;overflow:auto;}
#QJYFRLEIBB {top:14px;position:absolute;left:160px;height:20px;width:48px;text-align:right;z-index:1; }
#QJBHNDQNQE_DIV {top:18px;position:absolute;left:65px;height:16px;width:95px;text-align:right;z-index:1;}
BODY:not([ettl]) #QJBHNDQNQE_DIV {top:18px;position:absolute;left:65px;height:16px;width:95px;}
BODY[ettl="old"] #QJBHNDQNQE_DIV {top:18px;position:absolute;left:65px;height:16px;width:95px;}
BODY[ettl="yes"] #QJBHNDQNQE_DIV {top:18px;position:absolute;left:65px;letter-spacing:-1px;}
#SZZYVNKOQS {top:14px;position:absolute;left:360px;height:20px;width:30px;z-index:1; }
#SZZYVNKOQS_ZOOM { position:absolute;top:14px;left:391px;height:20px;width:17px;z-index:1;}
#QVLNYNNMIY_DIV {top:18px;position:absolute;left:271px;height:16px;width:89px;text-align:right;z-index:1;}
BODY:not([ettl]) #QVLNYNNMIY_DIV {top:18px;position:absolute;left:271px;height:16px;width:89px;}
BODY[ettl="old"] #QVLNYNNMIY_DIV {top:18px;position:absolute;left:271px;height:16px;width:89px;}
BODY[ettl="yes"] #QVLNYNNMIY_DIV {top:18px;position:absolute;left:271px;letter-spacing:-1px;}
#TYIWXFLLFY_DIV {top:203px;position:absolute;left:12px;height:301px;width:768px;text-align:left;z-index:1;}
#AUEHRDRUOQ {top:42px;position:absolute;left:160px;height:20px;width:66px;text-align:right;z-index:1; }
#AUEHRDRUOQ_ZOOM { position:absolute;top:42px;left:227px;height:20px;width:17px;z-index:1;}
#IOUFTUSNKM_DIV {top:46px;position:absolute;left:49px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #IOUFTUSNKM_DIV {top:46px;position:absolute;left:49px;height:16px;width:111px;}
BODY[ettl="old"] #IOUFTUSNKM_DIV {top:46px;position:absolute;left:49px;height:16px;width:111px;}
BODY[ettl="yes"] #IOUFTUSNKM_DIV {top:46px;position:absolute;left:49px;letter-spacing:-1px;}
#BXZPTJLRQT {top:42px;position:absolute;left:360px;height:20px;width:66px;text-align:right;z-index:1; }
#BXZPTJLRQT_ZOOM { position:absolute;top:42px;left:427px;height:20px;width:17px;z-index:1;}
#GDRAKDZNJZ_DIV {top:46px;position:absolute;left:249px;height:16px;width:111px;text-align:right;z-index:1;}
BODY:not([ettl]) #GDRAKDZNJZ_DIV {top:46px;position:absolute;left:249px;height:16px;width:111px;}
BODY[ettl="old"] #GDRAKDZNJZ_DIV {top:46px;position:absolute;left:249px;height:16px;width:111px;}
BODY[ettl="yes"] #GDRAKDZNJZ_DIV {top:46px;position:absolute;left:249px;}
#YAOZTJHJZC {top:70px;position:absolute;left:736px;z-index:1;clip:rect(0,42px,32px,0);}
#VFFMUWZZJS, #UAIBAUYUDZ_DIV, #QJBHNDQNQE_DIV, #QVLNYNNMIY_DIV, #TYIWXFLLFY_DIV, #IOUFTUSNKM_DIV, #GDRAKDZNJZ_DIV {overflow:hidden;}
#VFFMUWZZJS, #QJYFRLEIBB, #SZZYVNKOQS, #AUEHRDRUOQ, #BXZPTJLRQT {box-sizing : border-box;}
