.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#IDIZVJSJFR { height:315px;background-color:#C0C0C0;border-width:1px;border-color:#808080;border-style:solid;z-index:0;}
#IDIZVJSJFR_DIV { position:absolute;height:315px;z-index:0;width:776px;top:9px;left:8px;}
#ROZQLWLMOH {top:288px;position:absolute;left:352px;z-index:1;clip:rect(0,40px,32px,0);}
#FGMOCXNBFY_DIV {top:18px;position:absolute;left:16px;height:25px;width:112px;text-align:left;z-index:1;}
#HPGJXQIVYG_DIV {top:22px;position:absolute;left:168px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:22px;position:absolute;left:168px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:168px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:168px;}
#DPKVLWHCIG {top:18px;position:absolute;left:304px;height:20px;width:72px;text-align:right;z-index:1; }
#BGHAITOPMU_DIV {top:22px;position:absolute;left:376px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:22px;position:absolute;left:376px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:376px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:22px;position:absolute;left:376px;}
#MTJDZQTEIR {top:18px;position:absolute;left:512px;height:20px;width:66px;text-align:right;z-index:1; }
#PTXYMSWBZO {top:288px;position:absolute;left:400px;z-index:1;clip:rect(0,40px,30px,0);}
#DYMVKIQWCA {top:196px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:46px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#IDIZVJSJFR, #FGMOCXNBFY_DIV, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV {overflow:hidden;}
#IDIZVJSJFR, #DPKVLWHCIG, #MTJDZQTEIR {box-sizing : border-box;}
