.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:140px;background-color:#0080C0;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:140px;z-index:0;width:464px;top:7px;left:8px;}
#FXJGUPTFZH { height:91px;background-color:#FFFF00;border-width:1px;border-color:#000000;border-style:solid;z-index:0;}
#FXJGUPTFZH_DIV { position:absolute;height:91px;z-index:0;width:448px;top:14px;left:16px;}
#LPTSLAVIAK_DIV {top:21px;position:absolute;left:24px;height:56px;width:432px;z-index:1; }
#LPTSLAVIAK { vertical-align:middle;height:8pt; }
#FSXHJAAZGG {top:119px;position:absolute;left:96px;height:20px;width:66px;text-align:right;z-index:1; }
#FSXHJAAZGG_ZOOM { position:absolute;top:119px;left:163px;height:20px;width:17px;z-index:1;}
#NOYEUIKFXN_DIV {top:123px;position:absolute;left:48px;color:#FFFFFF;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:119px;position:absolute;left:272px;height:20px;width:66px;text-align:right;z-index:1; }
#CLVVMIYSQG_ZOOM { position:absolute;top:119px;left:339px;height:20px;width:17px;z-index:1;}
#LFJQIXRRKM_DIV {top:123px;position:absolute;left:226px;height:16px;width:43px;color:#FFFFFF;text-align:right;z-index:1;}
BODY:not([ettl]) #LFJQIXRRKM_DIV {top:123px;position:absolute;left:226px;height:16px;width:43px;}
BODY[ettl="old"] #LFJQIXRRKM_DIV {top:123px;position:absolute;left:226px;height:16px;width:43px;}
BODY[ettl="yes"] #LFJQIXRRKM_DIV {top:123px;position:absolute;left:226px;}
#AJXISNWTIP {top:112px;position:absolute;left:416px;z-index:1;clip:rect(0,40px,30px,0);}
#TSMPFDCFJF {top:112px;position:absolute;left:368px;z-index:1;clip:rect(0,40px,30px,0);}
BODY[ettl="yes"] #NOYEUIKFXN_DIV {letter-spacing:-1px;}
#TTRVXROIVP, #FXJGUPTFZH, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV {overflow:hidden;}
#TTRVXROIVP, #FXJGUPTFZH, #LPTSLAVIAK_DIV, #FSXHJAAZGG, #CLVVMIYSQG {box-sizing : border-box;}
