.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:180px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:180px;z-index:0;width:800px;top:0px;left:0px;}
#HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:16px;position:absolute;left:8px;}
#DPKVLWHCIG {top:12px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:12px;left:217px;height:20px;width:17px;z-index:1;}
#BGHAITOPMU_DIV {top:13px;position:absolute;left:256px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:13px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:13px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:13px;position:absolute;left:256px;}
#MTJDZQTEIR {top:9px;position:absolute;left:392px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:9px;left:465px;height:20px;width:17px;z-index:1;}
.INHUFYJSGO_DIV { position:absolute;top:3px;left:8px;height:16px;width:96px;overflow:hidden;text-align:left;z-index:1;}
.DIWJSXFYLW_DIV { position:absolute;top:0px;left:8px;height:16px;width:94px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.VCVHCSGAYA_DIV { position:absolute;top:3px;left:112px;height:16px;width:80px;overflow:hidden;text-align:left;z-index:1;}
.WEUNTCEZTI_DIV { position:absolute;top:0px;left:112px;height:16px;width:80px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.KKONMMBUPW_DIV { position:absolute;top:0px;left:464px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .KKONMMBUPW_DIV { position:absolute;top:0px;left:464px;height:16px;width:104px;}
BODY[ettl="old"] .KKONMMBUPW_DIV { position:absolute;top:0px;left:464px;height:16px;width:104px;}
BODY[ettl="yes"] .KKONMMBUPW_DIV { position:absolute;top:0px;left:464px;}
.BCCPSVUVJE_DIV { position:absolute;top:3px;left:464px;height:16px;width:105px;overflow:hidden;text-align:right;z-index:1;}
.NFMIERMJRB_DIV { position:absolute;top:0px;left:576px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .NFMIERMJRB_DIV { position:absolute;top:0px;left:576px;height:16px;width:104px;}
BODY[ettl="old"] .NFMIERMJRB_DIV { position:absolute;top:0px;left:576px;height:16px;width:104px;}
BODY[ettl="yes"] .NFMIERMJRB_DIV { position:absolute;top:0px;left:576px;}
.KEFLALYAMR_DIV { position:absolute;top:3px;left:576px;height:16px;width:105px;overflow:hidden;text-align:right;z-index:1;}
.RNOKLAJWBF_DIV { position:absolute;top:3px;left:200px;height:16px;width:150px;overflow:hidden;text-align:left;z-index:1;}
.FWVRGICMKB_DIV { position:absolute;top:3px;left:360px;height:16px;width:96px;overflow:hidden;text-align:left;z-index:1;}
.JUIALTQGYN_DIV { position:absolute;top:0px;left:200px;height:16px;width:80px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.BWDHQRZLTC_DIV { position:absolute;top:0px;left:360px;height:16px;width:96px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FLFHSXPWZI {top:17px;position:absolute;left:704px;height:30px;width:40px;z-index:1;}
#VRHQBWKFPP {top:17px;position:absolute;left:656px;height:30px;width:40px;z-index:1;}
#HDSXZTLKVK {top:17px;position:absolute;left:608px;height:30px;width:40px;z-index:1;}
#ZWTNEMXOFQ {top:17px;position:absolute;left:560px;height:30px;width:40px;z-index:1;}
#FCATLNLMSB {top:17px;position:absolute;left:512px;height:30px;width:40px;z-index:1;}
.BBVZXDYMJX_DIV { position:absolute;top:1px;left:688px;height:21px;width:83px;z-index:1; }
#PTXYMSWBZO {top:17px;position:absolute;left:752px;z-index:1;clip:rect(0,40px,30px,0);}
#FGMOCXNBFY_DIV {top:9px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#SSRCOAMDBL_DIV {top:72px;position:absolute;left:8px;height:103px;width:784px;text-align:left;z-index:1;}
#UBGQMHONZK_DIV {top:40px;position:absolute;left:8px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #UBGQMHONZK_DIV {top:40px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="old"] #UBGQMHONZK_DIV {top:40px;position:absolute;left:8px;height:16px;width:132px;}
BODY[ettl="yes"] #UBGQMHONZK_DIV {top:40px;position:absolute;left:8px;}
#YYALJHFGYI {top:36px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#YYALJHFGYI_ZOOM { position:absolute;top:36px;left:217px;height:20px;width:17px;z-index:1;}
#GEKFJYIFQW_DIV {top:37px;position:absolute;left:256px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #GEKFJYIFQW_DIV {top:37px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="old"] #GEKFJYIFQW_DIV {top:37px;position:absolute;left:256px;height:16px;width:132px;}
BODY[ettl="yes"] #GEKFJYIFQW_DIV {top:37px;position:absolute;left:256px;}
#NGHKLZMUCL {top:33px;position:absolute;left:392px;height:20px;width:72px;text-align:right;z-index:1; }
#NGHKLZMUCL_ZOOM { position:absolute;top:33px;left:465px;height:20px;width:17px;z-index:1;}
BODY[ettl="yes"] .BBVZXDYMJX_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, .DIWJSXFYLW_DIV, .WEUNTCEZTI_DIV, .KKONMMBUPW_DIV, .NFMIERMJRB_DIV, .JUIALTQGYN_DIV, .BWDHQRZLTC_DIV, #FGMOCXNBFY_DIV, #SSRCOAMDBL_DIV, #UBGQMHONZK_DIV, #GEKFJYIFQW_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, .BBVZXDYMJX_DIV, #YYALJHFGYI, #NGHKLZMUCL {box-sizing : border-box;}
