.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#NRFKISPWKP { height:378px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#NRFKISPWKP_DIV { position:absolute;height:378px;z-index:0;width:792px;top:42px;left:0px;}
#FGMOCXNBFY_DIV {top:238px;position:absolute;left:8px;height:14px;width:16px;text-align:left;z-index:1;}
#ZCSEKJZUCO { height:42px;background-color:#0000FF;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:42px;z-index:0;width:792px;top:0px;left:0px;}
#VKDDBMFRDF_DIV {top:7px;position:absolute;left:8px;height:29px;width:776px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#PLELOLLGVB_DIV {top:119px;position:absolute;left:8px;height:16px;width:776px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LPTSLAVIAK_DIV {top:140px;position:absolute;left:288px;height:21px;width:456px;overflow:hidden;white-space:nowrap;z-index:1; }
#APILDULKZX_DIV {top:168px;position:absolute;left:8px;height:16px;width:776px;color:#008040;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#KHPXTNGSFO_DIV {top:196px;position:absolute;left:288px;height:21px;width:456px;overflow:hidden;white-space:nowrap;z-index:1; }
#DMMJSVFBEV_DIV {top:224px;position:absolute;left:8px;height:16px;width:776px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FSXHJAAZGG {top:252px;position:absolute;left:288px;height:20px;width:66px;text-align:right;z-index:1; }
#FSXHJAAZGG_ZOOM { position:absolute;top:252px;left:355px;height:20px;width:17px;z-index:1;}
#NOYEUIKFXN_DIV {top:256px;position:absolute;left:240px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:252px;position:absolute;left:456px;height:20px;width:66px;text-align:right;z-index:1; }
#CLVVMIYSQG_ZOOM { position:absolute;top:252px;left:523px;height:20px;width:17px;z-index:1;}
#LFJQIXRRKM_DIV {top:256px;position:absolute;left:416px;height:16px;width:43px;text-align:left;z-index:1;}
#GEDJGVMCKZ {top:294px;position:absolute;left:376px;height:28px;width:40px;z-index:1;}
#AJXISNWTIP {top:294px;position:absolute;left:432px;height:28px;width:40px;z-index:1;}
#DBPPTVAJWO_DIV {top:49px;position:absolute;left:8px;height:16px;width:776px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#KKZCBLBTXS {top:84px;position:absolute;left:296px;height:20px;width:66px;text-align:right;z-index:1; }
#VYDKACCZUQ_DIV {top:88px;position:absolute;left:248px;text-align:left;z-index:1;}
BODY:not([ettl]) #VYDKACCZUQ_DIV {height:16px;width:43px;}
BODY[ettl="old"] #VYDKACCZUQ_DIV {height:16px;width:43px;}
#VYZOCFOMVY {top:84px;position:absolute;left:464px;height:20px;width:66px;text-align:right;z-index:1; }
#VYZOCFOMVY_ZOOM { position:absolute;top:84px;left:531px;height:20px;width:17px;z-index:1;}
#ZPTLZODLSY_DIV {top:88px;position:absolute;left:424px;height:16px;width:43px;text-align:left;z-index:1;}
#YBFXTFUIXK_DIV {top:84px;position:absolute;left:8px;height:21px;width:104px;overflow:hidden;white-space:nowrap;z-index:1; }
#HDISNPUSEX {top:77px;position:absolute;left:744px;height:28px;width:40px;z-index:1;}
#DYMVKIQWCA {top:329px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#IKYTEYYFIW {top:294px;position:absolute;left:320px;height:28px;width:40px;z-index:1;}
BODY[ettl="yes"] #NOYEUIKFXN_DIV, BODY[ettl="yes"] #VYDKACCZUQ_DIV, BODY[ettl="yes"] #YBFXTFUIXK_DIV {letter-spacing:-1px;}
#NRFKISPWKP, #FGMOCXNBFY_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #PLELOLLGVB_DIV, #APILDULKZX_DIV, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #DBPPTVAJWO_DIV, #VYDKACCZUQ_DIV, #ZPTLZODLSY_DIV {overflow:hidden;}
#NRFKISPWKP, #ZCSEKJZUCO, #LPTSLAVIAK_DIV, #KHPXTNGSFO_DIV, #FSXHJAAZGG, #CLVVMIYSQG, #KKZCBLBTXS, #VYZOCFOMVY, #YBFXTFUIXK_DIV {box-sizing : border-box;}
