.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ODCPZZXLHY { height:35px;background-color:#C0C0C0;border-width:1px;border-color:#008000;border-style:solid;z-index:0;}
#ODCPZZXLHY_DIV { position:absolute;height:35px;z-index:0;width:664px;top:7px;left:8px;}
#XQSJGZVMDV_DIV {top:18px;position:absolute;left:22px;height:16px;width:110px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #XQSJGZVMDV_DIV {top:18px;position:absolute;left:22px;height:16px;width:110px;}
BODY[ettl="old"] #XQSJGZVMDV_DIV {top:18px;position:absolute;left:22px;height:16px;width:110px;}
BODY[ettl="yes"] #XQSJGZVMDV_DIV {top:18px;position:absolute;left:22px;}
#JIYGZCDTPQ {top:14px;position:absolute;left:136px;height:20px;width:78px;text-align:right;z-index:1; }
#JIYGZCDTPQ_ZOOM { position:absolute;top:14px;left:215px;height:20px;width:17px;z-index:1;}
#YBBLCLWLHJ {top:9px;position:absolute;left:626px;height:31px;width:42px;z-index:1;}
#MDWFLPZWFN {top:9px;position:absolute;left:578px;z-index:1;clip:rect(0,42px,31px,0);}
#ODCPZZXLHY, #XQSJGZVMDV_DIV {overflow:hidden;}
#ODCPZZXLHY, #JIYGZCDTPQ {box-sizing : border-box;}
