.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ODCPZZXLHY { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#008000;border-style:solid;z-index:0;}
#ODCPZZXLHY_DIV { position:absolute;height:63px;z-index:0;width:664px;top:7px;left:8px;}
#XQSJGZVMDV_DIV {top:18px;position:absolute;left:51px;height:16px;width:81px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #XQSJGZVMDV_DIV {top:18px;position:absolute;left:51px;height:16px;width:81px;}
BODY[ettl="old"] #XQSJGZVMDV_DIV {top:18px;position:absolute;left:51px;height:16px;width:81px;}
BODY[ettl="yes"] #XQSJGZVMDV_DIV {top:18px;position:absolute;left:51px;}
#JIYGZCDTPQ {top:14px;position:absolute;left:136px;height:20px;width:78px;text-align:right;z-index:1; }
#JIYGZCDTPQ_ZOOM { position:absolute;top:14px;left:215px;height:20px;width:17px;z-index:1;}
#QLKRKJTVJT {top:42px;position:absolute;left:352px;height:20px;width:80px;text-align:right;z-index:1; }
#OLVLBDQTYW_DIV {top:46px;position:absolute;left:42px;height:16px;width:90px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #OLVLBDQTYW_DIV {top:46px;position:absolute;left:42px;height:16px;width:90px;}
BODY[ettl="old"] #OLVLBDQTYW_DIV {top:46px;position:absolute;left:42px;height:16px;width:90px;}
BODY[ettl="yes"] #OLVLBDQTYW_DIV {top:46px;position:absolute;left:42px;}
#WYJHXYCTSP {top:42px;position:absolute;left:136px;height:20px;width:78px;text-align:right;z-index:1; }
#WYJHXYCTSP_ZOOM { position:absolute;top:42px;left:215px;height:20px;width:17px;z-index:1;}
#NRLLUEOMLT_DIV {top:46px;position:absolute;left:250px;height:16px;width:98px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #NRLLUEOMLT_DIV {top:46px;position:absolute;left:250px;height:16px;width:98px;}
BODY[ettl="old"] #NRLLUEOMLT_DIV {top:46px;position:absolute;left:250px;height:16px;width:98px;}
BODY[ettl="yes"] #NRLLUEOMLT_DIV {top:46px;position:absolute;left:250px;}
#YBBLCLWLHJ {top:34px;position:absolute;left:625px;height:31px;width:40px;z-index:1;}
#MDWFLPZWFN {top:34px;position:absolute;left:577px;z-index:1;clip:rect(0,40px,31px,0);}
#ODCPZZXLHY, #XQSJGZVMDV_DIV, #OLVLBDQTYW_DIV, #NRLLUEOMLT_DIV {overflow:hidden;}
#ODCPZZXLHY, #JIYGZCDTPQ, #QLKRKJTVJT, #WYJHXYCTSP {box-sizing : border-box;}
