.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#INCSNNUWOV {top:36px;position:absolute;left:152px;height:20px;width:48px;text-align:right;z-index:1; }
#TCZMCNHUFI {top:36px;position:absolute;left:264px;height:20px;width:152px;z-index:1; }
#TCZMCNHUFI { vertical-align:middle; }
#PRCVTCPVCB {top:90px;position:absolute;left:152px;height:20px;width:528px;z-index:1; }
#PRCVTCPVCB { vertical-align:middle; }
#HPGJXQIVYG_DIV {top:40px;position:absolute;left:20px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:40px;position:absolute;left:20px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:40px;position:absolute;left:20px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:40px;position:absolute;left:20px;}
#DPKVLWHCIG {top:36px;position:absolute;left:448px;height:20px;width:80px;text-align:right;z-index:1; }
#MTJDZQTEIR {top:36px;position:absolute;left:536px;height:20px;width:80px;text-align:right;z-index:1; }
#ZQEKBHAOQV {top:16px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#LICLPYJEJC_DIV {top:15px;position:absolute;left:13px;height:16px;width:213px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#SNWBSRFWZT {top:16px;position:absolute;left:688px;z-index:1;clip:rect(0,40px,31px,0);}
#FGMOCXNBFY_DIV {top:576px;position:absolute;left:16px;height:315px;width:760px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:486px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:333px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#WUMEQIJBBJ_DIV {top:69px;position:absolute;left:13px;height:16px;width:200px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GWMNZLYKOI_DIV {top:121px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #GWMNZLYKOI_DIV {top:121px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #GWMNZLYKOI_DIV {top:121px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #GWMNZLYKOI_DIV {top:121px;position:absolute;left:0px;}
#OLAQSOZFCY {top:117px;position:absolute;left:152px;height:20px;width:56px;z-index:1; }
#OLAQSOZFCY_ZOOM { position:absolute;top:117px;left:209px;height:20px;width:17px;z-index:1;}
#JSTXFKSRUI_DIV {top:121px;position:absolute;left:232px;height:16px;width:232px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#JGTODNXAVD {top:117px;position:absolute;left:600px;height:20px;width:96px;z-index:1; }
#RLTRRXKDVL_DIV {top:121px;position:absolute;left:475px;height:16px;width:125px;text-align:right;z-index:1;}
BODY:not([ettl]) #RLTRRXKDVL_DIV {top:121px;position:absolute;left:475px;height:16px;width:125px;}
BODY[ettl="old"] #RLTRRXKDVL_DIV {top:121px;position:absolute;left:475px;height:16px;width:125px;}
BODY[ettl="yes"] #RLTRRXKDVL_DIV {top:121px;position:absolute;left:475px;letter-spacing:-1px;}
#FMRCIWUEYR {top:144px;position:absolute;left:152px;height:20px;width:56px;z-index:1; }
#IAWXCLXXBQ_DIV {top:148px;position:absolute;left:8px;height:16px;width:144px;text-align:right;z-index:1;}
BODY:not([ettl]) #IAWXCLXXBQ_DIV {top:148px;position:absolute;left:8px;height:16px;width:144px;}
BODY[ettl="old"] #IAWXCLXXBQ_DIV {top:148px;position:absolute;left:8px;height:16px;width:144px;}
BODY[ettl="yes"] #IAWXCLXXBQ_DIV {top:148px;position:absolute;left:8px;}
#UGMSDYOXMM {top:171px;position:absolute;left:152px;height:20px;width:40px;z-index:1; }
#UGMSDYOXMM_ZOOM { position:absolute;top:171px;left:193px;height:20px;width:17px;z-index:1;}
#MCSVMXGCHX_DIV {top:175px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #MCSVMXGCHX_DIV {top:175px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #MCSVMXGCHX_DIV {top:175px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #MCSVMXGCHX_DIV {top:175px;position:absolute;left:0px;}
#XEUVCTYSYZ_DIV {top:175px;position:absolute;left:217px;height:16px;width:252px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GUVXBUJIEG {top:171px;position:absolute;left:600px;height:20px;width:56px;z-index:1; }
#MALQXATPGL_DIV {top:175px;position:absolute;left:392px;height:16px;width:208px;text-align:right;z-index:1;}
BODY:not([ettl]) #MALQXATPGL_DIV {top:175px;position:absolute;left:392px;height:16px;width:208px;}
BODY[ettl="old"] #MALQXATPGL_DIV {top:175px;position:absolute;left:392px;height:16px;width:208px;}
BODY[ettl="yes"] #MALQXATPGL_DIV {top:175px;position:absolute;left:392px;}
#OZZYALMUYP {top:198px;position:absolute;left:152px;height:20px;width:40px;z-index:1; }
#OZZYALMUYP_ZOOM { position:absolute;top:198px;left:193px;height:20px;width:17px;z-index:1;}
#AAENYRICVA_DIV {top:202px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #AAENYRICVA_DIV {top:202px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #AAENYRICVA_DIV {top:202px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #AAENYRICVA_DIV {top:202px;position:absolute;left:0px;}
#KFXGDEJPQJ_DIV {top:202px;position:absolute;left:217px;height:16px;width:544px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#EVPCVZMBLL {top:225px;position:absolute;left:152px;height:20px;width:136px;z-index:1; }
#EVPCVZMBLL { vertical-align:middle; }
#OOGZQWLABP_DIV {top:229px;position:absolute;left:16px;height:16px;width:136px;text-align:right;z-index:1;}
BODY:not([ettl]) #OOGZQWLABP_DIV {top:229px;position:absolute;left:16px;height:16px;width:136px;}
BODY[ettl="old"] #OOGZQWLABP_DIV {top:229px;position:absolute;left:16px;height:16px;width:136px;}
BODY[ettl="yes"] #OOGZQWLABP_DIV {top:229px;position:absolute;left:16px;}
#KUXBYNJIYY {top:225px;position:absolute;left:600px;height:20px;width:112px;z-index:1; }
#KUXBYNJIYY { vertical-align:middle; }
#BOULPRIMLA {top:252px;position:absolute;left:152px;height:20px;width:40px;z-index:1; }
#BOULPRIMLA_ZOOM { position:absolute;top:252px;left:193px;height:20px;width:17px;z-index:1;}
#WFRNOUHQRD_DIV {top:229px;position:absolute;left:448px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #WFRNOUHQRD_DIV {top:229px;position:absolute;left:448px;height:16px;width:152px;}
BODY[ettl="old"] #WFRNOUHQRD_DIV {top:229px;position:absolute;left:448px;height:16px;width:152px;}
BODY[ettl="yes"] #WFRNOUHQRD_DIV {top:229px;position:absolute;left:448px;}
#NJAIUIFRCH {top:279px;position:absolute;left:152px;height:20px;width:40px;z-index:1; }
#NJAIUIFRCH_ZOOM { position:absolute;top:279px;left:193px;height:20px;width:17px;z-index:1;}
#HWSYIMZFAL_DIV {top:283px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #HWSYIMZFAL_DIV {top:283px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #HWSYIMZFAL_DIV {top:283px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #HWSYIMZFAL_DIV {top:283px;position:absolute;left:0px;}
#QIAJXTAKFW_DIV {top:283px;position:absolute;left:217px;height:16px;width:252px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#RFAXHNVDNI {top:279px;position:absolute;left:600px;height:20px;width:56px;z-index:1; }
#IAOBJXLZTI_DIV {top:283px;position:absolute;left:432px;height:16px;width:168px;text-align:right;z-index:1;}
BODY:not([ettl]) #IAOBJXLZTI_DIV {top:283px;position:absolute;left:432px;height:16px;width:168px;}
BODY[ettl="old"] #IAOBJXLZTI_DIV {top:283px;position:absolute;left:432px;height:16px;width:168px;}
BODY[ettl="yes"] #IAOBJXLZTI_DIV {top:283px;position:absolute;left:432px;}
#QWUXFRTCAK {top:306px;position:absolute;left:152px;height:20px;width:40px;z-index:1; }
#QWUXFRTCAK_ZOOM { position:absolute;top:306px;left:193px;height:20px;width:17px;z-index:1;}
#SVHHVTOUWB_DIV {top:310px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #SVHHVTOUWB_DIV {top:310px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #SVHHVTOUWB_DIV {top:310px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #SVHHVTOUWB_DIV {top:310px;position:absolute;left:0px;}
#BACOVSPFFU_DIV {top:310px;position:absolute;left:217px;height:16px;width:252px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#IYVNYANIYW {top:306px;position:absolute;left:600px;height:20px;width:56px;z-index:1; }
#EBMFNEDGHG_DIV {top:310px;position:absolute;left:416px;height:16px;width:184px;text-align:right;z-index:1;}
BODY:not([ettl]) #EBMFNEDGHG_DIV {top:310px;position:absolute;left:416px;height:16px;width:184px;}
BODY[ettl="old"] #EBMFNEDGHG_DIV {top:310px;position:absolute;left:416px;height:16px;width:184px;}
BODY[ettl="yes"] #EBMFNEDGHG_DIV {top:310px;position:absolute;left:416px;}
#HNXOTOMWCA_DIV {top:256px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #HNXOTOMWCA_DIV {top:256px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #HNXOTOMWCA_DIV {top:256px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #HNXOTOMWCA_DIV {top:256px;position:absolute;left:0px;}
#TTTIJIGSTS_DIV {top:256px;position:absolute;left:216px;height:16px;width:544px;color:#0000FF;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#JCKMEQWFOM_DIV {top:40px;position:absolute;left:200px;height:16px;width:63px;text-align:right;z-index:1;}
BODY:not([ettl]) #JCKMEQWFOM_DIV {top:40px;position:absolute;left:200px;height:16px;width:63px;}
BODY[ettl="old"] #JCKMEQWFOM_DIV {top:40px;position:absolute;left:200px;height:16px;width:63px;}
BODY[ettl="yes"] #JCKMEQWFOM_DIV {top:40px;position:absolute;left:200px;}
#HLPEMESXOO_DIV {top:94px;position:absolute;left:0px;height:16px;width:152px;text-align:right;z-index:1;}
BODY:not([ettl]) #HLPEMESXOO_DIV {top:94px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="old"] #HLPEMESXOO_DIV {top:94px;position:absolute;left:0px;height:16px;width:152px;}
BODY[ettl="yes"] #HLPEMESXOO_DIV {top:94px;position:absolute;left:0px;}
#URPSVVEIFI {top:16px;position:absolute;left:640px;z-index:1;clip:rect(0,40px,31px,0);}
#HPGJXQIVYG_DIV, #LICLPYJEJC_DIV, #FGMOCXNBFY_DIV, #WUMEQIJBBJ_DIV, #GWMNZLYKOI_DIV, #JSTXFKSRUI_DIV, #RLTRRXKDVL_DIV, #IAWXCLXXBQ_DIV, #MCSVMXGCHX_DIV, #XEUVCTYSYZ_DIV, #MALQXATPGL_DIV, #AAENYRICVA_DIV, #KFXGDEJPQJ_DIV, #OOGZQWLABP_DIV, #WFRNOUHQRD_DIV, #HWSYIMZFAL_DIV, #QIAJXTAKFW_DIV, #IAOBJXLZTI_DIV, #SVHHVTOUWB_DIV, #BACOVSPFFU_DIV, #EBMFNEDGHG_DIV, #HNXOTOMWCA_DIV, #TTTIJIGSTS_DIV, #JCKMEQWFOM_DIV, #HLPEMESXOO_DIV {overflow:hidden;}
#INCSNNUWOV, #TCZMCNHUFI, #PRCVTCPVCB, #DPKVLWHCIG, #MTJDZQTEIR, #OLAQSOZFCY, #JGTODNXAVD, #FMRCIWUEYR, #UGMSDYOXMM, #GUVXBUJIEG, #OZZYALMUYP, #EVPCVZMBLL, #KUXBYNJIYY, #BOULPRIMLA, #NJAIUIFRCH, #RFAXHNVDNI, #QWUXFRTCAK, #IYVNYANIYW {box-sizing : border-box;}
