.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#APQNRUGJDE { height:42px;background-color:#8000FF;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#APQNRUGJDE_DIV { position:absolute;height:42px;z-index:0;width:728px;top:7px;left:8px;}
#PLELOLLGVB_DIV {top:14px;position:absolute;left:16px;height:29px;width:424px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CFVCBWYFJU { height:112px;background-color:#FF9F40;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#CFVCBWYFJU_DIV { position:absolute;height:112px;z-index:0;width:728px;top:203px;left:8px;}
#LPTSLAVIAK_DIV {top:21px;position:absolute;left:504px;height:21px;width:205px;overflow:hidden;white-space:nowrap;z-index:1; }
#WALCTYHWZU { height:42px;background-color:#FF80FF;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#WALCTYHWZU_DIV { position:absolute;height:42px;z-index:0;width:728px;top:49px;left:8px;}
#APILDULKZX_DIV {top:56px;position:absolute;left:16px;height:29px;width:424px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#KHPXTNGSFO_DIV {top:63px;position:absolute;left:504px;height:21px;width:224px;overflow:hidden;white-space:nowrap;z-index:1; }
#TTRVXROIVP { height:112px;background-color:#FFC080;border-width:1px;border-color:#FFFFFF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:112px;z-index:0;width:728px;top:91px;left:8px;}
#DMMJSVFBEV_DIV {top:98px;position:absolute;left:16px;height:16px;width:712px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FSXHJAAZGG {top:140px;position:absolute;left:272px;height:20px;width:66px;text-align:right;z-index:1; }
#FSXHJAAZGG_ZOOM { position:absolute;top:140px;left:339px;height:20px;width:17px;z-index:1;}
#NOYEUIKFXN_DIV {top:144px;position:absolute;left:224px;text-align:left;z-index:1;}
BODY:not([ettl]) #NOYEUIKFXN_DIV {height:16px;width:43px;}
BODY[ettl="old"] #NOYEUIKFXN_DIV {height:16px;width:43px;}
#CLVVMIYSQG {top:140px;position:absolute;left:448px;height:20px;width:66px;text-align:right;z-index:1; }
#CLVVMIYSQG_ZOOM { position:absolute;top:140px;left:515px;height:20px;width:17px;z-index:1;}
#LFJQIXRRKM_DIV {top:144px;position:absolute;left:400px;height:16px;width:43px;text-align:left;z-index:1;}
#AJXISNWTIP {top:280px;position:absolute;left:704px;height:25px;width:24px;z-index:1;}
#LJMNABGSBL_DIV {top:119px;position:absolute;left:16px;height:16px;width:712px;text-align:center;z-index:1;}
#NMNMXABGKO {top:168px;position:absolute;left:16px;height:28px;width:210px;z-index:1;}
#PSAHIDGTWE {top:168px;position:absolute;left:520px;height:28px;width:210px;z-index:1;}
#ALQVOOWZEV {top:238px;position:absolute;left:520px;height:28px;width:210px;z-index:1;}
#HVQERBROTD {top:168px;position:absolute;left:272px;height:28px;width:210px;z-index:1;}
#ZCSEKJZUCO { height:42px;background-color:#BF0000;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#ZCSEKJZUCO_DIV { position:absolute;height:42px;z-index:0;width:272px;top:266px;left:16px;}
#VKDDBMFRDF_DIV {top:273px;position:absolute;left:24px;height:29px;width:256px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#LOFHMITIDO_DIV {top:210px;position:absolute;left:16px;height:16px;width:712px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#CFLYSPTTDU {top:238px;position:absolute;left:72px;height:20px;width:66px;text-align:right;z-index:1; }
#CFLYSPTTDU_ZOOM { position:absolute;top:238px;left:139px;height:20px;width:17px;z-index:1;}
#WUVFEJTHRU_DIV {top:242px;position:absolute;left:24px;text-align:left;z-index:1;}
BODY:not([ettl]) #WUVFEJTHRU_DIV {height:16px;width:43px;}
BODY[ettl="old"] #WUVFEJTHRU_DIV {height:16px;width:43px;}
#DIUBYKKRGY {top:238px;position:absolute;left:248px;height:20px;width:66px;text-align:right;z-index:1; }
#DIUBYKKRGY_ZOOM { position:absolute;top:238px;left:315px;height:20px;width:17px;z-index:1;}
#PKXDCHNEXM_DIV {top:242px;position:absolute;left:200px;height:16px;width:43px;text-align:left;z-index:1;}
BODY[ettl="yes"] #LPTSLAVIAK_DIV, BODY[ettl="yes"] #KHPXTNGSFO_DIV, BODY[ettl="yes"] #NOYEUIKFXN_DIV, BODY[ettl="yes"] #WUVFEJTHRU_DIV {letter-spacing:-1px;}
#APQNRUGJDE, #PLELOLLGVB_DIV, #CFVCBWYFJU, #WALCTYHWZU, #APILDULKZX_DIV, #TTRVXROIVP, #DMMJSVFBEV_DIV, #NOYEUIKFXN_DIV, #LFJQIXRRKM_DIV, #LJMNABGSBL_DIV, #ZCSEKJZUCO, #VKDDBMFRDF_DIV, #LOFHMITIDO_DIV, #WUVFEJTHRU_DIV, #PKXDCHNEXM_DIV {overflow:hidden;}
#APQNRUGJDE, #CFVCBWYFJU, #LPTSLAVIAK_DIV, #WALCTYHWZU, #KHPXTNGSFO_DIV, #TTRVXROIVP, #FSXHJAAZGG, #CLVVMIYSQG, #ZCSEKJZUCO, #CFLYSPTTDU, #DIUBYKKRGY {box-sizing : border-box;}
