.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:7pt;}
INPUT {font-family:Tahoma;font-size:7pt;}
SELECT {font-family:Tahoma;font-size:7pt;}
TEXTAREA {font-family:Tahoma;font-size:7pt;}
IMG {border:0;}
.QGZRZDUDMX_DIV { position:absolute;top:1px;left:8px;height:14px;width:120px;overflow:hidden;text-align:left;z-index:1;}
.TFUBIXPNHF_DIV { position:absolute;top:1px;left:136px;height:14px;width:104px;overflow:hidden;text-align:left;z-index:1;}
.UZJTVJNCBT_DIV { position:absolute;top:1px;left:248px;height:14px;width:180px;overflow:hidden;text-align:left;z-index:1;}
.KTBPOIRPUE_DIV { position:absolute;top:1px;left:432px;height:14px;width:90px;overflow:hidden;text-align:left;z-index:1;}
.YUKHANGXWU_DIV { position:absolute;top:1px;left:528px;height:14px;width:152px;overflow:hidden;text-align:left;z-index:1;}
.ONRHPJZKOT_DIV { position:absolute;top:1px;left:688px;height:14px;width:90px;overflow:hidden;text-align:left;z-index:1;}
.DZVIFVWVRR_DIV { position:absolute;top:1px;left:784px;height:14px;width:150px;overflow:hidden;text-align:left;z-index:1;}
.OSEKBUDNSW_DIV { position:absolute;top:1px;left:8px;height:14px;width:46px;text-align:left;font-family:Tahoma;font-size:7pt;font-weight:bold;z-index:1;}
.OMHPRIFVLR_DIV { position:absolute;top:1px;left:136px;height:14px;width:46px;text-align:left;font-family:Tahoma;font-size:7pt;font-weight:bold;z-index:1;}
.OBRALSGENJ_DIV { position:absolute;top:1px;left:432px;height:14px;width:46px;text-align:left;font-family:Tahoma;font-size:7pt;font-weight:bold;z-index:1;}
.ZGZBALQNCQ_DIV { position:absolute;top:1px;left:688px;height:14px;width:46px;text-align:left;font-family:Tahoma;font-size:7pt;font-weight:bold;z-index:1;}
.OSEKBUDNSW_DIV, .OMHPRIFVLR_DIV, .OBRALSGENJ_DIV, .ZGZBALQNCQ_DIV {overflow:hidden;}
