.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#UYVYTEMEXX {top:14px;position:absolute;left:80px;height:20px;width:110px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:14px;left:191px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:42px;position:absolute;left:80px;height:20px;width:110px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:42px;left:191px;height:20px;width:17px;z-index:1;}
#LGLKGKWNEO_DIV {top:74px;position:absolute;left:16px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#DPKVLWHCIG {top:74px;position:absolute;left:384px;height:20px;width:80px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:74px;left:465px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:74px;position:absolute;left:616px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:74px;left:689px;height:20px;width:17px;z-index:1;}
#FSBLFOLVXF_DIV {top:93px;position:absolute;left:16px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#NUMMEMNOIJ_DIV {top:112px;position:absolute;left:16px;height:21px;width:312px;overflow:hidden;white-space:nowrap;z-index:1; }
#MHGDPIVIPA_DIV {top:131px;position:absolute;left:16px;height:21px;width:480px;overflow:hidden;white-space:nowrap;z-index:1; }
#XURLGQZZMU {top:133px;position:absolute;left:680px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#HPGJXQIVYG_DIV {top:78px;position:absolute;left:248px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:78px;position:absolute;left:248px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:78px;position:absolute;left:248px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:78px;position:absolute;left:248px;}
#BGHAITOPMU_DIV {top:78px;position:absolute;left:480px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:78px;position:absolute;left:480px;height:16px;width:132px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:78px;position:absolute;left:480px;height:16px;width:132px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:78px;position:absolute;left:480px;}
#PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;}
#VXJAZUGUIO_DIV {top:18px;position:absolute;left:216px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:46px;position:absolute;left:8px;height:16px;width:69px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #JGQCNSZOCQ_DIV {top:46px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="old"] #JGQCNSZOCQ_DIV {top:46px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="yes"] #JGQCNSZOCQ_DIV {top:46px;position:absolute;left:8px;}
#XCBBNKIAUV_DIV {top:46px;position:absolute;left:216px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PTXYMSWBZO {top:133px;position:absolute;left:744px;height:32px;width:40px;font-family:ZucchettiDevelopement;font-weight:normal;font-size:20px;cursor:pointer;z-index:1;}
#MKCIRYVYZH_DIV {top:150px;position:absolute;left:16px;height:21px;width:160px;overflow:hidden;white-space:nowrap;z-index:1; }
#DYMVKIQWCA {top:175px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:265px;position:absolute;left:16px;height:234px;width:768px;text-align:left;z-index:1;}
BODY[ettl="yes"] #LGLKGKWNEO_DIV, BODY[ettl="yes"] #FSBLFOLVXF_DIV, BODY[ettl="yes"] #NUMMEMNOIJ_DIV, BODY[ettl="yes"] #MHGDPIVIPA_DIV, BODY[ettl="yes"] #MKCIRYVYZH_DIV {letter-spacing:-1px;}
#HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#UYVYTEMEXX, #CJWUHWULAR, #LGLKGKWNEO_DIV, #DPKVLWHCIG, #MTJDZQTEIR, #FSBLFOLVXF_DIV, #NUMMEMNOIJ_DIV, #MHGDPIVIPA_DIV, #MKCIRYVYZH_DIV {box-sizing : border-box;}
@font-face {
font-display: block;
font-family: 'ZucchettiDevelopement';
src: url('./fonts/ZucchettiDevelopement.woff') format('woff'),
url('./fonts/ZucchettiDevelopement.ttf') format('ttf');
}
