.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:448px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:448px;z-index:0;width:776px;top:7px;left:8px;}
#DYMVKIQWCA {top:56px;position:absolute;left:12px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TFCIASIVSK {top:23px;position:absolute;left:112px;height:20px;width:40px;text-align:right;z-index:1; }
#OCGGVLIEQX_DIV {top:25px;position:absolute;left:0px;height:16px;width:112px;text-align:right;z-index:1;}
BODY:not([ettl]) #OCGGVLIEQX_DIV {top:25px;position:absolute;left:0px;height:16px;width:112px;}
BODY[ettl="old"] #OCGGVLIEQX_DIV {top:25px;position:absolute;left:0px;height:16px;width:112px;}
BODY[ettl="yes"] #OCGGVLIEQX_DIV {top:25px;position:absolute;left:0px;}
#YLJPSWUAEQ {top:18px;position:absolute;left:734px;z-index:1;clip:rect(0,40px,30px,0);}
#TYIWXFLLFY_DIV {top:147px;position:absolute;left:12px;height:294px;width:768px;text-align:left;z-index:1;}
#YWGFSYCMOZ, #OCGGVLIEQX_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #TFCIASIVSK {box-sizing : border-box;}
