.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#VFFMUWZZJS { height:54px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#VFFMUWZZJS_DIV { position:absolute;height:54px;z-index:0;width:800px;top:0px;left:0px;}
#NACPPABTRW {top:12px;position:absolute;left:744px;z-index:1;clip:rect(0,42px,32px,0);}
#MAYNQUHJSS {top:12px;position:absolute;left:688px;z-index:1;clip:rect(0,42px,32px,0);}
.MKFRZAVIJB_DIV { position:absolute;top:4px;left:8px;height:16px;width:72px;overflow:hidden;text-align:left;z-index:1;}
.AWWOYCZYAB_DIV { position:absolute;top:4px;left:88px;height:16px;width:376px;overflow:hidden;text-align:left;z-index:1;}
.ORJCJRTXVX { position:absolute;top:2px;left:472px;height:20px;width:48px;z-index:1; }
.ORJCJRTXVX_ZOOM { position:absolute;top:2px;left:521px;height:20px;width:17px;background-color:Transparent;background-repeat:no-repeat;background-position:center;margin:0px;border-width:0px;padding:0;z-index:1;}
.IQYYDDXNDA_DIV { position:absolute;top:3px;left:8px;height:16px;width:20px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.FGTFINFTHC_DIV { position:absolute;top:3px;left:88px;height:16px;width:65px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.MQDXWDEJHJ_DIV { position:absolute;top:3px;left:472px;height:16px;width:80px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#SNAIRPLJWK {top:12px;position:absolute;left:632px;z-index:1;clip:rect(0,42px,32px,0);}
.QRASWBZUOO_DIV { position:absolute;top:4px;left:544px;height:16px;width:248px;color:#0000FF;text-align:left;z-index:1;}
#VFFMUWZZJS, .IQYYDDXNDA_DIV, .FGTFINFTHC_DIV, .MQDXWDEJHJ_DIV, .QRASWBZUOO_DIV {overflow:hidden;}
#VFFMUWZZJS, .ORJCJRTXVX {box-sizing : border-box;}
