.FormDefault {margin:0;position:relative;font-family:Arial;font-size:9pt;}
INPUT {font-family:Arial;font-size:9pt;}
SELECT {font-family:Arial;font-size:9pt;}
TEXTAREA {font-family:Arial;font-size:9pt;}
IMG {border:0;}
#PLWPUFVAWA { height:72px;background-color:#E4E4E4;z-index:0;}
#PLWPUFVAWA_DIV { position:absolute;height:72px;z-index:0;width:608px;top:180px;left:78px;}
#DAXLJPCPWJ {top:192px;position:absolute;left:174px;height:21px;width:102px;font-family:Tahoma;font-size:9pt;z-index:1; }
#YIAAHXDHOM {top:216px;position:absolute;left:174px;height:21px;width:138px;font-family:Tahoma;font-size:9pt;z-index:1; }
#CEFKAMPDFS_DIV {top:214px;position:absolute;left:640px;text-align:left;z-index:1;}
#CEFKAMPDFS_HREF {}
BODY:not([ettl]) #CEFKAMPDFS_DIV {height:18px;width:31px;}
BODY[ettl="old"] #CEFKAMPDFS_DIV {height:18px;width:31px;}
#XPGBGAUYYL { height:29px;background-color:#80AC75;z-index:0;}
#XPGBGAUYYL_DIV { position:absolute;height:29px;z-index:0;width:641px;top:142px;left:64px;}
#MSQYMICNRH_DIV {top:196px;position:absolute;left:102px;height:17px;width:68px;color:#000000;text-align:right;font-family:Tahoma;font-size:9pt;z-index:1;}
BODY:not([ettl]) #MSQYMICNRH_DIV {top:196px;position:absolute;left:102px;height:17px;width:68px;}
BODY[ettl="old"] #MSQYMICNRH_DIV {top:196px;position:absolute;left:102px;height:17px;width:68px;}
BODY[ettl="yes"] #MSQYMICNRH_DIV {top:196px;position:absolute;left:102px;}
#QEPBNYFKMR_DIV {top:220px;position:absolute;left:94px;height:17px;width:76px;color:#000000;text-align:right;font-family:Tahoma;font-size:9pt;z-index:1;}
BODY:not([ettl]) #QEPBNYFKMR_DIV {top:220px;position:absolute;left:94px;height:17px;width:76px;}
BODY[ettl="old"] #QEPBNYFKMR_DIV {top:220px;position:absolute;left:94px;height:17px;width:76px;}
BODY[ettl="yes"] #QEPBNYFKMR_DIV {top:220px;position:absolute;left:94px;}
#BGTAWLWNPX { height:17px;background-color:#80AC75;z-index:0;}
#BGTAWLWNPX_DIV { position:absolute;height:17px;z-index:0;width:641px;top:120px;left:64px;}
#LJLUVCTEUP { height:7px;background-color:#80AC75;z-index:0;}
#LJLUVCTEUP_DIV { position:absolute;height:7px;z-index:0;width:641px;top:98px;left:64px;}
#KGDPUHCUOZ_DIV {top:196px;position:absolute;left:294px;height:17px;width:296px;color:#0000A0;text-align:left;font-family:Arial;font-size:9pt;font-style:italic;z-index:1;}
#UPGIEQZAGE {top:12px;position:absolute;left:320px;z-index:1;clip:rect(0,120px,72px,0);}
#RTJOINYMPD { height:29px;background-color:#80AC75;z-index:0;}
#RTJOINYMPD_DIV { position:absolute;height:29px;z-index:0;width:641px;top:262px;left:62px;}
#NJDUUOOJXL { height:7px;background-color:#80AC75;z-index:0;}
#NJDUUOOJXL_DIV { position:absolute;height:7px;z-index:0;width:641px;top:326px;left:62px;}
#FNXKOAQQTI { height:17px;background-color:#80AC75;z-index:0;}
#FNXKOAQQTI_DIV { position:absolute;height:17px;z-index:0;width:641px;top:296px;left:62px;}
#XFDIIVLYAG_DIV {top:270px;position:absolute;left:62px;height:15px;width:640px;color:#FFFFFF;text-align:center;font-family:Verdana;font-size:7pt;font-weight:bold;z-index:1;}
#CJBNQHOKXG_DIV {top:349px;position:absolute;left:142px;height:36px;width:458px;text-align:center;z-index:1;}
BODY[ettl="yes"] #CEFKAMPDFS_DIV {letter-spacing:-1px;}
#PLWPUFVAWA, #CEFKAMPDFS_DIV, #XPGBGAUYYL, #MSQYMICNRH_DIV, #QEPBNYFKMR_DIV, #BGTAWLWNPX, #LJLUVCTEUP, #KGDPUHCUOZ_DIV, #RTJOINYMPD, #NJDUUOOJXL, #FNXKOAQQTI, #XFDIIVLYAG_DIV, #CJBNQHOKXG_DIV {overflow:hidden;}
#PLWPUFVAWA, #DAXLJPCPWJ, #YIAAHXDHOM, #XPGBGAUYYL, #BGTAWLWNPX, #LJLUVCTEUP, #RTJOINYMPD, #NJDUUOOJXL, #FNXKOAQQTI {box-sizing : border-box;}
