.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:364px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:364px;z-index:0;width:776px;top:7px;left:8px;}
#PIRPTHHLHK {top:14px;position:absolute;left:680px;height:25px;width:88px;z-index:1;}
#FGMOCXNBFY_DIV {top:21px;position:absolute;left:16px;height:14px;width:88px;text-align:left;z-index:1;}
#GXYMDOZGOQ_DIV {top:49px;position:absolute;left:16px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#GYRPUQOAOP_DIV {top:49px;position:absolute;left:352px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#BPLIWTTKIK_DIV {top:77px;position:absolute;left:352px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#DJAYDIHKCT_DIV {top:49px;position:absolute;left:520px;height:21px;width:128px;overflow:hidden;white-space:nowrap;z-index:1; }
#GQLSVVBZAE_DIV {top:77px;position:absolute;left:16px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#KAUCYBWKCY_DIV {top:49px;position:absolute;left:656px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#QYIGQMSMGL_DIV {top:77px;position:absolute;left:520px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#NXHTINJEZP_DIV {top:49px;position:absolute;left:184px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#WDDZKXXVRH_DIV {top:77px;position:absolute;left:184px;height:21px;width:112px;overflow:hidden;white-space:nowrap;z-index:1; }
#DYMVKIQWCA {top:280px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:105px;position:absolute;left:16px;height:169px;width:760px;height:169px;right:0px;z-index:1;overflow:auto;}
#ZNKSIEHSUY {top:14px;position:absolute;left:584px;height:25px;width:88px;z-index:1;}
BODY[ettl="yes"] #GXYMDOZGOQ_DIV, BODY[ettl="yes"] #GYRPUQOAOP_DIV, BODY[ettl="yes"] #WDDZKXXVRH_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #FGMOCXNBFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #GXYMDOZGOQ_DIV, #GYRPUQOAOP_DIV, #BPLIWTTKIK_DIV, #DJAYDIHKCT_DIV, #GQLSVVBZAE_DIV, #KAUCYBWKCY_DIV, #QYIGQMSMGL_DIV, #NXHTINJEZP_DIV, #WDDZKXXVRH_DIV {box-sizing : border-box;}
