.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
.TMQVCJOIVG_DIV { position:absolute;top:1px;left:5px;height:16px;width:80px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.NCBNLXUPJW_DIV { position:absolute;top:1px;left:5px;height:16px;width:83px;overflow:hidden;text-align:left;z-index:1;}
.VIKJFKDXAW_DIV { position:absolute;top:1px;left:187px;height:16px;width:160px;overflow:hidden;text-align:center;z-index:1;}
.YIZUNOKTNJ_DIV { position:absolute;top:1px;left:187px;height:16px;width:160px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.LTUMTYITPB_DIV { position:absolute;top:1px;left:791px;height:16px;width:104px;overflow:hidden;text-align:right;z-index:1;}
.GBJTZQVVJR_DIV { position:absolute;top:1px;left:791px;height:16px;width:104px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) .GBJTZQVVJR_DIV { position:absolute;top:1px;left:791px;height:16px;width:104px;}
BODY[ettl="old"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:791px;height:16px;width:104px;}
BODY[ettl="yes"] .GBJTZQVVJR_DIV { position:absolute;top:1px;left:791px;}
.UPLWYYLOLS_DIV { position:absolute;top:1px;left:354px;height:16px;width:56px;overflow:hidden;text-align:center;z-index:1;}
.KJNNJAUWPS_DIV { position:absolute;top:1px;left:354px;height:16px;width:56px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.PBTFEBIWWV_DIV { position:absolute;top:1px;left:899px;height:16px;width:16px;overflow:hidden;text-align:left;z-index:1;}
.FVPBCGVIDQ_DIV { position:absolute;top:1px;left:417px;height:16px;width:368px;overflow:hidden;text-align:left;z-index:1;}
#XLVFHSOSYH { height:63px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:63px;z-index:0;width:936px;top:0px;left:0px;}
#RROILCAWGO {top:18px;position:absolute;left:827px;height:30px;width:40px;z-index:1;}
#IIJDTQKPBX {top:18px;position:absolute;left:875px;height:30px;width:40px;z-index:1;}
#VAUCRMZHWP {top:36px;position:absolute;left:144px;height:20px;width:80px;text-align:right;z-index:1; }
#VAUCRMZHWP_ZOOM { position:absolute;top:36px;left:225px;height:20px;width:17px;z-index:1;}
#UVJLFCGXSJ_DIV {top:40px;position:absolute;left:16px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #UVJLFCGXSJ_DIV {top:40px;position:absolute;left:16px;height:16px;width:128px;}
BODY[ettl="old"] #UVJLFCGXSJ_DIV {top:40px;position:absolute;left:16px;height:16px;width:128px;}
BODY[ettl="yes"] #UVJLFCGXSJ_DIV {top:40px;position:absolute;left:16px;letter-spacing:-1px;}
#OXXBPYCOCK {top:36px;position:absolute;left:400px;height:20px;width:80px;text-align:right;z-index:1; }
#OXXBPYCOCK_ZOOM { position:absolute;top:36px;left:481px;height:20px;width:17px;z-index:1;}
#CTLCSHLQSX_DIV {top:40px;position:absolute;left:272px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #CTLCSHLQSX_DIV {top:40px;position:absolute;left:272px;height:16px;width:128px;}
BODY[ettl="old"] #CTLCSHLQSX_DIV {top:40px;position:absolute;left:272px;height:16px;width:128px;}
BODY[ettl="yes"] #CTLCSHLQSX_DIV {top:40px;position:absolute;left:272px;letter-spacing:-1px;}
#HTGZKUIBWA {top:7px;position:absolute;left:144px;height:20px;width:80px;text-align:right;z-index:1; }
#HTGZKUIBWA_ZOOM { position:absolute;top:7px;left:225px;height:20px;width:17px;z-index:1;}
#NPEYCYPTXA_DIV {top:11px;position:absolute;left:16px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #NPEYCYPTXA_DIV {top:11px;position:absolute;left:16px;height:16px;width:128px;}
BODY[ettl="old"] #NPEYCYPTXA_DIV {top:11px;position:absolute;left:16px;height:16px;width:128px;}
BODY[ettl="yes"] #NPEYCYPTXA_DIV {top:11px;position:absolute;left:16px;}
#RPNVEZKZBQ {top:7px;position:absolute;left:400px;height:20px;width:80px;text-align:right;z-index:1; }
#RPNVEZKZBQ_ZOOM { position:absolute;top:7px;left:481px;height:20px;width:17px;z-index:1;}
#MDVAOJTHSC_DIV {top:11px;position:absolute;left:272px;height:16px;width:128px;text-align:right;z-index:1;}
BODY:not([ettl]) #MDVAOJTHSC_DIV {top:11px;position:absolute;left:272px;height:16px;width:128px;}
BODY[ettl="old"] #MDVAOJTHSC_DIV {top:11px;position:absolute;left:272px;height:16px;width:128px;}
BODY[ettl="yes"] #MDVAOJTHSC_DIV {top:11px;position:absolute;left:272px;}
.UYBWPGUGVR_DIV { position:absolute;top:1px;left:93px;height:16px;width:88px;overflow:hidden;text-align:left;z-index:1;}
.CDMSMBRGHU_DIV { position:absolute;top:1px;left:93px;height:16px;width:88px;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
.TUBRHCCDNQ { position:absolute;top:1px;left:920px;z-index:1;clip:rect(0,16px,16px,0);}
#FGMOCXNBFY_DIV {top:35px;position:absolute;left:672px;height:14px;width:88px;text-align:left;z-index:1;}
.TMQVCJOIVG_DIV, .YIZUNOKTNJ_DIV, .GBJTZQVVJR_DIV, .KJNNJAUWPS_DIV, #XLVFHSOSYH, #UVJLFCGXSJ_DIV, #CTLCSHLQSX_DIV, #NPEYCYPTXA_DIV, #MDVAOJTHSC_DIV, .CDMSMBRGHU_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #VAUCRMZHWP, #OXXBPYCOCK, #HTGZKUIBWA, #RPNVEZKZBQ {box-sizing : border-box;}
