.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:546px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:546px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:14px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:35px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:35px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#WIRRRKLEWO_DIV {top:71px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:688px;height:14px;width:88px;text-align:left;z-index:1;}
#XWPYHZIJDE {top:70px;position:absolute;left:688px;height:31px;width:40px;z-index:1;}
#DYMVKIQWCA {top:462px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:308px;position:absolute;left:16px;height:147px;width:760px;height:147px;right:0px;z-index:1;overflow:auto;}
#MVXXCZOQGP {top:105px;position:absolute;left:16px;height:198px;width:760px;height:198px;right:0px;z-index:1;overflow:auto;}
#JSKZJOHJOM {top:70px;position:absolute;left:736px;height:31px;width:40px;z-index:1;}
#DMWAJLXSEC {top:70px;position:absolute;left:640px;height:31px;width:40px;z-index:1;}
#FKEESJLEWC_DIV {top:74px;position:absolute;left:17px;height:16px;width:71px;text-align:right;z-index:1;}
BODY:not([ettl]) #FKEESJLEWC_DIV {top:74px;position:absolute;left:17px;height:16px;width:71px;}
BODY[ettl="old"] #FKEESJLEWC_DIV {top:74px;position:absolute;left:17px;height:16px;width:71px;}
BODY[ettl="yes"] #FKEESJLEWC_DIV {top:74px;position:absolute;left:17px;letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #FGMOCXNBFY_DIV, #FKEESJLEWC_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #WIRRRKLEWO_DIV {box-sizing : border-box;}
