.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:479px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:479px;z-index:0;width:784px;top:7px;left:8px;}
#DPKVLWHCIG {top:23px;position:absolute;left:152px;height:20px;width:176px;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:23px;left:329px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:54px;position:absolute;left:152px;height:20px;width:176px;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:54px;left:329px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:9px;position:absolute;left:736px;height:32px;width:40px;z-index:1;}
#HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;height:16px;width:132px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:27px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:58px;position:absolute;left:64px;height:16px;width:84px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:58px;position:absolute;left:64px;height:16px;width:84px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:58px;position:absolute;left:64px;height:16px;width:84px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:58px;position:absolute;left:64px;}
#PTXYMSWBZO {top:45px;position:absolute;left:736px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:234px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:324px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#KQMKKBMXYE {top:81px;position:absolute;left:16px;height:153px;width:768px;height:153px;right:0px;z-index:1;overflow:auto;}
#GULBMTAYNR_DIV {top:53px;position:absolute;left:408px;height:21px;width:110px;overflow:hidden;white-space:nowrap;z-index:1; }
BODY[ettl="yes"] #GULBMTAYNR_DIV {letter-spacing:-1px;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #GULBMTAYNR_DIV {box-sizing : border-box;}
