.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:594px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:594px;z-index:0;width:784px;top:-90px;left:8px;}
#DPKVLWHCIG {top:18px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#DPKVLWHCIG_ZOOM { position:absolute;top:18px;left:217px;height:20px;width:17px;z-index:1;}
#MTJDZQTEIR {top:45px;position:absolute;left:144px;height:20px;width:72px;text-align:right;z-index:1; }
#MTJDZQTEIR_ZOOM { position:absolute;top:45px;left:217px;height:20px;width:17px;z-index:1;}
#XURLGQZZMU {top:135px;position:absolute;left:404px;z-index:1;clip:rect(0,40px,33px,0);}
#PTXYMSWBZO {top:135px;position:absolute;left:355px;z-index:1;clip:rect(0,40px,33px,0);}
#HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #HPGJXQIVYG_DIV {top:22px;position:absolute;left:16px;}
#BGHAITOPMU_DIV {top:49px;position:absolute;left:16px;height:16px;width:124px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #BGHAITOPMU_DIV {top:49px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="old"] #BGHAITOPMU_DIV {top:49px;position:absolute;left:16px;height:16px;width:124px;}
BODY[ettl="yes"] #BGHAITOPMU_DIV {top:49px;position:absolute;left:16px;}
#UYVYTEMEXX {top:72px;position:absolute;left:144px;height:20px;width:112px;z-index:1; }
#UYVYTEMEXX_ZOOM { position:absolute;top:72px;left:257px;height:20px;width:17px;z-index:1;}
#CJWUHWULAR {top:100px;position:absolute;left:144px;height:20px;width:112px;z-index:1; }
#CJWUHWULAR_ZOOM { position:absolute;top:100px;left:257px;height:20px;width:17px;z-index:1;}
#PCILMATBXL_DIV {top:76px;position:absolute;left:80px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#VXJAZUGUIO_DIV {top:76px;position:absolute;left:280px;height:16px;width:504px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#JGQCNSZOCQ_DIV {top:104px;position:absolute;left:80px;height:16px;width:61px;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#XCBBNKIAUV_DIV {top:104px;position:absolute;left:280px;height:16px;width:504px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#TRYUFLJTGP {top:18px;position:absolute;left:560px;height:20px;width:72px;text-align:right;z-index:1; }
#TRYUFLJTGP_ZOOM { position:absolute;top:18px;left:633px;height:20px;width:17px;z-index:1;}
#MZRYSMFIDB {top:45px;position:absolute;left:560px;height:20px;width:72px;text-align:right;z-index:1; }
#MZRYSMFIDB_ZOOM { position:absolute;top:45px;left:633px;height:20px;width:17px;z-index:1;}
#GPUCWFFSHU_DIV {top:22px;position:absolute;left:415px;height:16px;width:141px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #GPUCWFFSHU_DIV {top:22px;position:absolute;left:415px;height:16px;width:141px;}
BODY[ettl="old"] #GPUCWFFSHU_DIV {top:22px;position:absolute;left:415px;height:16px;width:141px;}
BODY[ettl="yes"] #GPUCWFFSHU_DIV {top:22px;position:absolute;left:415px;}
#LXZLJIKQAP_DIV {top:49px;position:absolute;left:422px;height:16px;width:134px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #LXZLJIKQAP_DIV {top:49px;position:absolute;left:422px;height:16px;width:134px;}
BODY[ettl="old"] #LXZLJIKQAP_DIV {top:49px;position:absolute;left:422px;height:16px;width:134px;}
BODY[ettl="yes"] #LXZLJIKQAP_DIV {top:49px;position:absolute;left:422px;}
#DYMVKIQWCA {top:171px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:261px;position:absolute;left:16px;height:234px;width:768px;text-align:left;z-index:1;}
#XLVFHSOSYH, #HPGJXQIVYG_DIV, #BGHAITOPMU_DIV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #JGQCNSZOCQ_DIV, #XCBBNKIAUV_DIV, #GPUCWFFSHU_DIV, #LXZLJIKQAP_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#XLVFHSOSYH, #DPKVLWHCIG, #MTJDZQTEIR, #UYVYTEMEXX, #CJWUHWULAR, #TRYUFLJTGP, #MZRYSMFIDB {box-sizing : border-box;}
