.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#XLVFHSOSYH { height:297px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#XLVFHSOSYH_DIV { position:absolute;height:297px;z-index:0;width:800px;top:0px;left:0px;}
#RROILCAWGO {top:9px;position:absolute;left:704px;height:30px;width:40px;z-index:1;}
#IIJDTQKPBX {top:9px;position:absolute;left:752px;height:30px;width:40px;z-index:1;}
#FGMOCXNBFY_DIV {top:9px;position:absolute;left:8px;height:14px;width:160px;text-align:left;z-index:1;}
#DYMVKIQWCA {top:207px;position:absolute;left:8px;height:84px;width:784px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:54px;position:absolute;left:8px;height:147px;width:784px;height:147px;right:0px;z-index:1;overflow:auto;}
#XLVFHSOSYH, #FGMOCXNBFY_DIV {overflow:hidden;}
#XLVFHSOSYH {box-sizing : border-box;}
