.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:504px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:504px;z-index:0;width:1056px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:47px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:75px;position:absolute;left:16px;height:20px;width:560px;z-index:1; }
#DZUBEERBGN {top:70px;position:absolute;left:584px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:70px;position:absolute;left:680px;height:25px;width:88px;z-index:1;}
#GRXBVEVRYT_DIV {top:10px;position:absolute;left:393px;height:55px;width:280px;color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#FGMOCXNBFY_DIV {top:14px;position:absolute;left:24px;height:14px;width:88px;text-align:left;z-index:1;}
#SSRCOAMDBL_DIV {top:399px;position:absolute;left:16px;height:105px;width:1040px;text-align:left;z-index:1;}
#CPCHYZSFNR_DIV {top:133px;position:absolute;left:16px;height:259px;width:1040px;text-align:left;z-index:1;}
#QXEOOMINAE {top:105px;position:absolute;left:16px;height:20px;width:560px;z-index:1; }
#DBBWHOTEZX {top:100px;position:absolute;left:584px;height:25px;width:88px;z-index:1;}
#YHTYMPIBFU {top:100px;position:absolute;left:680px;height:25px;width:88px;z-index:1;}
#LQEMYULNFO {top:84px;position:absolute;left:776px;height:25px;width:114px;z-index:1;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #GRXBVEVRYT_DIV, #FGMOCXNBFY_DIV, #SSRCOAMDBL_DIV, #CPCHYZSFNR_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #QXEOOMINAE {box-sizing : border-box;}
