.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:427px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:427px;z-index:0;width:776px;top:7px;left:8px;}
#GRNCOSXGXB_DIV {top:56px;position:absolute;left:16px;height:16px;width:226px;color:#FF0000;text-align:left;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ZFBIYQMSFL {top:77px;position:absolute;left:16px;height:20px;width:664px;z-index:1; }
#DZUBEERBGN {top:77px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#PIRPTHHLHK {top:105px;position:absolute;left:688px;height:25px;width:88px;z-index:1;}
#WIRRRKLEWO_DIV {top:105px;position:absolute;left:88px;height:19px;width:161px;z-index:1; }
#WIRRRKLEWO { vertical-align:middle; }
#NJQSNRJAXM_DIV {top:108px;position:absolute;left:16px;height:16px;width:65px;text-align:right;z-index:1;}
BODY:not([ettl]) #NJQSNRJAXM_DIV {top:108px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="old"] #NJQSNRJAXM_DIV {top:108px;position:absolute;left:16px;height:16px;width:65px;}
BODY[ettl="yes"] #NJQSNRJAXM_DIV {top:108px;position:absolute;left:16px;letter-spacing:-1px;}
#FGMOCXNBFY_DIV {top:56px;position:absolute;left:216px;height:14px;width:88px;text-align:left;z-index:1;}
#VMTTIZJBAT_DIV {top:105px;position:absolute;left:432px;height:21px;width:248px;overflow:hidden;white-space:nowrap;z-index:1; }
#GLVNWDWQMP_DIV {top:14px;position:absolute;left:16px;height:31px;width:760px;text-align:center;font-family:Tahoma;font-size:9pt;font-weight:bold;z-index:1;}
#AZPRKDFFDL_DIV {top:137px;position:absolute;left:35px;height:16px;width:46px;text-align:right;z-index:1;}
BODY:not([ettl]) #AZPRKDFFDL_DIV {top:137px;position:absolute;left:35px;height:16px;width:46px;}
BODY[ettl="old"] #AZPRKDFFDL_DIV {top:137px;position:absolute;left:35px;height:16px;width:46px;}
BODY[ettl="yes"] #AZPRKDFFDL_DIV {top:137px;position:absolute;left:35px;letter-spacing:-1px;}
#YCIQABGKVQ {top:133px;position:absolute;left:88px;height:20px;width:280px;z-index:1; }
#YCIQABGKVQ { vertical-align:middle; }
#DYMVKIQWCA {top:343px;position:absolute;left:16px;height:84px;width:760px;height:84px;right:0px;z-index:1;overflow:auto;}
#KQMKKBMXYE {top:168px;position:absolute;left:16px;height:169px;width:760px;height:169px;right:0px;z-index:1;overflow:auto;}
#QNMKJLGOKW {top:133px;position:absolute;left:432px;height:20px;width:240px;z-index:1; }
#QNMKJLGOKW { vertical-align:middle; }
BODY[ettl="yes"] #VMTTIZJBAT_DIV {letter-spacing:-1px;}
#YWGFSYCMOZ, #GRNCOSXGXB_DIV, #NJQSNRJAXM_DIV, #FGMOCXNBFY_DIV, #GLVNWDWQMP_DIV, #AZPRKDFFDL_DIV {overflow:hidden;}
#YWGFSYCMOZ, #ZFBIYQMSFL, #WIRRRKLEWO_DIV, #VMTTIZJBAT_DIV, #YCIQABGKVQ, #QNMKJLGOKW {box-sizing : border-box;}
