.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#ZJAUKKPAZV { height:434px;background-color:#C0C0C0;border-width:1px;border-color:#408040;border-style:solid;z-index:0;}
#ZJAUKKPAZV_DIV { position:absolute;height:434px;z-index:0;width:784px;top:7px;left:8px;}
#UYVYTEMEXX {top:14px;position:absolute;left:80px;height:20px;width:110px;z-index:1; }
#PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="old"] #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;height:16px;width:69px;}
BODY[ettl="yes"] #PCILMATBXL_DIV {top:18px;position:absolute;left:8px;}
#VXJAZUGUIO_DIV {top:18px;position:absolute;left:216px;height:16px;width:472px;color:#0000A0;text-align:left;font-family:Tahoma;font-size:8pt;font-style:italic;z-index:1;}
#PTXYMSWBZO {top:14px;position:absolute;left:744px;height:32px;width:40px;z-index:1;}
#DYMVKIQWCA {top:105px;position:absolute;left:16px;height:84px;width:768px;height:84px;right:0px;z-index:1;overflow:auto;}
#TYIWXFLLFY_DIV {top:195px;position:absolute;left:16px;height:234px;width:768px;text-align:left;z-index:1;}
#ZBQNAVKAVR {top:49px;position:absolute;left:16px;height:25px;width:144px;z-index:1;}
#ZJAUKKPAZV, #PCILMATBXL_DIV, #VXJAZUGUIO_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#ZJAUKKPAZV, #UYVYTEMEXX {box-sizing : border-box;}
