.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#SGWBXGCVUI {top:7px;position:absolute;left:96px;height:20px;width:56px;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1; }
#VVREMQXBDU_DIV {top:11px;position:absolute;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #VVREMQXBDU_DIV {left:51px;height:16px;width:44px;}
BODY[ettl='old'] #VVREMQXBDU_DIV {left:51px;height:16px;width:44px;}
BODY[ettl='yes'] #VVREMQXBDU_DIV {right:calc(100% - 95px);}
#XBRPBVBUVX {top:35px;position:absolute;left:96px;height:20px;width:56px;z-index:1; }
#XBRPBVBUVX_ZOOM { position:absolute;top:35px;left:153px;height:20px;width:17px;z-index:1;}
#JMMFHTXXEC_DIV {top:39px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #JMMFHTXXEC_DIV {left:26px;height:16px;width:69px;}
BODY[ettl='old'] #JMMFHTXXEC_DIV {left:26px;height:16px;width:69px;}
BODY[ettl='yes'] #JMMFHTXXEC_DIV {right:calc(100% - 95px);}
#WEFPSBXRML {top:63px;position:absolute;left:96px;height:20px;width:312px;z-index:1; }
#LIFMFTSJTV_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #LIFMFTSJTV_DIV {left:17px;height:16px;width:78px;}
BODY[ettl='old'] #LIFMFTSJTV_DIV {left:17px;height:16px;width:78px;}
BODY[ettl='yes'] #LIFMFTSJTV_DIV {right:calc(100% - 95px);letter-spacing:-1px;}
#UEAGDUQRMM {top:63px;position:absolute;left:520px;height:20px;width:30px;text-align:right;z-index:1; }
#RTGLYHCSWM_DIV {top:67px;position:absolute;text-align:right;z-index:1;}
BODY:not([ettl]) #RTGLYHCSWM_DIV {left:431px;height:16px;width:88px;}
BODY[ettl='old'] #RTGLYHCSWM_DIV {left:431px;height:16px;width:88px;}
BODY[ettl='yes'] #RTGLYHCSWM_DIV {right:calc(100% - 519px);letter-spacing:-1px;}
#TVLAIKDPUU_DIV {top:39px;position:absolute;left:176px;height:16px;width:472px;text-align:left;z-index:1;}
#VVREMQXBDU_DIV, #JMMFHTXXEC_DIV, #LIFMFTSJTV_DIV, #RTGLYHCSWM_DIV, #TVLAIKDPUU_DIV {overflow:hidden;}
#SGWBXGCVUI, #XBRPBVBUVX, #WEFPSBXRML, #UEAGDUQRMM {box-sizing : border-box;}
