.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#TTRVXROIVP { height:238px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#TTRVXROIVP_DIV { position:absolute;height:238px;z-index:0;width:784px;top:7px;left:8px;}
#DMMJSVFBEV_DIV {top:8px;position:absolute;left:9px;height:16px;width:782px;color:#FFFFFF;background-color:#0000FF;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#ALQVOOWZEV {top:28px;position:absolute;left:648px;height:56px;width:136px;z-index:1;}
#PDFSWXZOJQ {top:35px;position:absolute;left:16px;height:20px;width:612px;z-index:1; }
#PDFSWXZOJQ { vertical-align:middle; }
#TYIWXFLLFY_DIV {top:91px;position:absolute;left:16px;height:153px;width:768px;text-align:left;z-index:1;}
#TTRVXROIVP, #DMMJSVFBEV_DIV, #TYIWXFLLFY_DIV {overflow:hidden;}
#TTRVXROIVP, #PDFSWXZOJQ {box-sizing : border-box;}
