.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#YWGFSYCMOZ { height:287px;background-color:#C0C0C0;border-width:1px;border-color:#FF8000;border-style:solid;z-index:0;}
#YWGFSYCMOZ_DIV { position:absolute;height:287px;z-index:0;width:688px;top:7px;left:8px;}
#KGQWVLVEXN { height:42px;background-color:#0000FF;border-width:1px;border-color:#FFFF00;border-style:solid;z-index:0;}
#KGQWVLVEXN_DIV { position:absolute;height:42px;z-index:0;width:672px;top:73px;left:16px;}
#WPSZLYLAFX_DIV {top:80px;position:absolute;left:24px;height:29px;width:656px;color:#FFFF00;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#GRNCOSXGXB_DIV {top:23px;position:absolute;left:16px;height:16px;width:216px;color:#FF0000;text-align:right;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
BODY:not([ettl]) #GRNCOSXGXB_DIV {top:23px;position:absolute;left:16px;height:16px;width:216px;}
BODY[ettl="old"] #GRNCOSXGXB_DIV {top:23px;position:absolute;left:16px;height:16px;width:216px;}
BODY[ettl="yes"] #GRNCOSXGXB_DIV {top:23px;position:absolute;left:16px;}
#ZFBIYQMSFL {top:19px;position:absolute;left:240px;height:20px;width:320px;z-index:1; }
#ZFBIYQMSFL { vertical-align:middle; }
#WIRRRKLEWO_DIV {top:47px;position:absolute;left:240px;height:21px;width:320px;overflow:hidden;white-space:nowrap;z-index:1; }
#SUFGYUGNJB {top:119px;position:absolute;left:16px;height:168px;width:672px;overflow:auto;z-index:1; }
#FGMOCXNBFY_DIV {top:49px;position:absolute;left:24px;height:14px;width:88px;text-align:left;z-index:1;}
#LQBOHZTKJM {top:14px;position:absolute;left:592px;height:31px;width:40px;z-index:1;}
#KMEUIXTYQL {top:14px;position:absolute;left:640px;height:31px;width:40px;z-index:1;}
#YWGFSYCMOZ, #KGQWVLVEXN, #WPSZLYLAFX_DIV, #GRNCOSXGXB_DIV, #FGMOCXNBFY_DIV {overflow:hidden;}
#YWGFSYCMOZ, #KGQWVLVEXN, #ZFBIYQMSFL, #WIRRRKLEWO_DIV, #SUFGYUGNJB {box-sizing : border-box;}
