.FormDefault {margin:0;position:relative;font-family:Tahoma;font-size:8pt;}
INPUT {font-family:Tahoma;font-size:8pt;}
SELECT {font-family:Tahoma;font-size:8pt;}
TEXTAREA {font-family:Tahoma;font-size:8pt;}
IMG {border:0;}
#WQANLFSHKI { height:154px;background-color:#C0C0C0;border-width:1px;border-color:#0000FF;border-style:solid;z-index:0;}
#WQANLFSHKI_DIV { position:absolute;height:154px;z-index:0;width:264px;top:175px;left:272px;}
#CUWOXETBPM_DIV {top:193px;position:absolute;left:304px;height:16px;width:89px;text-align:right;z-index:1;}
BODY:not([ettl]) #CUWOXETBPM_DIV {top:193px;position:absolute;left:304px;height:16px;width:89px;}
BODY[ettl="old"] #CUWOXETBPM_DIV {top:193px;position:absolute;left:304px;height:16px;width:89px;}
BODY[ettl="yes"] #CUWOXETBPM_DIV {top:193px;position:absolute;left:304px;letter-spacing:-1px;}
#PLTJZXBPAO {top:189px;position:absolute;left:392px;height:20px;width:132px;z-index:1; }
#BRFGVBEDHZ_DIV {top:228px;position:absolute;left:304px;height:16px;width:84px;text-align:right;z-index:1;}
BODY:not([ettl]) #BRFGVBEDHZ_DIV {top:228px;position:absolute;left:304px;height:16px;width:84px;}
BODY[ettl="old"] #BRFGVBEDHZ_DIV {top:228px;position:absolute;left:304px;height:16px;width:84px;}
BODY[ettl="yes"] #BRFGVBEDHZ_DIV {top:228px;position:absolute;left:304px;letter-spacing:-1px;}
#CHNTMOVIWW {top:224px;position:absolute;left:392px;height:20px;width:132px;z-index:1; }
#RRTPUKVMPF {top:245px;position:absolute;left:392px;height:20px;width:132px;z-index:1; }
#GHHAOKCTMG_DIV {top:249px;position:absolute;left:288px;height:16px;width:100px;text-align:right;z-index:1;}
BODY:not([ettl]) #GHHAOKCTMG_DIV {top:249px;position:absolute;left:288px;height:16px;width:100px;}
BODY[ettl="old"] #GHHAOKCTMG_DIV {top:249px;position:absolute;left:288px;height:16px;width:100px;}
BODY[ettl="yes"] #GHHAOKCTMG_DIV {top:249px;position:absolute;left:288px;letter-spacing:-1px;}
#WBBXZNSMTG {top:287px;position:absolute;left:416px;height:28px;width:32px;z-index:1;}
#OMQMTTPVQV {top:287px;position:absolute;left:376px;height:28px;width:32px;z-index:1;}
#KEBEXQKGJH_DIV {top:147px;position:absolute;left:8px;height:16px;width:784px;color:#FF0000;text-align:center;font-family:Tahoma;font-size:8pt;font-weight:bold;z-index:1;}
#WQANLFSHKI, #CUWOXETBPM_DIV, #BRFGVBEDHZ_DIV, #GHHAOKCTMG_DIV, #KEBEXQKGJH_DIV {overflow:hidden;}
#WQANLFSHKI, #PLTJZXBPAO, #CHNTMOVIWW, #RRTPUKVMPF {box-sizing : border-box;}
